[2018-08-31 09:17] #527 closed

[2018-08-31 17:17] syncle commented on #527
Yes. I reorganized. CMakeList.txt addresses general compilation configurations and src/CMakeList.txt addresses configurations for open3d library.

The fix is great. Thanks!

[2018-09-02 17:10] rnunziata commented on #492
Here is a vid of the depth comparisons.....note the main issue is the cropping at the boarder.

https://www.dropbox.com/s/r203rifon2h2rmr/out.ogv?dl=0

[2018-09-02 23:53] d-diaz commented on #376
@adioshun, I've found the plotly library to offer simple and attractive interactive 3d visualizations within Jupyter Notebooks for point clouds, meshes, etc. Here are some [examples] (https://plot.ly/python/line-and-scatter/) from the plotly docs. Scroll to the bottom to see the use of plotly's scattergl to handle a 3d scatterplot with LOTS of points.

[2018-09-03 18:32] rafael2k opened #533 "How to merge point cloud in C++"
Hi,
Is there any method to merge two point clouds, instead of copying all the points by hand (in C++)?

Also, just in case, which are the camera intrinsics of Kinect v1?
; )

I'm really enjoying Open3D!

[2018-09-04 01:22] tejaskhot opened #534 "Instructions for installing without sudo"
Can we please have instructions for installing Open3D without `sudo` permissions, likely on a remote server where visualization is not needed either. #264 is related but would prefer some clearer and comprehensive steps listed in the README.

[2018-09-04 02:55] ndhung opened #535 "Python API Document"
Do you have document for Python API ?
Thank you.

[2018-09-04 12:04] takanokage commented on #534
Please look at:
- [generate.sh](https://github.com/IntelVCL/Open3D/blob/master/util/scripts/generate.sh)
- [build.sh](https://github.com/IntelVCL/Open3D/blob/master/util/scripts/build.sh)
- [install.sh](https://github.com/IntelVCL/Open3D/blob/master/util/scripts/inst install

Open3D is installed without sudo to ~/open3d_install.

[2018-09-04 12:08] takanokage commented on #535
http://open3d.org/docs/ has an extensive section about python - does that help?

[2018-09-04 16:12] tejaskhot commented on #534
How to handle all the dependencies though? Following is the output of running `build.sh` on a fresh machine (note: don't have `sudo` access):
[code]

[2018-09-04 16:15] takanokage commented on #534
Here's two guidelines that may help:
- [Headless rendering](http://open3d.org/docs/tutorial/Advanced/headless_rendering.html?highlight=headless)
- [Docker](http://open3d.org/docs/tutorial/docker/docker.html)

I'm not sure which is more applicable to your specific needs.

[2018-09-04 16:17] takanokage commented on #534
Oh, and forgot to mention, we have scripts for installing the dependencies in [scripts](https://github.com/IntelVCL/Open3D/tree/master/util/scripts).
Hopefully they don't need updating for your specific circumstances.

[2018-09-04 16:36] tejaskhot commented on #534
Thanks for the pointers @takanokage.
The dependency installation scripts seem to require `sudo` access.

I am running into an issue trying to compile `osmesa` per the [instruction page](http://open3d.org/docs/tutorial/Advanced/headless_rendering.html?highlight=headless):
[code]

[2018-09-04 19:51] martinakos opened #536 "Something odd with UniformTSDFVolume"
I'm doing object modelling using a TSDF to fuse point clouds of the object. I have a solution working using a library that evolved from pcl kinfu, but I wanted to try Open3D because it may be useful to have a pure CPU TSDF implementation.

In my test, I set up things to integrate the point clouds using UniformTSDFVolume and ScalableTSDFVolume side by side. I transform the point clouds before integ

[2018-09-04 20:00] takanokage commented on #534
There's the option to build everything from source, that should take you around sudo for addressing the dependencies.

In order to do that you need to add the following options to `cmake` when generating the project:

Regarding the error you're seeing, it would seem that the `osmesa` requires `glproto` installed and `cmake` can't find it. One suggestion seems to be included in the error message: s

[2018-09-04 20:00] takanokage commented on #534
I was about to suggest Docker but even that requires you to install Docker with sudo.

[2018-09-05 13:33] nicolas-chaulet opened #537 "Visualise point clouds in Jupyter notebooks"
I am currently using the python bindings of open3d within Jupyter notebooks and it's been great so far. The `draw_geometries` function does not do anything at the moment when executed inside a notebook, is there a way to create a visualization window within the notebook? It sounds like a big ask, but maybe there is a simple solution?

[2018-09-05 19:02] rafael2k opened #538 "inlier_rmse_ and fitness_ should always return 0.0 in fast registration?"
Hi,
Should the fast registration result always come with zeroed values of inlier_rmse_ and fitness_?

[2018-09-06 00:04] theNded opened #540 "Fail to reproduce results on Augmented ICL-NUIM"
**Describe the problem**
The provided reconstruction system fail to reproduce the [results](http://redwood-data.org/indoor/models.html) for [Augmented ICL-NUIM](http://redwood-data.org/indoor/dataset.html).
Reconstruction with clean input depth images generates model with high quality. However, when we switch to depth with simulated noise, misaligned models are generated. I assume the [models in g

[2018-09-06 06:37] syncle commented on #533
Hi Try using "+" operator. It works on C++ API as well.

For example, please refer the following example:
https://github.com/IntelVCL/Open3D/blob/16cb1fec715227db9cc259bd75961146a224b6d1/examples/Cpp/PointCloud.cpp#L175-L177

[2018-09-06 06:42] syncle commented on #538
It is not because points are not exactly matching. If there is no correspondences, RMSE could be 0 as an output.

[2018-09-06 07:07] syncle commented on #537
This is Related to #376. To my knowledge, one plausible solution is benchmarking https://github.com/daavoo/pyntcloud that uses java + html. We are also welcome if you have any suggestion or willingness to contribute for this. :)

[2018-09-06 07:20] syncle commented on #540
Hi @theNded. Thanks for the through tests. Open3D is implemented from scratch, so there might be discrepancy with [redwood reconstruction system](http://redwood-data.org/indoor/pipeline.html).

I would like to recommend the followings:
- Please try using ReconstructionSystem/visualize_fragments.py to verify all the fragments are reconstructed reasonably.
- If the fragments are good, the root-cause

[2018-09-06 07:33] syncle commented on #536
Hi @martinakos, thanks for using Open3D.

It is actually not. a single TSDF volume would span a cubic with two endpoints - (0,0,0) and (size,size,size). Here are some differences between ``ScalableTSDFVolume`` and ``UniformTSDFVolume``.
- ``ScalableTSDFVolume`` automatically use multiple cubics, so you are looking the complete scene.
- ``UniformTSDFVolume`` just integrate depth images to single cu

[2018-09-06 08:26] nicolas-chaulet commented on #537
Hi @syncle thanks for your reply! I missed that issue sorry about that, I'll close the issue. I found another library though that seems quite good and pretty active: [](https://github.com/maartenbreddels/ipyvolume).

[2018-09-06 08:27] #537 closed

[2018-09-06 09:39] martinakos commented on #536
Thanks for the reply. I can see now that the TSDF is not centred at (0,0,0). I've exposed the parameter origin for the UniformTSDFVolume constructor to the python binding, and I was able to get it to work as I wanted by using an origin of (-length/2, -length/2, -length/2).

[2018-09-06 10:23] martinakos opened #541 "Rendering problem?"
I've been testing UniformTSDFVolume to fuse point clouds of an object I want to model. After integrating  point clouds for a while I can display the tsdf surface point cloud with this code:

[code]

and I get this rendering:
![image](https://user-images.githubusercontent.com/2371869/45150101-fe1ec000-b1c2-11e8-8bac-ab684c90c230.png)
which looks fine.

However, I want to show the tsdf point cloud a

[2018-09-06 11:15] tpet opened #542 "Multiple packages on pypi"
There are multiple seemingly same packages on pypi, namely
https://pypi.org/project/open-3d/
https://pypi.org/project/open3d-official/
https://pypi.org/project/open3d-original/
https://pypi.org/project/open3d-python/
https://pypi.org/project/py3d/
Can somebody, please, clarify what is the reason for this and what are the differences?
It seems to me that a small cleanup might help.

[2018-09-06 15:14] theNded commented on #540
Hi @syncle , thanks for your detailed explanation and instructions. I will give feedback ASAP.

[2018-09-06 15:41] takanokage commented on #542
We'd be happy to settle for just one: `open3d`.
As you mentioned, there's multiple advantages to a single package and we acknowledge that.
However we've had one guy effectively hijack the open3d project and claiming it as his work including all the source code and the pypi name. You will notice issue [#4243](https://github.com/pypa/warehouse/issues/4243). In fact this has been going on for ~4-5 mo

[2018-09-07 07:46] qianyizh commented on #492
Yeah, this looks wrong. I think some parameter is set wrong. Hence the strong artifacts. Can you post a minimal code snippet and an example file so I can look into it?

[2018-09-07 07:47] qianyizh commented on #535
Closing since there is already an answer. Feel free to reopen it.

[2018-09-07 07:47] #535 closed

[2018-09-07 07:53] qianyizh commented on #534
@tejaskhot yeah. The dependencies come with the glfw part. If you don't need visualization, you can do the following.

1. As @takanokage suggested, turn ``-DBUILD_XXXX`` to ``ON``
2. Remove anything related to visualization in
https://github.com/IntelVCL/Open3D/blob/master/src/CMakeLists.txt
3. Remove visualization from python bindings, basically edit this file
https://github.com/IntelVCL/Open3D/b

[2018-09-07 08:30] qianyizh commented on #533
Close as there is already an answer. Feel free to reopen it if the answer is not clear.

[2018-09-07 08:30] #533 closed

[2018-09-07 08:31] qianyizh commented on #538
Close as there is an answer. Feel free to reopen it.

[2018-09-07 08:31] #538 closed

[2018-09-07 08:48] qianyizh commented on #541
I think the problem is with ``vis.add_geometry(pcd)``. This function does what it literally means: adds a geometry to the visualizer. So in your loop, you keep adding partially created point clouds into the visualizer, and ends up with hundreds of point cloud rendered together. Hence you observe the noise.

What you should do is to call ``vis.add_geometry(pcd)`` once before the loop. Then in the l

[2018-09-07 08:51] qianyizh commented on #542
Yeah, there are some historical issues. We are aware of this and in the process of fixing it. But it takes time because there are 3rd parties involved...

[2018-09-07 08:57] qianyizh commented on #540
Yes, this is a known issue and **should** be fixed by robust pose graph optimization. If you are interested you can read this page, its main purpose is to solve these erroneous registration results: http://redwood-data.org/indoor/data/choi2015cvpr.pdf

The corresponding script is:
http://www.open3d.org/docs/tutorial/ReconstructionSystem/register_fragments.html#multiway-registration
It is **suppose

[2018-09-07 09:32] tpet commented on #542
Thanks for having clarified this! Good luck in claiming the `open3d` package name. It's an awesome library, I was looking for something like this for quite a long time!

[2018-09-07 09:57] martinakos commented on #541
Ok, thanks! that was it.
I solved it by calling vis.add_geometry(pcd) once only and then just updating the pcd.points, pcd.normals, and pcd.colors with the newly extracted point clouds and calling  vis.update_geometry().

[2018-09-07 15:55] qianyizh commented on #541
Close this issue since there is a solution. Feel free to reopen it.

[2018-09-07 15:55] #541 closed

[2018-09-07 15:55] qianyizh commented on #536
Close this issue since there seems to be a solution. Feel free to reopen it.

[2018-09-07 15:55] #536 closed

[2018-09-07 19:38] rnunziata commented on #492
The code I used is given in my prior post.  I downloaded both the normal depth and noisy depth and displayed  them side by side which is what the code does.....A link to a vid showing the comparison is given in my most recent post.   I used LivingRoom1 for the test....

`http://redwood-data.org/indoor/dataset.html`

[2018-09-10 04:06] qianyizh commented on #520
Closing since there is already an answer. Feel free to reopen.

[2018-09-10 04:06] #520 closed

[2018-09-10 04:09] qianyizh commented on #518
@yxlao I think you are working on similar issues. Can you give some comments on this?

[2018-09-10 04:10] qianyizh commented on #542
Closing since we are actively working on it. Feel free to reopen.

[2018-09-10 04:10] #542 closed

[2018-09-10 04:11] qianyizh commented on #526
Closing since lack of activity. Feel free to reopen.

[2018-09-10 04:11] #526 closed

[2018-09-10 04:17] bing-jian commented on #520
Qianyi, Thanks.  Forgot to mention that I made a modified cython extension
based on
https://github.com/scikit-image/scikit-image/blob/master/skimage/measure/_marching_cubes_lewiner_cy.pyx#L432
so that it also takes the weights volume and checks weights as in
https://github.com/IntelVCL/Open3D/blob/e5c93dd49fea87ff1ab0364d1d3ffd
8144c6ed77/src/Core/Integration/UniformTSDFVolume.cpp#L166-L169
So far

[2018-09-10 14:10] LossOfHumanIdentity opened #543 "Remove previously added geometry from the Visualizer"
Hello,

How do you remove a previously added geometry from Open3D `Visualizer`?

I've searched the documentation but am not able to find any utility that would accomplish the task.

I am trying to create a **dynamic PLY Visualizer** in a Python environment: let's say I have 2 different PLY point clouds and want to visualize each one of them, for a specified interval of time, one after the other in

[2018-09-10 15:04] lelouedec opened #544 "Image and depth to RGBD, Image has unrecognized bytes_per_channel."
Hey,
I am trying to open an image and its depth to a rgbd image using Open3D, but I face the error
[code]
I tried to open it using the read function of Open3D or opening it in a numpy array before giving it to open3D but the same error pops up. What I do is the following :

[code]
I can open and see the images using matplotlib before transforming them in the open3D and after.

Any idea ?

Ubuntu 1

[2018-09-10 16:43] pavan4 commented on #536
Hello, I am facing a similar issue.

I have constructed a mesh using `ScalableTSDFVolume` and calling  below to create the mesh which works well

    mesh = volume.extract_triangle_mesh()
    mesh.compute_vertex_normals()

Now I would like to crop the object of interest programmatically using a `2d mask` of the object with a given `intrinsics` and `cam_pose`. Is there any way to go from the `2d ma

[2018-09-10 20:08] tejaskhot commented on #534
@qianyizh I removed all the visualization related lines from those files as you mentioned. I just cloned again and trying to build now and get the following error:
[code]
If I run without the `../src` at the end, then I get:
[code]
In fact, this error persists even with:
[code]

Can you please assist?

[2018-09-10 22:36] takanokage commented on #534
I've seen this error before. In my case it helped cleaning up the build.

[code]

Note: it won't work without cd, aka like this: `Open3D/util/scripts/clean.sh`.

[2018-09-11 00:06] yxlao commented on #518
@Jason420Git  Could you try changing this from
[code]
to
[code]
On windows, `libOpen3D` should already have the static libs such as `glfw(3)` built-in. So there's no need to link your `exampleProject` with `glfw(3)`.

[2018-09-11 00:35] yxlao commented on #518
Regarding your first comment: "a level too deep", I could confirm this issue. This happened when we previously moved the `3rdparty` directory out to the root level. The installed libraries are still in the correct location, however, the `${Open3D_INCLUDE_DIRS}` is not properly set. I'll working on a fix for this now.

[2018-09-11 01:17] tejaskhot commented on #534
I made some progress with this, but the `build.sh` script throws up an error at 98%.
Here is the full log output:
https://pastebin.com/eqWbBpvt

I have tried to remove all references to Visualization, turned off building of examples and changed the `cmake` command in `build.sh` to `cmake -DCMAKE_INSTALL_PREFIX=~/open3d_install -DOpen3D_USE_NATIVE_DEPENDENCY_BUILD=OFF ..`

[2018-09-11 15:10] saedrna opened #549 "How to create the tanks render image in the open3d homepage?"
I have noticed that in the tanks and templates benchmark, this kind of rendering image is created by Mitsuba renderer. However, I have failed to import point clouds into mitsuba. Is there some tricks for this?
In addition, if it is possible to share the xml scene file for the mitsuba?

Thanks,

Han

[2018-09-11 19:55] yxlao commented on #518
Please refer to https://github.com/IntelVCL/Open3D/pull/548 for related cmake install fixes

[2018-09-11 20:26] tejaskhot commented on #534
I have already commented out those lines you mentioned. The output pasted was after having removed those references.

[2018-09-11 20:49] takanokage commented on #534
It would seem this is related to the Visualization component of the Python module.

[Python/CMakeLists.txt](https://github.com/IntelVCL/Open3D/blob/master/src/Python/CMakeLists.txt)

I haven't gotten into that part of the code yet so I have not answer off the top of my head.
Maybe one of my colleagues have an idea.

[2018-09-11 21:57] tejaskhot commented on #534
The error log I posted above was after I removed line 17 from `Python/CMakeLists.txt` which was related to the visualization part. @qianyizh Can you please assist?

[2018-09-12 00:19] anuppari opened #550 "Incorrect default install location on linux"
**Describe the bug**
The default value for `INSTALL_CMAKE_DIR` is set to `lib/CMake/Open3D`, but according to the [cmake docs](https://cmake.org/cmake/help/v3.5/command/find_package.html?highlight=i), that is not one of the default search locations for `find_package`, so other packages that depend on Open3D can't find it without explicitly giving the install location. Changing `INSTALL_CMAKE_DIR`

[2018-09-13 01:24] #518 closed, assigned to yxlao, takanokage, qianyizh

[2018-09-13 15:13] Jason420Git opened #553 "Building static runtime"
**Describe the bug**
By setting USE_SHARED_LIBS to OFF and MSVC RUNTIME DLL to OFF in CMake I am unable to get the generated project to be configured to build statically. Setting shared libs to off does not seem to change anything. e.g. In Debug if I select the properties of the project it says Multi-Threaded Debug DLL - When I just want MTd). I can set all of these manually which works but this i

[2018-09-13 23:33] yxlao commented on #488
Our pip package wasn't compiled with python3.6.
This issue has been fixed in 0.3.0 release.

Now we support python 2.7, 3.5 and 3.6, with pip/conda

[code]

[2018-09-13 23:33] #488 closed

[2018-09-13 23:33] yxlao commented on #430
Conda is now supported in the v0.3.0 release.

[2018-09-13 23:33] #430 closed

[2018-09-13 23:45] yxlao commented on #498
Previously the pip package that we released wasn't compiling the dependencies from source as static libs, thus it relies on system shared libraries. This was fixed in our v0.3.0 release.

Our current PyPI and Conda release is built with the following flags
[code]

It shall work out-of-the-box for Ubuntu 18.04, shown as follows:
[code]

[2018-09-13 23:46] #498 closed

[2018-09-14 00:54] syncle commented on #549
We meshed point clouds to render images. Please make a mesh before render images.
This is a Misuba xml file for your reference: [m60.zip](https://github.com/IntelVCL/Open3D/files/2381468/m60.zip)

[2018-09-14 06:20] qianyizh commented on #543
There is currently no way to do it with Python interface. You can do it in C++ interface.

However, I think I intentionally hid this type of behavior. One reason is that when you render, you need to set up a view. Currently, the default view is computed from the bounding box of the added geometries. Thus dynamically adding or removing geometry from Visualizer requires dynamically maintaining the v

[2018-09-14 06:31] qianyizh commented on #536
@pavan4 If you are using C++ interface and your mask is a rectangle or a polygon, use <Visualization/Utility/SelectionPolygon.h>, ``CropInPolygon()`` and ``CropInRectangle()`` is the easiest solution.

If you are using python interface, or if you are dealing with a rather random mask, you can project all ``vertices`` in mesh and record an index array for those falling inside the mark. Then call fu

[2018-09-14 06:45] qianyizh commented on #534
It is actually pretty close! I think you just need to exclude ``Tools`` folder too then it should be good.
It is basically removing both line 10 and line 11 in:
https://github.com/IntelVCL/Open3D/blob/master/src/CMakeLists.txt

[2018-09-14 06:49] qianyizh commented on #553
@yxlao can you address this?

[2018-09-14 06:58] qianyizh opened #557 "Travis CI build broken because of time out"
**Describe the bug**
https://travis-ci.org/IntelVCL/Open3D/jobs/428366682

**Screenshots**
[code]

Solution should be this:
https://docs.travis-ci.com/user/common-build-problems/
Add ``travis_wait 30`` to ``make install``

[2018-09-14 07:58] lelouedec commented on #544
https://www.dropbox.com/sh/djpqres4knf30m3/AAA6KsxwvJ_GTaLjn6jLJflaa?dl=0
Here the link to the Data.
I coded the transformation from depth to point cloud myself, and it seems to be working, but would prefer to have the RGBD to pointcloud feature of Open3D.

BTW I changed the "astype" type as uint.

[2018-09-14 10:02] nicolas-chaulet opened #559 "Selection of filters"
Hi,
I see that you are supporting voxel grid downsizing, uniform downsizing and selective downsampling, do you plan on implementing more filters such as
- statistical outliers (points that are further away from their neighbours)
- radius search (points that have less than n neighbors in a sphere of radius r)

Thanks!

[2018-09-14 18:30] #557 closed

[2018-09-14 18:32] syncle commented on #559
Hi @nicolas-chaulet. "radius search" seems straight-forward to implement, but I am not sure the difference between "radius search" and "statistical outliers". Can you clarify bit more?

[2018-09-14 19:11] Travis346 commented on #408
Any update on this?  I get the same issue:
Windows 10 (x64), Python 3.7 (x64), native pip install gives
![image](https://user-images.githubusercontent.com/13024737/45570254-40797a00-b81f-11e8-9a35-a049e38dc1a4.png)

[2018-09-14 20:12] yxlao commented on #408
@Travis346 Python 3.7 is not supported in our pip package. If you unzip the pip package, you'll see binaries for Python 2.7, 3.5 and 3.6.

[code]

The quick fix would be to compile from source, or, use the 2.7, 3.5 and 3.6 Python version. Later we may add Python 3.7 support as well.

[2018-09-15 00:00] kevinzakka opened #560 "Pan Mouse Wheel Press"
First of all, thanks for this amazing open source library!

I was wondering if it would it be possible to implement panning using the mouse wheel press. It's currently really hard to zoom in on some places due to how restricted the viewer is. It would be nice to introduce an option when we can "walk/translate" in a direction using the wheel.

Thanks!

[2018-09-15 05:03] qianyizh commented on #534
One more step closer! Now it is in compiling python binding.
Remove line 12 and line 17 in this file:
https://github.com/IntelVCL/Open3D/blob/master/src/Python/CMakeLists.txt

[2018-09-15 15:01] Vincent-2017 opened #561 "undefined reference to `vtable for open3d::PointCloud'"
undefined reference to `vtable for open3d::PointCloud'

[2018-09-15 15:06] Vincent-2017 commented on #561
class rsdevice
{
public:
    rs::context ctx;
    rs::device * dev;
    int devCount;
    std::shared_ptr<open3d::PointCloud> pointcloud;
...

#include "rsdevice.h"

rsdevice::rsdevice():
    pointcloud(new open3d::PointCloud())
{

}

When I want to get the pointcloud from realsense, the problem arises.

[2018-09-15 17:57] tejaskhot commented on #534
Those lines are already removed and the logs I posted was after that.

[2018-09-16 14:48] shoKagami opened #562 "Segmentation fault when read binary feature"
I am trying to read and write FPFH feature using function below:
https://github.com/IntelVCL/Open3D/blob/0bf814dd5022003652b7c202fcebc4c8a7136754/src/IO/ClassIO/FeatureIO.h#L34-L40

When I write FPFH feature to binary using function ``WriteFeature``, This function returned true(file extension is ``.bin``). So I success to write feature to binary file. But when I read this binary file, I face this

[2018-09-17 08:44] yurivict opened #564 "Version 0.3.0: Unknown CMake command "ADD_SOURCE_GROUP""
Regression in ```0.3.0```:
[code]

OS: FreeBSD 11.2
Version ```0.2``` didn't have this problem.

[2018-09-18 06:45] qianyizh commented on #561
Can you paste the code in code format?
I.e., quote with a pair of ```

[2018-09-18 06:47] qianyizh commented on #534
Umm, that's weird. The log suggests that these files are still being compiled.
Can you try to remove the folder ``Open3D/src/Python/Visualization`` completely and see if there is error / warning?

[2018-09-18 06:48] qianyizh commented on #540
@syncle I know you are on vacation, but I need you to help me on this, :)

[2018-09-18 06:49] qianyizh commented on #544
@syncle I know you are on vacation, but I need you to help me on this, :)

[2018-09-18 06:52] qianyizh commented on #562
@syncle can you take a look?

[2018-09-18 06:56] qianyizh commented on #564
There is a change in 0.3.0, you need to do:
[code]
instead of
[code]
Could this be the case?

[2018-09-18 07:29] yurivict opened #566 "Please allow to build just a python module"
On the FreeBSD we can have several python versions installed simultaneously.
The C++ library is built once, and then the python module is build for each python version.

This was done with version ```0.2``` with these options:
BUILD_SHARED_LIBS=ON BUILD_PYTHON_MODULE=ON BUILD_TESTS=OFF BUILD_PYTHON_TESTS=OFF BUILD_PYTHON_TUTORIALS=OFF BUILD_TINYFILEDIALOGS=OFF
This produced just one file: ```open3

[2018-09-18 10:10] shoKagami commented on #562
Sorry, It's my mistake.
I should declare new to allocate memory.

I fix the code above like:
[code]

So I close this issue.

[2018-09-18 10:10] #562 closed

[2018-09-18 17:21] szx0112 opened #567 "How to load viewpoint in Visualization?"
It looks like we can store the viewpoint to Json file, any method for us to load specific viewpoint when opening the visualization through 'draw_geometries' ?

Any comment is appreciated.

[2018-09-18 19:16] yxlao commented on #566
Do you mean building two versions of python bindings together? If that is the case, we need to specify `-DPYTHON_EXECUTABLE` to point to the python binary.

The `open3d.so` you mentioned is the compiled python module for python 2. For python 3, the name is longer, like `open3d.cpython-35m-x86_64-linux-gnu.so`.

See the following screen cast for building two python versions:
[![asciicast](https://a

[2018-09-18 19:44] yxlao commented on #550
This is now addressed in #568. Thanks for the bug report @anuppari!

[2018-09-18 20:30] syncle commented on #559
Yes. That would be very useful.

[2018-09-18 20:39] yurivict commented on #566
The problem is that this command installs other files:
[code]

It installs headers, main libraries, libtinyfiledialogs.a, and puts ```open3d.so``` into a wrong prefix.
It should only install ```open3d.so```, and use the pre-installed ```lib/libOpen3D.so```.

[2018-09-18 20:42] yurivict opened #569 "Shouldn't install lib/libtinyfiledialogs.a"
lib/libtinyfiledialogs.a comes from some other project. This project might be installed separately. You shouldn't install it because it might conflict with other packages.

[2018-09-18 21:01] yxlao commented on #566
I see, so what you're referring to is the `make install` step.

The current behavior of `make install` installs the `open3d.so` the default python's user `site-package` path from `python -m site --user-site` as shown here https://github.com/IntelVCL/Open3D/blob/master/src/Python/CMakeLists.txt#L28

When you want to install the `open3d.so` to the correct location, first make sure that `python -m si

[2018-09-18 21:16] yurivict commented on #566
```open3d.so``` should only contain the binding, not the library, and should be installed alone, so that multiple python versions could have their own bindings.

You should use ```python2.7 -c "import site; print(site.getsitepackages()[0])"``` instead. This returns the system site-packages location.

The separate port ```graphics/py-open3d``` installed ```lib/libOpen3D.so``` and the headers.

[2018-09-18 22:00] yxlao commented on #566
I see two issues here

### 1. What shall `open3d.so` contain?

1. If you use `cmake -DBUILD_SHARED_LIBS=ON`, `libOpen3D.so` will be built. `open3d.so` **does not** contain `libOpen3D.so`, here's the output:
[code]

2.  If you use `cmake -DBUILD_SHARED_LIBS=OFF`, `libOpen3D.a` will be built. `open3d.so` **does** contain `libOpen3D.a`. So it has the whole library embedded in.
[code]

We prefer appro

[2018-09-18 22:10] yurivict commented on #566
Just to be 100% clear: I want to have a set of cmake options that would build and install only ```open3d.so``` (the python binding), which is linked to the previously installed ```/usr/local/lib/libOpen3D.so```.

This is the outcome that is highly desired when python can be installed in several separate versions. This outcome was easily achieved with the version ```0.2```, but now isn't working an

[2018-09-18 22:34] yxlao commented on #566
Actually we also want to build the python binding without having to install open3d.

I dont' see it's a general expectation. E.g. if you build TensorFlow from source, we don't need to install TF C++ library in order to build the Python wrapper. Ref: [here](https://github.com/tensorflow/tensorflow/blob/r1.11/tensorflow/python/BUILD#L3769). It depends on a bunch of Bazel targets inside the build tre

[2018-09-18 22:40] yxlao commented on #569
Agreed.

If 1) we build a 3rd party lib from source 2) if the 3rd party lib is a static lib, we shall not install the 3rd party lib at `make install`. This is because the 3rd party lib is already statically linked (embedded inside) the `libOpen3D.a` or `libOpen3D.so`.

@syncle @takanokage is this your understanding as well? If yes, i'll create a task for this.

[2018-09-18 22:42] yurivict commented on #566
```TensorFlow``` is a bad example, because ```bazel``` doesn't even have the ability to install anything.

If some project defines both C++ and python interfaces, it's only reasonable to have the python interface being in a separate project, or being completely separable with build options.

[2018-09-18 22:54] yxlao commented on #566
Currently "building open3d library" and building "open3d python binding" are already separate. In fact, you can turn `BUILD_PYTHON_MODULE=OFF`, so we can see it's separated. We also tell from the video, when the python version is switched, the python binding was re-compiled, but the "open3d library" was not re-built.

The core argument is whether the python module shall depend on the **installed**

[2018-09-18 23:03] yurivict commented on #566
Practically speaking, there are two choices: to rebuild the C++ library every time, and use it for binding, or just rebuild the binding and use the pre-installed library. The only problem with the former way is that it is much more resource-intense. Why would we want to rebuild the same code over and over again? This is why I am for compartmentalizing things, and building the binding alone, separa

[2018-09-18 23:09] yxlao commented on #566
Agreed with a small twist. As long as we're using a `pre-built` library (doesn't need to be pre-installed), we can save the compilation. In fact, we're already using the `pre-built` library.

As we can see from the [video above](https://asciinema.org/a/1dHmK681cS1y2Xkz9qFSyt7GG), when the python version is switched, the python binding was re-compiled, but the "open3d library" was not re-built. So

[2018-09-18 23:15] yurivict commented on #566
Now we only need to figure out how to make it to not build ```libOpen3D.so``` even the first time. -)

[2018-09-18 23:40] syncle commented on #569
Yes it is. If 3rd party library is embedded, open3d library become stand-alone. You won't need to install other libraries.

[2018-09-18 23:50] yxlao commented on #569
Thanks @syncle, internal task created

[2018-09-19 00:00] theNded commented on #540
@qianyizh sorry for the late reply, I was busy in the last few days.

I read the paper and play with the parameters (with upgraded Open3D).
Before pruning, there are 29 nodes and 157 edges in the pose graph.
Here is the table of remaining edges count after choosing various thresholds:

| Threshold | Number of edges |
|--|--|
|0.25 | 38 |
|0.8 | 37 |
|0.9 | 34 |
|0.95 | 31 |
|0.98 | 30 |

Even with

[2018-09-19 01:04] yxlao commented on #553
With:
[code]

With the debug config, I am getting all static libs in `build\lib\Debug` after building the `ALL_BUILD` target in Visual Studio.

[code]

After building the project, did you get some `.dll` generated instead of static libs? Or, it would be great you could provide a screenshot of what you got in the Visual Studio project properties. Thanks.

[2018-09-19 01:09] theNded commented on #540
@qianyizh sorry for the late reply, I was busy in the last few days.
@syncle sorry to interrupt your vacation.

I read the paper and played with the parameters (with upgraded Open3D).
Before pruning, there were 29 nodes and 157 edges in the pose graph.
Here is the table of remaining edges count after choosing various thresholds:

| Threshold | Number of edges |
|--|--|
|0.25 | 38 |
|0.8 | 37 |
|0.

[2018-09-19 01:49] syncle commented on #540
I just checked, but cannot see what is wrong. Can you tell specific line and reasons?

That would be great! We are always welcome to your contribution.

[2018-09-19 02:45] theNded commented on #540
https://github.com/IntelVCL/Open3D/blob/0bf814dd5022003652b7c202fcebc4c8a7136754/src/Core/Registration/GlobalOptimization.cpp#L174-L178

In [Choi 2015] Eq(7) and other documents e.g. http://ethaneade.com/lie.pdf, there should be a negative sign before the cross product operator. Please correct me if you are using other conventions.

[2018-09-19 04:14] syncle commented on #540
I got the point. I fixed it in my working branch.

[2018-09-19 08:14] martinakos opened #570 "TSDF to Integrate pointclouds"
I'm filtering the pointclouds extracted from UniformTSDFVolume. Then I'd like to get a triangle mesh from the resulting filtered pointcloud. I think the triangle mesh from point cloud functionality is not available yet, but triangle mesh from TSDF is. So I thought I would create a new UniformTSDFVolume and integrate my filtered pointcloud into it, then extract the triangle mesh. However, at the mo

[2018-09-19 09:20] adioshun opened #571 "[question] how to subtract part.pcd from full.pcd"
I'd like to subtract specific point clouds(eg. part.pcd) from the whole point clouds(full.pcd).

is there any way to do this?

Thanks.

[2018-09-19 11:53] Toraudonn opened #572 "Inheritance of classes"
I've used Pybind11 before and I know that you can inherit classes.

I'm currently creating a custom class in python for visualization:

[code]

But I'm considering inheriting from the o3.Visualizer like this:

[code]

But it comes out as:

[code]

I looked through [open3d.h](https://github.com/IntelVCL/Open3D/blob/master/src/Python/open3d.h) and found the `bind_default_constructor`, but I don't kn

[2018-09-19 13:37] SriGanesh130 opened #573 "Reconstruction using point clouds or RGB D images"
Is there any way to reconstruct 3d meshes from pointclouds or from RGB-D images... without taking rgb and depth images?

[2018-09-19 19:52] #550 closed

[2018-09-19 20:08] Jason420Git commented on #553
No I get .lib files generated. However, when I right click on one of the projects for example Core I get the following setup:

These are my Cmake settings:

![cmake](https://user-images.githubusercontent.com/32929146/45778190-d6fad080-bc4f-11e8-981c-7c9da481528a.PNG)

Then my VS project

![vs](https://user-images.githubusercontent.com/32929146/45778113-a5820500-bc4f-11e8-9ecb-dea8052de522.PNG)

As

[2018-09-20 14:06] adamlofts opened #578 "Headless rendering docs & ENABLE_HEADLESS_RENDERING vs HEADLESS_RENDERING"
The headless rendering docs http://www.open3d.org/docs/tutorial/Advanced/headless_rendering.html say to use ENABLE_HEADLESS_RENDERING to enable headless rendering. This is consistent with the root cmakefile.

https://github.com/IntelVCL/Open3D/blob/5ca0056aaff92b06c0003a80ee90f99cdae643fb/CMakeLists.txt#L55.

However the included glfw cmakefile expects a parameter called HEADLESS_RENDERING https:/

[2018-09-20 17:27] yxlao commented on #553
Thanks for the screenshots. I got the same "Multi-Threaded Debug DLL" as shown in your screenshots by default.

We have a [test program "TestVisualizer"](https://github.com/IntelVCL/Open3D/tree/master/docs/_static/C%2B%2B) that links to the installed Open3D. You may find its CMake file for reference. The command to build the test program can be found [in our CI scripts](https://github.com/IntelVCL

[2018-09-21 04:26] qianyizh commented on #567
The easiest way is to open the json file, select all, copy, then paste in the Visualizer window.

The programmatic way is to call ``Visualizer.get_view_control().convert_to_pinhole_camera_parameters()`` (and/or ``convert_from_pinhole_camera_parameters()``), then use ``write_pinhole_camera_intrinsic()`` (and/or ``read_pinhole_camera_intrinsic``).

[2018-09-21 04:33] qianyizh commented on #570
I think there is a workaround: in the first pass, extract a point cloud **and** a triangle mesh from the same UniformTSDFVolume. Since both extraction uses the same algorithm under the hood, the extracted point cloud should be a superset (if not identical) of the triangle mesh's vertices. When you filter points from the point cloud, you filter them out in the triangle mesh's vertices too. Finally,

[2018-09-21 04:34] qianyizh commented on #571
If you have the indices, use ``select_down_sample()`` function.

[2018-09-21 04:38] qianyizh commented on #572
I don't think the reason is ``bind_default_constructor``. It is actually just a simple wrapper of the C++ default constructor.

The real reason might be that ``Visualizer`` is a trampoline class, because the C++ class under the hood is has virtual functions. See this.
https://github.com/IntelVCL/Open3D/blob/master/src/Python/Visualization/open3d_visualization_trampoline.h
And ``Visualizer`` is bou

[2018-09-21 04:40] qianyizh commented on #573
Not in the current release. This is a feature request that has been around for a long time... @syncle @germanros1987 maybe we should try to prioritize? There are many requests related to this.

[2018-09-21 04:44] qianyizh commented on #578
@syncle can you comment on this?

[2018-09-21 04:47] #573 closed

[2018-09-21 06:48] syncle commented on #578
The cmake flag for headless rendering were diverged. I submitted a PR to fix this.

[2018-09-21 10:18] adioshun commented on #571
@qianyizh thanks. Could you let me know more about the "indices".

 is that x,y,z data set?

[2018-09-21 17:11] tejaskhot commented on #534
@qianyizh Almost there! Now I can get through the full installation process, but face this error on importing open3d:
[code]

[2018-09-23 16:42] Jason420Git commented on #553
Hi, the project I have is setup to use the MTd runtime. Which is why it complains about Open3D. Is there a way to set the runtime of Open3D to be static in its Cmake? I am not 100% sure that I understand your solution. Thanks

[2018-09-24 00:43] syncle commented on #571
Index is unique number assigned for each point - if you know what points are selected, you can specify them. For example, if you have 1000 points, and the object or parts points have [0,...100] for indices, use that one for selecting or filtering points.

[2018-09-24 11:07] SriGanesh130 opened #583 "RGB(depth and color aligned) and depth images are unable to register"
I did the calibration and i got depth image,  depth and rgb aligned image(RGB) which means both these images have the same resolution. I given this images as input to reconstruction system but it is not reconstructing the scene.I am thinking that the given color image is not pure color image from kinect its a rgb and depth aligned image, so it is the problem?...
if it is then how to take the color

[2018-09-24 16:07] syncle commented on #583
Hi @SriGanesh130, for debugging, I recommend you to visualize your dataset like this example: http://open3d.org/docs/tutorial/Basic/rgbd_images/redwood.html.

[2018-09-25 03:53] SriGanesh130 commented on #583
Thanks for reply,
  How to create dataset like this with kinect v2

On Mon, 24 Sep, 2018, 9:39 PM Jaesik Park, <notifications@github.com> wrote:

[2018-09-25 03:59] syncle commented on #583
It is just pair of 8bit color and 16bit depth image. In case of Redwood dataset, the depth is discrete, 1000 means 1000mm = 1m. Please use any APIs for Kinect to record synchronized, and registered color depth image pair.

[2018-09-25 04:47] SriGanesh130 commented on #583
thanks @syncle
i used ROS kinect_iai2 but it is not giving accurate results like redwood dataset. suggest me any other API which gives good results for kinect v2

[2018-09-25 10:30] SriGanesh130 commented on #583
Thanks @syncle
these are my sample image which are used for reconstruction. But unfortunately they are not reconstructing the scene.
.ply file is not generating in fragments folder while running reconstruction.
![0000_color](https://user-images.githubusercontent.com/42513897/46009002-e8bef680-c0db-11e8-93be-338433a7dcfb.jpg)
![0000_depth](https://user-images.githubusercontent.com/42513897/46009007

[2018-09-25 14:13] martinakos commented on #570
Thanks. that seems to work. Although for some reason the mesh doesn't look as good a the point cloud. I guess that in my mind I would triangulate the point cloud to look as good a possible, whereas the algorithm just joins the nearest points to make a triangle.

[2018-09-26 06:13] #583 closed

[2018-09-26 06:21] SriGanesh130 opened #588 "unable to construct scene"
While reconstruting, the ply files in fragments and scene folder are not generating for my dataset but when i tried with the your dataset it is generating .... but both datasets(yours and mine) are running same(showing no errors) in terminal but scene is not constructing.
These are my sample datasets(color and depth)::
![0000_color1](https://user-images.githubusercontent.com/42513897/46060900-5625

[2018-09-26 14:54] syncle commented on #588
Please visualize the RGBD image as a point cloud. You can follow this tutorial http://open3d.org/docs/tutorial/Basic/rgbd_images/redwood.html and replace camera intrinsic accordingly.

[2018-09-26 17:08] SriGanesh130 commented on #588
Thanks @syncle
i got it

[2018-09-26 17:09] #588 closed

[2018-09-27 18:02] tejaskhot commented on #534
@qianyizh Can you please point me to a solution for this import error?

[2018-09-28 03:11] syncle commented on #544
Hi @lelouedec, you don't have to explicitly change the type. Can you try something like
[code]

[2018-09-28 03:16] syncle commented on #534
The error message says the module tried to find SelectDownSampleTriangleMesh, but it couldn't see. Can you clean and re-install Open3D again? SelectDownSampleTriangleMesh is recently added, so my guess is that the issue is due to importing old version of open3d.

[2018-09-28 03:18] syncle commented on #510
Any updates @qianyizh?

[2018-09-28 03:31] syncle commented on #425
This issue is addressed with Open3D v0.3 release.

@annacesar: Let me close the issue. Please try ``pip install open3d-python`` or ``conda install -c open3d-admin open3d``. Details are in [here](http://www.open3d.org/docs/tutorial/Basic/python_interface.html#install-open3d-from-pypi). Feel free to reopen this if necessary.

[2018-09-28 03:31] #425 closed

[2018-09-28 03:35] syncle commented on #408
@Travis346: the dynamic library link issue is addressed with Open3D v0.3. Can you try out [this](http://www.open3d.org/docs/tutorial/Basic/python_interface.html#install-open3d-from-pypi)? @HaiDang2001VN: as a note, from open3d v0.2, we renamed py3d to open3d.

[2018-09-28 03:36] syncle commented on #393
@takanokage @qianyizh @yxlao: I think this issue had been addressed in v0.3, right? Should we close the issue?

[2018-09-28 03:37] syncle commented on #390
@yxlao: we have built CIs for this, can you double check on this issue?

[2018-09-28 03:39] syncle commented on #383
@bored-wolf: let me close the issue for now. We can comeback this issue once there is a specific request and plan for the global feature.

[2018-09-28 03:39] #383 closed

[2018-09-28 03:42] syncle commented on #366
[The issue](https://github.com/IntelVCL/Open3D/issues/366#issuecomment-403272252) had beed addressedin #495. Let me close this issue.

[2018-09-28 03:42] #366 closed

[2018-09-28 03:44] syncle commented on #322
Closing the issue due to inactivity. @rukie: Please feel free to reopen if needed.

[2018-09-28 03:44] #322 closed

[2018-09-28 03:46] syncle commented on #238
Just for update ``src/External`` folder is moved into ``3rdparty`` folder.

[2018-09-28 03:50] syncle commented on #130
@takanokage @yxlao: can you guys confirm that this issue had been addressed in v0.3?

[2018-09-28 05:49] #578 closed

[2018-09-28 05:54] syncle commented on #387
@adamlofts: I am working on this.

### Saving viewpoint
Actually direct saving/loading view point is done by using ``pinhole_camera_trajectory``. For example:
[code]
will save ``test.json`` that has single camera pose in camera trajectory format.

### Loading viewpoint
[code]
will read ``test.json`` and display the same view.

However, as @adamlofts indirectly pointed out, directly working with ``

[2018-09-28 06:13] #287 closed

[2018-09-28 06:13] #492 closed

[2018-09-28 06:29] yxlao commented on #390
@syncle I believe this has not yet been addressed.
1. Currently, Travis CI is not storing artifacts after each build for ubuntu and mac.
2. If we were to make the compiled python module useful (for pip and conda distribution), we'll need to add build with all supported python versions (2.7, 3.5, 3.6). However, this has not been done in Travis.
Do you recommend moving up the priority of this issue?

[2018-09-28 06:43] qianyizh commented on #570
It is just standard marching cubes. So the point clouds are not smoothed and it is common to notice some artifacts. I think you can do post processing to further polish the mesh.

[2018-09-28 06:52] yxlao commented on #393
@syncle Yes, i recommend closing this issue.

For future reference, we added an example cmake in `docs\_static\C++`, and test on CI for both [windows](https://github.com/IntelVCL/Open3D/blob/master/.appveyor.yml#L58) and [ubuntu and mac](https://github.com/IntelVCL/Open3D/blob/master/.travis.yml#L161). Users may refer to [this example cmake](https://github.com/IntelVCL/Open3D/blob/master/docs/_sta

[2018-09-28 06:58] syncle commented on #393
Good. Thanks!

[2018-09-28 06:58] #393 closed

[2018-09-28 07:09] qianyizh commented on #534
Yeah, this is weird. I have never seen this before. Can you maybe share the (changed) code on your fork so we can take a look?

[2018-09-28 07:10] qianyizh commented on #510
I got busy and did not follow up. @yxlao can you take a look at op?

[2018-09-28 07:13] qianyizh commented on #238
The discussion is followed up on discord channel and offline discussions. Feel free to hop in and contribute your thoughts. https://discord.gg/qsm2fd

[2018-09-28 07:14] qianyizh commented on #387
It is a ``IJsonConvertible``, so the IO should be exposed by default?

[2018-09-28 07:35] #130 closed

[2018-09-28 07:40] #569 closed

[2018-09-28 12:17] lelouedec commented on #544
Hi @syncle, thank you for your help.
I tried what you said an got
[code]

[2018-09-28 15:09] syncle commented on #544
Can you check the color image is: 8bit 1channel or 8bit 3channel, and depth image is: 16bit 1channel image? By default Open3D regard value 1000 in depth image as 1000mm, or 1m.

[2018-09-28 15:16] lelouedec commented on #544
The depth image is indeed 16bit and its values are 1000 = 1m.
And the color image is 8 bit 3channels

[2018-09-28 16:35] syncle commented on #544
Aha, depth and color images should be aligned and in the same image size. Can you align your color and depth image and try again?

[2018-09-28 16:41] syncle commented on #567
This issue is related to #387.
@qianyizh: ``read/write_pinhole_camera_intrinsic``  can only save camera intrinsic matrix, not extrinsic 4x4 matrix that are necessary for saving a view point. I just tried
[code]
and got
[code]

I think we need to expose ``PinholeCameraParameters`` and ``read/write_pinhole_camera_parameters``

[2018-09-28 16:47] lelouedec commented on #544
Oh ok indeed now the depth aligned and scale to the RGB, it is read correctly.
Thanks a lot for the help.

[2018-09-28 17:04] #544 closed

[2018-09-28 20:07] tejaskhot commented on #534
@syncle @qianyizh I cleaned and re-installed again but got the same error. My fork is here:
https://github.com/tejaskhot/Open3D

The steps I follow after cloning this are:
[code]

[2018-09-28 21:48] syncle commented on #559
Closing as this have addressed in #565.

[2018-09-28 21:48] #559 closed

[2018-09-28 22:30] yxlao commented on #534
After demangling, the missing symbol is
[code]
after looking at your fork, seems like `SelectDownSample` was removed.

[2018-09-29 00:12] takanokage commented on #534
[SelectDownSample](https://github.com/IntelVCL/Open3D/blob/59c0645a169c589345a1b04753d5afdb5800b349/src/Core/Geometry/DownSample.cpp#L117) was removed [here](https://github.com/tejaskhot/Open3D/commit/f02060dc98a242cb96b538ed2f19a5f7d768ade9#diff-0e082f48f198b3329087124dba34b431L117).

[2018-09-29 21:58] tejaskhot commented on #534
That solved it, thanks a lot!

[2018-09-29 21:58] #534 closed

[2018-10-03 11:52] lschaupp opened #591 "Point Cloud Segmentation - Ground Plane Removal"
Anything like this in Open3d yet?
Wasnt able to find anything in the docs...
Thanks for the info!

[2018-10-03 12:07] EmmanuelCos opened #592 "Equivalent function to draw_registration_result in C++?"
Hello,

I would like to know if the python function draw_registration_result, showed in the tutorial on ICP registration, has an existing equivalent in C++? Or has someone already implemented it?
I'm quiet new at open3D, and I'm not very comfortable yet with this lib. Hope I'm not disturbing with any obvious question...

Thank you,

Emmanuel

[2018-10-03 12:12] #592 closed

[2018-10-03 13:50] EmmanuelCos opened #593 "Equivalent of ReconstructionSystem in c++"
Hello,
I saw that the functions implemented under the directory \ReconstructionSystem seem very appropriate to do refined 3D reconstruction.
I am developing in C++ and need to do some 3D reconstruction, is there an equivalent existing project coded in c++?
Thank you,
Emmanuel

[2018-10-03 16:13] samarth-robo opened #594 "Z-buffering in ColormapOptimization"
**Is your feature request related to a problem? Please describe.**
The colormap optimization library works great if the depth image is not noisy. Thank you for open-sourcing a very useful tool!
However, in my case, the depth maps are noisy, and not uniformly. For example, a sphere may be distorted at the sides so that it looks like an ellipsoid. So I need to loosen the depth_threshold_for_visibili

[2018-10-03 16:14] qm2k commented on #377
Thank you for your work, is this change already included in 0.3.0.0? I still see `ImportError: DLL load failed` on 64-bit Python 3. 32-bit Python 2.7 works fine.

[2018-10-03 16:54] syncle commented on #591
Could you propose good algorithm, or propose a PR for this? How to define and identify the ground plane is the thing I would like to discuss. Open3D is under development, so we are welcome your contribution.

[2018-10-03 16:54] yxlao commented on #377
@qm2k for "ImportError: DLL load failed on 64-bit Python 3", which python 3 version is that? Currently we only have 2.7, 3.5 and 3.6 supported

[2018-10-03 17:03] syncle commented on #593
Not yet. This is lower priority because the Reconstruction system is being actively developed with Python, and it optionally uses OpenCV. Using OpenCV module in Python is straightforward and being supported, but adding OpenCV as a C++ dependency requires some discussion since we are trying to providing "easy to use" library.

[2018-10-03 17:13] syncle commented on #594
Hi @samarth-robo. This is very good suggestion. We already have ingredients for this - rendering depth frames from mesh is [here](http://www.open3d.org/docs/tutorial/Advanced/customized_visualization.html), and you can substitute ``depth image`` with rendered one and put new ``rgbd_images`` to the ``color_map_optimization``. Could you contribute for this?

[2018-10-03 18:17] samarth-robo commented on #594
Yes, working on it.

[2018-10-03 19:21] syncle commented on #560
This issue have not been answered yet. @qianyizh: could you comment on this?

[2018-10-03 19:32] qm2k commented on #377
Python 3.7 indeed. Is there some trick to make Open3D work with 3.7, or would you recommend downgrading to 3.6 for now?

[2018-10-03 19:37] yxlao commented on #377
Compiling from source should work: http://www.open3d.org/docs/getting_started.html#windows. You'll need to specify `PYTHON_EXECUTABLE` to point to the python 3.7 executable in the cmake flags, e.g.
[code]
Since there are a few request already to support python 3.7, we'll consider adding support for that in the next release.

[2018-10-04 02:50] syncle commented on #594
This is great @samarth-robo! I didn't aware uneven focal length can make many hassles. I will open a new issue regarding uneven focal length and try to find the best way to merge this contribution in a proper way.

[2018-10-04 02:56] syncle opened #596 "Improving ViewControl"
Raised by #594.

**Is your feature request related to a problem? Please describe.**
- The visualizer class only supports the same focal length for x and y axis.
- ViewControl only accepts the camera parameter that is consistent with the rendered window size.

**Describe the solution you'd like**
- Open3D/src/Visualization/Visualizer/ViewControl.cpp transforms 3x3 intrinsic to the OpenGL view point

[2018-10-04 06:12] qm2k commented on #377
Thank you for your help!

[2018-10-04 10:07] martinakos opened #599 "Calling draw_geometries() while in a non-blocking drawing loop breaks the non-blocking drawing"
Consider the non_blocking_visualisation.py example.
If we call
[code]
any time after
[code]
then after exiting draw_geometries,  when we try to use vis it prints the following error:

**GLFW Error: The GLFW library is not initialized**

and nothing shows up in the vis window after that point.

I find myself in this scenario in an app I'm making which displays point clouds in a non-blocking way. Bu

[2018-10-04 18:09] syncle commented on #599
Hi @martinakos. ``draw_geometries`` is high level function - it create a window and add geometries. If you put ``draw_geometries`` inside the lop, this will make many windows simultaneously and may cause problem.

The workaround is to define Visualizer() class and use internal functions. Let me take an example using non_blocking_visualisation.py:
[code]
This script will show two screens without gl

[2018-10-04 18:55] dmontagu opened #600 "Can index-adjacent nodes connected requirement for GlobalOptimization be removed?"
**Is your feature request related to a problem? Please describe.**
I am trying to perform global optimization on a PoseGraph with poses for which not all index-neighboring nodes have a connecting edge, but I am being told that my pose graph is invalid (see here:
https://github.com/IntelVCL/Open3D/blob/0667179c2d69f3e191104b6f70378b4dee6f406a/src/Core/Registration/GlobalOptimization.cpp#L387).

I'm

[2018-10-04 19:50] syncle commented on #600
That's good point. Checking adjacent node was added to perform sanity check for reconstruction system, but it is not good fit for general use case as you mentioned. How about removing this check and replace it with a new check that can identify an isolated node? I am fine with this change, and would be grateful if you are willing to submit PR regarding this. :)

[2018-10-05 09:04] martinakos commented on #599
Sorry, I think I wasn't very clear.  I only call draw_geometries() from the interactive prompt, for debugging purposes. It allows me to verify and interactively inspect that my intermediate operations work as I intend. I've wrapped draw_geometries() with a function that creates a number of point clouds from numpy arrays and allows me to add some markers. It's very handy for interactive debugging.

[2018-10-05 10:26] martinakos opened #602 "UniformTSDFVolume with rectangular cuboid shape?"
**Feature request.**
I see UniformTSDFVolume only creates cubic volumes of side length.
I would like to be able to define a rectangular cuboid TSDF volume with (width, height, depth) parameters.
I'm trying to reconstruct objects using TSDFs and the object may be very elongated, for which at the moment I have to make a large enough cube to include the object. There is a lot of space unused in this

[2018-10-05 20:47] syncle commented on #602
Hi @martinakos, how about using ``ScalableTSDFVolume`` instead? It has no bounds, and actually faster than ``UniformTSDFVolume``, so that it will be good fit for any shape. I would keep ``UniformTSDFVolume`` as is because ``ScalableTSDFVolume`` utilizes ``ScalableTSDFVolume`` as a base data structure.

[2018-10-08 03:30] theNded opened #603 "Console log & UnitTest enhancement"
**Console Log**
The built-in functions (i.e. PrintInfo, PrintError) work well, but when the project grows larger, the feature in [glog](https://github.com/google/glog) that prints line number and file name may be helpful for tracing outputs and errors. Macros '\__FILE__', '\__LINE__' can do that.

**Unit test**
Now unit tests are not very systematic. [gtest](https://github.com/google/googletest) m

[2018-10-08 05:02] syncle commented on #599
I see the same symptom. It seems glfw window close event is being broad-casted to the every windows, but I couldn't find how to fix this yet.

[2018-10-08 09:12] martinakos commented on #602
I think that ScalableTSDFVolume doesn't work for my needs. I understand that ScalableTSDFVolume uses a spatial hash and this is faster than a UniformTSDFVolume to integrate pointclouds for scene reconstruction. However, I'm trying to do object reconstruction and I can estimate the volume of the object before starting, so I can size a  UniformTSDFVolume as tightly as posible to the object. At the m

[2018-10-08 15:12] takanokage commented on #603
I can answer regarding the unit tests: we're working on adding unit tests based on gtest. A majority of the open pull requests today are related to unit testing. PR #556 will enable running the unit tests during the Travis CI checks.

[2018-10-08 16:18] theNded commented on #603
OK I see, it looks great. I was one commit behind and didn't notice that. Thanks.

[2018-10-08 22:11] syncle commented on #470
Hi @Hippogriff. Can I ask if you already had worked on this? I think this is very useful feature so I am considering to work on this.

[2018-10-08 22:19] takanokage commented on #603
Thanks ;-).
Please note this is work in progress and as such I don't recommend relying on it at the moment.

[2018-10-08 23:05] theNded commented on #603
No problem. I am trying to build a CUDA component upon it. If it works well, I will try to make a pull request.

[2018-10-09 07:52] qianyizh commented on #387
I think we have changed it to ``PinholeCameraIntrinsic`` in a previous version? And it is exposed in python interface.

[2018-10-09 07:53] qianyizh commented on #567
Yes, I think you just need to save a ``PinholeCameraTrajectory``. As long as it only has one extrinsic matrix, it is basically a pair of intrinsic and extrinsic.

[2018-10-09 08:02] qianyizh commented on #560
I mean, sure, it can be implemented. @syncle up to you if you wanna add it.

[2018-10-09 08:32] qianyizh commented on #602
Got it. One way you can try with ScalableTSDFVolume is to pre-prune your depth image before sending in for integration. A simple way is to just remove points with large depth (e.g., any depth farther than 2m). A more complicated way is to create a point cloud from the depth image, then clip it using a small rectangular cuboid. Then send the clipped depth image into ScalableTSDFVolume. This should

[2018-10-09 08:50] martinakos commented on #602
Ok, thanks for the suggestions. I thought about hacking the C++ code for UniformTSDFVolume. I see there is a resolution_ variable that I could replace by resolution_x, resolution_y, resolution_z, maybe I'm lucky and it works. If it doesn't it may take me more time to get to hack it and I'll have to think if I use the time as in principle I'm just doing a demo, not a production quality app.
Clippin

[2018-10-09 17:14] Hippogriff commented on #470
@syncle hI! I have not worked on this. I just know the basic theory.

[2018-10-09 19:01] kevinzakka commented on #560
@syncle @qianyizh Thanks guys, it's pretty useful when viewing/debugging pointclouds in the `view_geometries` window. Some places become unreachable or hard to angle because this feature is lacking.

[2018-10-10 10:14] lukaspistelak commented on #135
hello i have same issue i am on remote ssh -X -C

echo $DISPLAY
localhost:13.0

[2018-10-10 16:33] benjiebob opened #608 "Is it necessary to display the window from create_window()?"
Hi there,

I am currently using Open3D's PointCloud support in a training loop for a neural network. The goal is to save 10 different point clouds as images, so that I can send to Tensorboard for visualization as fast as possible.

Currently, my process is to create the 10 point clouds and then use:

[code]
However, the annoying (and I guess slow?) part is that the create_window() command creates

[2018-10-10 17:14] syncle commented on #608
Hi Ben, thanks for using Open3D!

I can recommend two options.
- Try ``vis.create_window(visible = False)`` (contributed by @adamlofts).
This will not create and pop-up any windows.
- Try [headless rendering](http://open3d.org/docs/tutorial/Advanced/headless_rendering.html). This will save images without physical screens.

[2018-10-10 18:18] benjiebob commented on #608
This is an excellent answer, thank you very much.

[2018-10-10 18:46] syncle commented on #608
Oops, my bad. As you mentioned, this feature were not released in 0.3v. We are about to release new version soon. We will update our package and relevant documents accordingly. At this moment, build from source is the option to use ``vis.create_window(visible = False)``, thanks!

[2018-10-11 13:18] benjiebob commented on #608
Hi there,

I am still having trouble with this workflow. I have now cloned from source so have access to the `visible' keyword as you mention.

[code]
Unfortunately, this code prevents my geometries being contained in the image. I just get a black screen with the `visible = False' flag set.

I've build Open3D with the headless rendering extensions and can successfully run the headless_renderering.

[2018-10-12 07:48] martinakos commented on #591
I've been doing this plane removal using either PCL or pycilantro.get_plane(). It would be nice to have it in Open3D though.

[2018-10-12 18:08] ats27 opened #609 "Is it possible to update visualizer with a new pcd file in the same window?"
In the Non-blocking visualization, it shows how to transform source pcd and add it to the window, but is it possible to edit a point cloud or remove it and add a new one in its stead in the same window?

[2018-10-12 18:48] syncle commented on #609
If I understand the question correctly, adding geometry is easy - just add ``vis.add_geometry(source)`` inside of the loop. To remove geometry, we don't have implementation yet. There is an open discussion here - #543

[2018-10-15 12:05] iurim opened #612 "Bilateral Filter"
Is it possible to get a function as:

  int k = 35;                // size of neighborhood. The bigger the smoother the result will be.
                               // This value should bigger than 1.
  double sharpness_angle = 25; // control sharpness of the result.
                              // The bigger the smoother the result will be
  int iter_number = 1;         // number of times the

[2018-10-15 18:06] guyrap opened #613 "Statistical oulier removal and Radius oulier removal not working in open3D under conda"
Hi,
I'm running the tutorial example 'point_cloud_outlier_removal.py'.
The script fails when trying to run the Statistical outlier removal and Radius outlier removal.

I'm using open3D with conda (latest version) with python 3.6.
I'm getting the following error code:
NameError: name 'statistical_outlier_removal' is not defined

Is it possible that this two functions are not part of the conda open3

[2018-10-15 19:08] yxlao commented on #613
Hi @guyrap, `statistical_outlier_removal` was recently added by https://github.com/IntelVCL/Open3D/pull/565, so it's not part of the v0.3.0 release. If you'd like to try it out, we'd recommend building from source.

[2018-10-15 22:08] guyrap commented on #613
@yxlao - thank you!
Guy

[2018-10-15 22:08] #613 closed

[2018-10-15 23:01] LLDavid opened #614 "Anyway to paint the point cloud with different colors?"
I only find "paint_uniform_color ()" for painting , but I want to paint different points with different colors. Anyone knows how to do it? Thanks

[2018-10-15 23:06] yxlao commented on #614
We can directly assign a numpy array to `open3d.PointCloud.colors`, see http://www.open3d.org/docs/tutorial/Basic/working_with_numpy.html#working-with-numpy, e.g.

[code]

[2018-10-15 23:13] LLDavid commented on #614
@yxlao Thanks! Exactly what I need.

[2018-10-15 23:13] #614 closed

[2018-10-16 13:11] ats27 opened #615 "Specify points size in visualizer from python"
Hello, is it possible to load the pixel size or field of view on window creation in the visualizer from python?

[2018-10-16 16:11] TaoHuUMD opened #617 "How to rotate a model along X axis?"
I used python. There is a simple code about rotation, but "ctr.rotate(0.0, 10.0)" only supports rotation along Y or Z.  How can I rotate a model along X? And translation also has the same problem.

Another way is to set view matrix, but there is no related interface for python. How can I do?

[2018-10-16 16:45] syncle commented on #615
Yes. It is possible. Please refer [this tutorial.](http://www.open3d.org/docs/tutorial/Advanced/customized_visualization.html#mimic-draw-geometries-with-visualizer-class), it can saves and loads rendering option (including size of point). To save a view point, there is a open pull request. You will find code example [here](https://github.com/IntelVCL/Open3D/pull/597):

In summary,

### Saving/load

[2018-10-16 16:52] syncle commented on #617
Hi, Please see my answer for setting view matrix: https://github.com/IntelVCL/Open3D/issues/615

``ctr.rotate`` and ``ctr.translate`` is intended for 2-dimensional mouse event; It computes view point change using mouse drag event. To freely rotate or translate the model, I recommend to use ``pcd.transform(T)`` with your transformation matrix ``T``.

[2018-10-16 16:53] syncle commented on #612
Hi @iurim, Could you elaborate the question bit more? Is this feature request?

[2018-10-16 17:34] tsyj0404 commented on #617
thanks. pcd.transform(T)  seems work for rotation, but I cannot translate the model. Do I have to set camera?

    vis = Visualizer()
    vis.create_window(window_name = 'open3d',width = 600, height = 600) #false
    vis.add_geometry(pcd)

    trans_init = np.asarray(
                [[0.862, 0.011, -0.507,  **10**],
                [-0.139, 0.967, -0.215,  0],
                [0.487, 0.255,  0.83

[2018-10-16 17:42] syncle commented on #617
``draw_geometries*`` family function has ``reset_view_point`` inside that automatically adjusts camera depending on the geometry. In this manner, even though the geometry is translated, the camera follows too, and you are looking the same image as a result.

In this case, you will need to mimic ``draw_geometries`` family, but without using ``reset_view_point``. A good example is [here](http://open

[2018-10-16 19:01] tsyj0404 commented on #617
Thanks. It seems that the next transformation is based on the current state. There is no function in Visualizer() to delete the current geometry.  Can I transform the object always from its original state?
And the transformation matrix is the same as the matrix of OpenGL, right?

[2018-10-16 20:18] tsyj0404 commented on #617
thanks. I will make a try.

[2018-10-17 03:43] qianyizh commented on #609
Another option is to reassign ``points``, something like this:
[code]

[2018-10-17 04:03] qianyizh commented on #600
@dmontagu I agree with you. I think the current implementation has a loophole there. When we implemented it, we only considered a simple use case - basically the one that's described in the "robust reconstruction" paper.

I agree with your proposal too. It addresses the loophole.

Only one thing that's not clear to me: how do you create the initialization of the optimization if the strong edges do

[2018-10-17 18:33] yxlao commented on #420
@LLDavid , please see @qianyizh 's [comment above](https://github.com/IntelVCL/Open3D/issues/420#issuecomment-404239638) .

If you remove the build directory and start from scratch, for me it's sufficient to use specify the `PYTHON_EXECUTABLE`. First we'll need to find where the python is.

E.g. if you're using a conda environment:
[code]

[2018-10-17 22:40] LLDavid commented on #420
@yxlao Thanks! Now I can get the open3d.sln, and I rebuild the 'ALL_BUILD' as the tutorial says (on VS 2015 2017). Then I try to build the 'INSTALL' and I got following one error:

Error	MSB3073	The command "setlocal
C:\Users\Owner\Li\bin\cmake.exe -DBUILD_TYPE=Release -P cmake_install.cmake
if %errorlevel% neq 0 goto :cmEnd
:cmEnd
endlocal & call :cmErrorLevel %errorlevel% & goto :cmDone
:cmError

[2018-10-17 22:48] yxlao commented on #420
It's a little bit hard to tell from the limited information. From the error code, seems like it's similar to [this one](https://stackoverflow.com/a/31588065/1255535). One thing you could try is to specify a path that non-admin can access, as described in. Otherwise, by default, it will be installed to `C:\Program Files` which require admin access.
[code]

Or, start the CMD console with Administrat

[2018-10-17 23:59] yxlao commented on #420
Currently, we're undergoing some dramatic changes for the python build system: see https://github.com/IntelVCL/Open3D/pull/604 and https://github.com/IntelVCL/Open3D/pull/618.

If you're on the lastest master (as of [this commit point](https://github.com/IntelVCL/Open3D/tree/7e5a844b146459650bbec07298dfec7b0482e246)), `make install` will not install python. In fact, in current master, you don't ev

[2018-10-18 01:12] LLDavid commented on #420
@yxlao Now I can get it work. Really appreciate your help!

[2018-10-18 09:34] Jason420Git commented on #553
Hi,

I am still having trouble with this. It also does not create separate debug and release libs. So I need to build it, rename the libs and build again. This is okay if it is once in a while but since the library is changing quickly I need to do this several times.

[2018-10-19 15:47] yxlao commented on #553
@Jason420Git We're working on the 0.4 release now, will revisit this issue soon after the release

[2018-10-19 18:39] syncle commented on #473
I looked the code and noticed this part:
[code]
It accumulates point cloud into ``pointcloud`` for every frame, so ``pointcloud`` become very large.

[2018-10-19 18:46] happyBear9 opened #621 "is changing color for individual points possible?"
Hi, Im trying to segment a pcd file but `paint_uniform_color` function seems to change the color of all points in the pointcloud. Is it possible to change color of individual points?

If not, is it possible to remove specific points from point cloud so i can visualize segmented points as separate pointclouds? Thank you

[2018-10-19 18:50] LLDavid commented on #473
I change it to

It is better, but still dropping
![image](https://user-images.githubusercontent.com/31833968/47237870-50e8bb80-d3ae-11e8-85ef-e6de9ef4d530.png)

[2018-10-19 19:05] baptiste-mnh commented on #473
Hi,
I think the error is from here` vis.add_geometry(pointcloud)`.
The vis variable is too big, that's why in my code I did this :
[code]
So i add only once the pcd to the vis variable (the pcd can be then modified).

[2018-10-19 19:18] LLDavid commented on #473
@baptiste-mnh Thanks! You are right.  I simply add `pointcloud.clear()` at start of while loop.  It seems like the if is unnecessary

[2018-10-19 19:34] syncle commented on #621
Yes for the both question.

Please see [this answer](https://github.com/IntelVCL/Open3D/issues/614) to assign color for each point. In the similar manner, you can make a new ``PointCloud()`` with arbitrary points.

[2018-10-19 19:43] happyBear9 commented on #621
Thanks a lot! Sorry for duplicate.

[2018-10-19 20:09] dmontagu commented on #600
@qianyizh Based on your comment and reading through the implementation a little more, I think there could be problems if so many of the weak edges get pruned that the graph becomes disconnected, or if the line process weights update in such a way that any weak edges that could keep the graph connected have weight 0.

However, in practice, with enough "good" weak edges keeping the graph connected,

[2018-10-19 20:31] #621 closed

[2018-10-19 21:00] ljc19800331 commented on #473
Hey guys,

I have just finished the algorithm and it works. Thank for the information.

@LLDavid I am using the D415 with your code and my FPS for 1280x720 is around 10, 640*480 around 20. Did you get the similar result? I think it would still be a little bit slow. Thanks.

[2018-10-19 21:39] syncle commented on #473
Thanks for the active discussion!

I also tried the script by @baptiste-mnh and @LLDavid with D415 camera. Overall, it looks great to me. I think @LLDavid's suggestion can detour ``Vector3dVector`` issue that is main concern in this thread.

@ljc19800331: I just profile the script, and found ``create_rgbd_image_from_color_and_depth`` is lagging. It would be because of dynamic memory assignment ``v

[2018-10-19 22:12] syncle commented on #473
@ljc19800331 After static assignment, I was able to get slight gain - 30FPS for 640*480 res. and 15FPS for 1280x720 res with my mac.
@baptiste-mnh and @LLDavid: Let me make a PR to add this script in example/Python/. This would be great for Open3D users. :)

[2018-10-20 01:47] LLDavid commented on #473
Glad to be helpful
@ljc19800331 I guess it is related to your CPU. Mine is i7-8750H, and the FPS is at 30 in average

[2018-10-20 03:08] ljc19800331 commented on #473
@LLDavid Yes it may be since my laptop's CUP is i5. Thanks for your answer.

Also, I am wondering if there is a better solution for this problem since I saw the realtime point cloud visualization code before with a earlier version of the python realsense in https://github.com/toinsson/pyrealsense/blob/master/examples/show_vtk.py. This is another demo of using the realtime point cloud. However, I t

[2018-10-20 11:25] Hao-HUST opened #623 "Issue for compiling Open3D on Windows"
Hi,

Thanks for sharing your great work.

I tried to compile the Open3D on windows, based on your compiling step(http://www.open3d.org/docs/getting_started.html).

The generation of Open3D.sln from Cmake succeed and rebuilt the ALL_BUILD target, but the compiling on INSTALL is failed. My env is：Windows 10, VS2015 Update 3 and Cmake 3.12.0.

I got the following error:
![image](https://user-images.g

[2018-10-20 16:13] Jason420Git commented on #623
This tends to happen because the default install location is in program files which requires admin permission. Either open visual studio in admin mode, or you can change the location by changing CMAKE_INSTALL_PREFIX variable.

Be aware that the install does not separate debug and release builds, so you'll need to reinstall (once switching to release or debug) in order to update that directory with

[2018-10-20 16:15] Jason420Git commented on #553
Great thank you! Looking forward to it. I have transitioned my code over from PCL to Open3D and this is the only final thing that I am having trouble with, before I can make a full switchover.

[2018-10-20 17:56] yxlao commented on #623
agreed with @Jason420Git , seems similar to https://github.com/IntelVCL/Open3D/issues/420#issuecomment-430814256

[2018-10-22 21:44] ljc19800331 opened #624 "Issue for import in python. No module named open3d"
Hello open3d authors,

I have successfully compiled open3d from scratch and used for python before I reinstalled my ubuntu 16.04  system. After I reinstalled the system, I found the notice "no module named open3d" after I compile open3d with python binding with the command "-DPYTHON_EXECUTABLE:FILEPATH=<path-to-python-executable> ..". I checked multiple times but could not figure out the solution.

[2018-10-22 21:49] yxlao commented on #624
Please see https://github.com/IntelVCL/Open3D/issues/420#issuecomment-430829690, especially https://github.com/IntelVCL/Open3D/pull/604#issue-221284415.

In short, you don't need to run `make install` at all to install python binding. Now, inside your virtualenv, run:
[code]

We're working on the documentation for the new way of building python package from source.

[2018-10-22 22:37] ljc19800331 commented on #624
Thanks for your comment.

[2018-10-22 22:37] #624 closed

[2018-10-23 17:13] TaoHuUMD opened #626 "can I capture normal map of a point cloud?"
Visualizer() has functions "capture_screen_float_buffer" and
        capture_depth_float_buffer, and it works very well. But can I extract normal map (of a point cloud) at the same time?

[2018-10-23 17:17] tsyj0404 commented on #626
One method may be I could encode the normal in color channels of a point cloud, and then capture capture_screen_float_buffer. Does this work? But it is not a general way. Other methods?

[2018-10-23 18:04] syncle commented on #626
Hi, to render normal map, changing rendering option is the easiest way. Can you try [this example](http://open3d.org/docs/tutorial/Advanced/customized_visualization.html#mimic-draw-geometries-with-visualizer-class)?

[2018-10-23 18:19] tsyj0404 commented on #626
thanks. So "renderoption.json" is just set to show normal map of any point clouds? where can I find the introduction of changing rendering option?

[2018-10-23 18:46] tsyj0404 commented on #626
cool!  I need to estimate normal from point cloud, and clarify inside and outside of the object. But I do not find documents about "orient_normals_towards_camera_location" or orient_normals_to_align_with_direction. How to orient the normals?

[2018-10-24 13:32] SriGanesh130 opened #629 "Reconstruction system error"
Trying to reconstruct using color and depth images taken from real sense d435 camera but the result is like this...
![room](https://user-images.githubusercontent.com/42513897/47433833-d5787700-d7be-11e8-97c2-dfa5e200a672.png)

I am taking data using recorder_realsense.py and collecting data by holding sensor with hand. But it is not giving any satisfactory result. suggest me to how to collect data

[2018-10-24 22:19] syncle commented on #629
Here is a list:
- There is a tool for analyzing individual fragments. Try
[code]
and see if all of the fragments are looking good.
- If you found some fragments are breaking, see corresponding frames what's happening (maybe try capture image sequences slowly).
- Are you using rotation table or something? In that case, see the discussions on [here](https://github.com/IntelVCL/Open3D/issues/231#issu

[2018-10-24 23:10] yxlao commented on #629
Also see this demo as a reference:
[![IMAGE ALT TEXT](http://img.youtube.com/vi/AD0zp5zoA3w/0.jpg)](http://www.youtube.com/watch?v=AD0zp5zoA3w "Open3D Reconstruction Demo")
https://www.youtube.com/watch?v=AD0zp5zoA3w

[2018-10-25 05:16] #473 closed

[2018-10-25 05:20] qianyizh commented on #600
@dmontagu thanks for the contribution. I agree with your points. This is an important step towards a solution for the topology check of the pose graph - although a complete solution may need more work and more thorough research. I merged #601 and will close this issue for now. Feel free to reopen it if anyone finds any problem with this.

[2018-10-25 05:20] #600 closed

[2018-10-25 06:02] Hao-HUST commented on #623
Thanks a lot. As you suggested, the problem is solved.

[2018-10-25 06:02] #623 closed

[2018-10-25 06:15] qianyizh commented on #623
@yxlao I double checked our documents. I think we need to explicitly say that you need to run Visual Studio in administrative mode in order to compile INSTALL with default options. Can you add this to a ``tip`` or ``note`` to the document? Also I dislike the ``error`` bubbles in the doc, can we just all change them to ``note``? That would be great.

[2018-10-25 07:52] SriGanesh130 commented on #412
CUDA support could be very useful to work on open3d. It will speed up many processes.

[2018-10-25 10:01] martinakos commented on #608
I'm have tried to create a window with vis.create_window(visible = False) and no window appears.  Later in my code I'm using vis.capture_screen_float_buffer(True) to get a snapshot of what I've rendered in the now unvisible window and display it on my own GUI. However, with visible=False, the snapshot captures whatever is on the screen at that moment. Any way of capturing what is being rendered in

[2018-10-25 10:44] Chromium97 opened #633 "Integration Issue"
Hello I am using intel realsense d435 to capture aligned rgb and depth images for the reconstruction of 3d human model.
The fragments that are created are good, as you can see in the images, but
the integration step is creating a bad final ply file.
I am running run_system.py config/*.json --make --register --refine --integrate.

Any Help!

Thanks!

![whatsapp image 2018-10-25 at 4 08 30 pm](https

[2018-10-25 10:46] #629 closed

[2018-10-25 14:41] richipower opened #634 "Change size of picked point"
Hello, i created a script based on the example: http://www.open3d.org/docs/tutorial/Advanced/interactive_visualization.html?highlight=manual%20registration but the point size of the selected points is too big!, this causes me the problem that i cannot see anymore that i am selecting, is there a way to change the size of the point selected?
greetz!

[2018-10-25 14:42] richipower commented on #403
Hi!, are there some news on this issue?

[2018-10-25 17:26] kevinzakka opened #635 "[Question] Normal Estimation"
Hey guys,

Am wondering if there are robust strategies to determine a good set of hyperparameters for the normal estimation algorithm. Specifically, how can I couple the voxel downsampling, number of neighbors and radius size to eliminate outlier normals and return a the most common normal (i.e. mode).

Thanks

[2018-10-25 18:46] syncle commented on #635
HI @kevinzakka. I recommend to use 1:2 ratio for the point cloud downsampling and normal estimation.  For example, if you downsample your point cloud using 5cm voxels, you can use 10cm radius for the normal estimation. You can [refer this tutorial](http://open3d.org/docs/tutorial/Basic/pointcloud.html#vertex-normal-estimation).

However, this ratio is purely based on my experience. It may not the

[2018-10-25 18:49] syncle commented on #634
You press '+' and '-' to adjust sphere size. If it is not working in your environment (such as Mac), consider use pythonw to run the script.

[2018-10-25 18:58] syncle commented on #633
Human scanning is interesting application, but it is bit sad the result are not good yet.

Does the **every** fragments are looks perfect? Is there some jumps between frames? Otherwise, global registration just fails to register the thin structures.
- Consider decrease max_depth (I think 1m is enough) and voxel size (maybe 0.03m) to be focused on the human.
- Another trick for helping global regis

[2018-10-26 04:12] qianyizh commented on #403
The ticket on pybind11 is still hanging: pybind/pybind11#1481
Does anyone have a direct connection with the pybind11 team and can help us ping them?

[2018-10-26 09:19] jwm111 opened #640 "black block occurs in visualizer"
when i run the demo /Python/Tutorial/Basic/visualization.py  and spin the pointcloud , the visualizer  seems discontinuous and black block occurs in some frames ， just like following images  。
![screenshot from 2018-10-26 17-08-12](https://user-images.githubusercontent.com/19990848/47557223-b73b8400-d942-11e8-9e3d-ce0d92e91358.png)
![screenshot from 2018-10-26 17-08-25](https://user-images.githubu

[2018-10-26 16:35] rukie commented on #412
Rather than becoming specific to NVIDIA CUDA architecture, maybe a look into https://www.openacc.org/ could be beneficial.

[2018-10-26 16:39] syncle commented on #640
I never saw this, but thanks for informing us. Can you tell your environment and installation method? One quick option is to build from source with all the dependences included in Open3D.

[2018-10-26 17:01] takanokage commented on #412
True, we have many options each with pros and cons.
Just a few:

[CUDA](https://developer.nvidia.com/about-cuda)
[OpenCL](https://www.khronos.org/opencl/)
[SYCL](https://www.codeplay.com/portal/introduction-to-sycl)
[Halide](http://halide-lang.org/)
[ISPC](https://ispc.github.io/)
[OpenACC](https://www.openacc.org/)
etc.

This is an ongoing study and we appreciate any feedback and thoughts.

[2018-10-26 17:16] takanokage commented on #412
A bit about my opinion.

SYCL is an unexpected and solid contender.
An uncomplicated description of SYCL would be: SYCL is a single source C++ facelift of OpenCL. In theory SYCL has all the advantages of OpenCL with fewer of its disadvantages. The single source C++ makes it very friendly.

Halide is very solid as well. Single source C++ also. Halide has a very good coverage of hw architectures jus

[2018-10-27 11:50] apiszcz opened #642 "Please add __version__ attribute."
Please consider adding the __version__ attribute to the base module.

PEP0396
https://www.python.org/dev/peps/pep-0396/

I do not see the attribute:

['Always', 'ColorMapOptmizationOption', 'CorrespondenceChecker', 'CorrespondenceCheckerBasedOnDistance', 'CorrespondenceCheckerBasedOnEdgeLength', 'CorrespondenceCheckerBasedOnNormal', 'Debug', 'DoubleVector', 'Error', 'FastGlobalRegistrationOption',

[2018-10-27 15:34] giginap opened #643 "3d scanner with Reconstruction system and measurement - Question"
Hi,
Is it Possible to reconstruct an object from a depth camera(realsense D400) and convert into a mesh model? and then make a mesurement process on it.

Thanks

[2018-10-27 22:58] yxlao commented on #643
Please refer to this release video for an example on reconstruction with realsense camera: https://www.youtube.com/watch?v=6FkbxLLZyFQ

[2018-10-27 23:04] yxlao commented on #642
We do have that in https://github.com/IntelVCL/Open3D/blob/master/src/Python/Package/open3d/__init__.py#L31

[code]

[2018-10-28 07:43] yurivict commented on #566
I want to build it, separately, not disable.

[2018-10-28 09:00] ghost opened #644 "Some questions about Fast Global Registration ..."
Hello, Thank you for your work about FGR.
Recently, I am tring to use the FGR in my dataset, but I can not get the correct results. I have tuned all the parameters, but it does not work. The following are the sceenshots of my data.
![1](https://user-images.githubusercontent.com/34222433/47613838-f7c90800-dad0-11e8-834a-29b301755d63.PNG)
![1](https://user-images.githubusercontent.com/34222433/47613

[2018-10-28 13:35] apiszcz commented on #642
I used conda for the install, however 0.3.0 is installed, perhaps 0.4 has
the fix? Is there a conda channel to load the latest version/build versus
3.0?

conda install -c open3d-admin open3d
The following packages will be downloaded:
    package                    |            build
    ---------------------------|-----------------
    open3d-0.3.0               |           py35_0        15.5 MB
o

[2018-10-28 20:46] yxlao commented on #642
Right, 0.4.0 has the fix
We've uploaded the ubuntu and mac conda package for 0.4.0. Windows conda package will be coming shortly.

[2018-10-28 21:18] apiszcz commented on #642
$ conda install -c open3d-admin open3d
Solving environment: done
## Package Plan ##
  environment location: /plib/a3
  added / updated specs:
    - open3d

The following packages will be downloaded:
    package                    |            build
    ---------------------------|-----------------
    open3d-0.3.0               |           py35_0        15.5 MB
open3d-admin
The following NEW packa

[2018-10-29 00:07] yxlao commented on #642
@apiszcz Seems that you're getting open3d 0.3.0 in py35. I believe there are some python package dependency conflicts in our conda py3.5 builds. The result is that conda install open3d in python 3.5 always retrieves the 0.3.0 version. However 2.7 and 3.6 works for open3d 0.4.0.

For a quick fix, I'd suggest switching to py 3.6 for now. We'll be working on a proper fix.

[2018-10-29 01:55] versatran01 commented on #624
I tried

sudo make install-pip-package

and still get no module named open3d. The command runs without error though.

[2018-10-29 03:12] jwm111 commented on #640
thanks for your reply . my environment is ubuntu16.04 . I install Open3D from source according to the  tutorial. But the problem still remains whether dependencies are installed  firstly or built from source . . And I guess it's about  version conflict. I try these commands,then the problem are solved:
-     sudo apt-get install build-essential libgl1-mesa-dev
-     sudo apt-get install freeglut3-

[2018-10-29 03:12] #640 closed

[2018-10-29 05:06] yxlao commented on #624
We do not need to use `sudo` unless we need to install to the system python -- e.g. in virtualenv, no sudo is required.

If there are issues, try splitting it into multiple steps
[code]

See: http://www.open3d.org/docs/compilation.html#install-open3d-python-package

[2018-10-29 05:17] Chromium97 commented on #633
Thanks for reply!
Yes, every fragment looks perfect. No, there are no jumps between frames.

- I am trying to play with different parameters, and it's giving good results for max_depth=3m and voxel _size = 0.03.

- I don't want to keep any things near the human, so can you please suggest any other things we can change in order to get the best results. I mean changing any other parameter or functio

[2018-10-29 06:34] satwickdash opened #646 "Incorrect normal estimation from .ply file."
I am trying to estimate the normals of a face point cloud using `estimate_normals` method. But instead of the expected normals for a tangential surface at each point, all the normals are pointing towards the z-direction.

Link - [face.ply](https://gist.github.com/satwickdash/530942642d7a91e49b36a9d331a7e120)
The estimated normals look like:
![normals](https://user-images.githubusercontent.com/1101

[2018-10-29 07:31] syncle commented on #644
For the quick reference, please have a look [this](https://github.com/IntelVCL/FastGlobalRegistration/blob/master/troubleshooting.md)

[2018-10-29 09:14] satwickdash commented on #646
Thank you. On increasing the `radius` to 10 and `max_nn` to 30, the normals appear quite how I expected.

Also, is there a particular ratio of radius_size to max_nn, that is standardly observed ?

[2018-10-29 10:02] lukaspistelak opened #647 "organised Pointcloud, RGBD....?"
Hi
I am new into pointclouds technology and I really like your library.

Point Cloud data type object is obviously unorganized In this library, what I need is probably organized point cloud

My problem:

I have 2 frames of the same object taken by a different angle, So i have fór every frame organized RGB and XYZ values

I need to merge this 2 frames, so I need on output :

frame with organized RG

[2018-10-29 12:09] zhuangleilei commented on #644
I have checked the ratio, and it is right. Could you test my datasets? I need your help. Thank  you! @syncle

[2018-10-29 17:09] timfelle opened #648 "Linker Problems (KDTreeFlann::SearchKNN)"
Hello, I am using the Open3D library along with Visual Studio 2017 for a project. During which i am trying to make use of the KDTreeFlann class in order to do a Nearest Neighbour Search. I am using the function `open3d::KDreeFlann::SearchKNN` but i am getting the following error when attempting to compile the program:

`LNK2001	unresolved external symbol "public: int __cdecl open3d::KDTreeFlann::S

[2018-10-29 22:59] syncle commented on #647
Hi, luka, if you can express your xyz data as a depth map with intrinsic matrix, I think you can try [RGBD Odometry](http://open3d.org/docs/tutorial/Basic/rgbd_odometry.html#compute-odometry-from-two-rgbd-image-pairs).

[2018-10-29 23:08] syncle commented on #646
If you are using HybridSearch, max_nn is the maximum nearest neighbor to save some time - for example, once the radius search finds 30 nearest neighbors, it ignores the rest of the neighbors within the radius. It is not accurate, but you can easily set maximum upper bound for neighborhood search.

I guess the parameters used are reasonable, because the points are regularity distributed. Keep ``max

[2018-10-30 00:00] syncle commented on #644
![image](https://user-images.githubusercontent.com/18297113/47687022-5ce93000-db9b-11e8-9438-2bfadf8b2369.png)
I tried examples/Python/Advanced/global_registration.py with voxel size 1.0, but I haven't got reasonable result using FGR yet.

[2018-10-30 00:08] syncle commented on #633
If fragment looks good, only the reason could be global registration does not work properly, or the human was not stand still and global registration was failed to find correct loop closure. If you don't like to put anything in the background I can suggest the followings:
- Try capture static object like human (mannequin or similar size object etc.) if that is reconstructed well, the root cause is

[2018-10-30 00:14] syncle commented on #626
There are two python functions to orient estimated normal based on camera location or certain viewing direction:
https://github.com/IntelVCL/Open3D/blob/e5f205e7614d3bd20037af7ff8ef4f8442a70ded/src/Python/Core/open3d_pointcloud.cpp#L114-L122

[2018-10-30 00:38] zhuangleilei commented on #644
I have tried the GR in my datasets, and get the same result. But the method of GR is time-consuming, I want to register the pointclouds quickly.
That is to say, Is FGR not  suited for my datasets? Thank you very much for your reply. @syncle

[2018-10-30 02:03] yxlao commented on #642
Conda py35 dependency conflicts resolved and pushed to Anaconda cloud

[2018-10-30 02:03] #642 closed

[2018-10-30 04:39] zy871125746 opened #649 "Question about metadata in trajecotry file"
Hello everyone,
I am confused about the metadatas metioned In the documentation for trajectory [log file](http://redwood-data.org/indoor/fileformat.html). What are these metadatas?

[2018-10-30 07:13] qianyizh commented on #648
FLANN is header only so you don't really need to link it. The error looks like an Open3D internal function ``open3d::KDTreeFlann::SearchKNN`` is not successfully built and is not linked to your program. Can you double check if ``core.lib`` has been built in your build folder? (It should be the first thing your compiler builds.)

Also, can you paste the full output log from VS2017 console?

[2018-10-30 07:28] qianyizh commented on #403
Update:

We have heard back from Wenzel. The root cause is that we are casting a large vector of small vectors (std::vector<Eigen::Vector3d>) to python. (The new version of) Pybind11 does checks for all these casts to try to avoid copy.  So in our case pybind11 does lots of checks which drag the performance down.

There are a couple of workarounds that can help this. We are looking into them and t

[2018-10-30 08:56] timfelle commented on #648
It would seem `core.lib` have not been built.
The output from building my program: (If you meant the output from building Open3D then just let me know.

[2018-10-30 09:31] martinakos opened #652 "Capturing the rendering on an invisible window"
This is related with [this](https://github.com/IntelVCL/Open3D/issues/608) issue.

I'm have tried to create a window with vis.create_window(visible = False) and certainly no window appears. Later in my code I'm using vis.capture_screen_float_buffer(True) to get a snapshot of what I've rendered in the now invisible window and display it within my own GUI. However, with visible=False, the snapshot c

[2018-10-30 10:18] Firefly35 commented on #245
Sorry, I didn't see your answer at the time.
In fact, I thought of a similar mechanism that openCV provides with cv::Mat : it allows to bind(wrap) a buffer owned by the framework user under a cv::Mat. When the cv::Mat is initialised from the wrapping constructor, the cv::Mat class consider that it doesn't own the buffer, hence when the cv::Mat goes out of scope, the wrapped buffer is not deallocat

[2018-10-30 10:51] #633 closed

[2018-10-30 16:38] syncle commented on #652
HI @martinakos! ``vis.create_window(visible = False)`` is experimental; it guarantees hiding window, but may not work with glbuffer access. The workaround is to use virtual display environment like OSMesa. Can you try [headless rendering tutorial](http://open3d.org/docs/tutorial/Advanced/headless_rendering.html)?

[2018-10-30 21:32] syncle commented on #644
@zhuangleilei Could also try with [original FGR code](https://github.com/IntelVCL/FastGlobalRegistration)? When I fused the FGR into Open3D, I did some modifications, so that might cause some issue.

[2018-10-31 01:16] zy871125746 commented on #649
You have solved my question, thank you !

[2018-10-31 10:37] martinakos commented on #652
I build Open3D with headless rendering as explained in the link you give me and tried in my project. It worked but in my application I can get 11fps with the standard rendering whereas only 1 or 2 fps for the headless rendering. I'm suspecting it's slower because is using a software backend for OSMesa. If that's the case, do you know how to set it up so that it uses the graphics hardware?

[2018-10-31 11:37] giginap commented on #643
thank you yxlao,

are you planning to develop a real-time reconstruction and also do you have any advice to optimize in spread the reconstruction system?

[2018-10-31 23:14] morrisfranken opened #653 "Eigen Alignment"
Hi, I've been experiencing a number of random segfaults while executing functions like `RegistrationColoredICP` and `WritePoseGraph`. After debugging a bit, it turns out that these segfaults are coming from incorrect use of Eigen structures. For example, the following code will produce a segfault (compiled in release with gcc5.4 on Ubuntu 16.04, Intel I7-4712MQ)
[code]

Similar to what #88 has fou

[2018-11-01 10:36] Jason420Git commented on #553
I apologise for pestering but I am eagerly awaiting this change. 0.4 is now released and I have been able to use it successfully, is there an estimate on when this issue wiill be worked on?

Many thanks!

[2018-11-01 13:04] richipower commented on #634
Hi @syncle , thank you for your answer. Yes changing the sphere size of the point cloud works fine, but i would like to change the size of the picked points, the ones i select with 'shift' + 'mouse click', they are waay too big and i cannot select points in my point cloud, they block the sight, is this possible?

[2018-11-01 16:13] syncle commented on #634
Oh, I mean shift + '+' or '-'. It is defined here.

https://github.com/IntelVCL/Open3D/blob/d7341c4373e50054d9dbe28ed84c09bb153de2f8/src/Visualization/Visualizer/VisualizerWithEditing.cpp#L124

[2018-11-02 04:39] qianyizh commented on #648
It looks like your CMake has not successfully found Open3D. So the libraries are wrong. Can you check your project property -> Libraries. See if the installed Open3D directory is in the additional directories and core.lib is in input?

[2018-11-02 04:44] qianyizh commented on #652
Can you try the method I described in https://github.com/IntelVCL/Open3D/issues/17#issuecomment-339391580 ?

It sets up a hardware graphics acceleration environment (with a NVidia graphics card), then renders the window inside.

[2018-11-02 05:03] qianyizh commented on #245
Yeah, I understand the mechanism of ``cv::Mat``. The reason I decided against it is that it exposes a risk that the buffer is released by the framework user while the binded ``cv::Mat`` is still being used. There is no way to prevent it mechanically - you are completely relying on developers to write the correct code. Otherwise, this will cause a memory access error, which IMO is a pretty ancient

[2018-11-02 05:03] #649 closed

[2018-11-02 05:17] qianyizh commented on #643
We don't have plan for a real-time reconstruction system yet. The main reason is that the current system is built completely on C++ and without GPU acceleration it is very hard to make it real time.

The best practice in terms of optimization is to sample less frames (e.g., sample 10fps), and use larger fragments (e.g., 3s fragments). This way you reduce the size of the graph. And the accuracy doe

[2018-11-02 05:19] qianyizh commented on #653
@morrisfranken any suggestions for us to solve this issue?
@syncle @yxlao we should try to address this. I think multiple people have reported this.

[2018-11-02 10:26] martinakos opened #658 "Raycasting functionality?"
I'm using Open3D to do object reconstruction using the UniformTSDFVolume. I've made a demo were the user moves the camera to do the reconstruction and it works quite well. Now I need an automatic way to tell what areas of the object have been "successfully" reconstructed without me having to inspect the rendering of the object. I think this could be achieved by casting rays from sampled points on

[2018-11-02 16:01] qianyizh commented on #653
@morrisfranken I tried on a few Ubuntus and still cannot reproduce the error? Can you help us reproduce the error? Maybe package a docker container with the exact environment you have so we can exactly reproduce it. @takanokage can help you set up a docker if you are not familiar with it.

[2018-11-02 16:05] qianyizh commented on #403
For people who are following this thread, @yxlao made the fix in #657 . I am reviewing it and hopefully will merge it into master during the weekend. Please test it out and let us know if this addresses the performance issue for you.

[2018-11-02 16:09] qianyizh commented on #658
Not in the near future. The current focus is on providing support for deep learning frameworks.

[2018-11-02 16:10] qianyizh commented on #658
If you can implement this and contribute to Open3D that would be awesome!

[2018-11-03 10:50] richipower commented on #403
Thank you for the support! i will test it in the weekend :)

[2018-11-03 14:51] rafael2k commented on #643
Hi all,
I don't really understand the need of the fragment. I'm writing an offline scanner, and I'm capturing from Kinect2 using freenect, then aligning the PCs created from the captured RGB+D using FastGlobalRegistration. The transformation matrix from the registration result I feed the volume.Integrate extrinsic. Is this correct?
It seems almost working here.

[2018-11-04 16:30] djjacqmin opened #659 "Cannot import JVisualizer"
**Describe the bug**
When I run the example code usage in the Jupyter Visualization section of the Open3D Documentation, I get the following error:

`ImportError: cannot import name 'JVisualizer'
`

**To Reproduce**
Steps to reproduce the behavior:
1. Install open3d using conda in a dedicated environment
2. Run the example code from the Jupyter Visualization section of the Open3D Documentation

**

[2018-11-05 02:54] yxlao commented on #659
What python version is that? Could you please post the full terminal logs from installation to the import error?

[2018-11-05 09:21] richipower commented on #403
can we directly install the new version through anaconda? with pip install open3d? or should we build the new version from source?

[2018-11-05 10:10] timfelle commented on #648
core.lib is not located in the input, however it did not help to include it, and the Open3D library is included. I do not get any errors when i attempt to reinstall open3d.

[2018-11-05 17:58] yxlao commented on #403
before the next release, we'll need to build from source to get the latest version

[2018-11-05 21:54] takanokage commented on #653
I confirm that the issue is reproducible with the above test.

The fix for the above test, as suggested in #654 is to replace
`std::vector<Eigen::Matrix4d> poses;`
with
`std::vector<Eigen::Matrix4d, Eigen::aligned_allocator<Eigen::Matrix4d>> poses;`

[2018-11-05 21:56] takanokage commented on #653
However I'd also like to point out that the issue is **not** reproducible if instead of `emplace_back` we use `push_back`.

[2018-11-05 22:28] takanokage commented on #653
@morrisfranken another question: where you able to reproduce the issue without `emplace_back`?

[2018-11-05 22:34] takanokage commented on #653
This is the code I used:

[code]

Uncomment one section at a time (v1/v2/v3) in order to build/run the code.

[2018-11-05 22:51] morrisfranken commented on #653
These are a few more cases in which is segfaults for me without `emplace_back`
[code]

I'm however not an expert on Eigen and don't know exactly why it produces a segfault in the examples above. But it seems we are entering the realm of undefined behaviour, and even if it does not produce a segfault right away,- it may appear later in the program out of nowhere.

The Eigen documentation does not i

[2018-11-06 00:30] kevinzakka opened #660 "[Question] Plotting a Vector with a 6D Pose"
Hey,

I can't figure out how to plot a vector on top of a pointcloud. I've computed the surface normals and would like to plot only a single normal at a given (x, y, z) location with a given orientation.

I tried using a Vector3dVector but draw_geometries threw an error.

Would appreciate any help!

[2018-11-06 00:42] syncle commented on #660
Hi @kevinzakka, Please see this example http://www.open3d.org/docs/tutorial/Basic/visualization.html#draw-line-set. To draw a line you will need to define two points and edges. For example, you can you p, p+n to draw a line of normal vector for p.

[2018-11-06 00:57] kevinzakka commented on #660
HI @syncle,

I've installed open3d from source and cannot find LineSet. The output to `dir(open3d)` also doesn't show up.

[2018-11-06 01:10] yxlao commented on #553
@Jason420Git @qianyizh shall be resolved by #661

[2018-11-06 01:16] syncle commented on #660
Can you check that you are using the recent Open3D? We had some change on the python installation, so old open3d version is still being imported in your Python environment. Consider use "python -v" to see the the your Open3D package location, remove it, and install Open3D again from source or from conda or pip.

[2018-11-06 07:06] HTLife opened #663 "FileJPG.cpp undefined reference to ..."
When I tried to call `ReadImage` function in the following code, it is not linked correctly.
How can I resolve this?

main.cpp
[code]
CMakeList.txt
[code]

Build error message
[code]

**Desktop (please complete the following information):**
 - OS: Ubuntu 18.04
 - Open3D version:  8d90623

[2018-11-06 08:14] jinfagang opened #664 "Visual 3d point directly from numpy array"
Does it support visualize numpy array?

[2018-11-06 09:15] HTLife opened #665 "(Question) Custom rgbd format"
In the [rgbd_tum.py](https://github.com/IntelVCL/Open3D/blob/master/examples/Python/Basic/rgbd_tum.py) example, `create_rgbd_image_from_tum_format` expect a 1 channel color image.  If I want to create rgbd image from 3 channel(rgb) color image, what is the best practice?

[2018-11-06 10:50] richipower commented on #525
Hello, i am trying to do something similar, i created a pointcloud from a scene, and i have an image of that scene (2D) looking from above, i need to pick the points on the pointcloud, and pick also the same points in the 2D image to make a "mapping" of the values, so if the points in the cloud are valid, obtain the color from the 2D image.. is there a function in open3d that maps 2D-3D values?

[2018-11-06 11:47] gilsm commented on #525
Hi
I did not solve this eventually

On Tue, Nov 6, 2018 at 12:50 PM richipower <notifications@github.com> wrote:

[2018-11-06 15:54] djjacqmin commented on #659
Python Version: Python 3.6.6 :: Anaconda custom (64-bit)
Jupyter Version: 4.4.0

Here are the logs from running "conda install -n conda_open3d -c open3d-admin open3d -v" after uninstall:

[code]

Here's what I get when I run the example usage code in Jupyter.

[code]

[2018-11-06 17:09] takanokage commented on #653
[Using STL Containers with Eigen](https://eigen.tuxfamily.org/dox/group__TopicStlContainers.html)

According to the documentation found at the above link:

[2018-11-06 17:22] takanokage commented on #653
It would appear that we really need to make the change.

[2018-11-06 17:22] morrisfranken commented on #653
Eigen::Matrix4d is such a type among others (https://eigen.tuxfamily.org/dox/group__TopicFixedSizeVectorizable.html)

[2018-11-06 17:39] yxlao commented on #664
Almost -- first we'll need to create a `PointCloud` from the numpy array.

[code]

[2018-11-06 17:58] syncle commented on #665
Add ``convert_rgb_to_intensity=False``. It will create a RGBD image with color.

[2018-11-06 18:00] takanokage commented on #653
Well, all this said I'm not sure we really need to make this change everywhere in Open3D.
Could you first of all fix just the particular piece of code that causes the crash? Once that is fixed we can revisit making the change throughout Open3D.

[2018-11-06 18:02] syncle commented on #663
Can you try build with ``-DBUILD_JPEG=ON``? I think installed jpeg lib is being linked with Open3D, but it does not compatible. Please refer http://open3d.org/docs/compilation.html#compilation-options for more options.

[2018-11-06 18:06] yxlao commented on #659
That's weird, i was able to get the jupyter working with py36, conda and Mac. Seems like you were able to import `open3d` but not the `JVisulizer`.

First, could you try if the following command work?
[code]

We can also locate the `open3d` package and check the init file
[code]

The init file shall look like this:
[code]

Is that what you're getting?

[2018-11-06 19:06] kevinzakka commented on #660
Solved. Thanks @syncle !

[2018-11-06 19:06] #660 closed

[2018-11-06 19:16] skylouis opened #667 "Point cloud overlapping on mesh"
Hi
I'm trying to align a point cloud file coming from depth camera to a known model in order to determine the position of the camera relatively to the model.
I can convert the mesh model into a point cloud model in order to do the regular point cloud overlapping but by doing that i'm losing a lot information and the files i'm working on becomes heavier and more complicated to work with.
Could you

[2018-11-06 20:16] syncle commented on #667
I cannot get the point clearly. How did you convert a mesh into a point cloud?

[2018-11-06 20:49] djjacqmin commented on #659
I'm seeing some differences between your output and mine. When I run `python -c "from open3d.j_visualizer import JVisualizer"`, I get:

[code]

Here's what I get when I locate `open3d`:

[code]

Looks like I have the shared library but not the package files for some reason. Any thoughts?

[2018-11-06 23:17] HTLife commented on #665
It works!  Thank you.

[2018-11-06 23:17] #665 closed

[2018-11-06 23:46] HTLife commented on #663
I still got the `Wrong JPEG library version: library is 80, caller expects 90` error message.

[2018-11-06 23:48] syncle commented on #663
1) please make sure that removing the build folder and do cmake again.
2) install Open3D using pip or conda and see how it works.

[2018-11-07 00:57] sky3 commented on #245
Hi,
first thanks for your time.
I guess the question generalize to many others frameworks.
Luckily, many open source communities are growing arround 3d reconstruction, slam, geometry and image manipulation framework. Something really cool is that all these frameworks perform really well on their problems and reach a significant milestone in term of quality.

Specific hardware are quite common to s

[2018-11-07 01:56] syncle commented on #667
I see. I think your approach is absolutely correct because you are sampling points from continuous surface, and ICP is made for point cloud registration. I don't have advice for now, but it might be good if you apply voxel_downsample to make sure that sampled points are uniformly distributed in the space.

[2018-11-07 01:58] syncle commented on #664
I think we can say "yes" :) Thanks to #657, there is almost no overhead.

[2018-11-07 02:05] jinfagang commented on #664
@syncle @yxlao Many thanks. Open3D is a very good library, the only question is that it's not work very well with IDE for code suggestions such as PyCharm in Python interface. Would be better to promote it, then it could be good as OpenCV

[2018-11-07 02:14] yxlao commented on #664
Could there be settings in pycharm?

For example, Jupyter notebook does code suggestions pretty well:
<img width="691" alt="screen shot 2018-11-06 at 6 07 30 pm" src="https://user-images.githubusercontent.com/1501945/48106111-f1344200-e1ee-11e8-9485-a0258460be9b.png">

There are two cases: (1) pure Python code and (2) compiled C++ python module (and Open3D has a lot of them). Apparently Jupyter su

[2018-11-07 02:15] #503 closed

[2018-11-07 02:28] jinfagang commented on #664
I saw Open3D source codes, it did some promote suggestion optimization in Jupyter notebook. But not in pure python, I mean, pycharm or vscode can not work with that. If you try pycharm, you will see Open3D just failing at any code suggestions

[2018-11-07 02:47] yxlao commented on #664
From this https://stackoverflow.com/a/5196184/1255535, it seems to be possible to set up in PyCharm. Though there are other reports saying that it is not possible with PyCharm.

I did a quick comparison with opencv. The `__init__.py` file look almost identical, so if opencv autocomplete works, open3d shall also work
- https://github.com/skvark/opencv-python/blob/master/cv2/__init__.py (which expos

[2018-11-07 03:05] jinfagang commented on #664
@yxlao Thanks for your quick look. `__init__` file actually identical. I think maybe it's installation process makes sure the child package importable in IDEs. I am not quite specialized in Python package writing, helping for your guys improve it in the future and make Open3D a great library though

[2018-11-07 04:05] #553 closed

[2018-11-07 19:42] yxlao commented on #659
Looks like you're getting an incomplete package. Besides, this path doesn't look like a Conda path:
[code]
While in your previous post the Conda path was in
[code]
I would suggest removing `/Users/jacqmin/.local//lib/python3.6//site-packages/open3d.cpython-36m-darwin.so` manually and create a new conda env and reinstall open3d. After installation, the following files should be present in the instl

[2018-11-08 08:53] timfelle commented on #648
I solved the problem.
So initially i was attemtping to query Model.row(i) of the class Eigen::MatrixXd in the search tree. It was fixed by saving the Model.row(i) as a VectorXd and then do the query in the KDTree. So the problem turns out to be a template issue.

KDTree is build:

Original:

Fixed version:

[2018-11-08 09:44] yulizhou opened #669 "Any plans to add RGBD preprocessing?"
**Is your feature request related to a problem? Please describe.**
I think the quality of consumer level RGBD cameras is quite worrying in projects requiring better depth values.

**Describe the solution you'd like**
A set of common preprocessing tools for both color and depth would be nice. For example, bilateral filters or more sophisticated hole filling techniques to smooth the depth map.

**De

[2018-11-08 10:00] #667 closed

[2018-11-08 20:16] nawara72 opened #670 "D400 with open3d"
Hi
Does open3d 0.4 work with the D400 series (ie realsenselib2) or only the old realsenselib?

 I tried open3d examples with the D435, but couldn't get it to work?
Thanks
Nawar

[2018-11-08 20:46] dhorka opened #671 "Possible issue in point cloud generation of sun dataset. (1 point is missing)"
Hi,

I am not pretty sure if it is a bug or I am doing something wrong. I am working with the SUN-RGBD dataset and I am trying to create the point cloud using depth and color images. But in the resulting pointcloud 1 point is missing... I am following the tutorial provided in the documentation. The piece of code that I am using is this one:

[code]
**Output:**

I am was expecting to have 530*730 =

[2018-11-08 20:51] yxlao commented on #670
Yes, `realsense2` is supported.

In theory, Open3D is able to support any 3D sensors. All we need to do is to get the data from the sensor and feed to Open3D with the correct format.  So it's more like "example usage" rather than "build-in support".

We have a D435 demo at https://www.youtube.com/watch?v=6FkbxLLZyFQ. Also check https://github.com/IntelVCL/Open3D/tree/master/examples/Python/Reconst

[2018-11-08 21:45] djjacqmin commented on #659
Thanks @yxlao!

Problem solved. Turns out I had an earlier release that was installed with pip. Python, regardless of the environment, was using the pip-installed version rather than the version more recently installed with conda. Removing the problematic library manually and reinstalling open3d solved the problem.

[2018-11-08 21:47] #659 closed

[2018-11-08 22:09] nawara72 commented on #670
Hi yxlao, thanks so much for your reply. I tried to run it and thats what I got
 python.exe .\realsense_pcd_visualizer.py
Traceback (most recent call last):
  File ".\realsense_pcd_visualizer.py", line 29, in <module>
    pipeline = rs.pipeline()
RuntimeError: API version mismatch: librealsense.so was compiled with API version 2.15.0 but the application was compile
d with 2.16.1! Make sure correct

[2018-11-08 22:21] syncle commented on #671
Hi @dhorka, I think on of the depth pixel was not valid so ``create_point_cloud_from_rgbd_image`` didn't create a point for that. As you can see in here

https://github.com/IntelVCL/Open3D/blob/e08bae1fa0a9db0691d3726cda140d11738d439c/src/Core/Geometry/PointCloudFactory.cpp#L39-L50

It just only triangulates non-zero depth values. You can check if there are any pixels having zero values.

[2018-11-08 22:29] yxlao commented on #670
Line 29 is
[code]
which is pure RealSense code, which is not related to Open3D. I would suggest following the RealSense documentation to resolve this issue.

[2018-11-08 22:29] syncle commented on #670
It looks like the version issue. Can you upgrade your realsense library and try again? You can also upgrade the firmware for the camera.

[2018-11-08 23:46] nawara72 commented on #670
I have updated the firmware. I think the problem is that open3d/3rparty/ librealsense has the old librealsense. How can I compile open3d using the librealsense2, which i have already compiled and installed.?

[2018-11-08 23:51] syncle commented on #670
librealsense in our 3rdparty is just provided for reference, it is not the newest one. Please uninstall it and follow http://open3d.org/docs/tutorial/ReconstructionSystem/capture_your_own_dataset.html
@yxlao we will need to remove librealsense in our repo (or we need to move it to another repo for 3rdparty as we have discussed)

[2018-11-09 00:34] syncle commented on #670
Umm I don't know what librealsense2 you are referring (are you using ROS package?). I mentioned that you will need to follow https://github.com/IntelRealSense/librealsense/tree/master/wrappers/python as shown in the [documentation](http://open3d.org/docs/tutorial/ReconstructionSystem/capture_your_own_dataset.html)

[2018-11-09 01:04] nawara72 commented on #670
I have downloaded librealsense from https://github.com/IntelRealSense/librealsense, compiled, installed and ran the examples with D435 and all works fine. I compiled and installed open3d,
I have copied open3d.cp37-win_amd64.pyd and pyrealsense2.cp37-win_amd64.pyd to same folder of realsense_pcd_visualizer.py
 however can't seem to run the  realsense_pcd_visualizer  with D435, i keep getting the
pi

[2018-11-09 01:10] nawara72 commented on #670
I got it working at last, sorry to waste your time , it seems I just needed to copy the realsense2.dll into the same folder. Sorry again for wasting your time and really appreciate your help

[2018-11-09 01:50] syncle commented on #670
It is good to hear! Enjoy Open3D!

[2018-11-09 01:50] #670 closed

[2018-11-09 03:59] dhorka commented on #671
Hi @syncle, First at all thanks for your quick answer. As I said on the post, I am using the [toolbox](http://rgbd.cs.princeton.edu/data/SUNRGBDtoolbox.zip) provided for the authors in order to compare the results obtained in open3d. I re-checked and the depth file that I am using is not containing any zero values, all of them are valid values. (I checked using the matlab toolbox). Then maybe the

[2018-11-09 04:43] syncle commented on #671
Then, please check if the depth value has more than 7m.
https://github.com/IntelVCL/Open3D/blob/ef042a6c50e54c4bb56ccb4657a745c9b38c1b7f/src/Core/Geometry/RGBDImageFactory.cpp#L85-L88

[2018-11-09 06:09] dhorka commented on #671
I see. There is one value larger than 7 meters and when the comment said the depth is truncated, it means the value is eliminated, right? In the original matlab code the depth is truncated as 8 but the value is not eliminated, is tresholded to 8 as you can see in this piece of code:
[code]
Then the only solution possible at this moment to be able to obtain the same results that I obtaining using t

[2018-11-09 06:50] qianyizh commented on #525
@richipower there is no off-the-shelf mapping function. But I think it is not difficult to write one? E.g., you can have a w*h image, then create a point cloud, then create a w*h mapping function that map pixels to the point index in the point cloud.

[2018-11-09 07:00] qianyizh commented on #643
The purpose of fragment is to integrate a number of consecutive RGB-D frames to create geometry with less noise. If in your use case the raw RGB-D frames work well then there is no need for fragments.

[2018-11-09 07:13] #648 closed

[2018-11-09 09:52] syncle commented on #671
Yes. To do this,
1) you can do manually clipping them (something like ``depthInpaint(depthInpaint >8)=8;``) using the Python, change 7.0 in ``return CreateRGBDImageFromColorAndDepth(color, depth, 1000.0, 7.0, convert_rgb_to_intensity);`` to be larger than 8.0,
2) build Open3D from source.
By doing so, depth value more than 8.0 will become 8.0, and they will not be ignored, because ``CreateRGBDImag

[2018-11-09 16:00] #387 closed

[2018-11-09 21:41] ZF-AR opened #675 "Open3D/docs/_static/C++/TestVisualizer.cpp compilation error"
**Describe the bug**
Open3D compilation and installation successful.
But Open3D/docs/_static/C++/TestVisualizer.cpp cannot compile due to lpng16 error.

**To Reproduce**
Steps to reproduce the behavior:
1. cd /Open3D/docs/_static/C++
2. cmake .
3. make
4. See error

**Expected behavior**
/Open3D/docs/_static/C++$ cmake .
-- Found Open3D 0.2.0.0
-- Configuring done
-- Generating done
-- Build files

[2018-11-09 21:58] fzheng010 commented on #675
Fixed. Followed http://www.linuxfromscratch.org/blfs/view/8.0/general/libpng.html, and installed libpng manually.

[2018-11-09 22:05] fzheng010 commented on #675
Please help close. Thanks.

[2018-11-09 22:41] yxlao commented on #675
Seems an old version is used?
[code]

[2018-11-09 23:03] yxlao commented on #664
@jinfagang looked at it again today, turned out to be an easy fix #676

[2018-11-09 23:05] #675 closed

[2018-11-10 07:18] #664 closed

[2018-11-10 10:40] giginap opened #677 "Reconstructing objects on turntable?"
I'd like to know whether open3d can reconstruct 3d objects by moving object on the turntable.
it did try but when i turn object it failed tracking. are there any ideas?

[2018-11-10 21:28] syncle commented on #677
Please see the previous discussion [here](https://github.com/IntelVCL/Open3D/issues/231#issuecomment-403119855):
In summary - if the foreground moves and background stand still, Reconstruction system will fail.

However, the trick is to clip background depth by setting ``max_depth`` as the turn table depth and feed only foreground depth map to the reconstruction system. Pleasure measure rough dept

[2018-11-12 10:25] jwm111 opened #679 "TransformationEstimationPointToPlane::ComputeRMSE"
it seems a bug in funciton "TransformationEstimationPointToPlane::ComputeRMSE".
![image](https://user-images.githubusercontent.com/19990848/48341752-d6f3db80-e6a8-11e8-8cf4-e4defabb1bd6.png)

I think the variable "err"  is accumulative ，so "err = r * r" should  be instead by "err += r * r".

[2018-11-12 10:30] ppalaupuigdevall opened #680 "Can't read pcd.bin format"
Whenever I try to load a pcd in binary format (**pcd.bin**) I can't do it. I use the function _read_point_cloud('my_point_cloud.pcd.bin')_ but this one does not support this format.

Is it possible to load this format? If not, I think it could be a valuable feature to add.

Thank you and congratulations for the library,

[2018-11-12 16:22] dbadrian commented on #680
Replied to you on discord, but I think you didnt read it before leaving maybe?

**Short answer:** You need to rename your file from **.pcd.bin** to **.pcd** .

Why?: the correct function for loading is automatically inferred from the file extension and that is ".pcd". The information that it is (compressed) binary is read from the header itself and requires no user input. I am not the author of th

[2018-11-12 18:38] syncle commented on #679
That's great point. Thanks! Could you submit PR for this?

[2018-11-12 18:43] syncle commented on #680
Yes. As @dbadrian said, ``read_point_cloud`` determines file type based on its extension. Another option is to add ``format = "pcd"`` in the ``read_point_cloud`` in order to manually specify file format.

[2018-11-12 18:59] ppalaupuigdevall commented on #680
Hello, thank you for your answers. I checked https://github.com/IntelVCL/Open3D/blob/master/src/IO/FileFormat/FilePCD.cpp as @dbadrian said and I see that it based on the extension. I renamed the file to .pcd but the following error appears:
_Read PCD failed: unable to parse header._ . I think that all the pointcloud is in binary, including the header. I had no problems reading .pcd files but when

[2018-11-12 19:06] qianyizh commented on #680
Can you give more details regarding where you get these bin files? How are they created? Can you also give us a sample file so we can take a look?

[2018-11-12 20:06] ppalaupuigdevall commented on #680
Solved! The problem was not related to the library, it was a problem of not knowing the format and shape of the pointclouds. I opened the file with _pcd.bin_ extension with:
`numpy.fromfile(filename, dtype=np.float32)`
Then reshape it to Nx3 matrix and create a Pointcloud from a 3d vector as specified in here: [http://www.open3d.org/docs/tutorial/Basic/working_with_numpy.html#from-numpy-to-open3d-

[2018-11-12 20:06] #680 closed

[2018-11-13 02:47] #679 closed, assigned to nobody

[2018-11-13 08:16] yoshiyama opened #691 "An error on Mac OS Sierra"
An Error as below is happened when rgbd_redwood.py is executed.
Let me know how to solve it.
My computer environment is

- OS: MacOS Sierra version 10.12.1
- Python 3.6
- Open3D was installed using "conda install -c open3d-admin open3d" as below site.
- https://anaconda.org/open3d-admin/open3d

------ Error Report------
(py36) bash-3.2$ python rgbd_redwood.py

Read Redwood dataset
RGBDImage of siz

[2018-11-13 08:37] syncle commented on #691
I haven't seen this type of error so far. Here is my guess - Did the script crash before showing this window?
![image](https://user-images.githubusercontent.com/18297113/48400715-f7895900-e6db-11e8-9fb5-f39c3fd86d17.png)
If it is, the issue may comes from ``matplotlib``.

[2018-11-13 08:43] yoshiyama commented on #691
Yes, it did.
matplotlib(version 3.0.1) is already installed using conda.

[2018-11-13 16:48] ajayrfhp commented on #471
Can verify the white blank screen gets fixed by adjusting `depth_trunc` parameter in ` create_rgbd_image_from_color_and_dept`

[2018-11-13 18:05] DuccioLenkowicz opened #699 "Arm reconstruction from 360 scan via rgbd odometry and ScalableTSDFVolume"
I'm attempting to do an arm reconstruction using a 360 scan captured from a realsense d435 camera.
This is the code i'm using:

[code]

Here you see a couple of pictures of the resulting point cloud after voxel downsampling and euclidean clustering.

![capture1](https://user-images.githubusercontent.com/23456027/48432162-e9871700-e773-11e8-91db-f6b4fa6d3660.PNG)

![capture](https://user-images.git

[2018-11-13 18:39] syncle commented on #699
Hi @DuccioLenkowicz Thanks for sharing a new C++ example of Reconstruction system! The code looks great. The only reason I can think is that it does not have explicit loop closure detection steps. For example, in Python example of Reconstruction system it builds submaps (or called fragments) and register them globally to perform loop closure detection.

Here are two suggestion
- Can you feed the c

[2018-11-13 19:04] yxlao commented on #691
@yoshiyama could you narrow down which line of python code caused the crash?
As pointed out by @syncle , it could be related to matplotlib, this looks similar to your error message: https://stackoverflow.com/questions/32019556/matplotlib-crashing-tkinter-application/34109240#34109240

[2018-11-13 19:18] syncle opened #700 "Supporting print functions for Eigen::matrix"
**Is your feature request related to a problem? Please describe.**
It is not a problem - it is a feature request

**Describe the solution you'd like**
Print[Warning/Info/etc] functions can take Eigen::matrix and prints out matrix elements.
There is a discussion related to this request: https://github.com/IntelVCL/Open3D/pull/681#issuecomment-438399294

[2018-11-13 19:25] takanokage commented on #700
I think this is a great idea.
The Print utilities I originally implemented to help with the implementation of the unit tests can be repurposed, with minor changes, to be used inside Open3D.

[2018-11-13 21:11] syncle opened #701 "Correct use of smart pointers"
We will need to check if there is a code in current master has the similar issue what @yxlao mentioned. Please see: https://github.com/IntelVCL/Open3D/pull/694#pullrequestreview-174584341
In summary, when we make a new shared_ptr, we should avoid copy constructor.

[2018-11-13 22:50] syncle commented on #609
I just found out that @qianyizh's recommendation doesn't work out because the geometry gets bind to glsl_buffer at the time of add_geometry. Therefore, even if we do ``source.points = new_pcd.points``, it does not show the ``new_pcd``. This happens even if do ``update_geometry`` inside each for loop. ``updated_geometry`` works if the original point cloud buffer is unchanged. I think this is a bug,

[2018-11-13 23:05] syncle opened #702 "Improving Python API"
This issue is raised after I had some discussion with @germanros1987

### Consistent C++ and Python API
We need to improve Python API in order to have consistent use case as we can do with C++.
It is mainly because not all the public class/functions are not exposed to Python.
- For example, we can control visualizer with some parameters in C++, but we cannot change color map in Python interface be

[2018-11-13 23:08] syncle commented on #691
Yes. Try to comment lines relevant to the matplotlib. The more important thing is to see Visualizer window titled "Open3D". If matplotlib makes issue, I would recommend uninstall/install.

[2018-11-14 00:09] gtorpiano commented on #408
Hi, is there a fix for DLL issue? Does it work on python3.7? Thanks

[2018-11-14 01:40] Magicyu-1990 commented on #544
@lelouedec Hi! Could you share your method to aligned the depth and color images in the same image size?

[2018-11-14 20:07] ZF-AR opened #703 "Any plan to support occupancy grid mapping and visualization?"
Would be nice to integrate OctoMap or implement something similar
https://github.com/OctoMap
Thanks!

[2018-11-14 22:16] yxlao commented on #701
Did a quick check of current master (7218a5283b9034f2ab865b9f98032f61cf69aef7) of all usages of `make_shared` and `make_unique`, there's only one of such issue:
https://github.com/IntelVCL/Open3D/blob/7218a5283b9034f2ab865b9f98032f61cf69aef7/src/UnitTest/Core/ColorMap/ColorMapOptimization.cpp#L96

[2018-11-14 22:29] takanokage commented on #701
This is the same we've been discussing in #694.
My case was that all copies are not bad - they're only bad if you can prove they have a negative impact on performance or functional correctness.
The code is functionally correct and there's no performance bottleneck here that needs to be resolved.

[2018-11-14 22:41] syncle commented on #703
Thanks for the suggestion @ZF-AR, but our current workload is not assigned for OctoMap support. This issue make me to think factorize this request into two pieces - 1) octree support 2) octomap support. Actually 1) will be useful in general if we go for adding Poission surface reconstruction https://github.com/IntelVCL/Open3D/issues/270. If you are willing to contribute any of those, we are always

[2018-11-14 22:57] syncle commented on #701
Let's not compromise with current situation - in a long term the test function will be extended, and the current functions will be used as a reference. At that point, we may miss the point raised by @yxlao. I think we need to provide the best code, and this fix will not severely blocks our workload.

[2018-11-14 23:01] ZF-AR commented on #703
Got it. Thanks for your response!

[2018-11-14 23:26] ajayrfhp opened #704 "Enter preview mode by python code"
Is it possible to enter the preview mode for drawing mesh through python code. I find that using control +W preview mode shows much greater depth information for my point cloud

[2018-11-15 00:05] syncle commented on #704
If I understand the question correctly, you should able to enter preview mode with Python. Sometimes, python mode does not accept key events (especially MacOS), in that case, you can run your script with ``pythonw [your_script].py``.

Here is a good example to try: ``examples/Python/Advanced/interactive_visualization.py``, and there is a demo video about [this feature](https://www.youtube.com/watc

[2018-11-15 05:17] xuyongzhi opened #705 "Is there a function like write_line_set"
Is there a File IO method for Line_set, like write_line_set? Similar with write_point_cloud and write_triangle_mesh.

[2018-11-15 06:19] syncle commented on #705
Nope. Actually I am not sure if there is a common format that can support lineset. For point cloud and triangle mesh is widely used though. It is interesting question. Maybe we need to define a new general file format like .pcd in PCL?

[2018-11-15 09:10] ajayrfhp commented on #704
Sorry, I will add some clarification. I want to draw 30 meshes and all of the look better with the preview. Currently we can turn on the preview mode by pressing `control + W` after the mesh is rendered. So I have to do manually do this 30 times. Is it possible to turn on the preview inside the .py file and not during the user interaction.

[2018-11-15 15:07] Jason420Git opened #708 "Adding separate staticlib folder"
I am running 2 different projects using Open3D. One of them links Open3D statically, the other dynamically. Both are on Windows.

The switch to create static project or dynamic is very helpful for me. However I still need to recompile / install when switching between static and dynamic. Would it be possible to create a 'staticlib' folder that is found by find_package if the project is setup to be

[2018-11-15 20:29] yxlao commented on #708
To clarify, when you say static v.s. dynamic, which one do you mean?

1. Whether we build Open3D as a dynamic (`open3d.dll`) or a static (`open3d.lib`) library.
2. Whether we link with Windows static runtime (`/MT` or `/MTd`) or dynamic runtime (`/MD` or `/MDd`)

[2018-11-16 16:01] Jason420Git commented on #708
2. here. I am able to toggle on and off the Cmake switch for building windows static runtime. But when I switch to my other project which is using dynamic runtime, I have to rebuild open3D since it always overwrites the lib folder. I sometimes save both and rename the folders before running my other project but since Open3D is changing rapidly it becomes quite time consuming.

[2018-11-16 22:10] LLDavid opened #709 "How to find the ID of the point (picked from color frame) in the point cloud?"
Hi, I am working on a script for multi real-sense calibration .  A set of points will be picked up from the aligned color frame from each cam, and I use the RGBD image pair to get the point cloud:

[code]

Then I want to use the point clouds to calculate the RT matrix. But how can I know the sequence of the picked point in the point cloud ?
BTW, I tried with using intrinsic parameters to get point

[2018-11-17 21:32] syncle commented on #709
Hi @LLDavid,

to get a sequence of picked points, a relevant example is here: http://www.open3d.org/docs/tutorial/Advanced/interactive_visualization.html#manual-registration

to utilize intrinsic parameters from realsense camera, please check this script:
https://github.com/IntelVCL/Open3D/blob/master/examples/Python/ReconstructionSystem/sensors/realsense_pcd_visualizer.py
It will retrieve camera

[2018-11-18 06:36] yxlao commented on #708
Yeah, that seems like a very specific use case. If we want to achieve that, it seems like we have to config twice and build twice -- though the second build shall be faster, since most compiled object files can be reused, it's just the linking option that's different.

Theoretically it should be possible to implement that in CMake by inroducing two sets of build targtes. However, it seems to add t

[2018-11-18 16:53] pezcode opened #710 "Non-existing include directories in Open3D_INCLUDE_DIRS"
I'm using `find_package` with CMake to populate `Open3D_INCLUDE_DIRS`. So far so good, but when I try to add the directories to an interface library in CMake:
[code]
I get the following error:

This is related to https://github.com/IntelVCL/Open3D/issues/509 and a result of the fix. In the install step the _FileFormat_ folder is explicitly excluded from being copied, but in the previous call to
[c

[2018-11-18 19:52] pezcode commented on #710
There is a workaround, namely removing all non-existing directories from the list. Not ideal but it works:
[code]

[2018-11-19 08:03] yxlao commented on #710
Hi @pezcode, I couldn't reproduce the issue using the cmake `INTERFACE`. Here's my try: https://github.com/yxlao/Open3D/commit/c072004455bcc68290a822a39ddc4253f062732 . You're right that there are empty directories in the imported cmake file, but in my case the compilation and linking still works.

So could you please
1. Try renaming `Open3D` to other names like `Open3DInterface`? In my case, if t

[2018-11-19 08:20] yxlao commented on #710
BTW, your https://github.com/pezcode/open3d-core-android looks pretty cool. I saw that this CMake file is used in your android build. We'd like to know whether this build issue is specific to the android build environment.

I've been thinking about trying out Open3D on devices like Raspberry Pi, however it looks like the official version of GLEW does not work with OpenGL ES [from this post](https:

[2018-11-19 14:58] LLDavid commented on #709
Hi @syncle , thanks for the reply. The example shows get a sequence of points picked from 3D point cloud, but is there anyway to get a sequence of 3D points from 2D RGB points picked from the color frame?

[2018-11-19 16:42] pezcode commented on #710
Hey @yxlao, thanks for the quick reply.

I unfortunately left out a detail I didn't realize made a difference. Apparently CMake doesn't care for normal interface libraries, but it does care for imported libraries.

I'm not super familiar with CMake but [imported libraries](https://cmake.org/cmake/help/latest/command/add_library.html#imported-libraries) seemed to be the proper way to add a pre-comp

[2018-11-19 18:49] syncle commented on #709
Umm I am not sure if I understand your configuration and requirement correctly.

If your task is to get correspondences on image domain, I can think two suggestions
- One is to make a 3D planar scene using a color image. You can just use x, y coordinate as the same as image domain, and z = 0 for making the plane. With this configuration, if a point is picked, you will get a point index and its x,

[2018-11-19 19:06] LLDavid commented on #709
@syncle Sorry for the confusion. I should make it more clear.
Here is my original question: https://github.com/IntelRealSense/librealsense/issues/2736#issue-381663068
Basically I am trying to calibtrate 4 cameras through register a set of pointclouds picked from color frame.
I tried with the mannual registration example, but the accuracy is not enough for my application.

[2018-11-19 21:06] pezcode commented on #710
Had some freetime and added some code to Open3DConfig.cmake that takes care of creating the library. On top of the old variables it now adds a target Open3D::Open3D with all the transient properties set. All you have to do in your code is:
[code]
This is the standard way find_package works for the packages CMake finds (Boost, Bzip, etc).

Also found a neat way to make the paths relative so the ent

[2018-11-19 22:37] yxlao commented on #710
From [Boost's example](https://cmake.org/cmake/help/v3.12/module/FindBoost.html),
[code]
we do need to add `include_directories(${Boost_INCLUDE_DIRS})`.  Are you suggesting that we don't need to use `include_directories`?

Yeah, please submit a PR -- it shall be easier to discuss there when we have the concrete code. Thanks

[2018-11-19 23:08] pezcode commented on #710
You shouldn't have to if you link to the generated targets instead of using the variables. Boost defines one for each requested component, e.g.
[code]
is enough.

To get the header-only part you can use `Boost::boost`. Check out the example right below the one you quoted. The catch is that you need to explicitly list all the modules you want in the call to target_link_libraries (or I guess you cou

[2018-11-20 00:41] xuyongzhi commented on #705
Thanks for quick and nice reply! I think ply format can support this with element edge as shown in: http://paulbourke.net/dataformats/ply/
I currently use plyfile to do this: https://github.com/dranjan/python-plyfile

[2018-11-20 07:19] syncle opened #712 "Mac Build Warning"
**Describe the bug**
When a code is built from source, there are tones of warning messages.
[code]

**To Reproduce**
Build from source using current master branch

**Desktop (please complete the following information):**
 - OS: OSX (10.12.6)

**Additional context**
Need to fix CmakeList.txt

[2018-11-21 10:51] SergioRAgostinho opened #715 "Allow passing extra arguments to key callbacks in the visualizer"
Hey guys,

**Is your feature request related to a problem? Please describe.**
I'm making use of Open3D within Python, to save a couple of images from the visualizer upon pressing a key. Since I don't want to overwrite my image every time I press the "capture key", I need a variable visible inside my callback and incremented in every call, whose state persists between callback invocations. Check th

[2018-11-21 15:54] dbadrian commented on #715
It can find the variable, but you need to declare it *nonlocal* inside the callback function (and probably define it before the callback.

[code]

[2018-11-21 16:15] SergioRAgostinho commented on #715
Indeed. Lack of experience on my part. It could be solved using either `nonlocal` or `global`.

Well, my feature request is still somewhat applicable to the C/C++ interface, so I'm unsure if I should close this issue or not.

[2018-11-22 01:07] liambll commented on #231
@arrfou90: Sorry if this is unrelated. Could you please share the setting that you used to capture the dataset? I used D435 as well but I couldn't get such a good quality depth map.
Which tool did you use to capture 200+ images efficiently? I am looking at Open3D Realsense example:
http://www.open3d.org/docs/tutorial/ReconstructionSystem/capture_your_own_dataset.html
However, for some reasons, the

[2018-11-22 04:06] pezcode opened #716 "OpenMP linker flags"
Not really a bug but something I feel is worth getting right before it makes it into legacy code down the road.

In the main CMakeLists.txt, you find OpenMP and then set a few flags:
https://github.com/IntelVCL/Open3D/blob/d993d21ff650227c736b08b0e7028f4c5ce16830/CMakeLists.txt#L160-L174

1. The OpenMP find_package doesn't set `OpenMP_EXE_LINKER_FLAGS`
    - The [docs](https://cmake.org/cmake/help

[2018-11-22 07:46] arrfou90 commented on #231
Hi @liambll, I have used ROS to record the data. I have written a subscriber that listens to the images which are published by the [Intel  realsense ROS Wrapper](https://github.com/intel-ros/realsense). If you feel comfortable with using ROS, I can share with you the ROS subscriber node I have.

I have not used the Open3D tutorial to record the data so far, but I suppose it should work too! Please

[2018-11-23 07:02] yoshiyama commented on #691
Thank you for your advises.
It works by setting backend as Tkagg.

#backend :Agg is changed to
backend:Tkagg
on matplotlibrc file.

How to find where the matplotlibrc file is below command:
 python -c "import matplotlib;print(matplotlib.matplotlib_fname())"

Thank you for your cooperation.

[2018-11-24 10:45] templiert opened #718 "Parameters for global registration on a special 2d cloud ?"
I am trying to adjust parameters of the global registration to align two 2d point clouds (p1, p2, attached). There are small distortions and a few outliers between the two clouds.

To start with, I am not succeeding in simply registering p1 with a translation+rotation of p1. I have unsuccessfully tried many combinations of the parameters:
- voxel_size (I think it should be 1, the point locations a

[2018-11-26 13:47] Jason420Git commented on #708
Hi, yes that may be an option for me to create a script to pass to my team. I think we would want to take it further and have Debug builds as well since we also use Debug mode. Would this approach still work with Open3D's find_package?

[2018-11-26 14:15] lelouedec commented on #608
I have the same issues as mention above, the Headless example code create a window that stays open until the end of the code. And when setting visible as False, the capture is either black or the context selected (Any other application selected).
Headless rendering is a good and important feature, especially for scientific purpose, when it takes some times to render on screen a scene and we just w

[2018-11-26 18:43] pavan4 commented on #470
Hi, just a quick suggestion - You can use libigl to sample the mesh and generate a pointcloud. I managed to do it.

Here is a sample from libigl:

https://github.com/libigl/libigl-examples/tree/master/randomly-sample-mesh

[2018-11-26 19:40] liambll commented on #231
@arrfou90: My bad. It is working now.
Initially I put the object in open space and it seems that messes up my depth images from Intel Realsense camera. I tried putting the object in a box and it is working fine now, although I can see your 3D reconstructed object has much better details than mine.

I will experiment with different settings more to see if I can get better details.

[2018-11-27 22:59] rukie opened #719 "Color Space"
I'm curious if you've tested any performance impacts or accuracy impacts with different color spaces. I have come across some discussion on RGB vs HSV and L*a*b* Color spaces.

Example: Here the team uses Hue and drops Saturation and drops Value.
https://hal-lirmm.ccsd.cnrs.fr/lirmm-00128684/document

As always, thanks for the great tool!

[2018-11-28 04:58] sunit1409 opened #720 "OPEN 3D with PYREALSENSE creating problem"
Hello Fellas,
Kindly consider having a look at the following lines of codes :
    pipeline = rs.pipeline()
    config = rs.config()
    config.enable_stream(rs.stream.depth, 640, 480, rs.format.z16, 30)
    config.enable_stream(rs.stream.color, 640, 480, rs.format.bgr8, 30)
    pc = rs.pointcloud()
    points = rs.points()
    # Start streaming
    profile = pipeline.start(config)
    align_to = r

[2018-11-28 05:15] sunit1409 opened #721 "Open3d to read Pyrealsense images creating problem"
Hello Fellas,
Kindly consider having a look at the following lines of codes :
pipeline = rs.pipeline()
config = rs.config()
config.enable_stream(rs.stream.depth, 640, 480, rs.format.z16, 30)
config.enable_stream(rs.stream.color, 640, 480, rs.format.bgr8, 30)
pc = rs.pointcloud()
points = rs.points()

profile = pipeline.start(config)
align_to = rs.stream.color
align = rs.align(align_to)
count = 0

[2018-11-28 05:16] #720 closed

[2018-11-29 05:37] yxlao commented on #712
Encounter the same problem. On CI, there is also a lot of such warning, see https://travis-ci.org/IntelVCL/Open3D/jobs/460845985#L2675.

This was introduced in a previous commit:
https://github.com/IntelVCL/Open3D/pull/707/files#diff-af3b638bc2a3e6c650974192a53c7291R139

[2018-11-29 12:39] sunit1409 commented on #721
oops normalized float 32 solved it,
closing the issue now

[2018-11-29 12:39] #721 closed

[2018-11-29 14:14] ozankabak commented on #570
I also would like to know if it is possible to integrate point clouds. I see that `ScalableTSDFVolume`'s `integrate` method only takes in RGBD images as its argument. Is there a workaround to feed point clouds?

[2018-11-30 05:19] #712 closed

[2018-11-30 06:48] MikarLittle commented on #564
thank you !!!

[2018-11-30 07:08] qianyizh commented on #718
Umm, you need a 2D feature to run registration for 2D point clouds. Open3D does not have such a feature yet. (The FPFH feature used in Open3D is a 3D feature based on local geometry - in 2D case, it is a local surfel, thus cannot distinguish different points.)

But I think registering 2D point sets is a relatively easier problem. You can look for similar feature extractors / registration algorithm

[2018-11-30 07:19] qianyizh commented on #719
I have experimented different color spaces a few years ago when I started the color map optimization project. Here are my personal (very rough and empirical) summary:

1. For alignment purpose, intensity is usually enough. The strongest signal comes from the texture edges. No matter which color space you use, texture edges are always there. So intensity is enough.
2. For synthesize / composition p

[2018-11-30 07:21] qianyizh commented on #570
Not for now. It is on our roadmap.

[2018-12-01 19:25] MulinYu opened #723 "registration_icp threshold"
hello，i have a question. What is the mean of parameter "threshold" in method "registration_icp" of "point to point". Waiting ur reponse. merci.

[2018-12-01 20:55] syncle commented on #723
Hi @MulinYu. It is used for finding correspondence set given current transformation matrix estimation. Specifically, in step 1) in[ this document](http://open3d.org/docs/tutorial/Basic/icp_registration.html#point-to-point-icp), only the point within the distance of the given threshold is considered as a correspondence, and added to the set K.

[2018-12-01 23:35] syncle commented on #709
I am not sure what is the left image. Assuming color and depth image are aligned, the point cloud is back-projected using the aligned coordinate.

[2018-12-01 23:40] syncle commented on #718
I think the example data is ill-posed. Instead of the unique solution, any transformations that can align the planar scene could be the solution. Does the pattern in the 2D domain has meaningful distribution? Otherwise, I think any feature descriptor just describes a feature about planar scene, and could be matched to any region.

[2018-12-02 23:03] #701 closed

[2018-12-04 05:09] wangyingyu opened #724 "About /Python/Tutorial/Advanced/outlier_removal.py"
Hello,
I want to use the point cloud denoising feature. I see this feature in `/Python/Tutorial/Advanced/outlier_removal.py `but it can only be displayed but not saved. I want to save the denoised point cloud using the write_point_cloud()  function.But
[code]
statistical_outlier_removal()  I didn't find its definition and I don't know what the returned value is. You can give me some advice on how

[2018-12-04 05:14] syncle commented on #724
You can see the following lines from the tutorial:
[code]
here, ``inlier_cloud`` is inlier subset of the point cloud. You can use
[code]
to save ``inlier_cloud``

[2018-12-04 06:14] wangyingyu commented on #724
Thanks for your reply.I modified the code according to your method, as follows:
[code]
Then prompt after running the program
[code]
How can I do this?

[2018-12-04 06:32] wangyingyu commented on #724
I tried this before, when the code is like this:
[code]
Run this program to return an error:
`Write PCD failed: unable to generate header.`

[2018-12-04 08:11] wangyingyu commented on #724
So, can you give me some advice on how to modify it? Or I want to know where these functions are defined, I can find them and see where the problem is. Thank you.

[2018-12-04 12:59] templiert commented on #718
Ok that's clear, thanks.

I agree.

I could not find a 2D feature extractor working with a point cloud specifically (using for example the relative position of one point to its neighbors as a descriptor), easy to use with python and easily parallelizable.

Sorry I am not sure I understand what you mean. In the example a 2D random point cloud has been transformed in the same plane, and I was trying

[2018-12-04 15:53] syncle commented on #724
This should work out-of-the-box
[code]

``Write PCD failed: unable to generate header.`` this might be because of the point cloud you wanted to save is empty. Can you do ``print(inlier_cloud)`` or  ``print(len(inlier_cloud.points))`` and see how many points remain after the filtering?

[2018-12-05 02:02] wangyingyu commented on #724
Thank you very much. Yes, the number of points I filtered is 0. This is because all points have been filtered after Radius oulier removal. I have solved this problem now.

[2018-12-05 02:02] #724 closed

[2018-12-05 11:24] rpautrat opened #726 "Color integration in UniformTSDF only partially truncated"
Hi, thank you for providing this nice library, it is very useful.

I have a doubt about the color rendering of the TSDF. From the line 311 and further of the file  `Open3D/src/Core/Integration/UniformTSDFVolume.cpp`, it seems that only the voxels with an sdf value greater than minus the truncation threshold are updated (as should be the case): `if (sdf > -sdf_trunc_f)`. However, shouldn't there be

[2018-12-05 16:58] ChenDRAG opened #727 "i think this is a bug,hope you can help me"
i use
 vis.get_view_control().convert_from_pinhole_camera_parameters(intrinsic, extrinsic)
to try to change the vis's intrinsic , but get the error message
[ViewControl] ConvertFromPinholeCameraParameters() failed because window height and width do not match.
however,i specificly set window size but still get the error message .
it seems that the vis do not allow others to change its intrinsic?

h

[2018-12-05 18:07] yxlao commented on #727
One possible reason is that `convert_from_pinhole_camera_parameters` function signature has been changed in https://github.com/IntelVCL/Open3D/pull/597. It now takes the camera parameter instead if intrinsic and extrinsic.

[2018-12-06 01:41] ChenDRAG commented on #727
i read #597,but don't really get it?
does that mean i for now cannot change the intrinsics by myself of is there annother to do  it?  can you please show me(a function or an example would be enough) ?
also , it seems that i cannot use the clase newly merged in #597

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
NameError: name 'PinholeCameraParameters' is not defined

Tr

[2018-12-06 02:33] ChenDRAG commented on #727
is that because i pip3 install a wrong version of open3d?

[2018-12-06 03:18] yxlao commented on #727
Oh sorry, that was a separate issue. To use the new features in `master` branch, we'll have to build from source. `pip install` only gets the released milestones.

Now, assuming we're using the 0.4.0 release. Regarding the original question, according to [here](
https://github.com/IntelVCL/Open3D/blob/master/src/Visualization/Visualizer/ViewControl.cpp#L154), we need to change the `cx = width / 2

[2018-12-06 04:01] ChenDRAG commented on #727
got it , problem solved.thanks a lot .
really appreciate your help.

[2018-12-06 04:01] #727 closed

[2018-12-06 13:11] timfelle opened #728 "Read and Write pointcloud progress bar"
Is it possible to avoid the progress bar output when using the c++ api of Open3d::ReadPointCloud and the write equivalent version as well?

[2018-12-06 20:13] syncle commented on #728
Hi @timfelle. The option you can try now is to comment out ``ResetConsoleProgress`` ``AdvanceConsoleProgress`` functions in Open3D/src/IO/FileFormat/FilePLY.cpp (I am assuming you are working with ply file format)

In a long term (**note for Open3D dev team)**, it would be good to control this progress bar message using the following scopes
https://github.com/IntelVCL/Open3D/blob/aa70a654b606ffe44

[2018-12-07 07:29] #718 closed

[2018-12-07 07:42] qianyizh commented on #726
Yes!! This is implemented intentionally in this way. The reason is that RGB-D images are noisy and contain outlier pixels. They may become floating points here and there. For example, in the following setting, when camera is at ``camera1``, it may create an ``outlier point`` from sensor noise.

[code]

If the TSDF is strictly truncated (using ``if (sdf > -sdf_trunc_f && sdf < sdf_trunc_f)``, there

[2018-12-07 07:58] rpautrat commented on #726
I see, thanks a lot for the detailed explanation! Indeed, for the color one can always use only the points on surfaces and ignore the points in empty space anyway.

[2018-12-07 07:58] #726 closed

[2018-12-08 07:14] H-Paul opened #730 "Installation on Jetson TX2"
I want to use Open3D with Python3.5 on a Jetson TX2 running Ubuntu 16.04.
When I tried to build it, I am getting the following error. Please help!!

[  0%] Built target Python
[  1%] Building CXX object src/Tools/CMakeFiles/EncodeShader.dir/EncodeShader.cpp.o
[  2%] Building C object 3rdparty/tinyfiledialogs/CMakeFiles/tinyfiledialogs.dir/tinyfiledialogs.c.o
[  3%] Building CXX object src/IO/CMake

[2018-12-09 05:36] H-Paul commented on #730
Thanks @yxlao. That worked!
But when I tried to run `sudo make install-pip-package`, I ran into following error:

    ----------------------------------------

[  1%] Built target EncodeShader
[  2%] Built target ShaderFileTarget
[ 27%] Built target Visualization
[ 30%] Built target tinyfiledialogs
[ 61%] Built target Core
[ 79%] Built target IO
[ 80%] Built target Open3D
[100%] Built target open3

[2018-12-09 09:17] yxlao commented on #730
Looks like `pyzmq` installation failed. I would suggest first making sure that this work on your system
[code]

If it is hard to get it working (e.g. if `pyzmq` itself is not supported in Jetson), we could turn off the Jupyter support by `cmake -DENABLE_JUPYTER=OFF -DOTHERFLAGS ..` and change `src/Python/Package/requirements.txt` to only include `numpy`. This should get rid of the need for `pyzmq`

[2018-12-09 09:42] H-Paul commented on #730
Installed `sudo apt-get install libzmq3-dev` before `pip install pyzmq` and executed `sudo make install-pip-package`. It was successful. I can import open3d in python now.

Thanks!

[2018-12-09 18:10] yxlao commented on #730
great

[2018-12-09 18:10] #730 closed

[2018-12-10 19:40] kevinzakka opened #731 "Check if Points Within Polygon"
Hello,

Was wondering if there is a way of checking if points are within a polygon defined by a list of vertices? It seems the solution is to do ray casting but am wondering if there is a more efficient solution.

Thanks

[2018-12-11 02:13] sjwhhhi opened #732 "Cannot reconstruct pcl from depth image"
Hi, it is an excited project!! However, I met a problem.

After running the following code, the result show nothing.

`depth = read_image('1.png')
pcd = create_point_cloud_from_depth_image(depth, PinholeCameraIntrinsic(
            PinholeCameraIntrinsicParameters.PrimeSenseDefault))
pcd.transform([[1, 0, 0, 0], [0, -1, 0, 0], [0, 0, -1, 0], [0, 0, 0, 1]])
draw_geometries([pcd])`

And here is my d

[2018-12-11 09:15] MulinYu opened #733 "ICP ,Global regestration and the method for testing"
Hi, I have a question ,for ICP(Point to Point) and Global registration, if i give the method points cloud with color. Dose they consider the color when they do registration.

For testing the result of the ICP with color, you seem to use the same method as when we don't consider color. Is there better method for testing the result when we consider color ?

thanks,

waiting for your reply.

[2018-12-11 15:17] timfelle commented on #728
Thankyou for the help.
For the interested reader the exact code to solve the problem was `SetVerbosityLevel(VerbosityLevel::VerboseError)`

[2018-12-11 15:17] #728 closed

[2018-12-11 21:23] syncle commented on #732
Could you check your depth map is written with 16bit png image, and follows the one of the following format described here? http://www.open3d.org/docs/tutorial/Basic/rgbd_images/index.html
There are corresponding examples of depth images:
https://github.com/IntelVCL/Open3D/tree/master/examples/TestData/RGBD

[2018-12-12 02:09] kevinzakka commented on #731
Thanks @syncle, was able to figure out!

[2018-12-12 02:09] #731 closed

[2018-12-12 09:56] MulinYu commented on #733
Hi，I am sorry that I said it is not clear.

1，I want to know if you consider the color of the point cloud when you use ICP registration(point to point) and Global registration.

2,  I found that the results of the ‘Colored point cloud registration’ method and the ‘ICP registration’ output are both “Fitness, RMSE and number of related points”. Is the calculation of the 'Fitness, RMSE and number of

[2018-12-12 09:57] MulinYu commented on #733
Hi，I am sorry that I said it is not clear.

1，I want to know if you consider the color of the point cloud when you use ICP registration(point to point) and Global registration.

2, I found that the results of the ‘Colored point cloud registration’ method and the ‘ICP registration’ output are both “Fitness, RMSE and number of related points”. Is the calculation of the 'Fitness, RMSE and number of r

[2018-12-13 16:13] ndrplz opened #734 "Is there a way to set line thickness when drawing a LineSet?"
As the title suggests, is there a 3D equivalent of `thickness` parameter in [`cv2.line`](https://docs.opencv.org/2.4/modules/core/doc/drawing_functions.html#line) when drawing a LineSet?

Like the `tube_radius` in [this](https://github.com/enthought/mayavi/blob/5c2694b72b329b8d5c469bc459a211378e2c8581/examples/mayavi/mlab/protein.py#L132) myavi example.

Thanks,
A

[2018-12-13 16:19] timfelle opened #735 "WritePointCloud closing program with no warning"
I am writting a program to add synthetic noise and transformation to pointclouds. However adding outliers to a pointcloud sometimes cause the WritePointCloud function to close the program with no error or warning message.

Outliers are added by randomly selecting an index and adding a rather large normally distributed noise to that point in the point cloud.

[2018-12-13 17:56] syncle commented on #735
Hi @timfelle, could you explain your environment, minimal code and data, so that one of us can reproduce the issue?

[2018-12-13 18:48] syncle commented on #734
Hi @ndrplz, I am working on the request in this branch -> https://github.com/syncle/Open3D/tree/line_width it shall be submitted by this weekend.

[2018-12-14 07:56] timfelle commented on #735
I am running a Visual Studio 2017 solution and test the program through the Cygwin console. The data i am using is the stanford bunny point cloud ply files. I have been experimenting with the `SetVerbosityLevel` but none of the levels seem to show an error when the program stops.
[code]

[2018-12-15 06:35] syncle commented on #735
Code looks fine except for few points.
[code]
Can you check index does not exceed the number of points?
[code]
Can you check ``dataName[1]`` points correct path? You can just try "test.ply" (not providing the path but just filename) to see if the incorrect path is the issue.

[2018-12-15 06:50] apurvazaveri opened #736 "Compile from source - make error - Mojave"
Here is a complete terminal log along with the system information:
[code]

[2018-12-16 04:29] fwilliams opened #737 "Add `register_key_callback` method to visualizer"
**Is your feature request related to a problem? Please describe.**
Right now, you can create a visualizer and register an animation callback e.g.:
[code]
But there is no such option for registering key event callbacks. I would like a function: `Visualizer.register_key_callback(key, callback)` so that I can register both key and animation callbacks in a `Visualizer`

There is an option for starting

[2018-12-17 01:10] yxlao commented on #736
Noticed a difference when I am trying to reproduce the issue on Mojave (it works for me on Mojave without openmp). In your config log, there is a line:
[code]
Since mac's default clang does not support OpenMP out-of-the-box, OpenMP support in Open3D for mac is not fully tested. The temporary fix would be to disable OpenMP by
[code]

Do you recall how did you previously install OpenMP on mac? There

[2018-12-17 08:38] ChenDRAG opened #739 "get depth map from raw mesh(.obj) project"
hi.
i,m trying to use open3d to extract depth map from an obj file(given camera parameters).currently i'm using
the method below

[code]

however there are two drawbacks:
1.every time i want to save a depth map ,i have to open the render displayer,i want to know that if i can get
depth buffer without doing that?
2.as you can see, if i set
[code]
it will report error

but if i set
[code]
the result

[2018-12-17 08:41] ChenDRAG commented on #739
also if i set
w=300
h=200
it reports bugs
[ViewControl] ConvertFromPinholeCameraParameters() failed because field of view is impossible.

i don't know why this happens?

[2018-12-17 10:03] timfelle commented on #735
None of your sugestions seem to make a difference. The indicies do not exeed the size of the array and the path did not make a difference. The WritePointCloud function is always started but sometimes it just close the program.

[2018-12-17 13:16] rishikeshck opened #740 "Custom visualization by giving points as input."
**Is your feature request related to a problem? Please describe.**
I'm trying to do a custom visualization of the point cloud input given as some points in the point cloud.
for eg. I have a huge terrain forest dataset with a road through a forest. I want to navigate along the road(by having the road x,y,z points with me). Is there any way to do that.

I have explored custom visualization but unfor

[2018-12-17 18:12] syncle commented on #735
That's not true. According to [this reference](https://en.cppreference.com/w/cpp/numeric/random/uniform_int_distribution)

and your generator was initialized by
[code]
that means ``randi`` will produce [0, (int)nPoints]. **It will exceed the maximum index.**

It should be
[code]
As you are already experiencing, wrong memory access to ``std::vector`` container can make unexpected behavior.

If the

[2018-12-17 18:19] syncle commented on #739
Hi @ChenDRAG, could you distinguish the code part and question part more clearly? You can use github web features (buttons on the right corner of the textbox) to polish. It will help to understand the issue better for us or for potential Open3D users.

[2018-12-17 18:21] syncle commented on #740
I cannot fully understand the use case. Could you elaborate it more?

[2018-12-17 18:25] #723 closed, assigned to nobody

[2018-12-17 18:54] syncle commented on #719
Closed due to inactivity. @rukie: feel free to reopen this if necessary :)

[2018-12-17 18:54] #719 closed

[2018-12-17 18:56] syncle commented on #238
Addressed in #725.

[2018-12-17 18:56] #238 closed

[2018-12-17 19:04] syncle commented on #456
We have tested our recent release with virtualenv or anaconda, so the issue is resolved. @takanokage: feel free to reopen it.

[2018-12-17 19:04] #456 closed

[2018-12-17 19:05] syncle commented on #447
As the follow-up, @takanokage is making multiple docker environments to test Open3D with various Ubuntu platforms + naive Python installations. @takanokage: please take the ownership on this issue.

[2018-12-17 19:09] syncle commented on #412
Awesome! @takanokage had volunteered for this issue. @takanokage: please take a full ownership.

[2018-12-17 19:16] pezcode commented on #710
I've been drowning in assignments and kinda forgot, my bad. Will send a PR tomorrow that adds CMake imported targets and fixes this (and https://github.com/IntelVCL/Open3D/issues/716) along the way.

[2018-12-17 19:17] syncle commented on #408
@HaiDang2001VN @gtorpiano @Travis346: we have resolved many issues for pip package. Could you try again and share the status?
@yxlao: how about we add a support for Python 3.7?

[2018-12-17 19:19] syncle commented on #403
Addressed in #657. @VinceDT @argosvr @richipower: Please check :)

[2018-12-17 19:19] #403 closed

[2018-12-17 19:23] syncle commented on #663
Closed due to inactivity. @HTLife: Please reopen this if necessary :)

[2018-12-17 19:23] #663 closed

[2018-12-17 19:24] #646 closed

[2018-12-17 19:24] #644 closed

[2018-12-17 19:33] syncle commented on #608
Another helpful comment would be to check if OpenGL uses OSMesa. @benjiebob @martinakos @lelouedec: can you share your environments? Are you using Ubuntu + OSMesa?

[2018-12-17 19:36] syncle commented on #571
Closing due to inactivity. @adioshun: Feel free to reopen it if necessary :)

[2018-12-17 19:36] #571 closed

[2018-12-17 19:37] syncle commented on #561
Closed for now due to inactivity. @Vincent-2017: Feel free to reopen it :)

[2018-12-17 19:37] #561 closed

[2018-12-17 19:37] takanokage commented on #447
Yep, I have implemented docker based build & unit tests using the following configuration parameters:
- Ubuntu 14.04/16.04/18.04
- native installation of python2/python3
- miniconda2/miniconda3
- with/without native installation of Open3D dependencies (like GLEW, GLFW, Eigen, etc.)
- STATIC vs SHARED builds

Currently I'm validating my implementation and fixing bugs. I'll release soon.

[2018-12-17 19:40] syncle commented on #511
Closed due to inactivity. @CZ-Wu: please feel free to reopen this if necessary :)

[2018-12-17 19:40] #511 closed

[2018-12-17 19:41] syncle commented on #510
This issue have not been addressed for a long time. @yxlao: any updates?

[2018-12-17 19:44] syncle commented on #372
@yxlao: I guess you have experienced similar issue while you worked with open3d-pointnet-xx. Could you take a look this issue?

[2018-12-17 19:49] syncle commented on #733
1. Yes. We considered color for the local and global registrations.
2. Yes. It is RMSE for point to point distance.
3. I am not sure, as we can judge that the geometry is correctly aligned using RMSE, but the color alignment could be arbitrary. It is because the color value is not absolutely consistent in practice.

[2018-12-17 19:50] syncle commented on #705
Thanks for the suggestion. @xuyongzhi! I am working on this.

[2018-12-17 19:54] syncle commented on #647
Closed due to inactivity. @lukaspistelak: feel free to reopen this if necessary :)

[2018-12-17 19:54] #647 closed

[2018-12-17 19:54] #635 closed

[2018-12-17 20:00] syncle commented on #677
Closing this issue due to inactivity. @giginap: Feel free reopen this if necessary. :)

[2018-12-17 20:00] #677 closed

[2018-12-17 20:01] syncle commented on #671
Closed for now due to inactivity. @dhorka: Feel free to reopen this if necessary :)

[2018-12-17 20:01] #671 closed

[2018-12-18 00:44] syncle commented on #560
Hi @kevinzakka. I am revisiting this. Could you explain more on the request? Is that different from ``ctrl  + mouse drag``?

[2018-12-18 04:04] kevinzakka commented on #560
Hey @syncle. If you use meshlab, it's the same action you do when you lick the scroll wheel and move the focal center of the camera.

[2018-12-18 04:09] kevinzakka commented on #560
@syncle It seems it's `control + shift + click` on macOS!

[2018-12-18 06:52] timfelle commented on #735
It seems that was the issue, thank you. I would have expected an segmentation fault would have been cast when i attempted to access the element, however that was not the case.

[2018-12-18 06:52] #735 closed

[2018-12-18 08:05] yxlao commented on #408
Potentially we can add it in `v0.5` release, but it would be a manual add. For `v0.6` when we have the automatic packaging, we should definitely support it. What do you think @syncle ?

[2018-12-18 08:45] syncle commented on #441
Closed due to inactivity. @argosvr Feel free to reopen this if necessary.

[2018-12-18 08:45] #441 closed

[2018-12-18 09:19] syncle commented on #560
Got it. Let me work on this.

[2018-12-18 10:55] ChenDRAG commented on #739
Oh sorry,i didn't notice that.I've already edit my question. So, is there a possibly more convenient way to do this?

[2018-12-18 18:21] syncle opened #744 "Add rolling support to visualizer"
**Is your feature request related to a problem? Please describe.**
Interactive visualization need to add support rolling. It is useful as the current rotation is based on x and y directional rotations. To rotate geometry along z axis, it is not straightforward.

**Describe the solution you'd like**
Adding a new key + drag option to support z-axis rotation.

[2018-12-18 18:38] syncle commented on #617
Hi @tsyj0404. I submitted a PR that can do rolling the geometry (rotating along the viewing direction) hope this will be helpful.

[2018-12-18 18:45] syncle opened #746 "Walk mode in Visualizer"
**Is your feature request related to a problem? Please describe.**
Camera system implemented in Visualizer class is good for examining single geometry (like viewing an objects from different view points). It would be useful if we can support walk mode - like walking through the indoor/outdoor scenes, or like FPS game. It is useful to visualize large 3D scans.

**Describe the solution you'd like**

[2018-12-19 01:38] taohucs commented on #617
thanks for your wonderful work!

[2018-12-19 10:11] syncle opened #747 "Submodules in Python packages"
**Is your feature request related to a problem? Please describe.**
Open3D python package puts every functions and classes into the single package. In the long term it is necessary to divide the module into submodules. It will be good to maintain API documents, and avoid to load whole module if needed.

[2018-12-19 10:15] syncle opened #748 "Documentation for Python API"
**Is your feature request related to a problem? Please describe.**
Open3D.org/docs provides some tutorials, but it would be much useful if the API documentation is also provided.

**Describe the solution you'd like**
Generating Python API documentation using Sphinx.

**Additional context**
``autodoc`` in Sphinx can make API document automatically. Making submodule as described in #747 would be goo

[2018-12-19 14:20] rukie commented on #412
Exciting!

[2018-12-19 22:38] yxlao commented on #372
I am unable to recreate the issue by the following steps:

1. Setting `config.gpu_options.allow_growth = False`
2. Load and run a TF model (`saver.restore` and then `sess.run`)
    - At this point, it's true that almost all GPU memory is used since TF reserves most GPU memory
3. Read a large point cloud (3e8 points with rgb color) and call `draw_geometries` afterwards
    - This still works in my

[2018-12-20 15:07] rishikeshck commented on #740
sure, I have a lidar point cloud data of a large area. I have the location points along a path where the data is captured a .kml file.
I want to visualize the point cloud in a similar manner how it was captured. Just like an animation or a video you see while you are moving along the same path.
for eg please refer the video
https://www.youtube.com/watch?v=Ml61-GHjZHg
Will I be to do a similar visu

[2018-12-21 06:16] bigsheep2018 commented on #543
Hello @qianyizh,

Is it possible to remove previously added geometry in python now?
I guess there is a branch of people needing to work with sequence data.
Please add these kind of feature into open3d.

Thanks.

[2018-12-21 07:12] qianyizh commented on #734
Addressed in #738

[2018-12-21 07:12] #734 closed

[2018-12-21 07:19] yxlao commented on #510
ok, I'll try it on FreeBSD soon

[2018-12-21 07:20] qianyizh commented on #705
Addressed in #742

[2018-12-21 07:20] #705 closed

[2018-12-21 07:37] syncle commented on #543
I was thinking about this. Technically, we may can link a geometry with a name so that we can remove specific geometry from the visualizer. @qianyizh: we may can provide an option, so that user can update view after removing the geometry.

[2018-12-21 07:43] qianyizh commented on #744
I think rotation along z-axis only makes sense when it is under orthogonal view. And I think in Open3D there is such a function (in EditingVisualizer? at least I had it in ManuallyCropGeometry). To do it, you can first press X or Y or Z to lock to one axis.

[2018-12-21 07:43] qianyizh commented on #746
This is great!

[2018-12-21 07:57] syncle commented on #744
That's true, but the motivation here is that supporting z-axis rotation in basic visualizer with free view mode. Remember with the basic visualizer, there were cases we are struggled to orient a geometry. We did this by zig-zag + drag which was not very fancy. I actually have submitted #745, so that the only OpenGL up vector and right vector to be rotated. This is feasible without orthogonal proje

[2018-12-21 07:59] qianyizh commented on #543
I think, you can use ``std::shared_ptr`` as key to ``std::map``. In this case, you don't even need a name.

W.r.t. view, I think the right behavior is to set up a specific function named ``ResetView()``, which automatically computes a bounding box of the current available geometries and set the best view for it.

The first time the scene is rendered, this function is called. After it, only keyboar

[2018-12-24 12:34] WillEEEEEE commented on #737
I have encountered the same problem.

I want to be able to use keyboard input to call my own functions while open3d visualizing.

[2018-12-24 13:08] WillEEEEEE commented on #342
hope that opend3d can have an GUI, or can be integrated with other GUIs to help programmers achieve large projects.

[2018-12-24 13:09] WillEEEEEE commented on #342
Nanogui looks beautiful and powerful~

[2018-12-25 13:27] George35mk opened #751 "Why I can't see the open3d api using the vscode editor."
**Describe the bug**
A clear and concise description of what the bug is.

I don't know if this is a bug but I m trying to understand why the vscode python intelisense can't autocomplete with this package, I have seen the same exactly behavior when I m using the OpenCV with VsCode put I solved by adding this setting, inside the vscode `settings.json`

[code]

with this, the vscode intelisense work

[2018-12-25 13:48] bigsheep2018 commented on #543
@syncle @qianyizh Thanks for the reply.
Please let us know if there is any update for this.
Thanks.

[2018-12-25 14:54] keacifer opened #752 "how to change the PinholeCameraIntrinsicParameters.PrimeSenseDefault"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2018-12-26 00:44] apurvazaveri opened #753 "C++ open3d static lib linker error"
I have successfully build and install open3d on mac mojave:

[code]

When I try to build a simple c++ application I get a compilation time error:

[code]

In the cmake I printout some variables and here is the cmake and it's output:

[code]

And here the cmake output:
[code]
I am not sure what I am missing. Please advice.

[2018-12-26 06:44] apurvazaveri commented on #753
Please ignore the restart has fixed this issue.

[2018-12-26 06:44] #753 closed

[2018-12-26 18:36] qianyizh commented on #752
``PinholeCameraIntrinsicParameters.PrimeSenseDefault`` is an enum that is used to create a ``PinholeCameraIntrinsic`` instance via ``PinholeCameraIntrinsic(PinholeCameraIntrinsicParameters.PrimeSenseDefault)``.

You can create a ``PinholeCameraIntrinsic`` with other initialization function such as:
``PinholeCameraIntrinsic(width, height, fx, fy, cx, cy)`` where ``fx, fy`` are the focal lengths, an

[2018-12-26 18:41] #736 closed

[2018-12-26 19:03] qianyizh commented on #751
Good point.

The reason that you cannot ctrl+click into the function is that the python functions are only wrappers of C++ functions. So there is no underlying python implementation and VSCode does not know where to navigate into. I think OpenCV has the same issue. I am not able to ctrl+click into any cv2 functions even with cv2 whitelisted.

But other than ctrl+click, other functions (e.g., autoc

[2018-12-26 19:10] George35mk commented on #751
@qianyizh, thanks for your response, this is my fault, I have forgotten that Open3D is a new project, I hope in the future this issue will be resolved.

Also, I want to thank you for open sourced this project, is an amazing tool 👍

[2018-12-27 03:30] mfassler opened #754 "In python, create_window() has a "left" and "right" parameter. should be "left" and "top"?"
**Describe the bug**
If I want to create_window() in a specific position, there are two parameters:  "left" and "right".  The "right" parameter seems to control the up-down position.  Should this be renamed to "top"?  (The behavior is correct, just the argname is confusing.)

**Desktop (please complete the following information):**
Ubuntu 16.04.  Intel i5-8400, 32 GB ram.  GeForce-GTX-1080

[2018-12-27 03:40] keacifer commented on #752
thanks very much , it helps a lot

[2018-12-27 07:59] #752 closed

[2018-12-27 08:12] keacifer opened #756 "transform a open3d.open3d.RegistrationResult into a np.array or other matrix that can use,and print"
"open3d.open3d.RegistrationResult"
, I get a good result ,I can see the match  in the viewer , but how to get the rusult? np.array seems can't get it, it shows "open3d.open3d.RegistrationResult" . and how to get it?

[2018-12-27 08:33] keacifer commented on #756
I get it RegistrationResult.transformation

[2018-12-27 09:52] mintos002 opened #757 "Reconstruct images from Structure sensor"
Hi there,
I would like to know if there is a way to reconstruct from some RGBD images with some Depth only images in C++.
The issue is that the Structure sensor gets constantly depth images and only few colored images, so is there any way to combine RGBD images with Depth only images? or is there any example of reconstruction with depth only images?

Thanks :)

[2018-12-27 17:02] ndbroadbent opened #758 "Add some documentation or tutorials for a cube or box"
Hello,

I've really been struggling to figure out how to render simple cube or box. I'm trying to visualize a 3D grid with some boxes, but I can only see meshes for spheres and cylinders.

Does Open3D not include a "cube" or "box" primitive?

Thanks!

[2018-12-27 17:51] syncle commented on #758
Hi @ndbroadbent: have you checked out [this tutorial](http://open3d.org/docs/tutorial/Basic/visualization.html#draw-line-set)? I believe this would be fit for your needs.

[2018-12-27 17:52] qianyizh commented on #754
You are right. It should be ``top``.

[2018-12-27 17:53] ndbroadbent commented on #758
Hi @syncle, yes I saw the LineSet tutorial, but I wanted to render a solid cube with some faces, instead of lines. For my case, it would be much easier if I could just define the width, height, and depth, and a color, and then render a grid of cubes.

[2018-12-27 18:01] syncle commented on #757
Hi @mintos002. This issue is duplication of #482.

The idea is to put dummy color image to the pipeline. Try this by modifying [this function](https://github.com/IntelVCL/Open3D/blob/fcd4c843bc623359e5be7b1d90abb97b9596c206/examples/Python/ReconstructionSystem/make_fragments.py#L22). For example,
[code]
This would be modified like the below script:
[code]

[2018-12-27 18:05] syncle commented on #754
Addressed in #759.

[2018-12-27 18:05] #754 closed

[2018-12-27 18:07] qianyizh commented on #757
Regarding Structure sensor, I think you can actually stream both depth and color images (put in a video file) at ~30fps. I did it before with a very old version of Structure sensor SDK. I think you can still do it. Having said that, I am not a fan of the iPhone color camera: it is distorted quite a bit - so not a good input for odometry.

The workaround, as @syncle mentioned, is to disable color s

[2018-12-28 06:58] yxlao commented on #751
I believe this was fixed in https://github.com/IntelVCL/Open3D/pull/676, but it's not available in v0.4.0 yet. This fix is tested on Pycharm, and in princeple it shall also work on VSCode.

@George35mk, to enable this feature, you could compile `master` from source, or add the same https://github.com/IntelVCL/Open3D/pull/676 fix
[code]
to the `__init__.py` file of the pip-installed Open3D. OpenCV

[2018-12-28 07:33] mintos002 commented on #757
Ok. I'll try to search the old Structure SDK, if I don't find it I'll use dummy images, or try to use a RealSense camera!

Thank you all so much!

[2018-12-28 07:33] #757 closed

[2018-12-30 14:13] densechen opened #761 "Virtual Scanning"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-01-02 17:59] #758 closed

[2019-01-02 18:01] syncle commented on #761
Hi @LittleLampChen. Can you describe more on this feature request?

[2019-01-02 18:03] syncle commented on #737
@qianyizh: could you comment on this?

[2019-01-02 18:08] qianyizh commented on #737
Can you try to use ``VisualizerWithKeyCallback`` instead of ``Visualizer``? It should have both ``register_animation_callback`` and ``register_key_callback`` and both should work.

[2019-01-02 22:57] fwilliams commented on #737
It seems strange to have a separate class for a visualizer which has a keyboard callback. I guess it's a workaround for now, but in the future I think it would be nice to be able to `register_key_callback` on a `Viewer` instance.

The [libIGL](https://libigl.github.io/) viewer, for example, allows a user to specify a key callback which is called before the default key callback, and you can fully o

[2019-01-03 01:41] LittleLampChen commented on #761
Thanks for your reply. @syncle
There is a similar implementation in pcl. https://github.com/PointCloudLibrary/pcl/blob/master/tools/virtual_scanner.cpp
It is useful when we want to gain a more realistic point from cad or mesh file.

[2019-01-03 04:33] whatseven opened #762 "ConvertFromPinholeCameraParameters failed in the example tutorial"
**Describe the bug**
Can not run `customized_visualization.py` in examples when I pull the official repo. Having warnings `[ViewControl] ConvertFromPinholeCameraParameters() failed because window height and width do not match.`

**To Reproduce**
Steps to reproduce the behavior:
1. pull the official repo
2. Go to `examples\Python\Advanced`
3. run git bash in this folder
4. Run `python customized_vi

[2019-01-03 06:43] zy871125746 commented on #762
I have got the same output when I tried it.

[2019-01-03 08:37] syncle commented on #762
Umm I just tried with win10, but couldn't reproduce the issue. Can you double check that the pip package was built from source?

[2019-01-03 12:00] whatseven commented on #762
No, I got the same results. Maybe I miss some steps? Here are my steps to get the library:

1. clone the repo
2. use cmake to generate sln files. Cmake do find the path of the python executable
3. open the sln file and build the `all_build` project, then right click the `install-pip-package` and build it

[code]

4. get into the example/advanced folder and run `python .\customized_visualization.py

[2019-01-03 17:53] syncle commented on #762
Umm I am still trying to figure out what makes the issue.

**Try 1.**  Install Open3D Python using command line.
[code]

**Try 2.**  ``ConvertFromPinholeCameraParameters() failed because window height and width do not match.`` message appears if the generated window size cannot reproduce the specified camera model. Can you check that the open3d window screen was created without cropping?

[2019-01-03 18:08] syncle commented on #739
Hi @ChenDRAG. I just tried with your code, but I cannot reproduce the issue. Are you using windows? This issue seems to be related to #762.

[2019-01-03 23:18] qianyizh commented on #737
It was implemented piece by piece - hence there is a separate class. But as a retrospective, it is a bit weird. We may change it the next time we do a restructure of the code.

[2019-01-03 23:51] syncle commented on #761
Thanks for the clarification @LittleLampChen. The application would be very useful if it is added in ``examples/Cpp``. If you don't mind, could you contribute ``virtual_scanner`` for Open3D? Although I am maxed-out right now, I can help you if you are willing to do. :)

[2019-01-03 23:57] syncle commented on #740
Sorry @rishikeshck for the late reply. The video is really awesome and shall be good application using Open3D. Regarding the question, I am pretty sure you can. What you will need is to camera pose and camera intrinsics, and update camera poses. Please check ``examples/Python/Advanced/customized_visualization.py``. You will need to tweak camera poses as you wanted and save image sequences. If ther

[2019-01-04 04:55] whatseven commented on #762
emmmm I reinstall the open3d and it does the same results. But after I turn my windows size small, it does work without warning. I want to do more testing on it, but I failed to generate my desired trajectory.

Here is my code, but I can't get a right list of the `o_trajectory.parameters` after I append some items. The size is always 0. Did I miss some points about the trajectory?

[code]

[2019-01-04 11:43] lukaspistelak commented on #647
Hi syncle thanks:
i do this:

1.First Of All I do rgbd registration

So I get the transformation affinity Matrix and some another all info

2. Initialize The Pose graph

To get to U,V position in target frame,
Where begin the source frame

Since I have only one image rgbd pair
 And  frames are taken horizontally

I think It's Easy and
I don't think that I need to optimise graph, but I don't know

[2019-01-04 11:49] lukaspistelak commented on #647
Thanks sincle:

1.First Of All I do rgbd registration
So I get the transformation affinity Matrix and some another all info

2. Initialize The Pose graph
To get to U,V position in target frame,
Where begin the source frame
Since I have only one image rgbd pair
 And  frames are taken horizontally

I think It's Easy and I don't think that I need to optimise graph, but I don't know
So I don't know ho

[2019-01-04 12:04] TheodoreT commented on #231
@qianyizh @syncle could you provide some update what is the status for cases (2) and (3). To my understanding at the moment (3) is not implemented yet while (2) is partially addressed with the following ([http://www.open3d.org/docs/tutorial/ReconstructionSystem/capture_your_own_dataset.html](http://www.open3d.org/docs/tutorial/ReconstructionSystem/capture_your_own_dataset.html)). I say partially b

[2019-01-04 16:20] whatseven commented on #762
I found that the window size will be `1920*1055` if I left the default setting `1920*1080`. And then the check will be failed.

[2019-01-07 12:35] lordlycastle opened #763 "Read Point Cloud Function Type Error when specifying format argument."
**Describe the bug**
The documentation and the source code of this library says that we can specify file format but I only get a TypeError on filename when I do so with the same argument.

**To Reproduce**
1. Import library in Jupyter.
2. Run the following code with a XYZ PC file: `x = o3.read_point_cloud(filename='data\\cutView1.txt', format='xyz')`
3. Following error is produced for me:

[code]

[2019-01-07 19:52] qianyizh commented on #763
It is a new feature in Open3D 0.4. You need to upgrade Open3D. Here is what I got on my machine:
[code]

[2019-01-08 10:22] lordlycastle commented on #763
@qianyizh Thanks for the prompt reply. I'll check out the update. Are there any major bugs or breaking changes in the version that I should be aware of?

[2019-01-08 13:19] graphedge opened #764 "Please test Open3d with Windows 10 Anaconda Jupyter and/or CLI"
I see Anaconda support was added https://github.com/IntelVCL/Open3D/issues/430 .  I am able to import Open3d within my conda virtual environment.  I assume the only dependencies and resources I need for rgbd_redwood.py are matplotlib and the two pictures, one for color and one for depth.  When I run a copy and pasted version of rgbd_redwood.py inside Jupyter Notebook, the kernel dies without an er

[2019-01-08 15:25] ndrplz opened #765 "Visualize mesh normals"
I'm a bit struggling to understand how to get to a visualization similar to [this one](http://open3d.org/docs/_images/normal.png) but for a mesh instead of a point cloud.

Currently what I'm doing is the following:
[code]
which outputs the following:
![image](https://user-images.githubusercontent.com/3187598/50840001-d5215e00-1361-11e9-9845-e1a9f054f2cd.png)

Is it correct / is there a more princi

[2019-01-08 18:22] qianyizh commented on #763
Check out the latest release note :)
http://www.open3d.org/index.php/2018/10/26/open3d-0-3-0-is-ready-to-go-2/

[2019-01-08 18:35] qianyizh commented on #765
The easiest way to mimic point cloud normal rendering behavior is to press ``ctrl+9`` to enable normal rendering for mesh (for point cloud it is ``9``).
![screencapture_2019-01-08-10-34-20](https://user-images.githubusercontent.com/5875217/50851237-151c1d00-1331-11e9-9f33-b91132e7eb6a.png)

[2019-01-09 07:22] manas-avi opened #766 "Control on changing near and plane parameters in python api."
**Is your feature request related to a problem? Please describe.**
Rendered images are getting clipped out at certain positions.

**Describe the solution you'd like**
Control on near and far plane parameters in python api like we have for field of view in python api.

[2019-01-09 10:15] ndrplz commented on #765
Thanks, that's what I meant. However, I'd like to toggle this mode automatically.

Currently as a workaround I'm using
[code]
where in `renderoption.json` among other options I have
[code]
(for future readers, mesh color options are [here](https://github.com/IntelVCL/Open3D/blob/844be751ee76a0b2e5c20c4bf19d8e49ecbdb824/src/Visualization/Visualizer/RenderOption.h#L69-L76)).

Still, I tried to do so

[2019-01-09 14:25] saedrna opened #767 "Add vcpkg support"
vcpkg is a msvc package manage made by Microsoft, and already support all the deps of Open3D.

I have made a working port (in my own vcpkg repo, see [here](https://github.com/saedrna/vcpkg/commit/18a0b36bb525d69dceb5a97e008af91d4c45eb38)), but because my own repo have many other changes for my own use, I can not make a pull request.

So, if it's possible for the open3d owner to port this? What's b

[2019-01-09 17:54] qianyizh commented on #765
Yeah, it is not exposed right now. The current workaround is to use ``load_from_json``.
In the next restructure (hopefully coming soon) we will expose as many APIs in Python as possible.

[2019-01-10 08:15] ats27 opened #768 "Visualizer - Use specific column in pcd as color scale"
Hello, I found that if the pcd file has only 4 columns, the visualizer refers to the 4th column (after the x, y and z) as the color value, but is it possible with a pcd file with multiple columns other than the coordinates to specify a column for color?

[2019-01-10 09:32] syncle commented on #767
Thanks @saedrna! @yxlao @takanokage: Could you guys comment on this?

[2019-01-10 09:37] syncle commented on #762
My quick answer: I think the code should produce the trajectory if ``f`` reads something. Regarding window size, I believe the windows shouldn't be larger than the screen size.

[2019-01-10 09:38] syncle commented on #764
@yxlao: could you comment on this?

[2019-01-10 11:20] yxlao commented on #764
Looks like there are two questions.

### Q1: Installing Open3D with Conda, Win10-64, Python 3.6

Here are the full commands:

[code]

This combination has already been tested on our CI, see [here](https://ci.appveyor.com/project/yxlao/open3d-python-ci/build/job/aa9gxd4h5e3469vu#L335) for the full log (look for blue-colored lines for the commands). I also tried config manually and it works in my ca

[2019-01-11 05:15] taochenshh commented on #473
Hi, I followed the code above for realtime visualization of point cloud. But it seems that I cannot use mouse to rotate the view in the visualizer after the window shows up. It can be reproduced with the following code. I am using open3d 0.4.  Can anyone help? Thanks.
[code]

[2019-01-11 05:39] H-Paul opened #769 "Point clouds in a cylindrical region"

[2019-01-11 11:12] #769 closed

[2019-01-11 15:44] taochenshh opened #770 "Cannot control the viewer when updating the geometry"
Hi, I wrote the following code for realtime visualization of point cloud. But it seems that I cannot use mouse to rotate the view in the visualizer after the window shows up. It can be reproduced with the following code. I am using open3d 0.4.  Can anyone help? Thanks.
[code]

[2019-01-11 21:33] brettbrocato commented on #764
Thanks - I don't know yet if it works on my Anaconda installation, but I have it up and running on WinPython64-3.6.7.0Zero .

I experienced the 'dead kernel' in WinPython/Jupyter a couple more times.  That was probably caused by 1) not using os.path to normalize slashes or 2) mistyping 00000.jpg as 0000.jpg .

[2019-01-13 00:39] taochenshh commented on #770
Hi, @syncle , Thanks for your quick reply. That makes sense. But I cannot see the points now (the visualization window is blank at all). Is there any other step that I am missing? Thanks.

[2019-01-13 05:37] #560 closed

[2019-01-13 05:39] #747 closed

[2019-01-14 09:12] mbouhallel commented on #129
Hi @syncle , what if the second suggestion doesn't work either ?
I feel like open3d isn't getting installed properly. I tried
`sudo pip install open3d`
and : `sudo apt-get install open3d`

[2019-01-14 14:54] Jason420Git commented on #708
I have created the following script, as per your recommendation:

`mkdir build
mkdir install
cd build

cmake -G "Visual Studio 14 2015 Win64" -DSTATIC_WINDOWS_RUNTIME=ON ..
cmake --build . --parallel %NUMBER_OF_PROCESSORS% --config Release --target ALL_BUILD
xcopy lib ..\install\lib_static\ /s /e /h /y

cmake -G "Visual Studio 14 2015 Win64" -DSTATIC_WINDOWS_RUNTIME=OFF ..
cmake --build . --parall