[2020-07-27 19:41] SteveMacenski opened #2110 "Release C++ for ROS"
Can Open3D be released for ROS both in python and C++? I see in rosdistro the pip install setup for open3d to install but nothing for the C++ version.

[2020-07-27 19:41] SteveMacenski commented on #2110
Necessary for support for ROS conversions to and from open3D https://github.com/ros-perception/perception_open3d

[2020-07-27 22:56] #703 closed

[2020-07-27 22:59] germanros1987 commented on #704
Given the new visualization system, it is not clear if this issue still exists. I am closing it for the time being. Feel free to create a new one if needed;

[2020-07-27 22:59] #704 closed

[2020-07-27 23:01] #709 closed

[2020-07-27 23:01] #710 closed

[2020-07-27 23:01] #716 closed

[2020-07-27 23:02] #733 closed

[2020-07-27 23:07] germanros1987 commented on #740
The new scriptable rendering API should provide a solution for this problem.

[2020-07-27 23:08] germanros1987 commented on #740
@errissa feel free to close this issue once we have rolled out the new "scriptable rendering API".

[2020-07-27 23:09] #761 closed

[2020-07-27 23:11] #762 closed

[2020-07-27 23:14] germanros1987 commented on #767
@yxlao what is your take on this?

[2020-07-27 23:17] #768 closed

[2020-07-27 23:19] #774 closed

[2020-07-27 23:19] #782 closed

[2020-07-27 23:20] germanros1987 commented on #787
Issue closed due to lack of activity. Feel free to open a new issue if you still consider this is a critical matter.

[2020-07-27 23:20] #787 closed

[2020-07-27 23:21] germanros1987 commented on #789
Issue closed due to lack of activity. Feel free to open a new issue if you still consider this is a critical matter.

[2020-07-27 23:22] germanros1987 commented on #790
Issue closed due to lack of activity. Feel free to open a new issue if you still consider this is a critical matter.

[2020-07-27 23:23] germanros1987 commented on #794
@syncle do you think this is still a relevant issue? Have we taken any action to fix this?

[2020-07-27 23:27] germanros1987 commented on #797
Issue closed due to lack of activity. Feel free to open a new issue if you still consider this is a critical matter.

[2020-07-27 23:27] #797 closed

[2020-07-27 23:30] germanros1987 commented on #806
Issue closed due to lack of activity. Feel free to open a new issue if you still consider this is a critical matter.

[2020-07-27 23:30] #806 closed

[2020-07-27 23:31] germanros1987 commented on #811
Issue closed due to lack of activity. Feel free to open a new issue if you still consider this is a critical matter.

[2020-07-27 23:31] #811 closed

[2020-07-27 23:31] germanros1987 commented on #813
Issue closed due to lack of activity. Feel free to open a new issue if you still consider this is a critical matter.

[2020-07-27 23:31] #813 closed

[2020-07-27 23:32] germanros1987 commented on #814
Issue closed due to lack of activity. Feel free to open a new issue if you still consider this is a critical matter.

[2020-07-27 23:32] #814 closed

[2020-07-27 23:32] germanros1987 commented on #817
Issue closed due to lack of activity. Feel free to open a new issue if you still consider this is a critical matter.

[2020-07-27 23:32] #817 closed

[2020-07-27 23:33] germanros1987 commented on #820
Issue closed due to lack of activity. Feel free to open a new issue if you still consider this is a critical matter.

[2020-07-27 23:33] #820 closed

[2020-07-27 23:36] germanros1987 commented on #823
Issue closed due to lack of activity. Feel free to open a new issue if you still consider this is a critical matter.

[2020-07-27 23:36] #823 closed

[2020-07-27 23:36] #824 closed

[2020-07-27 23:37] germanros1987 commented on #828
@errissa this issue should be addressed by the new scriptable rendering API. Please, feel free to close the issue after the feature is rolled out.

[2020-07-27 23:40] germanros1987 commented on #834
@errissa let's take care of this right after we roll out our scriptable rendering API.

[2020-07-27 23:40] germanros1987 commented on #835
Issue closed due to lack of activity. Feel free to open a new issue if you still consider this is a critical matter.

[2020-07-27 23:40] #835 closed

[2020-07-27 23:42] germanros1987 commented on #844
@barnjamin sorry for not following up on this issue back in the days. However, I think this is a very attractive feature. If you are still willing to contribute we would love to have it.

[2020-07-27 23:43] germanros1987 commented on #846
@yxlao do you think we should take care of this any time soon?

[2020-07-27 23:45] germanros1987 commented on #848
This seems like something that @theNded could do...

[2020-07-27 23:45] #853 closed

[2020-07-27 23:46] #872 closed

[2020-07-27 23:46] germanros1987 commented on #873
Issue closed due to lack of activity. Feel free to open a new issue if you still consider this is a critical matter.

[2020-07-27 23:46] #873 closed

[2020-07-27 23:47] #789 closed

[2020-07-27 23:47] #790 closed

[2020-07-28 01:42] leomariga commented on #2053
You can get better results using post-processing algorithms provided by the librealsense. There are information detailing the use of those filters[ in this page](https://dev.intelrealsense.com/docs/depth-post-processing). You can modify the file `realsense_recorder.py` and add filtering functions there. The available functions are [described here](https://intelrealsense.github.io/librealsense/pyth

[2020-07-28 04:36] somebodyus opened #2111 "Save a 3-D point-cloud into an 2-D image without opening a window"
**Is your feature request related to a problem? Please describe.**
I was able to save 3-D point-cloud image using the screen capture method. However, I will run the program in docker at a remote server. There is no X windows service, so the window displaying the point cloud cannot be opened. Is there any way to save the image without using screen capture method?

**Describe the solution you'd like

[2020-07-28 08:41] benjaminum commented on #2109
Hi @esteimle , can you compile in Debug mode to get more information?

[2020-07-28 09:51] WSPeng commented on #2053
Thank you ;D

[2020-07-28 09:51] #2053 closed

[2020-07-28 11:42] femust commented on #2109
i have also similar problem even with example cpp file PCDFileFormat.cpp and with pcd file from your tests

[2020-07-28 13:09] femust opened #2112 "draw geometry seg fault"
**IMPORTANT: Please use the following template to report the bug.**
_____

**Describe the bug**
A clear and concise description of what the bug is.
set fault when drawing geometry
**To Reproduce**
Steps to reproduce the behavior:
code:
[code]

**Expected behavior**
nice geometry,

in python works though...

**Environment (please complete the following information):**

- Operating system: ubuntu 18

[2020-07-28 13:42] benjaminum commented on #2112
Hi @femust , can you compile open3d in Debug mode to get more information?

[2020-07-28 13:57] femust commented on #2112
Yes, I saw your previous post and I compiled in debug mode as well, BUT I had the same information, so successfully loaded, but when visualizing seg fault

[2020-07-28 15:29] femust commented on #2112
@benjaminum funny enough is that the visualization works when I use python (installed via pip install ), but when I use cpp then seg fault

[2020-07-28 15:50] benjaminum commented on #2112
Just to get an overview of the configurations:
- Visualization fails when compiling from source and creating a C++ binary linking open3d.
- Visualization works when installing the package from PyPI

Is this correct?

Does the visualization work with the python package compiled from source? (```make install-pip-package```)

Can you get more information about the segfault with a debugger?
If you hav

[2020-07-29 02:17] EmilyJrxx commented on #1350
@ParikaGoel Hi! I have run into the same problem recently, the error messages is as below.

At first i was wondering if it's about naming rules of pip, that this .whl has a illegal name so it could not be processed by pip, but i didn't make further attempts about that. Then I managed to solve this problem by manually installing `open3d-0.10.1.0-cp37-cp37m-linux_x86_64.whl` with `pip install ./lib/

[2020-07-29 06:59] Pradyumn10 opened #2115 "o3d.initialize() unable to initilize"
I am unable to initalize : o3d.initialize() and also i am not able to get proper solution for this online.

[2020-07-29 08:53] griegler commented on #2115
There is no `o3d.initialize`? What do you want to use it for?

[2020-07-29 08:54] griegler commented on #2111
Did you have a look here: http://www.open3d.org/docs/release/tutorial/Advanced/headless_rendering.html?highlight=headless ?

[2020-07-29 08:55] griegler commented on #2110
@germanros1987 should be able to comment on this.

[2020-07-29 08:57] griegler commented on #2108
@WilliamKRobert could you provide a minimum reproducible example that shows the problem. Thanks!

[2020-07-29 08:57] griegler commented on #2107
@theNded can you have a look at this please.

[2020-07-29 08:59] griegler commented on #2106
On which property should the color code be based?

[2020-07-29 08:59] griegler commented on #2100
@yxlao can you have a look at this please

[2020-07-29 09:01] griegler commented on #2097
In your version of open3d it is a member of `TriangleMesh` (http://www.open3d.org/docs/release/python_api/open3d.geometry.TriangleMesh.html#open3d.geometry.TriangleMesh.create_box)

`o3d.geometry.TriangleMesh.create_box()`

[2020-07-29 09:01] #2097 closed

[2020-07-29 09:02] griegler commented on #2095
@theNded @yxlao can one of you have a look at this please.

[2020-07-29 09:03] griegler commented on #2092
@errissa can you have a look at this please.

[2020-07-29 09:04] griegler commented on #2091
Can you post any error message or warning that you get?

[2020-07-29 09:05] griegler commented on #2089
@errissa and @prewettg are working on new bindings for this (for the new visualizer).

[2020-07-29 09:06] griegler commented on #2088
Might be a problem with the thread. The visualizer uses GLFW which has to run in the main thread.

[2020-07-29 09:08] griegler commented on #2080
I am not 100% sure, but the new visualizer has more callback functionalities. @prewettg can you comment on this please.

[2020-07-29 09:08] griegler commented on #2075
Right! @theNded or @yxlao can you take this please.

[2020-07-29 09:10] griegler commented on #2071
@theNded should have an answer to this.

[2020-07-29 09:11] griegler commented on #2070
@theNded should have an answer to this question.

[2020-07-29 09:12] griegler commented on #2069
Good suggestion. @ytyfeng would it be possible for you to contribute this feature with our aid?

[2020-07-29 09:12] griegler commented on #2064
@yxlao can you have a look at this please.

[2020-07-29 09:13] griegler commented on #2063
There is no such functionality at the moment. @josephinemonica would you be interested in contributing this method with our aid?

[2020-07-29 09:15] griegler commented on #2062
Right, there is no direct method for this purpose in Open3D at the moment. @josephinemonica and @GnnrMrkr would anybody of you be interested in contributing such functionality with our aid?

[2020-07-29 09:17] griegler commented on #2060
At the moment there are no plans to add this. That said, we are in the process of migrating the geometry classes to new Tensor classes and if you like you are welcome to contribute such functionality with our aid.

[2020-07-29 09:19] griegler commented on #2056
If you compile a recent version (from master) of the code, you might find it via `o3d.pipelines.registration` (http://www.open3d.org/docs/latest/python_api/open3d.pipelines.registration.html)

[2020-07-29 09:19] #2056 closed

[2020-07-29 09:20] griegler commented on #2052
Please, could you add more details on this issue.

[2020-07-29 09:23] griegler commented on #2049
Open3D 0.9 was the last release with official support for Python 2. (http://www.open3d.org/2019/12/19/open3d-0-9-0-is-ready/)

[2020-07-29 09:23] #2049 closed

[2020-07-29 09:23] griegler commented on #2047
@yxlao can you have a look at this please.

[2020-07-29 09:30] griegler commented on #2043
Memory consumption and performance is directly related to the parameter `k` used to construct the graph. Did you try to reduce it? As an alternative, is it feasible to subsample the point cloud, only orient normals on the smaller point cloud and then orient accordingly.

[2020-07-29 09:31] griegler commented on #2038
@prewettg is currently in the process of creating Python bindings for the new visualizer that should have those capabilities.

[2020-07-29 09:32] griegler commented on #2036
@yxlao can you have a look at this please.

[2020-07-29 09:32] griegler commented on #2029
@prewettg @errissa @germanros1987 that sounds like something that should be taken care of in the new visualizer functionality.

[2020-07-29 09:33] #2022 closed

[2020-07-29 09:33] griegler commented on #2019
@yxlao can you have a look at this please.

[2020-07-29 09:36] griegler commented on #2018
If you keep the original `image` that contains the depth values you can access them via `np.asarray(image)[h, w]` where `h` and `w` are your height and width coordinates.

[2020-07-29 09:36] #2018 closed

[2020-07-29 09:37] griegler commented on #2015
@DrDumbenstein did you have a look at this http://www.open3d.org/docs/release/tutorial/Advanced/interactive_visualization.html ?

[2020-07-29 09:37] #2012 closed

[2020-07-29 09:38] griegler commented on #2006
@yxlao can you check if this is a potential bug in the old visualizer?

[2020-07-29 09:39] #1998 closed

[2020-07-29 09:41] griegler commented on #1989
Thanks for the request. We are currently rewriting the geometry classes and they will be able to store arbitrary fields per points for example. See #2074

[2020-07-29 09:41] #1989 closed

[2020-07-29 09:42] griegler commented on #1980
Did you run `git clone --recursive https://github.com/intel-isl/Open3D` (note recursive), or `git submodule update --init --recursive`?

[2020-07-29 09:43] cmatija commented on #2038
great, thanks a lot!

[2020-07-29 09:44] griegler commented on #1977
You could set the color based on your confidence (`bbox.color = (1,0,0)`)?

[2020-07-29 09:44] griegler commented on #1974
@prewettg @errissa can you please take this into account.

[2020-07-29 09:45] #2038 closed

[2020-07-29 09:54] mastrogiorgis commented on #2022
Is this fixed then?

[2020-07-29 10:14] #2115 closed

[2020-07-29 10:18] Pradyumn10 opened #2116 "o3d.visualization.draw_geometries() incompactible function argument"
I have been following the documentation of open3d and i have written the same code as given on http://www.open3d.org/docs/release/tutorial/Basic/visualization.html
for function draw geometries and also using the same data file i.e "fragment.ply". Now i am encountering an error while running the exact code.
" Error : TypeError: draw_geometries(): incompatible function arguments. The following argum

[2020-07-29 10:25] barnjamin commented on #844
@germanros1987 this was for a project I've since abandoned so I have no build environment anymore. The diff from what I did is above but I recall having some doubt that it was the best way to implement it.

[2020-07-29 10:38] griegler commented on #2022
No, that is dependent on how qhull works.

[2020-07-29 10:44] griegler commented on #2116
Can you provide a minimal, reproducible example please.

[2020-07-29 10:46] mastrogiorgis commented on #2022
Can I adjust any of the parameters to decrease the possibility of this happening all the time? I mean, PCL has a convex hull algorithm and didn't have issues there (well I had other issues on other algorithms '😂). Any idea on how to access the raw coordinates of the hull without worrying about the OpenGL's triangles? I use VTK to visualise anyhow.
Many thanks!

[2020-07-29 10:49] Pradyumn10 commented on #2116
![Screenshot from 2020-07-29 16-18-39](https://user-images.githubusercontent.com/63101822/88791384-3fedf080-d1b7-11ea-8a6a-a2d1107c02ea.png)

[2020-07-29 10:53] griegler commented on #2116
Could be that in your version of open3d some arguments of `draw_geometries` are not supported yet. Try compiling open3d from source, or remove the `zoom, front, lookat, up` params from the function call.

[2020-07-29 11:00] Pradyumn10 commented on #2116
Tried with only one parameter i.e [pcd] and it worked.
Thank you!

[2020-07-29 11:01] #2116 closed

[2020-07-29 13:06] yangninghua commented on #1159
@yxlao
Hello, I have the same question. Why can't it be the nearest neighbor of point cloud? Python-pcl is supported. I don't know if open3d can support it in the future?

[code]

[2020-07-29 13:53] nachovizzo commented on #2075
@griegler I can also do this. I guess is quite easy :)

[2020-07-29 14:33] griegler commented on #2075
@nachovizzo that would be great!

[2020-07-29 14:48] alexis-roche opened #2117 "Poisson surface reconstruction has random behavior"
**IMPORTANT: Please use the following template to report the bug.**
_____

**Describe the bug**
The mesh created from a point cloud using the create_from_point_cloud_poisson method is not the same across different calls to the function.

**To Reproduce**
Please run the following Python code assuming a point cloud file `data.ply`.

[code]

**Expected behavior**
The mesh output by Poisson reconstruc

[2020-07-29 15:34] griegler commented on #2022
Do you have a complete runnable minimum example that shows the problem? I just tried to reproduce it with the code below and the triangle meshes are always identical (using different seeds).

[code]

[2020-07-29 15:53] errissa commented on #2092
@jftmames do you see the 'can't find resource' message when installing the Debian package or when attempting to run Open3D?

[2020-07-29 15:54] griegler commented on #1953
The line width is currently defunct in OpenGL to the best of my knowledge. You can find workarounds in the issues using cylinders.

[2020-07-29 15:59] mastrogiorgis commented on #2022
Sure - thanks for looking into this.

[code]

[0.zip](https://github.com/intel-isl/Open3D/files/4995959/0.zip)
zip has the pcd point cloud

[2020-07-29 16:51] prewettg commented on #2080
We are currently working on an improved GUI / visualizer framework which will be much nicer, but it does not have this feature on the schedule at the moment. However, you can use the camera matrix and the mouse position (relative to the 3D view rectangle) to calculate the direction of a ray coming from the viewing plane. One easy way would use the equivalent of gluUnProject, where x, y are the mou

[2020-07-29 17:00] prewettg commented on #2029
It may be some time before the new visualizer will have this functionality. However, it already appears to exist in the C++ code: you can inherit from VisualizerWithEditing and set `use_dialog_ = false` in C++. If you are using Python you'd have to export that with Python bindings (see cpp/open3d/pybind/visualization/visualizer.cpp in the current master branch). Or if you'd like to make a pull req

[2020-07-29 17:13] griegler commented on #2022
I just had another look at your code and I think I know what the problem is: `segment_plane` will return different inlier points per run (it is a randomized algorithm in the end), hence you also get different convex hulls. So, the results are kind of expected.
That said, another problem is that your points are almost co-planar (you segment a plane and compute the convex hull). This usually leads t

[2020-07-29 17:31] mastrogiorgis commented on #2022
You are right here about the segment_plane, but the convex should fill the area without hitting B key.
I used to get fine results with PCL in terms of hull processing. Any parameters I could change for compute_convex_hull?

[2020-07-29 20:45] agporto opened #2119 "Scaling pointclouds to the exact same size"
Hi, thanks for the great library!
I am trying figure out a straightforward way to scale two pointclouds (with complex shapes) to have the exact same size.  Let 's say you had two structures that were identical, but with very different absolute sizes and you wanted to register one to the other. I noticed that pointcloud geometry has a function to scale pointclouds using a float. My question is, is

[2020-07-29 21:45] XiaoSong9905 opened #2120 "Potential bug / misunderstanding"
Hi,

I'm new to open3d and trying to load PLY file example given in [here](http://paulbourke.net/dataformats/ply/) using open3D. The file contains the following information.

[code]

When I run the code
[code]

it returns
[code]

Please help.
Thanks
Xiao

[2020-07-30 01:06] germanros1987 commented on #844
Thanks for clarifying.

[2020-07-30 01:06] #844 closed

[2020-07-30 01:10] germanros1987 commented on #1968
This could be a hard one. @crea397 are you getting the same error after disabling the GUI as proposed by @TheophileBlard ?

[2020-07-30 01:14] germanros1987 commented on #1965
@Me817 in the new Visualization app you can manipulate your models using mouse and keyboard. Have you tried that out?
Probably the main limitation right now is that the app is just for one model. We are working now on providing the new renderer and GUI as a python API so that you can easily create any variations of this functionality by yourself.

This feature will be out in a few weeks.

[2020-07-30 01:14] germanros1987 commented on #1957
@errissa I believe this is currently not something we can do in an efficient way, am I wrong?

[2020-07-30 01:15] germanros1987 commented on #1953
We will make sure to incorporate this feature in the new visualizer.

[2020-07-30 01:22] germanros1987 commented on #1950
@AlirezaJav I am not sure I am getting your use case.

Please, instead of suggesting what you have tried, could you explain the actual problem you are trying to solve? That may help us to propose a solution.

[2020-07-30 01:26] mengxingshifen1218 commented on #1953
I'm looking forward to it.

---Original---
From: "germanros1987"<notifications@github.com&gt;
Date: Thu, Jul 30, 2020 09:16 AM
To: "intel-isl/Open3D"<Open3D@noreply.github.com&gt;;
Cc: "mengxingshifen1218"<1427965389@qq.com&gt;;"Author"<author@noreply.github.com&gt;;
Subject: Re: [intel-isl/Open3D] How to change width of LineSet? (#1953)

We will make sure to incorporate this feature in the new vi

[2020-07-30 01:52] errissa commented on #1957
@germanros1987 There are a couple of ways we could implement this efficiently but both would take some time. Perhaps we can discuss at our next meeting.

[2020-07-30 01:54] errissa commented on #1905
@andreas-geiger Did the solution suggested by @prewettg work for you or has the problem persisted?

[2020-07-30 02:08] errissa commented on #1974
@tatsy Thank you for offering to help with this feature request. If you are willing, we would welcome a PR implementing the change you suggested. Please review the contribution guidelines here: http://www.open3d.org/docs/release/contribute/contribute.html

We will be working on the IO code of Open3D in the near future so if you do not have time at the moment to contribute a PR we will take into ac

[2020-07-30 03:33] yangninghua commented on #1159
This is similar to what he said

[code]

[2020-07-30 04:18] tatsy commented on #1974
@griegler @errissa Thank you very much for your consideration. Of course, I am still happy to contribute to this update.

Before making a PR, I would like to ask which of the following two is more preferable.

1. Add a flag `write_mtl_file` to `WriteTriangleMesh`
2. Disable to save an MTL file when `write_triangle_uvs` is `False`

Although the 1st one is clearer to show how to enable or disable MT

[2020-07-30 05:06] seann999 opened #2121 "Setting the extrinsic matrix for ViewControl"
Hi, this is probably more of a question than a bug.
I am having trouble setting the extrinsic matrix for visualization.
I am using the bottom method described in [this page](http://ksimek.github.io/2012/08/22/extrinsic/) (same output as gluLookAt, I believe) to derive the extrinsic matrix, but setting the ViewControl's extrinsic to this is not working for me (getting an undesired viewpoint).
I hav

[2020-07-30 06:17] zainmehdi commented on #2107
Ok so there is a definite memory leak somewhere. I have in core i7 2.6 Ghz with 16GB of RAM and its consuming all the memory and CPU usage is very high as well. Here is the screen shot
![image](https://user-images.githubusercontent.com/21212125/88887628-b5b99100-d277-11ea-9f34-5c8ea40bbb76.png)

[2020-07-30 07:01] yangninghua opened #2122 "Will an algorithm similar to this icp variant in the pcl library be developed in the future? For example: IterativeClosestPointWithNormals"
Will an algorithm similar to this icp variant in the pcl library be developed in the future? For example: IterativeClosestPointWithNormals

http://docs.ros.org/hydro/api/pcl/html/classpcl_1_1IterativeClosestPointWithNormals.html

[2020-07-30 07:43] XuyangBai opened #2123 "Questions about RANSACConvergenceCriteria"
Thanks for your great work. I am wondering the effect of `max_iteration` and `max_validation` in `RANSACConvergenceCriteria `. As shown [here](https://github.com/intel-isl/Open3D/blob/de9b015078aa3d86b3f54ba904aa309d2e054060/cpp/open3d/pipelines/registration/Registration.cpp#L217), when using the RANSAC based on correspondence, the aim of `max_iteration` and `max_validation` is the same, and the m

[2020-07-30 07:57] femust commented on #2112
[code]

[2020-07-30 09:19] agomezlyte commented on #1921
It would be nice to know in which commits this was implemented

[2020-07-30 09:26] bigpehi commented on #1024
thanks！！!
I solve this problem on my pc by your idea.👍

[2020-07-30 10:05] griegler commented on #1921
It seems to be here: https://github.com/intel-isl/Open3D/commit/0dc69423222c1786cad4015e25807e461e9e6ca7

[2020-07-30 10:38] andreas-geiger commented on #1905
Hi Rene,

I didn't have time to setup my laptop anew, but I found that (at least with
the latest version) the problem is mainly caused by the HDR environment
map. I don't need this, and if I disable it, the problem goes away, so its
fine for me.

It would actually be nice if there is a way to keep settings for future
launches to the program, such that (for instance) HDR maps don't need to be
disab

[2020-07-30 14:24] germanros1987 commented on #1905
Hi @andreas-geiger we will add your request. This should be doable.

[2020-07-30 16:04] ytyfeng commented on #2069
Yes, I'd be happy to!

[2020-07-30 16:06] ytyfeng commented on #2043
Yes, I reduced `k` all the way down to 1 but I was still not able to run the function on 130M points. How would you interpolate the results from orienting a subsample of the point cloud?

[2020-07-30 19:38] seann999 commented on #2121
As additional information, what I'm trying to do is to programmatically render a point cloud from a different viewpoint.
I thought using the Visualizer might work.

[2020-07-30 20:32] benjaminum commented on #2112
@femust Can you check if you have compiled open3d in Debug mode (can be enabled during configure with ```cmake .. -DCMAKE_BUILD_TYPE=Debug```)
This could help to better pinpoint the instruction that is failing.

[2020-07-30 22:38] XiaoSong9905 opened #2124 "Mesh Conversion"
Hi,

Thanks a lot for this amazing package.

I've loaded a `.obj` file with texture to mesh `o3d.io.read_triangle_mesh("%s/%s.obj" % (output_folder, sample_ID))`. I'm trying to convert this mesh to a `.glb` file. Is there any way I can convert the texture to vertex_color?

Thanks.

[2020-07-30 22:57] ArlenisChS commented on #1161
Still nothing on this??

[2020-07-31 00:42] XiangZhangPKU commented on #1863
I met the same problem. One can read/visualize/write mesh with multiple textures, but there is no way to change/construct triangle_material_ids_ from Python. triangle_material_ids_ is not exposed to python interface.

[2020-07-31 01:03] JavaAiNiU commented on #1161
ok，tks.

[2020-07-31 06:23] femust commented on #2112
@benjaminum  right, i came back to the release mode for some weird reason, sorry for that. So once again:
[code]

it looks a bit like openGL problem...

[2020-07-31 07:17] griegler commented on #2124
No, unfortunately not at the moment. But if you like we could aid you contributing this feature.

[2020-07-31 07:20] griegler commented on #2121
Maybe this code snippets is of help (`Rs` and `ts` are camera rotations and translations; from world to camera coordinate system).

[code]

[2020-07-31 07:23] griegler commented on #2043
I think there is no convenient way at the moment. You could overload the `voxel_down_sample` method (https://github.com/intel-isl/Open3D/blob/master/cpp/open3d/geometry/PointCloud.cpp#L305) to also return the indices per voxel and use this information to orient all points in a voxel in the same direction.

[2020-07-31 07:24] griegler commented on #2069
That is great! Let us know if you have any questions.

[2020-07-31 07:32] griegler commented on #2120
The problem is most likely that this ply file does not contain a triangle mesh, but a quad mesh which is not supported at the moment by open3d.

[2020-07-31 07:36] griegler commented on #2022
Have you tried `orient_triangles`? http://www.open3d.org/docs/release/python_api/open3d.geometry.TriangleMesh.html#open3d.geometry.TriangleMesh.orient_triangles

[2020-07-31 08:10] qaler commented on #1912
Do you want to create a 2D image or 3D image (volume) from point cloud?

[2020-07-31 10:59] mastrogiorgis commented on #2022
Yes! That worked.

`hull_mesh[0].orient_triangles()`
![image](https://user-images.githubusercontent.com/23278410/89028996-52863800-d325-11ea-9bc3-03c974b1d48c.png)

[2020-07-31 13:51] kaixin-bai opened #2126 ""registration with fpfh return error sometimes""
i test registration with fpfh in a loop, code is below:
[code]

The result is strange sometimes.
the result should be like this(fitness 0.539):
![image](https://user-images.githubusercontent.com/38804949/89041010-eddad580-d344-11ea-8bfd-a4fbc8fe5b12.png)
Then i got result(fitness 1.0)
![image](https://user-images.githubusercontent.com/38804949/89041205-47430480-d345-11ea-8e03-db172c467675.png)

[2020-07-31 13:52] kaixin-bai commented on #2126
and also sometimes the model point cloud seems to be scaled in some loop.

[2020-07-31 14:52] benjaminum commented on #2112
Yes, looks like a problem with opengl. Can you also provide the information from ```glxinfo``` and the libraries you link to with ```ldd your_binary```?

[2020-07-31 21:34] femust commented on #2112
after glxinfo:
[code]

Building with:
[code]
the project itself I'm linking with ${Open3d_libraries} since it's just a "hello world" for point cloud visualization

[2020-08-01 03:06] ExpandOcean commented on #1378
Same issue here also...

[2020-08-01 04:09] otepencelik commented on #1598
I'm having the same error as the OP. I tried changing my graphics specifications to "High Performance", the error still often occurs. Are there any other solutions to this?

[2020-08-01 18:43] benjaminum commented on #2112
The glxinfo seems fine. I don't see how ```glEnable(GL_DEPTH_TEST)``` can cause this problem. It is also weird that visualization works for you from python. So I wonder if there is a difference in the libraries loaded. Can you do ```ldd``` on the binary and on the open3d python module just to be sure? You can get the location of the python module with
```python -c "import open3d; print(open3d.pybi

[2020-08-02 07:23] femust commented on #2112
after ldd bin_file
[code]

With this open3d.pybind, I get that:
[code]
maybe because I installed from pip? But honestly, I tried to install with pybind right now and I get the same error (with python3 ofc)

[2020-08-02 11:17] seann999 opened #2127 "ScalableTSDFVolume: Unsupported image format"
I have RGB and depth numpy arrays in uint8 and float dtypes, respectively (depth is in meters).
I want to use them to create a TSDF volume.
Following the example in the docs, I have the following:
[code]
However, probably because of the depth format, I get
```RuntimeError: [Open3D ERROR] [ScalableTSDFVolume::Integrate] Unsupported image format```

How can I work with a depth format with float valu

[2020-08-02 12:41] benjaminum commented on #2112
Sorry, I was assuming the version in the master branch. This should work for the pip package from PyPI
```python -c "import open3d; print(open3d.open3d_pybind.__file__)"```

[2020-08-02 15:49] femust commented on #2112
here we go:
[code]

[2020-08-02 15:51] benjaminum commented on #2112
Can you run ```ldd`` on this file to see if there is a difference between the loaded libraries?

[2020-08-02 16:00] femust commented on #2112
so actually after ldd ./my_file.py i got
[code]
I read that it may be caused by a 32-bit lib version installed on 64 bit? But I think it's quite impossible since I installed by pip

[2020-08-02 16:04] benjaminum commented on #2112
You can run ```ldd``` directly on the ```.so``` file.
Try ```ldd /home/andrzej/.local/lib/python3.6/site-packages/open3d/open3d_pybind.cpython-36m-x86_64-linux-gnu.so```

[2020-08-02 16:05] femust commented on #2112
ok then:
[code]
as a reminder for cpp file:
[code]

[2020-08-02 16:08] femust commented on #2112
so python file doesn't link opengl at all ? (not sure whether this libGL is connected somehow with opengl?)

[2020-08-02 16:21] ytyfeng commented on #1307
What is your GLIBC version?
[code]
Open3D requires GLIBC 2.27.

[2020-08-02 16:34] benjaminum commented on #2112
No, the python file itself does not link anything. The C modules imported in the python file will load libraries. ```open3d_pybind.cpython-36m-x86_64-linux-gnu.so``` is such a C module.

Thanks for the information.
The paths to the GL libs are the same for the binary and the C module, which means there isn't a problem with using different OpenGL implementations.
However, the binary links libOpenGL

[2020-08-02 18:37] seann999 commented on #2127
Nevermind, ```rgb``` had 4 channels, and that was causing the error.

[2020-08-02 18:37] #2127 closed

[2020-08-02 20:35] Me817 commented on #1872
Hi,
today I installed open3d on Windows 10 via pip and used python 3.7.4. I already updated open3d by the comment you mentioned above, so I already have open3d 0.10.0.1. But I still get the following error:
[code]
Does anyone have an idea how to solve this?
Thank you in advance.

[2020-08-02 20:45] femust commented on #2112
Hmm I tried also rename libOpenGL as libOpenGL.bak because I thought that maybe the things from libGL.so will be enough, but then during compilation, I have a linking problem, that the lib hasn't been found etc.

Ok so if you learn something valuable, please let me know

[2020-08-03 05:59] femust commented on #2112
Also, I installed version with tag 0.10 and still I get the same error, but I have some observations:

While I build open3d in build/bin folder there is something like ViewGeometry, and when I try to run it with a point cloud as an argument it runs, ldd info is:
[code]
but the version from master HEAD (that we discussed) throws seg fault, but ldd is the following:
[code]
BUT when I install Open3D

[2020-08-03 07:46] GnnrMrkr commented on #2062
I have never contributed to such a big project, but I'd like to try it out!

Unfortunately, I'll be very busy until early / mid October. Keep me updated, if this is still an issue then. But feel free to tackle this without me ;)

[2020-08-03 09:04] benjaminum commented on #2112
So linking libOpenGL.so and libGL.so really seems to be the culprit here. I asked a colleague for help on this problem. Meanwhile, can you give the cmake version you are using?

[2020-08-03 09:54] GnnrMrkr commented on #2122
PCL only states they use an algorithm based on point-to-plane distances, but not exactly which one.

Open3D has an implementation of the Algorithm by Chen and Medioni (1992), see the [corresponding section in the documentation](http://www.open3d.org/docs/release/tutorial/Basic/icp_registration.html#Point-to-plane-ICP).

I think this could be the variant you are looking for? If not, it would be hel

[2020-08-03 09:56] seann999 opened #2129 "Color of TSDF mesh is incorrect"
I am trying to use RGBD integration to construct a mesh.
It is supposed to be a beige wooden table with objects on it.
This is a partial render of the scene:
<img width="147" alt="ss2" src="https://user-images.githubusercontent.com/6847529/89170673-f3d9ec00-d5ba-11ea-9fdf-6179a895020a.png">
This is what I am getting from the TSDF:
<img width="151" alt="ss" src="https://user-images.githubuserconten

[2020-08-03 12:40] femust commented on #2112
after
```cmake --version```
[code]
but as far as i remember open3d supports from 3.12 so it should be fine

[2020-08-03 14:07] Jason1820 opened #2131 "Windows install separate debug and release libs"
I have noticed that Open3D now creates separate Debug and Release folders in the build directory. However, these are not then carried through to the install folder. When I link open3d with find_package I specify the install folder as it contains the cmake config file. However, when trying to link I get

Severity	Code	Description	Project	File	Line	Suppression State
Error	LNK2038	mismatch detected f

[2020-08-03 15:38] #2075 closed

[2020-08-03 16:01] keithahern commented on #1673
I am running a Macbook with a second display provided by airplaying to an iPad (new OS X feature).  When I disconnected the airplay display I no longer got this error.

[2020-08-03 18:33] seann999 commented on #2129
I've solved the color problem, and it was something to do with how I created the RGBDImage.
Saving rgbd.color showed this, which is the pattern I saw on the odd mesh.
![rgb](https://user-images.githubusercontent.com/6847529/89214959-b7ca7980-d602-11ea-8b80-da6ca554d776.png)
I then changed
```color = o3d.geometry.Image(rgb)```
to
[code]
and it was solved:
<img width="139" alt="ss3" src="https://use

[2020-08-04 02:28] AndreV84 opened #2134 "how to install on nvidia jetson?"
how to install it with cuda support? with librealsense  support?
[code]

[2020-08-04 08:48] fnobis opened #2135 "Render Pointcloud in different sizes"
I simultaneously render different input pointclouds of different sensors. Some of those are of more importance than others. It would be nice to render the more important pointclouds in a bigger size than the less important ones.

Is this feature planed? Or already existent?

[2020-08-04 11:04] Me817 opened #2136 "Getting DDL load failed Errors when trying to import Open3D"
Hello,

**Describe the bug**
I have installed Open3D 0.10.0.1 in an virtual environment on my Windows 10 Desktop PC, but every time when I try to import open3d module I get the following error message:

[code]
I also get this error message when I try to run the python examples.

**To Reproduce**
Steps to reproduce the behavior:
To reproduce run any python example where you have an open3d import.

[2020-08-04 14:43] ychechik commented on #1307
on my server only open3d=0.8 works. this is his specs:
[code]

[2020-08-04 14:51] errissa commented on #2135
@fnobis It should be possible to render point clouds with different point sizes with the new python interface to rendering. We are currently working on the new interface and will keep this feature request in mind.

[2020-08-04 15:00] theNded commented on #2126
`TransformationEstimationPointToPoint(True)` should take False instead. This flag indicates whether scaling is considered.

[2020-08-04 15:00] #2126 closed

[2020-08-04 15:09] theNded commented on #2122
We support both [point-to-point](http://www.open3d.org/docs/release/python_api/open3d.registration.TransformationEstimationPointToPoint.html) and [point-to-plane](http://www.open3d.org/docs/release/python_api/open3d.registration.TransformationEstimationPointToPlane.html). PointToPlane is what you want.

[2020-08-04 15:09] #2122 closed

[2020-08-04 15:22] theNded commented on #2107
There are some issues with python multithread regarding memory usage. Can you try to turn it off in the config file and try again?
Another potential issue can be the failure of global registration. In global registration I can see there are 19 nodes and 18 edges, which means no valid loop closure is detected. This may cause incorrect integration into an unreasonably large space.

[2020-08-04 15:29] theNded commented on #2095
This special file format is defined here: http://redwood-data.org/indoor/registration.html, only for reading/writing trajectory now.

[2020-08-04 15:29] #2095 closed

[2020-08-04 15:34] theNded commented on #1985
We don't support depth-only odometry now, but potentially you can try to extend [this module](https://github.com/intel-isl/Open3D/blob/master/cpp/open3d/pipelines/odometry/RGBDOdometryJacobian.h) by adding other odometry methods as defined in [KinectFusion](https://www.microsoft.com/en-us/research/wp-content/uploads/2016/02/ismar2011.pdf)

[2020-08-04 15:34] #1985 closed

[2020-08-04 15:53] theNded commented on #2129
Yes, the current Image interface has some problems and the initialization is less friendly if you do not load from file. We are addressing this issue in the current iteration where we are replacing the internal data to an easy-to-use tensor.

[2020-08-04 15:53] #2129 closed

[2020-08-04 15:57] theNded commented on #848
This will be addressed when we start to integrate MKL-PARDISO and cuSparse on demand.

[2020-08-04 15:57] #848 closed

[2020-08-04 16:06] griegler commented on #2117
It is possible that this is due to multithreading. If you compile open3d from source you have a `n_threads` parameter in the `create_from_point_cloud_poisson` method. Setting this to `1` could resolve the issue.

[2020-08-04 22:35] zainmehdi commented on #2107
@theNded Thanks for the reply. I tried turning multi threading option false and even then it causes segmentation fault if the voxel size is smaller than 5cm and depth scale in image is beyond 3m.

[2020-08-04 23:17] theNded commented on #2107
Does 5cm and 3m work? In fact voxel size in config file is a little bit confusing -- the real voxel size is 5cm / 512 (see https://github.com/intel-isl/Open3D/blob/master/examples/python/ReconstructionSystem/integrate_scene.py#L24). So it can be good to check the result of this default configuration.

Another suggestion can be checking the reconstruction of fragments in the `fragment` folder using

[2020-08-04 23:31] zainmehdi commented on #2107
Yes 5cm and 3m work. And I checked the results of the fragments. It produces ply files. Here are few more interesting observation.
-  If I try to run Fragmentation part with multi-threading it crashes. Running it without multi threading works with the above mentioned voxel and depth values. Else it fails even in single threading mode.
- The registration part doesnt work with single thread no matte

[2020-08-04 23:54] theNded commented on #2107
For multithread you may want to tune MAX_THREAD here: https://github.com/intel-isl/Open3D/blob/master/examples/python/ReconstructionSystem/make_fragments.py#L181

It makes sense if the resolution is very high, otherwise it will be interesting to look at the log.

This is weird, can you put the log here?

[2020-08-05 00:00] zainmehdi commented on #2107
Here is the log for the second case. For the first case I will do more test and share some logs with you.
Configuration

                                    name : Captured frames using Realsense
                            path_dataset : dataset/realsense/
                          path_intrinsic : dataset/realsense/camera_intrinsic.json
                               max_depth : 3.0

[2020-08-05 04:00] www158 commented on #1985
Thank you for your reply. I replaced color images into dummy image that has the single color,For example:
[code]
I put dummy color image to the pipeline,And got good results.

[2020-08-05 04:38] bigpehi commented on #1928
sorry,i have no idea with your problem. But i have a question as yours, it is what the voxel_size mean? Why it is different in different pointcloud file, I can only use voxel_size=0.00001 in my project, if I use 0.05 instead ,there will return an error. Thanks in advance.

[2020-08-05 07:55] christianlandgraf commented on #1909
I experienced the same issue but similarly to #2094, I was able to solve it by manually installing filament from source and adding the paths to the CMakeLists in Open3d (Variables FILAMENT_PRECOMPILED_ROOT and FILAMENT_SOURCE_ROOT).

For filament, I followed the instructions from [here](https://github.com/google/filament/blob/main/BUILDING.md#linux) using their dependencies (clang-10, ninja, etc.)

[2020-08-05 10:41] kazu0622 opened #2139 "set_lookat(), set_front(), set_up() usage of VisualControl"
Hi!
I'm not familier with OpenGL. So, I wasn't able to understand how to use set_lookat(), set_front(), set_up().
Are there any explanation about that on your document?
And I'd like to understand the relationship between the description in this link page as below.
https://learnopengl.com/Getting-started/Camera

I'm grad you could give some comments for me.

Thanks.

[2020-08-05 11:19] alexis-roche commented on #2117
Thank you so much for your feedback Gernot. I will do that asap and let you know if it fixes the issue for me.

[2020-08-05 12:56] Double-zh commented on #1980
請問呢解決了嗎，我也遇到了類似的問題。
 [ 34%] Building CXX object cpp/open3d/visualization/gui/CMakeFiles/GUI.dir/Application.cpp.o
 In file included from /home/zhengzh/Open3D/build/_deps/fetch_filament-src/include/backend/Platform.h:22:0, from /home/zhengzh/Open3D/build/_deps/fetch_filament-src/include/filament/Engine.h:20, from /home/zhengzh/Open3D/cpp/open3d/visualization/rendering/filament/FilamentEngine.h:29,

[2020-08-05 13:01] griegler commented on #2139
How is this question related to Open3D?

[2020-08-05 13:04] Double-zh opened #2140 "MAKE ERROR!!!!![cpp/open3d/visualization/gui/CMakeFiles/GUI.dir/Application.cpp.o] Error 1"
**IMPORTANT: Please use the following template to report the bug.**
_____

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. git clone git@github.com:intel-isl/Open3D.git
2. git submodule update --init --recursive
3. util/scripts/install-deps-ubuntu.sh
4.mkdir build
5.cd build
6.sudo cmake -DCMAKE_INSTALL_PREFIX=/opt/Ope

[2020-08-05 15:07] theNded commented on #2107
It would be nice if you can share your data somewhere, I think I have to take a look closely...

[2020-08-05 15:13] theNded commented on #1928
@lyldev voxel size is way to large, it is 30 meters. Please try something smaller (like 0.05).
@bigpehi can you share a more detailed error log?
Also, FGR is faster but less stable than RANSAC. Please switch to RANSAC if you don't plan to run multi-way registration and still desire a high accuracy.

[2020-08-05 15:18] theNded commented on #2119
You can use [TransformationEstimationPointToPoint](http://www.open3d.org/docs/release/python_api/open3d.registration.TransformationEstimationPointToPoint.html) with `with_scale=True`. This is used both in `registration_icp` and `registration_ransac_based_on_feature_matching` and will handle scale during registration.

[2020-08-05 15:18] #2119 closed

[2020-08-05 15:28] theNded commented on #2123
This is a very good point... we also don't quite understand why the initial author implemented it in this way. The roles `max_iteration` and `max_validation` play are also the same in feature based method. Therefore you may set these variables the same, or set one of them to be really large (to be ignored) and tune the other.

Return criteria is also a good suggestion. It is currently used in [Reg

[2020-08-05 15:30] #669 closed

[2020-08-05 15:39] theNded commented on #2071
We need the mkv file recorded by AzureKinect to parse the calibration. It will be stored in a json file `intrinsic.json`, see https://github.com/intel-isl/Open3D/blob/master/examples/python/ReconstructionSystem/sensors/azure_kinect_mkv_reader.py#L60

[2020-08-05 15:39] #2071 closed

[2020-08-05 15:40] theNded commented on #2051
See #2071

[2020-08-05 15:40] #2051 closed

[2020-08-05 15:41] theNded commented on #2070
Please refer to #2071 and use our mkv reader to parse the pre-stored mkv video captured from either Azure Kinect's official app or ours.

[2020-08-05 15:41] #2070 closed

[2020-08-05 15:49] www158 commented on #1985
@theNded

[2020-08-05 15:57] theNded commented on #1985
This is quite unexpected lol, I thought there can be multiple issues with this method so didn't make a suggestion...

It is recommended to change [this parameter](https://github.com/intel-isl/Open3D/blob/master/cpp/open3d/pipelines/odometry/RGBDOdometryJacobian.cpp#L38) to 1.0 if you choose this approach.

[2020-08-05 16:48] nachovizzo opened #2141 "1c403fdb79 Breaks python visualizer"
**Describe the bug**
After commit: 1c403fdb79 was introduced, I can't open the visualization tool anymore, from **python3**. I'm running Ubuntu 18.04. And after removing this commit from the master branch I can confirm that I can use the visualizer with no problems.

It segfaults right away after trying to open the visualizer `[1]    21124 segmentation fault  python3 -c ....`

**backtrace**:
[code

[2020-08-05 17:43] femust commented on #2112
@benjaminum
so when I compiled with
[code]
seg fault disappeared

[2020-08-05 17:53] theNded commented on #1943
The error message can be improved here. Are you willing to make a PR to do this?
https://github.com/intel-isl/Open3D/blob/1d899345aa869412103c398686a27de318d6b40c/cpp/open3d/pipelines/integration/ScalableTSDFVolume.cpp#L75

[2020-08-05 17:57] theNded commented on #1974
@tatsy Thanks for your contribution. I prefer the second solution. Please let me know if you need help with the PR.

[2020-08-05 18:43] benjaminum commented on #2112
Thanks @femust ! This is good information. Thanks @nachovizzo for confirming that disabling gui avoids the segfault.
There seems to be something wrong with linking OpenGL when the GUI is enabled.
I am still trying to reproduce this issue.

[2020-08-05 22:56] agporto opened #2142 "pip install fails in OSX Catalina 10.15.5 due to lack of version control on dependency (notebook)"
When pip installing open3d 0.9.0 and 0.10.0 on OSX Catalina 10.15.5, installation fails with the following error message:
[code]
The error seems to be a consequence of lack of version control of the dependency `notebook`, which added on July 31st the following dependency `argon2-cffi` , which doesn’t have a OSX wheel available.

[2020-08-06 01:01] bigpehi commented on #1928
Thanks, I solved my problem yesterday, the reoson why i need use a smaller voxel_size is the different depth unit. I realized

[2020-08-06 01:11] bigpehi commented on #1928
Thanks😄, I solved my problem yesterday, the reoson why i need use a smaller voxel_size is the different depth unit.
I realized 0.02 is 1000 times of 0.00002, so it is the times between "m" and "mm".

By the way, do you know how can we choose a optimal voxel_size for our script?
Is voxel_size have relationship with the dense of point cloud or other parameter?
I want write a function , the input of

[2020-08-06 01:48] zainmehdi commented on #2107
https://drive.google.com/file/d/1O0CRAu7GJaY1J19l7Qk_Gnh9qfzfmxcG/view?usp=sharing
Here is the data

[2020-08-06 07:26] zangel commented on #1909
I also had this issue and the solution is as @femust  pointed out to the filament issue [https://github.com/google/filament/issues/2146](url).
Actually filament needs to be compiled with builtin functions disabled (`-fno-builtin`) (i am attaching a patch for that), then Open3D needs to be build with `-DBUILD_FILAMENT=YES`.
[ext_filament_patch.txt](https://github.com/intel-isl/Open3D/files/5033193/

[2020-08-06 10:23] benjaminum commented on #2112
@femust, @nachovizzo do you use machines with multiple GPUs/drivers, e.g., a laptop with integrated + discrete gpu from different vendors?

[2020-08-06 12:18] nachovizzo commented on #2112
@benjaminum I faced the error in 2 computers, 1 with 1 NVIDIA GPU and the other with NO GPU

[2020-08-06 12:22] XuyangBai commented on #2123
Hi @theNded, I am glad to help but I think the situation between RANSAC and RegistrationICP should be different. ICP is **updating** the transformation matrix every iteration, thus we can early stop when the changes between two iterations are smaller than a threshold. However for RANSAC (take RANSAC based on correspondence as an example), in every iteration `ransac_n` number of correspondence are

[2020-08-06 13:05] PaulVeger commented on #1943
I would propose splitting the error message in 2 separate cases that are of a different nature helping users to debug their supplied invalid data faster.
1. "[UniformTSDFVolume::Integrate] Unsupported image format.");
or
2. "[UniformTSDFVolume::Integrate] Camera intrinsic mismatch: camera intrinsic image size or orientation does not match the supplied image");

[2020-08-06 15:43] alexis-roche commented on #2117
I can confirm that setting `n_threads=1` after re-building open3d from the current git master branch fixes the reproducibility issue. Weirdly enough, the function also runs faster. Thanks again @griegler for your input.

[2020-08-06 16:14] ytyfeng commented on #1307
Did you build from source? According to the documentation, the latest version requires Ubuntu 18.04+. http://www.open3d.org/docs/release/compilation.html#system-requirements

[2020-08-07 00:11] #794 closed

[2020-08-07 00:13] germanros1987 commented on #882
Issue closed due to lack of activity. Feel free to open a new issue if you still consider this is a critical matter.

[2020-08-07 00:13] #882 closed

[2020-08-07 00:13] #886 closed

[2020-08-07 00:14] germanros1987 commented on #897
This issue should be solved in the latest release of Open3D.

[2020-08-07 00:14] #897 closed

[2020-08-07 00:16] germanros1987 commented on #910
@ljc19800331 did you manage to solve the problem?

[2020-08-07 00:19] germanros1987 commented on #913
I don't see a way to cover this feature. I am closing this issue.

[2020-08-07 00:19] #913 closed

[2020-08-07 00:19] #920 closed

[2020-08-07 00:21] germanros1987 commented on #928
@adcrossan1 is this problem still bothering you?
@theNded if the user is still interested could you try to help?

[2020-08-07 00:26] germanros1987 commented on #938
problem solved!

[2020-08-07 00:26] #938 closed

[2020-08-07 00:28] germanros1987 commented on #942
CUDA support is being incrementally rolled out as we speak. You can find the new Tensor library in master with support for GPU.

[2020-08-07 00:28] #942 closed

[2020-08-07 00:28] germanros1987 commented on #943
@Keith-Wangg is this issue still bothering you?

[2020-08-07 00:30] germanros1987 commented on #949
@yxlao could you take a look at this?

[2020-08-07 00:31] germanros1987 commented on #957
Closing this issue since the original question got solved. Please @gledsonmelotti use a new issue to ask your question.

[2020-08-07 00:31] #957 closed

[2020-08-07 00:32] #961 closed

[2020-08-07 00:33] #975 closed

[2020-08-07 00:34] #990 closed

[2020-08-07 00:36] germanros1987 commented on #1002
This should be now possible with the new PointCloud class.

[2020-08-07 00:36] germanros1987 commented on #1017
Issue closed due to lack of activity. Feel free to open a new issue if you still consider this is a critical matter.

[2020-08-07 00:36] #1017 closed

[2020-08-07 00:38] germanros1987 commented on #1026
thank you for your "kind" words @pankajbadatia . Could anybody provide the version of Open3D they are using?
@yxlao could you take a look at this?

[2020-08-07 00:44] #1028 closed

[2020-08-07 00:44] #1029 closed

[2020-08-07 00:46] germanros1987 commented on #1044
There is now a PR related to this (#1966). I hope it gets merged soon.

[2020-08-07 00:46] #1045 closed

[2020-08-07 00:59] germanros1987 commented on #1050
I think this is possibly an issue even in today's visualizer. Can we load images in the background in the new visualizer @errissa ?

[2020-08-07 01:00] germanros1987 commented on #1057
Issue closed due to lack of activity. Feel free to open a new issue if you still consider this is a critical matter.

[2020-08-07 01:00] #1057 closed

[2020-08-07 01:02] #1061 closed

[2020-08-07 01:03] germanros1987 commented on #1064
We will add it to the list of feature requests.

[2020-08-07 01:04] #1068 closed

[2020-08-07 01:06] germanros1987 commented on #1072
@Resays is this issue still bothering you?

[2020-08-07 01:08] germanros1987 commented on #1073
Issue closed due to lack of activity. Feel free to open a new issue if you still consider this is a critical matter.

[2020-08-07 01:08] #1073 closed

[2020-08-07 01:09] germanros1987 commented on #1074
This is solved in the new visualization system.

[2020-08-07 01:09] #1074 closed

[2020-08-07 01:10] germanros1987 commented on #1081
@lvgeng is this issue still bothering you?

[2020-08-07 01:11] germanros1987 commented on #1084
@yxlao do you have anything to say about this building issue?

[2020-08-07 01:12] germanros1987 commented on #1085
@planerymist please do not kidnap the conversation.

[2020-08-07 01:12] #1085 closed

[2020-08-07 01:13] germanros1987 commented on #1086
We are also working on an update of the shaders to support transparencies.

[2020-08-07 01:15] germanros1987 commented on #1090
@syncle could you please comment on this?

[2020-08-07 01:16] #1093 closed

[2020-08-07 01:16] germanros1987 commented on #1106
Issue closed due to lack of activity. Feel free to open a new issue if you still consider this is a critical matter.

[2020-08-07 01:16] #1106 closed

[2020-08-07 01:17] germanros1987 commented on #1114
@JoshMB8 are you still interested in this question?

[2020-08-07 01:17] #1116 closed

[2020-08-07 03:33] germanros1987 commented on #1123
@lvgeng do you still care about this? @wissalsayhi if you are having the same issue, could you post your point clouds and the results?

@theNded do you have any bandwidth to take a look?

[2020-08-07 03:34] germanros1987 commented on #1133
@syncle could you advise how to proceed?

[2020-08-07 03:37] germanros1987 commented on #1137
@HndsmJohn sorry for the delay. Are you still interested in this issue?

Have you tried using pybind11?

[2020-08-07 03:38] #1138 closed

[2020-08-07 03:42] germanros1987 commented on #1146
@sammo2828 in order to make that change in a consistent fashion we would have to update the entire IO module. I personally don't think it's worth the investment, but if you see the value we will happily accept a good PR.

[2020-08-07 03:45] germanros1987 commented on #1154
Issue closed due to lack of activity. Feel free to open a new issue if you still consider this is a critical matter.

[2020-08-07 03:45] #1154 closed

[2020-08-07 03:49] germanros1987 commented on #1157
We haven't forgotten about this. It will happen. In fact, part of this is already out as part of the new GUI module and the python API for the GUI module, but displaying text in the Render widget is still not possible.

[2020-08-07 03:50] #1158 closed

[2020-08-07 03:53] germanros1987 commented on #1159
I know we haven't commented on this issue in a long while (sorry about that). However, I am here to bring some hope. We are actively working on a new NeighborSearch module with support for high-performance algorithms. This should really help with the issues experienced in past versions of Open3D. Please, stay tune.

[2020-08-07 03:58] germanros1987 commented on #1161
Forget about PyQT and VTK. We have created our own GUI module, natively integrated with Open3D and with python wrappers. This is coming out as part of Open3D 0.11, expected in September. I know it took a while, but it is almost here. In fact, if you are curious you can play with master. You will find a few examples like [vis-gui.py](https://github.com/intel-isl/Open3D/blob/master/examples/python/G

[2020-08-07 04:02] germanros1987 commented on #1164
@errissa we will take care of this after the 0.11 release...

[2020-08-07 04:03] germanros1987 commented on #1166
We haven't forgotten about this feature request. It will happen.

[2020-08-07 04:11] germanros1987 commented on #1169
Folks, indeed, visualization is complicated and many of the popular libraries try very hard to be "interactive" by taking control of the main thread.

The good news is that we have upgraded the visualization module. Now you will have access to a Render class that lets you render into a buffer. You can decide to visualize that using the GUI module (which will require the main thread) or some other

[2020-08-07 04:13] germanros1987 commented on #1170
Issue closed due to lack of activity. Feel free to open a new issue if you still consider this is a critical matter.

[2020-08-07 04:13] #1170 closed

[2020-08-07 04:14] germanros1987 commented on #1178
@yxlao @theNded your input here would be really useful. Could you give your opinion, please?

[2020-08-07 04:16] germanros1987 commented on #1182
Issue closed due to lack of activity. Feel free to open a new issue if you still consider this is a critical matter.

[2020-08-07 04:16] #1182 closed

[2020-08-07 04:18] germanros1987 commented on #1195
@griegler do you think this is something you could help with?

[2020-08-07 04:18] germanros1987 commented on #1203
@Resays is this issue still bothering you?

[2020-08-07 04:20] germanros1987 commented on #1234
@yxlao is this still happening? Can you reproduce it?

[2020-08-07 04:27] germanros1987 commented on #1240
@schen119 we will look into this as soon as we have some bandwidth. @yxlao will try to help as soon as he is free.

[2020-08-07 04:29] germanros1987 commented on #1241
@griegler do you think this is something you could look into?

[2020-08-07 04:30] #1246 closed

[2020-08-07 04:31] #1252 closed

[2020-08-07 04:31] germanros1987 commented on #1253
Issue closed due to lack of activity. Feel free to open a new issue if you still consider this is a critical matter.

[2020-08-07 04:31] #1253 closed

[2020-08-07 04:32] #1256 closed

[2020-08-07 04:38] germanros1987 commented on #1257
@theNded is there a way to access this information?

[2020-08-07 04:41] germanros1987 commented on #1261
I think that after @rajaneeshdwivedi contribution we are ready to close the issue.

[2020-08-07 04:41] #1261 closed

[2020-08-07 04:42] germanros1987 commented on #1263
@theNded do you know any way to achieve this?

[2020-08-07 04:43] #1266 closed

[2020-08-07 04:44] germanros1987 commented on #1268
@errissa since you are a big windows fan, do you have any idea of what could be happening here?

[2020-08-07 04:48] germanros1987 commented on #1297
@lvgeng I agree. We definitely need to work on a new registration method/an upgrade of ICP. We will keep you posted

[2020-08-07 04:49] mingzengliu opened #2145 "Error: open3d_tutorial module error"
**IMPORTANT: Please use the following template to report the bug.**
_____

**Describe the bug**

OS: Win 64
Anaconda3(64-bit)
python 3.7.7

Bug: import open3d_tutorial error

**To Reproduce**
Steps to reproduce the behavior:

1. open : Anaconda prompt(Adaconda3)
2. conda install -c open3d-admin open3d (work well)
3. open: Spyder, then input the following code:
4.   import numpy as np
      import

[2020-08-07 04:49] germanros1987 commented on #1300
@mattj23 are you still interested in this?

[2020-08-07 04:54] germanros1987 commented on #1301
This issue should be solved for 0.10. @LangeJustin by any chance, have you tried with 0.10?

[2020-08-07 04:55] #1303 closed

[2020-08-07 04:57] #1310 closed

[2020-08-07 05:54] femust commented on #2112
@benjaminum  laptop with gpu

[2020-08-07 06:07] hibetterheyj opened #2147 "Any suggestions on adding color bar and indicators corresponding to point attributes"
**Is your feature request related to a problem? Please describe.**
I'm frustrated about how to add a color bar and indicators corresponding to point attributes (e.g., height or intensity). For better display, in addition to colorization for different points, I also want to further present the corresponding attribute range and color of the specific attribute.

**Describe the solution you'd like**
A

[2020-08-07 06:25] #2117 closed

[2020-08-07 06:36] griegler commented on #1195
Duplicate of #2062

[2020-08-07 06:36] #1195 closed

[2020-08-07 06:41] griegler commented on #2145
The file you are looking for is her (https://github.com/intel-isl/Open3D/blob/master/examples/python/open3d_tutorial.py). You can copy it to the same location as your script, this should solve your issue. Note that it is only required for the tutorials (visualization), but it is likely that you will not need it in your script.

[2020-08-07 06:41] #2145 closed

[2020-08-07 06:51] #1311 closed

[2020-08-07 06:52] germanros1987 commented on #1314
we are trying to find some bandwidth to work on this

[2020-08-07 09:46] yxlao commented on #2136
Hi @Me817 , let's try to debug this issue. First, download the "Dependencies" app as mentioned in:
https://vxlabs.com/2017/12/06/how-to-debug-pyinstaller-dll-pyd-load-failed-issues-on-windows/#seeing-the-light-with-lucasg8217s-dependencies

Using the "Dependencies" tool, locate the `C:\Users\PC\AppData\Local\Programs\Python\Python37\lib\site-packages\open3d` directory, and locate the python shared

[2020-08-07 09:50] yxlao commented on #2142
Seems like this is related to `argon2-cffi` but not Open3D.

Try to see if
[code]
works.

Closing for now. Feel free to comment.

[2020-08-07 10:01] agporto commented on #2142
I was able to install things after debugging (I simply used a previous version of the notebook library). But I thought to report to open3d given that open3d does not currently have version control on the required python libraries. Anyone installing open3d using pip in MacOS Catalina 10.15.5. will have to go through the same process as me.

[2020-08-07 10:02] agporto commented on #2142
Closing for now, but I still think it is something open3d should consider

[2020-08-07 10:02] #2142 closed

[2020-08-07 10:02] yxlao commented on #2142
good point, thanks

[2020-08-07 13:45] kazu0622 commented on #2139
@griegler My question is relating to this,
http://www.open3d.org/docs/release/python_api/open3d.visualization.ViewControl.html
of set_front(), set_lookat(), set_up().
I wasn't able to understand how to use them.
Thanks.

[2020-08-07 14:07] griegler commented on #2139
I see, @errissa or @prewettg might be able to explain it in more detail.

[2020-08-07 14:17] #1072 closed

[2020-08-07 14:46] nachovizzo opened #2148 "Python crashes when input file doesn't exists"
**Describe the bug**
io utility segfaults when the input file does not exists. This issue was introduced in #1936

**To Reproduce**
 Extremly easy to reproduce:

[code]
**Backtrace**
[code]

**Expected behavior**
I traced down when this started to happen and was in 91b3375. If I `git revert 91b3375` this issue goes away and the output looks as follow(after re-building the library)
A clear and conc

[2020-08-07 14:53] theNded commented on #2148
@sammo2828 can you please take a look?

[2020-08-07 15:06] griegler commented on #2011
We are currently working on GPU support for Open3D, but implementing all available algorithms also on GPU is not trivial and will take some time. Especially some of the algorithms you mentioned (ball bivoting, alpha shapes) are sequential in nature. That said, we would be more than happy to receive PRs from the community.

[2020-08-07 15:09] #1940 closed

[2020-08-07 15:11] #1922 closed

[2020-08-07 15:12] #1918 closed

[2020-08-07 15:16] #1894 closed

[2020-08-07 15:18] griegler commented on #1890
#2113 implemented the bindings.

[2020-08-07 15:18] #1890 closed

[2020-08-07 15:20] #1878 closed

[2020-08-07 15:55] yxlao commented on #1234
this issue has been fixed

[2020-08-07 15:55] #1234 closed

[2020-08-07 22:22] ttsesm opened #2151 "point cloud creation from interiornet dataset is skewed"
Hi, I am trying to create a point cloud from the Interiornet RGBD images, following the code snippet below:

[code]

However, for some reason my point cloud is skewed:
![image](https://user-images.githubusercontent.com/10189018/89691724-f36a8980-d909-11ea-8c25-1ef01a9a3de6.png)

Any idea what could be wrong?

Environment:

- Operating system: Archlinux
- Python version: Python 3.8
- Open3D version

[2020-08-08 01:13] mattj23 commented on #1300
I apologize for missing these messages.  I ended up going in a different direction and compiling under visual studio.  If it would still be helpful I can reinstall cygwin and try to recreate and fix the bug, but I'm no C++ expert.

[2020-08-08 08:59] collikoira commented on #2136
![open3d](https://user-images.githubusercontent.com/32222463/89706430-4544fb00-d96e-11ea-8f0c-0e589506051d.png)
I had the same issue, took @yxlao advise and seems that python36.dll is not loaded

[2020-08-08 11:15] yxlao commented on #2136
The missing `python36.dll` is likely due virtualenv settings or python runtime version mismatch (e.g. the python env where you install Open3D is not the python env you run Open3D).

@collikoira could you do the following steps?
1) locate the directory of the `python.exe` within the virtualenv that you have installed Open3D (from your screenshot looks like it's somewhere under `C:\Users\OMISTAJA\Py

[2020-08-08 11:23] yxlao commented on #2134
There are 3 questions:
- MKL: MKL is x86 only, you've bring up a good point, we'll consider adding BLAS+LAPACK support for Linux as an MKL alternative
- CUDA: the CUDA part should work with ARM (but of course, the build is currently blocked by MKL)
- librealsense : we haven't tested librealsense on ARM, please feel free to reach out to the librealsense community and let us know your findings

For

[2020-08-08 13:01] Me817 commented on #2136
HI @yxlao , I tried the steps you mentioned above. But the `open3d_pybind.cp37-win_amd64.pyd` is not in `C:\Users\PC\AppData\Local\Programs\Python\Python37\lib\site-packages\open3d ` and not in the virtual environment (`C:\Users\PC\Bachelorthesis\venv\Lib\site-packages\open3d`). What can I do in this case?

Here you can see how I tried to install open3d:
[code]
I installed it on my notebook the sa

[2020-08-08 16:44] Fred3D-tech commented on #1968
Same configuration, same problem... and -DENABLE_GUI=OFF does not solve the problem...
tried also to build with Cuda support and it did not work.

[2020-08-08 17:45] collikoira commented on #2136
@yxlao Thanks, I found that I used 32 bit python version , after changing to 64bit module seems to be working, @Me817 can you make sure you are using 64bit python, Im using Python 3.7.7, Also using pycharm...

-Mayby action point for this issue is to check on installing which 64/32 bit version is user using.

[2020-08-09 00:52] yxlao commented on #2136
good point, thanks @collikoira

[2020-08-09 01:09] yxlao commented on #2100
That means that the sanity check succeeds. The parameter we used is only suitable for the demo data. For a different dataset, the optimal parameters are likely to be different.

I would recommend the following:
- changing colormap optimization parameters
- modify the code to obtain intermediate results, and render it for debugging

[2020-08-09 01:09] #2100 closed

[2020-08-09 01:16] yxlao commented on #2140
hi @Double-zh , looks like you're on ubuntu 16.04 which is not officially supported by us anymore.

Here's my guess: by default, `BUILD_FILAMENT_FROM_SOURCE=OFF`
https://github.com/intel-isl/Open3D/blob/f8dae1e4b5b40624ec24dc7565d16c2c682f6589/CMakeLists.txt#L38

and Open3D will download a pre-compiled Filament which only works on Ubuntu 18.04.

For Ubuntu 16.04:
1. try with `BUILD_FILAMENT_FROM_S

[2020-08-09 01:16] #2140 closed

[2020-08-09 01:27] yxlao commented on #1971
**Try the following debug steps:**
1. Use a virtual environment, such as conda
2. Did you do `git clone --recursive` or `git submodule update --init --recursive`?
3. Try explicitly specifying python executable path by `-DPYTHON_EXECUTABLE="\path\to\virtualenv\python.exe"` during CMake config

**Regarding prebuild libs:**
We only provide prebuild libs for python at the moment. At the moment, Open3D

[2020-08-09 01:27] #1971 closed

[2020-08-09 01:29] yxlao commented on #1949
closing as no detailed commands and full error messages are provided, feel free to open a new issue with detailed info

[2020-08-09 01:29] #1949 closed

[2020-08-09 01:31] yxlao commented on #1307
Thanks @ytyfeng, yes this is expected. as mentioned in https://github.com/intel-isl/Open3D#python-quick-start:

Pre-built pip and conda packages support Ubuntu 18.04+, macOS 10.14+ and Windows 10 (64-bit) with Python 3.5, 3.6, 3.7 and 3.8. If you have other Python versions or operating systems, please compile Open3D from source.

[2020-08-09 01:31] #1307 closed

[2020-08-09 01:32] yxlao commented on #1563
Closing as the Docker build is no longer maintained and removed from the repo. We'll add back docker support for CI in the future.

[2020-08-09 01:32] #1563 closed

[2020-08-09 01:33] yxlao commented on #1301
In general, we recommend:
- Using a python virtual env (such as conda)
- Make sure the python env that you installed open3d is the same as the one that you run open3d
- Make sure the python is 64 bit, not 32

[2020-08-09 01:33] #1301 closed

[2020-08-09 01:36] yxlao commented on #1084
From the error message, `/usr/local/lib/libglfw3.a` is a system library, which is not guaranteed to be compatible with Open3D. Now we've set the default to always use the GLFW that comes with Open3D's CMake system, which should avoid this issue.

[2020-08-09 01:36] #1084 closed

[2020-08-09 01:43] yxlao commented on #1899
Currently,
- `open3d==0.10.0.1` only works on Windows, at that's a small patch that we apply to `open3d==0.10.0.0` for Windows to fix some installation issues: https://pypi.org/project/open3d/0.10.0.1/#files
- `open3d==0.10.0.0` should be used for Linux: https://pypi.org/project/open3d/0.10.0.0/#files

[2020-08-09 01:43] #1899 closed

[2020-08-09 06:50] benjaminum commented on #1169
With the RPC module it will be possible to run the visualizer in a separate process or even on a different computer and send the geometries over a socket or other transports to it. From my experience this will be especially useful for the interactive debugging you describe @martinakos.

[2020-08-09 06:55] benjaminum commented on #2147
Just to better understand the idea, do you think about something like the color bar in this image?
![image](https://user-images.githubusercontent.com/217089/89726697-bee7f200-da1d-11ea-9aed-26702f68e1c4.png)

[2020-08-09 11:53] yxlao commented on #1934
My guess is that this is not a specific problem related to Open3D, could you either 1) try to start from scratch from a fresh virtual environment, or, 2) try the workarounds mentioned in https://github.com/googleapis/google-cloud-python/issues/6647 ?

[2020-08-09 14:48] rfc2119 opened #2156 "Unexpected behavior in get_picked_points()"
## Description
`get_picked_points()` returns selected points inside a visualizer. It adds them one by one in a queue data structure. However, the points returned do not follow the exact same order I have chosen visually

**To Reproduce**
Steps to reproduce the behavior:

[code]

## Expected behavior*
The indices should be returned in a queue-like order (so points number [23101, 24153, 24547] or th

[2020-08-09 20:16] hibetterheyj commented on #2147
Nice. I try to use the `matplotlib.pyplot` to transform the intensity of points in the cloud into different colors as follows:
[code]

Therefore, I would like to use different attributes to label the color bar and add different texts.

Any suggestions? Many thanks!!!

[2020-08-10 09:08] Me817 commented on #2136
Hello, @yxlao and @collikoira thanks for the comments.

I am using 64 bit version of python on my Computer and in PyCharm too.
I think the problem might be that there is no `open3d_pybind.cp37-win_amd64.pyd` in the directories after installing open3d in the way I show in my last comment. What can I do?

Thanks in advance.

[2020-08-10 10:33] keithahern opened #2157 "Switched from 0.10 package to latest code, FPS dropped from 25 to 0.5 - filament?"
I needed access to the new GUI api and so I checked out the latest code and built it with RealSense support on OSX.  Now the FPS has dropped from around 25 (rendering 2 x 640x480 point clouds) to 0.5 in my application.  I noticed "Filament library loaded. is output when I run the app, is Open3D now defaulting to a high quality (but slower) renderer?  How can I control this and restore a faster FPS

[2020-08-10 12:54] bsespede opened #2158 "Question: Retrieving optimized camera poses and images from Color Map Optimization"
Hi there,

First of all, thanks for such a great implementation of this algorithm. I was experimenting with it it and got amazing results on the color mapped mesh, nevertheless, I need the resulting poses/warped images for an image-based rendering technique.

Would it be possible to retrieve the optimized poses/images somehow? I printed the poses used as input to the algorithm, but they are not ch

[2020-08-10 13:29] Me817 commented on #2136
Hello, @yxlao and @collikoira thanks for the comments.

I am using 64 bit version of python on my Computer and in PyCharm too.
I tried to install open3d in PyCharm via the [Package Installer](https://www.jetbrains.com/help/pycharm/installing-uninstalling-and-upgrading-packages.html#install-package) and now the `open3d_pybind.cp37-win_amd64.pyd` is located in `C:\Users\PC\PycharmProjects\bachelorth

[2020-08-11 00:32] szx0112 commented on #363
Is it possible for us to view the pose graph optimization process (such as iterations of cost reduction), so we can understand the error really decreasing?

[2020-08-11 00:57] szx0112 opened #2159 "Show pose graph optimization result for debugging/params tuning"
I use the pose graph to perform global reconstruction. Sometime the model looks exactly same before and after the optimization. This sometime confuses me because I am not sure if the graph is really optimized or not. Then, it makes harder for me to debug or tuning params for better reconstruction result.

I found currently there is no way to show the total or average cost/error before/after/during

[2020-08-11 01:39] szx0112 commented on #2159
I found the pose graph has debug mode. close the issue.

[2020-08-11 01:39] #2159 closed

[2020-08-11 05:01] kazu0622 commented on #2139
@errissa @prewettg
I thought Open3D's set_front(), set_lookat(), set_up() being compared with OpenGL's.
I'm grad if you could explain how to use these functions.

Thanks.

[2020-08-11 05:04] gh-BumsooKim commented on #1314
when i work `python examples/Python/ReconstructionSystem/sensors/azure_kinect_viewer.py`

I can see error **"Cannot load k4a.dll"**

so I downgraded Kinect SDK to 1.2.0. with **@scimad comment**. Then it works! `azure_kinect_viewer.py` is works. and `azure_kinect_recorder.py` is works.

but after work `python examples/Python/ReconstructionSystem/sensors/azure_kinect_mkv_reader.py`, I can see error

[2020-08-11 05:06] zainmehdi opened #2160 "Difference in depth image captured from open3d azure viewer and k4viewer"
Hi,
I am trying to capture depth images using azure kinect recorder script. It seems like the depth range and quality of the image captured via open3d is different from what I get when I view it from k4viewer. Is there any parameter controlling this difference. Can I get the same range with open3d as well ? I am attaching both the pics for comparison.
Thanks

Much more range can be seen in this pi

[2020-08-11 05:51] scimad commented on #2160
Assuming that your are using python script, please modify the `examples/python/ReconstructionSystem/sensors/default_config.json` as per your need and pass it on the `--config` parameter in command line.

Should solve.

[2020-08-11 06:06] #1826 closed

[2020-08-11 06:34] somebodyus commented on #2111
I have successfully managed to run in headless rendering, but I got the following error when load the viewpoint.

[code]
Error:
`[Open3D WARNING] [ViewControl] ConvertFromPinholeCameraParameters() failed because window height and width do not match.`

[2020-08-11 07:58] somebodyus commented on #2111
Problem solved by calculating the intrinsic matrix using:
[code]
Please see: https://github.com/intel-isl/Open3D/issues/1164

[2020-08-11 08:27] #2111 closed

[2020-08-11 09:43] keithahern commented on #2157
confirming its the change from open3d-0.10.0.0 to open3d-0.10.0.1 (checkout from 7 August 2020) that causes big drop in performance.

[2020-08-11 14:55] bumbastic opened #2162 "Tutorial ReconstructionSystem, running very slow."
Hi,

I installed open3d master on a laptop, 7gen. I7, 16GB RAM, Ubuntu 18.04.
When I run the ReconstructionSystem tutorial with the 016 dataset as input, it takes hours to complete. Is this normal?.

[2020-08-11 15:22] gkalman1 opened #2163 "Identifying selected point cloud neighborhood in a headlesss visualization"
Thank you for the beautiful software that I have only recently started exploring.

I have come across an issue that I have not been able to resolve. My usage is in a headless environment, for which I recompiled Open3D per recommended instructions.

I am trying to identify a selected point/points/neighborhood from a 2D coordinate of the produced headless image.

Ideally it would be something that a

[2020-08-11 18:00] menonmeg commented on #1378
Same issue as well!

[2020-08-11 22:52] ssheorey commented on #767
There doesn't seem to be a way to install a specific version of a dependency with vcpkg. Only the latest version is always used for all packages. Would this be a problem @yxlao ?
https://github.com/microsoft/vcpkg/issues/2823

[2020-08-12 06:26] zainmehdi commented on #2160
@scimad thanks I will try.

[2020-08-12 07:01] yxlao commented on #2158
You're right that this is not possible through the python interface right now. For the time being, you'll need to modify the C++ code do achieve that.

We were working on a refactoring of the color map optimization (https://github.com/intel-isl/Open3D/pull/2026), where we could consider adding the functionality you requested.

[2020-08-12 10:41] yxlao commented on #2157
No. Filament is only used for the gui app for now.

Try compiling with `-DBUILD_GUI=OFF`, which will disable Filament completely. If you still see the performance drop, could try to do some profiling and figure out which part of the code has become slower?

(Also @prewettg )

[2020-08-12 10:43] yxlao commented on #2162
@theNded could you help with this?

[2020-08-12 10:47] yxlao commented on #2131
@Jason1820 is it possible to achieve this by configuring different `-DCMAKE_INSTALL_PREFIX=\path\to\install`?

[2020-08-12 12:07] sammo2828 commented on #2148
@theNded yep I can take a look in a few days.

91b3375 is a significant speedup when using Open3D IO with multiple threads by releasing Python GIL.

Not sure, but if it turns out that releasing Python GLI is causing it to crash, it might be because something inside `LogWarning` doesn't play nice with something inside IO.

[2020-08-12 16:07] griegler commented on #363
@szx0112 could you please open a new issue with your question.

[2020-08-12 17:14] szx0112 commented on #1297
Colored ICP is a necessary step for many reconstruction applications where the geometric difference between RGBD frames are not significant, along walls, inside a tunnel. Under such cases, the color information is the major source to guide the registration.

I think the flying away issue arise when we keep reducing the scale for finer registration. My workaround is to break the registration at cer

[2020-08-12 18:43] benjaminum commented on #2147
The mapping you do is the way to go with the current visualization.
We are working on a new visualizer with customizable gui elements. Maybe it is possible to implement a color bar with the widgets we have. Do you have an idea @prewettg ?

[2020-08-12 18:48] benjaminum commented on #2109
This is probably the same issue as in #2112 . Don't hesitate to reopen if there is new information, which suggests that this problem is different.

[2020-08-12 18:48] #2109 closed

[2020-08-12 18:53] benjaminum commented on #2112
Unfortunately, we cannot reproduce this issue, which makes this very difficult to debug.
@femust @nachovizzo would you be willing to help us to further debug this?

[2020-08-12 21:55] femust commented on #2112
@benjaminum yes, let me know how can I help you

[2020-08-13 07:26] nachovizzo commented on #2148
@theNded I will also take a look, but I'm a bit lost with Python GIL, since I've never used it

It's clearly a lock issue between the GIL and the Logger since the last executed instructions were
[code]

[2020-08-13 08:37] #1044 closed

[2020-08-13 11:19] benjaminum commented on #2112
Can you attach the link information from cmake? You can get all the relevant files with ```find cpp -name "*link.txt"``` in the build directory.

[2020-08-13 11:25] bumbastic opened #2168 "Using known image camera poses, for faster reconstruction."
When I run the ReconstructionSystem tutorial scripts on my own images. it takes about 10-30 minutes to make a nice reconstruction.
A lot of work seems to go in to matching all images against each other.
I already know the camera poses for my images, within a tolerance of +/-30mm and rotation within +/- 1deg. The images is already in a sequence where the camera moves along a straight line.

If poss

[2020-08-13 11:43] ttsesm commented on #2151
From what I've noticed they also provide the extrinsic information as follows:
[code]

which I used to apply the transformation but still it did not work
[code]

[2020-08-13 13:08] Leerw opened #2169 "Disable warning option"
**Is your feature request related to a problem? Please describe.**
https://github.com/intel-isl/Open3D/issues/1259#issue-509954034
When I read a mesh from obj file, though the mtl and jpeg files exist, open3d could not read them and give me warnings, it seemed annoying.

**Describe the solution you'd like**
I want to have an option so that I can disable these warnings.

**Additional context**
My e

[2020-08-13 13:36] Me817 commented on #2136
Hello,

I solved my problem by downloading and installing [Visual C++ Redistributable fur Visual Studio 2015 from Official Microsoft Download Center](https://www.microsoft.com/de-DE/download/details.aspx?id=48145) according to the advice from this [forum](https://www.drwindows.de/programme-und-tools/165789-vcomp140-dll-gefunden.html). I installed vc_redist.x64.exe and everything works fine.
Thanks

[2020-08-13 13:38] Me817 commented on #2136
Hello,

I solved my problem by downloading and installing Visual C++ Redistributable fur Visual Studio 2015 from Official Microsoft Download Center according to the advice from this forum. I installed vc_redist.x64.exe and everything works fine.
Thanks to @yxlao to mention the Dependecies tool. It helped a lot discovering the missing .dll.
I think we can close this issue since all problems mention

[2020-08-13 13:38] #2136 closed

[2020-08-13 16:01] manhha1402 opened #2170 "Unable to compile Open3D from source on Ubuntu 18.04,undefined reference errors to Assimp"
**IMPORTANT: Please use the following template to report the bug.**
_____

**Describe the bug**
 I compile Open3D from source. It gives undefined reference errors with Assimp library.

**To Reproduce**
Steps to reproduce the behavior:
Compile with CMake : `cmake -DGLIBCXX_USE_CXX11_ABI=ON -DPYTHON_EXECUTABLE=/usr/bin/python3 ..`

**Screenshots**
If applicable, add screenshots to help explain your

[2020-08-13 17:58] hibetterheyj commented on #2147
Many thanks! Looking forward to your amazing work

[2020-08-13 19:01] Fred3D-tech opened #2171 "trying to build from source on a Jetson Xavier Agx not working.."
Using the last Jetson  and Jetpack, I was not able to install Open3D.
I hope you realize it is the best platform to built a nomad system..
But it does not work whith Open3D..
using http://www.open3d.org/docs/release/compilation.html
git clone --recursive https://github.com/intel-isl/Open3D
cd Open3D
fred@fred-desktop:~/Open3D$ util/scripts/install-deps-ubuntu.sh
bash: util/scripts/install-deps-ubu

[2020-08-14 01:07] tomofu74 opened #2172 "[Suggestion] Would you like cmake to use FindCUDAToolkit script?"
**Is your feature request related to a problem? Please describe.**
I want to build Open3D with cuda on NVIDIA Jetson nano. But latest source from github with "BUILD_CUDA_MODULES" checked are configured "CUDA Compiler not found", in spite of my environment included nvcc working well.

**Describe the solution you'd like**
How about newer Cmake's script and set variable CUDAToolkit_ROOT=/usr/local/cu

[2020-08-14 03:56] tatsy commented on #1974
@theNded Again, thank you very much for your help and the review for my code.

[2020-08-14 10:02] zengletian1491 opened #2174 "Questions about " std::tuple<std::shared_ptr<TriangleMesh>, std::vector<double>>" and "pcl::PolygonMesh::Ptr""
After screened poisson surface reconstruction, the data structure of the output is " std::tuple<std::shared_ptr<TriangleMesh>, std::vector<double>>". How does this data structure correspond to "pcl::PolygonMesh::Ptr" in pcl? I need to make a texture map using data with "pcl::PolygonMesh::Ptr" structure as input. Thank you.

[2020-08-14 10:27] yxlao commented on #2171
Duplicate of https://github.com/intel-isl/Open3D/issues/2134.

MKL doesn't work on ARM. We need to add OpenBLAS + LAPACK for linux.

[2020-08-14 10:40] yxlao commented on #2170
i tried your config flags and it worked fine for me, @errissa could you take a look as well?

[2020-08-14 10:41] yxlao commented on #2169
@errissa could you take a look?

[2020-08-14 10:46] Fred3D-tech commented on #2171
thanks !
Then I need to download the code source from here ? https://github.com/intel-isl/Open3D/releases

[2020-08-14 10:54] yxlao commented on #2172
What is your CMake version?

[2020-08-14 10:56] yxlao commented on #2174
@griegler could you take a look at this?

[2020-08-14 12:30] bumbastic commented on #2019
Any solution for this nvcc fatal error?

[2020-08-14 14:19] errissa commented on #2169
@Leerw In the current master, Open3D will no longer issue a warning when there is no mtl file for the obj file. It will still issue warnings if an image file referenced in a valid mtl file cannot be loaded.

[2020-08-14 14:36] errissa commented on #2170
I also had no issues with those config flags. @manhha1402 From the build directory would you please share the file assimp/src/ext_assimp-build/CMakeCache.txt

[2020-08-14 16:34] yxlao commented on #2171
@Fred3D-tech or, `git checkout v0.10.0 -b your_branch_name`

[2020-08-14 18:20] AustinKMiller commented on #2171
@yxlao I am also having trouble building from source on ARM (xavier-nx). I have checked out v0.10.0, but I'm gettign the following error.

[code]

[2020-08-14 18:26] Fred3D-tech commented on #2171
Jetson Xavier is the best nomad platform you can get for Open3D and I think we need in the documentation a workable solution.
The solution given to me was not working..
And sorry I have been working for more than 20 years in 3d scanning but I'm not a specialist of Git and I don't know what to do with this recommendation "git checkout v0.10.0 -b your_branch_name"..
Can you give us a detailed and us

[2020-08-14 18:31] AustinKMiller commented on #2171
@Fred3D-tech this may help you.

[code]

[2020-08-14 18:54] Fred3D-tech commented on #2171
thanks but you solution is not working:
fred@fred-desktop:~/Open3D$ util/scripts/install-deps-ubuntu.sh assume-yes
bash: util/scripts/install-deps-ubuntu.sh: No such file or directory
 I did fred@fred-desktop:~/Open3D/util$ ./install_deps_ubuntu.sh
git checkout v0.10.0
fred@fred-desktop:~$ cd Open3D
fred@fred-desktop:~/Open3D$ mkdir build
fred@fred-desktop:~/Open3D$ cd build
fred@fred-desktop:~/Op

[2020-08-14 21:24] manhha1402 commented on #2170
Hi @errissa ,
Here is the file assimp/src/ext_assimp-build/CMakeCache.txt
[CMakeCache.txt](https://github.com/intel-isl/Open3D/files/5077339/CMakeCache.txt)

[2020-08-14 22:28] AustinKMiller commented on #2171
Went back to v0.9.0 and it worked.

[2020-08-14 23:50] yxlao commented on #2171
@AustinKMiller Yes, 0.9.0 works. For `v0.10.0`, it should also work after disabling GUI by `-DENABLE_GUI=OFF`.

[2020-08-15 04:54] greatwallet commented on #2168
I think maybe most of the time the "Reconstruction System" is doing is RGB-D/point-cloud pairwise-registration. Why don't you perform [`multiway registration`](http://www.open3d.org/docs/release/tutorial/Advanced/multiway_registration.html#Pose-graph) without the part of  `pairwise-registration` part, and loading your camera poses as initial input of `Pose Graph Optimization`?

[2020-08-15 05:18] tomofu74 commented on #2172
cmake Ver.3.18.1
![Screenshot from 2020-08-15 14-04-22](https://user-images.githubusercontent.com/19162094/90305859-0250cd80-df02-11ea-971d-554d6bca28b3.png)

BUILD_CUDA_MODULE -> ON

But Configuration Summary says,  CUDA Support --- OFF

[2020-08-15 05:20] tomofu74 commented on #2172
![Open3d](https://user-images.githubusercontent.com/19162094/90305882-64a9ce00-df02-11ea-9af4-b887a14f1a62.png)
cmake Ver.3.18.1

BUILD_CUDA_MODULE -> ON

Configuration Summary says, CUDA Support ... OFF

[2020-08-15 08:11] www158 opened #2178 "Reconstruction system with C++、"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-08-15 08:11] #2178 closed

[2020-08-15 08:14] www158 opened #2179 "Reconstruction system with C++ ?"
Currently there is only a python version of the Reconstruction system, is there a C++ version?

[2020-08-15 10:01] Leerw commented on #2169
OK, thanks

[2020-08-15 14:57] Fred3D-tech commented on #2171
ok thanks.. but it still not work with 0.10.0...
I tried:
# clone repo
git clone --recursive https://github.com/intel-isl/Open3D
cd Open3D
# install dependencies
util/scripts/install-deps-ubuntu.sh assume-yes
# checkout state where filament has aarch libs
git checkout v0.10.0
# normal build process
mkdir build
cd build
cmake -DENABLE_GUI=OFF ..
make -j$(nproc --all)
fred@fred-desktop:~/Open3D/buil

[2020-08-15 16:39] Fred3D-tech commented on #2171
@AustinKMiller : what procedure did you follow to reinstall v0.9.0 ? thanks...

[2020-08-15 19:55] Zumbalamambo opened #2180 "Importing Bundker, Images as well as"
I'm using the following code to load a point cloud. How do I also include the cameras and images. I have "bundler.out" file and "list.txt" that has got the list of all images.

[code]

[2020-08-15 20:59] bumbastic commented on #2168
Thank you for the tip. I will try it out.

[2020-08-15 20:59] #2168 closed

[2020-08-15 21:07] bumbastic commented on #2162
A rebuild with Cuda support helped a lot. Still I see the first part making of fragments run significantly slower than the rest of the pipeline.

[2020-08-16 03:22] WilliamKRobert commented on #2108
It turns out to be an issue of normal direction. For the same point cloud, the direction of estimated normal flips randomly. I am closing the issue as it is not a bug of your code.

[2020-08-16 03:22] #2108 closed

[2020-08-16 07:29] B5paper commented on #2139
`set_front()` and `set_up()` can set the pose of the coordinate frame, and `set_lookat()` can set the center point of the window.

Some examples:

[code]

In the created window, RED axis represents x-axis, GREEN axis represents y-axis, and BLUE axis represents z-axis. You can change some components of the parameter to observer the corresponding result.

[2020-08-16 12:35] grosskc commented on #1818
Definitely an issue using the v0.10 release.

[2020-08-16 13:49] AndreV84 opened #2181 "how to add L515 realsense support for open3d?"
there is a solution for d400 around;
how to modify it to support l515?

[2020-08-17 08:38] marcel-bluestone opened #2183 "Intel UHD compatibility?"
Hello,
I'm having a problem running a script which uses open3D on computers without Nvidia GPUs but with Intel UHD 630 chips.
Whenever I am zooming into a mesh, the script crashes with:

[Open3D ERROR] GLFW Error: WGL: Failed to make context current: The handle is invalid.

Is there something I can do to get Open3D to work with those cards?

[2020-08-17 10:49] kazu0622 commented on #2139
@B5paper
Thank you for giving me some detailed info. I'll try as you mentioned.
Thanks a lot.

[2020-08-17 10:49] #2139 closed

[2020-08-17 12:04] griegler commented on #2180
This is a bit vague. Do you have more information on the file format of 'bundler.out' and 'list.txt'? And what do you mean with also include cameras and images?

[2020-08-17 12:20] benjaminum commented on #1659
Please don't hesitate to reopen if there is new information on how we can reproduce the problem.

[2020-08-17 12:20] #1659 closed

[2020-08-17 13:31] nachovizzo commented on #2170
I'm also facing the exact same issue.

Apparently this was introduced by the new `libassimp` lib dependency in 703260d446. I'm currently trying to figure out what's the issue

[2020-08-17 13:50] errissa commented on #2183
@marcel-bluestone Open3D should run on systems with Intel graphics. I assume from the error you reported that you are running on windows? Also, is zooming the only action that causes open3d to crash or does manipulating the view in any way cause a crash?

[2020-08-17 13:57] errissa commented on #2170
@manhha1402 Thanks for sharing the file. It was very helpful. I will get back to you with a workaround until we can implement a permanent solution.

[2020-08-17 14:03] nachovizzo commented on #2170
So, apparently this function is defined in `minzip` that it's within `ziblib` https://github.com/madler/zlib/blob/cacf7f1d4e3d44d871b605da3b647f07d718623f/contrib/minizip/unzip.c#L793.

It looks to be that the `zlib` version that ships with `Open3D` does not include `minzip`, which it is indeed a dependency of the `libassimp` library:
[code]

I manually fixed this issue adding my **system-wide** i

[2020-08-17 14:08] errissa commented on #2170
@nachovizzo If libminizip is not installed on the host system then assimp configures itself to build without it. The base Ubuntu 18.04 does not libminizip installed by default.

[2020-08-17 14:10] nachovizzo commented on #2170
Ok great, I've created #2184 in the meantime as a workaround. Please let me know if you solve it in another way so I can close the PR

[2020-08-17 14:26] marcel-bluestone commented on #2183
Hello, I run on Windows 10. Moving and rotating seems to work, it definetely crashes on zooming.

Holen Sie sich Outlook für Android<https://aka.ms/ghei36>

________________________________
From: Rene <notifications@github.com>
Sent: Monday, August 17, 2020 3:50:58 PM
To: intel-isl/Open3D <Open3D@noreply.github.com>
Cc: Marcel Hell <marcel.hell@bluestone-tec.com>; Mention <mention@noreply.github.c

[2020-08-17 19:08] itisyeetimetoday opened #2187 "Can"

[2020-08-17 20:11] yxlao commented on #2170
Confirmed, this affects users with `libminizip-dev` installed in the system.
Proposed a fix in #2188. @errissa

[2020-08-17 20:48] tfy14esa commented on #1238
Hi,
I am also wondering about this, because I have not yet been able to get the phong shader working, even though I set the parameter light_on = True in the open3d.visualization.RenderOption class. Furthermore, when I create a default RenderOption object, there are 4 light sources that are created, but those are not covered in the documentation.

Am I missing something?

Great work with Open3D by

[2020-08-17 20:59] #2180 closed

[2020-08-17 21:01] Zumbalamambo opened #2189 "Unable to visualize with look at params"
I'm using the following code to visualize the point cloud

[code]

However it throws the following error,

[code]

how can I sort this out?

[2020-08-17 21:12] nachovizzo commented on #2170
@yxlao That's a much better fix, thanks! I'll close the other PR

[2020-08-17 21:13] rfc2119 commented on #2156
Hello again, thank you for adding the bug label. If you think this issue is trivial and is easy to fix, can you show me where to find the code for queuing the selected input ?

[2020-08-17 22:46] #2170 closed

[2020-08-17 22:46] tfy14esa commented on #2111
Hi @somebodyus,
I am facing the same error message that you reported. For me, your solution sadly did not work. Could you perhaps send the script that you ran where it worked for you?

[2020-08-17 22:50] tfy14esa commented on #1164
@germanros1987 So there is still not solution to this problem? Adding -0.5 as suggested above did not work for me. I am trying to run the example script customized_visualization.py

[2020-08-18 03:53] ArlenisChS commented on #1484
Hi,
I’m working with the Python version Open3D 0.10.0.1. Using MeshLab my example mesh is showed like this

![image](https://user-images.githubusercontent.com/42244318/90468149-ea38a400-e0e3-11ea-94bd-97abe48a9a78.jpg)

But when I load and display the mesh with Open3D the window goes blank

![image](https://user-images.githubusercontent.com/42244318/90468290-3be12e80-e0e4-11ea-800b-9fac8e281ca9.jp

[2020-08-18 05:21] ghost opened #2190 "How to project point cloud to depth image?"
I currently have this code to load a point cloud in, and I also have code for the pinhole intrinsic.
pcd = o3d.io.read_point_cloud("./pcd.txt", format='xyz')
intrinsics = o3d.camera.PinholeCameraIntrinsic(640, 480 ,525.0, 525.0, 319.5, 239.5)
However, would I take an irregularly spaced point cloud, and create a grayscale depth map from it, while using the camera intrinsic?
I tried the code in issu

[2020-08-18 05:24] szx0112 opened #2191 "Pose graph optimiaztion with landmark detection?"
Hi, open3d is a great tool for rgbd-based 3d reconstruction. Currently, the pose graph contain the odometry and loop closure nodes. However, in my application (survey a tunnel through a single pass), loop closure is not existed. And we known camera poses estimated only through odometry will drift.

An alternative solution is to use landmarks. The tunnel contains connections at fixed intervals (lik

[2020-08-18 06:45] marcel-bluestone commented on #2183
I think I could identify the piece of code, where the error occurs. It must be between those lines:
    visualizer = o3d.visualization.VisualizerWithVertexSelection()
    visualizer.create_window(top=40, left=10, width=1900, height=1000,
                             window_name=name)
    visualizer.get_render_option().mesh_show_back_face = True
    visualizer.get_view_control().set_front(np.asarra

[2020-08-18 12:27] BlGene commented on #986
pcl = o3d.geometry.PointCloud()

[2020-08-18 17:51] briandrye commented on #1379
Please update the documentation and provide an example that shows the spacing. Thanks.

[2020-08-18 17:51] briandrye commented on #1379
Please update the documentation and provide an example that shows the spacing. Thanks.

[2020-08-18 19:01] t-fi opened #2193 "Programmatically texturing a mesh"
I'm new to Open3D, please pardon my ignorance.

From the tutorials I see that one can easily load `.ply` files, including texture and render them. Now I am wondering, is it also possible to texture a mesh programmatically from Open3D? The mesh tutorial only shows [how to paint a mesh uniformly](http://www.open3d.org/docs/release/tutorial/Basic/mesh.html#Paint-mesh).

I know the basics about uv map

[2020-08-19 12:18] alex89607 commented on #2064
Its appear under conda and set Jupyter kernel, in my case.

[2020-08-19 12:28] Jinoh-Cho opened #2197 "Mapping background image file on the visualization window with code"
I want to visualize the 3D mesh file on the background image file with code.
But I couldn't find any function about this on the open3D docs.
Anybody could help me to figure out this problem.

[2020-08-19 12:39] dhirajsuvarna opened #2198 "Vertices Count in STL File"
**IMPORTANT: Please use the following template to report the bug.**
_____

**Describe the bug**
Number of Vertices in STL File in the `mesh` object after reading it using `o3d.io.read_triangle_mesh(stlFile)`
is different when compared to other tools like CloudCompare or MeshLab

**Expected behavior**
Number of Vertices in STL file should be same as those shown in other tools

**Environment (please

[2020-08-19 20:47] ChiefAlu opened #2203 "synchronized capturing with 3 Azure Kinect Sensors"
Hi,

I'm looking for a solution to capture synchronized videos/images with 3 Azure Kinect Sensors.
The green screen example (https://github.com/microsoft/Azure-Kinect-Sensor-SDK/tree/develop/examples/green_screen) includes synchronization and calibration of two devices. Is there also any similar solution for 3 devices?

[2020-08-19 23:48] jfelip opened #2206 "PointCloud.get_oriented_bounding_box() sometimes returns left-handed rotation matrix"
**Describe the bug**
PointCloud.get_oriented_bounding_box() sometimes returns left-handed rotation matrix.

**To Reproduce**

This code example shows how sometimes the OBB R matrix is not right-handed. You might need to close the visualization window several times until the OBB matrix fails the right-handedness test.

[code]

**Expected behavior**
The rotation matrix obtained from the OBB should b

[2020-08-20 09:27] yanivx4x commented on #2168
Hey @bumbastic  ,
Did you manage to do it? I am interested in the same solution.

[2020-08-20 11:38] manhha1402 commented on #2171
I also had problem building Open3d v0.10.0 from source with config flags:
`cmake -DGLIBCXX_USE_CXX11_ABI=ON -DPYTHON_EXECUTABLE=/usr/bin/python3 -DENABLE_GUI=OFF -DBUILD_FILAMENT=ON ..`
The flag `-DBUILD_FILAMENT=ON` refers to this issue: https://github.com/intel-isl/Open3D/issues/2140
The screenshot:
![Screenshot from 2020-08-20 13-36-56](https://user-images.githubusercontent.com/20105284/9076547

[2020-08-20 11:44] Barath19 opened #2209 "LiDAR Camera calibration using open3d"
Hello Open3D,

I would like to know is there an equivalent for SolvePnP function that is present in opencv?
Mainly required to 2d-3d calibration?!

[2020-08-20 12:25] manhha1402 commented on #2171
I'm able to build Open3D on Xavier with the config flags:
`cmake -DGLIBCXX_USE_CXX11_ABI=ON -DPYTHON_EXECUTABLE=/usr/bin/python3 -DENABLE_GUI=OFF ..`
by checking out the commit `git checkout 488e324be587c2b0f467ced7388d07dcd28f2b74`
I don't know in which commit the problem of filament library solved, but this commit worked for me.
I have to upgrade to CMake to version 3.16 before building Open3D.

[2020-08-20 12:32] chuong commented on #1909
@christianlandgraf I tried your solution and successfully compile filament separately and passed its part but got stuck below when compiling Open3D  with `make`

[code]
Could you please provide more details of your solution? Thanks.

@zangel I tried your patch/solution but same error reported at the beginning of this thread still occurred. Could you provide a complete reproducible steps? Thanks.

[2020-08-20 13:10] #2197 closed

[2020-08-20 14:58] theNded commented on #1974
Thanks for your contribution! Closed since it is merged and resolved.

[2020-08-20 14:58] #1974 closed

[2020-08-20 16:17] theNded commented on #2181
I currently don't have this sensor on hand... Will take a look once I get the device.

[2020-08-20 16:43] theNded commented on #2151
They are using an unconventional Euclidean depth (Section 3.3) instead of projective depth. You will have to convert it by yourself by modifying depth data inside rgbd.

[2020-08-20 16:44] theNded commented on #2148
@nachovizzo Thanks
@sammo2828 any progress? If it doesn't work we may have to revert your PR since multi-process IO is not frequently used...

[2020-08-20 16:47] theNded commented on #2123
You are right. But theoretical early termination is still a const value based on pre-estimated confidence, so there is no difference comparing to the current interface...

[2020-08-20 16:52] theNded commented on #2179
Currently it is not in our timeline, but you may find all the counterpart functions and classes in Cpp. The non-trivial part for the C++ side is multi-thread processing, you may have to configure it instead of using python libraries.

You are welcome to contribute :-P

[2020-08-20 16:52] #2179 closed

[2020-08-20 16:59] theNded commented on #2160
We need consistent RGBD pairs for projection and unprojection. Wide angle depth images won't fit these models and there will be no trivial ways to process them without this explicit conversion/clipping.
You may have to use official Kinect package to access the raw data...

[2020-08-20 16:59] #2160 closed

[2020-08-20 17:24] theNded commented on #1928
It is very empirical, and we found 0.025 and 0.05 are usually good candidates according to our experiments.

[2020-08-20 17:24] #1928 closed

[2020-08-20 17:24] theNded commented on #1943
Sounds good to me :)

[2020-08-20 17:25] theNded commented on #1108
Closed since it is a duplicate of #409. Let's keep discussing it there.

[2020-08-20 17:25] #1108 closed

[2020-08-20 17:28] theNded commented on #1263
It will be good to add an open3d set seed function in a separate PR. I will put it in the todo list.

[2020-08-20 17:31] theNded commented on #1902
Please use `make_fragment` in the reconstruction pipeline to do this. RGB-D based visual odometry with pose graph makes more sence in this use case. If you somehow have to use point-cloud representation, use ICP-odometry instead of FGR. FGR is for rough global registration and is not a good candidate for this task.

[2020-08-20 17:31] #1902 closed

[2020-08-20 17:34] theNded commented on #1123
This is mainly because of a lack of structure in the dataset and FGR fails. Closed for now, will reopen if problem arises.

[2020-08-20 17:34] #1123 closed

[2020-08-20 17:37] theNded commented on #1297
According to my experience, Colored ICP will face numerical issues when the structure is very simple, like this or planar cases. We need to investigate that part and eliminate unreliable color gradients.

[2020-08-20 17:37] #1297 closed

[2020-08-20 17:53] hduonggithub opened #2210 "A slice of 3D point cloud"
Hi All,

I am wondering if there is a function to take a slice of point cloud and visualize it.  Or how to visualize a floorplan of 3D point cloud (XY plane), front view (XZ plane) and side view (YZ plane)?

For example, take a slice of point cloud at a given Z value, so I can have points selected within [Z-d, Z+d], d can be any number).

I really appreciate if anyone can help. Thanks!

[2020-08-20 22:14] ttsesm commented on #2151
@theNded thank you for the feedback. Can you provide a bit more info or an example how to apply this transformation.

[2020-08-20 23:28] zainmehdi commented on #2107
Thanks alot. I will look into it. I tried with Azure Kinect and results were better.

[2020-08-21 08:05] nachovizzo commented on #2148
I've also found out that this introduces errors even when the file exists. It basically crashes for any i/o operation if the logger is set to `Debug`

For example:
## Reading

**script**
[code]
**backtrace**
[code]
## Writing

**script**
[code]
**backtrace**
[code]

## Conclusion

Of course, **not** setting the logger verbosity level to `Debug` also works... what makes the problem even more clear

[2020-08-23 07:57] ShettyHarapanahalli opened #2217 "Calculated normal's do not match the given for shapenet dataset"
I am calculating the normals for the shape net dataset [I want to add new classes later], I see that the calculated normals do not match the given normals in dataset.

Steps to reproduce the behavior:

1. Download the data set with the script share here - [https://github.com/mit-han-lab/pvcnn/blob/master/data/shapenet/download.sh](url)
2. run the below code
    #!/usr/bin/env python
    import sys

[2020-08-23 14:39] yanivx4x opened #2218 "Using Known Camera Poses Help"
Hello everyone,
I am trying to use known camera poses in the reconstruction system as opposed to the RGBD pairing, to improve speed and accuracy.

In order to do it, I build my own pose graph from my known position and rotation (Vector3 and Quaternion ) of each RGBD.
Here is the code I have written:

[code]

and the function to create the pose matrix:

[code]

I have to apply some transformation t

[2020-08-23 15:26] Dzhange opened #2219 "How to use view control in non-blocking visualization?"
I'm trying to get several screenshots for some objects, however I found that I couldn't use view control in the rendering
Here is my code.
[code]
Seems like the `zoom` operation doesn't work, did I used it wrong? Or does open3d doesn't support this operation?

[2020-08-23 17:39] bumbastic commented on #2162
I ran with parallel processing. I saw that the first part with pair vice rgbd registration, ran slower than the rest of the pipeline. I don't think there is CUDA support for that function yet.

[2020-08-23 18:31] benjaminum opened #2220 "The parameter documentation for o3d.geometry.TriangleMesh.scale() has duplicates"
**IMPORTANT: Please use the following template to report the bug.**
_____

**Describe the bug**
The parameter documentation for o3d.geometry.TriangleMesh.scale() has duplicates.

**Expected behavior**
Doc with actual signature

**Environment (please complete the following information):**

- Open3D version: master

[2020-08-23 18:31] griegler commented on #2198
@dhirajsuvarna could you please share an `stl` file where this happens.

[2020-08-23 18:35] griegler commented on #2220
Also `rotate`.
@yxlao I guess this is caused by how overloaded methods are handled?

[2020-08-23 18:37] griegler commented on #2219
I am not 100% certain, but I think that `add_geometry` updates the view control. Can you try to use `set_zoom` after your `add_geometry` call in the loop?

[2020-08-23 21:55] zachfang commented on #481
Thanks for the pointer @griegler. I hit the same problem recently, and I found that it's a bit counter intuitive to get an intensity pointcloud by default given a pair of RGB and depth images. As you mentioned, I added `convert_rgb_to_intensity=False` as an arg and finally I got a colorized pointcloud I wanted.

Is it possible to make the colored pointcloud by default with a flag to convert that t

[2020-08-24 02:43] Dzhange commented on #2219
Thanks! This really solved my problem.
BTW, I may suggest that the related doc should be made more clear.

[2020-08-24 02:43] #2219 closed

[2020-08-24 02:58] dhirajsuvarna commented on #2198
@griegler how do I share the file?

[2020-08-24 07:07] griegler commented on #2198
GitHub gist, or temporarily upload it to Dropbox, Google Drive, etc?

[2020-08-24 07:09] griegler commented on #481
@theNded what are your thoughts on that?

[2020-08-24 07:13] griegler commented on #2193
@t-fi if you want a result as shown in #1385, then this should be already possible with the Python API (creating textured meshes per camera; note that the uv mapping for this is straightforward). Let me know if you have something different in mind.

[2020-08-24 07:17] griegler commented on #2189
I see. The parameters `zoom`, `front`, `lookat` and `up` are only available in the master branch, not in the version `0.10` served via pip and conda. Note that the tutorials use `import open3d_tutorial as o3dtut` that monkey patches `draw_geometries` to make the parameters available.

[2020-08-24 07:17] #2189 closed

[2020-08-24 07:49] dhirajsuvarna commented on #2198
@griegler Uploaded [here] (https://drive.google.com/file/d/1M4e76TgAUVbS3g59X1rXpJivijsD3z94/view?usp=sharing)

[2020-08-24 08:03] ShettyHarapanahalli commented on #2217
I am planning to add a new object class to the dataset [basically need to perform a custom 3d object detection].
To verify the dataset with the new class I have been trying to validate the process on the given data first.

[2020-08-24 09:58] bumbastic opened #2221 "Real-time mesh building"
I am trying to use Open3D for real-time generation of 3D models using a Kinect for Azure device.
Now that there is CUDA support. I believe this should be possible.

To get a good start, I would appreciate any hints on how to get the most out of Open3D for this task.
I must add that I already know the camera pose of each image taken. With a small tolerance of about +/-30mm, and rotation +/-2deg.

I

[2020-08-24 10:33] Anita1683147070 opened #2222 "PoseGraph read JSON failed: empty edges."
It works effectively with the bedroom sample data, but I'm trying the Reconstruction System with my own dataset, about 40 panoramas. I used the make_fragments.py script, and the color images are 32bit, depth images are 16bit (png), 4500*9000, they described a complete 600 square meter interior.
I get an error"**PoseGraph read JSON failed: empty edges**." when trying to **register**. Does open3d wo

[2020-08-24 10:49] bumbastic opened #2223 "RGBD region of interest"
A method to crop the RGBD image to a region of interest. Not just min/max depth.

Could be something like a 2D pixel polygon or rectangle plus a maximum depth plane that can be rotated around x and y axis.

I need it to filter away background with depth that is not perpendicular to the sensor viewing direction.
This background 'noise' can of cause be filtered away in the final model, but it is abo

[2020-08-24 12:15] griegler commented on #2217
I get that, but why should estimated normals (from `estimate_normals`) be the same as the normals of some loaded object (where the normals can be arbitrarily created)?

[2020-08-24 12:43] ttsesm commented on #2151
@theNded it seems that there is also an issue with the open3d image loader and loading depth values as Euclidean depth. For example the following code would still fail to give the correct point cloud:

[code]

however, if I replace `depthu = o3d.io.read_image('depth.png')` with `depthu = cv2.imread('depth.png', cv2.IMREAD_UNCHANGED)` then I am getting the correct output. I do not know if this coul

[2020-08-24 14:55] ShettyHarapanahalli commented on #2217
The dataset is created in a specific format/logic it will be better if we retain the same for the newly added object.
As this is a proven logic if changed not sure what could be the outcome from the algorithm.

[2020-08-24 15:37] bumbastic opened #2224 "Kinect for Azure python interface. How to get image timestamp"
I need to synchronize the images with an external odometry input. But I can't find a way to get to the sensor image timestamps in the python interface.

In the cpp api(open3d/io/sensor/azure_kinect/AzureKinectSensor.cpp) it looks like I could do something like this:

k4a_capture_t capture = CaptureRawFrame();
k4a_image_t depth_image = k4a_capture_get_depth_image(capture);

# timestamps retrieved
u

[2020-08-24 16:03] theNded commented on #2222
We only support pinhole camera model, so combining the pinhole intrinsic matrix with panorama input will result in wrong 3d point clouds. Please try to consider converting the panoramas to pinhole models.

[2020-08-24 16:03] #2222 closed

[2020-08-24 16:14] #2162 closed

[2020-08-24 16:43] theNded commented on #2151
@ttsesm Thanks for the feedback, this is very interesting. It is possible that this image uses a non-standard png format that Open3D does not recognize -- it succeeded to detected the 16-bit format, but somehow read only 8-bit values.

Please keep using OpenCV for loading depth now, will let you know if there is any update on this :-)

[2020-08-24 17:00] theNded commented on #2221
If you have groundtruth poses, you can go directly with `integrate`. This is non-trivial, and is a work in progress including both integration and mesh generation. Please stay tuned.

Kinect's point clouds are originally from rgbd images. It is impossible to integrate pcds correctly, see my explaination in #1877.

[2020-08-24 17:06] theNded commented on #2218
Good catch! Unity uses a left-hand coordinate system, while open3d uses a right-hand system that is conventional in the computer vision community. See https://github.com/KhronosGroup/UnityGLTF/issues/257 as a reference.

To convert between these coordinate systems, you need to revert y axis. That's what you have done!

[2020-08-24 17:06] #2218 closed

[2020-08-24 17:17] bumbastic commented on #2221
I have kind of ground truth poses. But mechanical tolerenses and parts osilating because they are hanging in wires, calls for some registration support.
I've got the integration running just fine. My biggest problem right now is getting RGBD timestamps from the python api. The camera moves up to 10 meters pr. minute, making precise timestamps important.

[2020-08-24 19:19] bumbastic commented on #2221
About integrating pointclouds like rgdb. If the point cloud are structured with width, height and viewpoint info. from the rgbd they originated from, then it should be possible?

[2020-08-25 03:40] richardrl opened #2227 "How do we get OBB rotation without being centered?"
If you create an object-oriented bounding box object `obb`, then `obb.R` gives you the rotation centered at the obb center.

How do you get the rotation centered at the origin?

[2020-08-25 09:56] sammo2828 commented on #2148
@theNded Looks like I missed this. It should be a one line fix to acquire the GIL before the logger prints anything. Could you please un-revert it and I'll make a new PR.

[2020-08-25 13:34] Haodong-Alex-Yao opened #2231 "Is there any way to capture vector image (SVG or PDF) from point cloud?"

[2020-08-25 14:52] griegler commented on #2231
No. What exactly do you have in mind?

[2020-08-25 15:10] griegler commented on #2227
I am not really sure what you mean with rotation centered at the origin. Could you please elaborate.

[2020-08-25 15:16] griegler commented on #2223
There is no direct feature for this in Open3D, but if you already have a plane, you could use simple numpy operations to filter out the points. Something along the lines

[code]

You could also use `segment_plane` to fit a plane to the point cloud (http://www.open3d.org/docs/release/python_api/open3d.geometry.PointCloud.html?highlight=segment#open3d.geometry.PointCloud.segment_plane)

[2020-08-25 15:33] griegler commented on #2198
The file contains the duplicate vertices, but you get your expected result like this

[code]

[2020-08-25 15:35] theNded commented on #2203
Thanks for the link!
It seems non-trivial to do. We need to check how to integrate this module into our interface, will update it here later.

[2020-08-25 15:40] theNded commented on #2221
I think your problem is that inaccurate timestamp may also introduce error. Timestamps are not easy to synchronize, as RGB and depth are from different engines from the hardware and Kinect SDK as well, see #2203. So given the setup, the best we can do is to rerun the entire pipeline without odometry (but with pose graph between non-adjacent frames), and with pairwise registration in a sliding wind

[2020-08-25 15:42] theNded commented on #2148
@sammo2828 Thanks! Have you checked if it also works for the `VerboseLevel.Debug` setup?

[2020-08-25 16:31] bumbastic commented on #2223
Ok, what I want to do is crop the rgbd image, to avoid filling a huge amount of unwanted depth image data in the Tsdf.

[2020-08-25 19:03] bumbastic commented on #2221
Thanks for the explanations. I'll start with a direct integration with ground truth poses and 'fast' moving cameras. I need to get those timestamps syncked for up to four kinetics, and integrate all images into one volume.
 I probably also need to do bilinear filtering on the depth images. When this is working I can start experimenting with some registration support.

[2020-08-25 23:29] bumbastic commented on #2224
Never mind. I switched to C++
I had to modify AzureKinectSensor.h. The following two lines are no longer protected when i build:
    _k4a_transformation_t* transform_depth_to_color_;
    _k4a_capture_t* CaptureRawFrame() const;

[2020-08-26 01:50] zendevil commented on #1697
I have the same issue. macOS with open3d.__version__ == 1.10.0.0

[code]

gives:

[code]

How do I fix this. Please.

[2020-08-26 04:47] richardrl commented on #2227
Hi,
I have two obbs:
source_obb
target_obb

I both of them are centered at the origin.

I want to find the relative rotation from source_obb to target_obb.

However, this does not work:
[code]

I am trying to understand why.

[2020-08-26 07:22] Haodong-Alex-Yao commented on #2231
I used o3d.geometry.LineSet to draw 3D lines based on their end points. It works perfectly fine. But I still want to get the 2D projection of these lines from a certain angle as a vector image. I haven't found a way of doing it.

Thanks!

[2020-08-26 07:52] jay-thakur opened #2233 "How to change obj file color in Visualizer"
Hi,

I am novice to `open3d`. I have below code to load obj, save viewpoint & image -

[code]
I can see in visualizer & saving image also like this.
![image](https://user-images.githubusercontent.com/2772085/91275806-44013400-e79e-11ea-92ec-990b2b8c0545.png)

But i want my obj color like this -

![image](https://user-images.githubusercontent.com/2772085/91275909-65fab680-e79e-11ea-9a54-8a731a29a38

[2020-08-26 08:27] MrMonk3y commented on #1378
Same issue on Windows 10 as well

[2020-08-26 09:30] sammo2828 commented on #2148
@theNded Yep, works for me.

[2020-08-26 14:28] gftrobots opened #2234 "Using intel realsense T265 in the construction system to construct a posegraph (make fragments)"
We are using the intel real sense T265 tracking camera for localization and are impressed by its accuracy.
Does it makes sense to use the odometry data from the T265 to construct the posegraph or is the precision / quality of Open3Ds own algorithms higher, than the precision of the T265?

[2020-08-26 16:48] AndreV84 commented on #2181
@theNded if yo have d435i, cold you supply intel D435i intrinsics _either from CUDA config file or Captured dateset intrinsic file_
the file /camera_intrinsic.json
please?

[2020-08-26 16:49] AndreV84 opened #2235 "i435 json intrinsics request"
*[Open3D WARNING] Read JSON failed: unable to open file:  /Open3D-for-Jetson/examples/Python/ReconstructionSystem/dataset/realsense/camera_intrinsic.json
could you supply the file for the camera, please?

[2020-08-27 12:55] griegler commented on #2233
You could try to turn the light of by getting the render options (http://www.open3d.org/docs/release/python_api/open3d.visualization.Visualizer.html#open3d.visualization.Visualizer.get_render_option) and set the property to false (http://www.open3d.org/docs/release/python_api/open3d.visualization.RenderOption.html#open3d.visualization.RenderOption.light_on), or zoom away from the object.

We are a

[2020-08-27 15:27] theNded commented on #2234
Unfortunately T265 doesn't have depth sensing so Open3D's RGB-D pipeline is not a good fit. Please rely on T265's own SDK.

[2020-08-27 15:27] #2234 closed

[2020-08-27 15:30] theNded commented on #2235
It has various configurations and depends on your setup.
The json file should have been recorded if you use our recorder: https://github.com/intel-isl/Open3D/blob/master/examples/python/ReconstructionSystem/sensors/realsense_recorder.py#L166

[2020-08-27 15:30] #2235 closed

[2020-08-27 15:34] theNded commented on #2181
Please check my answer in #2235

[2020-08-27 17:12] jay-thakur commented on #2233
Hi @griegler,

I tried below code -

[code]

after this i dont see any image in visualiser.
![image](https://user-images.githubusercontent.com/2772085/91473328-5bcbdb80-e8b6-11ea-953b-177c251f4167.png)

if we can just change image color to gray that would also work.

Please guide.

[2020-08-27 23:31] pablospe commented on #1152
This is related to issue https://github.com/intel-isl/Open3D/issues/1427

[2020-08-28 00:13] prewettg commented on #2233
The visualizer that you are using is limited and we are in the process of replacing the visualization with a much more full-featured renderer, as well as a UI toolkit.

If manually setting the lighting would work for your case, consider using the new Open3D viewer app, which allows you to set a wide variety of lighting settings. From your screenshot I suspect that you are using Windows; the curren

[2020-08-28 06:28] griegler commented on #2233
@jay-thakur Did you try http://www.open3d.org/docs/release/python_api/open3d.geometry.TriangleMesh.html?highlight=paint_uniform_color#open3d.geometry.TriangleMesh.paint_uniform_color

[2020-08-28 08:12] jay-thakur commented on #2233
@griegler .  this worked.

[code]

[2020-08-28 08:13] jay-thakur commented on #2233
@prewettg Thank you so much for help.

[2020-08-28 12:16] t-fi commented on #2193
Ah, I see. I explored the Python API and think I found some relevant functions. However I cannot get this to work:

[code]

But this segfaults immediately. I also tried a 3 channel textures and different UV mapping schemes. Do you see any obvious errors, or are those functions meant to be used completely differently?

[2020-08-28 13:04] griegler commented on #2193
@errissa @prewettg can one of you have a look at this please

[2020-08-28 13:06] griegler commented on #2231
Sorry, but this is currently not possible, nor do we have currently plans to support this.

[2020-08-28 13:06] #2231 closed

[2020-08-28 13:06] #2233 closed

[2020-08-28 15:03] griegler commented on #2223
But you can then project the 3D points (with mask values) back to the image and use it to mask your RGB-D image?

[2020-08-28 15:08] griegler commented on #2227
Why is your code snippet not working? What is your expected result and what are you getting?

[2020-08-29 06:02] XuyangBai commented on #2123
But given a fixed pre-estimated confidence, the maximum iteration number changes with the inlier ratio updated every iteration, right? You may seed the opencv RANSAC implementation [here.](https://github.com/opencv/opencv/blob/2e6e9c14b5bc689f9444836bc245956d690ea42b/modules/calib3d/src/usac/ransac_solvers.cpp#L176)

[2020-08-29 09:17] zendevil commented on #2171
Cmake runs successfully on latest version of master. But make gives the following error:

[code]

[2020-08-29 09:27] t-fi commented on #2193
Thanks for looking into this! I dug a little more and found out that #2089 is about the same thing. That issue claims that something broke from `0.9` to `0.10` with allowing multiple textures per object. Downgrading to `0.9` and adjusting the above method to the old API does not work since #1623 was fixed after the `0.9` release. So this is broken in both the new and old version, and there is no w

[2020-08-29 11:03] zendevil commented on #2171
Checking out to @manhha1402's recommended hash gets rid of this error.
But make install-pip-package gives:

[code]

[code]

[2020-08-29 11:06] jakubmuszynski opened #2250 "Unable to build from source on Xavier NX"
Installation from pip (PyPI) didn't work for me, so I tried installing from source with [this](http://www.open3d.org/docs/latest/compilation.html) guide.

Steps I did:
[code]
CUDA Support didn't initiate, just like in #2172. However, by using `-DBUILD_GUI=OFF`, `Build GUI` option was successfully deactivated (it caused errors earlier because of ARM architecture support).
At 100%, after `Linking CX

[2020-08-29 14:09] Fred3D-tech commented on #2171
I really hope we will find a solution... my main project has been blocked for one month now.

[2020-08-29 18:35] zendevil commented on #2171
Why is install-pip-package says that open3d-0.10.1.0-cp36-cp36m-linux_aarch64.whl is not supported on this platform?

[2020-08-29 19:09] ZhengdiYu opened #2251 "module 'open3d.open3d.geometry' has no attribute 'keypoint'"
Hi, I am using Version: **_0.10.0.1_**

[code]

which version should I install for computing iss keypoints?

[2020-08-29 22:02] bumbastic commented on #2223
That sounds possible. But I don't want to do plane segmentation. I want to filter a undestorted rgbd image so  that I get a rgbd image with valid depth only in a specified area of interest

[2020-08-29 23:57] Jianghanxiao commented on #1484
I think this may not be a blank window, but the mesh is all white, you can try assigning a different color for the mesh. `mesh.paint_uniform_color([0.5, 0.5, 0.5]`. Then see what happens @ArlenisChS

[2020-08-30 00:12] Jianghanxiao commented on #1259
Has this feature been available in the 0.10.0.0 version? Currently, I still met the problem that the textures are not loaded correctly. Could anyone help?

[2020-08-30 01:09] ArlenisChS commented on #1484
Oh yes, sorry for not putting what was happening. I was painting the mesh in MeshLab and when saving it into an .ply the color seem to be set to white. It seams like I needed to save the mesh activating some flags. I did it and now it works. Thanks for the help!! 🤗

[2020-08-30 07:39] upasana27 opened #2252 "3D reconstruction from RGB-d data"
I am using the Open-LORIS scene dataset (https://lifelong-robotic-vision.github.io/dataset/scene.html) and would like to build a 3D map of the world from the Realsense D435i camera data. The following data is available from the dataset:-
D435i | color | 30 | 848x480 | H:69 V:42 D:77
D435i | depth | 30 | 848x480 | H:91 V:65 D:100
D435i | aligned deptha | 30 | 848x480 | H:69 V:42 D:77
D435i | accel

[2020-08-30 08:56] Jianghanxiao opened #2253 "Is there some possibility to support `from_trimesh()` like what pyrender do?"
**Is your feature request related to a problem? Please describe.**
Currently, the textures cannot be loaded successfully with obj with .mtl file in some cases. I try loading in trimesh and pyrender, they work well. However, for open3d, the texture cannot be successfully loaded

**Describe the solution you'd like**
Is it possible to offer function from_trimesh(*) like what pyrender does. Maybe the

[2020-08-30 11:44] hcoohb commented on #2183
Hi,

I can observe the same issue on windows10 wth intel UHD 620.
The crashes are pretty random for me though, sometimes it is when rotating, sometimes when zooming.
Sometimes it lets me play with the model in the scene for 1min, sometimes I get the crash after 2seconds of display and interactions...

Using a dedicated GPU is unfortunately not an option for me...
Any suggestions would be much appr

[2020-08-31 01:51] zapaishchykova commented on #2190
following!

[2020-08-31 07:47] griegler commented on #1259
@Jianghanxiao can you provide more details, or an example.
@errissa @prewettg can you please have a look.

[2020-08-31 07:48] griegler commented on #2251
Did you install via conda, or pip? `compute_iss_keypoints` is only in master for the moment and will be in the next release.

[2020-08-31 07:50] ZhengdiYu commented on #2251
@griegler  Thank you for reply. I installed with pip

[2020-08-31 07:52] griegler commented on #2251
Then you can use the feature after building from source yourself. Note that the next release should be available within the next 3 weeks or so.

[2020-08-31 07:55] ZhengdiYu commented on #2251
@griegler OK, thank you, I will try to compile from source for the time being.

[2020-08-31 07:55] #2251 closed

[2020-08-31 09:37] yxlao commented on #2250
We're working on it. There are a couple of issues requesting arm support: https://github.com/intel-isl/Open3D/labels/arm.

[2020-08-31 11:04] liuchangji commented on #1860
i think your version is too old

[2020-08-31 11:26] AnselmC commented on #1791
No longer an issue with 0.10.0.0 for me

[2020-08-31 11:26] #1791 closed

[2020-08-31 11:41] liuchangji commented on #1961
The script provided by @g2ragrawal works fine.But I met a function problem.And I can change the view point angle with the mouse. So I read first frame point,and use mouse to change the view point to see it clearly.
But when I skip forwards  through the point cloud data,the view point angle will reset to the very beginning angle.Can I keep the current angle after I skip a point cloud?

[2020-08-31 14:10] errissa commented on #1259
@Jianghanxiao Would you please share any error messages you see on the console when you try to load the model? Also, if you can share the model. that would be helpful as well.

[2020-08-31 14:13] errissa commented on #2253
@Jianghanxiao For the obj/mtl files that don't load textures properly, are you seeing any error messages on the console? Also, if you can share an example model that doesn't load properly for you that would be helpful.

[2020-08-31 16:40] Jianghanxiao commented on #2253
There are no error messages, I try both building from source and using pip to install. This link has an example https://drive.google.com/drive/folders/1W0HCi7_g-jmWysKh5NdpjPZxWbkjKI7d?usp=sharing

[2020-08-31 17:01] errissa commented on #2253
@Jianghanxiao Thanks for sharing. The mtl file in this model does not reference any textures so Open3D will not load any textures.

[2020-08-31 17:13] Jianghanxiao commented on #2253
Thanks for your reply!!!! I'm not quite familiar with mtl, so will this be supported in the future by open3d. Or open3d will just support image texture, but not consider some materials? And is there some potential way to deal with this?

[2020-08-31 17:31] agporto commented on #1263
I just wanted to say that this is a feature that would be appreciated by others in the community as well (I mean the 'set seed' function).

[2020-08-31 18:50] nanotuxi commented on #2134
Got open3d running on the Jetson Nano with cuda supprt today. Sensor component works fine, too. Going to write a short summary or howto tomorrow.
Thanks.

[2020-08-31 20:00] alexspace360 opened #2261 "OBJ colors are flipped , How To Fix?"
**Describe the bug**
as export OBJ the colors are flipped , the colors in the front become in the back , so kindly help me to invert the colors

python

**Expected behavior**
i expect to see normal colors of 3D model at the front as it should be, but the opposite happens
as you see in the screenshot , the colors should be in the front but you see it in the back :(
**Screenshots**
[<a href="https:/

[2020-08-31 21:48] zapaishchykova commented on #834
following!

[2020-09-01 01:48] theNded commented on #2252
We take RGB-D images as input to our reconstruction system. Please refer to http://www.open3d.org/docs/release/tutorial/ReconstructionSystem/capture_your_own_dataset.html.
You would need to
- re-organize your dataset as depicted in the link
- convert the intrinsic matrix from the dataset to the format as
[code]

[2020-09-01 01:56] liuchangji opened #2264 "Can I keep the current view angle after loading next point cloud?"
in #1961 Visualize Point Cloud Sequentially,
[code]
The script provided by @g2ragrawal works fine. I can skip forwards and backwards through the point cloud data and change the view point angle with the mouse. Thanks again.

But when I skip forwards through the point cloud data,the view point angle will reset to the very beginning angle.Can I keep the current angle after I skip a point cloud?

[2020-09-01 06:22] jay-thakur opened #2266 "How to create Visualizer window of size 64 * 64?"
Hi,

I am trying to create Visualizer window of size 64*64.

[code]

It opens like this,
![image](https://user-images.githubusercontent.com/2772085/91803502-a481ec80-ec48-11ea-8bdb-148a7ba9851a.png)

When i save viewpoints its like this -
[code]

Here i can see `height=64` but `width=176`.

I believe `width=176` because of `maximisation` & `close` icon of visualiser.

Is there any way to keep it 6

[2020-09-01 07:01] griegler commented on #2264
`add_geometries` resets the view. You could try to use [this function](http://www.open3d.org/docs/release/python_api/open3d.visualization.ViewControl.html#open3d.visualization.ViewControl.convert_to_pinhole_camera_parameters) to save the parameters prior to adding and then restore the view with [this function](http://www.open3d.org/docs/release/python_api/open3d.visualization.ViewControl.html#open

[2020-09-01 09:09] liuchangji commented on #2264
Thanks a lot!

[2020-09-01 10:21] alexspace360 commented on #2261
so how can i invert normals i am using
 `    mesh.compute_vertex_normals()
    mesh.compute_triangle_normals()
    mesh.normalize_normals()
    mesh.triangle_normals = o3d.utility.Vector3dVector(np.asarray(mesh.triangle_normals)*-1)`

[2020-09-01 12:28] #2264 closed

[2020-09-01 13:38] Flock1 commented on #1168
@griegler, is there some way to create a mesh that's created from a `ply` file using an `obj` file? A lot of mesh datasets provide obj files instead of ply files.

[2020-09-01 21:16] Zumbalamambo opened #2267 "Type Error"
I have built Open3d from the source as it was instructed,

I tried running the same code

[code]

I'm getting the same error as follows

[code]

[2020-09-02 00:07] cygann opened #2268 "Unable to load geometry into vis-gui.py demo"
**IMPORTANT: Please use the following template to report the bug.**
_____

**Describe the bug**
I am interested in using the new gui module for 3d point cloud visualizations with a UI, however, I cannot get the vis-gui.py demo to successfully display a point cloud. Instead, I get this error after successfully reading the file:

[code]

I was wondering if I could get some pointers on this. Thanks!

[2020-09-02 06:55] EthanZhangYi opened #2271 "Capture image without running the visualizer."
Currently I use the code below to generate the image rendered.
[code]
However
(1) this can not work on a remote server since GUI is not available.
(2) I need to close the window manually each time, which is not suitable for visualization of a large batch of data.

Is there a better solution?

[2020-09-02 07:25] griegler commented on #2271
For headless rendering (1) look [here](http://www.open3d.org/docs/release/tutorial/Advanced/headless_rendering.html).
You can also close the window (2) from [Python](http://www.open3d.org/docs/release/python_api/open3d.visualization.Visualizer.html#open3d.visualization.Visualizer.close).

[2020-09-02 07:28] griegler commented on #2267
Which commit did you build?

[2020-09-02 07:57] Zumbalamambo commented on #2267
@griegler I used "git clone --recursive https://github.com/intel-isl/Open3D" which is the latest commit

[2020-09-02 09:55] Andyjk1406 opened #2272 "CUDA Build fails on Windows VS2019"
**IMPORTANT: Please use the following template to report the bug.**
_____

**Describe the bug**

Selecting BUILD_CUDA_MODULE generates the solution fine, but when trying to build in VS2019, I get the following snippet:

[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Clone Open3d fresh (either master or the unofficial CUDA branch, https://github.com/theNded/Open3D )
2. Cmake with BUI

[2020-09-02 09:58] EthanZhangYi commented on #2271
@griegler
Thanks for your reply.
For solution(1) I will try to build `open3d` for headless rendering.
For solution(2), I run the codes below, but I stiil need to close the window manually each time. It seems that `visualizer.run()` will block the current thread until the window is closed manually. Do you have any advice on it?
[code]
or
[code]

[2020-09-02 10:06] Andyjk1406 commented on #2272
Could this be the "quotes" within "quotes" in the generated command ?  FLANN, Eigen3 and NVidia paths all have these quotes, although FLANN and Eigen have no spaces in the the path

[2020-09-02 10:31] griegler commented on #2267
I just tried it myself with a fresh git clone and your example and it works for me. Did you call `make install-pip-package` after compilation, or how did you install the Python package for your env?

[2020-09-02 10:34] griegler commented on #2271
I see, you can solve (2) by having a look [here](http://www.open3d.org/docs/release/tutorial/Advanced/non_blocking_visualization.html)

[2020-09-02 11:25] upasana27 commented on #2252
Hi @theNded, thank you for the help. I followed the steps, however the ply I am getting does not seem like a good visualisation.  Can you please check if everything is in the right format?
![Screenshot from 2020-09-02 16-42-18](https://user-images.githubusercontent.com/31506763/91974642-ac6e8900-ed3b-11ea-8a59-0905d165aa5a.png)
![Screenshot from 2020-09-02 16-42-29](https://user-images.githubuserc

[2020-09-02 11:39] Zumbalamambo commented on #2267
@griegler I did `make install-pip-package` though the `make-j8` threw some error with respect to `glew` at 90% the `make install-pip-package` worked :(

[2020-09-02 12:43] upasana27 commented on #2252
Hi @theNded, thanks for the help.

[2020-09-02 12:43] #2252 closed

[2020-09-02 13:30] EthanZhangYi commented on #2271
@griegler
Thanks~
The `Non-blocking visualization` solved my problem.

[2020-09-02 13:30] #2271 closed

[2020-09-02 14:14] Andyjk1406 commented on #2272
Hmm

There are a lot of developer warnings in Cmake though, even though the solution generates...

No CMAKE_BUILD_TYPE specified, default to RelWithDebInfo
Selecting Windows SDK version 10.0.18362.0 to target Windows 10.0.18363.
Open3D 0.9.0.0
Building CUDA enabled
Autodetected CUDA architecture(s):  7.5
Building with OpenMP
Building library 3rdparty_dirent from source (WIN32)
Building library 3rd

[2020-09-02 16:47] germanros1987 commented on #2268
Hi @cygann,

after building master, did you also build the pip package and install it? Just double-checking.

[2020-09-02 16:57] cygann commented on #2268
Yes, I did. I'm able to play around with the other features in the demo, but it seems to just be adding geometry that won't work for me.

[2020-09-02 18:36] germanros1987 commented on #2268
I can reproduce the issue. We are looking into this to come up with a hotfix.

[2020-09-02 20:17] #2268 closed

[2020-09-02 20:26] cygann commented on #2268
Thanks so much! For future reference, is there documentation available for working with the gui module in python?

[2020-09-02 20:37] germanros1987 commented on #2268
The problem has been solved by #2273 , included in the latest version of master. Please, give it a try.

Regarding the documentation, you are testing features that have not been released yet. We will make the documentation available at release time.

[2020-09-02 21:40] Zumbalamambo opened #2275 "Unable to convert PCD to PLY"
I'm using the following code to convert PCD file to PLY.

[code]

Unfortunately the converted Pointcloud looks messy in blender. Is this the proper way of doing it?

[2020-09-02 23:11] #2148 closed

[2020-09-02 23:12] theNded commented on #2148
@sammo2828 @nachovizzo Thanks for your great work! Will let you know if there are further questions

[2020-09-02 23:36] Jaxi83 opened #2276 "Converting Point Cloud to RGB-D data or extract associated"
I had 4 or 5 point cloud data and merge them together. But now, I am trying to extract RGB_D data from it.
I can extract RGB data by **data.colors** and point data by **data.points** from the file, but how I can flat it to an RGB image.
[code]
My problem is the above function give me a (1250459,3) array and I have to convert it to (A,B,3) array, which A and B are my image size. and the 3 represent

[2020-09-03 00:34] heethesh commented on #403
When using numpy with `Vector3dVector`, I noticed a slow down with the visualization when the numpy array type was `np.float32`. Initializing my array with `dtype=np.float64` (which is the default type I think), solved it for me!

[2020-09-03 04:56] hahakid commented on #1026
@germanros1987
open3d                0.10.0.1
o3d.visualization.draw_geometries([pcd])  #works

visualizer = JVisualizer()
visualizer.add_geometry(pcd)
visualizer.show()
#show nothing & return JVisualizer with 1 geometries

[2020-09-03 06:13] griegler commented on #2276
You can use the [Visualizer](http://www.open3d.org/docs/release/tutorial/Advanced/customized_visualization.html) to render the pointcloud and then use [`capture_depth_float_buffer`](http://www.open3d.org/docs/release/python_api/open3d.visualization.Visualizer.html#open3d.visualization.Visualizer.capture_depth_float_buffer) to retrieve the depth map.

[2020-09-03 06:15] griegler commented on #2275
This is the correct way. Can you please provide the `ply` file (or a similar one) that produces the problem. It would also be good to show screenshots of loading the `ply` and the `pcd` in Blender.

[2020-09-03 06:17] griegler commented on #2267
It seems that there is a problem with building open3d. I will close this issue for now, feel free to open a new issue with details of your build error.

[2020-09-03 06:17] #2267 closed

[2020-09-03 07:07] nachovizzo commented on #2148
Thanks for fixing this!

[2020-09-03 10:25] Andyjk1406 commented on #2272
This appears twice in the nvcc call, and looks suspicious - the quotes don't seem right?

-D"CMAKE_INTDIR="Release""

[2020-09-03 12:25] nachovizzo commented on #2141
So, this is not happening anymore on my local installation. I have literally no idea what/which thing fixed it, but I'll close it anyways

[2020-09-03 12:25] #2141 closed

[2020-09-03 15:23] Uio96 opened #2280 "Having trouble with 3D reconstruction on own dataset"
**IMPORTANT: Please use the following template to report the bug.**
_____

**Describe the bug**
I tried to run the provided RGB-D reconstruction on a dataset. But every time, after I run the code for a while, there will be a termination, which said

I first assumed that there might be some problems with parallel. So I changed to a single worker. However, it still showed "killed" after some time. I

[2020-09-03 16:48] Uio96 commented on #2280
I manually check the RGB-D info by visualizing it in a point cloud way. It seems fine to me. I am not sure if the reconstruction system has any other requirements for the depth info.

![demo](https://user-images.githubusercontent.com/13082153/92143637-8d2b3680-ede3-11ea-8451-562f50b5010a.png)

[2020-09-03 17:20] #2275 closed

[2020-09-03 18:04] DustinReagan opened #2281 "Customize-able open3d.visualization.VisualizerWithEditing?"
I need to create a custom point-cloud and mesh selection and landmark placement tool.

Open3d's VisualizerWithEditing is very close to what I need, but I don't quite understand if/how I am able to inherit from or otherwise customize open3d.visualization.VisualizerWithEditing.

I need to be able to do 3 things:

1) Multi-selection (and de-selection) of point-cloud points.  Currently the functionali

[2020-09-03 18:56] Zumbalamambo opened #2283 "Installation Error"
**IMPORTANT: Please use the following template to report the bug.**
_____

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

[code]
**Expected behavior**
Must install the dependencies

**Error:**
[code]

**Environment (please complete the following information):**

- Operating system: Ubuntu 20
- Python version: 3.7.0
- Ope

[2020-09-03 21:04] cygann opened #2284 "Cannot change background color with vis-gui.py example"
**Describe the bug**

I'm trying to use the new GUI module for point cloud visualizations, but am having trouble with changing the background color. In the [vis-gui.py example](https://github.com/intel-isl/Open3D/blob/master/examples/python/GUI/vis-gui.py), I cannot get the background color to change at all despite selecting a new background color with the "BG Color" color picker.

I have also tri

[2020-09-04 00:40] bing-jian opened #2286 "Errors occur when Open3D library is linked together with other libraries, e.g. gflags, opencv"
**IMPORTANT: Please use the following template to report the bug.**
_____

**Describe the bug**
Errors occur when Open3D library is linked together with other libraries, e.g. gflags, opencv
**To Reproduce**

Please see
https://github.com/bing-jian/open3d_test

**Expected behavior**
The code should compile and work on major platforms including Windows, macOS and linux.

**Environment (please comple

[2020-09-04 01:08] bing-jian commented on #2286
*** Updates: Same code (well, almost same) and CMakeLists.txt worked when using Open3D 0.9.0 ***

https://github.com/bing-jian/open3d_test/tree/master/open3d_0.9.0_test

[2020-09-04 12:39] nanotuxi commented on #2134
Here is a patch for the ndeds repo with a very detailed explanation on how to get Open3D running on a Jetson Nano
https://github.com/nanotuxi/jetsonNanoPatches

[2020-09-04 14:18] ttsesm commented on #1484
Hi,

I am trying to load the attached `.obj` and corresponding `.mtl` files. However, I am getting the following warning message:

[code]

Then I've manually removed the `Tr` values but it still segfaults without any output error.

Any idea what could be wrong?
The code I am using is the following:
[code]
[0004d52d1aeeb8ae6de39d6bd993e992.zip](https://github.com/intel-isl/Open3D/files/5175339/0004

[2020-09-04 14:40] ttsesm commented on #1259
@errissa I am having a similar problem as well check my message [here](https://github.com/intel-isl/Open3D/issues/1484#issuecomment-687173998), not sure whether it is material file related or not but you can find the model attached.

Not sure what is the issue though.

[2020-09-04 17:09] AndreV84 commented on #2134
@nanotuxi
Thank you or the update!

[2020-09-04 18:03] poorboy44 opened #2289 "Jupyter visualization broken?"
When I run the code from the Open3d Jupyter support documentation( http://www.open3d.org/docs/release/tutorial/Basic/jupyter.html), I get the error:

[code]

I am running Open3d version 10.0.0 on Ubuntu 18.04, installed via pip.

[2020-09-04 22:54] bumbastic commented on #2221
Now, i got the timing with 'fast' moving camera direct integration working with rgbd images and ground truth poses. Timestamps are spot on in the Kinect images. Now i see that the rgbd's have some noise on the edges of valid pixel depth. Any ideas 'code examples' on how to reduce such noise, in the raw depth images, using Open3D, would be very much appreciated.

[2020-09-05 00:19] zendevil commented on #1968
Same device:
[code]

[2020-09-05 18:03] zendevil commented on #372
I have the same issue:

[code]

[2020-09-05 20:44] Zumbalamambo opened #2291 "Removing the points that are over certain y value"
Is it possible to remove the points that are over certain `y-value` using Open3D? I tried to check the python documentation but I couldn't be able to find one.

[2020-09-06 15:17] nanotuxi commented on #1968
` Protocol "https" not supported or disabled in libcurl` says that  libcurl doesn't support https.
You have to recompile libcurl from source with  with support for https enabled.

[2020-09-06 16:47] Zumbalamambo commented on #2267
@zendevil It doesnt work. It creates the following error

[code]

[2020-09-06 16:47] Zumbalamambo commented on #1968
@zendevil that doesn't work either

[2020-09-06 18:10] nanotuxi commented on #1968
What does
`curl --version`
say?
It outputs a list of supported protocols. If `https` isn't in this list, there is something wrong with your curl installation.
Try `sudo apt remove --purge curl`  and install from source again.

[2020-09-06 18:30] griegler commented on #2291
For a pointcloud you could use something like

[code]

[2020-09-07 03:27] Barath19 commented on #2276
@griegler Is there any other way to generate depth image from point cloud, which does not require visualization?

[2020-09-07 06:47] griegler commented on #2276
Rendering is definitely the fastest. As alternative you can project the points yourself, but you would need to implement it yourself (preferable in native code to get it fast). If `K` is your camera projection matrix, then `(u, v, d).T = K @ (x, y, z).T` and you have to keep track of the minimum depth `d` at the pixel locations `u/d, v/d`, `(x, y, z)` are the 3D points.

[2020-09-07 11:36] whubaichuan commented on #1349
@syncle Do you only have one fragment?

[2020-09-07 11:57] B5paper opened #2294 "Can't set z-axis as the up-axis with the view control."
Bug:

Can't set z-axis as the up-axis with the view control.

**To Reproduce**
Steps to reproduce the behavior:

Normal view:

[code]

Screenshot:

![normal_view](https://user-images.githubusercontent.com/18409864/92385106-dc56cb80-f143-11ea-98db-535ffeaf000e.png)

Wrong view:

[code]

Screenshort:

![wrong_view](https://user-images.githubusercontent.com/18409864/92385145-f0023200-f143-11ea-8f3a-d

[2020-09-07 14:22] Zumbalamambo commented on #2291
@griegler I tried the above code. When I draw_geometries, the resultant point cloud still remains the same. :(

 I have images with known 6DOF position.. is it also possible to add RGB data to the point cloud?

[2020-09-07 19:40] Jianghanxiao opened #2295 "Question about origin parameter in o3d.geometry.TriangleMesh.create_coordinate_frame function"
**IMPORTANT: Please use the following template to report the bug.**
_____

**Describe the bug**
When I set the different origins of the create_coordinate_frame, I find that the origin is not in the world coordinate. I wonder if the function offers a wrong feature. The example code is like this

[code]

We can see that when origin of the coordinate frame is set to 0, 0, 1. Its actual origin in the

[2020-09-08 02:08] satej1210 commented on #2294
Since the up vector is calculated as a cross product of the front vector and the right vector, the front vector needs to be set first, and then the up vector can be set in your code.

Whenever you set any of the front, up or right vectors, the other vectors are recalculated.

So I modified your code by changing when the front and the up vectors are set:
[code]

The default values appear to be:
[co

[2020-09-08 03:21] satej1210 commented on #2295
If you're using the PyPI version of Open3D (0.10.0), you might want to compile this repository from source and install Open3D v0.10.1

The bug was fixed after the latest release (0.10.0). Here's a link to a previous issue for the same bug: https://github.com/intel-isl/Open3D/issues/2010

[2020-09-08 03:26] Jianghanxiao commented on #2295
Thanks a lot!

[2020-09-08 03:26] #2295 closed

[2020-09-08 05:05] B5paper commented on #2294
@satej1210 Thank you for your explanation. I'll try as you mentioned.

[2020-09-08 05:05] #2294 closed

[2020-09-08 06:59] MaxChanger commented on #1917
What this function `vis.run()` does is to activate the window. This function will block the current thread until the window is closed, as shown in [link](http://www.open3d.org/docs/release/python_api/open3d.visualization.Visualizer.html?highlight=vis%20run#open3d.visualization.Visualizer.run).
But there is no `vis_global.run()` in your code, in my test, when there is only one window, not adding .r

[2020-09-08 07:02] MaxChanger commented on #1605
Is there any new progress regarding this feature?

[2020-09-08 08:30] griegler commented on #2267
@Zumbalamambo did you run `git submodule update --init --recursive` to retrieve the submodules?

[2020-09-08 08:34] griegler commented on #2291
Then I guess you do not have any points with a y-coordinate greater than the given threshold.
Regarding your second question you can use [`create_from_rgbd_image`](http://www.open3d.org/docs/release/python_api/open3d.geometry.PointCloud.html#open3d.geometry.PointCloud.create_from_rgbd_image).

[2020-09-08 08:48] Zumbalamambo commented on #2291
@griegler I will try that thank you!...

I have used `pick_point()` to find out the threshold. It's on the z-axis. This is my code,

[code]

am I doing it properly?

[2020-09-08 10:47] griegler commented on #2291
Here is a minimal working example (if it is not working then most likely the `threshold` is not what you think):

[code]

[2020-09-08 11:26] Zumbalamambo commented on #2291
@griegler it works! thanks :)

[2020-09-08 11:27] #2291 closed

[2020-09-08 18:04] nanotuxi commented on #2134
@AndreV84
De nada. From another thread I guess you have a L515? Did you get that camera working on the jetson nano, too?

[2020-09-08 19:00] AndreV84 commented on #2134
yes L515 works on jetson

[2020-09-08 21:06] prewettg commented on #2284
I think this was caused by moving to Filament 1.8 from 1.4.5, which changed how the background color is set, and the example didn't get updated. Fixed in #2299.

[2020-09-08 21:15] cygann opened #2300 "Multi-processing with new GUI module"
I have a process that is creating Open3D point cloud objects from numpy arrays, and I would like to use the new GUI module to visualize them as they're being created. I have tried to solve this myself, but was wondering if I could get some advice/pointers on accomplishing this.

I noticed from the vis-gui.py example, `gui.Application.instance.run()` will run the event loop until the window is clos

[2020-09-08 23:49] prewettg commented on #2300
It sounds like your problem is that everything is happening on the same thread, so if you load the geometry it prevents the UI from working and vice-versa. It sounds like what you want to do is have one thread read geometry (from a queue, from a file, over the network, wherever) and have the UI thread continue to operate, with the geometry thread posting the complete geometry back to the UI thread

[2020-09-09 03:29] #2284 closed

[2020-09-09 05:21] nanotuxi commented on #2134
@AndreV84
Thanks.

[2020-09-09 07:01] Zumbalamambo commented on #2283
@yxlao it would be nice to have `sudo apt get install open3d` or at least an updated version of conda or pip.

[2020-09-09 08:10] yxlao commented on #2283
@Zumbalamambo this issue should have been taken care of by a recent commit: https://github.com/intel-isl/Open3D/blame/master/3rdparty/filament/filament_download.cmake#L25 . Could you try it again on Ubuntu 20.04 with the latest master? If `master` branch still doesn't work, could you try `-DBUILD_FILAMENT_FROM_SOURCE=ON`?

Regarding `apt-get`, we will consider that in the future, it is not in our

[2020-09-09 09:06] MrGoort commented on #2286
I have the same problem in Ubuntu 16 and 18 with libraries like boost and gtsam. I can work with Open3D v0.8.0 without any issues, but was trying to update to the latest version.

This is some of the linking errors that I am getting:

[code]

[2020-09-09 10:22] Jason1820 commented on #2131
I change my prefix to be open3d/install. But I think that this would only affect the current builds install location. You would need to change the prefix twice. I would like to have it setup such that I can switch between Debug, Release, dynamic and release in visual studio without re-building open3d. I managed to achieve this with a script but it is not a clean install procedure for other develop

[2020-09-09 17:51] Zumbalamambo commented on #2283
@yxlao it is throwing the following error,

[code]

[2020-09-09 18:58] Zumbalamambo opened #2306 "Show Coordinates on hover"
`draw_geometries` draws the point clouds, lines etc., to the UI. It would be nice to show the (x,y) coordinates when I hover over the window. It might help to debug as in opencv `imshow` window where the coordinates are shown in the  bottom corner

[2020-09-09 19:53] Zumbalamambo commented on #2306
@griegler @yxlao Is it possible to place multiple axes throughout the view? something like [this](https://i.ytimg.com/vi/SdBDATclhXM/maxresdefault.jpg)  where it's possible to place the multiple axes?

[2020-09-09 20:37] Zumbalamambo commented on #2306
@griegler I want to place multiple `coordinate_frames`

[code]

The above code works fine. However when there are almost 70Million points, the entire window is getting killed. Is there anyways to optimize it?

[2020-09-09 22:07] cygann commented on #2300
Thank you for your response, this was super helpful.

[2020-09-09 22:08] cygann commented on #2284
Great, thank you!

[2020-09-09 22:41] Zumbalamambo commented on #2306
@griegler I'm trying to draw `coordinate_axes` as well as the `lineset`.

Following is my code,

[code]
The problem is that the `coordinate_axes` lags behind the `lineset`. Both `lineset` as well as the `coordinate_axes` uses the same `tvec`. However, the `coordinate axes` lags behind the line.

[2020-09-10 06:47] wilsonren opened #2310 "trans_init in ICP registration"
Dear All:

I'm very new to PCL and I'm trying to walk through the examples provided by the documentation. When doing ICP registration, the documentation used the following code.
[code]
Could anyone please kindly tell me where does the trans_init come from? The documentation says global registration needs to be used to get the initial alignment (I'm assuming the initial alignment is the trans_init

[2020-09-10 08:38] griegler commented on #2310
This [tutorial](http://www.open3d.org/docs/release/tutorial/Advanced/global_registration.html) should help you to get started. It starts first with global registration and then shows how to do local refinement.

[2020-09-10 08:38] #2310 closed

[2020-09-10 15:25] itisyeetimetoday commented on #2190
That would be great, as I think many other people would like this feature, as this question has been asked multiple times on issues, but with different answers.

[2020-09-10 16:36] Zumbalamambo opened #2313 "Error with ConvertFromPinholeCameraParameters"
I'm using the following code to move the camera over a trajectory.

[code]

Following is my `trajectory.json`.

[trajectory.txt](https://github.com/intel-isl/Open3D/files/5203319/trajectory.txt)

It throws the following warning,

`[Open3D WARNING] [ViewControl] ConvertFromPinholeCameraParameters() failed because window height and width do not match.
`

why is that so? However, if I change the widt

[2020-09-10 18:04] Fred3D-tech commented on #2061
the worst problem is that this project has not been properly maintained for the last 6 months.. with several people I worked with, we participated in this project and some of the code published is part of our work (@baptiste-mnh) ... but today, issues are just not solved, you get no answer and the development and documentation does not help you.. those people don't care.. it is not serious!

[2020-09-10 19:54] bkanchan6 opened #2315 "linear depth for orthographic projection with CaptureDepthFloatBuffer"
For orthograph projection, when we get depth float buffer with `CaptureDepthFloatBuffer`, I was expecting depth to be linearly converted from normalized device coordinate system to eye coordinate system. However, it converts them non-linearly (as needed for perspective projection) https://github.com/intel-isl/Open3D/blob/master/cpp/open3d/visualization/visualizer/VisualizerRender.cpp#L321. I think

[2020-09-10 20:16] germanros1987 commented on #2061
@Fred3D-tech have you finished venting or do you need more time? Should we enable a special space for you to vent?

In the meantime, while you vent, we are working on adding support for GPU acceleration for Open3D, a new machine learning module, a new rendering engine, a new GUI, a brand new reconstruction system, etc.

We do care. However, we don't have infinite bandwidth to fix everything on the

[2020-09-10 20:19] rajanidulal opened #2316 "MSB3073 error while installing"
- Operating system: Windows 10 64-bit
- Language: C++
- Open3D version:
- Is this remote workstation?:  no
- How did you install Open3D?:  build from source
- CMake: 3.18.2
- IDE: Visual Studio 2019

I compiled from the source following instructions from here: http://www.open3d.org/docs/release/compilation.html#compilation.

Got an MSB3073 error during installation. It says:  The command "setlocal

[2020-09-11 01:11] cygann opened #2320 "GUI Module key callbacks"
Does the new GUI Module have support for registering key callbacks like the open3d `visualization.VisualizerWithKeyCallback` class? If so, where should I look?

Thanks!

[2020-09-11 09:45] Zumbalamambo commented on #1161
@Lu-jiang I'm very sad too because of that

[2020-09-11 14:21] Zumbalamambo commented on #2320
@cygann Yes it is possible... I wrote a minimalistic example for you.

[code]

Press `S` and the `save_image` method will be invoked. Try this and let us know if it has any issues.

[2020-09-11 14:23] Zumbalamambo commented on #2320
@cygann Yes it is possible...

[code]

Press `S` and the `save_image` method will be invoked. Try this and let us know if it has any issues.

[2020-09-11 14:26] Zumbalamambo commented on #2320
Yeah it is possible... Try this code,

[code]

Press `S` and it will execute the `save_image`. In addition, you could also pass additional arguments if you want to with minor modification.

[2020-09-11 14:40] Zumbalamambo commented on #2281
+1

[2020-09-11 14:41] Zumbalamambo commented on #2190
+1

[2020-09-11 14:50] Zumbalamambo commented on #1885
@Me817

This works for me,
[code]

[2020-09-11 14:52] Zumbalamambo commented on #1417
+1

[2020-09-11 14:54] Zumbalamambo commented on #737
@fwilliams I think this issue can be closed. The keypress has been added to the visualizer. Please check,
[code]

[2020-09-11 15:32] yxlao commented on #2316
Does it only happen in the install step? Was the compilation step working?

A quick search shows that "Error MSB3073 is generally caused by an incorrect path in the command line". So possibly this is due to permission error (e.g. installing into system folders without using an administrator shell). If this is the case, we can specify a different `CMAKE_INSTALL_PREFIX` to point to somewhere in your

[2020-09-11 15:34] yxlao commented on #2283
For the `#include <cstddef>` error, could you share the full commands?

[2020-09-11 15:36] yxlao commented on #2210
Would `PointCloud::Crop` serve this purpose? https://github.com/intel-isl/Open3D/blob/master/cpp/open3d/geometry/PointCloud.h#L174

[2020-09-11 15:40] Zumbalamambo commented on #2283
May I know where should I include this ?

I just used DBUILD_FILAMENT_FROM_SOURCE=ON and make -j8

[2020-09-11 15:41] yxlao commented on #2272
Hi @Andyjk1406 , currently we don't have support for CUDA on Windows. In general, it should work, but build system changes will be required.

[2020-09-11 15:45] yxlao commented on #2289
The Jupyter visualization is experimental, we are dropping support for the current one, and the future Jupyter support is likely to be based on the new Filament based visualizer.

[2020-09-11 15:45] #2289 closed

[2020-09-11 16:22] griegler commented on #2015
I don't think there is a satisfactory solution right now. You could add a textured mesh in the corner of your window, but that will not stay in place as you navigate the scene. You can also visualize `Image`, but I do not think there a lot of controls on how it is visualized unfortunately.

[2020-09-11 17:54] cygann commented on #2320
I'm familiar with how to use the VisualizerWithKeyCallback class, but I'm not sure that it's compatible with the new GUI module since it uses its own visualizer. I'm looking to use the callbacks in a program similar to [this one](https://github.com/intel-isl/Open3D/blob/master/examples/python/GUI/vis-gui.py)

[2020-09-11 17:57] Zumbalamambo commented on #2015
@griegler thanks! Is it possible to interface open3d with qt or any other gui creators?

[2020-09-11 19:23] hduonggithub commented on #2210
@yxlao I will give it a try. Thanks

[2020-09-11 20:59] rajanidulal commented on #2316
Yes, it happened during the installation step. It was indeed the permission error and was solved when I ran my VS as an administrator. Thank you!

@yxlao Is there anyway to run this project in debug mode.

[2020-09-12 18:21] mneilly commented on #1937
I have a branch [mneilly/fix-jupyterlab-extension](https://github.com/mneilly/Open3D/tree/mneilly/fix-jupyterlab-extension) where I have open3d in jupyterlab working. Or, at least pasting the code from http://www.open3d.org/docs/release/tutorial/Basic/jupyter.html is working. The changes are based on looking at cookiecutter and various tutorials along with some guessing.

[2020-09-13 02:50] Shiyu555 opened #2327 "Visualization problem"
I want to update the TriangleMesh constantly, and I use the following code, but  I can’t see the front face clearly. Is there any way to adjust it?
`
vis = o3d.visualization.Visualizer()

vis.create_window(width=1080,height=840)

opt = vis.get_render_option()

opt.background_color = np.asarray([1, 1, 1])
mesh_is_empty=True
mesh=o3d.geometry.TriangleMesh()
if mesh_is_empty:
            print('add g

[2020-09-13 03:23] #2327 closed

[2020-09-13 03:29] tfzhang006 opened #2328 "Can't open Open3D app."
**Description**
I can't open Open3D app on Ubuntu18.04.5

Steps to reproduce the behavior:

1. sudo dpkg -i Open3DApp-0.10.1.0-linux.deb
2. Open3D
3. See error
Filament library loaded.
FEngine (64 bits) created at 0x7f1878991010 (threading is enabled)
FEngine resolved backend: OpenGL
X Error of failed request:  GLXBadFBConfig
  Major opcode of failed request:  151 (GLX)
  Minor opcode of failed re

[2020-09-13 12:34] chuong commented on #1245
@theNded neither [azure_kinect_mkv_reader ](http://www.open3d.org/docs/release/python_api/open3d.io.AzureKinectMKVReader.html) nor [create_from_rgbd_image](http://www.open3d.org/docs/release/python_api/open3d.geometry.PointCloud.html#open3d.geometry.PointCloud.create_from_rgbd_image) (or [open3d.camera.PinholeCameraIntrinsic](http://www.open3d.org/docs/release/python_api/open3d.camera.PinholeCamer

[2020-09-13 12:40] chuong commented on #1245
@theNded This is not a good solution because undistortion of depth images introduces artefacts/errors and therefore not recommended.
The best place to account for lens distortion is [create_from_rgbd_image](http://www.open3d.org/docs/release/python_api/open3d.geometry.PointCloud.html#open3d.geometry.PointCloud.create_from_rgbd_image) and [open3d.camera.PinholeCameraIntrinsic](http://www.open3d.org

[2020-09-13 16:16] fwilliams commented on #737
Thanks! Looks like we can close this then :)

[2020-09-13 16:16] #737 closed

[2020-09-14 05:49] WilliamKRobert opened #2329 "Is possible to save segmentation results in a single ply/pcd/obj file?"
**Is your feature request related to a problem? Please describe.**
I have segmented a point cloud file into several clusters. Now, I would like to save those segments as a single file, such that when I import the file in Autodesk (or other 3D modeling softwares), these segments are recognized individually. In other words, I don't want to lose segmentation results when I save the file as ply/pcd/ob

[2020-09-14 05:56] tfzhang006 commented on #2328
I solved this problem by reinstalling my NVIDIA GPU driver.

[2020-09-14 05:56] #2328 closed

[2020-09-14 06:18] griegler commented on #2015
No, unfortunately not.

[2020-09-14 06:19] griegler commented on #2329
@WilliamKRobert Can you please provide a code snippet what you have so far so I can better understand the problem.

[2020-09-14 13:30] liudaqikk commented on #414
I’ve got the same issue, have you resolved it?

[2020-09-14 13:57] devshank3 commented on #1968
## same obstacles while building on jetson nano, but few  tips (work around)

 for curl https error

sudo apt-get install libcurl4-openssl-dev

purge cmake
build it from source with

`cd cmake`
`sudo ./bootstrap --system-curl`
`sudo make -j$(nproc)`
`sudo make install`

[2020-09-14 15:46] hduonggithub commented on #999
Hi @qianyizh
Do we have multiple viewports yet? if yes, please advise. Thanks!

[2020-09-14 16:04] #846 closed

[2020-09-14 19:08] hduonggithub opened #2331 "How to set orthogonal view along X/Y/Z axis in code?"
**Is your feature request related to a problem? Please describe.**
#744

**Describe the solution you'd like**
I know in open3d.visualization.draw_geometries_with_editing() there are the following options.

[Open3D INFO]     X            : Enter orthogonal view along X axis, press again to flip.
[Open3D INFO]     Y            : Enter orthogonal view along Y axis, press again to flip.
[Open3D INFO]

[2020-09-15 00:13] wilsonren opened #2335 "Could you maybe develop a function that could read XYZI format point could file"
Dear developers：

Could you maybe develop a function that could read XYZI format file. A typical XYZI format file would be similar to the one I attached.
[DOTX182013031901004142612.log](https://github.com/intel-isl/Open3D/files/5221691/DOTX182013031901004142612.log)

currently, I'm using the following code to read and visualize this type of file.

[code]
Thanks a lot for your great work and consid

[2020-09-15 02:11] MaxChanger commented on #999
The new version of open3d (0.9.0 and 0.10.0) needs to add the parameters you want to update in update_geometry().
You can check [here](http://www.open3d.org/docs/release/python_api/open3d.visualization.Visualizer.html?highlight=update_geometry#open3d.visualization.Visualizer.update_geometry)
[code]

[2020-09-15 09:23] jkravanja commented on #2286
I have a similar problem using Open3D and GFlags with the following message form linker:
    `undefined reference to google::FlagRegisterer::FlagRegisterer<std::string>(char const*, char const*, char const*, std::string*, std::string*)`
The error only seems to arise when defining a string flag using "DEFINE_string", however "DEFINE_bool", "DEFINE_double" and "DEFINE_int32" work without any problem

[2020-09-15 13:17] Zumbalamambo opened #2338 "Determining the Proper Camera Position"
I would like to position the camera based on the homogeneous matrix. Following is my homogeneous matrix,

[code]

How do I find the corresponding up vector, set_front,set_lookat, appropriate zoom values with these values? I used the following code to do so but it is still not there yet,

[code]

[2020-09-15 13:23] DustinReagan commented on #2281
After reviewing the state of the open3d c++ renderer/scene-manager (it looks like it's being heavily over-hauled at the moment), I decided to go with panda3d.  I am still using the really nice mesh & point-cloud processing capabilities of open3d, but within an editor I have written using panda3d.

[2020-09-15 13:23] #2281 closed

[2020-09-15 13:49] griegler commented on #2338
You could use something like this

[code]

[2020-09-15 13:56] Zumbalamambo commented on #2338
@griegler thank you! I tried it. Following is my code,

[code]
Unfortunately, the camera is still not focussing on the right axis :( am I missing something?

[2020-09-15 14:36] Zumbalamambo commented on #2338
@griegler should I transpose it?

[2020-09-15 15:08] heiwang1997 commented on #1367
@SBCV Thank you very much for the pull request.

[2020-09-15 15:51] TobiFisch commented on #2193
@griegler Is the approach I posted earlier valid? If so, I would consider the behavior a bug and not a feature request, like the issue label suggests.

[2020-09-15 15:52] SBCV commented on #1367
@heiwang1997 thank you for providing a solution ;)

[2020-09-15 20:14] Zumbalamambo commented on #1164
@germanros1987 so curious... Stuck with this issue for a week

[2020-09-15 21:47] cygann opened #2342 "Strange blackout behavior with new GUI module on Ubuntu"
**Describe the bug**
I am trying to use the new GUI module for point cloud visualizations on both MacOS and Ubuntu. I have been able to run the vis-gui.py demo just fine on MacOS, but when I try to run it on Ubuntu, the window goes dark whenever I interact with the scene through either zooming or clicking and dragging, making it very difficult to use. Also, a small colorful icon appears in the bot

[2020-09-15 22:55] #2300 closed

[2020-09-15 23:32] mattj23 commented on #1321
Is there still interest in this?  I have recently implemented code to do intersection tests between `Eigen::ParameterizedLine<double, 3>` and Open3D's `TriangleMesh`, as well as between the line and `AxisAlignedBoundingBox` using the branchless slab method, which I used to make a bounding volume hierarchy for accelerating ray/mesh intersections.

I would be willing to contribute some or all of thi

[2020-09-16 05:59] yxlao commented on #2316
Yes. If you do it in the terminal, it looks likes this:
[code]
There should be an equivalent setting in VS Studio GUI to switch to debug mode.

[2020-09-16 05:59] #2316 closed

[2020-09-16 06:38] griegler commented on #1321
@mattj23 sounds great. Intersection tests and BVH would be a great addition.

[2020-09-16 07:30] pgehring opened #2344 "deterministic results of statistical outlier filter?"
Hello,

I want to filter my point cloud for statistical outlier with the implemented filter in python. While using the `remove_statistical_outlier` with constant parameters on the same point cloud, I observed that the returned point cloud size is not deterministic.
For later steps in my processing pipeline it's really important that the filter is deterministic.

Is my understanding of the algorith

[2020-09-16 07:49] prewettg commented on #2342
This is interesting, I've seen something similar on Windows but haven't had time to investigate. However, I've not seen this on Linux before. What driver / video card are you using? Are you able to test with a different video card / driver, or a newer driver?

[2020-09-16 10:43] Zumbalamambo commented on #2344
+@

[2020-09-16 10:43] Zumbalamambo commented on #2344
+1

[2020-09-16 11:18] B5paper opened #2345 "How to view all the rectangles (line sets) plotted at the same plane?"
When I run the following code, I can only see two rectangles but not all, no matter how I scale the view. But actually there are 5 rectangles, which matplotlib can plot completely in a figure.

[code]

Screenshots:

![screenshot_1](https://user-images.githubusercontent.com/18409864/93329807-5972f680-f850-11ea-92d7-2e01cb26a650.png)

![screenshot_2](https://user-images.githubusercontent.com/1840986

[2020-09-16 11:59] shakasaki opened #2346 "Creating a mesh from a 3D point cloud from inside a tunnel"
This is probably not a bug, but more of a wrong implementation of the code. Nevertheless, I would very much appreciate your feedback.

What I am trying to do is to create a mesh from a 3D point cloud. The point cloud is a laser scan from inside a tunnel. The laser points are spaced 10 cm apart. The problem is that the resulting mesh, using the ball pivoting method, appears very scattered. I have p

[2020-09-16 13:42] willat343 opened #2347 "Implementation of triangle UVs subdivision in TriangularMesh's SubdivideLoop or SubdivideMidpoint functions"
**Is your feature request related to a problem? Please describe.**
I wish to upsample the mesh and for the UV texture coordinates of the faces/vertices to be updated in the process. I need to be able to create a pointcloud from this mesh with the correct colour information.

**Describe the solution you'd like**
When creating the new triangular faces and verticies, interpolate between the texture U

[2020-09-16 17:57] germanros1987 commented on #2342
@cygann do you have the same problem for the Open3D app? Could you try to build the app and compare it with the vis-gui.py script?

[2020-09-16 19:51] Fred3D-tech commented on #1968
can't believe this not working and no solution has been found.

[2020-09-16 19:59] griegler commented on #2347
Thanks @willat343, it is on our roadmap.

[2020-09-16 20:05] griegler commented on #2346
The problem is most likely due to the normals. You use `estimate_normals` to, well, estimate the normals, but they are not oriented towards the same direction. You can verify this by visualizing the normals of `voxel_down_pcd`. You can have a look [here](http://www.open3d.org/docs/release/python_api/open3d.geometry.PointCloud.html#open3d.geometry.PointCloud.orient_normals_to_align_with_direction)

[2020-09-16 21:44] hduonggithub commented on #2331
Any suggestion, please!

[2020-09-17 00:33] yxlao commented on #1968
We're working on ARM support for Open3D.

If we build with `BUILD_GUI=OFF`, https://github.com/intel-isl/Open3D/pull/2205 should work. I recommend `apt-get install -y gfortran libblas-dev liblapack-dev liblapacke-dev` to avoid compiling OpenBLAS from source.

If you need `BUILD_GUI=ON`, currently Filament does not have official ARM support. We are testing a ARM patch for filament, please stay tune

[2020-09-17 01:50] Salingo commented on #834
Same issue, following

[2020-09-17 06:26] Zumbalamambo commented on #1968
@yxlao kindly please provide us the conda or pip package manager for the future 0.11 release. Installing filament is just not possible with ease. It'll save us a lot of time.

[2020-09-17 06:55] griegler commented on #2345
There seems to be a problem with how the view of the visualizer is set in this case. If I change the boxes to

[code]

the view is still not centered, but I can see (by moving in the visualizer) that all line sets are drawn.
@yxlao @errissa @prewettg do you have an idea were this problem might be?

[2020-09-17 06:58] griegler commented on #2338
It depends on you transformation. `T` in the example snippet assumes that `T = [R | t] # 4x4 with last row (0,0,0,1)` where `R` is the rotation from world coordinate system to camera coordinate system and `t` is the translation from wcs to ccs.

[2020-09-17 07:04] griegler commented on #2344
The method `RemoveStatisticalOutlier` (https://github.com/intel-isl/Open3D/blob/master/cpp/open3d/geometry/PointCloud.cpp#L482) is deterministic itself. However, it uses a `KDTreeFlann` for the nearest neighbor search. I assume that this explains the non-deterministic behavior. @yxlao @benjaminum do you know something more about this?

[2020-09-17 14:25] hduonggithub commented on #999
Thanks @MaxChanger. It works now.

My 2nd question is it possible to have each viewport window with interaction features like **draw_geometries_with_editing**

[2020-09-18 00:12] cygann commented on #2342
@prewettg The video card being used is an Intel® UHD Graphics (Comet Lake 3x8 GT2), and the driver is i915. I don't have any other video cards to test with unfortunately. How would you recommend trying to update to a newer driver (I haven't done this before)? The monitor resolution is 1920 x 1080 with scaling at 100%.

@germanros1987 I built the Open3D app and it works wonderfully, no blackout iss

[2020-09-18 01:47] MaxChanger commented on #999
@hduonggithub  It doesn't seem to be working properly. It can normally display like a `Visualizer()`, but only seems to show one geometry (`Visualizer()` can add multiple geometries in list), and I cannot edit it, a segfault occurs when I try to select a point, like this
[code]
Do you have any test results?

[2020-09-18 03:30] hduonggithub commented on #999
@MaxChanger I could display multiple windows and pick up a point but could not edit or even draw a polygon.

[2020-09-18 08:31] Andyjk1406 commented on #331
Hi

This problem still happens on 64 bit windows. I'm running the C++ version, not Python.
Intermittent visualizer crashes which abort the program.

I have added
public:
	EIGEN_MAKE_ALIGNED_OPERATOR_NEW

into the ViewControl class but the problem persists.

In RelWithDebug it shows it stops on the call to DrawGeometries with:

Unhandled exception at 0x00007FFE42C33B29 in Register_Clouds.exe: Micro

[2020-09-18 11:52] MaxChanger commented on #999
@hduonggithub Hello，the version I used was 0.9.0, some test results and code are as follows, I guess yours is 0.10.0 ?

It's worth noting that I can't pick a point, but you can.

[Yes] F : Enter freeview mode.
[Yes] X : Enter orthogonal view along X axis, press again to flip.
[Yes] Y : Enter orthogonal view along Y axis, press again to flip.
[Yes] Z : Enter orthogonal view along Z axis, press agai

[2020-09-18 12:08] shakasaki commented on #2346
Hello @griegler and thank you for the response. Indeed, the problem seems to be due to the normals. I attach a screenshot of the normals computed on the given geometry (with the point cloud at full volume of 10cm spacing, and also scaled down to 2m spacing for visibility). Actually the full scale image does not look so bad (very hairy tunnel indeed but it seems like the normals face in the right d

[2020-09-18 14:10] hduonggithub commented on #999
@MaxChanger Yes, I use 0.10.0. I have the similar code, and got the same error (still can only pick one point and window closed immediately).

I did try to add 2 geometries to the same vis, but not able show with VisualizerWithEditing(), still can show with Visualizer() only.

I wonder why these features not available in Visualizer() only or o3d.visualization.draw_geometries(). They are very usefu

[2020-09-18 14:16] MaxChanger commented on #999
Indeed, after picking a point, it will be closed immediately, but the ID of the selected point will be shown in the terminal with the above errors. It seems that there is no difference between 0.9.0 and 0.10.0.

VisualizerWithEditing() can only add one geometry, I also found this problem, unfortunately, I did not find a solution.

I think one reason may be that if there are two geometries at the s

[2020-09-18 14:24] MaxChanger commented on #999
@hduonggithub  If you only want to display many point clouds and pick some points, can you concate the two point clouds together and spend some experience to save the number of each point cloud, and then distinguish it by the returned Point ID ?

But I think this is not the optimal solution, and it will not work for mesh.

In addition, displaying two windows at the same time seems to have some pro

[2020-09-18 15:08] FLS-BP-US opened #2353 "ImGui::SetNextWindowContentWidth does not exists"
**IMPORTANT: Please use the following template to report the bug.**
_____

**Describe the bug**
SetNextWindowContentWidth is not a member of ImGui.

**Environment (please complete the following information):**

- Operating system: Windows 10 64-bit
- Python version: 3.8
- Open3D version: 0.10.1
- Is this remote workstation?: no
- How did you install Open3D?: build from source
- Compiler version (i

[2020-09-18 15:10] hduonggithub commented on #999
@MaxChanger

Completely right.

I am looking for how to turn these features on Visualizer() only. Do you have any idea?
F : Enter freeview mode.
X : Enter orthogonal view along X axis, press again to flip.
Y : Enter orthogonal view along Y axis, press again to flip.
Z : Enter orthogonal view along Z axis, press again to flip.

[2020-09-18 16:40] griegler commented on #2346
`orient_normals_consistent_tangent_plane` is not available in `v0.10`, you will need to build open3d from source.
But your tunnel looks kinda straight, so you could compute the center of the tunnel and then orient all normals towards the center via `orient_normals_towards_camera_location`?

[2020-09-18 22:38] mattj23 commented on #1321
@griegler since I haven't contributed to this project before, would you be opposed to me submitting this in three separate PRs so that if there are style or structure changes I need to make I can learn and adjust as we go rather than flooding us both with a ton of code that needs to be reworked?

I have the line/ray intersections with the AABB's ready with documentation and testing which I can sub

[2020-09-19 01:32] yxlao commented on #1968
@Zumbalamambo yes we will have conda and pip package for x86, for arm it requires x86

[2020-09-19 01:50] prewettg commented on #2342
I have an Intel i655 and I can reproduce it in Python. My guess is that it is the same issue that I see on Windows with the app. I'm going to have to do some investigation, I don't really have any good theories at the moment.

[2020-09-19 04:46] MaxChanger commented on #999
`VisualizerWithEditing()` inherits from `Visualizer()`, and if you want to implement these features, you may need to modify its c++ code.

But I don't know if there's a conflict, so why don't they just provide it.

[2020-09-19 14:34] Matnay opened #2357 "Error: ‘tgeometry’ in namespace ‘open3d’ does not name a type"
**IMPORTANT: Please use the following template to report the bug.**
_____

**Describe the bug**
error: ‘tgeometry’ in namespace ‘open3d’ does not name a type. The error message is triggered when I try to use it as a function argument as shown below.
[code]

**To Reproduce**
Steps to reproduce the behavior:
Installation:

  - git clone --recursive https://github.com/intel-isl/Open3D
  - cd Open3D &

[2020-09-19 14:46] shakasaki commented on #2346
Yes that's an option but I think that still the normals should be pointing along a line, that runs through the tunnel.

[2020-09-19 15:55] whyygug commented on #2223
@griegler Hi, can you give some examples of how to project 3D points back to the image?

[2020-09-19 19:09] bumbastic commented on #2223
Hi, I get the images from an Kinect for Azure device. I have ground truth poses for each image. The object I want to scan, is in the forgrunden. The problem is that the object is closer to the device at min. Y positions and further away at max. Y positions. The same goes for the background that I want to filter away. Simply truncating at a general max. depth is not working well in my case. simple

[2020-09-19 23:25] Guptajakala commented on #1633
this problem still exists.

[2020-09-20 03:33] masynthetic commented on #2061
Can confirm my very fresh install works after changing all instances of
[code]
in the ReconstructionSystem folder to

[code]

and removed all instances of usage of

[code]
(at least 45 of them across all files)

[2020-09-20 18:06] ghost opened #2359 "Downsample to a certain number of points from a point cloud."
Currently, I think there is an option to voxel down sample by a certain decimal, but not  an option to downsample to a certain number of points. I think this would be useful for creating point cloud datasets, all with the same number of points.

[2020-09-20 18:28] Fred3D-tech commented on #1968
Conda does not exist on Jetson...

On Sat, Sep 19, 2020 at 3:32 AM Yixing Lao <notifications@github.com> wrote:

[2020-09-20 18:52] Zumbalamambo commented on #1968
@Fred3D-tech you could use Archiconda  on Jetson. Conda forge has got some libraries that can be installed on Jetson using Archiconda.

[2020-09-20 19:17] Fred3D-tech commented on #1968
Does it work with open3d? I don't think so.

On Sun, Sep 20, 2020 at 8:52 PM Zumbalamambo <notifications@github.com>
wrote:

[2020-09-20 19:27] Zumbalamambo commented on #1968
@Fred3D-tech currently open3d do not have conda build

[2020-09-20 19:35] Fred3D-tech commented on #1968
False.. they have a conda build but not working with  Archiconda.

On Sun, Sep 20, 2020 at 9:27 PM Zumbalamambo <notifications@github.com>
wrote:

[2020-09-20 20:21] Zumbalamambo commented on #1968
@Fred3D-tech Having a conda built-in and itself is not sufficient. A package must have `aarch64` build for being able to use it with reference  to Jetson as the platform code for Jetson is  `aarch64` .

[2020-09-20 22:27] yurivict opened #2360 "No source tarball on the PyPI website for 0.7.0.0"
https://pypi.org/project/open3d-python/#files

[2020-09-21 04:45] MBrandt-NASA commented on #1235
Exciting to see this VR feature added as a milestone!  Very cool would be Python support (like the PyOpenVR mentioned above).  Tho' C++ is nice, for me it's the Python point cloud support of Open3D that is especially useful!!

[2020-09-21 04:45] MBrandt-NASA commented on #1235
Exciting to see this VR feature added as a milestone!  Very cool would be Python support (like the PyOpenVR mentioned above).  Tho' C++ is nice, for me it's the Python point cloud support of Open3D that is especially useful!!

[2020-09-21 04:46] MBrandt-NASA commented on #1235
Exciting to see this VR feature added as a milestone!  Very cool would be Python support (like the PyOpenVR mentioned above).  Tho' C++ is nice, for me it's the Python point cloud support of Open3D that is especially useful!!

[2020-09-21 06:26] griegler commented on #2346
Note that `orient_normals_towards_camera_location` does not bend the normals such that they point towards the camera center, but just flip the sign if they point away. The code is [here](https://github.com/intel-isl/Open3D/blob/master/cpp/open3d/geometry/EstimateNormals.cpp#L369).

[2020-09-21 06:30] griegler commented on #2359
Voxel down sampling to a certain number of points is tricky. What I could imagine is Poisson sampling. Could you describe your use case?

[2020-09-21 07:27] griegler commented on #1321
@mattj23 We can discuss architectural details 1:1 on our discord channel if you want.

[2020-09-21 07:41] griegler commented on #2223
@whyygug you need your camera parameters. If we assume focal length `f` and principal point `[px, py]` as your params, then you can create the intrinsic matrix `K = np.array([(f, 0, px), (0, f, py), (0,0,1)])`. Given your 3D points `xyz = np.asarray(pcd.points)`, you can project them by `uvd = xyz @ K.T` and the image positions are given by `uvd[:,0] / uvd[:,2]` and `uvd[:,1] / uvd[:,2]`.

[2020-09-21 07:42] griegler commented on #2223
@theNded do you have an idea that could help @bumbastic ?

[2020-09-21 08:40] bumbastic commented on #2223
Hi, thanks. I think I know what you are saying. filter in undestortion loop, thru all pixels. I was hoping for something like depth_image.magic. SetXYZBounds(...,...,...,...,...).

[2020-09-21 11:40] mattj23 commented on #1321
That would be helpful, what timezone are you in?

[2020-09-21 12:43] griegler commented on #1321
@mattj23 CEST

[2020-09-21 15:25] itisyeetimetoday commented on #2359
Sorry if I worded this badly, but I meant taken a point cloud(not voxel) with n-points, and sampling every x point until only z points are left, then creating a new point cloud.

[2020-09-21 19:13] meder411 opened #2362 "pip install open3d doesn't work without additional system dependencies"
**IMPORTANT: Please use the following template to report the bug.**
_____

**Describe the bug**
Most likely just a documentation issue, but simply running `pip3 install open3d` [as described in the docs](http://www.open3d.org/docs/release/getting_started.html#pip-pypi) does not work. You still need `libgl1-mesa-glx` installed.

Running in a docker container gives this output:

[code]

**To Reprodu

[2020-09-21 19:47] meder411 commented on #897
Which release is that? I'm still getting this issue with version 0.10 as installed via `pip`. Would a source install resolve this for me?

[2020-09-22 00:21] TimZaman commented on #659
The tutorial just looks wrong at http://www.open3d.org/docs/release/tutorial/Basic/jupyter.html

Which states `from open3d import JVisualizer` while for me only this works: `from open3d.j_visualizer import JVisualizer`

[2020-09-22 02:29] meder411 commented on #1129
I have this same error currently, actually. I am running inside a docker container. X forwarding is set up, it seems—I’ve tested it with the `xeyes` application. Is there any clear resolution?

[2020-09-22 07:02] benjaminum commented on #1321
Hi @mattj23, I am also interested in this feature. Do you have a specific use case or application in mind with the new class or data structures? (single ray or batch of rays, inside outside test, etc?)
What do you think of using something like https://www.embree.org/ ?
Sry, for the many questions.

[2020-09-22 07:11] griegler commented on #659
@yxlao can you confirm

[2020-09-22 07:13] griegler commented on #2359
Did you have a look at http://www.open3d.org/docs/release/python_api/open3d.geometry.PointCloud.html#open3d.geometry.PointCloud.uniform_down_sample ?
That said, it might also be interesting to bring Poisson sampling to the `PointCloud`.

[2020-09-22 07:16] AndreV84 commented on #2134
@nanotuxi by some reason it appears that for python the package builds wth name open3d_pybind, that couldn't be imported as open3d but as open3d_pybind:
lib/RelWithDebInfo/Python/open3d_pybind.cpython-36m-aarch64-linux-gnu.so
Thus question how to build pythin wheel for open3d with your proposed approach?
Thanks

[2020-09-22 07:23] AndreV84 commented on #2134
`/o3d/git_src/Open3D/theNded/Open3D/build$ make install-pip-package
[ 70%] Built target EncodeShader
[ 70%] Built target ShaderFileTarget
[ 70%] Built target 3rdparty_tinyfiledialogs
[ 70%] Built target 3rdparty_lzf
[ 70%] Built target 3rdparty_jsoncpp
[ 70%] Built target 3rdparty_rply
[ 70%] Built target 3rdparty_qhull_r
[ 70%] Built target 3rdparty_qhullcpp
[ 70%] Built target Visualization
[ 70

[2020-09-22 08:36] ForceFaction commented on #2360
This is also for the 0.10.0.1 release.

[2020-09-22 08:54] 1939938853 opened #2365 "Is it possible to use marching cubes mesh extraction for xyz point cloud?"
Hi,

Instead of [RGBD](http://www.open3d.org/docs/release/tutorial/Advanced/rgbd_integration.html), just wonder it is possible to use marching cubes mesh extraction for xyz point cloud?

Thanks