[2018-05-11 05:07] syncle commented on #225
Addressed in #343.

[2018-05-11 05:07] #225 closed

[2018-05-11 07:34] ShikiGami commented on #345
I actually used the `make_fragments.py` script for this, which has this code lines, and I saw the JSON files for the fragments, and the format including the edges seem to be ok.

[2018-05-11 12:48] wxt-github commented on #346
Thank you for your reply,but is this command you are referring to as incomplete, shouldn't the **.sh file be preceded by "./"? Because I ran this command but suggested that there was no such file or directory, so the command I run is "sh ~/Open3D/util/scripts/install-deps-ubuntu.sh". @takanokage

[2018-05-11 16:01] syncle commented on #346
Good, @wxt-github pointed typos in Open3D documentation. @wxt-github, can you try making a pull request? You can participate Open3D development! You can fork, make a new branch with your favorite name, replace ``util/scripts/...`` with ``./util/scripts/...`` in https://github.com/IntelVCL/Open3D/blob/master/docs/getting_started.rst, and make a pull request. :)

[2018-05-11 16:05] syncle commented on #345
Got it. That means there is something went wrong I have not seen before. Can you share your pose graph as a json format? I will have a look.

[2018-05-11 16:12] takanokage commented on #346
The documentation doesn't need changing. It was written with the awareness that the user will know how to run a bash script and how to navigate the filesystem on Ubuntu.

@wxt-github As you observed one way to run the script is to prefix with the `sh` command. However the scripts in question have been marked as executables and you can also run them as `./install-deps-ubuntu.sh` after you `cd <Open

[2018-05-12 03:48] qianyizh commented on #231
@syncle can you buy a DS5 sensor and try it out? I also want to buy a sensor for myself to play around. But I am burning my personal funds, so would rather be a bit careful, 😄

[2018-05-12 05:43] Sahloul commented on #321
This is Hamdi Sahloul. Although I considered withdrawing from the "Open-3D" https://github.com/Open-3D/Open3D/ and http://www.open-3d.org/ after all the pressure you have applied on various people around me, it seems not enough for you.

Despite that I did my best to ensure that none of your complains are still there way before withdrawing, which includes:
- Proper attribution
  - Clear indication

[2018-05-13 06:33] ShikiGami commented on #345
https://1drv.ms/f/s!Av77bpChcuS6gcNSdmS6vnSepwZKKQ

This folder contains all the images and fragments I was able to create with the `make_fragments.py` tool.

[2018-05-14 01:57] jingxa commented on #347
@syncle  @qianyizh  yes, thanks , i am late , i mean that Tji* is right, but "Tij" is wrong??

[2018-05-14 06:09] qianyizh commented on #347
Yes you are right. That is a typo, :)

[2018-05-15 08:32] channingxiao opened #352 "create_point_cloud_from_rgbd_image failed"
I use "create_point_cloud_from_rgbd_image(rgbd_image, PinholeCameraIntrinsic.get_prime_sense_default())"  to create cloud point from RGBD data, and I got the following error.
Traceback (most recent call last):
  File "rgbd_redwood.py", line 25, in <module>
    PinholeCameraIntrinsic.get_prime_sense_default())
TypeError: unbound method get_prime_sense_default() must be called with PinholeCameraIntr

[2018-05-15 09:56] channingxiao commented on #352
I workout with    pcd = create_point_cloud_from_rgbd_image(rgbd_image,
            PinholeCameraIntrinsic(640, 480, 525.0, 525.0, 319.5, 239.5)).
 Then here I got another problem, the cloud points are in gray, which I think should be colored.
Change "create_point_cloud_from_rgbd_image(rgbd_image, PinholeCameraIntrinsic.get_prime_sense_default())" to "create_point_cloud_from_rgbd_image(rgbd_image,

[2018-05-15 20:29] syncle commented on #352
I found why this happens. It happens Python 2.7, not 3.6. In Python 2.7, returned class ``PinholeCameraIntrinsic`` is not a class instance. I pushed a new PR for fixing this issue.

[2018-05-16 02:35] channingxiao opened #354 "Does the lib support "registration to a template" ?"
I am new to the geometry, as what I understand about the registration, it does the following things, correct me if i am wrong.
For a source point set  S( X1, X2, X3, X4, ..., Xn) and target point set T(Y1, Y2, Y3, Y4, ..., Ym), the registration find some pairs between the source point set and the target point set  P( (Xi1, Yj1), (Xi2, Yj2) ..., (Xik, Yjk)),  Here k <= min(n,m), which means there m

[2018-05-16 07:42] #344 closed

[2018-05-16 07:46] qianyizh commented on #352
Good catch. I didn't know Python2.7 and Python3.x can have different behaviors on this.

[2018-05-16 07:46] #352 closed

[2018-05-16 18:10] syncle commented on #287
Update: the dataset released on http://redwood-data.org/indoor_lidar_rgbd/download.html were raw color and depth frames, and it was not synchronized. Direct applying those raw frames to reconstruction system induce severe distortion. At this point, users got confused. I had updated the dataset. This resolves **there is a weird behavior when building a fragment.**

[2018-05-16 18:46] serdadoe opened #357 "Problem Installing open3d in Windows"
Hi everyone...
I have followed installation guide from [getting started page here](http://www.open3d.org/docs/getting_started.html)

Here is the results of Cmake configure (I use Visual Studio 14 2015 Win64)
[code]

And here is the build result use VS2015. I only got 17 succeeded with 31 failed
[code]

I cannot find **py3d.cp35-win_amd64.pyd** file
And based on [getting started page ](http://www.o

[2018-05-17 02:28] channingxiao commented on #354
You can build your own matching pipeline. The tutorials provides pairwise registration examples you can use. Depending on your data structure, you can extend it for your need. For example

for Ti in T:
   for Si in S:
      pairwise alignment between Ti and Si using global + local registration
      # http://open3d.org/docs/tutorial/Advanced/global_registration.html
      keep only the best alignm

[2018-05-17 02:52] syncle commented on #354
That is the part need to be designed :) I just suggested full matching between scenes and templates using pairwise matching module. Consider making a confusion matrix, and apply some algorithm that can pick the templates. I think some dynamic programming can be applied for this problem.

[2018-05-17 03:43] longchao343 opened #359 "Registering challenging point clouds & random number generation"
Hi, I use Open3D RegistrationRANSACBasedOnFeatureMatching and FastGlobalRegistration api on my c++ project, but I found the results are not that stable. I also test the data using Open3D TestRegistrationRANSAC.cpp, the results are also bad. But when I test the data using python scripts,the results are stable and correct. Can you help me out? Thanks

[2018-05-17 03:46] longchao343 commented on #359
Seems in openmp environment, open3D would also perform bad.

[2018-05-17 05:08] syncle commented on #359
I think some parameters for registration was not correctly set. For the registration, it is required to go through some pre-processing. Consider mimic parameters (or use the same relative ratios of downsampling, search radius for normal estimation, feature extraction, and RANSAC) as shown in the python tutorial.

[2018-05-17 05:31] syncle opened #360 "Simplifying registration parameters"
In our python tutorial and c++ examples, there are many parameters required for registration application. We need to reduce the parameters in our examples for better readablity and usability.

I think in the ideal case, the user only specifies voxel downsampling radius, and the rest of the script/code uses relative values for normal estimation, feature extraction, and registration and so on.

[2018-05-17 05:36] longchao343 commented on #359
Hi, syncle, I use the parameters just as the python scripts use. Here are my results:
![_023](https://user-images.githubusercontent.com/9880417/40158456-3b4ee0ac-59d7-11e8-9684-b9862da922a6.png)
![_024](https://user-images.githubusercontent.com/9880417/40158457-3b9c0bde-59d7-11e8-981a-0be0036dda35.png)

[2018-05-17 05:40] longchao343 commented on #359
And here is my usage of global registation
`void RelativePoseIcpSolver::FPFHRoughPoseSolver(three::PointCloud& cloud0,three::PointCloud& cloud1,
                         const Eigen::Matrix4d& init_pose,Eigen::Matrix4d& rela_pose,
                         double& time,bool& converged,double& fitness_score,bool bCalcu_normal,bool buse_fast_reg)
{
    pcl::console::TicToc timer;
    timer.tic();

[2018-05-17 05:40] longchao343 commented on #359
Here is my usage:
`void RelativePoseIcpSolver::FPFHRoughPoseSolver(three::PointCloud& cloud0,three::PointCloud& cloud1,
                         const Eigen::Matrix4d& init_pose,Eigen::Matrix4d& rela_pose,
                         double& time,bool& converged,double& fitness_score,bool bCalcu_normal,bool buse_fast_reg)
{
    pcl::console::TicToc timer;
    timer.tic();
    //since pcl sac-ia imple

[2018-05-17 05:44] longchao343 commented on #359
And here is my code snap:
![_025](https://user-images.githubusercontent.com/9880417/40158674-5915963e-59d8-11e8-91e2-b900dc3ec516.png)

[2018-05-17 06:07] syncle commented on #359
WOW, this is a lot amount of texts to review.

I was able to find something suspicious from your result:
[code]
or
[code]

Which means RANSAC iteration could not find enough numbers of valid candidate that satisfies criteria you set such as ``CorrespondenceCheckerBasedOnEdgeLength`` or ``CorrespondenceCheckerBasedOnDistance``. This means the issue comes from early stage: local feature matching.

S

[2018-05-17 06:41] longchao343 commented on #359
Thanks for your kind help. I have pre-process the point cloud, so there would be no distortion or noticible noise. I felt confused because I test a couple of clouds many times,it gives me good results, but when I test the pairs with others, the results becomes bad.  I have also test FastGlobalRegistration, single run the test will give very good results. But when test all cloud pairs, the results

[2018-05-17 07:44] syncle commented on #359
The point cloud pair you shared looks fine at a first glance.  However, it does not have enough overlapping area having distinguished topologies. Specifically, only small part of planar scenes (walls and floor) overlaps in this case. Local feature extracted from the planar scene is not very useful because there are too many false alarm. That's why local feature struggles.

Open3D does not have a m

[2018-05-17 08:29] longchao343 commented on #359
It seems that the python scripts' results depends on the compilation. I re-compile the lib , python scripts always failed this time.

[2018-05-17 15:46] serdadoe commented on #357
Done. I retried using VS2017 ang got 47 succeeded.
And how can I import open3d to Anaconda?

[2018-05-17 17:56] syncle commented on #357
Great. If you build a project using INSTALL option, you don't have to explicitly copy python module to the system path.
![image](https://user-images.githubusercontent.com/18297113/40194672-1ba7156a-59c0-11e8-858c-61eba5f60086.png)

If you are on the anaconda environment with the same python version used for open3d build, you can simply begin with
[code]

[2018-05-18 03:11] longchao343 commented on #359
Well, I mean each time I compiled the Open3D lib, and run the same dataset, python scripts would give me either all good or all bad results. Very werid.
I have tested to increase the voxel grid size to increase the search radius as you mentioned. RegistrationRANSACBasedOnFeatureMatching method improved a lot :). I have also tested the FastGlobalRegistration, with the same voxel grid size, the resu

[2018-05-18 03:31] syncle commented on #359
Maybe some randomness may affect the result. I don't think this is just because of compilation condition. However, as you are concerning, there might be some bug in the code regarding the random seed generation. If it is true and actually happening depending on specific environment, we need to find out. Can you tell me your environment? We can also work together for this :)

RegistrationRANSACBase

[2018-05-18 03:48] longchao343 commented on #359
I use Open3D in ubuntu 16.04 ,and I will begin to learn and read Open3D's code.

[2018-05-18 07:25] longchao343 commented on #359
Hi @syncle, I have read the code of RegistrationRANSACBasedOnFeatureMatching, is it a problem in using rand() in ransac? since rand give a number between 0~32757, a large cloud may easily bigger than 3257. I used unifrom_in_distribution to uniform sample the points, but the api returned bad results.

[2018-05-18 08:16] syncle commented on #359
That is really a problem if RAND_MAX is 32757. However, I don't think that is the case for 32bit integer systems. Can you check RAND_MAX? RAND_MAX should be 2147483647, which is the maximum number of 32-bit integer.

[2018-05-18 08:52] longchao343 commented on #359
Yes, you are right. I have a question,in ransac process, is it needed to ensure every-time ransac generate different distribution of sample when I use the registration api?  Because I found when I disable srand, the results becomes much stable and correct.

[2018-05-18 16:35] serdadoe commented on #357
Solved :) thank you!!

And one more question, every time I use `draw_geometries` syntax, I have to close the display windows to continue the program. Is it possible to display multiple windows in the same time?

[2018-05-18 16:49] syncle commented on #357
That's great. Now you are ready to enjoy Open3D!

The closest answer I can give you is using non-blocking rendering. You can update your geometry and refresh frame while not blocked by rendering loop. Please check this tutorial: http://open3d.org/docs/tutorial/Advanced/non_blocking_visualization.html

Opening multiple windows is technically possible. However, I haven't made good tutorial yet. I wi

[2018-05-18 16:52] syncle commented on #359
That's good point. According to http://en.cppreference.com/w/cpp/numeric/random/rand, it says

As Open3D uses C++11, I think there is no reason not to use the new C++11 implementation. Can you remove ``srand()`` and ``rand()``, try this example, and tell me how it looks like? This fix will be great commit. I will try this too with [redwood benchmark dataset](http://redwood-data.org/indoor/dataset.

[2018-05-19 12:04] longchao343 commented on #359
Actually, I have used uniform distribution for ransac process, mt19337 also be a good choice.It works great for me, no randomness happened. I will continue to read the fast global registration paper and code. Shoud it be `std::uniform_real_distribution<int> uniform_dist(0, (int)source.points_.size()-1);`  here?

[2018-05-20 19:13] syncle commented on #359
Correct! I confused with ``uniform_real_distribution``. I am actually using
[code]
to use ``uniform_dist`` for multiple purpose.

[2018-05-21 09:51] fferroni opened #361 "Question"
Hello,

I am trying to use orient_normals_to_align_with_direction when doing the point normal estimation. However, I have not figured out how to use it. There is no documentation on this.

[2018-05-21 09:55] #361 closed

[2018-05-21 16:02] jb455 opened #362 "Python tutorial scripts not giving expected results"
Hi,
I'm interested in testing the registration algorithms you have implemented/developed with a view to port or wrap them for my own C# app which uses RealSense (D400) cameras to obtain point cloud data.

I've compiled from source (using Win10, CMake 3.10, VS2017 x64) and am trying to run some of the scripts at \src\Python\Tutorial\Advanced ([fast_]global_registration and colored_pointcloud_regist

[2018-05-21 22:28] syncle commented on #362
I got following results:
Point-to-point ICP
<img width="1072" alt="screen shot 2018-05-21 at 3 19 49 pm" src="https://user-images.githubusercontent.com/18297113/40332873-99169fa0-5d0a-11e8-851c-66c48980ee79.png">
Point-to-plane ICP
<img width="1072" alt="screen shot 2018-05-21 at 3 20 00 pm" src="https://user-images.githubusercontent.com/18297113/40332874-992fb2f6-5d0a-11e8-863c-225c256cc649.png">

[2018-05-22 07:37] SubMishMar opened #363 "Result of pose graph optimization same as the input pose graph"
I am trying to use the open3d implementation of posegraph optimization for optimizing the poses of the Manhattan g2o format dataset. But due to some strange reason, the output of the optimization process is identically same to the input pose graph. Can anyone tell me why is it so?

Here is the code:

[code]
`

[2018-05-22 08:42] syncle commented on #363
Can you share input_M3500_g2o.txt too? I will have a look.

[2018-05-22 09:16] jingxa opened #364 "Pose Graph issue"
In multiway registraion:[code](http://www.open3d.org/docs/tutorial/Advanced/multiway_registration.html)
[code]
the graph builds one to many edges of one pose;
but i have a question :

so  the code that `loop in loop ` is surplus? i think building graph just needs a loop;

---
And, another question , sir ,

i test some models like standford bunny and buddha ,by using  harries keypoints ,FPFH and ND

[2018-05-22 09:29] syncle commented on #364
Multiway registration requires dense matching to detect loop closure.

Rule of thumb from my experience is 1:2:5 for voxel downsampling, normal estimation, and FPFH radius. I don't have much experience on other features.

[2018-05-22 09:42] syncle commented on #363
Infomation matrix should not have zero diagonal element. Otherwise, it will produce zero residual.
Replacing
[code]
this with
[code]
will minimize graph energy. I got this
[code]

A few notes:
- I am not sure how this file fills out information matrix. Filling only info[0][0], info[1][1], and info[5][5] looks bit unfamiliar to me
- Single iteration took very long. Open3d uses Eigen implementation

[2018-05-22 10:55] jb455 commented on #362
Ok, thanks. My values were in mm so after dividing them all by 1000 it's working better now, though I'm not getting as good results as you are. Do you have any advice on how to choose the parameters like voxel size? I'm guessing it should be a function of point density so it would depend on each individual cloud rather than being a hard coded value. Would you mind sharing your code for getting the

[2018-05-22 11:18] longchao343 commented on #359
Well, uniform_real_distribution accepts float,double, and it stands for [range0,range1). uniform_int_distribution accept integer, and it stands for [range0,range1]

[2018-05-22 11:52] jingxa commented on #364
@syncle  yeah ,thanks ! sir!

[2018-05-22 15:42] SubMishMar commented on #363
@syncle , yes thats the right link to the dataset I am using.

[2018-05-22 17:49] SubMishMar commented on #363
@syncle Which part do you think is the major bottle neck? is it

[code]
or
[code]

[2018-05-22 18:15] syncle commented on #363
You're right. It does not use this function. The only bottleneck is ``Eigen::VectorXd delta = H.ldlt().solve(b);`` I am looking your description about information matrix.

[2018-05-22 18:29] samarth-robo opened #365 "Focal length is not used in rendering"
I adapted the `headless_rendering.py` example and created this code to render a 3D mesh given the camera intrinsics and extrinsics:
[code]
The rendering looks OK:
![screenshot from 2018-05-22 11-28-03](https://user-images.githubusercontent.com/2848070/40382409-3f7dbb14-5db3-11e8-92cd-6e15878d2747.png)

However, it does not change at all when I change the `focal_length` variable. I would like to ch

[2018-05-22 18:39] samarth-robo commented on #365
Realized that the field of view (the parameter that focal length affects) is getting clipped between some min and max values. Changing the focal length to be in the range of ~ 700 starts showing the effect on field of view. So this issue is closed.

[2018-05-22 18:39] #365 closed

[2018-05-22 18:40] syncle commented on #365
Thanks @samarth-robo for sharing your experience!

[2018-05-22 18:59] syncle commented on #363
I think nodes are fine, but filling information matrix need to be carefully considered to use g2o compatible dataset in open3d.

Open3D's Pose graph optimization follows the definition of information matrix described in here: http://redwood-data.org/indoor/registration.html (please see Eq 8) The key idea is to embed point to point distance into an information matrix.

[2018-05-22 19:05] SubMishMar commented on #363
I will check it out, thanks.

So, you say that there is some difference between the way information matrices are defined for g2o and open3d?

[2018-05-22 19:21] syncle commented on #362
Here is a script I used (maybe not the same as in my previous explanation as I played a bit more)

[code]

Few points:
- I rescaled geometry it with 100 to re-use scale parameters in the original script.
- I computed point cloud normal prior to using it.
- check that colored ICP slides geometry to make color map consistent.

I cannot clearly answer for this as I am not fully understand the challen

[2018-05-22 20:19] takanokage opened #366 "handle build warnings"
The VS/Windows build shows a number of warnings:
- warning C4316, 20
- warning C4018, 25
- warning LNK4221, 4

All warnings need to be addressed.
Double check Linux and macOS.

[2018-05-22 20:44] takanokage commented on #366
yep, good catch.

[2018-05-22 20:56] syncle opened #367 "Large scale pose graph optimization"
Related to #363.

Open3D's built-in pose graph optimizer utilizes Eigen dense matrix solver, which is inefficient for large scale pose graph optimization. Here are todos:

- [x] Replace/improve linear matrix solver
- [x] Consider using Eigen/Dense for small matrix, Eigen/Sparse for large matrix
- [ ] Testing it with g2o dataset

Useful links:
g2o dataset: https://github.com/RainerKuemmerle/g2o/wik

[2018-05-22 21:38] samarth-robo commented on #340
Is there way to do this through Python code?

[2018-05-22 23:56] syncle commented on #363
That's awesome. I also found some related bug and submitted fix in #368. Another difference is that g2o uses quaternion for representing rotational components, whereas open3d uses linear coefficients for skew symmetric matrix, which is not exact rotation matrix.

Another thing is open3d builds information matrix ``\sum_q [-q_x | I ]^T * [-q_x | I ]``where q is not quatanion, it is from a correspon

[2018-05-23 00:15] SubMishMar commented on #363
"whereas open3d uses linear coefficients for skew symmetric matrix, which is not exact rotation matrix"

What do you mean by this?

[2018-05-23 00:29] syncle commented on #363
Yes. Please see this
https://github.com/IntelVCL/Open3D/blob/355fdf0352ab99dfeff4cce5a23e365cf153fbaf/src/Core/Registration/GlobalOptimization.cpp#L42-L50

[2018-05-23 00:41] shaisegev opened #369 "Python pip install does not contain all the options"
I use pip install to install the environment.
I can import open3d but I can't import all the rest (read_point_cloud, point_cloud...). can you please update the pip install process?
BTW, awesome work!!!

[2018-05-23 04:53] shomedas opened #370 "unable to find py3d even after setting DPYTHON_EXECUTABLE"
I have installed open3d on ubuntu 16.04 using the specified method. However I am not able to import several modules as listed below:
global_registration, fast_global_registration, trajectory_io, register_fragments, optimize_posegraph, opencv_pose_estimation

Basic sanity check works fine:
import open3d

My platform ubuntu 16.04, 64bit, python 3.5

[2018-05-23 05:26] syncle commented on #369
Thanks! I think @takanokage can give best answer for this.

[2018-05-23 05:59] shomedas commented on #370
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
ImportError: No module named 'global_registration'

I had not installed matplotlib and opencv-python. Could that cause this kind of problem?
I tried to use the command from install-deps-python.sh:
python3.5 -m pip install --user numpy matplotlib opencv-python. But it gave error: PermissionError: [Errno 13] Permission denied:

[2018-05-23 14:38] shawnshuailin opened #371 "How to determine the parameters used for correspondence searching?"
In the program for colored point cloud registration, the parameters used for voxel downsampling and correspondence searching should be relevant to point cloud resolution, how to determine these parameters? Thanks!

[2018-05-23 15:38] shaisegev commented on #369
Hi @takanokage, Do you know what the problem is?

[2018-05-23 16:20] qianyizh commented on #369
Which package have you installed via pip?
I think the current correct one is:
[code]
The open3d name however is hijacked by someone else and we are in the process trying to get it back.

[2018-05-23 16:25] takanokage commented on #369
yep, I can confirm that there's a problem with the pip package.
I'm going to work on a fix right away.

Thanks for reporting!

[2018-05-23 16:31] qianyizh commented on #366
The OSX warnings see #295 for additional information.

[2018-05-23 16:34] qianyizh commented on #370
I think your build is successful already.
You have run pass:
[code]
The next check point would be:
[code]
Or even:
[code]

[2018-05-23 16:36] SubMishMar commented on #363
@syncle, I was wondering if we can provide any arbitrary information matrix (ofcourse it must be valid information matrix, satisfying all basic properties) to the pose graph optimization algorithm in open3d or it should necessarily be generated from one of the various open3d functions which return the information matrix for eg `get_information_matrix_from_point_clouds()` or

[2018-05-23 16:39] shomedas commented on #370
How do I import py3d. Do I have to install it using  pip install py3d as given in [](https://pypi.org/project/py3d/#files)

There was no py3d.cpython-35m-x86_64-linux-gnu.so or py3d.so in my build folder. Only libs are
libjsoncpp.a, libCore.a, libtinyfiledialogs.a, libIO.a, libpng.a, libzlib.a, libVisualization.a and open3d.cpython-35m-x86_64-linux-gnu.so. This is after building with

[code]

[2018-05-23 16:58] takanokage commented on #370
`make install` will install the open3d python module to the right location, no need to `pip install...`.

after that:
`import open3d`

in the past we used to do:
`import py3d`

We've just rolled out a python module name change from `py3d` to `open3d`. With the latest commits to master `import open3d`. With previous releases `import py3d`.

[2018-05-23 17:01] takanokage commented on #369
Are you comfortable with building from source?
This is the fastest way to get a working version out to you.

On my dev branch [issue_#130](https://github.com/takanokage/Open3D/tree/issue_%23130) this passes:
`from open3d import read_point_cloud`

In order to use this branch you need to checkout my branch, build from source and execute `make install`.

[2018-05-23 17:53] qianyizh commented on #371
TL;DR:  This is an empirical problem. We usually suggest correspondence search radius to be roughly 1x~2x voxel size used to down sample the target point cloud.

Long version:
This is an empirical problem. Sometimes the input point clouds are uneven. Sometimes the point clouds are too large. We first use ``voxel_down_sample()`` to make it (roughly) uniformly sampled at a controllable scale (a few

[2018-05-23 17:58] syncle commented on #371
This is very good. Thanks @qianyizh! I think in this way, we can automate parameter setting from the point cloud.

[2018-05-23 17:59] qianyizh commented on #363
Yes, I believe you can use any valid information matrix.

[2018-05-23 18:07] qianyizh commented on #360
Actually I think even the voxel size can be automatically computed. It is the similar idea as in #371

In this case we can create a ``point-and-shoot`` ICP registration algorithm. The only parameter would be a scale between 0 and 10, with 0 being the fastest but least accurate, and 10 being the most accurate but slowest, and -1 being the default (5, e.g.).

This would be really cool.

[2018-05-23 18:27] syncle commented on #340
Got it. Let me working on this request.

[2018-05-23 18:42] syncle commented on #359
You got it right. That is the part I had confused. I think
[code]
and
[code]
will produce the same behavior, but I wanted to use the second one as it can be used in other cases. For example, ``uniform_dist(engine) % 2`` to generate {0,1}

[2018-05-23 21:36] takanokage commented on #369
I uploaded a new revision to pypi.
Please try again:

[code]

[2018-05-24 01:20] SubMishMar commented on #363
While executing the reconstruction tutorial given in the open3d website on the 016 dataset I realized that the result of the final integration doesnt change if I use or dont use pose graph optimization. @syncle @qianyizh , can you please explain this? Is it because of the fact that the number of poses being optimized is pretty small?

[2018-05-24 02:22] channingxiao opened #372 "GLFW Error: GLX: No GLXFBConfigs returned when using Open3D together with tensorflow"
Hello, I was using Open3D together with tensorflow with GPU, and I to "GLFW Error: GLX: No GLXFBConfigs" when using draw_geometry([pc]) to show point cloud.

The point cloud can be showed normally before CNN model loaded, and the error was shown in the case where using draw_geometry after a CNN model was loaded.

[2018-05-24 02:56] channingxiao commented on #372
I found that If I used draw_geometries() before loading CNN models with tensorflow. Then everything is going to be normal, I can use draw_geometries() even after loading the model.

[2018-05-24 04:06] syncle commented on #363
We just merged a patch related to the information matrix. It will be needed to make a pose graph again. Or, It maybe just because the pose graph is much accurate than before. With the patched version, I observe the tutorial script takes just 3~5 times of LM iteration, while energy is reduced 20x smaller than the initial one.

[2018-05-24 04:10] syncle commented on #369
I am not very sure but based on the provided screenshot, open3d package was compiled with 32bit machine, while python version importing this package is 64bit.

[2018-05-24 04:31] shaisegev commented on #369
this one is for Linux
![image](https://user-images.githubusercontent.com/39540826/40464540-a5c6fa20-5ed0-11e8-8293-834d7dcb2339.png)

[2018-05-24 05:28] syncle commented on #372
This is interesting. My guess about the failure case is that tensorflow holds all graphical resources, and Open3D's GLFW is failed to retrieve any GPU resource. If ``draw_geometry`` called before tensorflow, open3d declare some GPU resource globally, and tensorflow does not take it. This guess is from the fact that tensorflow usually takes all GPU memories by default.

[2018-05-24 06:10] takanokage commented on #369
The Windows and the Linux errors are different.

On Linux it doesn't seem to find OpenGL. Please double check that you have installed all Open3D dependencies. Heres the [install-deps-ubuntu.sh](https://raw.githubusercontent.com/takanokage/Open3D/issue_%23130/util/scripts/install-deps-ubuntu.sh) from my [branch](https://github.com/takanokage/Open3D/tree/issue_%23130).

On Windows @syncle could be r

[2018-05-24 06:13] takanokage commented on #369
#130

[2018-05-24 16:12] shomedas commented on #370
ok. I will close the issue.

[2018-05-24 16:12] #370 closed

[2018-05-24 16:49] SubMishMar commented on #363
Interesting. The optimization works for sure, but the changes on the final integration is not prominently visible. Probably because the initial alignment algorithms work very well.

Besides, I replaced the ldlt thing by using sparse cholesky decomposition. Something like this:

[code]
So, now the manhattan dataset is processed pretty fast and it takes about 2 seconds per iteration (earlier it used

[2018-05-24 19:39] syncle commented on #363
WOW, this is really awesome. Thanks Subodh! You can submit your changes for the better Open3D :)

[2018-05-24 20:44] SubMishMar commented on #363
Okay, I will submit a PR later today. Thanks :)

[2018-05-25 02:07] shaisegev commented on #369
Ok.
In my case I need to use the open3d on server and I can't install other things using sudo (like openGL. I can install using pip install the python version of openGL, but I have checked and it's probably not enough).
In addition my server is Linux 64bit. Usually for other librarys I'm using pip install only.
My server is "temporary" server for testing that came empty (with OS only) for my tests

[2018-05-25 05:04] takanokage commented on #369
If you're building from my branch you can install without sudo.

You need to set the CMAKE_INSTALL_PREFIX cmake option:

cmake ...
-DCMAKE_INSTALL_PREFIX:PATH=~/open3d

This will configure the make install to copy the files to ~/open3d or any other path you choose.

[2018-05-25 17:25] ralphybbbaer opened #374 "Feature request: Python Binding: Numpy2Image"
I want to write a PointCloud-Viewer for a realsense camera in python.
What I am missing is a function for converting a numpy-array into an Image.

[2018-05-25 17:49] qianyizh commented on #374
``Image`` can be converted from/to a numpy array.
It is explained here:
http://www.open3d.org/docs/tutorial/Basic/rgbd_images/index.html

A code example:
[code]

The conversion supports ``uint8, uint16, or float`` with ``c_type`` storage (default numpy behavior), dim=2 (width*hight) or dim=3 (width*height*channel).

This is not obvious. @syncle  We should add it to the doc.

[2018-05-26 00:05] SubMishMar commented on #367
The first two points have been more or less addressed and is now in master. I would love to get some leads on how to use open3d for g2o data sets, like the manhattan and the cubicle datasets, etc.

[2018-05-26 06:32] serdadoe commented on #357
Great! Thank you...

How can I display multiple windows using `draw_geometries` or `visualization` ?

[2018-05-26 13:13] longchao343 commented on #359
Hi, syncle,Do you have suggestions of large scale or low overlap point clouds init registration? I have test Open3D on my matterpot datasets, the results was really bad.

[2018-05-28 15:46] shawnshuailin commented on #371
Thanks very much for your answer, @qianyizh ! I will have a try on my own data.

[2018-05-28 15:46] #371 closed

[2018-05-29 06:00] qianyizh commented on #357
In order to open multiple windows, you need to break into the rendering loop of the Visualizer. See this for details of the rendering loop:
http://www.open3d.org/docs/tutorial/Advanced/non_blocking_visualization.html

Something like:
[code]

[2018-05-29 06:08] qianyizh commented on #359
It is in general a very difficult problem for registration of low-overlapping point clouds. To make any generic global registration algorithms work well, it is usually suggested to have more than 30% overlapping. In practice, more overlapping scans and more redundant data usually always make the registration better.

If your scanning setup is highly constrained, there are other possible ways to ex

[2018-05-29 06:10] qianyizh commented on #367
Can anyone provide some sample files of the g2o dataset?

[2018-05-31 01:57] choyfung opened #375 "After registration, failing to write the resulting point cloud in XYZ format in C++ demo"
Hello,

I am trying to save the registered point clouds in `.xyz`or`.pcd` format in C++ demo, but I encountered an error. I know how to achieve this by calling Python function.

Specifically, I follow this example: `Open3D/src/Tools/ManuallyAlignPointCloud.cpp`, and I use the following codes to achieve this:
[code]
Error:
[code]

Can somebody help me?

Thanks  in advance.

[2018-05-31 07:09] adioshun opened #376 "is there any way to visualize a PCD on jupyter"
Thanks for your works.

It is so great and easy to use.

The visualization function `draw_geometries` is good to see the result.

However, I use a jupyter as an IDE tool.

Is there any way to see the result directly on the jupyter web-page using the `draw_geometries`.

Or could you recommend other ways?

Thanks again.

[2018-05-31 22:20] takanokage opened #377 "pip packaging: add support for 64bit Python on Windows"
At this time [open3d-python](https://pypi.org/project/open3d-python/) does not include binaries compiled for 64bit Python on Window 10.

This feature request was first mentioned in #369.
#369 has been addressed and should be closed.

[2018-05-31 22:21] takanokage commented on #369
This issue has been addressed and should be closed.

The request for adding 64bit Python support for Windows 10 has been registered as #377.

[2018-05-31 22:31] takanokage opened #378 "move TestData outside of the source tree"
Move `<Open3D Path>/src/Test/TestData` and update all the Python scripts, C++ code and documentation.

TestData could be placed instead at the same level with `src` like this:

- `<Open3D Path>/src/Test`
- `<Open3D Path>/TestData`

TestData is over 70MB of data only files and could grow in the future.

[2018-05-31 22:32] takanokage commented on #362
#378

[2018-06-01 00:05] Stantheman1985 commented on #362
I was never that big on computer programming, so I can't help you out. I
used to be a drug addict and had my mind messed up for a while, so I can
say this, if your computer problem, is like my life, then you realize that
you are so full of shit that you were thinking other people were talking to
you when they weren't. I am planning to go back to college though and I am
interested in learning C plu

[2018-06-01 00:20] takanokage commented on #362
@Stantheman1985 No worries. We're using the issues section of our project to track both bugs and feature requests and while we encourage people to help solve them we obviously can't and don't expect it.
Best of luck on your studies 👍.

[2018-06-02 06:48] amiltonwong commented on #376
Hi, @adioshun ,

I could execute the cell in jupyter notebook, on using draw_geometries(). The geometric output is displayed  at the prompted window. I don't think the embedded way is feasible, as it deals with the manipulation of the view in 3D.

[2018-06-03 13:54] longchao343 opened #380 "Hessian matrix seems wrong in fast global registration"
Hi,should hessian matrix be [[I ,-q^],[-q^,q^*q^]] when we do optimization?Bcz according to bch formula jacobian should be [I,-q^].

[2018-06-05 02:01] syncle commented on #375
It is not very clear to me how to reproduce the issue. Are you encounter the same issue when you open a point cloud and save it as a xyz file? The target path might be not existing.

[2018-06-05 02:12] syncle commented on #380
Can you share more specific explanation? Actually, Jacobian matrix used for FGR is [q_x|-I]. FYI,

https://github.com/IntelVCL/Open3D/blob/2323d4615637d202c442d6277cbfbb8b6018cfef/src/Core/Registration/FastGlobalRegistration.cpp#L282-L308

[2018-06-05 02:57] choyfung commented on #375
@syncle Thank you for your reply.

Yes, I had checked and found that this error is actually caused by the wrong path.

I had changed as follows and they are working:

[code]
Both `source_alignment.xyz` and `target_alignment.xyz` will be generated in which the corresponding executable file located.

Thank you @syncle

[2018-06-05 03:11] syncle commented on #375
Awesome! Closing this issue.

[2018-06-05 03:11] #375 closed

[2018-06-05 06:46] mayankamedhe commented on #220
@HTLife I am curious about how you intent to apply Open3D in SLAM. Actually, I wish to make a precise volumetric 3D map from the SLAM output. But, I am not getting any good resource online. Can you please tell me some good references?
Thanks in advance!

[2018-06-05 07:03] HTLife commented on #220
@mayankamedhe What format did your SLAM system output? (or what info. that map contains?)

[2018-06-05 07:57] longchao343 commented on #380
You are right, [I,-q^] and [q^,I ] are both right in jacobian. I have expanded the code here, and found that hessian here is [[-q^*q^, q^],[-q^,I]] . Shoud it be [[q^*q^, -q^],[-q^,I]] ? And I also found the transformation update,`aff_mat.linear() = (Eigen::Matrix3d) Eigen::AngleAxisd(result(2), Eigen::Vector3d::UnitZ())
            * Eigen::AngleAxisd(result(1), Eigen::Vector3d::UnitY())

[2018-06-05 09:18] mayankamedhe commented on #220
@HTLife I am using ORB-SLAM2. It is giving the camera trajectory and Keyframe trajectory as output. The trajectory information contains timestamp, x, y, z coordinates (position of the optical center of the color camera with respect to the world origin as defined by the motion capture system) and orientation of the optical center of the color camera in form of a unit quaternion with respect to the

[2018-06-05 16:48] SubMishMar commented on #363
This issue needs to be closed as the "Result of the pose graph optimization was same as the input" only because there were not enough loop closure edges added to the graph. Adding enough loop closure edges will give a different result (which may not always be the best).

But, the other issues mentioned in the above thread still needs to be solved.

[2018-06-05 16:48] #363 closed

[2018-06-05 19:44] syncle commented on #380
Oh, now I understand in which point we are not using the same language. q is not quaternion in the referred code snippet. q is xyz coordinate. The Jacobian formulation is based on linear approximate form of rotation matrix. Please refer Eq (7) in http://vladlen.info/papers/fast-global-registration.pdf.

[2018-06-05 21:30] syncle commented on #376
As a note, I found very interesting open source project https://github.com/daavoo/pyntcloud that visualizes geometry in Jupiter notebook using iframe. This is very close to what @adioshun asked.

[2018-06-05 22:19] #362 closed

[2018-06-05 22:27] #242 closed

[2018-06-05 22:32] #346 closed

[2018-06-05 22:35] #369 closed

[2018-06-05 22:39] #348 closed

[2018-06-06 01:54] longchao343 commented on #380
Well, I know q is xyz coordinate,I mean q^ is a antisymmetric matrix which is [[0 -qz qy ],[qz 0 -qx ],[-qy qx 0]]. And I think in the update step , we need to convert rotation vector into rotation matrix, I have test the conversion step of FGR and  compare the results with ceres solver's conversion api. The results are different.

[2018-06-06 03:08] HTLife commented on #220
@mayankamedhe Your data is sufficient to make a simple "point cloud map".   However, as you mention you want a volumetric map, you should handle the frame fusion algorithm and volumetric data structure by yourself.  It's easier to do so by reference some well known open source project.  Ex. Kinect fusion, [Kintinuous](https://github.com/mp3guy/Kintinuous).

I also found tum-vision team provide a t

[2018-06-06 04:48] mayankamedhe commented on #220
@HTLife Thanks a lot!

[2018-06-07 04:54] #340 closed

[2018-06-07 07:34] adioshun commented on #376
@syncle I aware the pyntcould. it's visualization function is so great. But, as I know, it support only PLY file. Does it support PCD file?

[2018-06-07 08:09] adioshun commented on #376
@amiltonwong  I am looking for a way to display it on Jupyter webpage for result screen sharing with my friends. thanks anyway.

[2018-06-07 09:04] bored-wolf opened #383 "Utilizing FPFH & Global Feature"
While using the compute FPFH features function, the computed feature vector has all zeros for each point, even after following the format of the documentation. Is there anything I might be doing wrong?

[2018-06-07 09:49] TheodoreT opened #384 "linking open3D Visualizer to a mex file"
Hi, I am trying to link the open3D lib to a mex script that I am implementing. I have compiled successfully the library and within my build directory, inside the lib/Release folder I have all the libs:

![image](https://user-images.githubusercontent.com/10189018/41091538-9cfe5a24-69fb-11e8-8146-36542776bd04.png)

Now I am trying to make a visualizer example but unfortunately I am getting some link

[2018-06-07 09:58] arrfou90 commented on #231
@yuyu2172 same issue here. I have tried with different scenes recorded using D345 but with no success so far ( with the D435 intrinsic parameters ). The resulted fragments (obtained by make_fragments.py) are not well aligned even before registering them. On public datasets it works fine.
Really strange!

[2018-06-07 10:36] amiltonwong commented on #231
@arrfou90 @yuyu2172 , would you share your recorded dataset captured by D435? We may test it and correct what's wrong with the reconstruction.

[2018-06-07 12:54] arrfou90 commented on #231
@amiltonwong  I have attached in the link  a recorded data with Intel realsense D435 (with D435 intrinsic parameters ) plus the results when using the Reconstruction tutorials.
https://drive.google.com/file/d/1cEe6m29lVsy9SYxFH97yPmFONDguf7KQ/view?usp=sharing

[2018-06-07 13:44] syncle commented on #383
I think there are two reasons:
- Please check your radius size used for feature description is correct. If the radius size is too small, it become identical to making a descriptor of an isolated point. A good example to visualize your radius size is http://open3d.org/docs/tutorial/Basic/kdtree.html
- Please make sure you have pre-computed vertex normal. Normal estimation is essential for feature d

[2018-06-07 13:58] baptiste-mnh opened #385 "Multiway registration PCD header format"
### Issue
Hi, I'm trying to register multiples .pcd files exported from Realsense D400 cameras (using PCL) with [this exemple](http://www.open3d.org/docs/tutorial/Advanced/multiway_registration.html).

The odometie matrix still being the identity matrix and the .pcd stay in with the same orientation.

Comparing the headers, i saw that I was missing the normals and curvature.. Is it why it doesn't

[2018-06-07 14:44] syncle commented on #385
Based on your experience, I believe the capturing libraries does not produce vertex normal by default as it induce additional computational burden.

The tutorial page of multi-way registration uses point to plane ICP that requires vertex normal. The easy work around is to apply normal estimation http://www.open3d.org/docs/tutorial/Basic/pointcloud.html#vertex-normal-estimation first, prior to use

[2018-06-07 14:53] syncle commented on #376
@adioshun I don't think so. I haven't tried, but doc says it supports various format. https://github.com/daavoo/pyntcloud/blob/master/docs/io.rst

[2018-06-07 18:50] TheodoreT commented on #384
But I am linking glew.lib, if you see my mex command is:

[code]

[2018-06-07 20:37] takanokage commented on #384
ok, good point, I missed that while reading your post on my phone. my apologies.
I see now that the linker complains mostly about Visualization. I need to look over the code for a bit.

[2018-06-07 21:00] TheodoreT commented on #384
No worries, and no need for apologies. I am also just trying to figure out why I am getting these linking errors.

By the way, I compiled the library by using this cmake configuration:

![image](https://user-images.githubusercontent.com/10189018/41125947-c820113e-6a5a-11e8-905b-efa4a355052b.png)

with the Visual Studio 14 2015 Win64 compiler and then running from the console `cmake --build . --con

[2018-06-07 21:04] takanokage commented on #384
Ok, I looked over your code and over src/Test/TestVisualizer.cpp and they look pretty straight-forward to me. You've obviously tried a few things so far so I feel silly for hinting that the linker just can't find the definition of Visualizer and that I would double check that the VS project has the library names and library directories set explicitly to what you need.

I assume you created your cu

[2018-06-08 13:41] syncle commented on #378
I agree with this change. Let's do this once cmake install is merged.

[2018-06-09 10:45] TheodoreT commented on #384
@takanokage thanks for the hints. I will try what you are suggesting and I will write back.

[2018-06-09 22:56] syncle commented on #380
Oh, there is a mistake in my previous answer. J = [q^|-I], q^T = -q^. Therefore, JTJ = [-q^q^, q^| -q^, I]

I looked the definition of ``ceres:: AngleAxisToRotationMatrix``. It is basically scaled quaternion. Please see https://github.com/ceres-solver/ceres-solver/blob/e69bd2a206118c0262185baba7a6e710decbcb28/include/ceres/rotation.h#L360-L368 to check how the rotation matrix is transformed into a

[2018-06-10 11:09] longchao343 commented on #380
You are right. Thanks

[2018-06-11 09:10] baptiste-mnh commented on #385
It works perfectly by adding the vertex normal estiation. Thanks!
[code]

[2018-06-11 09:10] #385 closed

[2018-06-11 09:23] baptiste-mnh opened #386 "Export PCD list in one PCD"
Hi, I'm working on the [multiway registration exemple](http://www.open3d.org/docs/tutorial/Advanced/multiway_registration.html) and I'm searching a way to export the final rendering.
[code]
Thanks!

[2018-06-11 10:12] arrfou90 commented on #231
Hi @amiltonwong,  any updates on this case?

[2018-06-11 11:09] amiltonwong commented on #231
Thanks @arrfou90 for your sharing, I'll test it in these days and update the comments

[2018-06-11 11:17] amiltonwong commented on #231
![snapshot00](https://user-images.githubusercontent.com/2517000/41228764-79f20392-6d47-11e8-9779-8045e6f5fb3f.png)

[2018-06-11 11:24] amiltonwong commented on #231
Hi, @arrfou90 ,
I see that your result doesn't register well. Could you tell me the method you applied ? Is the one mentioned in Open3D tutorial on [reconstruction system](http://www.open3d.org/docs/tutorial/ReconstructionSystem/index.html)? All submodules such as fragment creation, fragment registration, scene integration were already applied to get such output?   If yes, I may try another method

[2018-06-11 11:45] bored-wolf commented on #383
Ah thank you that worked :D Another query being, is there any option to extract global feature descriptors using open3D?

[2018-06-11 11:54] arrfou90 commented on #231
@amiltonwong Yes, exactly. These results are obtained by  the Open3D tutorial on [reconstruction system](http://www.open3d.org/docs/tutorial/ReconstructionSystem/index.html) . All submodules  are applied to get such output. I have used the same [reconstruction system](http://www.open3d.org/docs/tutorial/ReconstructionSystem/index.html) on other datasets like [redwood-data](http://redwood-data.org/

[2018-06-11 13:04] adamlofts opened #387 "Allow configuration of view parameters from python"
I would like to directly set the view parameters rather than call rotate(), translate() ...

From C++ it looks like I can use this function:

https://github.com/IntelVCL/Open3D/blob/995b646375121e348ff814b138a924bfac0f047e/src/Visualization/Visualizer/ViewControl.cpp#L96

Can you add this call to python?

[2018-06-11 15:13] syncle commented on #386
I recommend using custom visualizer:
[code]
This is from http://open3d.org/docs/tutorial/Advanced/customized_visualization.html

[2018-06-11 15:16] baptiste-mnh commented on #386
I actually search a way to export the registered pcds in one complete pcd

[2018-06-11 15:31] syncle commented on #383
Currently Open3D has FPFH only. Do you want to have some recommendations for global features?

[2018-06-11 16:12] syncle commented on #386
Now I see the point. How about using ``+`` operator of ``Geometry`` class?
For example:
[code]
This will make ``pcd_combined`` with 3x more points
[code]

[2018-06-11 16:24] bored-wolf commented on #383
That would be great, I was wondering if any python implementation for any of them was available.

[2018-06-11 21:00] samarth-robo opened #389 "Python multiprocessing and Visualizer"
I want to have an application where I modify geometry in one thread and update the Visualizer in another thread. Is that possible?
I guess I am looking for a version of the [non-blocking visualization example](http://www.open3d.org/docs/tutorial/Advanced/non_blocking_visualization.html) where the ICP runs in one thread and updates the geometry, while the visualizer updates are run in a separate th

[2018-06-11 22:58] #380 closed

[2018-06-11 23:06] takanokage opened #390 "Get python module binaries from CI builds"
In the future we'll need to extend #388 to:
- Python 2.7+ and 3.0+ 32bit and 64bit in order to cover at least all (4) options on Windows 64bit
- Ubuntu 2.7+ and 3.0+ (TravisCI)
- MacOS (TravisCI)

[2018-06-11 23:32] syncle opened #391 "XCode build failure"
Current master branch cannot be compiled with XCode.

**Testing environment:**
MacOS Sierra, XCode 9.2

**Error message:**
[code]

[2018-06-12 08:46] martinResearch commented on #390
this tool could help https://github.com/joerick/cibuildwheel.

[2018-06-12 20:25] takanokage commented on #390
I think that's a great tool.
Let me ask you whether this would work specifically for our case:

As you've noticed we're building the python module from source. We're actually building one binary per OS per Python version per architecture (32bit, 64bit) where it matters. That's one CI session per binary (4 AppVeyor sessions, 2 Ubuntu, 1 Mac).

Which part does your tool handle? Can your tool help us

[2018-06-13 08:30] qianyizh commented on #389
This is doable but is a bit complicated.

First, due to [a limitation of glfw](http://www.glfw.org/docs/latest/intro_guide.html), the ``Visualizer`` class has to be handled in the main thread. So you should structure your program as main thread for rendering and worker threads for updating geometry.

Second, make sure you understand how the rendering loop works. See comments in https://github.com/

[2018-06-13 11:48] Mohammadnia66 opened #392 "How to do linear and convex optimization in python using cvxpy module?"
I have a matrix A which is m-by-n where m = 3606 and n = 32768.

And vector b where b is n-by-1 so is 32768 elements long.

My objective function is the summation of the elements of (A*b):

So Maximize(summation(Abi)).

Subject to : Summation(bi) = 1 and Ab >= k (where k  can be 0, 1000, 2000, ...) till it becomes infeasible.

I do it but unfortunately I receive a vector with all the same values t

[2018-06-13 12:38] adioshun commented on #376
@themmes Thamk you for ur comment. I tried pyntcloud. However it doesnot work. Maybe i ca n change the pcd to np or dataframe and try again.

[2018-06-13 12:38] #376 closed

[2018-06-13 15:46] syncle commented on #392
Hi @Mohammadnia66. Could you elaborate how this issue is related to Open3D?

[2018-06-13 15:50] syncle commented on #387
Thanks for the request, but I am occupied by some other issues. I will handle this issue soon.

[2018-06-13 17:56] takanokage opened #393 "improve make install/uninstall and find_package(Open3D) to handle building dependencies from source"
When the dependencies are not installed and have to be built from source features like make install/uninstall and find_package(Open3D) don't work.

Some of the issues encountered so far and other things that need to be done:

1. GLFW_LIBRARIES is set to glfw but the output of the build GLFW is actually glfw3. Somehow this works fine when building Open3D but when building a custom C++ project only

[2018-06-13 17:57] takanokage commented on #393
#381

[2018-06-13 19:51] jingpengw commented on #378
yep, currently the TestData place do not work with the python tutorials.

[2018-06-15 18:17] TheodoreT commented on #384
@takanokage sorry for the late response but I was quite busy so no time to try your suggestion. Anyways now I got some. First, yes project is independent of the Open3D CMake system. Now going to your suggestion if I understand well what you are saying you are telling me to go and replace the src/Test/TestVisualizer.cpp with my code, to keep it simple let's say:

[code]

and then according my mex c

[2018-06-15 19:01] takanokage commented on #390
Ok, your understanding on how this works matches my own: build the binaries with CI then download all the binaries locally before pypi packaging. In which case I don't need that tool, we already have a structure in place for pypi packaging.

A few links about Travis CI artifacts (saved here for later usage):
https://docs.travis-ci.com/user/deployment/releases/
https://docs.travis-ci.com/user/uploa

[2018-06-17 04:59] samarth-robo commented on #389
@qianyizh, thanks for your help, and sorry for the late reply. This is what finally worked for me:
[code]
I tried making `pc` a class member, and transforming it in `self.worker`, but that change was not reflected in the visualizer. I think when you make a `mp.Process` it might make a copy of `pc` and the `worker` might be modifying it's own copy.
So I ended up sending transforms from the `worker`

[2018-06-17 04:59] #389 closed

[2018-06-17 05:03] samarth-robo commented on #389
Also, it is probably worth mentioning somewhere in the docs that `poll_events()` returns a flag that indicates whether the window should be closed. That can be very handy when someone wants to manage the rendering loop themselves.

[2018-06-17 06:28] #391 closed

[2018-06-18 08:15] adioshun opened #395 "install-deps-ubuntu.sh problem (Note, selecting 'libpng12-dev' instead of 'libpng-dev')"
HI. all

As I remember, I had no problem for Open3D installation few days ago.

Suddenly, I got follow message.

[code]

When I change the   'libpng-dev' to 'libpng12-dev', I got following error

[code]

I used the pure ubuntu16 images(with docker)

Do you have any idea?

thanks

[2018-06-18 12:13] nrj127 commented on #395
You should do ccmake ../src/ from your build directory and switch on the the option for build png from source. For pybind I built the library from source (https://github.com/pybind/pybind11) and then it worked for me.

[2018-06-18 14:39] adioshun commented on #395
Thanks. I found that the open3d support pypi. Pip install open3d-python.

[2018-06-18 14:39] #395 closed

[2018-06-18 16:29] takanokage commented on #395
Just an end note: different Ubuntu versions support different PNG releases. At this time the `install-deps-ubuntu.sh` script is not checking for the Ubuntu version. Please update the script to fit your particular needs.
Also, I've noticed that various applications may require different PNG versions on the same machine. In that case there will be a conflict; as recommended above building PNG from s

[2018-06-18 17:40] takanokage commented on #271
@syncle would you like to take care of this? I don't have the information to do it.
Alternatively you can write a brief doc explaining the cmd line args to me and I'll handle the commit for you.

[2018-06-18 19:28] syncle commented on #271
Got it. I will work on this.

[2018-06-18 23:10] #392 closed

[2018-06-19 01:18] adioshun opened #398 "[Simple Question] What is a py3d? is that a Open3D?"
In some threads, I saw the import command "import py3d"

What is the `py3d`? is that a Open3D's previous name of core module?

Thanks in advanced.

[2018-06-19 05:55] qianyizh commented on #398
Yes, it is Open3D's previous python module name.
Simply replace it with ``open3d``, everything else should works the same.

[2018-06-19 12:45] adioshun commented on #398
@qianyizh thank you.

[2018-06-19 12:45] #398 closed

[2018-06-20 13:28] maaft commented on #374
Hi,
i tried to install open3d both from source and with `pip install open3d-python` using python2.7.
Then when doing:
[code]
the program exits with `RuntimeError: Image can only be initialized from buffer of uint8, uint16, or float!`

Any suggestions?

[2018-06-20 17:12] kvmanohar22 opened #400 "Installation problems in Ubuntu while building from source"
Setup details: `Ubuntu 18.04 LTS`
[code]
I'm building from source. Having installed all the dependencies, the following linker error still seems to pop-up.

[code]

The error doesn't seem to vanish even after manually adding the line `list(APPEND DEPENDENCIES "/lib/x86_64-linux-gnu/libdl.so.2")` to the dependencies in the file `Open3D/src/Tools/CMakeLists.txt` for the target `ManuallyCropPointClou

[2018-06-20 18:03] takanokage commented on #400
I just submitted a PR about docker for open3d.
I was able to successfully build on Ubuntu 18.04. Maybe you can find some
inspiration there.

[2018-06-20 22:08] qianyizh commented on #374
Can you try:
[code]
By default, python's float is float64 (double). I think that is the reason.

[2018-06-20 23:18] takanokage opened #401 "Fix Xcode build."
There seems to be a CMake bug manifested when using object libraries together with Xcode.
The solution might not be as simple as not using object libraries because this is the mechanism that I was hoping to use to fix #393.

[supporting link1](https://cmake.org/pipermail/cmake/2016-April/063169.html)
[supporting link2](https://cmake.org/Bug/view.php?id=14768)
[supporting link3](https://github.com/

[2018-06-20 23:19] takanokage commented on #401
mentioned in #397

[2018-06-21 08:45] hironoriyh opened #402 "depth image from pointcloud"
Hi! Is there a method to make a depth image from pointcloud or mesh? I'd like to make multiple depth images from different views.

[2018-06-21 10:31] VinceDT opened #403 "Vector3dVector function slow"
Thanks for this  great library.
I am using the Vector3dVector function to convert my numpy array of about 200.000 points of xyz rgb data to open3d. The functions takes about 200 ms for setting the points and the colors each. Is there any reason for this quite slow operation or anything I can do about it?

[2018-06-21 12:34] oarriaga opened #404 "Crop point cloud"
In the documentation website it says:

`read_selection_polygon_volume` reads a json file that specifies polygon selection area.
`vol = read_selection_polygon_volume("../../TestData/Crop/cropped.json")`

But the contents of the json file are never specified. How does the json file should look like?

[2018-06-21 12:38] adioshun commented on #395
@takanokage  thanks. This is what I've done.

[code]

[2018-06-21 15:03] adioshun commented on #404
I also looking for a pointcloud cropping method.

I found this :`https://github.com/IntelVCL/Open3D/blob/master/src/Test/TestData/Crop/cropped.json`

[code]
However, It looks for the `polygon` format. Did you found a way for the point cloud data?

[2018-06-21 15:15] mtaki91 commented on #395
Just for your reference, I have installed by the following procedure. (Ubuntu 16.04LTS, Python2)

[code]
Remove pybind11-dev, libpng, and libpng16-dev from install-deps-ubuntu.sh.
[code]

[2018-06-21 15:30] takanokage commented on #395
@adioshun I've never used `libpng16-tools`. In the Dockerfile I ended up using `libpng-dev`, it appeared at that time that any other options don't work.

At the same time I noticed that you're installing `open3d-python` with pip. That particular package was built for Ubuntu 16.04, I can't claim it's going to work on Ubuntu 18.04. You might have to build open3d from source.

[2018-06-21 18:03] qianyizh opened #405 "Use a faster sparse linear solver (SuiteSparse)"
Currently we use Eigen built-in functions as the sparse linear solver. However, for large linear systems, it is not as fast as the state-of-the-art sparse linear solvers such as [CHOLMOD in SuiteSparse](http://faculty.cse.tamu.edu/davis/suitesparse.html). See [this benchmark](https://eigen.tuxfamily.org/dox/group__TopicSparseSystems.html#title7). (In my experience, CholmodSupernodalLLT solver can

[2018-06-21 19:15] syncle commented on #402
Yes. This is a tutorial for your need. http://open3d.org/docs/tutorial/Advanced/customized_visualization.html#capture-images-in-a-customized-animation

[2018-06-21 21:46] syncle commented on #377
addressed in #406

[2018-06-21 21:46] #377 closed

[2018-06-21 23:09] hironoriyh commented on #402
That's exactly what I needed. Thanks!

[2018-06-22 07:38] kvmanohar22 commented on #400
Sounds great! Waiting for the PR to get merged

[2018-06-22 08:00] #402 closed

[2018-06-22 08:37] qianyizh opened #407 "Compilation does not work out-of-the-box when external libraries are not installed"
I checked out the code on windows. I compiled following the guide:
http://www.open3d.org/docs/getting_started.html#windows
I got error messages:
[code]
There are no instructions to fix it. I think this is unfriendly to new users.

Also, there are window users who do not use CMake GUI (e.g., I use CMake console command in Windows), and there is not hint regarding turning on BUILD_EIGEN3 switch etc.

[2018-06-22 08:40] qianyizh commented on #366
CMake also starts to report warnings:
[code]
We should do code hygiene once in a while.

[2018-06-22 08:47] syncle commented on #407
Umm, can cmake build automatically from source if dependencies are not installed?

[2018-06-22 08:53] qianyizh commented on #403
Yeah it is slow. This is annoying.
[code]
Takes around 100ms. Strange thing is, I tested it on a very old version of Open3D and it is blazing fast.
And it should not be slow. Under the hood it is pybind11's buffer_protocol, which should be a barebone access to the memory buffer.

We need more time to investigate.

[2018-06-22 08:54] qianyizh commented on #407
No. You need to manually set the switches such as ``BUILD_EIGEN3``, or cmake fails.
That's the current status.

[2018-06-22 08:56] qianyizh commented on #404
Yes. This is the polygon format. You can create one from a GUI: bin/ManuallyCropPointCloud

[2018-06-22 09:17] #404 closed

[2018-06-22 12:23] kvmanohar22 commented on #400
@takanokage Thanks a lot!
I was able to successfully install Open3D!!

[2018-06-22 15:23] takanokage commented on #407
I have mentioned this aspect in a previous communication.
I have matched the behavior of OpenCV which doesn't make assumptions regarding which third party packages must be built from source. Let's say someone already has it's own working version of GLFW on Windows. Why should they be forced to use the version that comes with Open3D?
Another reason is the fact that we used to have an all or nothing

[2018-06-22 15:24] takanokage commented on #400
awesome, I'm glad it worked!

[2018-06-22 15:25] HaiDang2001VN opened #408 "Failed when import py3d on Windows 10"
Hello @syncle , thank you and your team with magnificent works in computer vision and graphic processing.
I have compiled Open3D with specified Python 3.5 and VS 2017 (CMake use std:c++14 when compile). Then I built `INSTALL` and it successfully created `py3d.cp35-win_amd64.pyd` on `C:\Users\...\Python\Python 3.5\site-packages\`, but when I use Python IDLE 3.5 (64-bit) to import py3d, it get `no m

[2018-06-22 15:30] takanokage commented on #366
Agreed. We are limited only on the fact that different CMake versions are available on each OS.
For example on Ubuntu:
- 14.04, cmake 2.8.12
- 16.04, cmake 3.5.1
- 17.10, cmake 3.9.1
- 18.04, cmake 3.10.2
- latest cmake 3.12.0-rc1

This means that in order to support all Ubuntu versions we need to adhere to a low version number of CMake which in turn may not allow us to eliminate all warnings ever

[2018-06-22 15:31] qianyizh commented on #407
I think the default behavior should be:
a. find_package decides if there is a native version of external library installed, if so, link to it
b. If (a) fails, falls back to use the source code distributed by Open3D
c. The user has options to force compiling from source for a certain library (e.g., GLFW)

Currently we have (a) and (c) which are great. But I'd like to see the logic of (b) also built

[2018-06-22 15:33] takanokage commented on #408
@HaiDang2001VN
when was the last time you pulled down the Open3D code?
we have changed the `py3d` name to `open3d` quite a while ago.

please checkout the latest version and try again. alternatively you can try
[code]

[2018-06-22 15:52] HaiDang2001VN commented on #408
Hello @takanokage ,
I cloned the repo 3 hours ago and then built it.
Before cloned it, I eventually try:
`pip3 install open3d-python`
then `import open3d` from Python interpreter but it produced
`ImportError: DLL load failed: The specified module could not be found.`
I don't know what DLL it used so I decied to directly compile from source, but it results as above.
So, alternatively if you know wh

[2018-06-22 16:23] takanokage commented on #407
I personally disagree with that approach ( :) nothing new).

[OpenCV third party](https://github.com/opencv/opencv/tree/master/3rdparty)

On UNIX systems all the libraries are automatically detected by configure script.
In order to use these versions of libraries instead of system ones on UNIX systems you
should use BUILD_<library_name> CMake flags (for example, BUILD_PNG for the libpng library).

[2018-06-22 16:52] qianyizh commented on #407
These are the exact reasons I strongly think we should always include a copy of external library source code in Open3D. Other libraries can change, API can change, header files can change. We have no control of it. In order to maintain Open3D in a status that it works with all possible versions of a certain external dependency is a very heavy job. (In a larger scope, the operating systems can be r

[2018-06-22 17:02] SreenivasVRao commented on #404
Sorry, but where is file located? I installed Open3D with conda+pip but I can't find this binary.

Also, when I use `draw_geometries_with_editing` and crop the cloud, the `json` file has a null polygon.

[2018-06-22 17:16] takanokage commented on #407
Well, the scenario I was describing was not a compatibility problem. It's the problem of having different components of an application link to different versions of the same library for example. We cannot control how the user decides to embed Open3D in his application. For this reason building from the third party dependencies from source might (likely will) be a problem when Open3D is integrated

[2018-06-22 17:24] qianyizh commented on #407
If we don’t do option 3, what should we do? We can’t leave Open3D in a status that is not compilable. I think we agree on that?

So should we do option 1 or option 2? Or is there any other better idea?

Also, maintaining package compatibility is a big business. The main purpose of Anaconda is this. I’d really like to know if there is any lightweight solution...

[2018-06-22 17:33] takanokage commented on #408
do you have more details on the error?
what version of `open3d-python` did you try? the latest I uploaded is `0.1.5.5`, the previous ones where displaying indeed the error you're describing.

I just tested again and it works on my Windows machine with Python 2.7 and 3.5, 32bit and 64bit.

[2018-06-22 17:35] qianyizh commented on #408
I have a similar issue on OSX.
I pip installed, then get:
[code]
Does it mean I need to install glew?

[2018-06-22 17:48] takanokage commented on #407
I agree with you. Luckily Open3D is compilable today out of the box just like OpenCV.
The user is alerted when one of the dependency constraints is not met.
The user then has two choices:
1. install the dependency package if available.
2. turn the `BUILD_<dependency>` switch to `ON` and regenerate the project.

There are exceptions to the above: `tinyfiledialogs` it's so small it might never get i

[2018-06-22 17:50] HaiDang2001VN commented on #408
I have reinstall via pip but just get `ImportError` again.
And I use Python 3.5.0 (for more specific: the IDLE show me [MSC v.1900 64 bit (AMD64)] on win32).

[2018-06-22 17:56] takanokage commented on #408
@qianyizh in your case seems easy enough: install glew. Pretty much all of the dependencies that where installed on my build system have to be installed on the target system.

[2018-06-22 17:58] takanokage commented on #408
@HaiDang2001VN yeah, I added yesterday binaries for the 64bit version of Python 2.7 and 3.5.
The one reason that I can think of that this might not work was a report by two other people before that sometimes pip is unable to place the binaries in site-packages. It's just that we've never gathered enough information to figure out why - I can't reproduce it locally.

[2018-06-22 18:02] qianyizh commented on #408
Yeah, I know what to do. But it is not written in the document - so it is not obvious.
I think I have similar issue with my Window machine too, some DLL libraries are missing. I think it is because some dependent libraries are either not installed or incorrectly configured.

We should resolve this, either add a document page describing how to install these dependency libraries on various operating

[2018-06-22 18:18] takanokage commented on #408
That's on me. I followed the script for installing the python dependencies and there opencv is meeting as mandatory.

So you're saying that opencv is not actually required? I'm that case I'll fix both the script and the pip package.

[2018-06-22 18:21] serdadoe commented on #386
Hi @syncle , this question maybe out of topic with this Issue.
I tried `write_point_cloud` to save to PCD file, but what I got is pcd file in binary data. While the common pcd file is in ascii format. (When I open binary data PCD in notepad, I got some symbols not the xyz coordinate)
How to save the pcd in ascii format?

[2018-06-25 06:58] oarriaga commented on #407
As guide to any user interested in building the software and the missing dependecies:

1. Switch to **ON** the missing dependencies in the  `Open3D/src/CMakeLists.txt` file.
2. (Optional) I also had to install `sudo apt-get install xorg-dev libglu1-mesa-dev` since the RandR library and headers were missing in Ubuntu 16.04.

[2018-06-25 09:53] fferroni opened #409 "[Question] Registration constraints"
Hello,

Is it possible (or in the roadmap) to be able to add registration constraints to ICP / ransac? For example, if one is interested in registering a point cloud in only two directions, ignoring the third?

Thanks

[2018-06-25 09:59] TheodoreT commented on #384
@takanokage I cloned again the latest version of the repository and compiled now the lib dynamically with shared libs enabled and this seems to solve the linking issue. Using static lib instead still gives linking errors though. Thus, I will close this issue.

[2018-06-25 09:59] #384 closed

[2018-06-25 14:40] TheodoreT opened #410 "[Question] denoising point cloud and mesh reconstruction"
Hi guys,

After solving the issue with the linking in the mex script. I am able to load and visualize my point using the following script:

[code]

where I am passing the points and the corresponding color and albedo values for each point (extracted with kinect v2). Then I am assigning the points and the color to the Open3D PointCloud structure and I am able to show the point cloud in the visualiz

[2018-06-25 15:48] takanokage commented on #384
Awesome, I'm glad it worked for you!

[2018-06-25 16:07] takanokage commented on #407
@oarriaga

My recommendation is to always use the installed dependencies on UNIX systems. The script `<open3d_path>/util/scripts/install-deps-ubuntu.sh` will install all of these on Ubuntu, including the `xorg-dev` & `libglu1-mesa-dev`. Building the dependencies from source on UNIX systems should be reserved for special use cases like headless rendering for example which at this time requires a GL

[2018-06-26 07:27] daegeumer opened #411 "point-to-plane ICP registration"
Some dataset(for example Microsoft 7-scenes dataset) doesn't perform any ICP iteration using point-to-plane option. Strangely, point-to-point option works well for the same data set and the tutorial dataset also works well using point-to-plane option. I don't understand what is the problem. When the ICP algorithm doesn't converge, the result transformation of point-to-plane algorithm is always the

[2018-06-26 08:26] kuonangzhe opened #412 "CUDA support?"
Thanks for the awesome work and contribution. Are there any plans for CUDA support? such as ICP and reconstruction with CUDA, etc. Thanks!

[2018-06-26 09:35] cysmith commented on #342
@qianyizh @syncle It might be useful to have sliders for the intrinsic matrix like the **Demo** section here:
http://ksimek.github.io/2013/08/13/intrinsic/

[2018-06-26 15:40] qianyizh commented on #409
Can you elaborate the use case? Just want to understand the background better to help us scope out the problem.

[2018-06-26 16:02] oarriaga opened #413 "Drawing 3D bounding box"
Is there are form to draw a 3 bounding box given the coordinates of the corners?

[2018-06-26 16:05] syncle commented on #413
Yes. Consider using geometric primitives. http://open3d.org/docs/tutorial/Basic/visualization.html#geometry-primitives You may generate several thin cylinders to draw a bounding box.

[2018-06-26 16:09] manhha1402 opened #414 "examples for how to use Open3D with PCL library and ROS"
Hi,
I would like to know how to use Open3D with PCL library and ROS. Can anyone has an example how to convert to point cloud pcl or mesh pcl from data structure of Open3D ?
Thank you

[2018-06-26 16:47] fferroni commented on #409
Say for example in the case of a 3D LIDAR scan taken on a ground-plane, where we have a 2D motion, and we are only interested in estimating the transformation in 2 of 3 possible directions.

[2018-06-26 16:48] syncle commented on #411
HI @daegeumer. Can you check you had computed point cloud normal before applying point to plane ICP?

[2018-06-26 17:37] qianyizh commented on #412
I don't think we will have such support in the near future, as we are short handed - so we have to deprioritize many things. But if many people are requesting this feature we can prioritize it.

[2018-06-26 17:46] qianyizh commented on #410
We don't have meshing from point cloud in the current version. But it has been prioritized and will be added to the next version.

As for your specific use case, if the input is a depth image, there is a quick hack that can create a mesh from it: just connect the neighboring pixels into quads (@syncle actually we should probably provide such functions for the sake of visualization). You can assign

[2018-06-26 17:52] qianyizh commented on #414
The current I/O supports .pcd format which is the primary format used by PCL.
For mesh, both PCL and Open3D support .ply, which is rather standard.

See this: http://www.open3d.org/docs/tutorial/Basic/file_io.html

I don't have much experience with ROS though. This is a known issue that Open3D does not have interface with ROS. We are planning to address it. It is on our roadmap.

[2018-06-26 17:53] syncle commented on #410
We don't have it yet. The plausible approach is that for each point, find out nearest neighbor within reasonable radius size. If there is no neighboring point, it could be regarded isolated point. This tutorial would help http://open3d.org/docs/tutorial/Basic/kdtree.html.

It is not. The downsampling can reduce density of point cloud using regular grids, but it essentially does not eliminate the p

[2018-06-26 17:56] qianyizh commented on #409
Good point. I think this is a common use case. I encountered this problem myself too. Sometimes the scanner has a gyroscope which provides quite accurate gravity direction and sometimes the north direction too. In this case registration algorithms should be able to use such information.

I am changing the title to feature request. And I think this should be prioritized.

[2018-06-26 17:59] qianyizh commented on #411
@syncle we have seen similar questions recently. Maybe we should add a warning to point-to-plane ICP when there is no normal attach. (The current behavior is to fail quietly?)

Also, I think I am seeing more and more use cases directly using depth images as input, maybe we should support normal computation / bilateral filtering / sampling directly for depth images too.

[2018-06-26 18:03] syncle commented on #411
Good point. I would need to follow-up with @daegeumer, if it is occurred by such problem. Regarding the depth image processing, let's open a new issue.

[2018-06-26 18:54] manhha1402 commented on #414
Thanks

[2018-06-26 18:54] #414 closed

[2018-06-26 19:44] #328 closed

[2018-06-26 20:03] syncle commented on #407
On Windows, I had another issue.
I used CMakeGUI, manually select to build dependent libraries, but I got the following:
[code]

[2018-06-26 20:28] takanokage commented on #407
CMake is suggesting that you delete the cache and configure/generate the project again from scratch. Does that help?

[2018-06-26 20:37] syncle commented on #407
You're right. I just tried removing the release folder. The issue was resolved when I completely delete the whole Open3D folder, clone, and build again (not very sure why this works though). I had to manually check dependencies to configure.

[2018-06-26 20:41] takanokage commented on #407
That works however recloning should not be necessary.
Either of the following options deletes the cache:
1. CMake File Menu -> Delete Cache
2. Delete binaries folder

[2018-06-26 20:45] syncle commented on #407
Yes. I tried both but it didn't work out.
BTW, I am also encountering the following errors when I do "INSTALL" using visual studio 2015. Can you check on this too?
[code]

[2018-06-26 22:18] takanokage commented on #407
This is a permissions issue - you don't have permission to write to `C:\Program Files`.
I changed the default install destination to `C:\Open3D_install` and it works.

[2018-06-27 12:56] TheodoreT commented on #410
@qianyizh @syncle thank you both for the feedback. I will use the TSDF integration then in order to create the volume given the rgb and depth images (and from there I will extract the triangulated mesh).

I am trying now to test some code for it, first I tried to create the point cloud and compare it with the one that I have available but for some reason the output seems to be skewed as you can se

[2018-06-27 15:24] saedrna commented on #405
In mac and linux, suitesparse is not an issue, and in Windows vcpkg already ports suitesparse and cmake is supported. The only drawback is only VS 2015 and later version are supported.

[2018-06-27 15:40] qianyizh commented on #405
Wow, I did not know vcpkg (https://github.com/Microsoft/vcpkg). It looks like a very promising package management system for Windows, which can solve lots of our headaches regarding dependency.

@syncle @takanokage mind to check it out?

[2018-06-27 17:01] SreenivasVRao opened #416 "Is it possible to create a point cloud with a numpy array?"
I see read_point_cloud() and write_point_cloud(), but no way to actually create a point cloud...

Thanks.

[2018-06-27 17:16] TheodoreT opened #417 "[Question] creating three::Image similar to cv::Mat"
Hi guys,

is there any equivalent approach to the `cv::Mat` code below for the `three::Image`:

[code]

I am trying to understand how to create a `three::Image` from the pointer data but looking in the repository couldn't quite clear find how the `three::Image` works.

As you can understand I want to create a wrapper and pass the rgb and depth images on the fly instead of saving them on the disk a

[2018-06-27 17:56] syncle commented on #416
Please also read this tutorial: http://open3d.org/docs/tutorial/Basic/working_with_numpy.html
This tutorial generates a point cloud using numpy, and transform the data as a Open3D point cloud type, and save it as a ply file.

[2018-06-27 18:40] qianyizh commented on #417
Open3D image can be converted to and from a numpy array, via:
[code]
It is direct buffer access, so it is quite fast. But it is C-major (as Open3D is written in C++). In your use case, you want to read an image and convert it to a column-major array so it can be loaded by Matlab. You can convert everything to numpy array and do it with it, something like:
[code]

[2018-06-27 18:53] TheodoreT commented on #417
@qianyizh what you are suggesting is how to tranfer a `three::Image` to Matlab if I am not wrong, but what I want is the other way around. I want to send it from Matlab to a mex script which is in C++. So, I do have all my values inside an array, `uint8* rgb` but then I am not sure how to cast them to `three::Image' instead of the `cv::Mat` as I am showing in the example.

[2018-06-27 19:00] qianyizh commented on #417
umm, if I get your question right, you want to do it in C++ right?
Then in this case, the best solution is to initialize an Open3D image object of the same size, then copy the raw data over.
The reason is that the Image object needs to take the ownership of the data so it cannot resides on a raw pointer (in that case, it is not clear who will take responsibility of releasing the memory). So Image

[2018-06-27 19:19] TheodoreT commented on #417
Yes you are right, I want it in C++. So the initialization can be done as follows:

[code]

how I do the copy though? This is what I do not get. Any help here is welcome.

[2018-06-27 20:13] TheodoreT commented on #417
Yup, this seems to do the job. Much neater than my way. However, I have the issue with the order that the data are passed as you can see the below with the channels:

![image](https://user-images.githubusercontent.com/10189018/41996806-5163b634-7a56-11e8-8cb9-394b26b50461.png)

For that reason also in opencv first they were accessing each channel individually and then merging them together. Is the

[2018-06-27 20:15] IsraelLaguan commented on #412
I think is a good feature, and more taking on count that video and data is growing in importance. Please take this into consideration.

[2018-06-27 20:45] SreenivasVRao commented on #416
Oh great, thanks. Sorry, I didn't notice it on the docs.

[2018-06-27 20:45] #416 closed

[2018-06-27 21:47] yzp12 commented on #264
Hi @syncle ,
I tried to use the lastest source codes on remote server. I encountered an issue when trying to disable all the visualization modules. I was able to build succesfully, but when trying to import open3d, it says: undefined symbol: _Z28pybind_visualization_classesRN8pybind116moduleE. Do you have any suggestions for this? Thanks!

[2018-06-27 22:19] yzp12 commented on #264
Hi @syncle , Thank you! Actually I just have solved the issue by also deleting the "pybind_visualization_classes(m)" line in open3d.cpp. Btw thanks for reference me to the headless rendering part. That is pretty cool!

[2018-06-27 22:19] #264 closed

[2018-06-27 22:23] qianyizh commented on #417
For C++ code, you can directly manipulate ``Image::data_``, it is the raw buffer of image data, c-contiguous, row - col - channel. So you can do things just by copying bytes around.

But we have not implemented convenient functions for image processing (like those in OpenCV). The main reason is that we think this can be handled by numpy if using python binding.

[2018-06-28 08:57] TheodoreT commented on #410
@syncle is there a way to set the camera position? because I think this is my problem in the above case with the skewed points.

[2018-06-28 13:44] yoshiyama opened #420 "PYBIND11 cmake error"
In cmake-gui for latest src, installation of pybind11 have an error of PYBIND directory not found.
My environment is windows 10 64bit.
But for src downloaded on 5th June, it succeed completely.
What are the differences between latest and old src ?

[2018-06-28 15:24] takanokage commented on #420
There is no difference as far as `pybind11` is concerned - `pybind11` is always built from source.
Without additional information my suggestion is to clean the project files (delete the `build` folder, delete the CMake cache) and start over.

[2018-06-28 16:13] argosvr opened #421 "Using a trajectory from .log file"
Hello,
In this document http://www.open3d.org/docs/tutorial/Advanced/rgbd_integration.html you refer to "Read trajectory from .log file".
But I can't find something in the documentation which refers to "create a trajectory from .log file".
Is it possible to generate such a log using the RGDB odometry ?

[2018-06-28 16:23] TheodoreT commented on #417
ok, I tried to create a function similar to what you have for the [CreateFloatImage()](https://github.com/IntelVCL/Open3D/blob/35be432d45bf47bbcdf920c62d7d9d446ac6d36d/src/Core/Geometry/ImageFactory.cpp#L72) as shown below:

[code]

Now the result is a bit better but still I am doing something wrong as you can see:

![image](https://user-images.githubusercontent.com/10189018/42047023-74d80df0-7aff

[2018-06-28 17:35] syncle commented on #421
Hi @argosvr. It's good question. Currently Open3D supports full interface with .json file format because it can contain multiple attributes, such as confidence, odometry, information matrix, source, target index and so on.

.log file example is just provided for convenience. There is a python I/O script for .log file in src/Python/Tutorial/Advanced/trajectory_io.py. More detailed documentation for

[2018-06-28 18:03] argosvr commented on #421
Thank you for your answer.
I think the .json file format is a very good and easy solution. And very usable before you find a better solution.
I had a look at http://redwood-data.org/indoor/fileformat.html and src/Python/Tutorial/Advanced/trajectory_io.py.
My question is: using http://www.open3d.org/docs/tutorial/Basic/rgbd_odometry.html wich gives me very good results, how can I generate the traje

[2018-06-28 18:08] argosvr commented on #421
when I read this: http://redwood-data.org/indoor/fileformat.html
I understand how the metada are working. But to generate the 4-by-4 transformation matrix, what is the command I should use ?

[2018-06-28 18:48] argosvr commented on #412
I'm working a lot in 3d scanning and photogrammetry... CUDA support is a very big plus in this industry.

[2018-06-28 19:41] TheodoreT commented on #410
@qianyizh @syncle  I tried to play with the transformation function but it seems that only the rotation affects the output, translation doesn't seem to do anything:

[code]
I tried also other kinect images from other datasets and it seems that the skew effect shows there as well. Then I tried to load an pair from your TestData folder and this shows up correctly with the corresponding intrinsics.

[2018-06-28 20:08] syncle commented on #421
Yes. Use that 4x4 transformation matrix for the log file. Depending on the transformation directions (which one is source or target), you will need to apply matrix inverse.

[2018-06-28 20:11] syncle commented on #410
That's because the visualization function sets the bounding box and view point accordingly. If you visualize the single translated geometry, it looks the same.

I am looking your depth-color image pair. Hope sharing my findings soon.

[2018-06-28 20:21] syncle commented on #410
Try use
[code]
Instead of
[code]
You almost got it right, but the principal point and focal length were not placed in the correct position. With proper value I got the following image:
<img width="1072" alt="screen shot 2018-06-28 at 1 17 59 pm" src="https://user-images.githubusercontent.com/18297113/42058655-ec929b6e-7ad5-11e8-80cf-7f5dba864a4f.png">

Question: Do you think this is a standard (or

[2018-06-28 20:29] argosvr commented on #421
well.. I tried to make a log file using this:
                  with open("navigation.log", "w") as f:
                        f.write(trans_color_term)

it does not work

[2018-06-28 20:32] syncle commented on #421
No no. You don't have try to make yourself. As I mentioned earlier, use the following:
https://github.com/IntelVCL/Open3D/blob/master/src/Python/Tutorial/Advanced/trajectory_io.py

[2018-06-28 20:39] argosvr commented on #421
well.. this code is just not documented !

[2018-06-28 21:14] TheodoreT commented on #410
oohh come on, seriously. I was so sure that I have put them correctly. It works here as well now, many thanks.

Yes, I think that you can use these intrinsics as the standard ones for the depth2color mapping (color2depth is already added as I've seen). These were the numbers that I got out of the box from the sensor. I applied a manual calibration as well and the numbers were the following:

`Pinh

[2018-06-28 21:30] syncle commented on #410
We don't have a method that downsamples mesh directly. However, you may increase the unit voxel size used for the integration. For example increase the value ``voxel_length = 4.0 / 512.0``. 4.0 / 512.0 means 512 cubics in 4m length. If you increase it to 5.0 / 512.0 or something depending on your needs. This will produce coarser mesh.

Triangle mesh already has orientation. For example the orderin

[2018-06-28 21:37] syncle commented on #421
Try something like below:
[code]
You can replace ``transform`` and ``metadata``.

[2018-06-28 21:49] argosvr commented on #421
thanks.. is the transform can be something like trans_color_term ? (using your example)...

[2018-06-29 02:40] dotchang commented on #420
I also met same problem. Maybe, it has some problems.

And, I don't need any python interfacce for Open3D, I need only c++ libraries.
But I can't cancel python-related options. I think that it is big problem.

[2018-06-29 03:04] dotchang commented on #420
The error is caused by 3rd line of Open3D/src/External/CMakeList.txt.
find_package(PkgConfig QUIET)
find_package(OpenGL    QUIET)
#find_package(pybind11  QUIET)

[2018-06-29 05:18] dotchang opened #422 "Visualizer::CreateWindow confliction problem"
On windows MSVC environment, the name of CreateWindow is defined by windows.h which is basic library by microsoft. (I think it's terrible, but...)
When I tried to use Open3D and other windows software, it makes name confliction problem.

Could you please consider changing the name?

[2018-06-29 05:22] yoshiyama commented on #420
Even after deleting the CMake cache,  the error also happens.

[2018-06-29 07:54] syncle commented on #408
OpenCV is not mandatory. It is optional for Reconstruction system.

[2018-06-29 12:21] argosvr commented on #421
great it worked ! thank you

[2018-06-29 15:31] takanokage commented on #408
Are we including the reconstruction system in the Open3D python module?

[2018-06-29 16:55] takanokage commented on #420
I've just tested on my Windows 10 64bit machine, Python 2.7 32bit, CMake 3.11.0.
No trouble whatsoever. I can even disable building pybind11 and the python module.
What version of CMake are you using? Do you have any other information that might help us root cause the issue?

Thanks!

Building pybind11 from source:
[code]

Disabled building pybind11 and the python module:
[code]

[2018-06-29 17:23] syncle commented on #332
Closing for now, because this thread is not active.

[2018-06-29 17:23] #332 closed

[2018-06-29 18:48] syncle commented on #408
Reconstruction system is high-level Python tutorial scripts, although the basic functions for the system are implemented as C++ API in Open3D. It is not true that reconstruction system can be included in Open3D Python module, because it is just series of Python tutorial script. The reconstruction system optionally uses Python API of OpenCV, but OpenCV is not necessary to run Open3D python module.

[2018-06-29 18:57] syncle commented on #408
I agree. Can we make a standalone package? I think this would be much convenient than writing a long document case by case. As @qianyizh mentioned, I also encountered the similar error:
[code]
I know this is dependency problem, but someone just want to use Open3D out-of-box.

[2018-06-29 20:53] syncle commented on #405
I just tried. In summary, vcpkg is awesome tool to build/install unix libraries on windows. It also provides cmake targets to be used with VS2015+.

The following is my log to build/install SuiteSparse from scratch.
[code]

[2018-06-29 20:54] TheodoreT commented on #410
@syncle thanks a lot for the feedback. Increasing the unit voxel worked fine ;-).

For the triangle normals I think I can work with what is extracted from the mesh itself. I am trying now the albedo thing.

Can you tell me whether I can retrieve the triangle colors from the mesh or only the vertex colors. I've seen only the `mesh->vertex_colors_` (by the way what is the type of it, is it `Eigen::V

[2018-06-29 21:12] syncle commented on #410
``mesh->vertex_colors_`` is ``Eigen::Vector3d`` type. By now, Open3D does not have ``mesh->triangle_colors_``.

``voxel->colors_`` is used for making ``mesh->vertex_colors_``, but I don't think the values are not directly assigned like one to one. It is because the single voxel does not mean the single vertex in the output mesh. It is rather weighted color value depending on the output shape. @qia

[2018-06-29 23:27] argosvr opened #424 "parameters used by OdometryOption()"
Can you give the details of the parameters used by OdometryOption() ?
Is their a way to increase the detection factor ? on photogrammetry softwares, we have a way to change the detector sensitivity..
Using the same rosbag, when I use a photogrammetry software (Capturing Reality) I got a good reconstruction in 3d. Using your different reconstruction methods I can't get any result usable.
We are usi

[2018-07-01 05:50] #230 closed

[2018-07-01 21:47] TheodoreT commented on #410
@syncle I see thanks for feedback. I think I can deal with a workaround regarding the `mesh->triangle_colors_`  for the moment.

Now regarding the albedo image and mesh, I am successfully creating an RGBDImage using the albedo map image instead of the color image however the `volume::Integrate()` creation will not work since it expects a color image with 3 channels and 1 bytes_per_channels. The co

[2018-07-01 23:04] takanokage commented on #407
do we agree on this being addressed?

[2018-07-01 23:06] takanokage commented on #217
addressed as part of milestone [0.2](https://github.com/IntelVCL/Open3D/tree/v0.2).

[2018-07-01 23:06] #217 closed

[2018-07-02 02:45] syncle commented on #422
I may misunderstood the point, but Visualizer::CreateWindow() is the function of Visualizer class. Is this naming conflict making some technical issue (such as compilation error)?

[2018-07-02 02:58] syncle commented on #424
Hi, here are some explanations about ``OdometryOption()  ``
- ``minimum_correspondence_ratio`` : after registration, measure the overlapping ratio of two RGBD images. If there is too few overlapping region (about 30% by default), the odometry module determine this alignment as a failure case.
- ``max_depth_diff`` : maximum allowable depth value difference for correspondence searching. For example,

[2018-07-02 04:29] dotchang commented on #422
WinUser.h which is a part of WindowsSDK10 of the microsoft gives a global definition as follows,
(line 4283)
#ifdef UNICODE
#define CreateWindow  CreateWindowW
#else
#define CreateWindow  CreateWindowA
#endif // !UNICODE

Then, it makes problems. Do you have good solutions?

[2018-07-02 09:05] annacesar opened #425 "installing open3d python"
Hi,

I have tried to install open3d python with
pip install open3d-python

but when I import the package in my spyder environment, I get an error ('DLL load failed')

from open3d import *

How can I solve the issue?

[2018-07-02 17:43] syncle commented on #407
Umm I am not quite sure. I hope the first user don't have to worry about explicitly turnning on switches for building dependent libraries. @qianyizh what do you think?

[2018-07-02 17:46] syncle commented on #425
We are addressing this issue in #408. A quick work-around is to build from source with the dependent libraries.

[2018-07-02 18:59] syncle commented on #217
Useful link for conda packaging: https://conda.io/docs/user-guide/tutorials/build-pkgs-skeleton.html

[2018-07-03 16:55] qianyizh commented on #417
Umm, I need to understand the data structure of mat_image.
For Open3D Image class, it is just C-type array row * col * channel.

[2018-07-03 17:05] qianyizh commented on #422
Did this happen when you are compiling Open3D or when you are compiling an external C++ program that is linked to Open3D?

[2018-07-03 17:24] qianyizh commented on #407
This is also related to #408 and #425

There are three use cases
1. pip install open3d-python
2. git clone, then compile Open3D from source code
3. download prebuilt packages (or install on windows or apt-get on Ubuntu or brew on OSX), then build an external C++ program and link to it

There are three most frequently used OS/tool chains:
* Ubuntu 16/17/18 + gcc 5/6/7
* OSX + clang
* Windows 10 + V

[2018-07-03 17:36] qianyizh commented on #408
This is burning. I just tried on my Ubuntu machine, and this is what I got:

[code]

[code]

On my OSX:
[code]

On my windows: never succeeded.

We need to hot fix this. @takanokage can you look into this and give a daily update about it? If you are on vacation, assign someone else (Jaesik or me) so we know the ownership.

[2018-07-03 17:55] takanokage commented on #408
I see there's a mismatch between python installations. It would seem that you're running a custom Python installation, this is why it's not able to import Open3D.

Open3D as it is today is only supported with the standard Python installation. That was the specification of the pip package ticket when I worked on it.

Open3D is **not supported** on Anaconda Python - **this is not a bug**, it is a fe

[2018-07-03 18:06] qianyizh commented on #408
Thanks for the update. Agree this is a feature that has not been built yet. And we should build it.

I am more worried about the ownership of this issue since I know you will be on leave since next week. If you can't work on this this week either, then it probably makes more sense for me or @syncle to just take the ownership until you come back from leave.

[2018-07-03 18:07] takanokage commented on #408
Open3D is supported on Ubuntu/macOS/Windows **only** on a standard/native Python distribution, not AnaConda.
`pip install open3d-python` was tested and found to be working out of the box with:
- Windows, python installed from https://www.python.org/downloads/, 2.7 & 3.5 32bit and 64bit
- MacOS, system python 2.7
- Ubuntu, system python 2.7 and python 3.5 installed through apt.

For any other use c

[2018-07-03 18:13] takanokage commented on #408
@qianyizh
We have a workaround for this: native Python installation.
I would recommend reducing the urgency from `red hot` to `highly desirable` ;). I am hoping that this workaround can help alleviate the problem.

I think a lot of this confusion was caused by the fact that so far we've assumed that all Python installations are created equal. That is not true. We need a list of all the package man

[2018-07-03 18:28] qianyizh commented on #408
As a hindsight, I think the confusion came from the lack of documentation. I learnt it just now (that the pip package does not work with conda-backed python) and I am pretty sure I am an experienced user of Open3D :). So we should have it documented.

[2018-07-03 18:46] syncle commented on #408
Great. I will submit PR to update document accordingly.

[2018-07-03 18:55] takanokage commented on #408
@qianyizh I don't think anybody realized that the issue was different Python installations until you posted the error message showing an anaconda path. This wasn't just our documentation lacking. In fact this is a subtle issue of which I am going to assume most Python users (including ourselves) may not be aware of: there several ways to install Python and these are not necessarily compatible betw

[2018-07-03 18:59] takanokage opened #427 "update version before releasing a milestone"
There are several issues that need to be placed in the "process change" category.

This one is about updating the Open3D version in `src/CMakeLists.txt` before merging a milestone branch or before assigning a milestone tag. This also implies rebuilding and repackaging for pip. When we rebuild the Open3D version gets propagated throughout the code and to the `setup.py` script used to package Open3D

[2018-07-03 19:04] takanokage opened #428 "Automatically update version in docs"
When we generate the project files with CMake the Open3D version in `src/CMakeLists.txt` gets updated in the C++ code and `setup.py` script used to package Open3D for pypi.

Let's update the Open3D version throughout the documentation using the same mechanism.

In summary, what I'm proposing is that we specify the Open3D version (and maybe a few other things) in one central location and have it up

[2018-07-03 19:08] syncle commented on #428
Sounds good plan. This will relieve some manual labor. How about make a version.txt and make CMake and docs/conf.py referring it?, or docs/conf.py refers the version defined in CMake (I am not quite sure about this option yet.)

[2018-07-03 19:11] syncle commented on #427
Good point. We need to update version correctly. Can you update ``src/CMakeLists.txt`` and pip packages accordingly? I will also update the release header.

[2018-07-03 21:46] TheodoreT commented on #417
the raw data (coming from matlab) that I am passing to Open3D image class are similar. My impression is that the channels are in different order. I will try to examine that and I will write back.

[2018-07-04 03:35] dotchang commented on #422
It happened when I tried to use external C++ program.
I want to use Open3D with openFrameworks.

[2018-07-04 15:35] nrj127 opened #429 "voxelgrid"
Is there a way to get the points inside a voxel. I would like to convert my point cloud into a voxel grid and do some statistical analysis on points inside every voxel.

[2018-07-04 17:52] syncle commented on #429
Hi. Could you elaborate bit more? To answer the following question:

You can use voxel downsampling
http://www.open3d.org/docs/tutorial/Basic/pointcloud.html#voxel-downsampling

[2018-07-04 17:57] syncle opened #430 "Anaconda support"
Currently we have ``pip`` distribution, but it is also necessary to distribute package via anaconda.
Relates to #217, #408.

Useful link for conda packaging: https://conda.io/docs/user-guide/tutorials/build-pkgs-skeleton.html

[2018-07-05 04:49] qianyizh commented on #429
Umm, the python interface does not have a function for it. You need to write a C++ function to do it.
The other option is to use EstimateNormals to compute the normals directly then write a RANSAC for plane extraction.

[2018-07-05 04:57] qianyizh commented on #422
Umm, I think I understand this now.

I remember a long time ago ``three::filesystem::MakeDirectory()`` was named ``three::filesystem::CreateDirectory()``, then it conflicts with Windows' ``CreateDirectory`` which is a macro mask of ``CreateDirectoryA`` or ``CreateDirectoryW`` (yes, terrible design, but...). I looked for workarounds and eventually decided to change the function name.
https://github

[2018-07-05 04:59] qianyizh commented on #422
@syncle to explain it a bit more, the problem is with the macro definition. C++ macro overrides everything. So once a windows header file is included the macro overrides all the valid function names. In a cpp file that uses ``three::filesystem::CreateDirectory()``, it is translated into ``three::filesystem::CreateDirectoryA()`` or ``three::filesystem::CreateDirectoryW()``, which breaks the build.

[2018-07-05 05:19] qianyizh opened #432 "Add *.h into CMakeLists.txt"
Currently only ``.cpp`` files are added to projects. For example:
https://github.com/IntelVCL/Open3D/blob/dd511a0d3f973735d15ae9b90e292077886f1e1b/src/Core/CMakeLists.txt#L2
But no ``.h`` files.

As a result, in Visual Studio, ``.h`` files are not included in projects, and search all function does not apply to ``.h`` files. We need to fix this.

[2018-07-05 05:33] qianyizh commented on #417
Ah, I see. The problem is that in the following loop, it only iterates ``height*width`` and in each iteration only one byte is copied. (Should have 3 bytes copied.)
[code]

[2018-07-05 05:35] qianyizh commented on #366
This is bugging me. It also affects the compilation speed a lot. Who is going to fix this?

[2018-07-05 07:37] nrj127 commented on #429
Okay, Thanks

[2018-07-05 07:37] syncle commented on #422
Addressed in #433.

[2018-07-05 07:37] #422 closed

[2018-07-05 09:24] argosvr commented on #231
We have exactly the same problem using d415 or d435.
The reconstruction system works with datasets provided by open3d but not with the rosbags saved with the d400.
I think it is a serious issue for open3d : kinect, primesens and xtion belong to the past and a lot of people are looking for a solution to use the d400 family.

[2018-07-05 09:42] amiltonwong commented on #231
Update my experience on D415 and D435.
I practice it using another RGBD-SLAM package (RTAB-MAP), the live mapping experience is satisfactory. I guess there needs some specific parameters tuning (calibration parameter) in current Open3D.

[2018-07-05 09:57] TheodoreT commented on #417
@qianyizh that's not correct since I specify the channels variable as 3. Thus, 3*sizeof(uint8_t) should be giving me the correct number of bytes, shouldn't be?

[2018-07-05 12:12] TheodoreT commented on #410
@syncle consider the problem solved the issue is on the wrapper that send me back the values for some reason modifies them, otherwise wise Open3D correctly provides back what is written in the source code.

I will close this issue now, hopefully this thread might be useful for others.

Thanks again for your support :+1: and your time  :-).

[2018-07-05 13:07] arrfou90 commented on #231
My conclusion:
The reconstruction system provided in the tutorials is tuned for PrimeSense. With D435/D415  the reconstruction system suffers from the RGBDOdometry estimation when creating the fragments by make_fragments.py. Increasing the number of fragments would help (I mean, make a fragment with less numbers of RGBD frames) because D435 capture objects at close distances, which make it quit di

[2018-07-05 15:10] #428 closed

[2018-07-05 15:14] qianyizh commented on #417
Yes but ``*p++ = *mat_image++;`` was only executed once - hence only one byte is copied.

[2018-07-05 15:22] qianyizh commented on #231
Yeah the current reconstruction system in the tutorial is tuned for PrimeSense/Xtion camera. My guess is that it should work with the RealSense D400 series but needs non-trivial amount of parameter tuning.

@syncle I assume you can work on it?

[2018-07-05 16:00] syncle commented on #231
Yep. I will work on this issue. @argosvr @arrfou90 @amiltonwong. Can you guys share short period of RGBD sequences for me? (maybe about 300 frames) I will need to collect many examples to find out issues.

[2018-07-05 16:09] takanokage commented on #432
True, with my changes I only addressed building the projects which doesn't need to name the header files specifically, only where to find them.
I will add the headers as well.

[2018-07-05 16:24] #429 closed

[2018-07-05 19:13] syncle commented on #231
I've just tried the image sequence @arrfou90.
It is simply because of file naming issue. For example, the file shared by @arrfou90 had the following names:
[code]
This can cause problem as the file list retrieved by Python could be
[code]
This issue will make a large frame jump, and can break RGBD odometry.

I just renamed the frames like this (like the dataset in the tutorial)
[code]
and could ge

[2018-07-05 19:53] rukie commented on #412
CUDA definitely offers some significant speed improvements. I've started playing with these.

https://github.com/mp3guy/ICPCUDA

https://github.com/michaelwillett/GPU-ICP-SLAM

[2018-07-05 19:58] rukie commented on #411
Personal experience: Orienting normals towards camera location significantly improves normals results (after estimating), thus improving point-to-plane registration. I typically review normals in Meshlab, as it easily lets you scale the size of normals for visualization.

[2018-07-05 20:06] rukie commented on #386
Thanks for the question and solution! I've noticed significant speed boosts by writing/saving in binary ply formats over ASCII xyz/xyzrgb formats. File I/O appears to be faster.

Also, In your example, I think you missed an [i]
pcd_combined += **pcd[i]**

[2018-07-05 20:32] qianyizh commented on #411
FYI, you can review normals in Open3D visualizer too.
Just press ``N`` and the normals will be shown. The length of the normals can be changed with ``[`` and ``]``.

[2018-07-05 22:16] takanokage commented on #425
This is a feature request not a bug.
If we agree that solving #430 would also address this one I would vote for closing #425.

[2018-07-05 22:16] takanokage commented on #407
I would personally close this, there's nothing wrong with CMake on Windows. As I've mentioned before this use case is perfectly valid and to support this I would give the example of OpenCV which works exactly the same way.

The second part of this thread looks like a duplicate of #408 and #430.
In fact I would keep only #430.

[2018-07-06 05:58] qianyizh opened #435 "'jpeglib.h' file not found on OSX"
[code]
[code]

All dependency libraries are installed via brew install.

[2018-07-06 06:31] qianyizh opened #436 "library not found for -lGLEW on OSX"
[code]

[2018-07-06 06:32] qianyizh commented on #436
[code]
All dependent libraries are install via brew install.

[2018-07-06 07:11] qianyizh commented on #436
Also I think the fix of this PR https://github.com/IntelVCL/Open3D/pull/394 is reverted too. The current master branch has multiple issues.

[2018-07-06 07:20] syncle commented on #436
Umm, this is bit weird as src/CMakeList.txt has not any history of revert after PR #394. Did something went wrong when we merge pull requests?

[2018-07-06 08:03] #435 closed

[2018-07-06 08:49] argosvr commented on #231
@arrfou90 ? what were the parameters used to capture with the Realsense ? (expo, laser power, etc..)
@syncle here is a link with a capture: you will see that we had no problem with the name of our pictures files and then our problem is certainly coming from something else.
1st test: https://www.dropbox.com/s/5u7mokwbvaj391a/dataset_30fps.zip?dl=0
2nd test : https://www.dropbox.com/s/i5rc9gr8xhtju0

[2018-07-06 08:50] #436 closed

[2018-07-06 14:31] arrfou90 commented on #231
@syncle that is true, thank you. The RGBD odometry  breaks because of file naming issue! I have regenerated the results with proper ordering of the files sequence and it is working as expected. I would suggest to read the files in Alphanumeric order. I have a simple code that can be added to the `def get_file_list(path, extension=None):` inside common.py instead of python native function `file_lis

[2018-07-06 17:12] TheodoreT commented on #417
ok, I see your point. The following seems to do the job:

[code]

I am not sure though if I can replace the for loop with `memcpy()` or `std::copy()`.

[2018-07-06 17:30] rukie opened #438 "Pass intensity to PCD / PLY from numpy array"
I have intensity values with LIDAR information and I'd like to pass it into the PCD variable. I'm looking at the following code example, but I'm not sure how to expand this to include intensity. Previously I wrote out csv's to .xyzrgb files to pass intensity, but I'm benefiting from the binary vs ascii format.

    # Pass xyz to Open3D.PointCloud and visualize
    pcd = PointCloud()
    pcd.points

[2018-07-06 18:17] TheodoreT commented on #410
@syncle ok it seems that my idea of getting the corresponding  albedo color of the mesh vertices from point cloud it does not work, since my albedo image as I said before is double [0-1]. Any idea how I can attach the albedo values on the mesh?:

[code]
however the `pointcloud_ptr->vectices_` is different from `mesh->vertices_`. I actually thought I could map these two so that I could use pointclo

[2018-07-06 18:21] syncle commented on #438
How about trying this?

[code]

[2018-07-06 18:59] syncle commented on #231
@arrfou90: Can you test your function on both Python 2.x and 3.x and submit PR for this? This will help Open3D users to avoid this issue.

_____

@argosvr, I just checked your sequence, and found several issues.

### 124026 sequence
It captured a rotating table.
![2dj2xc](https://user-images.githubusercontent.com/18297113/42394668-d2314d48-810f-11e8-9285-1e4ffdb16c37.gif)
This is ill-posed problem

[2018-07-06 19:06] syncle commented on #410
Hi @TheodoreT, I think I can answer better with minimal code and data snippet. Can you share it with me?

[2018-07-06 19:37] syncle commented on #408
To add some more detail, I have tested with a **fresh** Ubuntu 16.04 and encountered the similar external library issue aforementioned. I used **naive pip**, no anaconda installed.

**pip distribution runs out-of-box**
- **if** all the required dependency are already installed (we have already opened issue for this)
- **if** the installed external library version matches with the one used for buil

[2018-07-06 19:57] TheodoreT commented on #410
Hi @syncle sure, this should do the job:

[code]

So what I need is to assign the `albedo_map_ptr` values to the corresponding `mesh->vertex_color_` or obtain both.
[data.zip](https://github.com/IntelVCL/Open3D/files/2171753/data.zip)

[2018-07-06 20:01] rukie commented on #438
Thanks! I know you're focused on RGBD images, but it might be nice to support a 1d array for colors. There's a decent penalty for storing 6 columns of data, instead of 4.

[2018-07-06 20:15] syncle commented on #386
Yes. The corrected one is
[code]
I am also preparing some updates in the multiway registration tutorial (http://open3d.org/docs/tutorial/Advanced/multiway_registration.html) using this idea.

[2018-07-06 22:37] theriny commented on #357
My python versions for the Anaconda command line environment and CMake match. Yet, I'm getting the error below for `import open3d` after typing 'python' in the Anaconda enviroment.

Error:

Any idea what's going on? All of my builds in CMake were completed with no errors. I get the same error when running a python script in Spyder. I'm also using the following line in Spyder.

`sys.path.append("C:

[2018-07-07 10:30] argosvr commented on #231
@syncle ; thanks for the test.
For the 124026 sequence, I thought about keeping only the rotating object, defining a max depth in order to exclude the background. I thought there was a max-depth parameter usable to exclude the background.
Anyway, using the 3d reconstruction given in the doc, I'm very far away from the results you got.
Could you give a link with the code you used ? it would be a go

[2018-07-07 19:38] syncle commented on #231
I just used reconstruction pipeline without any parameter tunning. This is my shell command:
[code]
Can you try again with up-to-date Open3D pipeline?

-----

Please see:
https://github.com/IntelVCL/Open3D/blob/6ed03b43f256d43a3835a306ab819c5cc9616e20/src/Core/Odometry/Odometry.cpp#L327-L336

The RGBD Odometry ignores depth values which are out of valid depth range, marked as zero, or negative val

[2018-07-07 19:57] syncle commented on #438
That's true. We are planning potential upgrade on the data structure. I will put it to my list.

[2018-07-07 20:48] argosvr commented on #231
Using your shell command on Ubuntu I get this ...
![image](https://user-images.githubusercontent.com/34025459/42414568-ac34e55e-8237-11e8-8d6d-3cc747a000e5.png)
Did you changed very recently your pipeline ?
As far as "masquing" is concerned, I will try on monday.

[2018-07-07 23:28] argosvr opened #441 "problem re-installing open3d"
On Ubuntu after a clone and after a clean.sh, I tried to reinstall open3d.
I had to change some values on CMakeCache.txt turning some BuILD_XXX=ON but after make -j4 I get this:
Scanning dependencies of target ShaderFileTarget
Error copying directory from "/media/argos/UbuntuData/Librairies/Open3D/src/Python/Helper/" to "/media/argos/UbuntuData/Librairies/Open3D/build/lib/.".
Python/CMakeFiles/Pyt

[2018-07-07 23:41] qianyizh commented on #441
Can you tell me the version of Ubuntu?

[2018-07-07 23:43] argosvr commented on #441
yes:
Distributor ID:	Ubuntu
Description:	Ubuntu 16.04.4 LTS
Release:	16.04
Codename:	xenial

[2018-07-07 23:45] qianyizh commented on #441
Let me try to reproduce the error.

[2018-07-08 00:35] qianyizh opened #442 "util/scripts/install-deps-ubuntu.sh broken on fresh installed Ubuntu 16.04"
Ubuntu 16.04, fresh installed within VMWare.

[code]

[2018-07-08 00:38] qianyizh commented on #442
@syncle @takanokage I tried it on multiple Ubuntu systems and none of them worked. Any of you have tested this script and had success? Can you tell me the version of Ubuntu you ran?

[2018-07-08 00:41] qianyizh commented on #408
This is very bad. We need hot fix. I will take over the ownership.

[2018-07-08 00:42] qianyizh commented on #407
I will take over the ownership to fix this.

[2018-07-08 00:43] qianyizh commented on #401
This is very bad. I will take over the ownership.

[2018-07-08 00:44] qianyizh commented on #366
The tons of warnings affect the compilation speed a lot. This is bad. I will take over the ownership.

[2018-07-08 01:04] qianyizh opened #443 "Travis CI is not consistent with install script"
The root cause is this commit.
https://github.com/IntelVCL/Open3D/commit/3b419ca35d873f60d7f84b9ec577164ad01ac012

This needs to be reverted.

[2018-07-08 01:08] qianyizh commented on #443
This commit is broken too:
https://github.com/IntelVCL/Open3D/commit/dd0988673558cf7933abbed13dda264465907e10

It should be reverted after the previous (install dependencies).
Actually we should have multiple CIs to test different versions of Ubuntu, install from dep and build from source.

[2018-07-08 01:10] qianyizh commented on #442
Looks like the package is not packaged for 16.04.

[2018-07-08 01:54] qianyizh commented on #441
Yeah, there was a bug in ``util/scripts/install-deps-ubuntu.sh``. I am fixing it via https://github.com/IntelVCL/Open3D/pull/444

Can you try to run this from a fresh installed Ubuntu 16.04.
[code]

I just tried it on a virtual machine and it worked. Let me know if it works for you.

[2018-07-08 04:24] qianyizh opened #445 "When building from source, GLFW3 not in External folder"
![image](https://user-images.githubusercontent.com/5875217/42416746-141683dc-822c-11e8-9b03-f7075116b20a.png)

[2018-07-08 04:29] syncle commented on #442
I just installed Open3D on Ubuntu 16.04. I had to remove libpng-dev to run this script.

[2018-07-08 04:34] syncle commented on #231
It's bit weird. I will try the same thing on Ubuntu 16.04. (on Monday too :)

[2018-07-08 04:39] qianyizh commented on #366
@syncle there are 27 type conversion warnings in ColorMapOptimization.cpp. You can get this list of warnings by compiling with Visual Studio 2015.

Can you write explicit type conversions and make sure the logic is correct? (I.e., none of the type conversion is not as algorithm designed.)

[code]

[2018-07-08 04:42] syncle commented on #366
working on it.

[2018-07-08 05:11] qianyizh commented on #436
Re CI: it is shortcut to this:
[code]
So it never checks builds with system installed libraries.
This is tracked in #443

[2018-07-08 08:37] syncle commented on #366
As a note, warnings appear in Xcode 8.3. I need to investigate more, but think these lines
[code]
related to root cause.

[2018-07-08 08:55] argosvr commented on #441
Well, I'm sorry but I can't make a fresh install at the moment.
Then I tried your commands and yes it solves the problem with util/scripts/install-deps-ubuntu.sh

but with make -j I got the same problem:
make -j
Error copying directory from "/media/argos/UbuntuData/Librairies/Open3D/src/Python/Helper/" to "/media/argos/UbuntuData/Librairies/Open3D/build/lib/.".
Error copying directory from "/media

[2018-07-08 09:01] qianyizh commented on #441
Umm, this is weird. I have never seen this type of error before. Looks like it fails at copying directories.

Can you first double check you have the write permission to the folder, and there is enough disk space. If it still does not work, try to make a fresh clone and run cmake and make again?

[2018-07-08 09:24] qianyizh opened #447 "Setup CI for Ubuntu 16.04 and 18.04"
Travis CI only supports Ubuntu 14.04 for now. And there seems to be no plan in the near future. See this thread: https://github.com/travis-ci/travis-ci/issues/5821

For now, we have to manually test build systems for Ubuntu 16.04 and Ubuntu 18.04.
We should setup Jenkins CI.

[2018-07-08 09:34] qianyizh commented on #441
Ah I see. Yeah, this looks like a bug.
Can you try to create two empty folders ``Open3D/src/Python/Test/`` and ``Open3D/src/Python/Helper/``.
See if the build can pass.

[2018-07-08 09:36] qianyizh commented on #441
Or remove these lines:
https://github.com/IntelVCL/Open3D/blob/050e123ebb18092092009a1cdf51ec1450e20129/src/Python/CMakeLists.txt#L29-L46

I will write a PR to remove these.

[2018-07-08 09:39] argosvr commented on #441
Ok.. it worked creating  two empty folders Open3D/src/Python/Test/ and Open3D/src/Python/Helper/.

[2018-07-08 10:00] argosvr opened #449 "ReconstructionSystem with fresh install on Ubuntu 16.04"
with a fresh install, I get this problem using make_fragment.py :

Fragment 000 / 003 :: RGBD matching between frame : 98 and 99
Traceback (most recent call last):
  File "make_fragments.py", line 150, in <module>
    process_fragments(args.path_dataset, args.path_intrinsic)
  File "make_fragments.py", line 133, in process_fragments
    optimize_posegraph_for_fragment(path_dataset, fragment_id)

[2018-07-08 10:15] qianyiforma commented on #449
I saw your post, 😄
I think you are using a wrong version of Open3D.
Can you try this in python:
[code]
You should see something like:
[code]
The third initialization function should work with the latest make_fragment script. (In your log, the init function does not take parameter preference_loop_closure as input.)

[2018-07-08 10:17] argosvr commented on #449
Thanks! in fact the problem was that I made a fresh clone of open3d but after that I used the old terminal windows open on the previous install.. then it was pointing to the trash and the old version... stupid me !

[2018-07-08 10:29] #374 closed

[2018-07-08 10:30] #386 closed

[2018-07-08 10:41] qianyiforma commented on #449
I think you are still importing a wrong version of Open3D.
Can you go to ``build/lib/Python`` folder, run Python (use the right python version, which should match the name of the .so file), then do the ``help(...)`` thing there?

[2018-07-08 11:08] argosvr commented on #449
I have this : open3d.cpython-35m-x86_64-linux-gnu.so

no Python documentation found for 'open3d.cpython-35m-x86_64-linux-gnu.so'

I just tried a make uninstall and a make install to be sure to build the right Open3D Python module. But same result.

[2018-07-08 12:10] argosvr commented on #449
I think it has something to do with the problem we have to install the last version of open3d on Ubuntu 16.04 (see issue #441 )
when I try python biding, I got this:
 cmake -DPYTHON_EXECUTABLE:FILEPATH=/usr/lib/python2.7/ ../src
CMake Deprecation Warning at CMakeLists.txt:8 (cmake_policy):
  The OLD behavior for policy CMP0054 will be removed from a future version
  of CMake.

  The cmake-policies

[2018-07-08 12:12] argosvr commented on #441
well... if mke -j is working, their is still a problem with python biding...
when I try to bind it I got this:
 cmake -DPYTHON_EXECUTABLE:FILEPATH=/usr/lib/python2.7/ ../src
CMake Deprecation Warning at CMakeLists.txt:8 (cmake_policy):
  The OLD behavior for policy CMP0054 will be removed from a future version
  of CMake.

  The cmake-policies(7) manual explains that the OLD behaviors of all
  pol

[2018-07-08 19:02] #442 closed

[2018-07-08 19:05] syncle commented on #443
Addressed in #444.

[2018-07-08 19:05] #443 closed

[2018-07-08 19:05] syncle commented on #445
Addressed in #444.

[2018-07-08 19:05] #445 closed

[2018-07-08 19:06] syncle commented on #407
Adressed in #444.

[2018-07-08 19:06] #407 closed

[2018-07-09 05:42] qianyizh commented on #441
Sorry for the late reply.
You need to specify ``DPYTHON_LIBRARY`` besides ``DPYTHON_EXECUTABLE:FILEPATH``.
See this #66

I will fix the doc.

[2018-07-09 05:43] qianyizh commented on #449
Merge this thread with #441

[2018-07-09 05:43] #449 closed

[2018-07-09 05:55] qianyizh commented on #357
@theriny did you use Visual Studio to compile it? If that is the case, the directory should be ``C:/Users/imaging/Open3D/build/lib/Python/Release/``, in which you should find a file named ``open3d.cp36-win_amd64.pyd`` or something like that.

I also notice you are importing ``py3d``. It is an old name. If you are using the latest build, this should be ``open3d``.

[2018-07-09 06:45] theriny commented on #357
@qianyizh Yes, I did use VS to compile. I fixed the problem. It seems that Python and Open3D were not on the same system path. So, I basically created variables for each of them which includes there path on my machine. Then, I added them to the same variable named 'path'.

![capture](https://user-images.githubusercontent.com/17436806/42434715-ca2daac2-8319-11e8-8378-4ece4ed53516.PNG)

[2018-07-09 06:58] #357 closed

[2018-07-09 12:20] yoshiyama commented on #420
My PC is Windows 10 64bit with Python 3.5.2 32bit and CMake 3.11.4.

[2018-07-09 14:21] arrfou90 commented on #231
Yes, sure. I did the test and I am going to submit a PR soon.

[2018-07-09 17:31] #413 closed

[2018-07-09 17:32] syncle commented on #411
Hi @daegeumer, can you confirm the answers helped to resolve the issue?

[2018-07-09 17:34] syncle commented on #354
Closing for now. @channingxiao If you find any useful for this task, feel free to make a PR. :)

[2018-07-09 17:34] #354 closed

[2018-07-09 17:55] TheodoreT commented on #410
@syncle any update on the above?

[2018-07-09 17:59] syncle commented on #410
Not yet. I will try today.

[2018-07-09 18:01] TheodoreT commented on #410
I see, sure :-).
Looking forward.

[2018-07-09 19:42] syncle commented on #231
@argosvr: I got the same result using Ubuntu. The only difference is that I've showed one fragment and you've showed the whole reconstruction. As I explained before, the sequence is not valid for reconstruction system as the scene is not static. Please mask out background scene and try again.

[2018-07-10 08:43] blackccpie opened #451 "Coordinate frame displayed on the visualization windows"
Hello,

This is rather a feature request than an issue, but I think it would be great if we could have coordinate frame displayed on the visualization windows.

Thx

[2018-07-10 13:39] daegeumer commented on #411
oh, I'm sorry. Do I have to close the issue? Thank you for your comments. These comments help me to solve the problem. I'll close the issue right now. Thanks!

[2018-07-10 13:39] #411 closed

[2018-07-10 16:35] syncle commented on #451
Hi @blackccpie. Open3D has a primitive for coordinate frame. http://open3d.org/docs/tutorial/Basic/visualization.html#geometry-primitives is this what you mean?

[2018-07-10 16:37] syncle commented on #411
No you don't have to. (I sometimes close inactive threads to focus on opening issues). I just wanted to ask whether the issue is resolved.

[2018-07-11 09:08] blackccpie commented on #451
Hi @syncle, my mistake, I missed that in the doc and that's what I need!
Thanks for the tip

[2018-07-11 09:08] #451 closed

[2018-07-11 09:56] arrfou90 commented on #231
@syncle The calibration of the D400 family sensors is done internally on board and these parameters are accessible only via SDK API.  I have extracted the parameters via the Intel realsense APIs for **D415** and **D435** that I have.
I suppose these intrinsic parameters are slightly different depending on each sensor (i.e. two D435 sensors could have slightly different intrinsic parameters). For e

[2018-07-11 16:55] qianyizh commented on #420
@yoshiyama can you try the solution in #66 ?
In short, you need to specify these:
[code]

(Sorry I don't have a Windows machine at hand so I can't test it right now.) You can start with adding ``-DPYTHON_EXECUTABLE:FILEPATH``, then ``-DPYTHON_LIBRARY``, then ``-DPYTHON_INCLUDE_DIR``.

It is a known issue CMake gets confused when looking for Python executable and library and directory. On pybind11

[2018-07-11 16:58] qianyizh commented on #420
@dotchang Sorry for the late reply. I am trying to fix the build system. Yeah, it has not been managed well and has some issues.

If you want to turn off Python binding, can you try to use the following switch:
[code]

Will the error still exist? I can't duplicate the error so need your help, :)

[2018-07-12 06:01] #410 closed

[2018-07-12 11:19] TheodoreT commented on #410
thanks @syncle, @qianyizh.

[2018-07-12 11:54] TheodoreT commented on #417
@qianyizh I couldn't find a way to replace the above loop with `memcpy()` or `std::copy()`. Thus if you do not have any other proposal or idea whether this is possible we can close this issue ;-).

[2018-07-12 14:01] godfather1402 opened #454 "Noisy marching cubes mesh"
I found the marching cubes mesh algorithm(extract from TSDF volume) provides a noisy mesh as a tutorial here
http://www.open3d.org/docs/tutorial/Advanced/rgbd_integration.html#tsdf-volume-integration
But the provided mesh (fountain dataset) in the color map optimization tutorial is very smooth
I would like to ask a question that how I can obtain the smooth mesh?
I think marching cubes mesh algorit

[2018-07-12 17:06] syncle commented on #454
HI @godfather1402. TSDF volume works like average filter in 3D space. If there is more and more frames are integrated, there are more and more samples will be gathered around the target surface. This will produce high fidelity surface if we extract a mesh from the final volume. In this way, if we integrate more frames, we can get smoother mesh.

The provided tutorial only integrates five noisy RGB

[2018-07-12 17:19] longchao343 commented on #359
Hi,@qianyizh，thanks for your good suggestion. Indeed, I use the imu observation to provide good rotation estimate when I get started. But I found both ICP and Fpfh ransac matching perform badly. And then I replaced transform estimate functions using Eigen LM, but I found even if I fixed rotation, translation was still bad for both fpfh and point to plane icp. I think accurate prior rotation did no

[2018-07-12 18:46] takanokage opened #456 "create deb installer"
Building from source is error prone. Installing with pip can be unreliable because of package dependencies that pip cannot handle.

On Ubuntu maybe we could simplify the situation by creating a deb package.
Imagine installing on Ubuntu like this:

```sudo dpkg -i libopen3d.0.2.1_amd64.deb```

pip install can't handle dependencies installed through apt-get. various package managers introduce their

[2018-07-12 20:59] takanokage commented on #456
that's fair. just an idea.

[2018-07-13 01:04] syncle commented on #447
Jenkins CI is good option in general, but I've also searched for reasonable solution and found Semaphore CI. It is Ubuntu 16.04 based, and supports very fast configuration. Each build took about 5:20 including installing dependencies. I've mimicked our Travis CI build here: https://semaphoreci.com/syncle/open3d/branches/master/builds/11
@qianyizh How do you think?

[2018-07-13 02:28] adioshun opened #457 "how can I get the result of "estimate_normals""
I am trying to estimate the normals. (As I know, it will be  `nx,ny,nz` format ???)

I follow the code without downsampling step, however the result is the same.

[code]
also the `result` is a bool value : `result = estimate_normals(downpcd, search_param = KDTreeSearchParamHybrid(radius = 1.0, max_nn = 5))`

could you give me comments or a sample code to test.

Thanks

[2018-07-13 04:52] qianyizh commented on #447
Up to you!

[2018-07-13 05:39] qianyizh commented on #359
If you have a good initialization, do ICP. If the initialization is not good. There are not many good options. The most promising method is to limit the DOF and write a different optimization for global optimization. It's on our roadmap but Open3D does not have it right now.

[2018-07-13 05:40] #417 closed

[2018-07-13 05:41] qianyizh commented on #417
Sure. Feel free to re-open / close issues when you think it is necessary.

[2018-07-13 05:41] #424 closed

[2018-07-13 05:41] #454 closed

[2018-07-13 05:49] syncle commented on #457
HI @adioshun.

Try this
[code]
``estimate_normals`` is inplace function. The return value is nothing to do with vertex normal.

[2018-07-13 15:39] takanokage commented on #294
Let's revisit this topic.

[2018-07-15 04:41] arcosintan opened #458 "Error when import open3d in python"
Hi, when I import open3d in python, it shows error message like this
`Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/Users/tierney/.local/lib/python3.6/site-packages/open3d/__init__.py", line 11, in <module>
    from open3d.macos import *
  File "/Users/tierney/.local/lib/python3.6/site-packages/open3d/macos/__init__.py", line 7, in <module>
    globals().update(

[2018-07-15 04:59] arcosintan commented on #458
Sorry for this issue post. As developers mentioned, open3d only support native python environment

[2018-07-15 05:29] syncle commented on #458
HI @arcosintan. Actually the error looks like the issue of python version mismatch: the python version used for compilation and the python version used for execution is not matching. I saw this type of error message many times for this case.

Can you try check what python version cmake detected, and try this tutorial http://open3d.org/docs/compilation.html#python-binding to fix this?

[2018-07-15 06:14] arcosintan commented on #458
I used conda and cmake gui to build open3d, the python version I choosed is in miniconda/envs/op3d/bin/python, which is python 3.6. I thought this issue was caused by non-native python. So, highly demand conda support. Thanks for replying me so fast.

[2018-07-15 06:29] syncle commented on #458
It is bit weird. Open3D should run if you build from source regardless it is running native python or not. The native python issue we aware is the case when open3d module is installed by ``pip``. I build Open3D using my Mac use it with ``anaconda``. For example, when I run cmake, cmake says
[code]
After building and install ``make -j install``, I got
[code]
I can use Open3D like below:
[code]
Can

[2018-07-15 08:00] arcosintan commented on #458
I got it works, thank you so much. I didn't attach -j when I make it. But during the process of make, there are a lot of warnings generated, which is not happened when I do make without -j. after all, it works.

[2018-07-15 13:17] daegeumer commented on #411
Ok! Thank you for your concern!👍

[2018-07-15 16:36] syncle commented on #458
Good to hear! Actually ``make -j`` is for building source using multiple cores. I think some of warning messages are still appearing but blow away quickly in terminal since multiple cores building codes at the same time. We are aware this warning issue, and shall be fixed.

[2018-07-15 16:36] #458 closed

[2018-07-16 01:35] arcosintan opened #460 "failed to load jpg and png file"
I use opencv2's imwrite function to save color and depth image, the depth image is CV_16UC1 and color image is CV_8UC4. My environment is python3.6

After I run the sample rgbd-redwood with replaced file path. open3d shows:
[CreateRGBDImageFromColorAndDepth] Unsupported image format.
RGBDImage of size
Color image : 0x0, with 0 channels.
Depth image : 0x0, with 0 channels.
Use numpy.asarray to acce

[2018-07-16 02:08] lrxjason commented on #231
If using kinect2, which way is better?
1. align the depth image to color image. Both are 1920 * 1080 resolution.
2. align the color image to depth image. Both are 512 * 424.

[2018-07-16 02:21] syncle commented on #460
Can you share one pair of image? Let me quick check.

[2018-07-16 02:56] lrxjason commented on #231
I'm using the libfreenect2 to register the color and depth images with method 2. After applying the register function, the resized color image has some invalid pixels. Is that good for scene reconstruction?

[2018-07-16 08:43] arcosintan commented on #460
I saw #44, thank you.

[2018-07-16 08:49] arcosintan commented on #460
So, if I have 1080p color image and 424p depth image, should I scale color image to 424p or crop a 424p image from the original one?

[2018-07-16 10:57] adioshun commented on #457
@syncle  thanks for your comment. I tried it. but, it does not work neither.

Are there any requirements to get the normals from PCD. (eg. *.ply only, needs voxelization)

I also tried `TestData` on your github.

![](https://i.imgur.com/J9XWKZ6.png)

[2018-07-16 13:12] longchao343 commented on #359
Hi, @qianyizh ,I have test fine gained icp, and I found when I set voxel very small, icp could give a good init estimate. But wrong registration happend, if distance bigger than 2m(overlap < 30%).  Can you tell me how to design a good different energy function to only optimise translation? Maybe I can have a try and give some feedback. Thanks.

[2018-07-16 15:45] syncle commented on #457
Oh, it is bit weird since I cannot see any issues with ``TestData/fragment.ply`` file.

This is my log:
[code]
The only suspicious line is that ``pcd.has_normals()`` is ``False`` in your case.
Can you check fragment.ply file again whether it is modified to lose normal directions for some reason?

Of course, in general, it is necessary to compute point normal if a point cloud don't have point norma

[2018-07-16 15:51] syncle commented on #460
It is more like resizing. Actually, color and depth cameras need to be calibrated, and need to be aligned in the same image domain. It will be not just cropping or resizing, but like mapping pixels to new domain using extrinsic/intrinsic calibration information. Aligning color and depth image domain is necessary for some applications: reconstruction system and color map optimization and so on.

Mo

[2018-07-16 17:54] arcosintan commented on #460
Thank you!

[2018-07-16 18:16] syncle commented on #460
Good to hear. Let me close this issue. Please open again if necessary.

[2018-07-16 18:16] #460 closed

[2018-07-17 06:09] konnerthg opened #461 "internal compiler error: Killed during build, presumably memory related"
Error while building:

c++: internal compiler error: Killed (program cc1plus)
Please submit a full bug report,
with preprocessed source if appropriate.
See <file:///usr/share/doc/gcc-5/README.Bugs> for instructions.
Core/CMakeFiles/Core.dir/build.make:806: recipe for target 'Core/CMakeFiles/Core.dir/Utility/Eigen.cpp.o' failed
make[2]: *** [Core/CMakeFiles/Core.dir/Utility/Eigen.cpp.o] Error 4
mak

[2018-07-17 06:41] syncle commented on #461
Hi. Is this virtual machine? Actually I experienced the same issue when I used a virtual machine with 2 CPU cores. My fix was to use:
[code]
instead of
[code]
This will only use single thread and take much longer time, but it should work. Open3D is not heavy library. I believe it would run on 4GB memory.

[2018-07-17 07:25] mrtpk opened #462 "Import error"
When I tried to import open3d, this is the error I got. Please help.

(dev) tpk@desktop:~$ python
Python 3.5.2 | packaged by conda-forge | (default, Jan 19 2017, 15:28:33)
[GCC 4.8.2 20140120 (Red Hat 4.8.2-15)] on linux
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/tpk/anaconda3/envs/d

[2018-07-17 08:45] konnerthg commented on #461
Solved. Thank you.

[2018-07-17 08:45] #461 closed

[2018-07-17 13:55] rukie opened #463 "Question: Combine transformations"
Let's assume I have 30 frames of continuous data. I have 3 "fragments" that are assembled from 10 frames each. I know the transformation of frame 0-9, 10-19, 20-29. Each of these fragments assumed every frame starts at x,y,z of 0,0,0.

When I go to combine fragment 0, 1, and 2 I can assume that the initial transformation of fragment 1 is the last transformation of frame 0-9 in fragment 0. When I a

[2018-07-17 16:55] syncle commented on #462
Hi. It seems like ``libglfw.so.3`` was not found.
There are two solutions.
- Try run ``util/scripts/install-deps-ubuntu.sh``. It will install glfw3 in your system.
- Build from source. Actually this option is very easy. Please check out [this](http://open3d.org/docs/getting_started.html#ubuntu).

To understand the issue better - are you using ``pip`` to install open3d? If you decide to go 'build f

[2018-07-17 17:07] syncle commented on #463
Yes. It is matrix multiplication.

As a quick answer, this is implemented in this tutorial. http://open3d.org/docs/tutorial/ReconstructionSystem/integrate_scene.html#integrate-rgbd-frames

Take a look at this line:
[code]
It multiplies matrices (note: you will have to use numpy.dot instead of '*' operator. '*' is element-wise matrix multiplication) to make a global, accumulated pose.

Let's say th

[2018-07-17 19:36] rukie commented on #463
Thank you for clarifying!

[2018-07-18 04:09] mrtpk commented on #462
I had tried both pip and `build from source`. Both yield the same error.

[2018-07-18 16:29] syncle commented on #462
I think pip package is still being imported and looking for libglfw3 that is missing. If the package were built from source, libglfw3 should be built and be installed. Can you make clean environment that does not have pip package and retry?

or you can run:
[code]
to explicitly install libglfw3.

[2018-07-19 04:19] qianyizh commented on #359
@syncle can you followup with the last question and give some insights? You contributed most to the registration part, :)

[2018-07-19 11:44] baptiste-mnh commented on #463
Hi,
I'm not sure to understand .
I have 3 cameras in a column(let call them n° 1, 2 and 3).
I successfully align:  3->2 and 2->1 (source -> target)
I want my camera 1 to be the target for the 2 and the 3.

How to get the matrix to directly align the camera 3 on the camera 1 . I tried to multiply the one I get form the 3->2 registration with the 2-1 without success.

I tried to do something like th

[2018-07-19 17:00] syncle commented on #359
I think this is related to the feature request opened in #409. Let me think how we can modularize ICP or registrations.

[2018-07-20 10:04] mutp commented on #130
Is there documentation on the instructions I need to add to my CMake file to include Open3D in my C++ project?
I've done ` find_package(Open3D) `but CMake can't find Open3D.

[2018-07-20 10:07] qianyizh commented on #130
This function is currently experimental. But we have got success on a few different operating systems.
Can you try to follow this tutorial:
http://www.open3d.org/docs/tutorial/C++/cplusplus_interface.html
See if you can make it work? Post problems you have encountered in this thread.

[2018-07-20 10:34] qianyizh commented on #130
In that case, your Open3D installation should appear in something like: ``C:\Program Files\Open3D\CMake``, you can feed this path to:
[code]
Can you try it?
I don't have a Windows machine at my hand, but I think either @syncle or @takanokage have successfully tested it on Windows before.

[2018-07-20 10:50] mutp commented on #130
Sure, I'm trying it.
This is the new line -

This doesn't work either.
Which folder do I need to put in that line for the hint? CMake isn't a directory inside Open3D/build. CMake directory only exists inside "~/open3d_install/src/CMake"

[2018-07-20 10:57] qianyizh commented on #130
It is supposed to be your install folder.
When you compile the "INSTALL" object, it copies lots of files (exe, dll, lib, h) to your program install folder (C:\program files\Open3D, or a customized folder you specified with CMAKE_INSTALL_PREFIX when you setup CMake for Open3D source code). You should be able to find these copy commands in your "output" panel (at the bottom of Visual Studio). You ma

[2018-07-20 11:41] mutp commented on #130
Ah, so that worked out great. Now I'm able to generate the project, sln files and open it up in Visual Studio.
However, when I build my project in VS, I get a linker error

Error	LNK1104	cannot open file 'Open3D.lib'	TestVisualizer	D:\Workspace\Ext. Source Code\Open3D test\build\LINK	1

[2018-07-20 11:46] qianyizh commented on #130
Umm, I really need to have access to a windows machine in order to help you test this. @syncle can you help with this issue?

The error looks like Open3D.lib is not at the specified path. Can you manually check? Open project property, go to link (linker?) panel, first check additional linker dir, then check the library name (I forgot if it is absolute path or relative path. If it is the latter, th

[2018-07-20 11:49] qianyizh commented on #130
This may very likely to be a bug in findopen3d.cmake. I don’t think it has been thoroughly tested on windows. Last time I had a similar issue and I had to manually fix it with Visual Studio project settings (as I described in my last post). I can double check when I can have access of a windows machine tomorrow.

[2018-07-20 11:53] mutp commented on #130
I manually checked the project properties in VS and this is what there is.
1. **Additional library directories -**
![1](https://user-images.githubusercontent.com/8210008/43001036-6bb0b18e-8c41-11e8-9026-9c44e48d4a94.PNG)

2. **Additional Dependencies -**
![2](https://user-images.githubusercontent.com/8210008/43001037-6bdaecec-8c41-11e8-96e2-e9b74575888a.PNG)

[2018-07-20 11:55] qianyizh commented on #130
Yes. Can you add this to additional library directory: c:\program files\open3d\lib\

[2018-07-20 11:58] mutp commented on #130
That error is gone. But it says

Should I rename glfw to glfw3 in the CMake file? There is no glfw.lib file in the lib directory.

[2018-07-20 11:59] qianyizh commented on #130
Yes.

[2018-07-20 12:02] mutp commented on #130
It builds now! Phew

[2018-07-20 22:43] yzp12 opened #465 "reconstruction quality on redwood"
I followed the tutorial on reconstruction section and ran reconstruction on 100 models from http://redwood-data.org/3dscan/dataset.html?c=chair. I found the quality is not as good as the reconstructions provided by choi2015. For example, following two pictures are reconstruction by open3d and choi2015 respectively.
![screenshot from 2018-07-20 17-38-49](https://user-images.githubusercontent.com/91

[2018-07-20 22:46] syncle commented on #465
Oh, interesting. Is that this sequence? http://redwood-data.org/3dscan/dataset.html?c=chair&i=288
I will have a look.

[2018-07-20 23:34] syncle commented on #465
Oh, I know why. This dataset is not synchronized. You may notice depth images are 2032 and color images are 2024 frames. I have actually one python script that can do synchronization received from anonymous Open3D user. Let me use it and keep you posted.

[2018-07-20 23:39] yzp12 commented on #465
Indeed, thank you for doing the test!

[2018-07-23 09:03] dotchang opened #467 "Small bug of Visualizer::CaptureScreenImage's __APPLE__ case of VisualizerRender.cpp"
In the line 248 of VisualizerRender.cpp,
glReadPixels(j, 0, 1, depth_image.width_,
                GL_DEPTH_COMPONENT, GL_FLOAT,
                float_buffer.data());

4th argument "depth_image.width_" will work well at wide image case(width >= height), but it will not work at thin image case(height > width).
I think, it would be better to "std::max(depth_image.width_, depth_image.height_)".

[2018-07-23 10:45] mutp opened #468 "Error while running point-to-plane ICP"
Whenever I run global registration or multiway registration on my point clouds, I get this error -

The error clearly happens when running the ICP part of the above two algorithms.
What am I doing wrong?

[2018-07-23 14:08] rafael2k opened #469 "LibRealSense works on Linux, why not in Open3D"
According to librealsense upstream, Linux is supported:
https://github.com/IntelRealSense/librealsense

But Open3D does not compile with system installed librealsense, nor with embedded one (indeed, if compiled with embedded one tweaking the build system, I get no devices found). Indeed, for Linux, it's explicitly disabled...

[2018-07-23 21:45] qianyizh commented on #469
The current RealSense support in Open3D is a legacy one I did two (?) years ago. It is legacy. Back then I only tested the R200 sensor. The library was not well-supported by Linux. Some patches have to be made to the kernel and some drivers have to be installed. There were also some minor issues (e.g., can't lock exposure of the color camera, etc) when used on Linux. So I made the decision to turn

[2018-07-23 21:48] qianyizh commented on #468
The point cloud needs to have normal. You can run ``estimate_normals()`` function to do it. See the Note in this page:
http://www.open3d.org/docs/tutorial/Basic/icp_registration.html

[2018-07-23 21:49] Hippogriff opened #470 "Poisson Sampling of meshes for point cloud generation"
Is it possible to sample meshes using Poisson sampling algorithm, or something similar? It will also be great to have a correspondence routine that gives correspondence between point from the point cloud and face on the mesh.

[2018-07-23 21:53] qianyizh commented on #467
Umm, this looks like a bug.
If it read column by column, then it should be:
[code]
instead of:
https://github.com/IntelVCL/Open3D/blob/9cc63acf16e7ad67dca9dceca0a73bba192f66a7/src/Visualization/Visualizer/VisualizerRender.cpp#L248-L250

[2018-07-24 04:48] syncle commented on #465
Hi. This sequence has several issues:
- The sequence has a moving object - there is flag on the scene, and the only moving flag is captured for some time. That challenged RGBD odometry a lot.
- The depth quality is bad - the depth is captured in invalid range (particularly among 1900~2000 frames, almost of the depth pixels are invalid).

I will update my findings to hopefully cover this sequence t

[2018-07-24 09:34] dotchang commented on #467
I see.
I don't have mac environment actually. Could you fix it?

[2018-07-24 09:39] mutp opened #471 "Global registration fails on my data"
When I run global registration python script on my point clouds, I only get a blank white viewer with no data visualized.

What could be the reason for this failure? I am attaching my point cloud data, could someone please take a look.

Thanks in advance.
[data.zip](https://github.com/IntelVCL/Open3D/files/2222965/data.zip)

[2018-07-24 09:42] mutp commented on #468
In the global registration example, estimate_normals() is run. Still when the code reaches  Point-to-plane ICP registration, I get the same error

I'm running the Tutorial global_registration.py script on my data. (Attached the data
[data.zip](https://github.com/IntelVCL/Open3D/files/2222980/data.zip)
it here)

[2018-07-24 09:47] #468 closed

[2018-07-24 10:09] mutp commented on #471
Once I changed to `voxel_size = 0.00001`, my point clouds were able to be globally registered. I had a question regarding the result of the global registration.  Are these return values correct or is there scope for further improvement.

[2018-07-24 14:12] rafael2k commented on #469
Thanks!! Closing the ticket then.

[2018-07-24 14:12] #469 closed

[2018-07-24 17:33] syncle commented on #471
It is because the point clouds are too tiny. The tutorial code is intended for the space using metric unit: 1 means 1m. However, the horizontal/vertical span of your point cloud is about 0.00035. If you directly reuse the tutorial code, this means you are using point clouds spanning only 0.035mm.

In this case, since the tutorial code downsamples point using voxels of few centimeters size, all the

[2018-07-24 17:35] syncle commented on #468
This is the issue related to the size of the point cloud. Please check https://github.com/IntelVCL/Open3D/issues/471#issuecomment-407488801

[2018-07-24 17:35] #463 closed

[2018-07-24 17:50] syncle commented on #457
Hi @adioshun, can you clarify this answer was helpful for you?

[2018-07-24 18:08] syncle commented on #467
I agree with @qianyizh . According to this https://www.khronos.org/registry/OpenGL-Refpages/gl4/html/glReadPixels.xhtml, the ``depth_image.height_`` should be used in the fourth arguement.

@dotchang: Thanks for finding the issue! The routine actually reads opengl buffer pixels column by column, and this should work for both width >= height or width < height case. I will double-check with my Mac a

[2018-07-24 18:33] #467 closed

[2018-07-25 01:33] yzp12 commented on #465
Hi @syncle ,
You are right, this sequence may indeed be too difficult. But i found similar problems reconstructing other sequences, such like [http://redwood-data.org/3dscan/dataset.html?c=chair&i=21.](url).
I got something like this:

![screenshot from 2018-06-01 01-54-17](https://user-images.githubusercontent.com/9149228/43174626-c252bc98-8f80-11e8-9209-2d44c93e8099.png)

[2018-07-25 01:33] yzp12 commented on #465
Hi @syncle ,
You are right, this sequence may indeed be too difficult. But i found similar problems reconstructing other sequences, such like http://redwood-data.org/3dscan/dataset.html?c=chair&i=21..
I got something like this:
![screenshot from 2018-07-24 20-31-51](https://user-images.githubusercontent.com/9149228/43174650-d831dabc-8f80-11e8-951d-d24d937051b9.png)

[2018-07-25 05:53] mutp commented on #471
Perfect, thanks for your response. I'll try your suggestions.

[2018-07-25 12:42] baptiste-mnh opened #473 "Convert Realsense poincloud in Open3D pointcloud"
Hi!
I'm currently trying to experiment real time alignement with Realsense D400 with the python wrapper.
I'm successfully align my point cloud by saving the PLY and then open them with the 'read_point_cloud()' function.
But the open/writing time is to long and of course not the proper way to do it.
So I tried to convert my realsense pointclouds to numpy and then get it from Open3D but it looks lik

[2018-07-25 14:30] mutp opened #474 "ComputeRGBDOdometry failing in cpp but works in python"
I'm trying to run ComputeRGBDOdometry in cpp but I get a failure. However, when I run the same code in python it works. Not sure what exactly is `wrong.

python -

[code]
Output -
![python-o](https://user-images.githubusercontent.com/8210008/43207061-ca7c50f4-9044-11e8-9793-0647e235d756.PNG)

c++ -
[code]

output -
![cpp-o](https://user-images.githubusercontent.com/8210008/43207118-e72b9d9a-9044-1

[2018-07-25 18:13] syncle commented on #465
I just tried this sequence, and found some reasons
- RGBD odometry regards the matching process is failure if the number of the correspondence pixels are smaller than ``image_width x image_height x 0.3``.
- However, the redwood dataset captures the object closely, and most of the pixels are not in the depth camera range. Therefore, it is often the case that valid number of correspondences are smal

[2018-07-25 19:48] syncle commented on #473
How about making a RGBD image first and then make a point cloud? For example:

[code]
This will remove point cloud I/O. I actually haven't tested ``depth_frame_open3d = Image(depth_frame)``. It is just quick suggestion. You may need to copy raw frame buffers.

[2018-07-25 19:54] syncle commented on #470
Thanks @Hippogriff for the suggestion. We are preparing other new features, so this might not be implemented in the near feature. We are always welcome if you are willing to contribute. :)

[2018-07-25 19:59] baptiste-mnh commented on #473
Hi,
Yes that what I'm doing for now but using this method there is a small of between the point cloud and the texture (if I take my face with a wall behind me, the very left of my face will get the color of the wall), this doesn't appear when I use the point cloud  from the Realsense SDK.
Maybe there is a way to better apply the création of the pointcloud from depth and color using open3D lib?

[2018-07-25 20:37] syncle commented on #473
I see. How about using librealsense in order to transform depth image to color image domain? There is an interesting example for this: https://github.com/IntelRealSense/librealsense/tree/master/examples/align

[2018-07-26 01:23] DKandrew opened #475 "Cannot install the Open3D"
**Describe the bug**
Cannot install the Open3D by following the tutorial described here: http://open3d.org/docs/getting_started.html

Tried the solution [#441](https://github.com/IntelVCL/Open3D/issues/441) but doesn't work.

Failed to make the file at [56%],
[code]

Using pip to install the open3d also reports
[code]

**To Reproduce**
Steps to reproduce the behavior:

Fresh build of Open3D by fol

[2018-07-26 05:06] syncle commented on #475
Hi I think jsoncpp lib already installed in your system is conflicting with the jsoncpp related codes in Open3D. Could you try the following and share your experience?
[code]

[2018-07-26 07:09] mutp commented on #474
Yes, I printed the values of the color, depth images in the RGBD image and got the same values. Please see attached images.

Python -
![python-o](https://user-images.githubusercontent.com/8210008/43246896-bc01c9e6-90d0-11e8-951c-e6a2bf8e73ba.PNG)

C++ -
![cpp-o](https://user-images.githubusercontent.com/8210008/43246951-e25599a6-90d0-11e8-940a-e09852e5cf47.PNG)

[2018-07-26 08:22] baptiste-mnh commented on #473
I'll try to use the equivalent with there python wrapper, thanks!

I can't move the object, each time I pool_events it reset the view point is there a way to save this view point and re-apply it?

With this code :
[code]

[2018-07-26 11:57] adioshun commented on #457
@syncle Now, it works. thanks alot

[2018-07-26 11:57] #457 closed

[2018-07-26 14:40] argosvr commented on #403
hello... we encounter the same problem trying to visualize in realtime a PC. But Vector3dVector  is really far to slow to do something workable.

[2018-07-26 14:43] Andyjk1406 opened #476 "Get number of iterations for ICP convergence"
Hi

I am used to C++ but am running this nice library in Python to test the functions.

Is it possible to find out how many iterations ICP actually took ?

` reg_p2l = registration_icp(source, target, threshold, trans_init,
            TransformationEstimationPointToPlane(),ICPConvergenceCriteria(1e-12,1e-12,2000))
print(reg_2pl.iterations_final)`

doesn't work (but it was just a guess!), and in P

[2018-07-26 14:44] baptiste-mnh commented on #473
To test te most efficient way to show in realtime the pointcloud from Realsense, I apply this solution and it works : https://github.com/erleben/pySoRo#adding-two-dimensional-data-protocols

So I just have to do :
[code]
But it still  be slow due to the Vector3dVector(vtx) part.
So I close the issue because this issue is already treat here https://github.com/IntelVCL/Open3D/issues/403.

Thanks a l

[2018-07-26 16:23] syncle commented on #473
Thanks for sharing your valuable script to us. It is obvious the remaining bottleneck is #403.

[2018-07-26 16:32] syncle commented on #476
Hello @Andyjk1406. You can put ``set_verbosity_level(VerbosityLevel.Debug)`` before calling ``registration_icp`` to see the detailed log. To retrieve members of the class the best and simplest way is to use ``help(reg_p2l)``. Currently, it does not have iteration number, but you can find something like:
[code]
Another helpful examples can be found from: http://open3d.org/docs/tutorial/Basic/python

[2018-07-26 16:35] syncle commented on #473
Umm it is because non-blocking rendering does not correctly linked to mouse callback functions. I will have a look how it can be fixed.

[2018-07-26 17:06] DKandrew commented on #475
Thank you, it help me solve the problem.

Procedure
[code]

[2018-07-26 21:58] syncle commented on #474
It is because of wrong arguments used for ``CreateRGBDImageFromColorAndDepth``. Please check https://github.com/IntelVCL/Open3D/blob/35be432d45bf47bbcdf920c62d7d9d446ac6d36d/src/Core/Geometry/RGBDImageFactory.cpp#L31-L34
A good example is:
[code]
but the c++ code you had used is:
[code]
Which means it multiplies depth value by 3.0 and clip the scaled depth value using true (or 1). In this case, mo

[2018-07-26 22:41] syncle commented on #473
Aha. I found very simple solution. Please remove ``vis.update_renderer()``. This resets view point every iteration, and therefore ignores user mouse input.

[2018-07-26 23:13] syncle commented on #475
Thanks @DKandrew! Closing this issue.

[2018-07-26 23:13] #475 closed

[2018-07-27 06:04] argosvr commented on #473
Is there a way to remove this bottleneck ? It looks like it was working well and fast in previous versions of open3d.

[2018-07-27 06:53] mutp commented on #474
This works. Thank you!

[2018-07-27 06:53] #474 closed

[2018-07-27 06:57] #471 closed

[2018-07-27 07:18] baptiste-mnh commented on #473
@syncle I remove it and it still doesn't work

[2018-07-27 07:40] Andyjk1406 commented on #476
Ok thanks, that works.

[2018-07-27 07:40] #476 closed

[2018-07-27 07:44] baptiste-mnh commented on #473
I resolved the bug of the mouse with this code by adding only once the geomtrie in the viewer :) :
[code]
Is there a way to check if I'm currently clicking on the windows, so I could disable the refresh of the viewer because it's very laggy to move the pointcloud while the window is refreshing?

[2018-07-27 07:47] Andyjk1406 opened #480 "Multiway registration using fast global"
The 2016 paper for fast global registration includes multiview registration without the drawback of optimising many pairwise clouds (some of which can slip and slide).

I understand that the pose graph technique used here will minimise the influence of false edges, but is there a way to use multiview fast global registration in open3d? This would seem preferable to completely discarding a good ove

[2018-07-27 17:18] hua-wu-que opened #481 "convert depth image to pcd"
i wonder if there is an existing function that can convert a depth image into point cloud format (.pcd), given the camera intrinsic matrix?

[2018-07-27 17:22] syncle commented on #481
Yes. Please check this tutorial: http://open3d.org/docs/tutorial/Basic/rgbd_images/redwood.html
In short, what you looking for is something like:
[code]

[2018-07-27 17:30] syncle commented on #342
Oh, I somehow missed this valuable comment by @cysmith. This demo is really great. It is written in java script, so it might be good to find out the way to add UI in our visualizer. I've thinking about https://github.com/wjakob/nanogui for this. How do you think @qianyizh?

[2018-07-27 17:40] syncle commented on #481
Oh, I see the point. Then try using ``create_point_cloud_from_depth_image``. The modified example code will be
[code]
Definition is here.
https://github.com/IntelVCL/Open3D/blob/35be432d45bf47bbcdf920c62d7d9d446ac6d36d/src/Core/Geometry/PointCloudFactory.cpp#L100-L104.

[2018-07-27 18:31] hua-wu-que commented on #481
This is exactly the function i am looking for! Thank you!

[2018-07-27 18:31] #481 closed

[2018-07-27 20:33] hua-wu-que opened #482 "reconstruction without rgb images"
Hi!
Is it possible to reconstruct a sequence with only depth images? From the tutorials i have seen, there is always rgb image provided.

[2018-07-27 21:33] syncle commented on #480
Thanks for the suggestion. We will try to add this in Open3D, but I we cannot guarantee this will be shipped in the near future. I will mark this request in our list.

[2018-07-27 21:39] syncle commented on #470
I just read this https://www.cct.lsu.edu/~fharhad/ganbatte/siggraph2007/CD2/content/sketches/0250.pdf, but it is not clear how to extend this idea for 3D mesh. Here is another good example http://devmag.org.za/2009/05/03/poisson-disk-sampling/, but it is for 3D volumes. @Hippogriff: you suggested to resampling points on surface of the mesh, right?

[2018-07-29 08:03] DKandrew opened #483 "Add coordinate axis in the visualization"
**Is your feature request related to a problem? Please describe.**
This feature request is related to the cropping of the point cloud. I don't understand the data in cropped.json Why are there so many "bounding_polygon"?
There is currently no a efficient way for me to crop the point cloud, so I guess I have to do it myself. Therefore, understanding the coordinate axis become very important in this

[2018-07-30 06:20] kimwubin commented on #404
@SreenivasVRao The viewer must be aligned to an orthogonal_axis (by pressing x, y or z). This prevents the null values in the json. It would be nice to have this printed in the help.

[2018-07-30 16:06] qianyizh commented on #342
Nanogui looks pretty good.

[2018-07-30 16:47] syncle commented on #403
I found some clue.
Before this PR https://github.com/IntelVCL/Open3D/pull/127, the following code:
[code]
outputs:
[code]
but after the PR https://github.com/IntelVCL/Open3D/pull/127, it become
[code]

However, I haven't found a solution yet. The main purpose PR was to upgrade pybind 2.0 to 2.2. I have compared [commits](https://github.com/IntelVCL/Open3D/commit/331aa50c90df0c9db9888f484d4b63b6b1e

[2018-07-30 19:35] syncle commented on #483
This is a valid request. It would be good if it also visualize a bounding box of the scene.

[2018-07-30 19:38] Andyjk1406 opened #484 "Correct way to visualise a vector of pointclouds in C++"
I am loading 20 pointclouds, then transforming them and displaying them. To do this I do

// Display

	std::vector<std::shared_ptr<const Geometry>> pcds_geom;
	for (int i = 0; i < pcds.size(); i++) {
			std::shared_ptr<const Geometry> pcd_geom;
			pcd_geom = std::dynamic_pointer_cast<PointCloud>(pcds[i]);
			pcds_geom.push_back(pcd_geom);
	}
	DrawGeometries( pcds_geom , "PointCloud", 1600, 900);
`

[2018-07-30 19:40] #480 closed

[2018-07-30 20:02] syncle commented on #484
You don't have to explicitly type-cast ``PointCloud`` to ``Geometry``. ``Geometry`` is a abstract class of ``PointCloud``, ``TraingleMesh``, and even for ``Image``. Therefore, you can easily define container of ``PointCloud`` using ``Geometry``.

For example, the following code reads the same point cloud 10 times and make a list ``pcds`` and display it:

[code]

[2018-07-30 20:08] Andyjk1406 commented on #484
Thanks

This works if I want to do the transform in the loader function, before pushing it onto the vector.

However, if I want to call a loader function, then later call a function to create some Eigen::Matrix4d transforms, and then apply them, it seems that I must return a vector<Pointcloud> from my loader function because <Geometry> does not have a Transform member.

So, for example, in the exa

[2018-07-30 21:08] syncle commented on #484
I see the point. How about this way?

[code]
and you have additional helper function: ``batch_pcd_visualization``
[code]
basically you are maintaining vector of point cloud in your main code. Using ``batch_pcd_visualization`` just envolves copy of shared pointers, so this should be efficient.

Please correct me if I am wrong :)

[2018-07-31 00:24] hhaAndroid commented on #462
sudo apt-get install libglfw3-dev
but : E: Unable to locate package libglfw3-dev

[2018-07-31 03:09] qianyizh commented on #403
Is there anyway we can identify it is a problem of pybind11 2.2 or it's a problem of our implementation? If it is a pybind11 2.2 issue, we should try their latest version or file a bug report on their repo.

[2018-07-31 04:08] syncle commented on #462
I guess your environment is Ubuntu 14.04.
libglfw3-dev is supported from Ubuntu 16.04. There are two options:
- Recommended way: build libglfw3 from source.
For example, ``cmake ../src [other_cmake_options] -DBUILD_GLFW=ON``
- or follow the known solution like https://github.com/filipwasil/fillwave/issues/58.

[2018-08-01 06:55] cedrusx opened #485 "Corruption in three::UniformTSDFVolume::UniformTSDFVolume"
Hi, I'm running `python3 make_fragments.py` and always encounter the following corruption after several round of pose graph optimization.

**Log**
**$ python3 make_fragments.py ~/datasets/SceneNN/016/**
OpenCV is detected. Using ORB + 5pt algorithm
Fragment 000 / 013 :: RGBD matching between frame : 0 and 1
Fragment 000 / 013 :: RGBD matching between frame : 0 and 5
[ INFO:0] Initialize OpenCL run

[2018-08-01 09:30] argosvr commented on #403
Well, for us vector3dvector is a core feature of open3d. We work a lot with numpies. Not only for visualization but also for example to send realtime scan streams over tcpip to a server.
At that time, it is almost impossible, it is to slow.
Then it would be nice if this issue could be solved.

[2018-08-01 14:32] syncle commented on #485
Oh, this is the issue I have never seen before. Could you share information of your environment too?

Here are my quick comments:
- Are you using virtual environment that has limited memory space?
- In the last line of the log, I can only find error message like ``/home/xuesongs/.local/lib/python3.5/site-packages/cv2/.libs/libz-a147dcb0.so.1.2.3Aborted (core dumped)``. This might be arisen from th

[2018-08-01 15:18] cedrusx commented on #485
Jaesik, thanks for the prompt feedback. I cannot access my Ubuntu machine right now so I'm only giving a little information and will update more tomorrow. Would you specify any questions about the environment that might be relevent? Thanks.

I was not using any virtual env. I was running it on a pretty powerful desktop PC with i7. The last line of the log is part of the memory map rather than the

[2018-08-02 01:27] rafael2k opened #487 "Integer only version?"
I have a need for integer only implementation stuff (using hardware which does not go well with floating point). Which steps should I take to make an integer only Open3D branch?

[2018-08-02 16:51] syncle commented on #403
Some updates.
- The issue persists even I tried with the recent pybind 2.2.3
- Our code for binding seems fine, and I cannot find relevant issue or documents from pybind11
- I opened a ticket for this issue in official pybind11 repo: https://github.com/pybind/pybind11/issues/1481

[2018-08-02 17:10] syncle commented on #487
Umm I think it would be plausible because Open3D requires on double precision operations for registration, visualization, optimization, and so on.

[2018-08-02 20:17] peterroelants opened #488 "import open3d results in undefined symbol: _Py_ZeroStruct"
**Describe the bug**
`import open3d` results in
[code]

**To Reproduce**
Steps to reproduce the behavior:
Install open3d in Anaconda with `pip install open3d-python`

**Expected behavior**
import works

**Desktop (please complete the following information):**
OS:
[code]

Anaconda installation `conda 4.5.9`. Installed packages:

[code]

[2018-08-02 20:42] syncle commented on #488
Thanks for notifying the issue. Did you build Open3D from source or install it via pip?

[2018-08-03 05:31] peterroelants commented on #488
pip install

[2018-08-03 06:27] peterroelants commented on #488
When compiling against anaconda, how do I make sure anaconda picks up the library? `import open3d` is not able to find the module. The CMakeCache.txt file refers to the right python binary. I'm suspecting I need to set some path so that anaconda knows were to find Open3D, but I don't know which one.

[2018-08-03 08:19] peterroelants commented on #488
Compiling from source against anaconda seems to work.

[2018-08-03 21:57] mrutyu1987 opened #489 "NameError: name 'TSDFVolumeColorType' is not defined"
[code]
Traceback (most recent call last):
  File "make_fragments.py", line 150, in <module>
    process_fragments(args.path_dataset, args.path_intrinsic)
  File "make_fragments.py", line 135, in process_fragments
    fragment_id, n_fragments, intrinsic)
  File "make_fragments.py", line 111, in make_mesh_for_fragment
    intrinsic)
  File "make_fragments.py", line 87, in integrate_rgb_frames_for_fr

[2018-08-03 22:42] DKandrew opened #490 "How to get the normal computed by estimate_normals()?"
I am trying to compute surface normals of a flat wall using `estimate_normals()` function. In the tutorial, it only shows how to plot the normals, but did not tell us how to store them. I guess the normal is stored in the PointCloud Class, but looking into the PointCloud, Geometry, Geometry3D I cannot find any variable relates to the surface normals. The documentation of the estimate_normals does

[2018-08-03 23:50] syncle commented on #490
Yes. For example:
[code]

[2018-08-04 21:42] rnunziata opened #492 "register_fragments memory error"
python3 register_fragments.py /home/rjn/Downloads/TestData/
looks like global_registration.json was written but not global_registration_optimization.json

[code]

[2018-08-04 21:50] syncle commented on #492
Could you share more information to reproduce this error? For example, environment or json files.

[2018-08-04 22:29] DKandrew commented on #490
Is the sequence convention of the normal XYZ?

[2018-08-04 22:51] syncle commented on #490
Yes it is :)

[2018-08-05 04:46] yoshiyama commented on #420
Thank you qianyizh.
The error is solved by specifying location of directory of python (In my case, Anaconda python).

[2018-08-05 15:29] rnunziata commented on #492
I ran it clean in docker ...and get the same error.
My system :
cat /etc/*-release
[code]
using i7 with nivdia gtx1060.
The docker image I used was the docker with nvidia runtime
Let me know if I can supply other data.

The data I used is as follows:

From the Redwood dataset livingroom1...images and depth and camera parameters for the data.
I placed them in my own TestData folder I placed in root

[2018-08-06 21:27] #490 closed

[2018-08-07 00:10] rafael2k commented on #487
Thanks!

[2018-08-07 05:30] syncle commented on #492
Thanks. Could you also share json file? Let me check on that. Please also check the available memory space in docker environment.

[2018-08-07 05:56] cedrusx commented on #485
Hi Jaesik, this problem has not been reproduced after several system crashes and reboots. Shall we consider it as a temporary system environment problem and close the issue?

[2018-08-07 05:59] syncle commented on #485
Sure. Let me close the issue. You can reopen or close this if necessary.

[2018-08-07 05:59] #485 closed

[2018-08-07 06:05] cedrusx commented on #231
Why not just make a ROS node to receive RGB-D images from an independent source like [realsense ROS node](https://github.com/intel-ros/realsense)? That would be much easier to implement and maintain by decoupling Open3D and the device-dependent software.

[2018-08-07 16:08] rnunziata commented on #492
I only ran on docker to verify that it was not my installation....this error happens on my machine without docker. I also ran this successfully by using  only the first 63 image and depth files and the whole pipe line worked it only fails if run for the whole sequence. Here is a link to my TestData folder will all the relevant files.
https://www.dropbox.com/s/s5ta62bsocpfaw1/TestData.tar.gz?dl=0[]

[2018-08-07 19:19] syncle commented on #231
Thanks @cedrusx!. In addition, I would like to mention realsense wrapper for opencv as well here. https://github.com/IntelRealSense/librealsense/tree/master/wrappers/opencv

[2018-08-08 13:14] rnunziata commented on #492
I also tried to run colored_pointcloud_registration.py from the Advanced tutorial on fragments 5 and 6....the results are not good. The fragments look fine independently. Not sure if this is related or should be a different issue.

[2018-08-08 22:35] #432 closed

[2018-08-09 01:22] hironoriyh opened #497 "configurable zoom max and min"
Currently the visualizer has the max and min zoom. This results in objects vanishing in the view when the object pose is set outside of the max-min zoom range.

Would it be possible to make the zoom range configurable?

[2018-08-09 08:50] #462 closed

[2018-08-09 10:10] MartinPernus opened #498 "Importing fails on Ubuntu 18.04"
Hi,

I realize Open3D is not tested on 18.04 but I'm trying to use it nevertheless. When doing
`import open3d`
I get an error saying:
`ImportError: libGLEW.so.1.13: cannot open shared object file: No such file or directory`

When searching with `sudo find / -name 'libGLEW*'`, following shared objects are found:
`/usr/lib/x86_64-linux-gnu/libGLEWmx.so.1.13`
`/usr/lib/x86_64-linux-gnu/libGLEW.so.2.0

[2018-08-09 14:55] takanokage commented on #498
Hi,

We've added a Ubuntu 18.04 based [docker solution](https://github.com/IntelVCL/Open3D/tree/master/util/docker/open3d-xvfb) a while back. Maybe that recipe can help you figure out your native installation.

[2018-08-09 22:26] syncle commented on #487
Let me close this issue. Feel free to open this if needed. :)

[2018-08-09 22:26] #487 closed

[2018-08-10 11:53] nigeljw1 opened #502 "16 to 32 Bit Depth Image Copy as TSDF Workaround"
There really should be 16 bit uint depth format support for TSDF, as this is the most common format, but it wasn't added as part of pull request https://github.com/IntelVCL/Open3D/pull/450

Because of this, an array copy is required to reshape for the input into the TSDF integrate function which isn't optimal. I am actually having trouble doing the copy:

[code]

I am not sure what is wrong with t

[2018-08-10 18:58] syncle commented on #502
Hi @nigeljw1. You don't need to do this by yourself. Consider to use ``ConvertDepthToFloatImage``. This will transform uint16 image into float type image.

TSDF integrate function takes float type color image + float type depth image. ``CreateRGBDImageFromColorAndDepth`` will transform [8bit 3channel rgb image + 16bit depth image] or [16bit gray image + 16bit depth image] into [float type color im

[2018-08-11 05:17] tejaskhot opened #503 "Voxel downsampling: pick one of the original points instead of the centroid"
Is there a way to downsample such that the point generated by each voxel is one of the points occupying it and not the centroid of those points? The current API does not seem to support this.

[2018-08-11 16:41] syncle commented on #503
Hi @tejaskhot. Thanks for the great question!

We actually have an implementation for this request. It was for [tangent convolution project](http://vladlen.info/publications/tangent-convolutions-dense-prediction-3d/) project that builds index maps used for pooling and unpooling. The additional class can be found [here](https://github.com/tatarchm/Open3D/blob/35b2729e44701c73fb8c53bd7b3f182d1f2f508

[2018-08-13 02:10] #401 closed

[2018-08-13 07:10] cedrusx commented on #485
Update: the issue was caused by some hardware issue of my desktop. Fixed by updating BIOS...

[2018-08-13 16:02] nigeljw1 commented on #502
Thanks for the information!

I would really like to understand why the depth array copy failed, but currently I can work around it as you mentioned. I was getting an unsupported format error from the Integrate call, which I assumed was depth, but it was actually because I didn't pass false into CreateRGBDImageFromColorAndDepth for color intensity float conversion, which isn't supported by the Inte

[2018-08-13 16:29] nigeljw1 opened #504 "Camera Pose/Trajectory Extrinsic"
I am having a lot of trouble trying to get the camera poses to be correct. I use the same camera poses in other TSDF implementations, and it has no issues.

I get the camera pose from a file:

file_name = data_path + "frame-00000" + std::to_string(i) + ".pose.txt";
std::ifstream file_input(file_name);

Eigen::Matrix4d pose;

for (int32_t j = 0; j < 4; ++j) {
    file_input >> pose(j, 0);
    file_

[2018-08-17 05:44] urock commented on #492
Hi, I can confirm, on my own dataset I see the same error on Ubuntu 16.04. Probably because of bad fragments alignment. Any ideas how to fix this? Maybe you can hint where to look in the code so I can debug and fix it? I am new to Open3D.
Error occurs in
`def global_optimization(pose_graph, method, criteria, option)`

[2018-08-17 06:06] syncle commented on #492
Oh, I had focused on other things, so I missed several feedbacks. Let me check.

[2018-08-17 20:28] argosvr opened #507 "I there a way after an IPC to get the rmse ?"
After a IPC function, I need to evaluate the rmse returned. I can't find anything in the doc about that.
Is there a way to get it ?
Thanks #

[2018-08-18 00:52] syncle commented on #294
Addressed in #500.

[2018-08-18 00:52] #294 closed

[2018-08-18 15:54] syncle commented on #492
Thanks @rnunziata @urock. As @rnunziata stated, this is due to the failure of matching adjacent fragments. This will make zero entry in the Jacobian matrix, and results in null point error. The fix is to modify register_fragment.py as
[code]
I fixed the issue but the result is not very beautiful yet. I am looking for another reason.

[2018-08-19 05:16] yurivict opened #509 "Please don't install empty directories"
You install these two empty directories:
[code]

Could you please remove them? They are redundant.
Thanks!

[2018-08-19 05:23] yurivict opened #510 "Fails to build without LDFLAGS=-pthread"
Found this problem on FreeBSD 11.2.
Version 0.2.

[2018-08-19 14:45] urock commented on #492
@syncle although with your fix memory error is gone, but now it breaks 3D reconstruction even on clean noiseless Redwood Living data set..

[2018-08-19 15:22] CZ-Wu opened #511 "CMake Error: Could not find X11"
when I run `cmake ../src`
it rises error as following:
CMake Error at /home/lab-lin.jiehong/anaconda3/share/cmake-3.6/Modules/FindX11.cmake:439 (message):
  Could not find X11
Call Stack (most recent call first):
  External/GLFW/CMakeLists.txt:232 (find_package)

CMake Error: The following variables are used in this project, but they are set to NOTFOUND.
Please set them or make sure they are set a

[2018-08-19 16:26] rnunziata commented on #492
can you also comment on  colored_pointcloud_registration.py using ply fragment files....I am test your  code mod now.

[2018-08-19 21:04] takanokage commented on #511
One solution is to install the open3d prerequisites as indicated in the
docs.
The other solution is to set the BUILD_PNG cmake option to ON.

Good luck!

On Sun, Aug 19, 2018 at 8:22 AM CZ-Wu <notifications@github.com> wrote:

[2018-08-20 15:49] syncle commented on #507
If you mean ICP, please check out http://open3d.org/docs/tutorial/Basic/icp_registration.html. This code
[code]
will print
[code]

[2018-08-20 15:59] syncle commented on #509
Thanks @yurivict for pointing out this issue. Could you help to fix this? I think you can exclude these folders by modifying src/IO/CMakeLists.txt and src/Visualization/CMakeLists.txt.
For example, you can exclude the ``include/Open3D/IO/FileFormat`` by modifying the following lines.
[code]

[2018-08-20 17:06] syncle commented on #510
Thanks! Do you think we need to add the flag in src/CMakeLists.txt?

[2018-08-20 17:11] syncle commented on #492
As a follow-up, I have fixed several issues and could get fairly reasonable result for the dataset requested by @rnunziata

<img width="1072" alt="screen shot 2018-08-20 at 10 01 48 am" src="https://user-images.githubusercontent.com/18297113/44355247-f6d88200-a460-11e8-8470-b7f7ea0a1be7.png">

I am working with [this branch](https://github.com/syncle/open3d/tree/fix_register_fragments) and polishi

[2018-08-20 17:16] yurivict commented on #510
Yes.

[2018-08-20 18:04] syncle opened #512 "Wrong paramter in TestData/camera.json"
Some of [Open3D's python tutorial](http://open3d.org/docs/tutorial/Basic/rgbd_odometry.html) utilizes [Redwood dataset](http://redwood-data.org/indoor/dataset.html). Redwood dataset is a synthetic dataset made with PrimeSenseDefault parameter, but TestData/camera.json file used by the tutorials is not the parameter of PrimeSenseDefault.

[2018-08-20 18:06] rnunziata commented on #492
Thanks I guess we can close this...I will let you do that just in case you want to leave it open until the release.

[2018-08-22 19:50] urock commented on #492
Hi @syncle! I have tried your [fix branch](https://github.com/syncle/open3d/tree/fix_register_fragments). Clean sequence of Redwood Living Room data set is reconstructed ok, but I am still having troubles with noisy data set - room geometry is broken. I have even tried using ground truth camera trajectory instead of computing opencv pose estimation in make_fragments.py, but without visible success

[2018-08-23 00:59] yxlao commented on #430
## Summary of behaviors
While we are adding `conda install open3d-python` support in https://github.com/IntelVCL/Open3D/pull/514. I've run some experiments to test our our current status under different enviroments and installation methods.

Enviroment setups:
- Operating systems
    - Ubuntu 16.04
    - macOS
    - Windows (not tested yet)
- Python
    - 2.7
    - 3.5
    - 3.6
- Installation met

[2018-08-23 17:10] rnunziata commented on #492
I wanted to test the fix code on my system...I checkouted the fix and built it but when I try to run I get the following. The build did not fail. Any ideas?
[code]

[2018-08-23 17:47] urock commented on #492
Did you do make install?
It was commented in build.sh...

[2018-08-23 18:41] rnunziata commented on #492
yes...where is this module located? I can set the path if I know its location,.but I can not find its location.
I do not have a libopen3d.so  or a open3d.py

[2018-08-23 19:07] syncle commented on #430
That's interesting to know. Could you make a custom pip package using failing environments and test importing again? You will need to build Open3D with external libraries:
[code]
and need to add ``-DPYTHON_EXECUTABLE:FILEPATH=<path-to-python-executable>`` to build Open3D python package with specific python version.

[2018-08-23 20:28] takanokage commented on #430
I propose let's keep everything tidy under just one package.
Pls don't upload multiple different versions of the same pip package. The current package already handles Python 2.7+ and 3.5+ from a single package. If it's really necessary to support each Python version specifically (though I suspect this is not the case beyond Python 2.7+ and 3.5+) this should be handled programmatically through the

[2018-08-23 20:50] yxlao commented on #430
Yeah, that would be ideal. Currently "Ubuntu 16.04 + Python 3.6 + Native Pip" option, as shown above, is not working yet. Maybe we need some fixes to the pip build process?

[2018-08-23 22:09] takanokage commented on #430
Currently the `__init__.py` files only look at OS and Python build type (32bit and 64bit) but not at the Python version itself. Hopefully we can, in a similar way, query for the Python version in the same place - haven't tried this before so I can't say for sure.

[2018-08-23 22:58] rnunziata commented on #492
I ran run_system.py.
The  system no longer seems to create: fragment_optimized_024.json  files. It runs if I leave the old json files in the fragments folder but not good results. If I leave the files out it fails with file error unable to open file. If I put empty files in it complains there are 0 vertices.

What is your set up and parameters...what data are you passing.

Also colored_pointcloud_

[2018-08-24 00:56] syncle commented on #492
- Please use the PrimeSenseDefault parameters
[code]
- valid range of Redwood dataset is 4m. You may need to increase depth clipping values from 3m to 4m.

[2018-08-24 02:46] rnunziata commented on #492
that was it....thanks so much....looks good.

[2018-08-24 06:29] qianyizh commented on #510
I will try to duplicate it in virtual environment and fix it.

[2018-08-24 06:29] qianyizh commented on #510
@yurivict thanks for the bug report.

[2018-08-24 06:31] qianyizh commented on #393
Yeah. The make install on Windows and OSX is broken. I am working on fixing them.

[2018-08-24 06:42] qianyizh commented on #430
Thanks @yxlao for doing the thorough testing. This is great!! Helps us understand the current situation a lot.

A quick question, is there an easy way to setup CI to automatically check pip with different environment / python versions? This way we don't need to manually check everything also the error message can be easily seen by everyone.

[2018-08-24 06:59] urock commented on #492
@rnunziata on what data set are you testing?

Also, guys, pls help to achive good results on Readwood Living Room 1 dataset!
Currently, as I've  said, after testing @syncle branch that fixed memory issue, I have good result on clean depth sequnece
![clean](https://user-images.githubusercontent.com/1125366/44569681-dcb1e300-a783-11e8-9f5a-10b16b4e143f.png)

But on noisy depth sequence it is not tha

[2018-08-24 15:20] rnunziata commented on #492
I am using living room 1. Yes I get a corrupted final image ...also I noticed that several of the fragments plys are too I think this is were things start to go wrong ..check out number 27.. I am wondering apply a different noise algorithm.....I have not looked at the depth images directly to see if there is something off about the noise but it would be nice to rule it  out before looking elsewher

[2018-08-27 00:45] syncle commented on #492
Umm that is interesting. @qianyizh Could you comment on @rnunziata's questions?

[2018-08-27 14:21] Jason420Git opened #518 "Windows Cmake issues"
I have some issues using the CMake on windows 10 with Visual Studio 2015.

Firstly, the include directory path becomes:

C:\local\open3d\install\include\Open3D

Which is a level too deep. This means that I need to use #include <../Open3D/Core/Core.h> .

Secondly, the linker adds 'Open3D.lib' but without the location of that library. My Cmake is as follows:

``
find_package(Open3D REQUIRED)

includ

[2018-08-28 04:14] bing-jian opened #519 "[Question] Can we export TSDFVolume into numpy array?"
I guess current implementation does not support this feature according to
https://github.com/IntelVCL/Open3D/blob/master/src/Python/Core/open3d_integration.cpp

Basically, in addition to extract_point_cloud() and extract_triangle_mesh(),  it would be nice if we can also export the actual tsdf volume into a numpy array after running integrate function.

Thanks,
Bing

[2018-08-28 04:38] bing-jian opened #520 "[Question] How does TSDFVolume.extract_triangle_mesh() avoid double layer mesh?"
I tried the TSDF volume integration and mesh extracting on some RGB-D face images,  the results look nice.  By looking at the code in
https://github.com/IntelVCL/Open3D/blob/master/src/Core/Integration/ScalableTSDFVolume.cpp
https://github.com/IntelVCL/Open3D/blob/master/src/Core/Integration/UniformTSDFVolume.cpp
I guess around the face surface there will be a thin layer of volume ranging from 1 (

[2018-08-28 05:29] qianyizh commented on #492
@rnunziata can you post some figures?
The noise pattern should be pretty standard. It is a low frequency pattern (corrupt depth by ~3%) plus a white noise, then discretized to mimic the scan line pattern. There should be no dramatic changes.

[2018-08-28 05:45] qianyizh commented on #520
The answer is simple. It's done with these lines:
https://github.com/IntelVCL/Open3D/blob/e5c93dd49fea87ff1ab0364d1d3ffd8144c6ed77/src/Core/Integration/UniformTSDFVolume.cpp#L166-L169
Basically if a voxel has at least one vertex without tsdf (initialized with weight=0), it will not create any triangles. Thus there won't be the second layer between -0.99 to 0.

[2018-08-28 05:58] bing-jian commented on #520
Got it!  Qianyi,  thanks for the quick answer!  So without this check based on the extra weight information, do you think the normal marching cubes will produce two layers from the volume currently generated?

[2018-08-28 06:07] qianyizh commented on #520
Yes it will. The empty state has to be explicitly marked and checked. Otherwise there will be ambiguity.

[2018-08-28 09:54] gkeechin opened #522 "[Question] return points obtained by cropping"
Hello, Im reading through the current documentation, I would like to clarify if there's any existing way to obtain the points that have been cropped as a return statement from `return vis.get_picked_points()` instead of saving them into a `.ply` file?

As of now the code :
[code]

only return points selected by individual picking.

[2018-08-28 13:34] Jason420Git commented on #518
To update on this I was able to fix the direct path stuff.

The issue with looking for glfw instead of glfw3 still exists. I also am struggling to build the library with static runtime. Even with disabling shared libs and disabling MSVC DLL runtime options in CMake. I have to manually change the run time of all the projects in visual studio before building.

[2018-08-28 18:16] syncle commented on #522
HI @gkeechin. I think this is the relevant example for you: http://www.open3d.org/docs/tutorial/Basic/pointcloud.html#crop-point-cloud

[2018-08-28 22:27] takanokage commented on #518
what I would do if I were in your shoes:
1. build/install glfw from source on Windows
2. make sure CMake can find your installed glfw. unfortunately you might have to manually edit the open3d cmake file in order to look for the installed glfw - by default on Windows open3d cmake is configured to always build external dependencies from source instead of looking for them.
3. open3d install
4. create

[2018-08-28 22:32] syncle commented on #484
@Andyjk1406: Closing for now due to inactivity. Feel free to reopen if needed.

[2018-08-28 22:32] #484 closed

[2018-08-28 22:32] syncle commented on #482
@hua-wu-que: Closing for now due to inactivity. Feel free to reopen if needed.

[2018-08-28 22:32] #482 closed

[2018-08-28 22:33] syncle commented on #441
Hi @argosvr @qianyizh: is the issue resolved?

[2018-08-28 22:39] syncle commented on #427
Addressed in #434. We don't maintain github milestone for now. The way to change software version is to modify src/version.txt. This will propagate to the packages.

[2018-08-28 22:39] #427 closed

[2018-08-28 22:40] #420 closed

[2018-08-29 04:10] gkeechin commented on #522
Thanks for your reply @syncle , Im interested in the manual cropping of points, such as the polygonal or box clipping done with the users' mouse after entering `VisualizerWithEditing()` mode.

As of now, if I were to press `k`, draw a crop selection area and press `c`, it will offer to save the points as a `.ply` file. Is there a way to get the points as an array to return?

[2018-08-30 06:29] gilsm opened #525 "[Question] Visualizing RGB image with 3D points marked on it"
I want to display an image relating to a 3D scene I am analyzing
Further more I would like to select pixels on the image corresponding to the scene
I have the pixels location on the image and would like to use open3D utilities to display it and the relevant pixels
Is it possible?

[2018-08-30 16:42] syncle commented on #525
Drawing points are not implemented in Open3D yet. For the quick solution, I would like to recommend opencv or mathplotlib.

[2018-08-30 20:09] ibouazizi opened #526 "WritePointCloudToPLY"
**Describe the bug**
All color values are set to 255.
When checking WritePointCloudToPLY.cpp it turns out that max and min in the color value clipping are inverted.

**To Reproduce**
1. Write Point Cloud to ply file

[2018-08-30 20:18] syncle commented on #526
Could you give more details, such as code reference, minimal example? As a note, color values should be in [0,1] range.

[2018-08-30 21:49] ibouazizi commented on #526
Yes, colors are in the range of [0, 1]
Example usage: open3d.write_point_cloud(ply_file, pcd, True)
The erroneous statement is: max(255, ..
That statement will always yield the max.

[2018-08-30 22:01] syncle commented on #526
I just tried the following script:
[code]
but it works fine.

-----

That statement will always yield the 255.

Where did you fine ``max(255, ..`` can you give me a point? I think relevant code is

https://github.com/IntelVCL/Open3D/blob/e5c93dd49fea87ff1ab0364d1d3ffd8144c6ed77/src/IO/FileFormat/FilePLY.cpp#L317-L324

but the code seems fine to me.

[2018-08-31 00:45] #509 closed

[2018-08-31 04:59] syncle commented on #503
Update: working branch https://github.com/syncle/Open3D/tree/down_sample_index

[2018-08-31 08:10] qianyizh opened #527 "Build is broken on VS2017 15.8 and later"
**Describe the bug**
Build is broken on VS2017 15.8 and later.
Current master, version b11ebc1f56f728474d77e696bd73f9986600b0b1

See this:
https://ci.appveyor.com/project/syncle/open3d/build/1.0.512/job/keb5t0eqyxm8m9jm

c:\program files (x86)\microsoft visual studio\2017\community\vc\tools\msvc\14.15.26726\include\type_traits(1271): error C2338: You've instantiated std::aligned_storage<Len, Align

[2018-08-31 08:30] qianyizh commented on #527
Interesting, #517 should be the right fix for this issue. But why is the build still broken?

[2018-08-31 08:37] qianyizh commented on #527
Ah, I think the issue is with #505
It actually reverts the change of #517
https://github.com/IntelVCL/Open3D/pull/505/files#diff-95e351a3805a1dafa85bf20b81d086e6L144

@syncle do you have any idea why you remove the big configuration block? Or are they supposed to be configured automatically?

[2018-08-31 08:38] qianyizh commented on #527
Found it, they are reorged to be at the root directory.

[2018-08-31 08:40] qianyizh commented on #527
Let me do the code change, should be easy.

[2018-08-31 08:55] #465 closed

[2018-08-31 09:02] qianyizh commented on #525
Can you describe your use case in details?
Open3D can render images, but it is very limited function - it just pastes the image in the middle of the screen.
You can, however, convert an image to a point cloud and render the point cloud. This way you can pick points (pixels) and render them as needed.
I need to understand your use case more.

[2018-08-31 09:04] qianyizh commented on #526
@ibouazizi can you give some example code for us to better understand the issue? thanks!