[2019-12-04 08:28] sammo2828 commented on #1376
Currently, when `add_geometry` is called, the viewpoint is reset based on the new bounding box.

Just merged is a new parameter `add_geometry(mypcd, reset_bounding_box=False)` which should stop the camera from moving around. https://github.com/intel-isl/Open3D/pull/1315

Youll have to build from source or wait until the next release.

[2019-12-04 08:32] sammo2828 commented on #1367
Not sure, but let's take a look at what is in your `color` array:

[code]

[2019-12-04 14:08] griegler commented on #1152
BPA should be able to handle that (it is not restricted to convex shapes). You have to think about a 3D ball with a given radius that roles over your surface points. Whenever it hits three points with compatible normals (and no other point is within the ball) it creates a triangle - connecting the three points.
I think you were referring to alpha shapes?

[2019-12-04 20:34] Masterpoda opened #1378 "Cannot read mkvs from kinect"
Using the python example azure_kinect_recorder.py, I recorded an MKV file with an Azure Kinect. When attempting to read the resulting mkv file with azure_kinect_mkv_reader, every attempt to get a capture results in an error, and the mkv file does not play.

Steps to reproduce the behavior:
1. cd .\Open3D\examples\Python\ReconstructionSystem\sensors
2. python -m azure_kinect_recorder
3. [Record mkv

[2019-12-04 22:06] lvgeng commented on #1152
I see... well I am kind of confuse about the second parameter in the function
create_from_point_cloud_ball_pivoting I assume one of them means the initial size of the ball, but what is the other? Step size?

And I got an interesting result with this.

The point cloud is downsampled with voxel_size= 0.0001. Its bonding box should be about 0.03*0.03*0.01

`mesh = open3d.geometry.TriangleMesh.create_

[2019-12-04 22:15] Masterpoda commented on #1378
stepping through the c++ version, it looks like the calls to k4a_plugin::k4a_capture_get_color_image in the AzureKinectSensor::DecompressCapture function are returning null. I think this is because they are being fed an invalid capture value, but I can't quite be sure.

[2019-12-04 22:39] tjnewton opened #1379 "Read XYZ failed"
**Describe the bug**
While attempting to read an XYZ file Open3D generates an error. Each line of the input file contains three values separated by commas, e.g., 694386.212,5155487.512,381.036. There are 5000 lines in the file. File attached below.

**To Reproduce**
Steps to reproduce the behavior:
1. import open3d as o3d
2. pcd = o3d.io.read_point_cloud('test.txt',format='xyz')
3. See error: [Ope

[2019-12-04 23:30] lvgeng commented on #1074
Em... I failed to find the TexturedTriangleMesh API in documents...
I wish to be able to modify the UV map (Like assign different texture for a triangle, or at least to be able to tell the id of the certain triangle and its vertexes so that I can modify it with some other tools?)

BTW:
The rendering looks good!

[2019-12-05 06:30] eddienewton opened #1381 "RemoveStatisticalOutliers bug : valid_distances erratic behavior due to OpenMP looping"
Variable `valid_distances` not consistent over multiple runs due to `OpenMP` parallelism.  It's probably best to calculate valid_distances after the kdTree loop, using `avg_distances[I] >= 0 logic`;

[2019-12-05 06:35] eddienewton commented on #1381
One possible solution is to calculate using the following after the kdtree loop:

`const size_t valid_distances = std::count_if(avg_distances.begin(), avg_distances.end(), [&](auto const& val){ return val >= 0.0; });`

[2019-12-05 08:12] libChan opened #1382 "3rdparty fmt version problem"
**Describe the bug**
Trying to build from source on windows, I got error "could not open file fmt/time.h in Open3D\Utility\Console.cpp". Checking [fmt release](https://github.com/fmtlib/fmt/releases), I found time.h has been removed since version 6.0.0.

So I manually edit it and build successfully. May be better to fix it? (my personal view)

[2019-12-05 08:38] griegler commented on #1379
The error indicates, that you might have specified the wrong path to the file.
Further, xyz expects that the values are separated by one space, not commas.

[2019-12-05 08:42] griegler commented on #1152
The second parameter is a list of radii (of the ball). So, the BPA will be run with all the varying radii, usually you should provide them in increasing order.
Did you try to increase the radius? Maybe the points are just farther apart (the ball drops through).

[2019-12-05 12:06] lvgeng commented on #1152
Em... so it is the range of the radii of the ball?

I tried to increase or decrease the radius. No luck. Kind of strange because the result did not change so much with this point cloud.

PS: is there anyway for me to know the UV map of the generated mesh? (It seems that the generated mesh lose a lot of color information.)

[2019-12-05 16:22] tjnewton commented on #1379
After changing the delimiter to spaces the error goes away (can you state the space delimiter requirement in the documentation?), but the dataset does not plot properly with o3d.visualization.draw_geometries([pcd]). It appears only as a small read square (attached above).

[2019-12-05 16:28] griegler commented on #1379
Might be this problem: https://github.com/intel-isl/Open3D/issues/1197
Should be gone, if you compile the source from the master branch.

[2019-12-05 16:30] griegler commented on #1152
You could apply a voxel filter?

There is no uv mapping implemented yet. But BPA just re-uses the color values of the points that are provided as input. Given that BPA discards not a lot of points, there is no reason that the color information is lost.

[2019-12-05 17:46] theNded commented on #1382
Could you please try `git --recursive clone` instead of downloading it alone? The bundled fmt lib version in `3rdparty` is 5.3.0.

[2019-12-05 20:37] eddienewton commented on #1375
Thinking about it more, I believe Open3D is writing out the PLY binary files as Float64 instead of Float32.  This is occurring on OS X Catalina, which no longer supports 32-bit applications.

[2019-12-06 01:51] fthou opened #1384 "Read PTS failed: unable to read header"
When I tried to load .pts files, it failed and post

[code]

My code is as follows:
[code]

Could you help me with this?

Thank you very much!

[2019-12-06 08:05] griegler commented on #1384
Hard to tell what the problem is without seeing the file. Could you provide it?

[2019-12-06 14:55] fthou commented on #1384
Yes. The .ptx file can not be attached here. Could you download it from here:
https://drive.google.com/open?id=1fwO_KIXvUpyniny4_7ntVoy3uTLeOxvf

Thank you very much.

[2019-12-06 15:17] fthou commented on #1384
I succeeded with np.loadtxt. I think you can include this case that the .ptx file has no header into the package open3d.

[2019-12-06 16:52] #1384 closed

[2019-12-06 16:52] #1382 closed

[2019-12-06 16:53] #1379 closed

[2019-12-07 17:39] lvgeng commented on #1152
Voxel filter? Any suggestions? What kind of filter?
And... it is kind of weird. That is the results from voxel downsampling, but the result is not so evenly distributed... any suggestions on what I should do to avoid that?

[2019-12-07 22:15] lvgeng commented on #1152
I read through the related paper... Well it seems that BPA cannot deal with point cloud with different density originally, and it seems that a dense point cloud would lead to some kind of unknown issue that make the mesh impossible to be displayed with the viewer.

Additionally...
The viewer does not accept camera with a small FOV, which is weird.

[2019-12-08 01:29] nickponline opened #1385 "How do you render camera previews / images in Open3D?"
I am trying to render a number of cameras positions with a preview of what each camera sees using textured quads in Open3D.

But I can't see if this is possible. All I can see in the docs is `o3d.geometry.Image` but that just renders an image without letting me position and orient it in the scene. Ideally I'd like to render an image on a quad and position and rotate.

[2019-12-08 01:32] nickponline commented on #1385
I want to do something like this:

![image](https://user-images.githubusercontent.com/590151/70382842-97cda380-1917-11ea-8cf1-f80286e52f37.png)

[2019-12-08 09:29] griegler commented on #1385
I do not think it is possible with `Image`, but you could use a textured mesh (#1194) for the image part and then draw the camera frame with a `LineSet`.

[2019-12-08 09:31] griegler commented on #1152
Sorry, I am not really into the viewer part of the code. Maybe you could open another issue describing the problem in detail. @yxlao, @qianyizh might be able to help then.

[2019-12-08 20:14] sam598 opened #1386 "Manifold detection algorithm does not identify inverted triangles"
**Describe the bug**

None of the manifold detection tools are able to identify an inverted face as manifold geometry. However the function to create a "half triangle mesh" from a "triangle mesh" fails if the source mesh has an inverted face, and says that the mesh is not manifold.

**To Reproduce**

This line:
`half_triangle_mesh = o3d.geometry.HalfEdgeTriangleMesh.create_from_mesh(triangle_mesh)

[2019-12-09 08:48] griegler commented on #1386
The problem in the mesh is not really related to its manifold, but with the orientation.
There are already functions like `IsOrientable` and `OrientTriangles`, what might be missing is a function that returns a list of inverted faces. Is this what you are looking for?

[2019-12-09 16:06] eshirima commented on #1378
experiencing the same issue

[2019-12-09 21:23] nickponline opened #1387 "Textured OBJs render without the texture."
**Describe the bug**

Textures for .OBJ files not rendering:

**To Reproduce**
1. Download the example obj, mtl, jpg from http://paulbourke.net/dataformats/obj/minobj.html
2. Run this code:

[code]

**Expected behavior**
A textured mesh.

**Screenshots**
I only get an untextured mesh:
![image](https://user-images.githubusercontent.com/590151/70474225-0e3ce380-1a87-11ea-84c7-4e8927d7e9c9.png)

Not

[2019-12-09 22:02] griegler commented on #1387
Did you compile from source? Open3D 0.8 does not include the ability to handle textured mesh, this was added later.

[2019-12-09 22:06] nickponline commented on #1387
No, what's the best way to get the latest version in Python?

On Mon, Dec 9, 2019 at 14:02 Gernot <notifications@github.com> wrote:

[2019-12-09 22:57] nickponline commented on #1387
Works when built from source:

![image](https://user-images.githubusercontent.com/590151/70480301-3a129600-1a94-11ea-831e-6644de73ec13.png)

[2019-12-09 22:59] #1387 closed

[2019-12-10 14:45] Vintagelavalamp commented on #1314
I fixed the issue by renaming the Azure SDK folder (literally changed 1.3.0 to 1.2.0). Probably open3d looks for the specific 1.2.0 folder.

[2019-12-10 16:18] rancheng commented on #609
Hi @qianyizh, I wrote a simple wrapper for subscribe ros pointcloud2, and try to update the `viz` in the callback function, but this **re-assign** trick doesn't work.

[code]

[2019-12-10 19:00] nickponline opened #1389 "Can you set the view control of the visualizer?"
I'm trying to set the view control of the visualizer to be a specific pinhole camera. I would like to specify the *intrinsics* and *extrinsics* of the camera and view the scene as if looking through that camera. It appears that the relevant classes are available but the constructors in the docs are unclear.

[code]

[2019-12-10 19:02] nickponline commented on #1385
Thanks I used a triangle mesh for each and it works. Would be nice to enable double sides rendering somehow but not a big deal. Closing

[2019-12-10 19:02] #1385 closed

[2019-12-10 21:26] nickponline opened #1391 "Can you get mouse clicked x, y on the visualizer?"
Is there a way to simple get the mouse clicked `x, y` on the visualizer and set a callback to run on that.

[2019-12-10 22:04] nickponline commented on #1389
I made some progress and the extrinsics work but I get the following error after setting the intrinsics:

[code]

[code]

[2019-12-10 23:59] prewettg commented on #1391
You can inherit from Visualizer (or one of its descendants) and override
open3d::visualization::MouseButtonCallback().  You can see an example of
how you could use this at open3d::visualization::VisualizerWithEditing.

Cheers,
Geoff Prewett

On Tue, Dec 10, 2019 at 1:27 PM Nicholas Pilkington <
notifications@github.com> wrote:

[2019-12-12 11:33] #1110 closed

[2019-12-12 12:15] aycameric opened #1394 "[Open3D WARNING] Read OBJ failed: Cannot open file"
Hi,

I am trying to read an .obj file and convert it to a point cloud, but I get the Error that the .obj file can't be read. I created the .obj file from a .stl file in FreeCAD. How can I check if there is an issue with the .obj file or is there another way to solve this? Can I also read a .stl file and convert the mesh to a triangle mesh object? Thank you.

My code is this:
tmesh=o3d.io.read_tria

[2019-12-12 12:32] griegler commented on #1394
What is the error that is thrown?

[2019-12-12 12:33] aycameric commented on #1394
This one: [Open3D WARNING] Read OBJ failed: Cannot open file

[2019-12-12 12:35] griegler commented on #1394
can you share the file, would be easier to debug.

[2019-12-12 12:42] aycameric commented on #1394
The .obj file type is not supported to be posted in here but the content looks like this, if it helps:

# Created by FreeCAD <http://www.freecadweb.org>
v 0.000000 0.500001 0.000000
v 0.000000 0.500001 55.500000
v 0.000000 63.000000 0.000000
v 0.000000 63.000000 55.500000
v 0.007600 0.413176 0.000000
v 0.007600 0.413176 55.500000
v 0.007600 0.500001 55.586823

[2019-12-12 12:45] griegler commented on #1394
Have you checked that you pass a valid path to `o3d.io.read_triangle_mesh`? The error message indicates that you path points to no valid `obj` file.

[2019-12-12 12:49] aycameric commented on #1394
The absolute path "~/Desktop/models/megablock.obj" should be ok, shouldn't it? The file exists in the folder..

[2019-12-12 12:51] griegler commented on #1394
Try to replace `~` with the path to the home dir. It could be that the symbol for some reason is not resolved.

[2019-12-12 12:52] aycameric commented on #1394
That was indeed the problem, it is working now.. thanks a lot!

[2019-12-12 12:52] #1394 closed

[2019-12-12 14:39] cpocol opened #1395 "Python API on Windows fails on some functions"
Trying to use o3d.geometry.RGBDImage.create_from_color_and_depth() I get the error "module 'open3d.open3d.visualization' has no attribute 'create_from_color_and_depth'". In Linux does work perfectly. How should I use it on Windows?

To Reproduce:
run https://github.com/intel-isl/Open3D/blob/master/examples/Python/Advanced/rgbd_integration.py

Environment: Windows 10, Python 3.6, Open3D 0.8.0 (inst

[2019-12-13 07:24] perryshao commented on #1153
@zzq1016 have you fixed the problem? my movie is also shocked, i don't know the reason.

[2019-12-13 20:55] sam598 commented on #1386
Yup "OrientTriangles" fixes that issue. It wasn't initially clear to me what the intent of that function was.

[2019-12-13 20:55] #1386 closed

[2019-12-14 12:03] lvgeng commented on #1261
I think there might be something useful.
1. I scale the point cloud to 1000 times the size. Well... it did not solve the problem. Then I tried to transform the point clouds to somewhere close to the origin point (0,0,0). The result is better than before. I think the key is if the point cloud is far away from the origin, it would be too sensitive to the rotation changes.

2. According to the theory

[2019-12-14 12:16] MaxChanger commented on #1261
@lvgeng  Hello, I'm curious about this question, could you describe in detail how to transform the two different point clouds to somewhere close to the origin point (0,0,0) and set the initial transformation?

[2019-12-14 13:45] lvgeng commented on #1261
Well... first I generate a rough bounding of the entire point cloud and therefore I have its rough center. do a inverse transformation with PointCloud.transform would move the point cloud to somewhere close to (0, 0, 0)

The initial transformation... I have no good solution here. That is the problem I mentioned.
In the tutorial of open3d they have some other methods for that, but they depends on g

[2019-12-14 14:06] MaxChanger commented on #1261
@lvgeng thank you for your reply

The way you move to is the same as I thought. Is this a very common way to use and could be called pose regularization?  I don't remember well

But for two consecutive frames, it can be assumed that there is no translation and rotation, so we can use the identity matrix to initialize, but could we still use the unit identity matrix after your transformation?

[2019-12-15 12:22] sammo2828 opened #1398 "Loading colored meshes (not just textured meshes)"
**Is your feature request related to a problem? Please describe.**
I tried to load and draw a mesh in o3d but the colors didn't show. The mesh's materials, which contain color and other information are not supported.
Looks like there was a recent feature to load textured meshes (with only one texture), but colored meshes are not supported. Also, colored vertexes are supported, but colored triangle

[2019-12-15 19:31] griegler commented on #1398
Sorry, I do not fully understand your feature request, or what you mean with colored meshes. Do you want to have support for colored triangles? And what file format are you referring to for I/O?

[2019-12-15 19:35] lvgeng commented on #1261
If the difference is tiny, yes. But it would lead to weird results if it is not.
And the problem is, I did not find an out of box solution for it...

[2019-12-15 21:40] perryshao commented on #1158
@syncle thank you. your answer really help me with this problem which i have tried to solve it for a long time. I just came across this good answer today.

[2019-12-15 22:29] sammo2828 commented on #1398
Yes, this is about support for colored triangles, AND support for file formats that have colored triangles.

Try this model that I converted from https://www.blender.org/download/demo-files/

[bmw.zip](https://github.com/intel-isl/Open3D/files/3965545/bmw.zip)

![image](https://user-images.githubusercontent.com/1911995/70870345-4774d680-1fe6-11ea-8916-9bcbeff11c30.png)

[2019-12-16 01:28] theNded commented on #1398
1. This model stores quad mesh, which is not yet supported in o3d afaik.
2. This MTL file stores **lighting** rather than **triangle color**. We do not have mature lighting support in the current version, but a team is working on refactoring everything for visualization. This feature may be supported later.

[2019-12-16 01:28] #1398 closed

[2019-12-16 02:40] MyEvolution opened #1401 "Computing Correspondence Error"
**Describe the bug**
When I am reading the code, I found something wrong when computing correspondence for RGBD odometry. Just check the [code line 164 in Odometry.cpp](https://github.com/intel-isl/Open3D/blob/master/src/Open3D/Odometry/Odometry.cpp)
[code]
I think this should be
[code]

[2019-12-16 09:09] MaxChanger commented on #1261
There are some related solutions or descriptions #1281 #1286 #1292
Hope these are helpful to you

[2019-12-16 14:59] prass-anyvision opened #1403 "What is the difference between AxisAlignedBoundingBox and OrientedBoundingBox?"
When I rotate my cloud arbitarily, the axis aligned bounding box changes it's vertices with respect to the point cloud, but oriented bounding box does not.

I am unable to understand how, or why, and in general, what is the difference. Could you help me out?

[2019-12-16 15:14] prass-anyvision opened #1404 "In get_oriented_bounding_box().get_box_points(), what are the connectivity of the points?"
Which points are connected to which points?

I have this that I saw in the c++ Implementation :-
[code]

I can reconstruct the axes from these equations but I don't know what they mean. An extension to #1403

[2019-12-17 08:19] griegler commented on #1403
Both bounding boxes encapsulate your geometry. `AxisAlignedBoundingBox` as the same suggest is aligned with the x,y,z axis. If you visualize it, the lines will always align with the coordinate system. On the other hand `OrientedBoundingBox` has a rotation, so it is not aligned with the coordinate system, but could more tightly fit the geometry. Right now, the oriented bounding box is computed via

[2019-12-17 08:21] griegler commented on #1404
To see which points get connected, you can have a look [here](https://github.com/intel-isl/Open3D/blob/master/src/Open3D/Geometry/LineSetFactory.cpp#L84).

[2019-12-17 08:21] #1404 closed

[2019-12-17 14:10] prass-anyvision commented on #1403
Thanks, makes a lot of sense!

So  does this hold valid then ? The axis I refer to are the "oriented" axes then.
[code]

Also, are there other methods for the bounding box fit? I could perhaps implement something if it's required.

[2019-12-17 19:24] griegler commented on #1403
To get the rotated axis, you could just use the rotation matrix member of `OrientedBoundingBox` and rotate the vector by it, e.g., in Python `box.R @ np.array([1,0,0]).reshape(3,1)`.

There are exact and approximate algorithms. For a start, you can have a look [here](https://en.wikipedia.org/wiki/Minimum_bounding_box_algorithms#Three_dimensions).

[2019-12-17 19:24] #1403 closed

[2019-12-19 09:30] arifsaeed opened #1408 "visualization.draw_geometries not displaying anything"
I have the D435 Realsense camera, and am trying to visualize a pointmap using pyrealsense2 and open3d.  I have put together the code below from tutorials this forum.  The code generates a new window, but the window is empty.  Can anyone please help me understand what i am doing wrong.  I know i have an image, because when i run the camera in the realsense viewer i can see an image.

import pyreals

[2019-12-19 09:44] prerakmody commented on #1389
I believe you may need to do the following

- `vis.create_window(window_name='myname', visible=True, width=cam_intrinsic.width, height=cam_intrinsic.height)`

[2019-12-19 10:18] #1408 closed

[2019-12-19 10:19] arifsaeed commented on #1408
I realised that the shape of the depth_frame and color_frame were different.
Once i set them to the same size, the visualization started displaying an image

[2019-12-20 17:12] ytyfeng opened #1410 "How to crop point clouds/meshes using the new crop function in 0.9.0?"
I've noticed that Open3D has changed some of the functions quite a bit in the new 0.9.0 release. In previous versions, the geometry.PointCloud.crop() function takes in min_bound and max_bound, but in the 0.9.0 version it takes in two bounding boxes. What does the second bounding box do?
I don't think the documentation is very clear for the crop function. It says both of the two arguments of the fu

[2019-12-22 01:33] hebingyedu opened #1411 "Jupyter visualization doesn't plot figures on Ubuntu18.04 and Ubuntu16.04 server"
**IMPORTANT: Please use the following template to report the bug.**
_____

**Describe the bug**
Jupyter visualization doesn't draw figures on Ubuntu18.04 and Ubuntu16.04 server.  When I ran the following code, it didn't report any errors, but also plotted no figures. I tested on Ubuntu18.04 and Ubuntu16.04 server with open3d 0.7, 0.8 and 0.9, same problems. But it works well on my Macbook.
`
impor

[2019-12-22 12:18] protactinium91 commented on #979
Hello is there a valid solution to this problem?
I am on Win10. I have microsoft visual c++ 2017 redistributable installed
and I have also downgraded Python to 3.6 but I still get the error

[2019-12-23 04:51] ivorycirrus opened #1412 "Install open3d from pip or conda repository on MacOS 10.13"
I tried to install open3d using pip and conda command.
And it shows these error when importing open3d module in python.

**System environment**
* MacOs 10.13.6 High Sierra
* Python 3.7.5

**Console output**
[code]

By these error messages, the open3d which served on pip and conda repository is compiled on MacOS 10.15.
Is there any way to use open3d except compile the source code?

[2019-12-23 06:38] shadowdk3 opened #1413 "3d reconstruction"
hi,
I am going to use open3d + realsense to develop a 3d scanner.
I capture a set of pcd and try to use Multiway registration example to reconstruct 3d image, and the result is the follow.
![image](https://user-images.githubusercontent.com/38104992/71339628-05700580-258f-11ea-9397-c70169d7a575.png)

![image](https://user-images.githubusercontent.com/38104992/71339641-0f920400-258f-11ea-94e8-55fc3d

[2019-12-23 09:04] jgwak opened #1414 "Error while compiling v0.9.0 PoissonRecon module from source"
**Describe the bug**
I tried installing v0.9.0 from source. I followed the instruction from the official document as-is, except for the dependency part, since I am not on Ubuntu. I have installed v0.8.0 from source and unless dependencies has changed, I believe dependency is not the problem. Following is the error message I received:

[code]

**To Reproduce**
[code]

**Expected behavior**
Expect i

[2019-12-23 12:54] alexmyczko commented on #456
there's interest in a deb package, which is not only used by Ubuntu but also Debian: https://bugs.debian.org/892805

[2019-12-26 07:30] JimXu1989 opened #1415 "How to create a open3d.pointcloud using x,y,z in numpy format?"
Hello,
I want to know how to create a open3d.pointcloud using x,y,z  in numpy format?

I have search the document, but I didn't find relative information

Thanks a lot!

[2019-12-26 08:08] theNded commented on #1415
[code]

[2019-12-26 08:08] #1415 closed

[2019-12-26 08:14] JimXu1989 commented on #1415
Thanks for reply!
Could you show me how could I also add color information (r,g,b) in the 3D data which in numpy format?

[2019-12-26 14:46] syncle commented on #1414
I cannot reproduce on my mac. @griegler Could you take a look?

[2019-12-27 02:21] chenshida opened #1416 "RegistrationICP: double free or corruption (out)"
**IMPORTANT: Please use the following template to report the bug.**
_____

**Describe the bug**
I use RegistrationICP to match two point cloud, and it raise error like this:
double free or corruption (out)

**To Reproduce**
my code as follows:
[code]

**Expected behavior**
the code will terminal in icp match, and print info like this:
double free or corruption (out)
Aborted (core dumped)

**Screen

[2019-12-27 02:25] hzxie commented on #1414
@syncle
I have the same environment as @jgwak.
When I compile Open 3D from source, I got the following error. As reported in #1369

[code]

[2019-12-27 02:35] jgwak commented on #1414
@hzxie  Try this patch. I managed to compile 0.8.0 on Arch and you can install it via AUR. I'm stuck on this error for 0.9.0 though.

[code]

[2019-12-27 03:42] hzxie commented on #1414
WOW~! Amazing!
But now I have the same problem as you.

[2019-12-27 05:53] mks0601 opened #1417 "Arbitrary camera intrinsic matrix support"
**Is your feature request related to a problem? Please describe.**
I'm trying to use `convert_from_pinhole_camera_parameters` function for the mesh visualization. Currently, it seems princpts of camera intrinsic matrix (`c_x` and `c_y`) should be image centers as reported in [[1](https://github.com/intel-isl/Open3D/issues/727)] and [[2](https://github.com/intel-isl/Open3D/issues/1164)].

**Describ

[2019-12-29 02:28] liminle opened #1418 "How to convert the open3d.geometry.VoxelGrid into a NumPy array?"
Hi everyone,
How to convert the open3d.geometry.VoxelGrid into a NumPy array?
I have a open3d.geometry.VoxelGrid, and now I wonder is there any way to convert it to a numpy 3d cube containing voxels data.

[2019-12-29 16:42] ArashJavan commented on #1410
+1

[2019-12-30 09:06] shuochen365 commented on #1416
I also had the same mistake. Have you solved it？

[2019-12-30 12:21] chenshida commented on #1416
I create a new file and paste code, rebuild it and than it work well. but I don`t  know why create new file can solve this problem.

[2019-12-30 12:21] #1416 closed

[2019-12-30 12:26] shuochen365 commented on #1416
Thank you very much.
 Can you share your code and data？I want to test it on my side.

[2019-12-30 12:54] kingaza commented on #979
me too

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Environment**
[code]

[2019-12-30 14:31] sam598 opened #1419 "UniformTSDFVolume and Numpy"
I need to directly edit the TSDF values of a UniformTSDFVolume in Numpy.

I understand that this is a difficult problem with the ScalableTSDFVolume as it is an unordered map. But my understanding is that the UniformTSDFVolume is an X^3 float array.

If the entire volume is already stored in memory I would assume it would be straightforward to  convert the array to and from Numpy. There should be n

[2019-12-30 14:39] hm1205 commented on #1414
dear all,

I have a problem to build the lib as cmake give me an error.
I've tried both on ubuntu and manjaro. Cmake 3.16.2.
I don't know how to fix that issues.

by the way. I have notice an error inside the cmakelist.text of the 3rd party packages. Line 12 should be only libjpeg in order to find the libjpeg turbo lib. if not cmake do not find the lib even if installed.

[CMakeError.log](https://

[2019-12-30 14:41] sam598 opened #1420 "Create RGBDImage without truncation"
Truncating the depth of an RGBDImage is very helpful when working with a ScalableTSDFVolume, as it keeps the scale of the volume to a reasonable size.

However when working with a UniformTSDFVolume the resolution of the volume is fixed, so there is no need to truncate it.

I get much better results when keeping all depth data, especially depth data that is outside of the volume. Even though that d

[2019-12-30 14:44] sam598 opened #1421 "Open3D 0.9 installed using pip does not work in OSX 10.14"
[code]

[2019-12-31 13:29] Prakash19921206 opened #1422 "Azure Kinect Examples do not work"
**Describe the bug**
Python Examples do not execute. I have copied `Azure Kinect SDK v1.2.0 `to C:/Program Files/
[Microsoft Azure Kinect Examples ](https://github.com/microsoft/Azure-Kinect-Samples)work

**To Reproduce**
Steps to reproduce the behavior:
1. clone the repository [open3d 0.9]
2. go to Open3d/examples/Python/ReconstructionSystem/sensors
3. py azure_kinect_mkv_reader.py --input "C:/Pr

[2019-12-31 15:20] theNded commented on #1422
This specific problem is due to an update of the API.
A quick fix is to change [this line](https://github.com/intel-isl/Open3D/blob/master/examples/Python/ReconstructionSystem/sensors/azure_kinect_mkv_reader.py#L88) to `vis.update_geometry([rgbd])`

[2020-01-01 08:48] aaranta opened #1423 "Non-blocking visualization example not working"
**Describe the bug**
"examples/Python/Advanced/non_blocking_visualization.py" error. Not able to invoke visualizer.
Error reported is:
    vis.update_geometry()
TypeError: update_geometry(): incompatible function arguments. The following argument types are supported:
    1. (self: open3d.open3d.visualization.Visualizer, arg0: open3d.open3d.geometry.Geometry) -> bool

**To Reproduce**
Steps to repr

[2020-01-01 08:58] Prakash19921206 commented on #1422
Ok Thanks
After replacing with `vis.update_geometry(rgbd)`
`azure_kinect_viewer.py ` and `azure_kinect_recorder.py `examples worked.
but `azure_kinect_mkv_reader.py `is still not working below is the output

i have installed azure kinect SDK 1.2 and 1.3 in `C:/Program Files/`
also i have added dll files folder path in Environment Variable `Path`

[2020-01-01 09:02] aaranta commented on #1423
I've found the fix. Just add "source" as the argument to the vis.update_geometry() function.
vis.update_geometry(source)

Refer to the doc for more details.
http://www.open3d.org/docs/latest/python_api/open3d.geometry.html

[2020-01-01 09:02] #1423 closed

[2020-01-01 14:51] griegler commented on #1410
You can have a look at `examples/Python/Basic/bounding_volume.py`.  The steps are (1) creating a bounding box ` bbox = o3d.geometry.AxisAlignedBoundingBox(min_bound=(-30, 0, -10), max_bound=(10, 20, 10))` and (2) using it to crop `geom.crop(bbox)`.

[2020-01-01 14:51] #1410 closed

[2020-01-02 02:24] chenshida commented on #1416
give me you email address, i`ll send you in my free time.

[2020-01-02 22:04] ivorycirrus commented on #979
@protactinium91 @kingaza I had a same problem and solved now.
I also had "ImportError: DLL load failed" error.
And then I installed "Microsoft Visual C++ Redistributable for Visual Studio 2015, 2017 and 2019".

My environments before,
Windows 10 64bit, Visual studio 2017,
Python 3.7.5 (with Anaconda), Open3D 0.9.0.0 installed from pip

First, visit below.
And install x86 and x64 packages in "Visua

[2020-01-02 22:09] oseh commented on #867
Hey does anyone know how to convert a .ply to .pcd

[2020-01-03 03:24] yutaroyamanaka commented on #920
@tianchengdw
Did you solve this problem?
I met the same situation as yours.
I'll be glad if you show the result.

[2020-01-03 14:43] maxjaritz commented on #940
I still get the same error as described by @Chandler above with open3D 0.9.

[2020-01-03 19:52] bradleynull opened #1424 "Texture mapping multiple geometries does not work after redraw"
**Describe the bug**
I'm using Open3D 0.9 and texture mapping a single triangle mesh seems to be working as expected. However, when I try to render multiple geometries, they appear to use the same texture after the first redraw.

When applying a new coloring method (e.g. hitting `1`, `2`, `3`, etc.) The textures are reapplied correctly until the next redraw.

**To Reproduce**
The below python code

[2020-01-04 10:22] AOSZZ commented on #1378
English sentences may be wrong, but please forgive.
I was suffering from the same problem.
Although it is not a beginner and I do not understand well, it is not a smart way, but I was able to output when started with spyder as follows.
Line 99: # required = True,
Line 105: args.input = 'filename.mkv'
Line 109: args.output = 'frames'

As a related trouble, when launching azure_kinect_recorder.py at

[2020-01-04 11:57] saulzar opened #1425 "Inheritance in python from Geometry3D"
I wanted to make a composite Geometry3D, so I tried to inherit a python class.

...     def __init__(self):
...       pass

I try to use this I expected some errors about missing methods e.g. 'rotate'...

However,
[code]

What does this mean - is this kind of inheritance on the python side possible?

[2020-01-05 08:33] saulzar commented on #1417
Would second this request, I've been also struggling to understand this error message... my camera principle points are not at the image centre.

[2020-01-05 08:45] saulzar commented on #834
To clarify - this is not an OpenGL restriction though is it? But restriction of the interface Open3D is providing?

[2020-01-05 09:06] saulzar commented on #834
Could it just be a separate mode  (e.g. similar to Perspective or Orthogonal)  (where maybe the view is fixed?), where you can allow any kind of intrinsic camera matrix?

The transforms are described quite well here:
http://ksimek.github.io/2013/06/03/calibrated_cameras_in_opengl/

[2020-01-06 01:13] sasa2124 commented on #387
Hello everyone, I would like to capture depth image from 3d point and I want to save viewpoint from different views however I got some problem with respect to PinholeCameraTrajectory. Here is my code

from open3d import *
import numpy
import transforms3d
from scipy.spatial.transform import *
import matplotlib.pyplot as plt

pcd = open3d.io.read_point_cloud("scene0173.xyz")

vis = Visualizer()
vis.

[2020-01-06 02:37] godspeed1989 commented on #1414
I encounter the same problem as @jgwak
The error occurred when building `/3rdparty/PoissonRecon`.

[2020-01-06 02:45] jgwak commented on #1414
Update title to better describe the issue. Looks like we have three independent error reproducibility reports so far. Your help appreciated @syncle @griegler

[2020-01-06 07:56] ivorycirrus commented on #1421
I have same issue in MacOS 10.13. This was also issued on #1412

[2020-01-06 12:28] shuochen365 commented on #1416
I have finished Python version.Thank you very much.

[2020-01-07 13:06] fellhorn opened #1426 "Segmentation fault with prior scipy import"
**Describe the bug**
Open3D causes a segmentation fault if there is a prior import from scipy.spatial.
If scipy.spatial is imported afterwards there is no segfault and open3d works as intended.

**To Reproduce**
[code]

BUT

[code]

**Environment (please complete the following information):**
 - OS: Debian 10.2 (Buster)
 - Python version: 3.7.6
 - Open3D version: 0.9.0
 - Is this remote workstatio

[2020-01-07 14:37] pablospe opened #1427 "Configurable FOV max and min"
In file [ViewControl.cpp#L36](https://github.com/intel-isl/Open3D/blob/fab6441b763b4964ef898cbb3fae8d10ef98442f/src/Visualization/Visualizer/ViewControl.cpp#L36):

I was wondering why there is a strict max for the FOV.

As example, one could need to render a depth map from a mesh using the headless rendering example, but such strict limit would restrict the possible camera parameters that can be r

[2020-01-07 16:02] oseh commented on #1013
I have updated it yet get the same issue. any help?

[2020-01-07 16:06] griegler commented on #1426
Might be related to #1217 #1207 #922.

[2020-01-07 16:07] griegler commented on #1424
@theNded @yxlao any idea?

[2020-01-07 20:22] bkanchan6 commented on #608
I came across the same error. With `vis.create_window()`, it opens up the window and the content is saved as expected with `out_image = vis.capture_screen_image(image_path, True)`. On the other hand, with `vis.create_window(visible = False)`, the window does not open as expected. But it captures the screen content rather than content from vis window (which is not popped up). The saved image is som

[2020-01-08 03:00] hongyuli opened #1428 "Segmentation fault when estimate normals"
Hi, I'm trying to explore the open3D with my own data, but always got Segmentation fault (core dumped) when using estimate_normals(search_param=o3d.geometry.KDTreeSearchParamHybrid(radius=,  max_nn= ))

My data is attached. I also tried examples/Python/Basic/pointcloud.py, which does run successfully.

Thanks.

[data.zip](https://github.com/intel-isl/Open3D/files/4033428/data.zip)

[2020-01-08 15:15] nicolasugrinovic commented on #940
@ykaganov how do you manage to build with cmake? I get the following error:
`NASM assembler not found `

[2020-01-08 15:30] maxjaritz commented on #940
I simply installed with pip.

[2020-01-08 16:16] griegler commented on #1412
It is working on macOS 10.15.
@yxlao any idea how to serve also older versions via pip/conda?

[2020-01-08 21:39] sromberg commented on #1412
Same here. It does _not_ work macOS 10.14.

[2020-01-08 21:40] sromberg commented on #1421
I have the same issue on macOS 10.14.

[2020-01-09 08:41] griegler commented on #1414
I tried to reproduce, but I could compile with gcc-7.4.0 and gcc-9.2.1 without errors. @jgwak @godspeed1989 @hm1205 @hzxie can you post more details, e.g., compiler version, full compile log (`make VERBOSE=1`).

[2020-01-09 18:17] shoefer commented on #1421
I have the same issue both on MacOS 10.13 and 10.14.

[2020-01-09 20:24] bfouts-kindred commented on #1421
I'm in the same boat

[2020-01-09 20:55] bfouts-kindred commented on #1421
Seems like an issue with the latest build (from last month)
Installing an older version fixed the issue

`pip install open3d==0.8.0`

[2020-01-09 22:55] sam598 commented on #1421
@bfouts-kindred you can also build from source to get version 0.9.

The issue of the default pip installation of 0.9 not working on OSX 10.13 and 10.14 still needs to be fixed.

[2020-01-10 17:17] pablospe commented on #1427
Related issues: #1417 and #1389

[2020-01-10 17:37] pablospe commented on #1427
To made it work I commented some code, something like this: https://github.com/pablospe/Open3D/commit/206f92641945fe24731b173801a6d29d1a839d6b

Recompile Open3D (and if you want the python wrapper):
[code]

[2020-01-13 11:23] mirkoGschwindt opened #1432 "Window cannot be closed during non-blocking visualization in Python"
When running the non_blocking_visualization.py example in Python, it is not possible to close the window during the process by clicking the x button in the top right corner. Is there a way to get around that issue?

Steps to reproduce the behavior:
1. Run non_blocking_visualization.py
2. Try to close the window

**Expected behavior**
I expected the currently open window to close.

**Environment (p

[2020-01-13 20:47] ManuelZ commented on #1146
+1

[2020-01-14 01:56] ivorycirrus commented on #1412
@sromberg I guess ```open3d.cpython-37m-darwin.so``` is built only for MacOS 10.15.
So early version under MacOS 10.15, we have to compile open3d for our own Mac.

[2020-01-14 01:56] #1412 closed

[2020-01-14 02:33] AndyYuan96 opened #1436 "create arrow in any position?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
create_arrow() function doesn't suit to create a arrow in any position , it can't specify the start of the arrow and the end of the arrow, I want to create a arrow by it's start (x,y,z) and end(x,y,z), it's a very common function when creat

[2020-01-14 03:07] AnujAgrawal7 opened #1437 "Azure Kinect point cloud"
I am trying to create a point cloud using the RGBD stream from Azure Kinect in Open3D. I get the following error while using  o3d.geometry.PointCloud.create_from_rgbd_image function :

RGBDImage of size
Color image : 1280x720, with 3 channels.
Depth image : 1280x720, with 1 channels.
Use numpy.asarray to access buffer data.
[Open3D WARNING] [CreatePointCloudFromRGBDImage] Unsupported image format.

[2020-01-14 17:08] dfd19 commented on #979
I have tried this, but still can't work at all.
but somehow I have solved it with old version.

I also had "ImportError: DLL load failed" error. and I use conda environment. and also I use windows 10.

First, follow @ivorycirrus step (installing package). If you still had bug, continue to the next step

Second, i just create new environment conda with python 3.6
"conda create -n <NameEnV here> pyt

[2020-01-14 21:55] jkerfs opened #1441 "VoxelGrid.carve_depth_map incorrectly states that non visible voxels are not carved."
From the documenation for VoxelGrid.carve_depth_map:

However, the implementation does carve voxels when no points project into the image:
https://github.com/intel-isl/Open3D/blob/master/src/Open3D/Geometry/VoxelGrid.cpp#L288-L309

The question is which behavior is desired.  I'm in favor of doing what the documentation says and not carving voxels if they do not project into the image.  If other ag

[2020-01-14 23:50] hcoohb commented on #1421
It seems this issue is not just restricted to OSX ...
I am on Win10 64b, trying to use version 0.9.0 from a virtualenv gives me:
[code]
version 0.8.0 does not have this issue

[2020-01-15 11:30] MrGoort opened #1443 "control zoom in non-blocking visualizer"
Hi all,

I have several point clouds of the same environment and each of them have more or less height. Instead of loading everything at the same time, I am loading each cloud at a time, and register it against the previous loaded one and then show the result in a non-blocking visualizer. When I am trying to move the camera to place it in the center of each new point cloud and in a top-view (like

[2020-01-15 13:50] pyni opened #1444 "why the point clouds are not required for optimization ?"
Hi, i still have a question.
In your demo:

    print("Optimizing PoseGraph ...")
    option = GlobalOptimizationOption(
            max_correspondence_distance = max_correspondence_distance_fine,
            edge_prune_threshold = 0.25,
            reference_node = 0)
    global_optimization(pose_graph,
            GlobalOptimizationLevenbergMarquardt(),
            GlobalOptimizationConvergenceC

[2020-01-15 18:17] argosvr opened #1445 "Aure Kinect and IMU"
I'm using the new Azure Kinect and can get interesting results but open3d uses the Azure Kinect is just used as an images recorder. Is it possible to use the IMU to get more precises results ? It could be used also with the DR400 realsense with IMU ..
Do you have any projects about using IMU data ?

[2020-01-15 20:33] hm1205 commented on #1414
@griegler  thank for your help.

I have erase my directory and download Open3d ( git ).

now error is in cmake.
Ubuntu cmake3.15.2 gcc 9.2.1 pybind and ligjpeg turbi already installed. ...

i'll retry with manjaro in a moment.

No CMAKE_BUILD_TYPE specified, default to Debug
The C compiler identification is GNU 9.2.1
The CXX compiler identification is GNU 9.2.1
Check for working C compiler: /usr/b

[2020-01-15 20:57] hm1205 commented on #1414
Back ! under manjaro able to run make but do not work...
[  1%] Creating directories for 'ext_turbojpeg'
[  1%] No download step for 'ext_turbojpeg'
[  1%] No patch step for 'ext_turbojpeg'
[  2%] No update step for 'ext_turbojpeg'
[  3%] Performing configure step for 'ext_turbojpeg'
-- CMAKE_BUILD_TYPE = Release
-- VERSION = 2.0.3, BUILD = 20200110
-- 64-bit build (x86_64)
-- CMAKE_INSTALL_PREFIX

[2020-01-17 01:57] JeremyBYU commented on #1084
Looking online informed me that the linker was missing some linked libraries on the system.
The errors I got were:

[code]

[code]

Using make -verbose showed that make was not adding these libraries, so CMake made a mistake somewhere during configuration. Some info [here](https://stackoverflow.com/a/43619946/9341063)

So what I needed to do was add -ldl and -lX11 to the end of the link process. I

[2020-01-17 08:55] griegler commented on #1441
Yes, seems to be right, same for `CarveSilhouette`. The problem is with voxels that do not project into any image/valid image region. Ideally, we would have a function argument that let the user choose what to do in this case, i.e., carve or not carve.
Would be great, if you could provide a PR for that!

[2020-01-17 10:44] rsinghoyla opened #1448 "pickling error while doing joblib, or numba"
I get a
TypeError: can't pickle open3d.open3d.geometry.PointCloud objects
when I try to parallelize a for loop to (multiple) query the KDTree.
I have tried joblib and numba and both give me same error.

my code is basically
[code]

[2020-01-19 12:04] hcoohb commented on #1157
Definitely a wanted feature by many of us!

Duplicate of #2 ?

[2020-01-19 13:22] kaixin-bai commented on #1437
the depth image you got from azure kinet is in milimeter, convert it to meter and then generate the point cloud, then there should be no problem.

[2020-01-19 13:24] kaixin-bai commented on #1437
Consider of "Unsupported image format."  Maybe there's more problem with your code, because i can  successfully generate the point cloud with azure.

[2020-01-20 04:55] anuj0707 commented on #1437
Hey thanks! I will try converting the depth data to meters and try again.
As for "Unsupported image format."
my config file is :
{
	"camera_fps" : "K4A_FRAMES_PER_SECOND_30",
	"color_format" : "K4A_IMAGE_FORMAT_COLOR_MJPG",
	"color_resolution" : "K4A_COLOR_RESOLUTION_720P",
	"depth_delay_off_color_usec" : "0",
	"depth_mode" : "K4A_DEPTH_MODE_WFOV_2X2BINNED",
	"disable_streaming_indicator" : "false

[2020-01-20 05:20] anuj0707 commented on #1445
There is the possible option of using the ROS package for Azure Kinect
https://github.com/microsoft/Azure_Kinect_ROS_Driver
But to use it with Open3D you will have to convert the ROS PointCloud2 data to open3D format

[2020-01-20 06:10] buaadf commented on #1412
v0.8.0.0 works fine on MACOS 10.14

[2020-01-20 12:45] scizors opened #1452 "error library windows"
open 3D widows error
i installed using anaconda
windows
link:https://anaconda.org/open3d-admin/open3d

   from .open3d import * # py2 py3 compatible

ImportError: DLL load failed: The specified module could not be found.

[2020-01-20 15:29] tcies commented on #218
+1, working around by using a different format per default and converting to open3d only when needed for algorithms

[2020-01-21 08:07] chrischoy opened #1454 "Removing o3d.utility.VectorXXX o3d.utility.XXXVector"
Currently, to create a point cloud, open3d requires a rather complex logic

[code]

This is rather complex and not pythonic. This requires modifying attributes of an instance directly. Rather, it would be nice to have a function like

[code]

The dimension checks or assertions could be done inside the cpp file to prevent invalid arrays.

The eigen natively supports converting a numpy array into an

[2020-01-21 09:01] kaixin-bai commented on #1437
sorry, i'm not sure why you got that problem without code, maybe you can try the code below.
`
class AzureKinect:
	def __init__(self):
		self.config = o3d.io.AzureKinectSensorConfig()
		self.device = 0
		self.align_depth_to_color = 1

	def start(self):
		self.sensor = o3d.io.AzureKinectSensor(self.config)
		if not self.sensor.connect(self.device):
			raise RuntimeError('Failed to connect to sensor

[2020-01-21 11:42] elvetian commented on #979
I resolved by deleting the "." before open3d:
from open3d import * # py2 py3 compatible

[2020-01-21 13:08] pablospe commented on #1443
Perhaps you can modify the code to avoid the max/min in the code (check code in issue #1427):
https://github.com/intel-isl/Open3D/blob/fab6441b763b4964ef898cbb3fae8d10ef98442f/src/Visualization/Visualizer/ViewControl.cpp#L191

Note: I guess it is also related to this issue: #497

[2020-01-21 18:10] Armin12 commented on #608
Hi there,
I am using the following code to extract the pinhole camera parameters after a rotation. How could I do the same thing without need to terminate the window? I tried ` visible = False` as you mentioned above but it did not work for me.
`vis = o3.visualization.Visualizer()
vis.create_window()
vis.add_geometry(pcd)
vis.get_view_control().rotate(150, 0.0)
vis.run()
param = vis.get_view_contr

[2020-01-22 10:06] Hammania689 commented on #609
@rancheng, Here's an example of working code using @qianyizh  proposed method, which works nicely for my needs.

`def play_motion(list_of_pcds: []):
    play_motion.vis = o3d.Visualizer()
    play_motion.index = 0

    def reset_motion(vis):
        play_motion.index = 0
        pcd.points = tensor_to_pcd(list_of_pcds[0]).points
        vis.update_geometry()
        vis.poll_events()
        vis.u

[2020-01-23 09:15] kaixin-bai commented on #1445
https://github.com/ykoneee/k4a-python

[2020-01-23 12:41] prerakmody opened #1458 "Expose python binding for SetGlobalColorMap()"
**Context**
The [Visualization tutorials webpage](http://www.open3d.org/docs/release/tutorial/Basic/visualization.html#rendering-styles) shows how some keypress combinations can change the color map of the point cloud (_Shift + 0/1/2/3/4_)

**Requirement**
Is there a way to call this [_SetGlobalColorMap()_](https://github.com/intel-isl/Open3D/blob/master/src/Open3D/Visualization/Visualizer/Visuali

[2020-01-23 16:20] MrGoort commented on #1443
Hey thanks for the help!.
I don't know if this is the same problem as those linked issues as Z moves around and the zoom works, but it doesn't keep it at the same value.
Anyway, I would like to avoid modifying the source code of the library, unless it is strictly necessary.
Maybe one of the authors have an idea of how to efficiently control the camera and zoom in the viewer.

[2020-01-23 18:24] kimeguida opened #1459 "Error? different definitions for registration 'fitness' in source code and documentation"
Can you please provide the correct definition of what the 'fitness' in registration is? To be consistent with the code implementation.

in the docs:
"property fitness
    The overlapping area (# of inlier correspondences / **# of points in target**). Higher is better."
http://www.open3d.org/docs/release/python_api/open3d.registration.RegistrationResult.html
http://www.open3d.org/docs/release/tutor

[2020-01-24 16:27] devshank3 opened #1462 "Support for Intel realsense SR305 RGBD images ?"
Dear Open3D officials / Users ,

Tried to implement SR305 RGBD images acquired through the same realsense capture script (examples/Python/ReconstructionSystem/sensors/realsense_recorder.py).

successfully  recorded the RGBD dataset and executed the reconstruction pipeline , but the end result was not perfect and even fragment creation was not properly done and left out with sparse reconstruction

[2020-01-24 23:15] pablospe commented on #1443
Maybe just trying:
`zoom_ = ideal_zoom;`

[2020-01-25 17:09] PerspectivesLab commented on #979
got the same problem, impossible to solve, tried to remove the dot at "from open3d import * # py2 py3 compatible" but didnt resolve

[2020-01-25 18:53] PerspectivesLab opened #1463 "surface reconstruction poisson vs python 2.7"
**IMPORTANT: Please use the following template to report the bug.**
_____

**Describe the bug**
F strings are not implemented for python 2.7, all demos working with F string for python 3.6 are not working

**To Reproduce**
Steps to reproduce the behavior:
1. cd 'examples\Python\Advanced'
2. python surface_reconstruction_poisson.py
3. F strings are not implemented for python 2.7 => please change yo

[2020-01-26 21:00] szx0112 commented on #1356
I got the same error. The color and depth are exact same size except rgb has 3 channels. Any updates?

[2020-01-27 08:30] godspeed1989 commented on #1414
haven't been fixed yet?

[2020-01-27 11:31] M-A-Robson commented on #1356
You can get around this by creating your rgbd images with the kwarg convert_rgb_to_intensity=True

Though then you will not have color images to integrate so you may then need to recreate color versions for that step, which is annoying and inefficient.

I think that the offending code may be in Odometry.cpp
looks like it is checking for single color channel only:

`
inline bool CheckRGBDImagePair(

[2020-01-27 21:12] arkadeepnc commented on #1013
This can also be due to multiple versions of open3D associated with your interpreter.
See what version is installed : import open3d as o3d && o3d.__version__
Try pip3 uninstall open3D and see what version was uninstalled.
If the python can still import open3d after un-installation, you have another version installed! Sometimes this can be open3d-python so you can remove this by pip3 uninstall open

[2020-01-27 21:53] oseh commented on #1013
Thank you very much. You've been very helpful.

[2020-01-28 14:04] martinakos opened #1467 "azure_kinect_recorder.py --> RuntimeError: logger with name 'k4a_logger' already exists"
If I run the azure_kinect_recorder.py I can see the view with the rgb and depth images.
The moment I press [SPACE] to start, I get "RuntimeError: logger with name 'k4a_logger' already exists". This happens in this line:  self.recorder.open_record(self.filename)

Any ideas why this happens?

I mostly wanted to use the recorder because I've read in  #1183 that's the only way of finding the camera in

[2020-01-28 15:05] mths2601 commented on #1432
I am facing a similar problem. Is there any way to check whether the window has been closed while the loop for non-blocking visualization is running?
Thanks

[2020-01-28 16:18] chrisranderson opened #1468 "Support reading and writing of arbitrary properties"
**Is your feature request related to a problem? Please describe.**
We would like to use open3d to store labeled point cloud data, but in order to store the label of the data, we would have to store each class in a separate file, or associate a second file with the point cloud to store labels for regression outputs.

**Describe the solution you'd like**
I'd like an interface like this:
[code]

**De

[2020-01-28 16:27] chrisranderson commented on #1468
Related:
https://github.com/intel-isl/Open3D/issues/1086: this is a generalization of that
https://github.com/intel-isl/Open3D/issues/1002: this is a feature request, not a question

[2020-01-28 16:28] griegler commented on #1468
We are currently working on refactoring the code to support CUDA. In addition to that, we already planned that the geometry classes will get associated properties exactly for the purposes as you described. You can look at the gpu branch for progress on that.

[2020-01-28 16:30] chrisranderson commented on #1468
Great, thank you!

[2020-01-29 16:04] SebastianGrans opened #1469 "Specifying depth_trunc as"
**Describe the bug**

I rewrote the [redwood](http://www.open3d.org/docs/release/tutorial/Basic/rgbd_images/redwood.html) example code to generate a point cloud from the [T-LESS](https://github.com/thodan/t-less_toolkit) dataset. This dataset has depth images with values on the order of 10^4, so the default truncation of 3.0 is not suitable.

If the `depth_trunc` variable is set explicitly, e.g. `

[2020-01-31 05:39] scimad commented on #1314
I had similar issue working with 1.3.0 SDK. So I downgraded Kinect SDK to 1.2.0.

Tested both k4a versions with open3d-0.8.0 and **only k4a v1.2 works with open3d 0.8.0**. Trying open3d with k4a SDK 1.3 throws `[Open3D FATAL] Cannot load k4a.dll` whereras installing SDK 1.2 works fine.
Just for the record, the installers are here: [v1.2](http://download.microsoft.com/download/1/9/8/198048e8-63f2-4

[2020-01-31 05:40] scimad commented on #1240
You might want to refer to my comment at https://github.com/intel-isl/Open3D/issues/1314#issuecomment-580590274 if it helps.

[2020-01-31 06:26] richardrl opened #1480 "Line width has no effect"
**Describe the bug**
Setting the line_width with render option has no effect on the output.
**To Reproduce**
https://gist.github.com/richardrl/f76786042dcd72c6bd78396a73e172db

**Expected behavior**
The line width does not visually change regardless of what you set:
`    vis.get_render_option().line_width = 10.0
`
**Screenshots**
If applicable, add screenshots to help explain your problem.

**Envi

[2020-01-31 11:45] tristanheywood opened #1482 "Add function to VisualizerWithEditing to return points selected using rectangle or polygon select"
**Is your feature request related to a problem? Please describe.**
Currently `VisualizerWithEditing` has a function `get_picked_points`, which returns the indexes of points that have been picked using the gui. `VisualizerWithEditing` supports selecting points by dragging a rectangle or creating a polygon, however there is currently no way for user code to access these selected points.

**Describe

[2020-01-31 11:48] griegler commented on #1482
You may want to have a look at [`VisualizerWithVertexSelection`](http://www.open3d.org/docs/release/python_api/open3d.visualization.VisualizerWithVertexSelection.html#open3d.visualization.VisualizerWithVertexSelection).

[2020-01-31 12:36] sambarluc commented on #359
Do I understand correctly that the random number generation never made it into master? I am also trying to understand why my results with RANSAC/FPFH are unstable, and ended up in this conversation.

[2020-01-31 21:48] nickponline opened #1483 "How to you position camera and look at certain location in Open3D?"
How do you position the camera in the scene and point it towards a specific location? Is this possible in Open3D?

[2020-02-01 09:28] tristanheywood commented on #1482
![open3d_selector](https://user-images.githubusercontent.com/17230594/73589955-01fc6200-44dd-11ea-8ecb-2f44d1318f09.gif)
This is what I'd like to be able to do - use the `SelectionPolygon` to select multiple points and access the indexes of these points in Python, so I can for example, change the colour.

I made this using the `get_selected_points` function I implemented on my fork.

[2020-02-01 20:16] nickponline opened #1484 "3D Model (.obj) texture not loading correctly."
When I load this model in other software it appears correctly as this:
![image](https://user-images.githubusercontent.com/590151/73598370-5e1ab280-44ec-11ea-9491-f60c69e64435.png)

But with Open3D the texture is all messaged up:
![image](https://user-images.githubusercontent.com/590151/73598354-33305e80-44ec-11ea-8797-b55a55020f91.png)

![image](https://user-images.githubusercontent.com/590151/735

[2020-02-02 16:13] rtuchman commented on #1176
Hi @griegler , what are the required types and shapes of img, depth?

Thanks

[2020-02-03 08:29] griegler commented on #1482
Actually, you can also draw a rectangle in `VisualizerWithVertexSelection` to select multiple vertices at once.
https://github.com/intel-isl/Open3D/pull/1390

[2020-02-03 08:34] griegler commented on #1176
@rtuchman `img` and `depth` should have the same `height` and `width`. `img` can have one, or three channels, `depth` should have a single channel. `img` can be `uint8`, or `float`. `depth` should be `float`.

[2020-02-03 10:25] TheBricktop opened #1487 "Windows support?"
Is there a quick intro tutorial how to get into Open3d on win10?

[2020-02-03 10:31] tristanheywood commented on #1482
Ahh ok, sorry, I didn't see that.

`VisualizerWithVertexSelection` only selects points which are not obscured, so it doesn't quite fit my use-case. I'm working with aerial lidar data and I want to be able to e.g. select a tree by looking from directly above and dragging a rectangle around it. `VisualizerWithVertexSelection` would only select the canopy, since the other points will be obscured. Pot

[2020-02-03 10:33] xiaohulihutu commented on #1487
I m new to coding but i can use open3d 0.7.0.0 on win10. Just pip install open3d-python, done. I have tried hard to import the latest version but keep getting error shown below.

from .open3d import * # py2 py3 compatible
ImportError: DLL load failed: The specified module could not be found.

Trying hard to figure it out.

[2020-02-03 10:34] griegler commented on #1482
I see. Maybe @prewettg knows a solution to that problem.

[2020-02-03 10:52] xiaohulihutu commented on #1452
I am having the same issue. I tried on python 2.7 and 3.7 with VSCode and both had same issue. I can successfully use open3d-python 0.7.0.0 but cannot use the latest ver.

[2020-02-03 19:06] prewettg commented on #1482
`VisualizerWithVertexSelection` intentionally only selects visible vertices, although if selected all vertices is a common use case we could add a key to toggle it. However, if you comment out lines 374-381 (the section bookended by the `glColorMask()` calls) it will select all vertices. We pick vertices by drawing all the points with a unique color and then reading the color buffer back and undoi

[2020-02-04 03:27] hzxie opened #1490 "Where is "compute_point_cloud_to_point_cloud_distance"?"
The developers change API every release!!
I cannot find "compute_point_cloud_to_point_cloud_distance" anymore.

SO ANGRY!!!!!

[2020-02-04 03:28] hzxie commented on #1490
BTW, the search function in the docs page is not working at all!!
![Screen Shot 2020-02-04 at 11 28 26 AM](https://user-images.githubusercontent.com/1730504/73711347-7fc0a780-4741-11ea-812f-6937cd9d3d9e.png)

[2020-02-04 03:56] sp-creol opened #1491 "Kinect Azure extrinsic matrix from the IR to RGB camera in python API"
How to find the rotation-translation matrix from the IR camera to RGB camera in python API? I think this information should be stored in MKV metadata, since unaligned depth and RGB frames can be aligned using MKVreader. How can I find this information?

[2020-02-04 06:42] #1490 closed

[2020-02-04 06:42] hzxie commented on #1490
Moved to "http://www.open3d.org/docs/0.8.0/python_api/open3d.geometry.PointCloud.html" since 0.8.0.

[2020-02-04 10:22] mirkoGschwindt commented on #1432
I solved the problem by putting poll_events() in an if clause like this:

if not vis.poll_events():
     break

[2020-02-04 21:23] radarAaron commented on #1483
To set the initial viewing position of a scene do the following:

1. Run the visualizer and position the model using mouse/keyboard.
2. Once you are happy with this press the 'p' key. This will create a ScreenCamera_xxxx.json file which contains the relevant information.
3. Then add this to your code:
[code]

[2020-02-04 23:19] jravert88 opened #1492 "examples/Python/Advanced/remove_geometry.py doesn't run"
I attempted to run examples/Python/Advanced/remove_geometry.py in python3
I get the following errors:
`Adding 0
Traceback (most recent call last):
  File "remove_geometry.py", line 53, in <module>
    visualize_non_blocking(vis)
  File "remove_geometry.py", line 14, in visualize_non_blocking
    vis.update_geometry()
TypeError: update_geometry(): incompatible function arguments. The following argu

[2020-02-05 07:25] yigitkaraduman commented on #770
@syncle how can i set the view point in the middle of the window without reseting continiously?
i am dealing with point clouds of car's lidar and when i drive towards outside the window, point clouds disappear and went out the window frame.

[2020-02-05 15:28] jravert88 commented on #1492
Examples  should "just run".

This code works:
`# Open3D: www.open3d.org
# The MIT License (MIT)
# See license file or visit www.open3d.org for details

# examples/Python/Advanced/remove_geometry.py

import open3d as o3d
import numpy as np
import time
import copy

def visualize_non_blocking(vis,pcd):
    vis.update_geometry(pcd)
    vis.poll_events()
    vis.update_renderer()

pcd_orig = o3d.io.re

[2020-02-05 20:57] SeanStephensenAIRM commented on #1467
Have you tried using the SDK's built in k4arecorder.exe through command line? This does not solve the actual issue, but should help you get an .mkv recording with less hassle if it's possible on your system.

[2020-02-05 21:48] SeanStephensenAIRM commented on #1378
I'm getting the same error with windows 10, Kinect SDK 1.2.0. Recorded an mkv with SDK k4arecorder.exe through command line, and am trying to read that mkv in python 3.6.8 by: `python azure_kinect_mkv_reader.py --input path/filename.mkv --output path/output`. Path/output is successfully created, but there is nothing In it and I get the error described in the original post. No trouble viewing the m

[2020-02-05 23:14] SeanStephensenAIRM commented on #1487
Using open3d 0.9.0.0 with windows 10 currently. Set up a python 3.6 virtual environment in pycharm and use the package installer to install open3d (not open3d-python)

[2020-02-06 06:11] tkasarla commented on #897
Have same error that glx version 1.3 is required. My local Ubuntu (in WSL) has glx version 1.2. How do I update to 1.3?

[2020-02-06 15:38] mths2601 commented on #1432
That solved it for me, too. Thanks a lot!

[2020-02-06 16:52] xiaohulihutu commented on #1487
Good to know, thanks. I am using VSCode with Python 3.7. I have tried 2.7 as well but same error. Just dont know whats wrong with my VSCode.

[2020-02-06 16:56] SeanStephensenAIRM commented on #1487
hmm, haven't tried python in VSCode, but it should be similar. I wasn't able to get anything installed on python 3.7 or 3.8, but downgrading to 3.6 in a venv instantly worked. If you can setup a similar venv in VSC, should be able to get things working. Not sure if VSC has a package installer, but command line install should work as well as long as you check that the terminal is accessing the righ

[2020-02-07 04:04] AOSZZ commented on #1378
I also have windows 10, Kinect SDK 1.2.0.
It seems that the substitution values of "args.input" and "args.output" were not recognized, so I gave up running on the command line, entered the code directly, and ran the code with spyder, but it was output , Sometimes it works and sometimes it doesn't.
However, I have not been able to sort out what went well.
I will reply if it becomes clear.

[2020-02-07 04:23] jingnanshi opened #1496 "Adding a new robust registration algorithm"
Hi,

First of all, I want to thank the contributors for their amazing work on Open3D. I am opening this issue to propose adding a new robust point-cloud registration algorithm to the library.

Currently Open3D has two main methods for solving 3D point cloud registration problems robustly: [RANSAC](http://www.open3d.org/docs/release/tutorial/Advanced/global_registration.html) and [Fast Global Regis

[2020-02-07 05:13] scimad commented on #1357
If you are okay using `cmak-gui` here's my configurations for your quick reference if that helps you in anyway. (Please uncheck `BUILD_AZURE_KINECT` if you want to stay away from a big mess)

![image](https://user-images.githubusercontent.com/11834788/74002877-ad535e00-4998-11ea-980e-eaa19550f0c2.png)

[2020-02-07 05:33] scimad commented on #1496
Interesting things going here. [TEASER-plusplus](https://github.com/MIT-SPARK/TEASER-plusplus) looks interesting on first look.

@jingnanshi , I have seen these discussions and docs regarding 3rd party library addition in Open3D, thought you might be interested.
* Issue https://github.com/intel-isl/Open3D/issues/238
* [3rdparty Readme](https://github.com/intel-isl/Open3D-3rdparty/blob/de2cde9082bb

[2020-02-07 09:16] griegler commented on #1496
Thanks @jingnanshi, I think TEASER looks good and would be nice to have in Open3D. The only problem that I see right now is the license of PMC, which seems to be GPL. In general, we try to rely on permissive licenses, although there are some minor parts, that already use (L)GPL code.
Is there an alternative to PMC that could be used?
@germanros1987, @qianyizh what do you think?

[2020-02-07 11:26] scimad opened #1497 "Number of edge not showing up in Global Optimization using Gauss-Newton"
While using `o3d.registration.GlobalOptimizationGaussNewton()` as method for `o3d.registration.global_optimization()`, I noticed that the number of edges in verbose was missing as shown below.
[code]
Things are okay while using `o3d.registration.GlobalOptimizationLevenbergMarquardt()` method.

**Environment:**
 - OS: Ubuntu 18.04
 - Python version: 3.6.8
 - Open3D version: v0.8.0.
 - Compiled & In

[2020-02-07 12:50] #1497 closed

[2020-02-07 15:27] jingnanshi commented on #1496
@griegler I can try to contact the original author to ask about the possibility to change to a permissive license (is MIT license okay?).

We can also try to use algorithm other than PMC to find the maximum clique. However, to the best of my knowledge PMC is the fastest one currently available as an open source library. Changing PMC to other library will incur performance cost.

[2020-02-07 16:13] SeanStephensenAIRM commented on #1378
I have tried reading in my mkv video with [the official Kinect video reader example](https://github.com/microsoft/Azure-Kinect-Sensor-SDK/blob/develop/examples/playback_external_sync/main.c) (which just prints out the timestamp of each frame) and it worked perfectly - indicating that my video file is fine (no invalid captures) and this is certainly an error in open3d's process.

[2020-02-07 16:16] griegler commented on #1496
MIT, BSD, Apache and so on are all fine.
Also, if they do not change the license, we still might be able to include it, but we need to discuss it with @germanros1987 @qianyizh @yxlao and others.

[2020-02-07 16:28] germanros1987 commented on #1496
It would be great if the author is willing to make it MIT :)

[2020-02-10 00:56] TetroAlon commented on #1412
@buaadf
For me too,
for MACOS 10.14 users install by:
### **pip install --user open3d==0.8.0.0**

[2020-02-10 05:54] Hammania689 commented on #1490
Thanks mate for the posting the solution. This should probably be put in the documentation?

[2020-02-10 05:56] Sumit564 commented on #544
@syncle Hi syncle. I am having an issue regarding Volumetric Reconstruction using codes provided in open3d documentation. Error is -- [Open3D ERROR] [ScalableTSDFVolume::Integrate] Unsupported image format.

Depth Dataset Prop - {560 * 400 | Bit Depth- 24 | File size(appx.)- 258KB}
Image Dataset Prop - {560 * 400 | Bit Depth- 24 |File size(appx.)- 330KB}

All images and depth are in .png format an

[2020-02-10 06:10] kitac3 commented on #979
I had same problem

OS: Windows 10
Python version: 3.7.6
Open3D version: 0.9.0.0

I resolved  by installed VC++ DLL x86,x64 both package.

x86: vc_redist.x86.exe
x64: vc_redist.x64.exe

if show dll load error yet
I recomend check dependency of   lib\site-packages\open3d\open3d.cp37-win_amd64.pyd
with Dependecies tool.

Dependencies
https://github.com/lucasg/Dependencies
https://github.com/lucasg/D

[2020-02-10 13:44] syncle commented on #1444
With your transformation matrix, the information matrix can tell you what is the approximate L2 error. For more details, please see: http://redwood-data.org/indoor/registration.html

[2020-02-10 13:59] brookman commented on #1240
I have the same problem. I have SDK installed version 1.2 and the depth engine dll is there as well. Also `azure_kinect_viewer.py` gives me this error:

`[Open3D INFO] AzureKinectSensor::Connect
[Open3D INFO] sensor_index 0
[Open3D INFO] Serial number: 000021492512
[Open3D INFO] Firmware build: Rel
[Open3D INFO] > Color: 1.6.102
[Open3D INFO] > Depth: 1.6.75[6109.7]
Sensor initialized. Press [ESC]

[2020-02-10 17:04] ShettyHarapanahalli opened #1502 "extract 3D geometric shapes from point cloud"
Curious to know if we can extract/detect 3d shapes from a point cloud. ex - give a point cloud can we extract all cone, spears, and plans from it and also get its location in 3d space.

[2020-02-10 19:30] #1492 closed

[2020-02-11 02:04] BlankCheng commented on #912
Hello. May I ask how do you convert own features into open3d data type? It seems o3d.Vector3dVector does not work(.

[2020-02-11 02:26] BlankCheng opened #1503 "Convert own features into Feature()"
Dear Open3D users.

Hello! May I ask how to convert my own point-wise features(2048*128) into open3d type `Fearure()` to do RANSAC? I haven't found an API or similar issues, sorry to bother(.

[2020-02-11 02:47] jinfagang opened #1504 "Runtime Error"
[code]

here is my code:

[code]

How does it runtime error in this case? Does there any more detail error message could possibly give?

[2020-02-11 03:15] #1504 closed

[2020-02-11 03:51] XuyangBai commented on #912
Hi @BlankCheng try this:

[code]

[2020-02-11 03:59] BlankCheng commented on #912
Wow it works! Really appreciate that!!
But why '.T' works? I think it means transpose in numpy.

[2020-02-11 04:11] XuyangBai commented on #912
Yes, it is. But the `open3d.registration.Feature` save the data in `[dim, n]` shape. See http://www.open3d.org/docs/release/python_api/open3d.registration.Feature.html

[2020-02-11 04:15] BlankCheng commented on #912
I got it. Thank you!

[2020-02-11 06:01] richardrl opened #1506 "Select_down_sample blocks update_geometry"
**IMPORTANT: Please use the following template to report the bug.**
_____

**Describe the bug**
Using `select_down_sample` gets you a downsampled pointcloud. However, this pointcloud does not work with the visualizer. calls to visualizer.update_geometry(downsampled_pcd) do not have any effect; only the initial pointcloud is shown in the visualizer.

**To Reproduce**
`    downsampled_pcd = pcd.sele

[2020-02-11 06:58] g2ragrawal commented on #1506
down_sample will decrease no of points in cloud and its working  fine
[https://github.com/intel-isl/Open3D/blob/2ebd0a71320aa1a20bd978c5d7bbc2238fc92061/examples/Python/Basic/pointcloud_plane_segmentation.py](refer docs here)
![down_cloud](https://user-images.githubusercontent.com/38563307/74216256-cf671c00-4cc9-11ea-92c5-635424acb8e7.png)
maybe you are trying to zoom_out point cloud for that refe

[2020-02-11 07:05] g2ragrawal commented on #1506
down_sample will decrease no of points in cloud and its working fine
refer doc here #1287
![down_cloud](https://user-images.githubusercontent.com/38563307/74216388-3f75a200-4cca-11ea-9975-7ee22b9ee48f.png)

maybe you are trying to zoom_out point cloud for that refer https://github.com/intel-isl/Open3D/issues/828 use ctr.scale for zoom_out

[2020-02-11 07:57] griegler commented on #1506
The problem seems to be that `select_down_sample` produces a new `PointCloud`. So, visualizer does not have a reference to it and can not update it (Given that you called `add_geometry` with `pcd`, not with `downsampled_pcd`).
To make `update_geometry` work, you will need to call `add_geometry` with `downsampled_pcd`.

[2020-02-11 08:03] griegler commented on #1502
Open3D contains [`segment_plane`](http://www.open3d.org/docs/release/python_api/open3d.geometry.PointCloud.html#open3d.geometry.PointCloud.segment_plane) that might be applicable. For other shapes a similar method needs to be implemented.

[2020-02-11 12:43] nachovizzo opened #1507 "open3d::geometry::ComputeNormal citation"
Simple question:

Is the **`open3d::geometry::ComputeNormal`** based on any particular approach?
[code]
The path to the method can be found in [source](https://github.com/intel-isl/Open3D/blob/5f80019468928ca7771a3a14a4ac731246497e2d/src/Open3D/Geometry/EstimateNormals.cpp#L220)

[2020-02-11 12:51] griegler commented on #1507
It is based on fitting a plane to neighboring points (`KDTreeSearchParam`). How and why this works is for example described [here](https://www.ilikebigbits.com/2015_03_04_plane_from_points.html).

[2020-02-11 12:54] nachovizzo commented on #1507
Thanks!

[2020-02-11 12:54] #1507 closed

[2020-02-11 12:59] gdo-contilio commented on #1496
It looks like it is MIT already
https://github.com/MIT-SPARK/TEASER-plusplus/blob/master/LICENSE

[2020-02-11 13:01] syncle commented on #1507
I think the right citation for normal estimation from point set is

Its extended work is

The second method is not implemented in Open3D, but this paper states that [H. Hoppe et al. 1992] is the original work for normal estimation from a point cloud.

[2020-02-11 13:02] griegler commented on #1496
@gdo-contilio yes, TEASER has an MIT license, but it depends on PMC, which has a GPL.

[2020-02-11 13:05] griegler commented on #1507
@syncle note that Open3D has not fully implemented Hoppe et al. as it would also include the orientation of the normals based on a MST?

[2020-02-11 13:56] syncle commented on #1507
@griegler That's a good point. I agree because ``ComputeNormal`` does not include normal correction using MST. Does #1130 include MST or its variants? The combination of ``ComputeNormal`` and MST would be helpful, and we may cite [H. Hoppe et al. 1992].

[2020-02-11 13:58] griegler commented on #1507
@syncle No, #1130 is based on the assumption that you already have a `PointCloud` with normals. It does not touch on the aspects of normal computation.

[2020-02-11 14:16] syncle commented on #1507
Good to know. Many thanks!

[2020-02-11 14:22] HSarham commented on #1364
I found the problem. On Ubuntu 18.04 I had installed libpcl which depends on libqhull-dev. There is a conflict between the qhull compiled in Open3D and the default one installed on the system. I removed the libqhull-dev and now things seem to be file.
I also tried to remove the BUILD_QHULL cmake option but it gives an error which could probably be fixed.

[2020-02-11 14:22] #1364 closed

[2020-02-11 14:44] HSarham opened #1508 "Possibility to turn off the BUILD_QHULL option"
On Ubuntu 18.04 when the libqhull-dev package is installed it produces a conflict with the qhull that is compiled within Open3D. In case of for example using pcl in the same project, this may lead to a runtime error: https://github.com/intel-isl/Open3D/issues/1364

Right now the only solution I have found is to stop using libpcl in my project which is not a good solution in my opinon. On the other

[2020-02-12 10:21] ohad-denh commented on #979
ty, worked for me

[2020-02-12 16:15] #1441 closed

[2020-02-12 18:38] jgwak commented on #1414
Update: I managed to build both v0.9.0 and master on latest Arch. I don't know why it works now, but I guess the problem was on Arch, not open3d. Sorry for wrong report. Anyone on Arch may install either latest master or 0.9.0 through AUR. Closing issue.

[2020-02-12 18:38] #1414 closed

[2020-02-12 20:22] JTrantow commented on #1332
Closed due to lack of interest.

[2020-02-12 20:22] #1332 closed

[2020-02-12 20:22] JTrantow commented on #1334
Closed due to lack of interest.

[2020-02-12 20:22] #1334 closed

[2020-02-12 20:23] JTrantow commented on #1285
Closed due to lack of interest.

[2020-02-12 20:23] #1285 closed

[2020-02-12 20:32] nickponline commented on #1484
Cross-posted to stack overflow with a bounty if anyone wants that 🏆
https://stackoverflow.com/questions/60104854/how-to-your-load-3d-model-obj-in-open3d

[2020-02-12 21:10] SeanStephensenAIRM opened #1510 "ReconstructionSystem with Azure Kinect images?"
I'm trying to use the ReconstructionSystem script to stitch together 60 images taken in my office, very similar to the [sample case provided](https://drive.google.com/file/d/11U8jEDYKvB5lXsK3L1rQcGTjp0YmRrzT/view). I was able to run the sample (bedroom) data no problem and generate a point cloud, but I don't have the same luck with my own Kinect images. I think the problem here is the config.json

[2020-02-13 04:30] scimad commented on #1510
I have been doing the very same thing with perfect success here. So, it's doable.
why you're not giving your system configuration?

[2020-02-13 04:35] scimad commented on #1510
I have been doing the very same thing with perfect success here. So, it's doable.
Could you please also provide your system configuration.

[2020-02-13 06:40] camile666 commented on #1350
Hi,I face the same problem, I tried install python package through " sudo make python-package" since I used the system’s default Python, and I add " -DPYTHON_EXECUTABLE=/usr/bin/python ..". I wonder if you have fix this ,thx.

[2020-02-13 11:10] oseh commented on #1368
hey I have used git clone and i am still getting the same issue

[2020-02-13 13:50] jimzou commented on #1510
I also encountered the same problem.
**Traceback (most recent call last):
  File "run_system.py", line 68, in <module>
    make_fragments.run(config)
  File "D:\Open3D-0.9\examples\Python\ReconstructionSystem\make_fragments.py", line 191, in run
    n_files, n_fragments, config)
  File "D:\Open3D-0.9\examples\Python\ReconstructionSystem\make_fragments.py", line 169, in process_single_fragment

[2020-02-13 18:03] SeanStephensenAIRM commented on #1510
@jimzou where/how/why are you obtaining a 1280x720x3@8bit/chan = 24bit color image? The kinect's standard output seems to be a 32 bit RGBA @8bit/chan.

@scimad I'm on Mac 10.15.2 using a pycharm venv running python 3.6.8 and o3d 0.9.0.0. Bedroom reconstruction example ran no problem. What are you using for an intrinsic for reconstructing Kinect images? Can you share your config file like Jim did?

[2020-02-13 18:26] scimad commented on #1510
My config.json:
[code]

My intrinsic.json:
[code]

That being shared, I will see if I can spot anything to resolve your issue.

[2020-02-13 18:52] SeanStephensenAIRM commented on #1510
@scimad the images I'm using here are not from an mkv, just from 50 still image captures on a timed loop (A program I have written anyways, so I didn't have to parse an mkv). But I guess as long as the still images are being captured with the same settings as a recorded mkv, the intrinsic would still apply? If so, I can send you a very short/arbitrary mkv just with the goal of extracting the .json

[2020-02-13 21:13] jingnanshi commented on #1496
I've contacted the author (Ryan Rossi) via email, and he has allowed us to use his code as long as we include a reference to his paper. However, he has not actually changed the license on the original Github project to be MIT. @griegler will this work, or do we need to get him to change the Github license?

[2020-02-14 04:46] jimzou commented on #1510
I observed that in the case of redwood with color format 3channels 1byte ，and in code of AzureKinectRecord.cpp called ConvertBGRAToRGB func to get 3channels,
AzureKinectSensor::DecompressCapture(...
**{...
/* resize */
    rgbd_buffer->color_.Prepare(width, height, 3, sizeof(uint8_t));
    color_buffer->Prepare(width, height, 4, sizeof(uint8_t));
...
    ConvertBGRAToRGB(*color_buffer, rgbd_buffer

[2020-02-14 07:37] syncle commented on #1484
I believe the obj file you shared was created with MeshLab with MeshLab's custom texture extensions. The obj file has _multiple texture maps_, so it does not open correctly except for MeshLab (I have tested other obj file loaders, such as Windows 3D Viewer or [online obj file viewer](https://3dviewer.net/) but couldn't see the textured mesh).

[Check out this reference](http://paulbourke.net/dataf

[2020-02-14 09:43] griegler commented on #1496
@germanros1987 @qianyizh should know better.

[2020-02-14 14:17] grigorovici-andreea opened #1516 "Pointclouds created with Open3d have a pyramidal form"
Pointclouds created from depth with Open3d have a pyramidal form.

Is this intended or do we miss some sort of transformation to get to the cubic form?

Thank you

[2020-02-14 14:19] griegler commented on #1516
Could you provide sample code and data?

[2020-02-14 16:17] syncle commented on #1484
The obj file you shared the multiple materials (8 texture maps and materials). I think the following line would affect the issue
https://github.com/intel-isl/Open3D/blob/44a35978e78cf68a8368b90b173927ff0e0ef960/src/Open3D/IO/FileFormat/FileOBJ.cpp#L148-L157
@theNded Is this related to the fact that the textured mesh only can store a single texture map?

[2020-02-14 16:24] theNded commented on #1484
I see. This is due to the legacy architecture design
https://github.com/intel-isl/Open3D/blob/master/src/Open3D/IO/ClassIO/TriangleMeshIO.cpp#L75
where only one mesh is supported for IO. It would be non-trivial to change the interface, but I will try to see if we can find a workaround.

[2020-02-14 17:11] syncle commented on #1480
This feature was supported by old OpenGL, but it seems not working anymore.

Please check out this discussion: https://github.com/intel-isl/Open3D/pull/738.
and this StackOverflow: https://stackoverflow.com/questions/34866964/opengl-gllinewidth-doesnt-change-size-of-lines

Unfortunately, we may need to disable the thick line feature.

[2020-02-14 19:06] germanros1987 commented on #1484
It seems that Wei will be the champion for this task. Thanks Wei!

[2020-02-14 19:40] nickponline commented on #1484
Awesome thanks for looking into this @theNded. Let me know if I can help

[2020-02-15 09:05] Forest75 commented on #762
@whatseven Hi. Have you solved this problem? I try to append items to trajectory.parameters too, but it doesn't work.

[2020-02-17 06:33] kentaroy47 commented on #1480
too bad that bold lines are not available..

I draw psuedo-bold lines by adding jitters to points in lineset, so that the jitter width will become the line width. The visualiziation is not bad but the code tends to become complex..

[2020-02-17 06:58] syncle commented on #1480
FYI, @JeremyBYU also made an [interesting script.](https://github.com/intel-isl/Open3D/pull/738#issuecomment-564785941)

[2020-02-17 08:54] chaslie commented on #1487
I did a conda update and this solved the problem - good luck....

[2020-02-17 12:29] grigorovici-andreea commented on #1516
Hello,
The python code line, where we create the pointcloud, you can find it here: https://github.com/analogdevicesinc/aditof_sdk/blob/8fba6918c8569f50f1d12e2a4428edc425069cd9/bindings/python/examples/showPointCloud/showPointCloud.py#L108.

Below are some results (for the pointcloud I attached both front and side view)

![depth_dispalyed](https://user-images.githubusercontent.com/54316691/74653814

[2020-02-17 14:57] pcaudal commented on #1359
Hello,
Firstly, thanks for your great job on Open3D (0.9.0) (Python 3.7).

I have the same issues with the same tests and more, because problems occurs when I try to test:
[code]
where VoxelGrid.create_from_point_cloud seems not implemented...
If you are interested, I can send you my pcd file.

Regards

[2020-02-18 01:47] jonra1993 commented on #543
Hi anyone I was trying to use Non-blocking visualization from here http://www.open3d.org/docs/latest/tutorial/Advanced/non_blocking_visualization.html to hide and show pointclouds After hiding points, it does not show pointclouds anymore.
as @jelmr suggested I hide points using
pc.points = open3d.Vector3dVector([])
pc.colors = open3d.Vector3dVector([])

Any one knows if I am using correct approach

[2020-02-18 06:43] syncle commented on #1516
Here are a few suggestions:
- Consider updating the camera intrinsic parameter in 113th line.
- Use ``[`` or ``]`` key in visualizer to see the point clouds in orthogonal projection mode. If the planar scene looks planar, it should be fine.

[2020-02-18 10:27] mashalahmad opened #1522 "Poisson reconstruction"
Hi

Im trying to use the open3d for scene reconstruction with poisson reconstruction. the paramter I set are this
mesh, densities = o3d.geometry.TriangleMesh.create_from_point_cloud_poisson(downpcd, depth=10, width=0, scale=1.5, linear_fit=True)
My pointcloud was very large so I downsample it before the poisson recon like this
downpcd.estimate_normals(search_param=o3d.geometry.KDTreeSearchParamHyb

[2020-02-18 10:47] tfy14esa commented on #740
Dear @syncle
My goal is similar to @rishikeshck. Consider a real-time SLAM system that takes as input an RGBD stream and updates the mesh or pointcloud is updated as the algorithm runs. For a concrete example, see e.g. [this video](https://www.youtube.com/watch?v=C6-xwSOOdqQ&feature=emb_title).

Is this possible to do in Open3D?

Cheers,
Erik

[2020-02-18 13:27] elliestath opened #1523 "using Open3D with RGB images and depth calculated by MVS"
I am trying to use my RGB+depth images that I already have generated using MVS procedures and not a depth sensor. I have converted the depth to 16 bit and to me it looks correct as values. However, the reconstruction using Open3D is erroneous, reconstructing the object in parts of different depth ![Screenshot from 2020-02-18 14-23-00](https://user-images.githubusercontent.com/11046400/74739985-466

[2020-02-18 14:00] syncle commented on #1523
Does the depth map is a disparity map? It looks like a highly quantized disparity map. [If so, consider transforming disparity map to depth map.](https://opencv-python-tutroals.readthedocs.io/en/latest/py_tutorials/py_calib3d/py_depthmap/py_depthmap.html#depth-map-from-stereo-images) and save the metric depth into 16bit png image.

[2020-02-18 14:03] syncle commented on #1522
I think the downsampling procedure was too harsh and not even for the point sets. As a result, 10 levels of Poisson Recon would not help since the input point cloud was very sparse. Consider voxel downsampling to uniformly downsample and preserve the structures.

[2020-02-18 14:03] elliestath commented on #1523
I generated these maps using OpenMVS, so I supposed they are depth maps. Then, I inverted the colors so that black is the closest and then transform it to 16 bit using ImageMagik.

[2020-02-18 14:05] syncle commented on #1454
I think this request is being addressed in ``ml-module`` branch. @yxlao could you confirm and share the status?

[2020-02-18 14:28] syncle commented on #1491
It is possible, but I think that functionality is not exposed in Python API. I bet it is intended to make API simple (don't have to worry about alignment issue) and to fully utilize factory calibration parameters.

FYI, I have traced Kinect Azure API a bit.
https://github.com/intel-isl/Open3D/blob/661a9a197135389272c1227d1abe6a201abd2a8d/src/Open3D/IO/Sensor/AzureKinect/MKVReader.cpp#L97
It reads

[2020-02-18 14:39] syncle commented on #1463
Umm, I cannot see any f-strings in the aforementioned script. @griegler, could have you look?

[2020-02-18 14:41] syncle commented on #1462
Have you got a luck to find a solution? I think you need to use custom intrinsic parameters to get successful reconstruction.

[2020-02-18 14:46] syncle commented on #1459
Good catch. @qianyizh, could you check which one is correct?

[2020-02-18 14:57] syncle commented on #1448
Yes. pickling is actually [a long hanging issue](https://github.com/intel-isl/Open3D/issues/218). To querying KDTree using multi-threading, we are preparing better API for that. Please stay tuned.

[2020-02-18 14:59] syncle commented on #1458
That's actually a good suggestion. @qianyizh what do you think? Do we have a reason to not to expose these functions?

[2020-02-18 15:07] syncle commented on #1469
Umm, it should run well... I think the issue may come from the max depth value. What is the return value of ``np.max``? Does it exceed integer precision? In that case, I think the sign of the value could be swapped.

[2020-02-18 15:43] #1391 closed

[2020-02-18 15:48] syncle commented on #1428
Could you specify ``radius`` or ``max_nn= `` and run the example again?

[2020-02-18 16:18] griegler commented on #1463
No, I checked all the surface_reconstruction_*.py files and did not find any f-strings. @PerspectivesLab did you had another file in mind?

[2020-02-18 16:21] devshank3 commented on #1462
Hi @syncle i was not able to find a way around.

I used the intrinsic.json generated by the recorder script , but noting happened.

I doubt the depth format , if im not wrong
Is there some thing with the format
because in **D435i** depth data the near objects are darker and in **SR305** depth data near was greyish farther was dark.

I also raised a issue in intel realsense official repo

https://g

[2020-02-18 16:27] hongyuli commented on #1428
Thanks for following up.

I understand the radius value is used to specify the search range to compute normals, so I tried a variety of values from centimeter to meter order (with and without voxel downsample in relative smaller value as well). Also tried different max_nn values which should specify the maximum neighbors for normal estimation. Still get the same error.

[2020-02-18 16:41] qianyizh commented on #1458
No, we should expose them for interface parity.

[2020-02-18 16:42] qianyizh commented on #1459
Yes, we should go with implementation. `fitness` is a percentage number.

[2020-02-18 16:52] tfy14esa opened #1524 "SLAM visualizations similar to Pangolin"
This issue is similar to issue[ #220](https://github.com/intel-isl/Open3D/issues/220), but this post asks more concretely about the visualization tools of Open3D, rather than performance.

**Is your feature request related to a problem? Please describe.**
I would like a streamlined platform in python where one can develop a slam gui similar to e.g. the one used by [LSD SLAM](https://www.youtube.co

[2020-02-19 07:52] #1463 closed

[2020-02-19 09:34] g2ragrawal commented on #617
@syncle can i rotate model with angles along to x axis and y axis. something like i have value of yaw and pitch so how can i get view of model with this two angles?

[2020-02-19 10:57] mashalahmad commented on #1522
thanks for the reply. I applied the downsampling becuase the pointcloud was very large. even I skipped the downsampling or set the voxel size very small let say 0.01 I got the same result. Im attaching the images with no down sampling or small size voxel.
![without-smpling](https://user-images.githubusercontent.com/31829812/74827585-94866900-5305-11ea-836e-0b9dcc94702a.png)

Im not sure how to mak

[2020-02-19 17:02] sp-creol commented on #1491
Thanks, I will give it a try.

[2020-02-19 17:02] #1491 closed

[2020-02-19 21:36] germanros1987 commented on #1524
Hi @tfy14esa. We are currently working on a new GUI API that will allow users to create ad hoc user interfaces on top of Open3D, including visualization and rendering. I think that could be a good starting point to create the SLAM viewer.

[2020-02-19 21:39] germanros1987 commented on #1522
@griegler do you have any ideas?

[2020-02-19 21:39] germanros1987 commented on #1516
@grigorovici-andreea is this issue solved?

[2020-02-19 21:41] germanros1987 commented on #1510
@SeanStephensenAIRM is your problem solved?

[2020-02-19 21:43] germanros1987 commented on #1508
@yxlao could you please take a look at this conflict?

[2020-02-19 21:44] #1506 closed

[2020-02-19 21:46] germanros1987 commented on #1503
@syncle any hints?

[2020-02-19 21:47] #1502 closed

[2020-02-19 21:54] germanros1987 commented on #1496
@jingnanshi we need something more explicit, such a proper upgrade of the PMC license, given that we would need to include it in the project.

A possible workaround would be to have TEASER as an optional module, disabled by default. Users could enable it on demand accepting the GPL license of PMC.

[2020-02-19 21:54] germanros1987 commented on #1487
@TheBricktop is your question addressed?

[2020-02-19 21:55] #1483 closed

[2020-02-19 21:56] #1482 closed

[2020-02-19 21:57] germanros1987 commented on #1480
Actually...I am reopening this.

@Xardvor could we make sure that our new materials can handle different line widths?

[2020-02-20 01:39] BlankCheng commented on #1503
I find the solution, just write:
`o3d_feat = o3d.Feature()
o3d_feat = own_feat.T`

[2020-02-20 01:39] #1503 closed

[2020-02-20 07:14] g2ragrawal commented on #617
i am able to rotate with rotation matrix form yaw, pitch, roll and using pcd.geometry.PointCloud.rotate()

[2020-02-20 09:05] tfy14esa commented on #1524
Thank you for your response @germanros1987. Currently, there is not a direct way to construct such a visualizer then so would you suggest I use e.g. Pangolin as my starting point for now?

In that case, I look forward to when it is finished! Good luck! :)

[2020-02-20 12:57] grigorovici-andreea commented on #1516
Hello,
I added the camera intrinsic parameters, and the resulted point cloud still has a pyramidal form.
(https://github.com/analogdevicesinc/aditof_sdk/blob/3760cb8352001377e68088b68a01b712f083ea23/bindings/python/examples/showPointCloud/showPointCloud.py#L72)

I also have a question for intrinsic parameters. Does open3d need these parameters in pixels or in meters (I used them in pixels)?

Also,

[2020-02-20 15:36] mashalahmad commented on #1522
well I inspect the source code of open3d poisson recon file and found that the default paramters are similar to cloud compare
here is link of file
https://github.com/intel-isl/Open3D-PoissonRecon/blob/fd273ea8c77a36973d6565a495c9969ccfb12d3b/Src/PoissonRecon.cpp

and these are parameters that I compare
sample per node 1.5
full depth 5
point weight 2
Boundary Neuman
the only difference I found is p

[2020-02-20 15:44] griegler commented on #1522
@mashalahmad Are you removing vertices with low density values? See this [example](https://github.com/intel-isl/Open3D/blob/master/examples/Python/Advanced/surface_reconstruction_poisson.py#L43) from line 43 onwards. Also, how did you derive the normals of your point cloud?

[2020-02-20 15:46] mashalahmad commented on #1522
no Im not removing any vertices and I computed the normals like this
pcd.estimate_normals(search_param=o3d.geometry.KDTreeSearchParamHybrid(radius=0.0123, max_nn=30))

I change the value of radius as well and try to see the difference but its more or less the same

[2020-02-20 15:50] griegler commented on #1522
Ok, removing low density vertices will definitely help in the areas where the reconstruction is extrapolating and where little to no points are.

Further, the normals might be another problem. `estimate_normals` does not orient the normals. That means, neighboring normals might point into the opposite direction, which is problematic for Poisson surface reconstruction. I think @syncle is working on

[2020-02-20 15:53] mashalahmad commented on #1522
ok so it means I had to wait. I see in cloud compare the options are with the minimum spanning tree or orientation in preferred axis(z,x,y). are you implementing something similar too?
and how can I remove the low density vertices?

[2020-02-20 15:56] griegler commented on #1522
@mashalahmad that is exactly what is planned. Maybe @syncle already has some more information on that.

[code]
where you have to adapt the threshold in the first line to fit your needs.

[2020-02-20 15:57] mashalahmad commented on #1522
ok great and thanks alot for the quick responses. waiting anxiously :dancer:

[2020-02-20 16:04] mashalahmad commented on #1522
Ok I found it that problem is actually the normal orientation. I ran the test in cloudcompare by computing the normals with no orientation (I did previously through the spanning tree) and resulting mesh was exactly like the open3d one.

[2020-02-20 19:51] scimad commented on #1378
Same issue here!

[2020-02-20 22:35] ipa-mah opened #1529 "Wrong visualization of texture mesh"
Probably this bug is from `tinyobjloader` library but I just reproduce it here. My texture mesh has multiple texture files (.png). I built Open3D from source.
The texture mesh visualized in MeshLab:
![meshlab](https://user-images.githubusercontent.com/20105284/74986228-6d30b880-5439-11ea-9078-96e48f152608.png)
The texture mesh visualized in Open3D:
![open3d](https://user-images.githubusercontent.c

[2020-02-20 23:29] theNded commented on #1529
#1517 is supposed to support this feature. Can you please share the link to this model for an additional test before merging? Thanks!

[2020-02-21 05:53] g2ragrawal commented on #608
i dont know why this work but it works
`def move_forward(vis):

		image = vis.capture_screen_float_buffer(False)
		image=np.asarray(image)
		plt.imsave("image1.png",image)
		vis.register_animation_callback(None)
		vis.destroy_window()
		return False`
`	vis=open3d.visualization.Visualizer()
	vis.create_window(visible=False)
	vis.add_geometry(pcd)
	ctr=vis.get_view_control()
	ctr.scale(1000)
	ctr.ro

[2020-02-21 08:57] ipa-mah commented on #1529
I updated updated version. The visualization is correct now. Thanks.
![open3d_v2](https://user-images.githubusercontent.com/20105284/75019090-929ce100-5490-11ea-8aa9-6fd6b20c9a0e.png)

[2020-02-21 08:57] #1529 closed

[2020-02-21 09:39] gabe3491 commented on #886
just include opengl32.lib in your project, that will solve all your unresolved external symbol error realted to gl

[2020-02-21 13:48] TheBricktop commented on #1487
ye

[2020-02-21 14:13] mashalahmad commented on #1522
on open3d documentation I found this

estimate_normals(self, search_param=geometry::KDTreeSearchParamKNN with knn = 30, fast_normal_computation=True)
Function to compute the normals of a point cloud. Normals are oriented with respect to the input point cloud if normals exist

it clearly says that normals are oriented :( why is that

[2020-02-21 14:20] griegler commented on #1522
What the doc is saying (not in a clear way): If the point cloud already has normals and `EstimateNormals` is called, then the normals are oriented according to the already existent normals.

[2020-02-21 15:36] mashalahmad commented on #1522
I tried running the surface reconstruction by importing a point cloud with normals but in this case I got the error

RuntimeError: [Open3D ERROR] [CreateFromPointCloudPoisson] pcd has no normals

I even tried with estimate_normals but getting the same error.

[2020-02-21 16:22] theNded commented on #1484
@nickponline can you please check the latest version?

[2020-02-21 19:58] syncle commented on #1524
FYI, there is an [active branch for the new GUI support](https://github.com/intel-isl/Open3D/tree/gui). Check it out if you want to try early.

[2020-02-21 20:17] syncle commented on #1487
How about just trying ``pip install open3d``? It is more official way to install :)

BTW, the DLL error may be due to the virtual environment issue. @yxlao, I found we had received same question before #1452, #1421, #979. Some users had to [downgrade Open3D](https://github.com/intel-isl/Open3D/issues/979#issuecomment-568257119), [install windows redistributable](https://github.com/intel-isl/Open3D

[2020-02-22 13:41] Moxinlin opened #1535 "can't use open3d.geometry.VoxelGrid.voxels"
i try to run the code following:
import numpy as np
import open3d as o3d

pcd = o3d.io.read_point_cloud("/Users/MXL/Desktop/sample_1.pcd")
print(pcd)
print(np.asarray(pcd.points))

vox_grid = o3d.geometry.VoxelGrid.create_from_point_cloud(pcd, 0.5)
print(np.asarray(vox_grid.voxels))

then error occurs.
The output is:
geometry::PointCloud with 868 points.
[[ -12.9654   -167.1241     49.004299]
 [ -

[2020-02-24 04:07] izhangrui commented on #979
thanks,it worked by  deleting the "."

[2020-02-24 06:14] izhangrui commented on #979
![image](https://user-images.githubusercontent.com/25197453/75131835-9c804780-570f-11ea-8dd0-b3f650514238.png)
thanks,I download this dll,then it work

[2020-02-24 12:36] valvador92 commented on #1303
Hi!
@argosvr  Do you have an answer to this question?

Are you using single value decomposition? Could you just tell me the name of the implemented method?

Thank you!

[2020-02-24 13:14] griegler commented on #1303
@syncle can you give some details?

[2020-02-24 22:13] nickponline commented on #1484
@theNded this works well, except I'm not sure if there is a way to crop them, is there a way to do that?
Thank you so much!

[2020-02-24 22:20] nickponline commented on #1484
I think that might have been a pre-existing limitation on Open3D, so might not be related.

[2020-02-25 06:26] hyeokhyen opened #1538 "Animation for sequential visualization from geometry list"
Hi,
From the document, the animation examples only shows animations for view points changes, rotation, translation for input geometry.

How to sequentially visualize list of geometry one by one?
Any example code for that?

I will appreciate your reply.

[2020-02-25 09:05] mberglundmx commented on #218
I needed TriangleMesh tobe pickable for my project, I managed it by just adding these lines to trianglemesh.cpp in Open3D\src\Python\open3d_pybind\geometry\trianglemesh.cpp:

[code]

Not the most efficient solution, but it solves my problem where I need to be able to archive the mesh data.

[2020-02-26 05:33] maciejmatuszak commented on #1535
can be reproduced in simplier way:
[code]

[2020-02-26 06:04] hm1205 commented on #1414
dear all,

reopening, because i'm still unable to build ... even the AUR deposit do not work.
'
make[1] : on entre dans le répertoire « /home/monarch/Open3D/build »
make[2] : on entre dans le répertoire « /home/monarch/Open3D/build »
make[2] : on entre dans le répertoire « /home/monarch/Open3D/build »
make[2] : on entre dans le répertoire « /home/monarch/Open3D/build »
make[2] : on entre dans le r

[2020-02-26 09:09] tfy14esa commented on #1524
Thanks a lot @syncle. I look forward to when this is finished.

[2020-02-26 09:23] jgwak commented on #1414
@hm1205 Have you upgraded Arch Linux to the latest version? I don't know why, but recent system upgrade resolved this issue for me. This may be a bug of Arch Linux or other upstream such as gcc.

[2020-02-26 13:55] hm1205 commented on #1414
@jgwak Running latest manjaro dist and up to date
which gcc version are you using ?

[2020-02-26 14:07] jgwak commented on #1414
@hm1205 This is my gcc version: `9.2.1+20200130-2`
I'm sorry I don't think I can be much help if you are on Manjaro. In my experience though, I failed to compile open3d until couple weeks ago when I upgraded my system. Manjaro's "up to date" is not as up to date as Arch's, so my best hope is that sometime later, you may be able to compile this package. Fingers crossed.

[2020-02-26 14:47] elliestath commented on #1523
any news on that issue? could it the problem be that my model is not scaled to real world? how should an adequate depth map be structured?

[2020-02-26 17:12] hm1205 commented on #1414
thanks, let's wait...

[2020-02-26 17:14] airfield20 commented on #1361
Im also having this issue.

[2020-02-27 03:14] chenshida opened #1543 "ComputeFPFHFeature couldn`t work"
**Describe the bug**
I have a test of RegistrationRANSAC, which is a example of c++ and use the Testdata. But in running, it take an error like this:
[code]
after debug, I find the API registration::ComputeFPFHFeature will cause this error. further more, I use python API run sample example, but it work well.

**Expected behavior**
why the C++ API will raise error , but python API work well, how ca

[2020-02-27 07:49] ShiwenH opened #1544 "Compile issue in debug in visual studio 2019"
Hi I directly succeeded to compile release version in visual studio in 2019 but when I tried to compile debug version, the compiler showed that /bigobj was needed in compiline Geometry module.

[2020-02-27 10:31] chenshida commented on #1543
I find that some share Ptr cause this problem, the API is work well ,sorry. I'll close this problem.

[2020-02-27 10:31] #1543 closed

[2020-02-27 11:59] syncle commented on #1538
Hello @hyeokhyen. Please refer to [this example](https://github.com/intel-isl/Open3D/blob/master/examples/Python/ReconstructionSystem/sensors/realsense_pcd_visualizer.py): it reads RGBD images, transforms it into a point clouds, and finally visualize live point sets.

[2020-02-27 12:03] syncle commented on #1484
Closing this since the main issue was addressed. @nickponline: Please open a new one if needed.

[2020-02-27 12:03] #1484 closed

[2020-02-27 12:08] #1444 closed

[2020-02-27 12:15] #1445 closed

[2020-02-27 12:16] syncle commented on #1432
Thanks @mirkoGschwindt

[2020-02-27 12:16] #1432 closed

[2020-02-27 12:21] syncle commented on #1426
FYI, We have [a PR on this ](https://github.com/intel-isl/Open3D/pull/1262).

[2020-02-27 12:26] syncle commented on #1371
Could you [check out this example](http://www.open3d.org/docs/release/tutorial/Advanced/customized_visualization.html#capture-images-in-a-customized-animation)?

[2020-02-27 12:31] syncle commented on #201
FYI, We are adopting a high-end rendering engine. This is [a working branch](https://github.com/intel-isl/Open3D/tree/gui).

[2020-02-27 12:31] #201 closed

[2020-02-27 12:33] syncle commented on #2
Thanks @dopeboy for the solution that can be adopted readily. Closing for now. FYI, we are working on this issue. Here is [a working branch](https://github.com/intel-isl/Open3D/tree/gui)

[2020-02-27 12:33] #2 closed

[2020-02-27 12:36] #612 closed

[2020-02-27 12:39] #522 closed

[2020-02-27 12:46] #699 closed

[2020-02-27 12:47] #732 closed

[2020-02-27 12:47] #739 closed

[2020-02-27 12:50] syncle commented on #841
Closing due to inactivity.

[2020-02-27 12:50] #841 closed

[2020-02-27 12:51] syncle commented on #966
Closing due to inactivity.

[2020-02-27 12:51] #966 closed

[2020-02-27 12:51] syncle commented on #964
Closing due to inactivity.

[2020-02-27 12:51] #964 closed

[2020-02-27 12:56] syncle commented on #915
Closing due to inactivity. @ram2307 Please reopen if needed.

[2020-02-27 12:56] #915 closed

[2020-02-27 13:00] syncle commented on #974
Closing due to inactivity. Please reopen if needed. Might be related to #848.

[2020-02-27 13:00] #974 closed

[2020-02-27 13:02] syncle commented on #1166
Could you put [x,y,z,i] example file here?

[2020-02-27 13:03] syncle commented on #1157
Please check out [this suggestion.](https://github.com/intel-isl/Open3D/issues/2#issuecomment-549615014)

[2020-02-27 13:07] syncle commented on #1199
Closing for now due to inactivity. @lexer21 Please reopen this issue if necessary.

[2020-02-27 13:07] #1199 closed

[2020-02-27 13:09] syncle commented on #1196
Thanks for the pointer @ArashJavan! Closing for now.

[2020-02-27 13:09] #1196 closed

[2020-02-27 13:12] syncle commented on #1188
The geometry is not defined with nan values. The visualizer assumes the coordinate is finite. @victorjoos do you have a common use case for this? How about filtering such nan values before using visualizer instead of expecting visualizer softly ignores them?

[2020-02-27 13:13] syncle commented on #1236
@hagianga21 Sorry, but it would be great if you can contribute!

[2020-02-27 13:14] syncle commented on #1256
How about mapping gray value to colormap using ``matplotlib``?

[2020-02-27 13:15] syncle commented on #1266
Thanks for the suggestion. Could you make a PR on this if you would like to?

[2020-02-27 13:17] syncle commented on #1200
We are actually working on this. Please try [this working branch](https://github.com/intel-isl/Open3D/tree/gui).

[2020-02-27 13:19] syncle commented on #1195
Thanks for the suggestion. Unfortunately, given basic Open3D's functions, the suggested way (sampling from mesh) is a viable solution for now. It would be great if you can contribute!

[2020-02-27 13:20] syncle commented on #1349
Literally, the pose graph seems empty. Could you tell what is your use case?

[2020-02-27 13:21] syncle commented on #1348
I am not sure whether this issue still persists. @yxlao could you have a look?

[2020-02-27 13:22] #1324 closed

[2020-02-27 13:25] syncle commented on #1300
@mattj23 Please submit. We will be happy to review it.

[2020-02-27 13:27] syncle commented on #1522
Umm, that's weird. Please double-check if your point cloud has the valid normals.

[2020-02-27 15:30] #1188 closed

[2020-02-27 15:48] aGIToz commented on #1256
Yes, thanks I already did that but using the opencv. I should have closed this issue but here is how I did it:

[code]

[2020-02-27 16:58] TobiasFischerP4D commented on #1428
Same here. Sadly I cannot share the data :(

[2020-02-28 04:05] AND2797 commented on #1348
It is still there.

[2020-02-28 05:08] jjhartmann commented on #1378
I also have this issue

[2020-02-28 08:54] FelipeDelgadoR opened #1550 "Point Cloud visualization GLFW Error"
Hello everyone,
I've been using Open3D 0.7.0 for a while now, playing with point clouds...
I visualize my pointclouds with open3d.visualization.draw_geometries
Often when I move the point clouds in the window I get this error:

`[Open3D Error] GLFW Error: Failed to make context current`

even with having this error printed in the console, I could keep working and moving around the point cloud with

[2020-02-28 08:58] yxlao commented on #1487
Hi, I tested Open3D `0.9.0` pip and Conda installation under Windows 10 64-bit with python3.7 and they're all working for me.

Here's the full terminal recording for `pip install`:
https://terminalizer.com/view/fcc321e93273

Here's the full terminal recording for `conda install`:
https://terminalizer.com/view/0c3811b03274

Please try with the exact same command (including creating a fresh environm

[2020-02-28 08:59] yxlao commented on #1452
Install `open3d` instead of `open3d-python`. I tested Open3D 0.9.0 pip and Conda installation under Windows 10 64-bit with python3.7 and they're all working for me.

Here's the full terminal recording for pip install:
https://terminalizer.com/view/fcc321e93273

Here's the full terminal recording for conda install:
https://terminalizer.com/view/0c3811b03274

Please try with the exact same command (

[2020-02-28 08:59] #1452 closed

[2020-02-28 09:00] yxlao commented on #979
I tested Open3D 0.9.0 pip and Conda installation under Windows 10 64-bit with python3.7 and they're all working for me.

Here's the full terminal recording for pip install:
https://terminalizer.com/view/fcc321e93273

Here's the full terminal recording for conda install:
https://terminalizer.com/view/0c3811b03274

Please try with the exact same command (including creating a fresh environment and ac

[2020-02-28 10:01] mashalahmad commented on #1522
Here is some sample of data points

[code]

I computed the normals with another software

[2020-02-28 10:14] griegler commented on #1522
@mashalahmad What is the file format and can you provide a code snippet that you used to load the point cloud?

[2020-02-28 10:21] mashalahmad commented on #1522
Actually my point cloud format is .pts and it have no normals with it so I computed the normal and then reconstruct the surface with Poisson but it didn't came very well here is the snippet
[code]

So I computed the normals fro a software and I provided the sample above and try to import it like the this and then compute the normals because one of you pointed out that if a pointcloud already have

[2020-02-28 12:13] limgm commented on #1487
Hi @yxlao  I just tried the same command for `conda install ` but the problem still exists on my machine
Windows 10 64-bit with python3.7

[2020-02-28 12:15] yxlao commented on #1487
@limgm can you post a full terminal log?

[2020-02-28 12:15] limgm commented on #1487
(base) C:\Users\User>conda list env
# packages in environment at D:\ProgramFiles\Anaconda3:
#
# Name                    Version                   Build  Channel
conda-env                 2.6.0                h36134e3_1

(base) C:\Users\User>conda env list
# conda environments:
#
base                  *  D:\ProgramFiles\Anaconda3
dl                       D:\ProgramFiles\Anaconda3\envs\dl
kv2

[2020-02-28 12:25] yxlao commented on #1487
Can you `dir` the installation directory: `D:\ProgramFiles\Anaconda3\envs\py37-conda\lib\site-packages\open3d`

[2020-02-28 12:26] TobiasFischerP4D commented on #1428
Here's the actual `backtrace`, not just the `SIGSEGV` message:

[code]
[code]
[code]
[code]
[code]
[code]
And then comes Python stuff.

[2020-02-28 12:27] limgm commented on #1487
[code]

[2020-02-28 12:33] yxlao commented on #1487
Thanks, looks like the open3d library is there `open3d.cp37-win_amd64.pyd`. This is probably due to some system runtime library versions. Can you try with attempt 1 and then attempt 2 as follows?

Attempt 1:
From https://support.microsoft.com/en-my/help/2977003/the-latest-supported-visual-c-downloads, download the `vc_redist.x64.exe` and install. Or, use this direct link: https://aka.ms/vs/16/rele

[2020-02-28 12:39] limgm commented on #1487
I tried attempt 1 and the error is not present
[code]

But when i try a basic example there is some error, is it related?
[code]

Thanks for your help

[2020-02-28 12:48] yxlao commented on #1487
Perfect, if attempt 1 is working then no need to try attempt 2.

The ` module 'open3d' has no attribute 'geometry'` is another issue. Can you simply try the following (attaching my terminal output):

[code]

[2020-02-28 12:51] limgm commented on #1487
[code]

[2020-02-28 12:54] yxlao commented on #1487
What about this?

[code]

[2020-02-28 12:55] limgm commented on #1487
[code]

[2020-02-28 12:56] yxlao commented on #1487
That's very strange. Can you try re-creating a new conda environment, and install open3d (after you have already installed the vc2019 runtime)?

[2020-02-28 12:58] yxlao commented on #1487
If it still doesn't work, could you try attempt 2?

[2020-02-28 13:15] limgm commented on #1487
Hi @yxlao thank you very much attempt 2 works!

I also removed the old env, recreate a new conda env, install open3d and now it is working fine!

[2020-02-28 14:00] syncle commented on #1550
Hi, Could you try to install dependencies using the scripts [here](https://github.com/intel-isl/Open3D/tree/master/util/scripts) and build from source?

[2020-02-28 14:01] syncle commented on #1544
Could you provide more detail so that we can get more information?

[2020-02-28 14:41] TobiasFischerP4D commented on #1428
Ok so apparently `Open3D` and `PCL` are incompatible at some level in our setup (maybe both using FLANN leads to a collision..?). We are using some custom `pybind11` stuff to interface `PCL`, and not including that module gets rid of the segfault. Go figure...

[2020-02-28 15:52] syncle commented on #1523
It seems that you would need to know the correct camera intrinsics.

[2020-02-28 15:56] syncle commented on #1516
Check your depth map is metric and it is correctly stored without low-bit quantization. Use the correct camera intrinsic. It should be like [this example.](http://www.open3d.org/docs/release/tutorial/Basic/rgbd_images/redwood.html)

[2020-02-28 16:01] syncle commented on #1421
Please check [discussions in here](https://github.com/intel-isl/Open3D/issues/1487#issuecomment-592416175). In short, the reported issue is not reproducible with up-to-date python env and open3d package. Closing issue.

[2020-02-28 16:01] #1421 closed

[2020-02-28 16:01] syncle commented on #979
Please check [discussions in here](https://github.com/intel-isl/Open3D/issues/1487#issuecomment-592416175). In short, the reported issue is not reproducible with up-to-date python env and open3d package. Closing issue.

[2020-02-28 16:01] #979 closed

[2020-02-28 16:03] syncle commented on #1487
Thanks, guys, the reported issue is not reproducible with up-to-date python env and open3d package. Closing issue.

[2020-02-28 16:03] #1487 closed

[2020-02-28 16:19] sam598 commented on #1421
Hi syncle, I don't see anything in that thread about OSX 10.14.

I updated to the latest version of python (3.6.5 to 3.8.2) and now I am getting this error when installing with pip:
[code]

Can you please elaborate how to get Open3D working in OSX or explain what your solution is. Thank you.

[2020-02-28 16:33] elliestath commented on #1523
I have inserted the correct intrinsics in the .json file, if this is what you mean.
I have all info for camera geometry, internal and external.

[2020-02-28 20:39] airfield20 commented on #414
I've managed to convert the point cloud by writing and reading from /dev/shm which is a file stored in RAM. Its probably not the best way, but it works.
[code]
This conversion takes about 200 ms.

[2020-02-29 04:49] district10 opened #1552 "Deadlock with multiprocessing (using fork) and OpenMP"
Python code not working properly in another process.

To reproduce, use these code:

[code]

Output on unix:

[code]

If uncomment `set_start_method('spawn')`, it will finish properly.

Related issue: <https://github.com/pytorch/pytorch/issues/17199>

It's caused by GNU OpenMP. Maybe compile againt Intel OpenMP?

[2020-02-29 10:44] yxlao commented on #922
See https://github.com/intel-isl/Open3D/issues/922 for the fix

[2020-02-29 20:18] gledsonmelotti commented on #957
Hello everyone. I have a question about using open3D functions. I am trying to get the FPFH feature. However, I cannot access the numerical values. I am using the following commands:

`import numpy as np`
`import open3d as o3d`
`pcd = o3d.geometry.PointCloud()`
`pcd.points = o3d.utility.Vector3dVector(velo_point)`
`voxel_size = 0.05 # means 5cm for the dataset`
`radius_feature = voxel_size * 5`
`r

[2020-02-29 23:25] saber2124 commented on #544
@syncle Hi, I am trying to capture depth and color image from point cloud and the convert image to point cloud, The method is work when i pass directly open3d image and depth but when i use convert_to_intensity = False i can not use directly open3d image and depth and I have to save image and depth image and then pass the to creat_rgbd_from_color_and_depth which give me low quality point cloud dat

[2020-03-01 08:03] ShiwenH commented on #1544
![Capture](https://user-images.githubusercontent.com/15124336/75621941-c0430200-5bd5-11ea-8c7c-974f5531196f.PNG)
![Capture1](https://user-images.githubusercontent.com/15124336/75621942-c20cc580-5bd5-11ea-8f89-beb5e5535ed1.PNG)

This 1st pic shows the issue and the 2nd pic shows the solution.
It seems that there is a limit in compiled obj file size.
In release mode, the obj is small but in debug mo

[2020-03-01 11:20] densechen opened #1553 "How can I correctly set the view of camera to get correct render images?"
Hi,
I want to use Open3D to render some depth and color images of a object which is located in the origin o f world coords. And this would be useful and meaningful for generating large scale depth and color image for 3d computer vision task.
And the following is my code:
`import open3d as o3d
import numpy as np
from scipy.spatial.transform import Rotation
import transforms3d
from tqdm import tqdm

[2020-03-01 12:39] rajaneeshdwivedi commented on #1261
I've been experiencing similar problems which I have a feeling is related to low-quality depth data. I can confirm that I've been getting much better results by NOT assuming that the registration of adjacent rgbd pairs can be adequately initialised with an identity matrix, but instead providing a ballpark transform estimation with a 5 point RANSAC on a downsampled source/target cloud, as per the [

[2020-03-02 07:41] justin-h-m-tunis opened #1555 "__init__.py has an incorrect import path"
**IMPORTANT: Please use the following template to report the bug.**
_____

**Describe the bug**
There is an incorrect path in __init__.py which leads to none of the src modules getting imported

**To Reproduce**
this happened after installing using either 'pip install open3d' or 'pip3 install open3d' in python 3.7 or 'pip install open3d' in python 2.7.
When trying to execute the example code the e

[2020-03-02 12:05] rajaneeshdwivedi commented on #1261
I can also confirm that I'm getting the same level of improvement using fast registration rather than ransac to initialise the local registration, which incurs a negligible increase in running time for make_fragments.py in comparison to an identity initialisation.

[2020-03-02 19:39] #1555 closed

[2020-03-03 00:31] mels630 commented on #1367
@sammo2828 I've reproduced this issue. The output of
`
print(np.max(color), np.min(color))
print(np.max(depth), np.min(depth))
`
is
`
0.0 0.0
1.7997212 0.0
`
It seems clear that somehow the depth buffer fills properly but the screen buffer does not.

[2020-03-03 01:35] MohitIntel opened #1556 "Requesting Visualizer to accept camera with intrinsic image size bigger than the Window size itself."
**Is your feature request related to a problem? Please describe.**
I work with 8K images and am trying to run Colormap using a custom camera trajectory. Get frustrated with the warning "ConvertFromPinholeCameraParameters() failed because window height and width do not match."

**Describe the solution you'd like**
Expose API to create custom sized visualizer windows in python.

**Describe alternati

[2020-03-03 08:06] grigorovici-andreea commented on #1516
Hello,

Yes, that is the example I used as a reference.

Below is a short script that reads the depth image and creates the pointcloud. The result I get is the same.
Could you check it out and advise if the pyramidal form is intended by pointcloud creation from open3D?

https://gist.github.com/grigorovici-andreea/e02ef93044fa85bd17ae517fb0e537d7

![depth](https://user-images.githubusercontent.com/

[2020-03-04 13:54] HSarham opened #1559 "Separating Patented and Non-Patented Code"
The function PointCloud::HiddenPointRemoval seems to be patented:
https://cgm.technion.ac.il/Computer-Graphics-Multimedia/Software/HDR/HDR.html

It would be nice to separate the patented and non-patented code for example similar to OpenCV where patented code (e.g. SIFT) is in a "non-free" folder.

[2020-03-04 19:18] JackLangerman commented on #940
Hey all,

If anyone has thoughts I'd really be stoked to get good documentation on how to do this (I am happy to write it if I / someone can get it figured out). It appears to have been fixed in #1358, but I am still having trouble. I posted a detailed followup here -> https://github.com/intel-isl/Open3D/pull/1358#issuecomment-594763459 .

Thanks!

[2020-03-04 22:16] chrisranderson opened #1560 "Support reading and writing file-like objects"
**Is your feature request related to a problem? Please describe.**
I would like to write .ply bytes to a file-like object without a filename. I can't do that with the current API. I'm trying to avoid using the disk when unnecessary - my particular use case is sending a ply file over HTTP.

**Describe the solution you'd like**
Adjusting the API to work with either filenames or file-like objects, li

[2020-03-04 23:39] #44 closed

[2020-03-04 23:42] #139 closed

[2020-03-04 23:47] germanros1987 commented on #231
Time to close this question.

[2020-03-04 23:47] #231 closed

[2020-03-04 23:50] germanros1987 commented on #239
Time to close this, since the new visualization system is around the corner.

[2020-03-04 23:50] #239 closed

[2020-03-04 23:50] #245 closed

[2020-03-04 23:51] #271 closed

[2020-03-04 23:51] #329 closed

[2020-03-04 23:51] #338 closed

[2020-03-04 23:52] germanros1987 commented on #342
The GUI is around the corner...so I am closing this issue.

[2020-03-04 23:52] #342 closed

[2020-03-04 23:53] germanros1987 commented on #359
@syncle could you please comment on this?

[2020-03-04 23:54] #360 closed

[2020-03-04 23:55] germanros1987 commented on #367
@syncle should we close this? It seems this won't be happening any time soon

[2020-03-04 23:56] #390 closed

[2020-03-04 23:56] #405 closed

[2020-03-04 23:58] germanros1987 commented on #409
It seems the feature request didn't gain enough momentum... It is in our roadmap but with low priority. This could be a nice contribution...

[2020-03-04 23:59] germanros1987 commented on #412
We are working on full cuda support for Open3D. Stay tuned. In the meantime, I am closing this issue

[2020-03-04 23:59] #412 closed

[2020-03-05 00:01] germanros1987 commented on #483
We will work on this for the new visualization system.

[2020-03-05 00:01] germanros1987 commented on #497
This is done in the new visualizer.

[2020-03-05 00:01] #497 closed

[2020-03-05 00:02] #502 closed

[2020-03-05 00:02] #519 closed

[2020-03-05 00:02] #525 closed

[2020-03-05 00:03] germanros1987 commented on #543
This is strange. @griegler  could you take a look?

[2020-03-05 00:03] #566 closed

[2020-03-05 01:25] ArlenisChS commented on #231
Any updates on this?? Because I have the same issue. I’m not getting good results for modeling with Kinect v1 or Asus Xtion ProLive. I get the camera intrinsics with the tutorial above. I record the RGBD images with the proper names and registered. I use the Reconstruction System from the library and still nothing. I think the problem is in the integration of the scene because the fragments are pr

[2020-03-05 05:49] scimad commented on #1240
Any update on this one on Azure Kinect SDK v1.3 and open3d 0.9.0? I am getting issue for these versions?

[2020-03-05 06:55] CiaoAnkit opened #1563 "Docker compilation doesn't work out of the box"
I am trying to compile Open3d via Docker on my macOS Catalina.
To do so, I git pulled the Open3d repo and follow the instruction for [docker image building:](http://www.open3d.org/docs/release/tutorial/docker/docker-gui.html#docker-files)

`$ cd <open3d_path>/util/docker/open3d_xvfb/tools`

`$ ./build.sh`

`$ ./run.sh`

The build is successful but when I execute `run.sh`

-- Configuring incomplete

[2020-03-05 07:05] germanros1987 commented on #1559
Hi,

I don't think this is actually doable. The case of SIFT in OpenCV was very special since the patent of SIFT was very well known and advertised. In our context, it would be hard to launch frequent patent searches to make this distinction.

We are very careful with the licenses of different implementations, but going all the way to check the possible patents and their background IP should be th

[2020-03-05 07:05] #1559 closed

[2020-03-05 07:09] germanros1987 commented on #940
Did you build it from source using -DENABLE_HEADLESS_RENDERING=ON  ?

[2020-03-05 09:36] f-sh-f-sh opened #1566 "Point Cloud, Save and Visualize, with Kinect Azure"
Dear all,

Is there a sample python file for capturing and visualizing point cloud with Kinect Azure? I could not find one.

[2020-03-05 10:21] aycameric opened #1567 "Pointcloud 3D model fitting"
Hello,

I am collecting a pointcloud of a scene with rc visard from roboception. And I want to fit a 3D CAD model of an object to the object in the scene. First I do fast global registration and then ICP (point to point). However, I don't get good results. The model is rotated and doesn't fit exactly on the object. Do you have suggestions what might be the issue and how I can solve it? Thank you.

[2020-03-05 11:48] SwatiMatta commented on #1104
I want to read Lidar .bin files, with open3d is it possible ? Lidar data generally consist of x,y,z and reflectance value.

[2020-03-05 13:13] JackLangerman commented on #940
Hi @germanros1987,

Thanks for getting back to me.

Yes I did. You can see my whole process in my comment on your PR: https://github.com/intel-isl/Open3D/pull/1358#issuecomment-594763459 .

Thanks for your help!

[2020-03-05 14:38] HSarham commented on #1559
Well, in this case it is stated right in the paper that it is patent pending. However you might be right. It was just a suggestion.

[2020-03-05 15:32] morejiik commented on #1550
Hello! Same problem here. The same script I'm using was working a week ago, With the only difference that I was not getting any error in the console (as far as I remember correctly).
Win 10, Python 3.7.6 (64bit) and Open3D 0.9.0

[2020-03-05 15:48] morejiik commented on #1550
Here some more details on the error:
[code]

[2020-03-05 16:10] JackLangerman commented on #940
@germanros1987 one other thing:

if you would be willing to post your system specs and build/install script which you used to get headless rendering working on linux I am on gcp and could follow it precisely (and write it into the docs). Would that work for you?

(additional followup to https://github.com/intel-isl/Open3D/pull/1358#issuecomment-594763459 and  https://github.com/intel-isl/Open3D/is

[2020-03-05 21:23] sunilkumargit opened #1568 "Group identically colored vertices in connected components."
Making a list of identically colored vertices in a connected components. If made this list, display application can show the vertices for a color selected by user.

Find the connected components. Find all colors used in the object. Group vertices in each connected component to group for it's color.

**Describe alternatives you've considered**
-None.

**Additional context**
When the object is displ

[2020-03-06 07:08] grigorovici-andreea commented on #1516
Hello,

Do you have any updates on this topic?

Thank you a lot.

[2020-03-06 16:13] syncle commented on #1566
Could you try [one of the examples here](https://github.com/intel-isl/Open3D/tree/master/examples/Python/ReconstructionSystem/sensors)?

[2020-03-06 16:14] syncle commented on #1563
@yxlao could you help @ankitphd?

[2020-03-06 16:20] syncle commented on #1567
ICP requires good initialization, and FGR requires good geometric features. Consider these properties when designing your approach. If the CAD model and real data shows inconsistency Consider this example - CAD model is clean mesh, but the real data is quite noisy. FGR will not work out-of-the-box because FPFH won't work well for matching.

[2020-03-06 22:56] easterngarden opened #1571 "Registration Issue"
Hi,

I try to use RegistrationRANSAC example to align two face point clouds (global regsitration) but it does not work as expect.  The output always shows "RANSAC: Fitness 0.000000e+00, RMSE 0.000000e+00"  even I changed correspondence_checker_distance. Do I miss something? Thanks!
[registration.zip](https://github.com/intel-isl/Open3D/files/4300829/registration.zip)
[registration.zip](https://git

[2020-03-08 03:17] sam598 commented on #1421
@syncle any update on fixing this? Let me know if you need me to post a new issue. Thanks.

[2020-03-08 03:24] sam598 opened #1574 "Cannot assign modified triangle_uvs to mesh"
When modifying vertices directly this works:
`mesh.vertices = o3d.utility.Vector3dVector(vertices)`

However this does not work:
`mesh.triangle_uvs = o3d.utility.Vector2dVector(triangle_uvs)`

There does not appear to be a utility function for assigning new or modified uvs to a triangle mesh. Is there an alternative method for accomplishing this?

[2020-03-09 02:06] richardrl opened #1576 "2d screen elements"
How to put up some 2d elements on the screen?

For example, I want to design a [HUD](https://en.wikipedia.org/wiki/Head-up_display) visualizing the forces on the end effector. This HUD should stick the screen and not move when the camera angle moves.

[2020-03-09 09:17] YouYue123 commented on #409
I would like to contribute to this feature

But any idea about how to restrict the rotation constrain in Umeyama algorithm for transformation estimation? This is the method Open3D is using for point to point transformation estimation https://github.com/intel-isl/Open3D/blob/master/src/Open3D/Registration/TransformationEstimation.cpp#L60.

Or any other math model I can use for transformation estima

[2020-03-09 09:48] griegler commented on #543
@jonra1993 did you have a look [here](https://github.com/intel-isl/Open3D/blob/master/examples/Python/Advanced/remove_geometry.py)? You could use `add_geometry` and `remove_geometry` to show/hide your point clouds.

[2020-03-09 09:50] griegler commented on #1522
@mashalahmad If you import the point cloud that already has normals (from another software), why the need to re-compute? As sanity check, have you verified the normals from the point cloud? E.g., you could visualize them with open3d.

[2020-03-09 09:55] AOSZZ commented on #1378
There have been some successes in the past, but not recently.
If that doesn't work, the while statement is continued because nothing is written to rgbd with "rgbd = self.reader.next_frame ()".
Only the first color was generated, and an error occurred when generating depth, but the following error occurred.
`` TypeError: update_geometry (): incompatible function arguments.The following argument typ

[2020-03-09 11:15] ychechik opened #1578 "Intersection / Union / Difference of 3D meshes"
Is it possible to add intersection / union / difference operators to o3d?

[2020-03-09 13:19] maxpfingsthorn opened #1580 "Installation via pip on Windows 10 fails"
**Describe the bug**
The command from the documentation to install the latest Open3D version on Windows 10 fails with
ERROR: Could not find a version that satisfies the requirement open3d (from versions: none)
ERROR: No matching distribution found for open3d

On Linux, this works like a charm.

**To Reproduce**
Steps to reproduce the behavior:
1. pip install open3d

**Expected behavior**
Should in

[2020-03-09 14:19] scimad commented on #1378
The issue with `update_geometry()` is a different one. This is due to the change in `update_geometry()` function which requires explicitly the geometries to be updated to be passed as it's argument, I think after version 0.9.0.

[2020-03-09 16:18] jonra1993 commented on #543
Hello @griegler thanks. add_geometry and remove_geometry worked.

[2020-03-09 17:01] AGAPIA opened #1581 "Camera culling on cloud geometry rendering"
Hello,

I'm trying to render a point cloud but even when I set Z near to 0 I see the following problem: the points are rendered but they are not textured! How can I tune this and get more textured data close to the camera?

If there is no Python API for tuning this, can you at least point me where to look in the CPP code please ?

I attached the images with the problem
![close](https://user-images

[2020-03-09 17:21] rajaneeshdwivedi commented on #940
For what it’s worth I’m experiencing the same outcome on Centos 7 with same build options and a GLFW built with an OSMesa profile.

As an aside, am absolutely loving this library and very grateful such outstanding work has been open-sourced.

[2020-03-09 18:31] rancheng opened #1582 "Jupyter render option support"
is there any way to extend the support the render option in jupyter JVisualizer?

[code]

[2020-03-09 19:33] griegler commented on #1581
Do you have a reference what it should look like? Are points missing, or are the wrongly colored?

[2020-03-09 20:01] FLS-BP-US commented on #1133
Did you make any progress on this or find an alternative method?

[2020-03-10 05:32] AGAPIA commented on #1581
The points are there, but their triangles are not textured. See the many white points close to the camera at the bottom of the image.  For example take this below picture which is further to the image, and see that the textures are rendered correctly.
![image](https://user-images.githubusercontent.com/26081910/76282722-2f3cec80-62a1-11ea-9bfb-e70ddfb6a905.png)

[2020-03-10 07:09] NikithaChilukuri commented on #1133
No, i haven't figured out a way to do it.

[2020-03-10 14:45] tsattler commented on #1375
I was running into the same issue. I was wondering if there is any interested in a PR that would make the accuracy (float32 vs. float64) a parameter? I might give it a shot if I find time.

[2020-03-10 15:10] griegler commented on #1375
@tsattler a PR would be great!

[2020-03-10 15:30] tsattler commented on #1375
@griegler I guess the right way to approach this would be to make this a variable of the function and then also include the option to save as float32 for the other possible file formats? Are data loaders affected by this as well?

[2020-03-10 15:39] griegler commented on #1375
@tsattler  yes, that seems like a good way.
For `PointCloud`, there is also `pcd` that is affected. For `TriangleMesh` it could also affect `gltf`, but I am not sure at the moment, if we support binary for that format at all.
However, this discussion surfaces a different issue with the current API. We have some global parameters that are not applicable for all formats.

[2020-03-10 15:41] griegler commented on #1581
I also noticed problem with some meshes and certain view points, but I could resolve it with setting z near and far. But you mentioned that you already tried that.
@yxlao do you have any idea?

[2020-03-10 15:41] tsattler commented on #1375
@griegler Thanks for the quick answer. I will try to have a look at it as soon as possible, but it might take some time until I get there. Will open a PR then.

[2020-03-10 15:43] griegler commented on #1375
@tsattler Thanks, looking forward to it!

[2020-03-10 16:10] morejiik commented on #1550
Update: after some days and a PC reboot, everything seems to work correctly. I haven't changed anything and I don't know what caused the issue.

[2020-03-11 08:52] ZhangLanTao commented on #1550
hi, I have the same problem, I build open3d from source and when draw_geometries(),my scrip shut down.
`RuntimeError: [Open3D ERROR] GLFW Error: WGL: Failed to make context current: 不支持请求的转换操作。`

[2020-03-11 09:42] Kayumiy opened #1597 "object pose estimation"
examples / Python / ReconstructionSystem / opencv_pose_estimation.py

The code above is can be run on Windows but cannot show any result.
How to solve this problem?

[2020-03-11 12:40] orgicus opened #1598 "RuntimeError: [Open3D ERROR] GLFW Error: WGL: Failed to make context current: The requested transformation operation is not supported."
**Describe the bug**
Zooming and panning at some point crashes the visualiser.
Using the mouse wheel to zoom, then click and drag into a mesh (sometimes at tight angles/zooms) causes a crash.

I've tested this with both a pointcloud and triangle mesh.
I'm not sure if the dimensions/complexity of the mesh has anything to do with it or not.

Running in verbose mode outputs:
[code]

To make this easy

[2020-03-11 19:42] szppaks opened #1600 "cluster_dbscan crashes on large clouds"
**Describe the bug**
I have a bigger (4088000 points) point cloud; when I run a dbscan (params:2,90,True) on it, the python crashed without any error - in the system monitor, I see it works hard on each cores (~30-40 sec), then crashes. (In spyder, the ipython console crashes without any message).
I have tried to to update all (conda update --all), but it did not help.

**To Reproduce**
load a big

[2020-03-12 01:25] Kayumiy opened #1603 "6D Object Pose Estimation"
I am using Open3D dll in order to make 6d Object pose estimation project.

Is it possible to determine rotation info of the object in the image by using Open3D?
Rotation info means roll, pitch and yaw angle of the object.

If there is not any method to do this, I am going to make myself in order to improve Open3D dll and achieve this task. However, I need a guide little a bit.
Can anybody guide me

[2020-03-12 10:21] markkorput opened #1605 "non-blocking VisualizerWithEditing"
**Is your feature request related to a problem? Please describe.**
It would be great to be able to pick points from a pointcloud (and perform other operations), without blocking your application. When I use VisualizerWithEditing and try to run it non-blocking mode (see code below), it crashes as soon as I pick a point using shift+click (see log below).

**Describe the solution you'd like**
It woul

[2020-03-12 17:19] #1598 closed

[2020-03-12 18:32] germanros1987 commented on #1605
Hi @markkorput,

We are working on a new version of the Visualizer. I will add a non-blocking version of an editing tool to our roadmap.

[2020-03-12 18:35] germanros1987 commented on #1600
@griegler could you comment on this?

[2020-03-12 18:38] germanros1987 commented on #1550
@ZhangLanTao even after installing the dependencies, the problem persists?

[2020-03-12 18:45] germanros1987 commented on #1581
@AGAPIA could you please send out the point cloud?

[2020-03-12 18:46] germanros1987 commented on #1133
@qianyizh could you please comment on this?

[2020-03-12 18:48] germanros1987 commented on #1582
@rancheng the JVisuzlier feature is still work in progress. If you have the bandwidth, feel free to create a PR to add that change and we will try to merge it asap.

[2020-03-12 18:49] #543 closed

[2020-03-12 18:51] germanros1987 commented on #1378
@yxlao could you please comment on this and take note of the problem?

[2020-03-12 18:53] germanros1987 commented on #1578
Hi @ychechik and thanks for the feature request. Would you be interested in working on an implementation of this feature with our advice?

[2020-03-12 19:03] germanros1987 commented on #409
@YouYue123 I guess the most straightforward option would be to re-implement the Umeyama algorithm in its least-square form and add some lagrangians to account for the constraints.

@qianyizh any feedback? Is there anything like that already out there?

[2020-03-12 19:05] germanros1987 commented on #1576
We are about to release a new GUI API that will allow users to do that.

See example:
![image](https://user-images.githubusercontent.com/38517452/76557968-b59c2e80-6459-11ea-916d-38cc01039de6.png)

[2020-03-12 19:06] germanros1987 commented on #1574
@griegler any comments on this?

[2020-03-12 19:06] germanros1987 commented on #1571
@syncle could you follow up?

[2020-03-12 19:07] #1567 closed

[2020-03-12 19:07] #1566 closed

[2020-03-12 19:09] germanros1987 commented on #1516
Do you have any additional advice @syncle ?

[2020-03-12 19:11] germanros1987 commented on #1240
@yxlao do you have any information about this?

[2020-03-12 21:36] szppaks commented on #1600
Hi!
On ALS point clouds it works fine. I tried on some TLS clouds, and it crashed.
The attachment is a 7z file, but I have to add a .zip extension to load in github.
[pipes_chunk_subsam.ply.7z.zip](https://github.com/intel-isl/Open3D/files/4326716/pipes_chunk_subsam.ply.7z.zip)

[2020-03-12 22:47] qianyizh commented on #409
I think @syncle has a plan to work on this.

[2020-03-12 23:20] germanros1987 commented on #409
@qianyizh I think @syncle is going to have his plate full for the short-term. We should try to get this done.

Do you have a technical opinion about this?

[2020-03-13 03:45] Kayumiy commented on #1603
Is there any helpful methods which can identify object's pose in the scene in the Open3D dll?

[2020-03-13 07:36] StephanHasler commented on #1553
I think the convert_from_pinhole_camera_parameter might be buggy.
If do the following:
[code]
I get the result:
[code]
So some 'nan' values are produced. Still the visualization works but seems to the default viewpoint.

[2020-03-13 08:12] StephanHasler commented on #1553
I did a further test:
Even without changing the extrinsic parameters I get the 'nan's.
So it is a bug. I will open an issue.

[2020-03-13 08:23] StephanHasler opened #1612 "ViewControl.convert_from_pinhole_camera_parameters produces 'nan's"
**Description:**
When I set the camera parameters with the function
ViewControl.convert_from_pinhole_camera_parameters I get 'nan's in the resulting extrinsic parameters matrix.

**How to reproduce:**
I use following program:
[code]

The output is:
[code]

**Expectation:**
I would have expected, that the camera parameters would not change, especially that no 'nan' would be contained in the result.

[2020-03-13 08:52] Xardvor commented on #940
Hi @JackLangerman! I'm now trying to solve problem with headless rendering.
Could you please run `glxinfo` on your VM and pin its output here using gist?
In case your VM doesn't have `glxinfo` you need to install `mesa-utils` package. For Ubuntu, use `sudo apt-get install mesa-utils`

[2020-03-13 08:52] densechen commented on #1553
@StephanHasler Thanks for interesting in this question. Before that, I never noticed the nan value in the parameters.

[2020-03-13 09:14] Xardvor commented on #940
@JackLangerman sorry, glxinfo wouldn't work on headless machine, I forgot that it needs a display. I need info about OpenGL version supported by your VM, will try to figure out how you may get it.

[2020-03-13 09:18] Xardvor commented on #940
About environment - it looks exactly the same as mine. For the setup steps, I didn't use shared libs (DBUILD_SHARED_LIBS=ON), but it shouldn't make any difference.

[2020-03-13 09:18] rajaneeshdwivedi commented on #940
I have glxinfo on a headless machine using Xvfb as a virtual display. Happy to provide output if that's helpful.

[2020-03-13 09:22] Xardvor commented on #940
@rajaneeshdwivedi yeah, sure, I will take a look. It's not exactly that OSMesa uses, but still it's helpful to have output from `glxinfo` under `xvfb`.

[2020-03-13 09:28] rajaneeshdwivedi commented on #940
glxinfo [output](https://gist.github.com/rajaneeshdwivedi/a6a9ef6c0d28a294a0a37ff398caf364)  under xvfb

[2020-03-13 09:28] Xardvor commented on #940
Great! Thank you!

[2020-03-13 14:26] syncle commented on #1571
Could you check the parameters used for the geometric feature extraction?

[2020-03-13 14:40] syncle commented on #1523
Pick the depth values and check that values are valid. Another reason I think is quantization. The depth images were weirdly quantized for some reason (maybe during saving and loading images?)

[2020-03-13 15:00] syncle commented on #1568
@sunilkumargit I am not quite sure about the attached code snippet. Could you explain on the code more?

[2020-03-13 15:42] yxlao commented on #1580
Can you try downloading from https://pypi.org/project/open3d/#files the corresponding version and install with pip directly? One possibility is the mismatch of virtualenv's python version with pip, or maybe the python distribution is 32 bit.

We have support for 2.7, 3.5, 3.6, 3.7 on Windows 64 bit.

[2020-03-13 19:04] jsemeda opened #1615 ""Utility" compile error under Windows 10"
I see that the library compiles under Windows 10. I am using Visual Studio 2019 to compile, not sure what is has been compiled with under Windows to pass. I am getting an error in "Utility" listed below
D:\Libraries\Open3D-master\3rdparty\fmt\include\fmt\core.h(977,9): error C2338: Cannot format argument. To make type T formattable provide a formatter<T> specialization: https://fmt.dev/latest/api.

[2020-03-14 03:38] JackLangerman commented on #940
Hi all!

Thanks so much for working on this!

As you said glxinfo does require a display

[code]

Do [this](https://gist.github.com/shehzan10/8d36c908af216573a1f0) or [this](https://bbs.archlinux.org/viewtopic.php?id=189898) seem relevant to you?

Here is some more info about my system (not sure if it is relevant):
[code]

Please let me know if there is anything else I can do to help get this solv

[2020-03-14 04:34] richardrl commented on #1576
Awesome!

[2020-03-15 14:46] syncle commented on #1612
We are preparing a new visualization module with a new GUI, and this issue is resolved in that working branch. Could you try this branch? https://github.com/intel-isl/Open3D/tree/gui

[2020-03-15 14:53] syncle commented on #1597
that Python script contains utility functions. Check below scripts on how opencv_pose_estimation.py is being imported and used.

https://github.com/intel-isl/Open3D/blob/44a35978e78cf68a8368b90b173927ff0e0ef960/examples/Python/ReconstructionSystem/debug/pairwise_rgbd_alignment.py

https://github.com/intel-isl/Open3D/blob/499d245d80fda050319727ea99e8ea33fecb57f4/examples/Python/ReconstructionSystem

[2020-03-15 14:53] #1597 closed

[2020-03-15 14:57] syncle commented on #1615
Do you mean compilation from source on Windows fails? [CI for Windows is passing](https://ci.appveyor.com/project/yxlao/open3d/branch/master). Consider cleaning-up 3rdparty dependency and retrying.

[2020-03-15 15:00] syncle commented on #1603
I am not sure about a specific input output configuration from the question. Open3D provides basic registration pipelines (for now). Feel free use it for your purpose. For 6D pose estimation from an image, check-out [this comprehensive list](https://github.com/nkalavak/awesome-object-pose).

[2020-03-15 15:00] #1603 closed

[2020-03-15 15:03] #1576 closed

[2020-03-15 15:07] syncle commented on #1560
@chrisranderson Thanks for the suggestion. We are currently working for the next roadmap and not enough to have the bandwidth for this. It would be great if you are willing to contribute to add such a feature. :)

[2020-03-15 15:12] syncle commented on #1550
@FelipeDelgadoR @morejiik @ZhangLanTao How did you use draw_geometries? Are you using in Jupyter Notebook?

[2020-03-15 15:14] syncle commented on #1544
@ShiwenH Thanks for sharing your solution. @griegler could you comment on why PoissionRecon makes a large obj file?

[2020-03-15 15:19] ZhangLanTao commented on #1550
nope， I'm using it in pycharm, I set GPU to NVIDIA's card and the problem haven't occur so far.

---Original---
From: "Jaesik Park"<notifications@github.com&gt;
Date: 2020/3/15 23:12:45
To: "intel-isl/Open3D"<Open3D@noreply.github.com&gt;;
Cc: "ZhangLanTao"<498787994@qq.com&gt;;"Mention"<mention@noreply.github.com&gt;;
Subject: Re: [intel-isl/Open3D] Point Cloud visualization GLFW Error (#1550)

@

[2020-03-15 15:20] syncle commented on #1516
Actually I am not sure what is the burning issue here. Do you mean the captured geometry is distorted? Could you try to adjust to seeing the scene from the top, and check any distortion or skew artifact being observed?

In general, depth cameras follow the pin-hole camera model, and the captured scene makes the [camera frustum](https://en.wikipedia.org/wiki/Viewing_frustum).

[2020-03-15 15:20] ZhangLanTao commented on #1550
Yes, I switched to NVIDIA's GPU and it works&nbsp;

---Original---
From: "germanros1987"<notifications@github.com&gt;
Date: 2020/3/13 02:38:35
To: "intel-isl/Open3D"<Open3D@noreply.github.com&gt;;
Cc: "ZhangLanTao"<498787994@qq.com&gt;;"Mention"<mention@noreply.github.com&gt;;
Subject: Re: [intel-isl/Open3D] Point Cloud visualization GLFW Error (#1550)

@ZhangLanTao even after installing the depen

[2020-03-15 19:02] jsemeda commented on #1615
yes compiling from source under WIndows 10 with Visual Studio 2019 failed for me, error in "Utility" compiling console.cpp and the error is with the formatter template in core.h
I have downloaded the 3rd party packages and compiled them from source, so I am sure the problem is not from there.

[2020-03-16 09:16] FedeMiorelli opened #1621 "Type error in TriangleMesh::create_from_point_cloud_alpha_shape"
I am not able to use the function `create_from_point_cloud_alpha_shape` due to type errors.

Below is a simple code to reproduce, and the error displayed.

[code]

[code]

Open3d v0.9.0, Windows 10 64 bit, Python 3.7.6.0
Wheel installed from [https://www.lfd.uci.edu/~gohlke/pythonlibs/](https://www.lfd.uci.edu/~gohlke/pythonlibs/)

[2020-03-16 09:31] morejiik commented on #1550
This is the code:

[code]

No, I'm using Visual Studio Code.
Sometimes it crashes with the same error, sometimes it works..

@ZhangLanTao how did you switch to the Nvidia GPU?

[2020-03-16 09:42] griegler commented on #1600
I just checked the point cloud with the parameters that were mentioned in the first post. The problem is that it runs out of memory. The algorithm pre-computes all the neighbors in the eps distance for each point. If eps is too big, then this list will also get quite/too big.

Further, my best guess is that the memory error happens inside of the kdtree search, and not in the `std::vector`, therefo

[2020-03-16 10:26] griegler commented on #1574
`std::vector<Eigen::Vector2d>` is not properly exposed via pybind.
I submitted a PR (#1623) to fix the problem.

[2020-03-16 10:52] griegler commented on #1621
Addressed in #1624.

[2020-03-16 11:21] FedeMiorelli commented on #1621
@griegler Thank you!

Is there a workaround I could use from Python until this is released and packages are updated?
Like creating instances of the two additional parameters in the same way they would be specified inside C++ if they were not passed.

[2020-03-16 12:17] griegler commented on #1621
You could use something like:

[code]

[2020-03-16 18:37] jonra1993 commented on #1166
Hello @syncle I found a bug after cropping pointcloud it can not write pcd file. I Attached example code. It opens original_pcd and after choosing 4 points it crops it and it try to write result pointcloud into pcd file (cloud_crop.pcd) with not success.

[code.zip](https://github.com/intel-isl/Open3D/files/4339825/code.zip)

[2020-03-17 02:38] ZhangLanTao commented on #1550
you can refer to issue #1598, It works on my PC.

[2020-03-17 08:12] luoyin500 opened #1629 "How to open the multitple "o3d.visualization.draw_geometries" windows simultaneously when using python(such as spyder)"
Maybe it's a simple problem, but I am troubled:
When using spyder call open3d, two o3d.visualization.draw_geometries commands are called. To see the second result window, the first have to be closed.

[2020-03-17 08:15] luoyin500 commented on #1629
What is the way to display two Windows simultaneously for comparison？

[2020-03-17 08:18] FedeMiorelli commented on #1621
That works, thanks

[2020-03-17 08:19] #1621 closed

[2020-03-17 08:21] griegler commented on #1629
You can do it by creating your own `Visualizer` windows. Have a look [here](http://www.open3d.org/docs/release/tutorial/Advanced/non_blocking_visualization.html) for an example.

[2020-03-17 08:23] luoyin500 commented on #1629
Thanks!

[2020-03-17 08:23] #1629 closed

[2020-03-17 08:58] YouYue123 commented on #409
@germanros1987 will that be something like a Constrained Ordinary Linear Least Square with  Lagrange multipliers? Here is what I found http://people.duke.edu/~hpgavin/cee201/constrained-least-squares.pdf

@qianyizh Let me know your thought on this option.  That will help a lot thanks!

[2020-03-17 09:06] Kayumiy commented on #1603
If a paper airplane is on a table. And it is relative to the table. if the table's rotation angles (0,0,0), how to calculate airplane rotation angle relative to the table? Is it possible to determine by using Open3d dll ?

[2020-03-17 09:26] Kayumiy commented on #1603
How to measure object's orientation in image?

[2020-03-17 17:57] SBCV opened #1632 "Addon to Import Open3D formats into Blender"
I've wrote an [addon ](https://github.com/SBCV/Blender-Addon-Photogrammetry-Importer) to import different file formats of several photogrammetry libraries into Blender.
Now, it supports also Open3D file formats (i.e. *.json and *.log).

Here is an example of the imported fountain dataset.
![fountain_example](https://user-images.githubusercontent.com/19491335/76886103-90a42300-6880-11ea-8a27-69e82f

[2020-03-17 18:29] sunilkumargit commented on #1568
@syncle :
1. Find out the colors used in object and for each color create a container (set in c++) for vertices of this color. There will be N containers for the N colors.
2. Insert each vertex in to the container for it's color. Each vertex will fall in to one of the N containers.
3. If needed higher level grouping based on connected components, find the connected components. There will be M cont

[2020-03-17 19:34] sunilkumargit commented on #1568
@ @syncle :
1. Find out the colors used in object(s) : vector<color_t> _colors; // all colors.
2. Declare a set for each color in the above _colors; i.e. vector<set<vertex_t>> _identically_colored_vertices; // vertices of same color.

3. Take each vertex and insert it in to the set corresponding to it's color. If vertex i has color j, i will be inserted to the set _identically_colored_vertices[j].

[2020-03-17 21:46] Guptajakala opened #1633 "Open3D saved ply cannot be ready by pcl?"
**IMPORTANT: Please use the following template to report the bug.**
_____

**Describe the bug**
Open3D saved ply cannot be ready by pcl:
[code]
Then pcl will get empty cloud

**Environment (please complete the following information):**
 - OS: Ubuntu 16.04
 - Python version: 3.6
 - Open3D version:  0.9.0.0
 - Is this remote workstation?: no
 - How did you install Open3D?: conda

[2020-03-18 10:07] Brekel commented on #1496
Any progress on this by any chance?

[2020-03-18 14:52] jingnanshi commented on #1496
@Brekel I tried multiple ways to contact the author short of calling him directly. However, he hasn't responded yet to my request of officially change the license to MIT. I will try to call him soon, and see what I can do.

[2020-03-18 15:12] ArlenisChS opened #1634 "System Reconstruction more color independent"
Hi,
I’m using your 3D reconstruction system and it seems to me like is very attached to color. The thing is I’m trying to make a 3D segmentation by segmenting the object in all rgb images( I get black and white images). But when I change the color images for my segmented images is a total mess. Not even the fragments are working well( by this I’m not referring to a bug, is just that the images are

[2020-03-18 19:10] easterngarden commented on #1571
I used PCL uniform sampling to create PCD files which is basic the same face with different tranformation. The total sampling points are 5000 as shown in attached picture. Running the command shown below
![cloundpts](https://user-images.githubusercontent.com/36804327/76997859-3d2de580-6911-11ea-96ab-3ac4c6145d91.png)
:
 RegistrationRANSAC.exe object_5000.pcd object_tr1_5000.pcd --visualize

[2020-03-18 23:02] germanros1987 commented on #1632
Thanks @SBCV, it looks great!

[2020-03-18 23:22] #599 closed

[2020-03-18 23:23] germanros1987 commented on #762
@syncle do we have any updates on this?

[2020-03-18 23:24] #803 closed

[2020-03-18 23:24] #831 closed

[2020-03-18 23:25] #866 closed

[2020-03-19 12:01] christianbrugger opened #1636 "segment_plane crashes when len(pcd.points) < ransac_n"
Call segment_plane on a pointcloud with less points than `ransac_n` points leads to a segmentation fault.

**To Reproduce**
Here is an example with `ransac_n = 3` and 1 points:
[code]

This will print
[code]

**Expected behavior**
Raise a Python exception.

**Environment:**
 - OS: Ubuntu 16.04
 - Python version: 2.7.12
 - Open3D version: 0.9.0.0
 - Is this remote workstation?: no
 - How did you in

[2020-03-19 12:55] ychechik commented on #1578
@germanros1987 I can give it a go, although I'm rusty in CPP (Python is my main). how do we continue from here?

[2020-03-19 13:58] jbjeong opened #1638 "Question - Headless rendering with textured mesh"
Hello, thanks for great work.

I have a question about the headless rendering.
I have tried to use headless rendering with textured mesh, but it didn't work.
I used the example code (headless_rendering.py) which the input data was changed
(point cloud -> textured mesh).
As a result, the segmentation fault is raised after the line "vis.run()" ([headless_rendering-line59](https://github.com/intel-is

[2020-03-19 15:09] mashalahmad opened #1639 "Question: Images license"
Hi
Im using some of images of 3d Model from the open3D examples (fragment.ply)
My question is that are these images under MIT license too?

[2020-03-19 18:23] benjaminum commented on #1636
Thanks for the code example. The bugfix #1637 is now in the master branch.

[2020-03-19 18:23] #1636 closed

[2020-03-20 18:30] christianbrugger commented on #1636
Thanks for the quick response Benjamin. I had a look at your commit. Can you make sure it also works with the following example?
[code]

[2020-03-20 22:35] SeanStephensenAIRM opened #1641 ""Outward" normal orientation method"
I'd like to request an official method for orienting normals "outward" on a point cloud, or at least start a discussion on the technique for this objective. If a rigorous technique exists or can be described, it could be implemented as a method, similar to pcd.orient_normals_to_align_with_direction().

Motivation:
A poisson surface reconstruction of a cylindrical object fails, namely through gener

[2020-03-21 00:02] yongxf commented on #1367
Hi @yanghtr  did you solve the problem?
I also have the same problem. It seems to me this is a bug.
When using vis.create_window(visible=False), the capture_depth_float_buffer returns the desired projection image but capture_screen_float_buffer returns the screen shot of the top window, instead of the created open3d window.
No problem if setting visible=True.

I installed open3d by pip recently in

[2020-03-21 09:31] griegler commented on #1641
The problem is we do not have a method to orient the normals like using a minimum spanning tree in Open3D. We already discussed it in #270, #1507, #1522. I think @syncle wanted to work on it? Can you tell your status. Otherwise, I could have a look at it next week.

[2020-03-21 17:32] theNded commented on #1639
@qianyizh

[2020-03-21 20:50] germanros1987 commented on #1639
Hi! In the Open3D team, we take your question very seriously. In order to provide better assistance to our users, we are implementing new policies. Now general questions should be asked in our forum: https://forum.open3d.org

Github issues will remain in use for bug reports and feature requests.

We are looking forward to answering your question in our forum!

Best regards.

[2020-03-21 20:51] #1632 closed

[2020-03-21 20:51] germanros1987 commented on #1581
Hi! In the Open3D team, we take your question very seriously. In order to provide better assistance to our users, we are implementing new policies. Now general questions should be asked in our forum: https://forum.open3d.org

Github issues will remain in use for bug reports and feature requests.

We are looking forward to answering your question in our forum!

Best regards.

[2020-03-21 20:52] germanros1987 commented on #1571
Hi! In the Open3D team, we take your question very seriously. In order to provide better assistance to our users, we are implementing new policies. Now general questions should be asked in our forum: https://forum.open3d.org

Github issues will remain in use for bug reports and feature requests.

We are looking forward to answering your question in our forum!

Best regards.

[2020-03-21 20:52] germanros1987 commented on #1563
Hi! In the Open3D team, we take your question very seriously. In order to provide better assistance to our users, we are implementing new policies. Now general questions should be asked in our forum: https://forum.open3d.org

Github issues will remain in use for bug reports and feature requests.

We are looking forward to answering your question in our forum!

Best regards.

[2020-03-21 20:52] germanros1987 commented on #1553
Hi! In the Open3D team, we take your question very seriously. In order to provide better assistance to our users, we are implementing new policies. Now general questions should be asked in our forum: https://forum.open3d.org

Github issues will remain in use for bug reports and feature requests.

We are looking forward to answering your question in our forum!

Best regards.

[2020-03-21 20:52] germanros1987 commented on #1523
Hi! In the Open3D team, we take your question very seriously. In order to provide better assistance to our users, we are implementing new policies. Now general questions should be asked in our forum: https://forum.open3d.org

Github issues will remain in use for bug reports and feature requests.

We are looking forward to answering your question in our forum!

Best regards.

[2020-03-21 20:52] germanros1987 commented on #1522
Hi! In the Open3D team, we take your question very seriously. In order to provide better assistance to our users, we are implementing new policies. Now general questions should be asked in our forum: https://forum.open3d.org

Github issues will remain in use for bug reports and feature requests.

We are looking forward to answering your question in our forum!

Best regards.

[2020-03-21 20:52] germanros1987 commented on #1516
Hi! In the Open3D team, we take your question very seriously. In order to provide better assistance to our users, we are implementing new policies. Now general questions should be asked in our forum: https://forum.open3d.org

Github issues will remain in use for bug reports and feature requests.

We are looking forward to answering your question in our forum!

Best regards.

[2020-03-21 20:53] germanros1987 commented on #1462
Hi! In the Open3D team, we take your question very seriously. In order to provide better assistance to our users, we are implementing new policies. Now general questions should be asked in our forum: https://forum.open3d.org

Github issues will remain in use for bug reports and feature requests.

We are looking forward to answering your question in our forum!

Best regards.

[2020-03-21 20:53] germanros1987 commented on #1459
Hi! In the Open3D team, we take your question very seriously. In order to provide better assistance to our users, we are implementing new policies. Now general questions should be asked in our forum: https://forum.open3d.org

Github issues will remain in use for bug reports and feature requests.

We are looking forward to answering your question in our forum!

Best regards.

[2020-03-21 20:53] germanros1987 commented on #1448
Hi! In the Open3D team, we take your question very seriously. In order to provide better assistance to our users, we are implementing new policies. Now general questions should be asked in our forum: https://forum.open3d.org

Github issues will remain in use for bug reports and feature requests.

We are looking forward to answering your question in our forum!

Best regards.

[2020-03-21 20:53] germanros1987 commented on #1443
Hi! In the Open3D team, we take your question very seriously. In order to provide better assistance to our users, we are implementing new policies. Now general questions should be asked in our forum: https://forum.open3d.org

Github issues will remain in use for bug reports and feature requests.

We are looking forward to answering your question in our forum!

Best regards.

[2020-03-21 20:53] germanros1987 commented on #1418
Hi! In the Open3D team, we take your question very seriously. In order to provide better assistance to our users, we are implementing new policies. Now general questions should be asked in our forum: https://forum.open3d.org

Github issues will remain in use for bug reports and feature requests.

We are looking forward to answering your question in our forum!

Best regards.

[2020-03-21 20:53] germanros1987 commented on #1413
Hi! In the Open3D team, we take your question very seriously. In order to provide better assistance to our users, we are implementing new policies. Now general questions should be asked in our forum: https://forum.open3d.org

Github issues will remain in use for bug reports and feature requests.

We are looking forward to answering your question in our forum!

Best regards.

[2020-03-21 20:53] germanros1987 commented on #1389
Hi! In the Open3D team, we take your question very seriously. In order to provide better assistance to our users, we are implementing new policies. Now general questions should be asked in our forum: https://forum.open3d.org

Github issues will remain in use for bug reports and feature requests.

We are looking forward to answering your question in our forum!

Best regards.

[2020-03-21 20:53] germanros1987 commented on #1376
Hi! In the Open3D team, we take your question very seriously. In order to provide better assistance to our users, we are implementing new policies. Now general questions should be asked in our forum: https://forum.open3d.org

Github issues will remain in use for bug reports and feature requests.

We are looking forward to answering your question in our forum!

Best regards.

[2020-03-21 20:54] germanros1987 commented on #1370
Hi! In the Open3D team, we take your question very seriously. In order to provide better assistance to our users, we are implementing new policies. Now general questions should be asked in our forum: https://forum.open3d.org

Github issues will remain in use for bug reports and feature requests.

We are looking forward to answering your question in our forum!

Best regards.

[2020-03-21 20:54] germanros1987 commented on #1365
Hi! In the Open3D team, we take your question very seriously. In order to provide better assistance to our users, we are implementing new policies. Now general questions should be asked in our forum: https://forum.open3d.org

Github issues will remain in use for bug reports and feature requests.

We are looking forward to answering your question in our forum!

Best regards.

[2020-03-21 20:54] germanros1987 commented on #1357
Hi! In the Open3D team, we take your question very seriously. In order to provide better assistance to our users, we are implementing new policies. Now general questions should be asked in our forum: https://forum.open3d.org

Github issues will remain in use for bug reports and feature requests.

We are looking forward to answering your question in our forum!

Best regards.

[2020-03-21 20:54] germanros1987 commented on #1349
Hi! In the Open3D team, we take your question very seriously. In order to provide better assistance to our users, we are implementing new policies. Now general questions should be asked in our forum: https://forum.open3d.org

Github issues will remain in use for bug reports and feature requests.

We are looking forward to answering your question in our forum!

Best regards.

[2020-03-21 20:54] germanros1987 commented on #1333
Hi! In the Open3D team, we take your question very seriously. In order to provide better assistance to our users, we are implementing new policies. Now general questions should be asked in our forum: https://forum.open3d.org

Github issues will remain in use for bug reports and feature requests.

We are looking forward to answering your question in our forum!

Best regards.

[2020-03-21 20:54] germanros1987 commented on #1311
Hi! In the Open3D team, we take your question very seriously. In order to provide better assistance to our users, we are implementing new policies. Now general questions should be asked in our forum: https://forum.open3d.org

Github issues will remain in use for bug reports and feature requests.

We are looking forward to answering your question in our forum!

Best regards.

[2020-03-21 20:54] germanros1987 commented on #1310
Hi! In the Open3D team, we take your question very seriously. In order to provide better assistance to our users, we are implementing new policies. Now general questions should be asked in our forum: https://forum.open3d.org

Github issues will remain in use for bug reports and feature requests.

We are looking forward to answering your question in our forum!

Best regards.

[2020-03-21 20:54] germanros1987 commented on #1303
Hi! In the Open3D team, we take your question very seriously. In order to provide better assistance to our users, we are implementing new policies. Now general questions should be asked in our forum: https://forum.open3d.org

Github issues will remain in use for bug reports and feature requests.

We are looking forward to answering your question in our forum!

Best regards.

[2020-03-21 21:07] Sudoki opened #1642 "[BUILD]"
/usr/bin/ld: /usr/local/lib/libglfw3.a(vulkan.c.o): undefined reference to symbol 'dlclose@@GLIBC_2.2.5'
    //lib/x86_64-linux-gnu/libdl.so.2: error adding symbols: DSO missing from command line
    collect2: error: ld returned 1 exit status
    src/Tools/CMakeFiles/ManuallyCropGeometry.dir/build.make:105: recipe for target    'bin/ManuallyCropGeometry' failed
    make[2]: *** [bin/ManuallyCropGe

[2020-03-22 02:56] yanghtr commented on #1367
@yongxf I did not solve this problem. I don't know how to solve it.

[2020-03-22 03:33] devshank3 commented on #1462
Thanks @germanros1987  @syncle

I will post the question on forum

Closing this issue

[2020-03-22 03:33] #1462 closed

[2020-03-22 07:03] benjaminum commented on #1636
Yes, the new example generates a python exception.

[2020-03-22 12:22] christianbrugger commented on #1636
Perfect, thanks for checking.

[2020-03-22 13:10] #1642 closed

[2020-03-22 15:27] Sudoki opened #1643 "[build]"
'conda-build' not found when installing package.

I think i have made the package successfully without error, now when i try to install the python package it tells me that 'conda-build' is not found even though it is listed by 'conda list'.

'make install-pip-package' does not work for me as 'open3d' is not found during import after using this command.

I am not experienced enough to deal with thi

[2020-03-22 18:03] heiwang1997 commented on #1367
One workaround I found is to add the following patch to Open3D source code and recompile the package. The idea is to create a new frame buffer object with a texture attachment to render to. It works for both visible=True and visible=False.

diff --git a/src/Open3D/Visualization/Visualizer/Visualizer.h b/src/Open3D/Visualization/Visualizer/Visualizer.h
index 7d23419..b8c9104 100644
--- a/src/Open3D

[2020-03-22 19:57] theNded commented on #1634
We use [RGBDOdometry](http://www.open3d.org/docs/release/tutorial/Basic/rgbd_odometry.html) to construct fragments. This module involves both color and depth data and computes image gradients for registration.
A dirty workaround is to eliminate this predefined combination. You may change this [parameter](https://github.com/intel-isl/Open3D/blob/master/src/Open3D/Odometry/RGBDOdometryJacobian.cpp#L

[2020-03-22 20:04] ArlenisChS commented on #1634
Well thanks, I’ve solved my problem by making all the estimation with the rgb-d images and at the end instead of integrate with those images I do it with the segmented ones, and it works. In fact I think is better this way. Sorry to bother. Still thanks!! 😊

[2020-03-23 03:01] gao-navigation opened #1644 "the coordinate value of points clouds generating from RGBD images is abnromal"
The coordinate value of point clouds from the function (create_point_cloud_from_rgbd_image) is minimal, as shown as follows.
[x, y, z]
[-1.72436984e-05  7.44663660e-05  1.82731897e-05]
[-1.73856218e-05  7.44663660e-05  1.82731897e-05]
[-1.75275453e-05  7.44663660e-05  1.82731897e-05]
[-1.76694687e-05  7.44663660e-05  1.82731897e-05]
[-1.78113921e-05  7.44663660e-05  1.82731897e-05]
[-1.79533156e-0

[2020-03-23 04:08] MaxChanger commented on #1311
Thanks. @germanros1987

[2020-03-23 05:50] yongxf commented on #1367
@heiwang1997 Thanks alot, now the capture_screen_float_buffer(true) is working with vis.create_window(visible=False). @yanghtr I did exactly @heiwang1997 mentioned and recompile the source code, now the capture_screen_float_buffer(true) is working.

[2020-03-23 10:17] dinarkino commented on #1026
The same problem in colab. Got this error
`RuntimeError: [Open3D ERROR] GLFW Error: X11: The DISPLAY environment variable is missing0;m`

JVisualizer shows nothing

[2020-03-23 13:02] inecho opened #1645 "[geometry.TriangleMesh] Transformation issues: Coordinate Frame translates, when applying rotation only"
**Desciption**
Just by applying a rotation to the coordinate frame `frame`, a systematic translation is applied with `+ [0.02583774 0.02583774 0.02583774]`

[code]
also, if I want to apply translation to the frame, which shall be correctly aligned, why does one need to invert everything? I want to go for a position of [0, 0, 2]. Need to code:

[code]
`frame.getCenter()` will then output `[0,0,2]`

[2020-03-23 13:33] TheBricktop commented on #1290
@griegler  Pezcode version should be added as a reference of open3d cross platform ports to the main readme or wiki cause its crucial for working with mobile arcore/arkit/rgbd enabled devices.

[2020-03-23 16:23] theNded commented on #1634
Cheers!
Issue closed.

[2020-03-23 16:23] #1634 closed

[2020-03-23 17:45] mastrogiorgis opened #1646 "Registration issue"
Hello everyone and thanks for your time producing this new PC library.

@germanros1987 this is Georgios.

I have an issue with registration using RegistrationRANSAC from the examples in cpp.
Without changing any of the parameters, I observe a high error in registration of the two attached pcd (pcds.zip) pointclouds. The error is not the same every time I run the RegistrationRANSAC with the same se

[2020-03-23 21:23] lucivpav opened #1647 "Headless rendering: OSMesa: Failed to create context"
I have followed the [instructions](http://www.open3d.org/docs/release/tutorial/Advanced/headless_rendering.html) on headless rendering. To test things out I tried running the `headless_rendering.py` script, which throws an error: `RuntimeError: [Open3D ERROR] GLFW Error: OSMesa: Failed to create context`.

**To Reproduce**
Steps to reproduce the behavior:
1. Follow the [instructions](http://www.op

[2020-03-24 06:26] yanghtr commented on #1367
It works. Thank you very much!

[2020-03-24 06:26] #1367 closed

[2020-03-24 12:40] FelipeDelgadoR opened #1649 "colored ICP registration error"
Hello everyone,
I'm trying to execute the colored icp registration example with Open3D 0.8.0
The only thing that has changed is the source and target point clouds
but right after the script is over I get this

[code]

I'm wondering if the voxel size is something that I have to change, but I've been trying with a lot of values with no results...

Thanks in advance!

[2020-03-24 12:42] FelipeDelgadoR commented on #1550
It still works with open3D 0.8.0, not sure what's the deal.
Using pycharm with python 3.7

[2020-03-24 16:59] griegler commented on #1645
Regarding the first problem: The center of `origin` is also not at `[0,0,0]`, but `[0.02583774 0.02583774 0.02583774]`. Hence, it is the same as `frame` after `rotate`.

Regarding the second problem: `translate` is doing what you expect it should do. If you print the center of frame directly after `translate` (and before `rotate`), then you get the output `[ 0.02583774  0.02583774 -1.97416226]` wh

[2020-03-24 17:38] SebastianGrans commented on #1188
I too have this issue. Getting a warning rather than nothing would have been appreciated.

I am using a commercial structured light 3D scanner which returns a 1200x1920x3   array (I.e. xyz values for each pixel coordinate). Hence it makes sense to have in the array.

[2020-03-24 17:48] #1643 closed

[2020-03-25 07:03] xuexiaoxiaohu opened #1650 "how to transform point cloud to mesh"

[2020-03-25 08:46] grigorovici-andreea commented on #1516
Hello,

This seems to be solved.

Thank you for your help.

[2020-03-25 08:46] #1516 closed

[2020-03-25 09:11] #1650 closed

[2020-03-25 14:44] xuexiaoxiaohu opened #1651 "crop the crop"
I find  the code for cropping the point cloud as follows
print("Load a polygon volume and use it to crop the original point cloud")
 vol = o3d.visualization.read_selection_polygon_volume(  "../../TestData/Crop/cropped.json")     chair = vol.crop_point_cloud(pcd)
o3d.visualization.draw_geometries([chair])
But I have no  polygon volume and cropped.json ,I just have a 3d face point cloud with neck, i

[2020-03-25 15:44] Sudoki commented on #1445
I'm using a realsense 435i and I will definitely want to use IMU data to help with registration. Would be really useful to have an example using existing odometry :)

[2020-03-25 16:51] tfy14esa commented on #1651
Hi!
My question is very related to the question above. To be specific: How can I generate a cropped.json file given that I only have the pointcloud? According to issue #404 at [https://github.com/intel-isl/Open3D/issues/404](url), there is supposed to be a GUI at bin/ManuallyCropPointCloud. I can not find this executable. I installed open3D with Conda.

Thanks.

[2020-03-26 02:28] xuexiaoxiaohu commented on #1651
I have found the pcd.crop(bbox) ,and I solved.

[2020-03-26 03:31] Moxinlin commented on #1535
Hi, maciejmatuszak. Thank you for your reply.  I rollback the version to 0.8.00 and the original code also works.

[2020-03-26 03:35] #1535 closed

[2020-03-26 09:07] tfy14esa commented on #1651
Yes, I also found that. Thanks for sharing. I would like to know the answer to where I can find the "bin/ManuallyCropPointCloud" though.

[2020-03-26 15:41] jrlagrone opened #1654 "Linker fails to find FLANN library"
**IMPORTANT: Please use the following template to report the bug.**
_____

**Describe the bug**
Building from `master` fails with `ld: library not found for -lflann`

**To Reproduce**
Steps to reproduce the behavior:
1. pull master from git
2. make build directory
3. run cmake from build directory and then build (it doesn't matter if `BUILD_FLANN` is on or off)

**Expected behavior**
Build will co

[2020-03-26 16:56] noahstier commented on #1535
I have discovered this bug also.

Is there a way to get PyBind to treat the Eigen::vector3d keys as tuples instead of numpy arrays?

 Otherwise maybe the "voxels" Python binding should be replaced with a get_voxels method that creates and returns a new unordered map, keying on tuples instead.

[2020-03-26 18:32] noahstier commented on #1535
I was able to get what I needed using this patch

[code]

[2020-03-26 22:15] oafolabi opened #1655 "Registration based on correspondences fails with Type Error"
**Describe the bug**
I tried using open3d's python api to perform registration using correspondences, given two pointclouds and a Vector2iVector of correspondences. It failed and returned the error below:

TypeError: registration_ransac_based_on_correspondence(): incompatible function arguments. The following argument types are supported:
    1. (source: open3d.open3d.geometry.PointCloud, target:

[2020-03-27 03:38] zengletian1491 opened #1657 "when building the solution in “Debug” and “x64” mode on Windows 10-64bit System, errors occur"
Compiling Environment：
Windows 10-64bit System
Visual Studio 15 2017

The compiling under “Release” and “x64” mode is OK. However, when building the solution in “Debug” and “x64” mode, errors occur as follows:

  | Code | Interpretations | Project | File | Line
-- | -- | -- | -- | -- | --
Error | LNK1104 | cannot open   file“..\..\lib\Debug\Open3D-gd.lib” | ConvertPointCloud | D:\Software\Open3D\O

[2020-03-27 05:35] ibrahimLearning opened #1658 "Function for GreedyProjectionTriangulation in open3d?"
@benjaminum @adamlofts @griegler
Is there any function to calculate GreedyProjectionTriangulation. As for example in pcl:
http://pointclouds.org/documentation/tutorials/greedy_projection.php
Thanks in adavance

[2020-03-27 05:42] JayLIU0911 commented on #879
Same issue here!

[2020-03-27 08:47] ibrahimLearning opened #1659 "RuntimeError: QH5 qhull precision error (qh_mergefacet)?"
@adamlofts @benjaminum @martinruenz @griegler
I am trying  to create  tetrahedral mesh using the following code segment:
[code]
Environment:
Windows 10
Python 3.6 (Anaconda)
open3d version 0.9.0.0
However, it produces the following error:

[2020-03-27 12:16] ez4lionky commented on #1467
I met the same problem on Ubuntu 16.04 :(

[2020-03-27 12:18] triple-tam commented on #879
I'm working on Google Colab and the point cloud is also not showing

[2020-03-27 14:31] syncle commented on #1649
Consider the scale of your point cloud - 0.04 voxel downsampling and normal estimation is all related to the scale of the input point cloud. The example code assumes point set is in metric scale (1 means 1m).

[2020-03-27 14:35] syncle commented on #1646
RANSAC utilizes geometric features, but the underlying geometric feature of the point set you shared would be too similar. It is because the geometry is just a planar scene or some points on the line. In this case, RANSAC would confuse if the match is correct or not. I would like to recommend to use local registration methods such as ICP.

[2020-03-27 15:16] qianyizh commented on #1657
Can you try adding `/bigobj` to your compiler options?
This should address LNK1189 that seems to be the root cause.

[2020-03-27 16:04] mastrogiorgis commented on #1646
Many thanks @syncle

I replied to this on the other forum as well. Here is my response:

Thank you for your answer. I understand that this is a random process, but is it possible to run RANSAC on a nested loop to make sure that the successful case is selected?
Also, the downsampling is based on min and max values and would return the same PC every time. Is there a method already implemented to sel

[2020-03-27 16:29] nitish11 commented on #739
@ChenDRAG  : From which library or module, are you referring this import

`import loader.loader as load
`
Could you please share that.

[2020-03-27 16:53] zengletian1491 commented on #1657
I do as what you say! But it does not work！Thank you all the same!

[2020-03-27 18:15] Akella17 opened #1661 "A possible bug in ClusterConnectedTriangles() method"
I think there is a mistake in the **open3d::geometry::TriangleMesh::ClusterConnectedTriangles** method in the following line ([Line 1414](https://github.com/intel-isl/Open3D/blob/1845da3dd6eb8b3d85d7dff2d94b82fcc7123eaf/src/Open3D/Geometry/TriangleMesh.cpp#L1414)):
[code]
Since **tidx** is also being used in the outer for loop, there is a chance for the outer loop to get shorted without sequential

[2020-03-28 15:58] XiangMochu opened #1662 "Creating pointcloud from RGBD image with a mask?"
Is there any way I can create a point cloud from an RGBD image witn a mask image(like an image of 0 and 1-s) specifying where to create 3D points and where not?
I'm using it in an iterative optimization process, so manually cropping point clouds would be infeasible.

[2020-03-29 08:39] Leerw commented on #1612
but build failed
[code]

[code]

[2020-03-29 14:45] xiaobaishu0097 commented on #879
I run the jupyter notebook on the remote server and also has no response

[2020-03-30 08:43] griegler commented on #1661
It should not be a problem, because the iteration expression of the loop is executed prior to checking the loop condition (see https://en.cppreference.com/w/cpp/language/for). However, it is not very clean. Would you be willing to submit a PR?

[2020-03-30 08:43] #1661 closed

[2020-03-30 09:10] griegler commented on #1662
The function `PointCloud::CreateFromDepthImage` only projects valid depth values (values that are `>0`) if `project_valid_depth_only` is set to `true`. Hence, you could set all values that you don't want to project to a value `<= 0`.

[2020-03-30 11:01] aabramovrepo opened #1665 "what is the status with line_width in LineSet?"
Hi All,

   I'm using open3d 0.9.0 with Python 3.6 However, playing with `line_width` like:

`o3d.visualization.RenderOption.line_width=1.0`

or

`o3d.visualization.RenderOption.line_width=10.0`

does not take my anywhere... Is there any possibility to adjust line thickness in the LineSet object?

Thanks in advance for your help!

Best,
Alexey

[2020-03-30 12:16] nasief commented on #412
@germanros1987 That's great. Do you have a tentative timeline for the release?

[2020-03-30 13:31] ez4lionky opened #1666 "Can Open3D offline process RGBD data?"
**Describe the bug**
It seems that Open3D's Reconstruction System handles sequence data (all RGBD images are a continuous sequence) by default - eg. make fragments. When I using Open3D to process several sequences but captured in the same place, the reconstructed scene is jumbled (the result is below). Does Open3D has function or parameters about offline reconstruction. Or maybe I missed something

[2020-03-30 13:42] Akella17 commented on #1661
Sure thing. I can submit a PR. Meanwhile, Here is a test case that fails the ClusterConnectedTriangles() function:
[code]
The output upon running the code is as follows:
[code]
However, the expected output is:
[code]

[2020-03-30 13:55] griegler commented on #1661
Thanks!
But the output of the code looks weird. `0 -1 -1 -1 -1 -1 -1 0 ` are the cluster indices, but how can they be negative?

[2020-03-30 14:04] Akella17 commented on #1661
That's because the cluster indices of the triangles are initialized to -1. In the example I created, the first and last triangles are connected. The **tidx** iterator in the for loop ([line 1402](https://github.com/intel-isl/Open3D/blob/c5a3500594958f5b8e8da9499b78a6311f619015/src/Open3D/Geometry/TriangleMesh.cpp#L1402)) starts with 0 and then jumps to a value of 7 (last traingle index) inside the

[2020-03-30 14:12] XiangMochu commented on #1662
Thank you so much! That's exactly what I needed! It also works on `create_from_color_and_depth`

[2020-03-30 14:12] #1662 closed

[2020-03-30 14:52] Kunika21 opened #1667 "unable to import fmt"
I am unable t import fmt from 3rd party libs.
I observed that the path given in cmake file which i inside folder 3rd party to fmt is set(fmt_INCLUDE_DIRS ${CMAKE_CURRENT_SOURCE_DIR}/fmt/include)
INSTALL_HEADERS(fmt)

shouldn't it be rather following?
set(fmt_INCLUDE_DIRS ${CMAKE_CURRENT_SOURCE_DIR}/fmt/include/fmt)
INSTALL_HEADERS(fmt)

[2020-03-30 15:29] KunikaValecha opened #1668 "unable to import flann"
I suggest please add

if (BUILD_FLANN)
    set(FLANN_INCLUDE_DIRS "${PROJECT_SOURCE_DIR}/3rdparty/flann")
    INSTALL_HEADERS(flann)
endif ()

on /Open3D/3rdparty/cmakelists.txt : 64th line

else flann is not including further.

[2020-03-30 16:13] Kunika21 commented on #1667
Also, when I am using above, fmt is getting included but throwing numerous fatal errors while I am running make for "Open3D/cmakelists.txt' I guess it is because of version issues. I have installed fmt recursively from this repo only. Please suggest a way to resolve.

[2020-03-30 16:36] martinakos commented on #1367
Have you made a PR with this change?

[2020-03-30 18:55] #1657 closed

[2020-03-31 01:21] imbible commented on #1368
Same issue in Release 0.9.0. I downloaded the zip and tried to compile. It prompts error at 3rdparty/libjpeg-turbo.

[2020-03-31 07:58] Kunika21 commented on #1364
Have you got this resolved ?

[2020-03-31 08:04] Kunika21 commented on #1508
Have you got this resolved?

[2020-03-31 12:43] FelipeDelgadoR commented on #1649
One thing that I've just realized  is that the point cloud that I'm using has no color information!
I didn't noticed at first because I got a "complete point cloud" with color information, and then I crop the point cloud and I was "allegedly" saving the color and normals information from the point cloud, but I've just realized that I'm actually not saving this information, my script looks like thi

[2020-03-31 12:57] zengletian1491 commented on #1657
However, the same question still exits for Debug mode.

[2020-03-31 23:17] TimingSpace opened #1673 "Failed to find service port for display"
**Describe the bug**
On mac OS,10.15.1  `Failed to find service port for display` when trying to visualize a ply file.

**To Reproduce**
Steps to reproduce the behavior:
`xzy = np.random.random((100,3))*10`
`pcd = o3d.geometry.PointCloud()`
`pcd.points = o3d.utility.Vector3dVector(xyz)`
`o3d.visualization.draw_geometries([pcd])`

then
[code]

**Expected behavior**
Expected to visualize the point c

[2020-04-01 10:07] benjaminum commented on #1659
Hi, can you provide the data to reproduce this? Does this happen in general for voxel downsampled point clouds?

[2020-04-02 09:44] radmahdi commented on #1427
I am afraid this  just ignores the assert function, and the parameters are not really taking into account!

[2020-04-02 17:08] huzhlei opened #1678 "Fail to draw geometry.Image using visualization.draw_geometries()"
Runtime error [CreateCoordinateFrame] size <= 0 at
open3d.visualization.draw_geometries([open3d.geometry.**Image**])

But no problem with other Geometry types.

**To Reproduce**
In provided Open3D/examples/Python/Misc/color_image.py

y = matplotlib.image.imread("../../TestData/lena_color.jpg")
yy = o3d.geometry.Image(y)
o3d.visualization.draw_geometries([yy])

**Screenshots**
"Open3D/examples/Pyth

[2020-04-02 23:35] ibrahimLearning commented on #1659
@benjaminum
Yes, you are right. Will I ignore voxel downsampled?

[2020-04-03 14:37] syncle commented on #1665
OpenGL does not support line_width. I am quite sure it will be not supported in Open3D neither. Please checkout this post https://github.com/intel-isl/Open3D/issues/1480.

[2020-04-03 14:39] syncle commented on #1658
Hi @ibrahimLearning, we are currently working for other branches for the next stable version release. If you don't mind, could you contribute to implementing such a feature?

[2020-04-03 17:43] benjaminum commented on #1659
Do you mean it only happens with voxel_downsample?

On Fri, Apr 3, 2020 at 1:35 AM ibrahimLearning <notifications@github.com>
wrote:

[2020-04-03 20:20] rancheng commented on #897
I have the same question, I need to forward rviz through ssh...

[2020-04-03 22:38] rowoflo opened #1682 "Add setting random seed for SamplePoints methods in the TriangleMesh class"
**Is your feature request related to a problem? Please describe.**
Currently the `TriangleMesh::SamplePointsUniformlyImpl` function uses a randomly generated number to initialize the random number generator ([here](https://github.com/intel-isl/Open3D/blob/master/src/Open3D/Geometry/TriangleMesh.cpp#L445)). This does not allow for the same set of points to be generated on consecutive trials, which

[2020-04-04 21:30] hgrabows commented on #1421
Using OSX 10.14.6:
   conda install -c open3d-admin open3d
produces the same error:
File "<string>", line 1, in <module>
...
Referenced from: /Users/me/anaconda3/lib/python3.7/site-packages/open3d/open3d.cpython-37m-darwin.so (which was built for Mac OS X 10.15)
  Expected in: /usr/lib/libobjc.A.dylib
 in /Users/me/anaconda3/lib/python3.7/site-packages/open3d/open3d.cpython-37m-darwin.so

No idea

[2020-04-06 16:23] stbjelcevic commented on #1647
I am having the exact same issue, hope someone can provide an answer soon!

[2020-04-07 02:14] ibrahimLearning commented on #1658
@syncle
How can I contribute? I will be happy if possible..

[2020-04-07 02:17] ibrahimLearning commented on #1659
@benjaminum
No, it was happened without voxel_downsample. I think in Qhull, maybe there is another argument which is used for scaling large data! but how can I use it in open3d?

[2020-04-07 15:05] xuexiaoxiaohu opened #1687 "How to add texture to the mesh"
Hi, I use Poisson reconstruction method to convert the face point cloud with color to mesh,
and the mesh has vertex colors but has no texture.
I want to know how to add texture to the mesh.
Looking forward to your reply!

[2020-04-07 15:48] kosuke55 commented on #1535
@noahstier
I got what I wanted with this patch. Thank you very much. I created PR on your behalf.

[2020-04-07 16:22] noahstier commented on #1535
Thanks. It might also be good to remote the `voxels` method from the Python bindings

[2020-04-07 22:50] akashsharma02 opened #1689 "RGBDOdometry with RGBD frames with convert_rgbd_to_intensity=False"
**Describe the bug**
Why is it necessary for RGBD odometry to only support RGBD images which have convert_rgbd_to_intensity=True?

When I run RGBD odometry with two frames having color information, I get a Open3D warning for incorrect image sizes. I think, either the warning must be improved or support for this must be added.

From code I observe that:

[code]

**Expected behavior**
Compute odomet

[2020-04-08 00:20] heiwang1997 commented on #2
Here is another interesting version to draw the text as 3D point cloud. Just in case others need this:

[code]

[2020-04-08 07:10] rafaelkuffner commented on #1240
I am also having this problem. I can load k4a.dll and depthengine_2_0.dll without any problems even on SDK 1.4.0. (so the viewer and recorder work). The only DLL that cannot be loaded is k4arecord.dll.  I tried downgrading to 1.2.0 and had the exact same behavior (only mkv reader does not work)

[2020-04-08 15:51] orgicus opened #1692 "quad mesh support"
**Is your feature request related to a problem? Please describe.**
Open3D has brilliant support for `TriangleMesh`. It would be great to be able to use quad meshes as well (e.g. load quad .obj and process adjacency / compute half-edges mesh, etc.) without going back forth between triangle and quad face index juggling

**Describe the solution you'd like**

- An implementation of a `open3d.geometry.