[2016-12-20 18:56] qianyizh opened #1 "Make zlib/jpeg/png/... auto link to native libraries on Ubuntu/OSX"
On Windows, all packages are included in External, and linked with Open3D.
On Ubuntu/OSX, this should be done automatically with native libraries.
This should be done with findpackage in CMake.

Roadblock: Need to do it and thoroughly test if these dependencies (a weird version, e.g.) break Open3D. In that case, we should fall back to the code included in External.

[2016-12-20 18:56] qianyizh opened #2 "Add Text rendering support to Visualizer"
https://learnopengl.com/#!In-Practice/Text-Rendering
https://learnopengl.com/code_viewer.php?code=in-practice/text_rendering

This should go into a Misc category as one of ShaderWrapper's sub-classes.
Main roadblock:
FreeType is a complicated library to compile with.
This is also related to #1

[2016-12-20 19:01] qianyizh opened #3 "Add file dialog / message dialog support to Visualization"
So far the best file dialog library is tinyfiledialogs: https://sourceforge.net/projects/tinyfiledialogs/
It is small, clean, cross-platform. It has all functionalities I need.

With it, we shall have Ctrl/Cmd+O/S, ...

Roadblock: I need to do it.

Problems: On Windows, the input box is ugly (I checked, there seem to be no better way. Windows does not have native input box support). On Windows, th

[2016-12-23 04:26] qianyizh opened #5 "Python binding"
This is a must have for Open3D.
I looked around, the current best solution seems to be pybind11.
https://github.com/pybind/pybind11
It is neat, header only, cross platform, and supports any non-ancient C++ compiler.

Main roadblock: I need to find time to do it.

[2017-03-24 21:30] #5 closed, assigned to qianyizh

[2017-03-24 21:31] #3 closed, assigned to qianyizh

[2017-04-10 19:44] qianyizh opened #8 "libc++ and libstdc++ conflicts"
When using g++-6 on OSX (for the sake of OpenMP), there are compilation errors linking Open3D against brew-installed jsoncpp. After digging it for a while, it is due to conflict between libc++ (used by llvm by default) and libstdc++ (used by g++ by default).

See this post for details:
https://github.com/open-source-parsers/jsoncpp/issues/597

The current workaround is 6eef4a9068390b97a7074842d142

[2017-04-10 22:10] qianyizh opened #9 "Using OpenMP on OSX"
OpenMP conveniently parallelize many algorithms and accelerates them greatly. However, the default Xcode LLVM does not support OpenMP.

The current solution is to use homebrew-gcc on OSX, see
https://github.com/IntelVCL/Open3D/blob/master/docs/compilation.rst

It however has some compatibility issues with some external libraries (glfw). It also introduces conflicts between libc++ and libstdc++, se

[2017-04-10 22:23] qianyizh opened #10 "Setup travis-ci"
https://travis-ci.org/getting_started

[2017-04-11 00:54] qianyizh opened #11 "Implement the registration module"
- [x] Point-to-point ICP
- [x] Point-to-plane ICP
- [x] Colored ICP (new)
- [x] FPFH
- [x] RANSAC based on given correspondences
- [x] RANSAC based on feature matching
- [ ] Fast global registration (new)
- [x] Test data and test program
- [x] Python binding and test python script
- [ ] Document and tutorial

[2017-04-11 01:03] qianyizh opened #12 "Implement the odometry module"
- [x] RGB-D odometry
- [ ] ICP odometry (KinectFusion odometry)
- [x] Hybrid odometry (new)
- [x] Odometry initialization based on feature matching (new)
- [x] Test data and test programs
- [x] Python binding and python tests
- [ ] Document and tutorial

[2017-04-11 01:06] qianyizh opened #13 "Implement the reconstruction module"
This module is built based on the odometry and registration module.

- [x] Graph optimization
- [x] Robust graph optimization
- [x] Local volumetric fusion
- [ ] Large scale volumetric fusion
- [ ] Pipeline code that integrates the functions
- [ ] Test data and test programs
- [ ] Python binding and python tests
- [ ] Document and tutorial

[2017-05-02 17:24] qianyizh opened #15 "Hot Colormap is not consistent with Matlab/OpenCV convention"
Bug submitted by Arno.

[2017-05-02 22:13] #15 closed, assigned to qianyizh

[2017-05-10 21:21] qianyizh opened #17 "Headless OpenGL rendering"
This can be useful in scenarios where users want to render a (long) video.
It can also be useful when Open3D is deployed in a remote server and window creation is a problem.

Some information regarding GLFW: https://github.com/glfw/glfw/issues/648

[2017-05-10 21:32] qianyizh opened #18 "Upgrade pybind11 to 2.2+"
The current pybind11 is modified from 2.0 dev.
The main modifications are:

1. Direct (reference) access of Eigen matrices, using this patch https://github.com/pybind/pybind11/pull/610
2. Change of ``std::vector`` binding style

The first modification is now merged into pybind11 master branch.
The pybind11 in Open3D should be upgraded to mainstream stable pybind11 version.

[2017-05-10 22:16] qianyizh opened #19 "GLFW window not getting focus when DrawGeometries() is called in Python from OSX console"
Call the following command from OSX console.

The glfw window does not receive any keyboard input.

[2017-05-10 23:46] qianyizh opened #20 "Beautify function names"
Things like:

* ``SelectionPolygonVolume::CropGeometry``
* ``SelectDownSample``, ``VoxelDownSample``, ``UniformDownSample``, ...
* ``ComputePointCloudToPointCloudDistance``, ...

Move the output to the return part of functions. For all ``Geometry`` type, return ``std::share_ptr`` because ``Visualizer`` needs to share the ownership. But for ``std::vector``, use the move and trivial copy mechanics t

[2017-05-11 18:12] #20 closed, assigned to qianyizh

[2017-05-25 16:50] syncle opened #24 "Basic image processing module"
During the process of implementing OdometryRGBD, we found a need of basic image processing modules (e.g., pixel pointer, downsampling, filtering, creating pyramid image) that are generally useful for OdometryRGBD, texturing meshes, and so on.

Plans:
- Put image processing functions into core/geometry/image.cpp/h
- Some useful image functions are distributed in the individual projects, we are goin

[2017-05-25 17:00] syncle opened #25 "Python binding for image processing module"
This issue is derived from #24

[2017-05-25 17:01] syncle opened #26 "Python tutorial that uses ORB feature from OpenCV to initialize RGBDOdometry"
This issues is derived from #24. Lower priority.
Need not to be done before the first launch.

[2017-05-28 20:18] #19 closed, assigned to qianyizh

[2017-06-01 18:32] syncle opened #34 "Ubuntu compiling error"
Travis CI detects some compile errors in Ubuntu trusty.

[code]

This is because `png.h` is not correctly included by Linux cmake build chain.
I looked `/src/External/CMakeLists.txt`. If cmake detects `libpng`, `PNG_INCLUDE_DIRS` in `/IO/CMakelists.txt` is weirdly set to as `/usr/include/usr/include`. If `libpng` is built from source, the correct header is included and this issue is gone.

I was a

[2017-06-01 18:41] #10 closed, assigned to qianyizh

[2017-06-01 22:34] #34 closed, assigned to syncle

[2017-06-01 22:48] syncle opened #35 "Desired platform for Travis CI testing"
#33 only handles Ubuntu trusty (14.04). We need more. Some candidates below.
- OS X El Capitan
- OS X Sierra
- Ubuntu Xenial (16.04)
- Window is not supported by Travis CI. However, I can easily check compatibility as I am mostly using VC2015 for developing.

[2017-06-06 05:59] #35 closed, assigned to syncle

[2017-06-06 23:51] #24 closed, assigned to syncle

[2017-06-13 19:16] #25 closed, assigned to syncle

[2017-06-15 06:13] syncle opened #43 "PPM/PGM file support"
Looks like the current image IO can handle jpg and png image format. However, some of RGBD dataset (such as NYU dataset) is captured with ppm/pgm format. Do we need to extend OpenCV support for these formats as well?

[2017-06-16 00:18] #43 closed, assigned to syncle

[2017-06-16 00:20] qianyizh opened #44 "Add functions to accept more RGB-D input formats (different resolution, different view, etc)"
As discussed in #42 , in the future, we should add conversion function to covert different size and different view point RGB-D image pairs. Quote:

There are some minor formatting issues. Others are good.

I have an additional question: what if the input color image is of different size of depth image? There are some use cases:

1. We use Primesense to capture a higher resolution image stream (my

[2017-06-16 04:07] qianyizh opened #45 "Read PCD file RGB channel bug"
When read PCD files, the RGB color seems to be BGR.
I have tested reading PLY file. Seems to be fine.

[code]

Will create the following image.

<img width="714" alt="screen shot 2017-06-15 at 9 04 19 pm" src="https://user-images.githubusercontent.com/5875217/27211481-6b8960b6-520e-11e7-9a8c-d58c2c3b2bd0.png">

[2017-06-16 18:57] qianyizh opened #47 "Follow up work of #46"
Follow up work of #46

1. Write a Python application tutorial to download and test on the Redwood benchmark.
2. Make sure the test matches the accuracy of Choi et al, and is faster for an order of magnitude.
3. Optimize code if necessary.

These will be the next pull request.

Additionally, the next step is FastGlobalRegistration. It is another PR.

[2017-06-19 17:37] syncle opened #49 "Reading log files of dense matching"
Open3D has `PinholeCameraIntrinsic` and `PinholeCameraTrajectory` that are good to read camera information from file. However, we don't have a file IO support for dense matching point cloud pairs. This is essential to `GraphOptimization` module.

[2017-06-19 20:50] #45 closed, assigned to nobody

[2017-06-22 00:37] #49 closed, assigned to syncle

[2017-06-22 18:59] syncle opened #51 "Follow up work of #41"
#41 covers basic data structure and functions for RGBD odometry application.
There are few issues additionally need to be handled.
- OpenMP boosted version is not that fast enough: I expect 4~5 times faster when OpenMP is used, but the performance gain is not obvious. Should be handled.
- Some example that shows Hybrid odometry is better than old odometry.

[2017-06-22 22:12] syncle opened #52 "Benchmark for building Jacobian matrix"
This issue is derived from #41

I had benchmarked several ways for building Jacobian matrix.
Please check the code in Option 1 and Option 2.

[code]
The outputs are
[code]
It is obvious Option 1 is faster than Option 2. It is presumably due to better cash hit.
Option 1 consumes much smaller amount of memory as well.

However, the question arises when the `for` loop is paralleled using `OpenMP`.
[c

[2017-06-30 04:38] #52 closed, assigned to syncle

[2017-07-13 00:07] syncle opened #61 "Protected function in Core\Utility\Timer.h"
I was trying to add timer to my graph optimization loop. I want to just retrieve the time duration.
For example, I would like to add `time : xx.xxx sec.` to the last in the following line.
[code]
I tried to use `GetDuration();` in `Core\Utility\Timer.h` but it is protected function. Can I just get time of duration from `Timer`? This would be useful if I want to customize timing messages.

[2017-07-13 05:48] #61 closed, assigned to nobody

[2017-07-20 22:24] syncle opened #64 "Colored point cloud registration & Multi-scale approach"
I am trying to implant our ICCV code to Open3D.

The files I am editing are core/registration/TransformationEstimation.h/cpp and Registration.cpp. The question is the following virtual function:
[code]
for colored points registration, we need additional argument e.g. point-wise color gradient for computing Jacobian. Any good idea for this?

In addition, we know the multi-scale registration really

[2017-07-24 21:05] syncle opened #66 "Pybind issue"
I notice that cmake 3.6 tool-chain generates `py3d` instead of `py3d.so` after compilation.
This affects python scripts. They don't recognize `py3d` library.

For example:
[code]

But if I change the name, it works
[code]

This issue comes with MacOSX Sierra, Cmake 3.6, Mac Native Python 2.7.
Windows + VisualStudio2015 seems to fine.
We may need to change CMakeList.txt file or get some information

[2017-08-02 20:07] #64 closed, assigned to syncle

[2017-08-02 20:08] syncle opened #68 "Follow work of #64"
#64 works reasonably well, but it need to be run faster.
I am working on this.

[2017-08-05 21:39] #68 closed, assigned to syncle

[2017-08-12 22:50] syncle opened #70 "Python interface"
In python

[code]

does not hard copy. Instead, `pcd_1` gets the pointer of `pcd_0`. I think It is not intuitive for python. Maybe need to define `=` operators for basic data types?

[2017-08-16 04:36] #70 closed, assigned to syncle

[2017-08-17 04:12] syncle opened #71 "Python interface for PoseGraph"
We have fancy class `PoseGraph` and its derived class: `PoseGraphNode` and `PoseGraphEdge`.

A question arises If I want to make `PoseGraph` and grow their members in python. For example, I get odometry and want to save the trajectories into `.json`file. I would need to use `PoseGraph` as it is intended for this case.

So. I want to add new variable. the hope is:
[code]
what I am not clear is that

[2017-08-25 16:48] qianyizh opened #72 "Scriptable rendering and screen capture"

[2017-08-25 21:56] #71 closed, assigned to syncle

[2017-09-08 18:00] qianyizh opened #75 "Add auto_recording for depth images in ViewGeometry"
Per request by Arno.

[2017-09-08 18:16] qianyizh opened #77 "Python interface for GUI"
I have been wanting to it for a long time, but have not got time for it.

The idea is to use the lambda function hooks to play customized animation in Python using GUI. This will solve lots of issues.

E.g. we want to access raw data (in numpy format) of a screen capture stream in an animation, etc.

[2017-09-11 01:39] syncle opened #78 "Custom principal point"
`ConvertFromPinholeCameraParameters` function in Open3D/src/Visualization/Visualizer/ViewControl.cpp is designed for deterministic pinhole camera model: its principal point should be central position of an image domain.

For example, ViewGeometry terminates if below condition does not meet:
[code]

Can we extend current OpenGL interface to allow principle point of non-centered position?

[2017-09-11 08:29] #78 closed, assigned to nobody

[2017-09-12 10:59] #77 closed, assigned to qianyizh

[2017-09-12 18:05] qianyizh opened #83 "libjpeg/zlib/libpng included twice when USE_NATIVE_DEPENDENCIES is off"
as title.

[2017-09-12 18:09] #83 closed, assigned to nobody

[2017-09-12 18:55] syncle opened #85 "CI for windows."
We have Travis CI for Unix systems but we also need to CI for Windows.

One famous tool is:
[https://ci.appveyor.com/](https://ci.appveyor.com/)

[2017-09-12 21:49] syncle opened #86 "JsonCpp warning"
There is a warning when I compiling Open3D with OSX-El capitan.

[code]

Can we replace `Reader` as suggested, or upgrade jsoncpp?

[2017-09-13 05:31] #66 closed, assigned to nobody

[2017-09-13 05:32] #72 closed, assigned to nobody

[2017-09-13 05:32] #26 closed, assigned to syncle

[2017-09-15 14:34] ranftlr opened #87 "PEP8 style for python bindings"
Hi guys,

I just wanted to let you know that I just started to seriously work with Open3D and it is absolutely awesome. I especially like the python bindings!

That said I wanted to point out that CamelCase for function names is very unusual in the python world. The standard style guide https://www.python.org/dev/peps/pep-0008/#function-names suggest lower case with underscores. AFAIK most python

[2017-09-20 01:11] syncle opened #88 "Segfault from std::vector<Eigen::Vector6d>"
We have flexible Jacobian evaluation for RGBDOdometry in `Core/Odometry/RGBDOdometryJacobian.cpp`. However, using `std::vector<Eigen::Vector6d>` has memory alignment issue. According to [Eigen Issue](https://eigen.tuxfamily.org/dox/group__TopicStlContainers.html), it says:

Actually this is happening to my Ubuntu 16.04. The odometry module sometimes crashes with segfault due to this issue.

**Opti

[2017-09-20 06:10] #75 closed, assigned to qianyizh

[2017-09-24 23:22] syncle opened #89 "Point cloud registration need to output information matrix."
As title says, point cloud registration module does not outputs information matrix. Information matrix is necessary for global graph optimization.

I am not trying to output information matrix for every case as computing information matrix would add additional computational burden, and not used for normal cases. I am going to introduce additional option for registration class, and registration res

[2017-09-27 00:04] qianyizh opened #91 "Include libpng and libjpeg in ubuntu install script"
As title.

[2017-09-27 05:31] #91 closed, assigned to qianyizh

[2017-09-27 05:31] #89 closed, assigned to syncle

[2017-09-27 05:36] qianyizh opened #93 "Registration evaluation on Redwood benchmark"
I have discussed with Jaesik.
We need to demonstrate that we have the state-of-the-art registration results.
It also helps us debugging the reconstruction system.

- [x] Python helper function to download and unzip [the redwood benchmark](http://redwood-data.org/indoor/regbasic.html)
- [x] Python script to run global registration
- [x] Benchmarking accuracy. It should match or outperform PCL and C

[2017-09-27 05:41] syncle opened #94 "Compilation failure from libpng and libjpeg"
There is an compilation failure from Travis CI. Related to #92.

[code]

[2017-09-27 07:00] #94 closed, assigned to qianyizh

[2017-09-28 22:51] syncle opened #96 "Performance issue from GetRegistrationResultAndCorrespondences"
This function has for-loop with OpenMP parallelization. However, it actually uses single core on run time. This is A bottleneck for `RegistrationRANSACBasedOnFeatureMatching`. I found this by using Visual Studio Profiler.

Let me put code snippet for a reference:
[code]
I think something is happening to `target_kdtree.SearchHybrid`. Here are a few suspicious things:
- Replacing this function with

[2017-10-02 03:34] qianyizh opened #97 "Wrapper of DrawGeometriesWithAnimationCallback"
Using Visualizer in Python is still quite tedious.
This should be fixed.

[code]

[2017-10-02 03:39] qianyizh opened #98 "Visual Studio 2017 migration"
Need to add Visual Studio 2017 into the tool chain.
Later on, we should setup travis-ci or similar testing systems to test the build of Visual Studio.

[2017-10-03 04:36] syncle opened #100 "Compile failure due to Libpng"
I encountered compile error with up-to-date master branch. It is due to libpng.

Cmake says there is libpng in my Mac, but build tool-chain is bit broken somehow. The tool-chain cannot link libpng to the objects.
[code]
I am using `-DOpen3D_USE_NATIVE_DEPENDENCY_BUILD=OFF` for now to avoid this failure case.

[2017-10-05 01:30] syncle opened #102 "Unnormalized surface normal in ubuntu"
This issue was founded by Maxim.
Using Ubuntu, some surface normal remains not normalized. I couldn't found any suspicious line from core/geometry/EstimateNormals.cpp

These are visualization of point cloud normal using Ubuntu 16.04. Note some points that are not normalized.
<img width="955" alt="screen shot 2017-10-04 at 6 21 49 pm" src="https://user-images.githubusercontent.com/18297113/31207108

[2017-10-05 05:18] #102 closed, assigned to nobody

[2017-10-09 05:12] #88 closed, assigned to qianyizh, syncle

[2017-10-10 18:59] #97 closed, assigned to qianyizh

[2017-10-21 08:26] syncle opened #108 "Downsampling module produces different number of points"
I have spent some time for #107, and I found an very basic issue with voxel downsampling module that might affect RANSACRegistration module.

For the same point cloud, and same voxel downsampling parameter, it produces following:
In VS2015 Release mode
[code]
In VS2015 RelWithDebInfo mode
[code]
In VS2015 Debug mode
[code]

We have different number of points depending on the development mode. Espe

[2017-10-23 15:51] #108 closed, assigned to nobody

[2017-11-28 06:41] #96 closed, assigned to syncle

[2017-12-04 19:15] #1 closed, assigned to qianyizh

[2017-12-04 19:15] #8 closed, assigned to qianyizh

[2017-12-04 19:16] #9 closed, assigned to qianyizh

[2017-12-04 19:16] #12 closed, assigned to qianyizh

[2017-12-04 19:17] #11 closed, assigned to qianyizh

[2017-12-04 19:23] #93 closed, assigned to syncle

[2017-12-04 19:24] #13 closed, assigned to qianyizh

[2017-12-04 19:24] #51 closed, assigned to syncle

[2017-12-04 19:24] #47 closed, assigned to qianyizh

[2017-12-12 20:07] qianyizh opened #114 "py3d conflicts with pyigl"
Ubuntu 16.04
Open3D developing branch
libigl developing branch
Get segment fault from importing.
[code]
Probably due to inconsistent pybind11 versions and naming conflict.

[2018-01-29 13:42] qianyizh opened #117 "Bug in register_fragments.py"
I think the odometry edge should have ``uncertain = False``. Please check it and rerun your experiments. @syncle

[code]

[2018-01-29 17:01] #87 closed, assigned to nobody

[2018-01-30 01:31] #117 closed, assigned to nobody

[2018-01-30 17:20] qianyizh commented on #18
Ah, I remember.

I hated the bind_vector function from pybind11, because its ``__repr__`` prints the complete list of all elements. For example, when you call ``print(pcd.points)`` it prints the whole list which can be extremely long.

This is not the behavior I wanted, so I copied the pybind11 convenient function ``bind_vector`` but removed the ``__repr__`` part, and called that function ``bind_v

[2018-01-30 17:46] syncle commented on #18
Good. I am working on this issue.

[2018-01-31 07:57] syncle commented on #18
I decided to keep `bind_vector_without_repr`. Actually the error comes from converting
`{v.size(), EigenVector::RowsAtCompileTime}` into `detail::any_container<ssize_t>`. It is because pybind2.2 has strict compile time error-check.

This fixes the error:
[code]

Now everything works fine. I tested pybind2.2 with the tutorial scripts.

[2018-01-31 08:04] syncle commented on #18
The remaining job is to replace `___init___` for classes. It is not critical issue, but highly recommended by pybind2.2 to avoid runtime warnings.

For example, (from [pybind upgrade guide](http://pybind11.readthedocs.io/en/stable/upgrade.html#v2-2))

[code]

Now I am trying to replace
[code]
with
[code]
but this makes compile error. It is because of keyword arguments. I can compile it without key

[2018-01-31 10:44] saimanoj18 opened #125 "How to load and use LiDAR PCD's with intensity for registration?"
Hi,
Thank you for this great library!

I would like to use lidar point clouds from velodyne sensor with Open3D for point cloud registration. These lidar point clouds come with intensity as well.

It seems like PointCloud class accounts for points, normals and color only. Am I correct ?

If so, do you have any suggestion on how can I **load and use** use intensity information for point cloud regist

[2018-01-31 17:36] qianyizh commented on #125
If you use point cloud with intensity, just copy the intensity value to all the rgb fields (``PointCloud.colors``). We do require that the values to be scaled to 0~1.

I have checked your point clouds to be registered. They do not have normal. In addition, they are sparse, so I don't think the normal estimation will work for them. In this case, your best bet is the point_to_point icp. Both the poi

[2018-01-31 17:45] qianyizh commented on #18
What is a keyword argument?

[2018-01-31 18:48] syncle commented on #18
It is ``"width"_a, "height"_a, "fx"_a, "fy"_a, "cx"_a, "cy"_a``. If I remove this line, it complies.

[2018-01-31 19:08] syncle commented on #125
Yes. I think the point cloud you shared is too sparse. It looks even sparser than ordinal Velodyne scan. Did you subsample Lidar scans?

To fully utilize point-to-plane or colored point cloud registration, it is recommended to have dense point clouds. Once you have it, compute normal and visually inspect whether the estimated normal is reasonable [like this example](http://open3d.org/docs/tutorial

[2018-01-31 19:17] qianyizh commented on #18
I think they are the decorations to the function, i.e., when you type ``help(xxx.__init__)``, these decorations will pop out as the argument names.

[2018-02-01 00:16] syncle commented on #100
The error does not persist with current master branch. Closing.

[2018-02-01 00:16] #100 closed

[2018-02-01 00:43] #114 closed

[2018-02-01 00:44] qianyizh commented on #18
Addressed in #127

[2018-02-01 00:44] #18 closed

[2018-02-01 07:33] #85 closed

[2018-02-01 10:50] saimanoj18 commented on #125
Thank you both for those useful suggestions. Yes, point to point ICP worked reasonably. What I did was, I tried to create a rough alignment or a rough submap, estimate normals from that and then associate them to scan and use point to plane ICP. Then it worked. Thanks for explaining about distance threshold. Yes, I did some cropping of lidar scans and the lidar is placed in horizontal position and

[2018-02-01 10:50] #125 closed

[2018-02-02 05:31] amiltonwong opened #129 "run error (no py3d found)"
Hi, all,

I followed the build [guide](http://www.open3d.org/docs/getting_started.html#ubuntu) . The build process has passed with success. The `py3d.cpython-35m-x86_64-linux-gnu.so` is generated at `build/lib/` after build process.

However, when I run the following commands:
[code]
I encounter the following error:
[code]
It seems `py3d` is not found. What steps should I perform for this issue?

[2018-02-02 06:26] syncle commented on #129
Few suggestions:

- Can you check that Python versions detected by cmake and your python environment matches? If you type ``python`` in terminal it should say version 3.5.
- Can you move to ``build/lib/`` and try
[code]

[2018-02-02 09:43] amiltonwong commented on #129
Thanks @syncle ,
Yes, you're right. I have to specify py3.5 in cmake process. And this suggestion works :)

[2018-02-02 09:43] #129 closed

[2018-02-02 13:28] bhack commented on #17
Other than VNC there is also xpra https://xpra.org/trac/wiki/Usage/OpenGL

[2018-02-02 13:40] amiltonwong opened #130 "Open3D cpp interface and "make install""
Hi, authors,

If I want to use Open3D as a substitute for PCL to deal with 3D data manipulation and visualization (my system uses CMake for project building).  What cmake instructives should I append in my CMakeLists.txt  file? It'll be very useful to have an example of CMakeLists.txt and also a simple example on how to call Open3D C++ interface.

THX!

[2018-02-02 17:29] qianyizh commented on #130
We don't have detailed documentation for the cpp interface.
But there are examples in:
https://github.com/IntelVCL/Open3D/tree/master/src/Test
and
https://github.com/IntelVCL/Open3D/tree/master/src/Tools
Hope they are helpful.

[2018-02-02 18:33] RyanMorris95 opened #131 "Numpy to PointCloud"
Hello,

I have been really enjoying your library.  I haven't been able to find a way to convert a numpy array to a point cloud.  I was wondering if there is any way to do that or do I have to save my numpy array as ply file?

Thank you!

[2018-02-02 18:57] syncle commented on #130
That's good point. As mentioned above, we have several cpp examples. The cpp examples should be self-explanatory. They are hidden gem of Open3D that are used in our past projects, and some of nice applications (like cropping point cloud) are not addressed in Python Tutorial.  Our intention was to guide Open3D users to be familiar with Python environment first.

The best answer for your question fo

[2018-02-02 19:10] syncle commented on #131
For the quick answer, please refer ``src\Python\Tutorial\Misc\vector.py``. There are several examples how to make ``Vector3dVector`` that is compatible with ``py3d.PointCloud.points``.

[2018-02-02 19:23] syncle opened #132 "Updates for Open3D document"
There are some questions regarding basic usage of Open3D.
Revising/adding [Open3D document](http://open3d.org/docs) for those questions will be helpful for users.

I will work on this after collecting more questions.
At this moment, this issue relates to #131 #130 #129.

[2018-02-04 08:28] HTLife opened #134 "NameError: name 'read_image' is not defined"
I got an error `NameError: name 'read_image' is not defined`, when I tried to follow the instruction in [Getting start page](http://www.open3d.org/docs/getting_started.html).  How should I fix it??
[code]

[2018-02-04 17:40] syncle commented on #134
I think py3d may not be imported correctly. Can you try with #129?

[2018-02-05 07:35] #131 closed

[2018-02-06 00:42] syncle commented on #98
I have tested with CMake3.1 + Anaconda2 + Win10 + VC2017 environment. It successfully compiled with no warning and error message. Can you elaborate me what issues you had with cmake + gcc compiler?

[2018-02-06 02:22] aeoleader opened #135 "Error when trying to display point cloud"
[code]
And I get the following error:
GLFW Error: GLX: Failed to create context: BadValue (integer parameter out of range for operation)
Failed to create window
[DrawGeometry] Failed creating OpenGL window.

Can anyone help me with this?

[2018-02-06 03:00] syncle commented on #135
Umm, it is error message from GLFW. It seems like your environment does not support OpenGL. Does your graphical hardware correctly setup? Are you working with remote machine? It would be helpful for others if you share your environment, or configuration for compilation.

[2018-02-06 07:02] aeoleader commented on #135
I am remotely accessing the machine in question via VNC. OpenGL had been working fine before I ran the setup scripts coming with open3d, but after, the all the programs using GL stopped working.

EDIT:
I fixed it by reinstalling x-org and restarting. I don't know exactly why it worked but at least it is working now :))

[2018-02-06 07:02] #135 closed

[2018-02-07 10:04] Joezzr opened #137 "About RegistrationICP &Multiway Registration"
I've just tested Registration and Multiway Registration, but I can't get any good result. Here is my code, any wrong?
[code]

[2018-02-07 16:51] syncle commented on #137
The cpp code presumably looks good. Can you check each point cloud pairs are well aligned? It might be necessary to tune point-to-plane ICP parameters.

[2018-02-07 18:01] matthiasvestner opened #138 "Interactions with Rendering"
It would be nice to have a way to interact with the rendering window, eg. picking of points (return point/vertex/triangle id).

[2018-02-07 20:26] ma-bru commented on #130
It would also be really nice if "make install" could install a Open3D-config.cmake. Ideally with the new cmake style of exporting targets instead of the old OPEN3D_LIBRARIES, OPEN3D_INCLUDE_DIRS style.
That would allow people to just use the standard cmake FindPackage() function.

[2018-02-07 20:41] seath49 opened #139 "Matrix vs Isometry"
I noticed that Eigen::Matrix4d is used through out the code (when it represents a rigid transformation, Eigen::Isometry3d should be used). In the current library state it is not a big performance / precision drawback. In the future, it could pose a disadvantage e.g. when calling .inverse().

[2018-02-07 21:07] syncle commented on #139
That's good point. Can you contribute to replace ``Eigen::Matrix4d``? The issue need to consider is in [py3d_eigen.cpp](https://github.com/IntelVCL/Open3D/blob/master/src/Python/py3d_eigen.cpp) as the matrix buffer is directly copied to 4x4 numpy matrix.

[2018-02-07 21:13] syncle commented on #138
Thanks for the suggestion. We have [ManuallyAlignPointCloud](https://github.com/IntelVCL/Open3D/tree/master/src/Tools/ManuallyAlignPointCloud) where the user can select vertex. Do you mean interactions on Python environment?

[2018-02-07 21:17] seath49 commented on #139
I will try to find some time next week. I don't use the library, so can't commit much time to it. But I appreciate the effort of making actually usable lib, compared to the big one. Keep it light :)

[2018-02-07 23:34] syncle commented on #139
No problem. Another reason is that some transformation in Open3D deals with scale changes. See point-to-point ICP in [TransformationEstimation.cpp](https://github.com/IntelVCL/Open3D/blob/master/src/Core/Registration/TransformationEstimation.cpp). Isometry3d consists of rotation and translation component, so it cannot express scaling factor.

[2018-02-08 02:09] Joezzr commented on #137
I'll show you some results.
input data:
![image](https://user-images.githubusercontent.com/5101183/35951639-3f6db680-0cb7-11e8-8de6-229f61681953.png)

cloud_bin_0.pcd & cloud_bin_1.pcd result:
![image](https://user-images.githubusercontent.com/5101183/35951675-6de7a552-0cb7-11e8-8b43-82a7be671f49.png)

cloud_bin_0.pcd & cloud_bin_2.pcd result:
![image](https://user-images.githubusercontent.com/510

[2018-02-08 02:34] syncle commented on #137
You're trying to mimic [Python tutorial](http://open3d.org/docs/tutorial/Advanced/multiway_registration.html) using c++. Does the same thing happens when you run `src/Python/Tutorial/Advanced/multiway_registration.py`? If the python tutorial runs well, something is wrong with your cpp example. Please check your transformation matrices, and play with toy example first to check ICP result.

[2018-02-08 06:10] Joezzr commented on #137
python tutorial runs well, I'll check ICP result.

[2018-02-08 06:28] QinZiwen opened #140 "Does not seem to provide c + + interface"
Open3D is a very nice open source tool, But it does not seem to provide c + + interface.

[2018-02-08 06:49] syncle commented on #140
Nope. Please see #130.

[2018-02-08 07:37] HTLife commented on #134
After following the instruction in #129 I still get the same error message.
I am using pyenv to wrap all my python version to 3.5.2.
Cmake detect 3.5.2 successfully.
[code]

I could import py3d with no error, but the read_image function could not be found.

[2018-02-08 07:44] qianyizh commented on #130
It would be nice if someone is interested in building the "make install" function for Open3D. I started it in 2015 (that's why it is very old style!) and have not got time to finish it.

Can anyone contribute a PR?

[2018-02-08 07:48] qianyizh commented on #134
That's weird. We have not experienced this before. I suspect it is because py3d is not properly imported.
I guess the first step of debugging is to identify if it is a problem of py3d importing, or a problem of this particular ``read_image`` function. Can you try this?
[code]
It should outputs a list of help information. If this passes. Can you try some other functions such as
[code]

[2018-02-08 07:49] syncle commented on #134
Almost same time reply:

CMake message seems good. I have not seen this issue before. I think py3d does not linked with full attributes. Does pybind11 complains during compilation? Does `help(py3d)` displays any attribute? Can you delete build folder and rebuild again?

[2018-02-08 07:52] HTLife commented on #134
@qianyizh  `help(py3d)` could print document.  However any function under py3d could not be called.

[code]

[2018-02-08 07:53] qianyizh commented on #137
Hi Joezzr,

Try to remove this line:
[code]

You don't need to multiply the two matrices. The second ``Registration_ICP`` function simply takes ``icp_coarse.transformation_`` as initialization and computes the final transformation that aligns ``source`` to ``target``.

[2018-02-08 07:57] qianyizh commented on #137
Btw, it is amazing to see the C++ interface being used. I thought everyone would love the python binding and forget about C++. Clearly I was wrong, :sweat:

[2018-02-08 08:03] HTLife commented on #134
@qianyizh @syncle Rebuild and cd to /build/lib all function could be called successfully.

Run example under Basic folder will cause the same problem.
[code]

[2018-02-08 08:06] qianyizh commented on #134
It looks like a pathing problem. Your python could not find the compiled py3d library. One workaround is to copy ``py3d.so`` to the python script directory and see if it works.

[2018-02-08 08:11] qianyizh commented on #138
Yes, the point picking function has been implemented in class [VisualizerWithEditing](https://github.com/IntelVCL/Open3D/blob/master/src/Visualization/Visualizer/VisualizerWithEditing.h). We have not exposed it in Python interface though.

The current workaround is to use the C++ interface (you can check Tools/ViewGeometry as an example, and change the Visualizer there to ``VisualizerWithEditing``

[2018-02-08 08:14] qianyizh commented on #140
Close the ticket since it is a duplicate of #130

[2018-02-08 08:14] #140 closed

[2018-02-08 08:15] HTLife commented on #134
@qianyizh It works!  Thanks for quick support!!
[code]

[2018-02-08 08:15] #134 closed

[2018-02-08 08:17] qianyizh commented on #98
Close the ticket since the toolchain has been setup and tested. Good job @syncle

[2018-02-08 08:17] #98 closed

[2018-02-08 08:20] qianyizh commented on #139
Good point about performance and precision. I think it is fine for now. But if anyone is motivated, feel free to take the token and make a PR.

[2018-02-08 08:21] HTLife commented on #134
For global solution, add this to .bashrc
[code]
All example could be run successfully.

@qianyizh @syncle Thanks again for your help.

[2018-02-08 08:25] QinZiwen opened #141 "Optimize a pose graph, GlobalOptimizationOption"
http://www.open3d.org/docs/tutorial/Advanced/multiway_registration.html#input    tell me that “Class GlobalOptimizationOption defines the loss function of the pose graph.” , But I am not find how to defines the loss function, and I also found no default loss function

[2018-02-08 08:32] qianyizh commented on #141
The default loss function is the dense point-to-point L2 loss, with a line process weight. It is equation (2) in this paper: http://qianyi.info/docs/papers/cvpr15_loopclosure.pdf
The loss functions is approximated by matrix multiplication using information matrices. See derivation through equation (3) to (9).

``GlobalOptimizationOption`` defines a couple of options. ``max_correspondence_distance`

[2018-02-08 08:33] qianyizh opened #142 "Fast Global Registration"
[FastGlobalRegistration](https://github.com/IntelVCL/FastGlobalRegistration) will be part of Open3D in the next version.

[2018-02-08 08:35] qianyizh opened #143 "Nonrigid global alignment for scene reconstruction (SLAC)"
[SLAC](https://github.com/qianyizh/ElasticReconstruction) should be included in the next version of Open3D. It greatly improves the reconstruction quality.

[2018-02-08 08:38] qianyizh opened #144 "TanksAndTemples toolbox using Open3D"
[TanksAndTemples benchmark](http://www.tanksandtemples.org) uses Open3D as the backend, in particular the evaluation server. [TanksAndTemples Toolbox](https://github.com/IntelVCL/TanksAndTemples) should includes evaluation functions for training data, and examples and tutorials demonstrating its usage.

This will be implemented on TanksAndTemples repository.

[2018-02-08 08:38] Joezzr commented on #137
Thanks, @qianyizh, I still have a problem, I can't get a right result of GlobalOptimization.
I am trying to mimic Python code using C++
`{
print("Build PoseGraph")
			if target_id == source_id + 1: # odometry case
				odometry = np.dot(transformation_icp, odometry)
				pose_graph.nodes.append(
						PoseGraphNode(np.linalg.inv(odometry)))
				pose_graph.edges.append(
						PoseGraphEdge(source_id,

[2018-02-08 08:44] qianyizh commented on #137
Try this:

[code]

Matrix ``odometry`` is pose of each fragment by aggregating odometry transformations.
aggregate

[2018-02-08 09:29] #137 closed

[2018-02-08 11:16] riccardomarin opened #145 "Non-blocking rendering"
Hi,
I am wondering if there is a way to render an image and interact with it while the code keep running.

I am implementing a non-rigid registration pipeline based on many optimization cycles, and I'd like to see how the optimization work in every loop.
Now running "draw_geometries" method, it waits until I close the windows to goes on.

Thanks!
R

[2018-02-08 17:16] syncle commented on #86
Issue fixed.
- upgrade json cpp from 1.6.5 to 1.8.4.
- replace deprecated IO classes in the read and write functions in [src/IO/FileFormat/FileJSON.cpp](https://github.com/IntelVCL/Open3D/blob/master/src/IO/FileFormat/FileJSON.cpp).

@qianyizh: Do you agree to update jsoncpp? It will be large pull request.

[2018-02-08 17:29] syncle opened #146 "Release version"
We don't have release version for Open3D. On the document page, it says 0.1 dev but Github repo doesn't release version. As Open3D grows, it would be good to have version if we set milestone.

[2018-02-08 17:40] syncle commented on #145
That's good question. How about using `from threading import Thread`? `draw_geometries` is based on GLFW, and it supports multi-threading. A good reference for Python multi-threading is [here](https://www.toptal.com/python/beginners-guide-to-concurrency-and-parallelism-in-python). You will need to design worker threads to display new geometry once it is obtained from registration pipeline.

[2018-02-09 07:56] qianyizh commented on #146
I actually think 0.1 dev is the right version for Open3D as of today (2/8/2018). It has a very limited set of functionalities but the basics are there (especially for 3D point clouds and 3D SLAM). I'd like to let the community test it and tell us what are the biggest and most common interest so that I know how to plan for features of the next milestone. When Open3D has been thoroughly tested and u

[2018-02-10 03:06] #86 closed, assigned to syncle

[2018-02-12 03:02] csukuangfj opened #149 "Member functions of three::Timer that do not modify data members should be declared as const"
See the code

https://github.com/IntelVCL/Open3D/blob/347de9058eaa04a2e27fee00cc9f3d8e01f3b324/src/Core/Utility/Timer.h#L45-L46

Since both of the two functions only read the data members, they should be declared as
[code]

[2018-02-12 04:15] csukuangfj opened #151 "ChangeConsoleColor and ResetConsoleColor are neither static nor exported"
`ChangeConsoleColor` and `ResetConsoleColor` are neither `static` nor accessible from
the outside.

The same applies to the function `PrintConsoleProgress`.

https://github.com/IntelVCL/Open3D/blob/347de9058eaa04a2e27fee00cc9f3d8e01f3b324/src/Core/Utility/Console.cpp#L67

https://github.com/IntelVCL/Open3D/blob/347de9058eaa04a2e27fee00cc9f3d8e01f3b324/src/Core/Utility/Console.cpp#L89

https://gith

[2018-02-12 06:42] #149 closed

[2018-02-12 06:52] qianyizh commented on #151
@csukuangfj can you elaborate the use case when these functions need to be called?

I think I intentionally hide them in the unnamed namespace so that they can only be called internally from console.cpp. This avoids polluting the global ``three::`` namespace.

The unnamed namespace idea is from [Google C++ coding guide](https://google.github.io/styleguide/cppguide.html#Unnamed_Namespaces_and_Stati

[2018-02-12 08:01] iqbalu opened #153 "How to manipulate meshes"
Hi,

Thanks for the great library. How can we rotate, translate, scale the meshes from python api. How can we place the sphere at a specific 3D location?

My use case: I need to draw a 3D skeleton with nodes as spheres and edges as cylinders.

Thanks

[2018-02-12 09:06] csukuangfj commented on #151
@qianyizh thank you for the reply.

As far as I know, if a function is not going to be called outside from
the .cpp file, it should be declared as static.

I find these three functions are only called inside Console.cpp, so it
should be declared as `static`. That is why I proposed the pull request.

[2018-02-12 09:39] csukuangfj opened #154 "Compiler warning for the provided Eigen library"
See the following log:
[code]

[code]
is better for comparing equality for two floats.

[2018-02-12 18:47] syncle commented on #154
Thanks @csukuangfj, but I am not sure the scope for the Open3D repository. The external libraries are provided for user convenience, and intended to be untouched from the original.

I briefly checked the [Eigen repo](https://bitbucket.org/eigen/eigen) and found out that even the recent Eigen release might have the same issue.

https://bitbucket.org/eigen/eigen/src/253cc1138131af650a59e547d6d5228b9

[2018-02-12 18:56] syncle commented on #153
Hi @iqbalu
According to [this tutorial](http://open3d.org/docs/tutorial/Basic/visualization.html), you can create sphere and cylinder. For example,
[code]
Now prepare your 4x4 matrix that includes scale, rotation, and translation. As we shown in [this tutorial](http://open3d.org/docs/tutorial/Basic/icp_registration.html), you may try the following:
[code]

[2018-02-12 23:36] #153 closed

[2018-02-13 06:46] qianyizh commented on #151
Actually as long as it is in an unnamed namespace they don't need to be static.
Read this:
https://google.github.io/styleguide/cppguide.html#Unnamed_Namespaces_and_Static_Variables

[2018-02-13 06:47] qianyizh commented on #151
I am closing this because I don't think the change is necessary.
But thanks for the discussion. This is helpful.

[2018-02-13 06:47] #151 closed

[2018-02-13 09:40] godspeed1989 opened #155 "How to set mesh triangles' opacity"
Hi,
Thanks for the great library. I have two questions.

1) How can we set mesh triangles' opacity and visualize it?
2) How can we draw line between vertices and visualize it?

Thanks

[2018-02-14 00:09] syncle commented on #138
I am working on exposing `VisualizerWithEditing` class. This will include additional Python Tutorial.

[2018-02-14 01:42] csukuangfj commented on #154
An issue is opened at the address http://eigen.tuxfamily.org/bz/show_bug.cgi?id=1520

[2018-02-14 01:48] csukuangfj opened #156 "Error in ClipIntensityImage"
See the code
https://github.com/IntelVCL/Open3D/blob/5382f39abf7ad625fb6bb80b247332703665a87e/src/Core/Geometry/Image.cpp#L129

and

https://github.com/IntelVCL/Open3D/blob/5382f39abf7ad625fb6bb80b247332703665a87e/src/Core/Geometry/Image.cpp#L135

It assumes pixels are of type `float`, but `sizeof(float)` is 4.

[2018-02-14 01:54] csukuangfj opened #158 "Image::FloatValueAt should be declared as const"
See the code
https://github.com/IntelVCL/Open3D/blob/5382f39abf7ad625fb6bb80b247332703665a87e/src/Core/Geometry/Image.cpp#L64

The function does not change data members. Hence, it should be declared as `const`.

[2018-02-14 02:00] csukuangfj opened #160 "Parameters for the function FilterImage are not const references"
See the code
https://github.com/IntelVCL/Open3D/blob/5382f39abf7ad625fb6bb80b247332703665a87e/src/Core/Geometry/Image.h#L137-L138

`dx` and `dy` are not references.

[2018-02-14 02:03] csukuangfj opened #162 "Multiple definitions of ImagePyramid"
See here
https://github.com/IntelVCL/Open3D/blob/5382f39abf7ad625fb6bb80b247332703665a87e/src/Core/Geometry/Image.h#L162

and here
https://github.com/IntelVCL/Open3D/blob/5382f39abf7ad625fb6bb80b247332703665a87e/src/Core/Geometry/Image.h#L170

[2018-02-14 02:14] csukuangfj opened #164 "The current design of three::Image cannot distinguish pixel types of float and int"
Both `float` and `int` occupy 4 bytes. However, `three::image` assumes
a pixel of 4 bytes is `float`.

For example, see the code here
https://github.com/IntelVCL/Open3D/blob/5382f39abf7ad625fb6bb80b247332703665a87e/src/Core/Geometry/Image.cpp#L144-L156

[2018-02-14 02:19] csukuangfj opened #165 "Request to use scoped enum"
Although Open3D recommends using C++11, plain enum is still used in the project.
For example, see the code
https://github.com/IntelVCL/Open3D/blob/5382f39abf7ad625fb6bb80b247332703665a87e/src/Core/Utility/Console.h#L38-L44

Use `enum class VerbosityLevel` may be better.

[2018-02-14 02:21] csukuangfj opened #166 "Request to use some test framework."
The current project is not extensively tested.

Some kind of framework, say gtest, may be introduced into the project.

[2018-02-14 02:26] csukuangfj commented on #132
Doxygen style documentation is needed and is very helpful for developers.

[2018-02-14 03:08] syncle commented on #132
That's very good suggestion. Doxygen document will give reference for c++ API. Working on it.

[2018-02-14 03:15] csukuangfj opened #167 "Parameters of the lambda expressions inside TriangleMesh::GetMinBound are not const references"
See the code
https://github.com/IntelVCL/Open3D/blob/5382f39abf7ad625fb6bb80b247332703665a87e/src/Core/Geometry/TriangleMesh.cpp#L49-L61

The parameter types should be `const Eigen::Vector3d&` .

[2018-02-14 03:33] csukuangfj opened #169 "Error in TriangleMesh::Transform"
See the code

https://github.com/IntelVCL/Open3D/blob/5382f39abf7ad625fb6bb80b247332703665a87e/src/Core/Geometry/TriangleMesh.cpp#L77-L95

The normal vector should be transformed using the **transpose of the inverse** transformation matrix. For example, refer to https://www.cs.upc.edu/~robert/teaching/idi/normalsOpenGL.pdf

----

And a suggestion for using Eigen:
 - `new_point.head<3>()` is more r

[2018-02-14 03:50] csukuangfj opened #170 "Incorrect use of format specifier for size_t in PrintDebug within TriangleMesh::RemoveDuplicatedVertices"
See the code
https://github.com/IntelVCL/Open3D/blob/5382f39abf7ad625fb6bb80b247332703665a87e/src/Core/Geometry/TriangleMesh.cpp#L193-L194

and
https://github.com/IntelVCL/Open3D/blob/5382f39abf7ad625fb6bb80b247332703665a87e/src/Core/Geometry/TriangleMesh.cpp#L219-L220

`%d` is incorrect for printing `size_t`.

The same problem exists for
https://github.com/IntelVCL/Open3D/blob/5382f39abf7ad625fb6

[2018-02-14 04:21] csukuangfj opened #172 "File is not closed in case of error in FilePLY.cpp"
See the code
https://github.com/IntelVCL/Open3D/blob/5382f39abf7ad625fb6bb80b247332703665a87e/src/IO/FileFormat/FilePLY.cpp#L215-L217

https://github.com/IntelVCL/Open3D/blob/5382f39abf7ad625fb6bb80b247332703665a87e/src/IO/FileFormat/FilePLY.cpp#L237-L240

https://github.com/IntelVCL/Open3D/blob/5382f39abf7ad625fb6bb80b247332703665a87e/src/IO/FileFormat/FilePLY.cpp#L253-L256.

The same problem exi

[2018-02-14 05:39] csukuangfj opened #173 "typo for the type RGBImagePyramid"
It should be `RGB**D**ImagePyramid` instead of `RGBImagePyramid`.

See the code
https://github.com/IntelVCL/Open3D/blob/5382f39abf7ad625fb6bb80b247332703665a87e/src/Core/Geometry/RGBDImage.h#L81

[2018-02-14 05:51] csukuangfj opened #175 "Limitations of the function FilterImage"
See the code
https://github.com/IntelVCL/Open3D/blob/5382f39abf7ad625fb6bb80b247332703665a87e/src/Core/Geometry/Image.cpp#L219-L226

It supports only image with a single channel.

However, it is called by `FilterRGBDImagePyramid`
https://github.com/IntelVCL/Open3D/blob/5382f39abf7ad625fb6bb80b247332703665a87e/src/Core/Geometry/RGBDImage.cpp#L31-L47

How can `FilterImage` be applied to the `color_l

[2018-02-14 06:17] qianyizh commented on #154
Closing this for Open3D since this is out of scope.

[2018-02-14 06:17] #154 closed

[2018-02-14 06:24] csukuangfj commented on #169
The same problem exists for the code
https://github.com/IntelVCL/Open3D/blob/5382f39abf7ad625fb6bb80b247332703665a87e/src/Core/Geometry/PointCloud.cpp#L75-L87

[2018-02-14 06:40] syncle commented on #175
@csukuangfj: Image module handles single channel images. Factory function for image transforms a RGB image into a gray-scale image prior to enter these functions. Strictly speaking, ``RGB`` and ``color`` would be ``intensity``, but we decide to use these word because the core intension of image module in Open3D is for RGBD image odometry.

[2018-02-14 07:09] syncle commented on #169
I am not quite agree for normal transformation.

The surface normal direction should not be affected by translational transformation, but only affected by rotation matrix in the transformation matrix. Your reference introduces a derivation for transformation of **plane** equation. If we ignore w in the reference, the transformation is transpose of the inverse of rotation matrix, which is the same

[2018-02-14 07:28] csukuangfj commented on #169
@syncle
Yes, you are right.

Since for (nx, ny, nz, 0), the last component of the vector is 0, which cancels out the translational part
when multiplied with a 4x4 transformation matrix.

The transpose of the inverse of a **rotation** matrix is itself, so it is fine to use the original transformation to transform the normal vector when it is a **rotation** matrix.

But when the transformation is **

[2018-02-14 07:44] qianyizh commented on #155
We don't convenient opacity function yet. The reason is that OpenGL opacity is a bit hacky. Even with an alpha channel, OpenGL runs depth test as usually so you are not really able to see through the triangles. The way of rendering semi-transparent objects is usually by drawing them layer by layer, which is out of the scope of Open3D convenient functions.

To enable opacity, the best way is to cha

[2018-02-14 07:48] qianyizh commented on #156
Good catch.

[2018-02-14 07:48] #156 closed

[2018-02-14 07:49] qianyizh commented on #158
Good catch.

[2018-02-14 07:49] #158 closed

[2018-02-14 07:50] #160 closed

[2018-02-14 07:50] #162 closed

[2018-02-14 07:53] godspeed1989 commented on #155
Thank you very much!

[2018-02-14 07:53] qianyizh commented on #164
Yes. I don't think there is a use case for images with ``int32`` datatype.
So ``Image`` assumes ``uchar`` for 1 byte, ``uint16``for 2 bytes, and ``float`` for 4 bytes.

We can revisit this ticket again if in the future there are practical use cases for ``int32`` type and such.

[2018-02-14 07:53] #164 closed

[2018-02-14 07:53] #155 closed

[2018-02-14 07:57] csukuangfj commented on #175
@syncle
In that case, there is no use for providing the option `convert_rgb_to_intensity`
in the following functions, since set it to `false` does not work and it MUST be true.

https://github.com/IntelVCL/Open3D/blob/a703d41826cb64e31a774fa79fba13276bc96d6b/src/Core/Geometry/RGBDImage.h#L55-L79

[2018-02-14 07:58] qianyizh commented on #165
Agree.

[2018-02-14 08:00] qianyizh commented on #166
Agree.

I thought about adding gtest for a long time. But I realized it is non-trivial, especially it needs to be integrated with CI and tested under three different compiler chains.

It would be really great if you can contribute. I am happy to adopt it.

[2018-02-14 08:05] #167 closed

[2018-02-14 08:13] qianyizh commented on #169
The assumption is that ``transformation`` is a rigid transformation matrix.

[ R | t ]
[ 0 | 1 ]

Thus Tn and (T^{-1})^{T}n is the same.

[2018-02-14 08:15] qianyizh commented on #169
I will leave this open for a bit more discussion. But my current view is that it is not necessary to apply transpose of the inverse.

Maybe the document should be fixed so that it is written ``transformation`` is a rigid transformation matrix, and the behavior of given other types of matrix is undefined. But that is it in my current view.

[2018-02-14 08:16] #170 closed

[2018-02-14 08:17] qianyizh commented on #172
Agree.

[2018-02-14 08:18] qianyizh commented on #173
Agree.

[2018-02-14 08:19] qianyizh commented on #173
@csukuangfj Just want to thank you for all the bugs you pointed out and all the PRs you submitted. You must have had a very thorough read of the entire library. This is indeed very helpful.

[2018-02-14 08:21] csukuangfj commented on #173
@qianyizh
That is the power of open source. I also learned a lot while reading the code 😄

[2018-02-14 08:25] qianyizh commented on #175
``convert_rgb_to_intensity`` was my change. I needed a function that reads a colored RGBD image so that it can be used in integration.

You can see the blame of the file:
https://github.com/IntelVCL/Open3D/blame/a703d41826cb64e31a774fa79fba13276bc96d6b/src/Core/Geometry/RGBDImage.h#L55-L79

But for the main usage of RGBD image (i.e., odometry), RGBD images are treated as intensity-D images. This i

[2018-02-14 08:27] csukuangfj commented on #175
@qianyizh

I see, thank you for the explanation.

[2018-02-14 08:28] #175 closed

[2018-02-14 08:36] syncle commented on #169
@qianyizh I think what @csukuangfj said is correct. My arguement is correct if I only consider single directional vector, but when it is attached to the geometry, like surface normal as @csukuangfj explained, it gets changed if the transformation matrix is not pure rotation matrix.

You can check Tn and (T^{-1})^{T}n is not equal even if ``transformation`` is rigid transformation matrix.

Let me t

[2018-02-14 08:38] syncle commented on #173
@csukuangfj Here is my gratefulness too!

[2018-02-14 08:38] qianyizh commented on #169
Yes, but the normal is a directional vector, isn't it?
So it is always ``(nx, ny, nz, 0)``.

[2018-02-14 08:55] csukuangfj opened #176 "Misplaced const for LineSet operator+"
See the code
https://github.com/IntelVCL/Open3D/blob/84d5681c3996958320bab41478a28431b2f7dc44/src/Core/Geometry/LineSet.h#L56

It should be

[code]

In addition, I find that `LineSet` is not inherited in the project and I don't see the point
of making the following functions `virtual`
https://github.com/IntelVCL/Open3D/blob/84d5681c3996958320bab41478a28431b2f7dc44/src/Core/Geometry/LineSet.h#L55-L

[2018-02-14 09:24] syncle commented on #169
Even with ``(nx, ny, nz, 0)``, ``Tn`` and ``(T^{-1})^{T}n`` is not the same due to the fourth-element. If we ignore forth element, and use the first three element then the Open3D's implementation is valid. However, I am not fully convinced whether this is mathematically correct.

[2018-02-14 09:27] syncle commented on #173
https://github.com/IntelVCL/Open3D/blob/5382f39abf7ad625fb6bb80b247332703665a87e/src/Core/Geometry/RGBDImage.h#L80

This comment should be also ``RGBD``

[2018-02-14 09:31] csukuangfj commented on #169
@syncle
Please refer to the book `Mathematics for. 3D Game Programming and Computer Graphics`
at the address

http://canvas.projekti.info/ebooks/Mathematics%20for%203D%20Game%20Programming%20and%20Computer%20Graphics,%20Third%20Edition.pdf

for a mathematical explanation for transforming normal vectors at section 4.5 on page 78

[2018-02-14 09:51] syncle commented on #169
Thanks @csukuangfj. 80 page in this book also supports your argument. Let's get back to the point. Do you think Open3D implementation is correct? I am actually we need to use ``(T^{-1})^{T}`` for transforming normal vector. What I am not fully convinced is that whether ``(T^{-1})^{T}`` and ``T`` is the same for transforming ``(nx, ny, nz, 0)``.

[2018-02-14 10:06] csukuangfj commented on #169
@syncle
In my opinion, what you are thinking applies to tangent vectors, which are known
as **contravariant** vectors according to the above book, while
normal vectors are known as **covariant** vectors.

Although both tangent vectors and normal vectors are vectors, they are different
in terms of transformation.

I would suggest using the **transpose of the inverse** of the transformation matrix.

[2018-02-14 11:57] csukuangfj opened #178 "Inconsistent naming convention for class data members"
Some class data members end with `_` while some are not.

See the code
https://github.com/IntelVCL/Open3D/blob/84d5681c3996958320bab41478a28431b2f7dc44/src/Core/Geometry/DownSample.cpp#L81-L85

and

https://github.com/IntelVCL/Open3D/blob/84d5681c3996958320bab41478a28431b2f7dc44/src/Core/Geometry/Image.h#L94-L99

[2018-02-14 12:01] csukuangfj opened #179 "Getters of the class AccumulatedPoint are not declared as const"
See the code
https://github.com/IntelVCL/Open3D/blob/84d5681c3996958320bab41478a28431b2f7dc44/src/Core/Geometry/DownSample.cpp#L66-L79

[2018-02-14 12:52] csukuangfj opened #181 "Error for ordering eigen values in the function FastEigen3x3"
The function
https://github.com/IntelVCL/Open3D/blob/84d5681c3996958320bab41478a28431b2f7dc44/src/Core/Geometry/EstimateNormals.cpp#L39
returns the eigenvector of the **smallest** eigenvalue for a real symmetric matrix, i.e, a covariance matrix.

Inside the function, it saves the **least** eigenvalue in `eigenvalues(2)`.
But the code for diagonal matrices
https://github.com/IntelVCL/Open3D/blob/84

[2018-02-14 13:01] csukuangfj opened #183 "ill condition inside the function FastEigen3x3"
See the code
https://github.com/IntelVCL/Open3D/blob/84d5681c3996958320bab41478a28431b2f7dc44/src/Core/Geometry/EstimateNormals.cpp#L72-L77

It tries to return a unit vector.

However, `len` is always non-negative, the `if` statement is executed only if
`len` is exactly 0.  When `len` is very small, `eigenvector / len` might subject to numerical issues.

It is better to just use

[code]

[2018-02-14 16:52] syncle commented on #181
Good point. The fix is
[code]

[2018-02-14 19:54] #181 closed

[2018-02-14 21:26] syncle commented on #178
I think it should come with ``_``. According to [Google Coding Style for C++ (class variable names)](https://google.github.io/styleguide/cppguide.html#Variable_Names). The modification will involve python binding. I will work for this.

[2018-02-14 22:22] #179 closed

[2018-02-15 00:15] csukuangfj opened #189 "Error for computing eigenvectors in the function FastEigen3x3"
See the code
https://github.com/IntelVCL/Open3D/blob/84d5681c3996958320bab41478a28431b2f7dc44/src/Core/Geometry/EstimateNormals.cpp#L69-L71

The code assumes that the first column of the matrix

(A-alpha1\*Identity()) \* (A-alpha2\*Identity())

is an eigenvector corresponding to the eigenvalue alpha3.

However, this is not always the case. As described in the following address
https://github.com/I

[2018-02-15 00:16] csukuangfj opened #190 "Request to label every issue"
This helps browse certain kind of issues.

For instance, see https://github.com/opencv/opencv/issues

[2018-02-15 01:13] csukuangfj commented on #189
I find that the following code
https://github.com/IntelVCL/Open3D/blob/84d5681c3996958320bab41478a28431b2f7dc44/src/Core/Geometry/EstimateNormals.cpp#L113-L115

is an elegant solution.

Are there any reasons to use own private solution?

Are there benchmarks to show that the private implementation is superior to the Eigen implementation?

[2018-02-15 01:20] csukuangfj opened #191 "Request to improve the estimation accuracy of the normal vector of a pointcloud"
The current implementation
https://github.com/IntelVCL/Open3D/blob/84d5681c3996958320bab41478a28431b2f7dc44/src/Core/Geometry/EstimateNormals.cpp#L80-L81

uses least squares method to estimate the normal vector of a poitncloud.

All points are used for estimation. However, there might exist some outliers.
Some robust method, such as RANSAC, may be exploited to improve the estimation accuracy.

Fur

[2018-02-15 02:22] csukuangfj opened #192 "parameter of type std::vector within OdometryOption() should be const reference."
See the code
https://github.com/IntelVCL/Open3D/blob/666dcfbcb89eee944e79a4515a8c0a4bb616b158/src/Core/Odometry/OdometryOption.h#L36-L47

[2018-02-15 08:33] syncle commented on #189
You are right for general A matrix, but these private functions are specialized for covariance matrix. As Covariance matrix C is symmetric, so the first column of (C+I)(C-I) cannot be zero if first column or row of C is not zero. This is not happen except for the case there is no adjacent points. Open3D does not compute normal if there is no adjacent point.

The fancy commented line was the origin

[2018-02-15 08:55] qianyizh commented on #169
It is the same.
T =
[ R | t ]
[ 0 | 1 ]

Let n = [nx, ny, nz]
T [n, 0] = [Rn, 0]

T^{-1})^{T} =
[ R | 0 ]
[ s | 1 ]

T^{-1})^{T} [n, 0] = [Rn, 0]

Please trust me on this. I have done this derivation for many times. See equations in this paper for example:
http://qianyi.info/docs/papers/cvpr14_slac.pdf
For directional vector, you just need the rotation part of the matrix, other part does not matte

[2018-02-15 08:56] #173 closed

[2018-02-15 08:57] #178 closed

[2018-02-15 08:57] #176 closed

[2018-02-15 08:59] #183 closed

[2018-02-15 09:03] qianyizh commented on #189
``Eigen::SelfAdjointEigenSolver<Eigen::Matrix3d>`` is slower than ``FastEigen3x3`` to an order of magnitude.

``FastEigen3x3`` assume ``A`` is a covariance matrix. The implementation works in this case.

[2018-02-15 09:03] #189 closed

[2018-02-15 09:04] qianyizh commented on #190
Agree.

[2018-02-15 09:04] #190 closed

[2018-02-15 09:08] syncle commented on #169
Actually, T^{-1})^{T} [n, 0] = [Rn, sn] not [Rn, 0] and this is why I am confused. I am not trying argue but just want to make it clear and add some comment in the code for this. Is that okay ignoring fourth element?

[2018-02-15 09:09] qianyizh commented on #191
Estimate normals from covariance analysis is considered to be a standard procedure.
A comprehensive analysis is in Mark Pauly's PhD thesis, section 2.
http://graphics.stanford.edu/~mapauly/Pdfs/MarkPauly_Thesis_low.pdf

For other methods like RANSAC, there is no standard. Some algorithms may work in certain scenarios, but not in others. This is the type of methods we want to avoid.

[2018-02-15 09:09] #191 closed

[2018-02-15 09:09] #172 closed

[2018-02-15 09:16] qianyizh commented on #169
Ah yes, I see your point.
But the fourth number does not matter.
You throw it away anyways.
I think Tn is fine. It is clear, easy to understand, easy to compute derivative, and causes less potential troubles (e.g., if you forget to set the fourth element to 0, Tn would still be okay).

[2018-02-15 09:16] #192 closed

[2018-02-15 09:18] #165 closed

[2018-02-15 09:21] qianyizh commented on #169
I am closing this ticket for now. Feel free to reopen it if you think more discussion is needed.

[2018-02-15 09:21] #169 closed

[2018-02-15 17:09] syncle opened #195 "Build failure for visual studio"
This issue comes from merge of #194. I will submit new PR to fix the issue.

[2018-02-15 18:59] syncle commented on #195
Addressed in #196.
There are several issues for scoped enum. I will do PR again with newer version.

[2018-02-15 18:59] #195 closed

[2018-02-16 20:47] syncle commented on #165
Adressed in #197

[2018-02-20 05:54] syncle opened #199 "Pybind11 warning"
In debug mode, there are bunch of warning messages from pybind11.

For example,
[code]

[2018-02-20 07:12] #199 closed

[2018-02-20 11:09] riccardomarin opened #201 "Shadows and rendering options"
Hi,
I'm struggling to find some well documented set of options for Visualizer. It's possibile to cast the shadows?

Thanks
R

[2018-02-20 16:54] qianyizh commented on #201
No, shadow casting has not been implemented.

The purpose of Visualizer is to provide a convenient way for visualization. Complicated rendering functions such as shadow, transparent surface, brdf, etc have been excluded from current implementation.

If they become a common request, we will consider adding it in future versions.

[2018-02-21 00:01] syncle opened #202 "Inconsistent indent in working_with_numpy.py"
The tab indent in Tutorial/basic/working_with_numpy.py is not consistent.
https://github.com/IntelVCL/Open3D/blob/83ae5945c26ab171dde86020874fcf0cbfe23ea8/src/Python/Tutorial/Basic/working_with_numpy.py#L28-L35

This causes runtime error.

[2018-02-21 14:52] felixendres opened #204 "SyntaxError: invalid or missing encoding declaration"
Using ipython3 (note the i in front), I get the following error message for `help(py3d.PointCloud2)` - and any other help command
``SyntaxError: invalid or missing encoding declaration for '/home/me/code/Open3D/build/lib/py3d.cpython-34m.so'

Funnily it works in the "regular" python3 console. An ipython problem?

[2018-02-21 20:34] syncle commented on #204
Hi @felixendres,
I tested with ipython3 but cannot see the problem you are facing with. Can you check your ipython3 commands runs with python3.4 (presumably from your py3d name)? It is common case that the python versions for compile and for runtime do not match. If this is the case, refer [Compilation Options -> Python Binding](http://open3d.org/docs/compilation.html#python-binding)

My result (w

[2018-02-22 00:32] #202 closed

[2018-02-22 08:48] #138 closed

[2018-02-22 08:57] qianyizh commented on #204
This is weird. I tried jupyter notebook (the successor of ipython) and it works fine on both OSX and Ubuntu. See the following figure. Maybe it is a problem with ipython3?

One way to debug it is to try using jupyter notebook and see if the problem still exists. The other way is to build a minimal pybind11 project and see if it happens with that.

<img width="1164" alt="screen shot 2018-02-22 at 1

[2018-02-22 10:15] felixendres commented on #204
Here's the initial output when starting ipython3. I had checked that they matched, at least for the major version number.

I am working on ubuntu 14.04. by the way. I meanwhile had to recompile the python wrapper for python 2.7, for other reasons (package conflicts). There, the documentation in ipython works fine.

Thanks for your responses. it's not a big issue, so If there's no lead on what the

[2018-02-22 21:55] syncle commented on #138
FYI, here is [a new document for the additional tutorial](http://open3d.org/docs/tutorial/Advanced/interactive_visualization.html).

[2018-02-22 22:15] syncle commented on #204
Glad to hear that you resolved the issue. It seems like the issue relates to python configuration not Open3D. Closing.

[2018-02-22 22:15] #204 closed

[2018-02-22 22:23] syncle commented on #146
Released v0.1-dev. See [https://github.com/IntelVCL/Open3D/releases/](https://github.com/IntelVCL/Open3D/releases/).
I also hope Open3D would grow and be used for many fields/areas. Closing issue.

[2018-02-22 22:23] #146 closed

[2018-02-23 03:41] zjudmd1015 opened #206 "Add Open3D lib to enviroment variables"
Hi,

A guide about adding Open3D lib to environment variables can be added to the tutorial section "Getting Started", after compiling source code. This may not be intuitive to those who have less experience in configuring Python dependencies.

Thanks!

[2018-02-23 05:10] zjudmd1015 opened #207 "Flipped color for some PCD files"
Hi Authors,

When I tried to open some PCD files using `draw_geometries` function, color of some pointclouds was flipped (seems like from RGB to BGR), while some were not.
The differences I can find among these PCD files are mainly following:
1/ Organized data (original color) and unorganized (flipped color);
2/ 'DATA' type is hex (original color) and ascii (flipped color).

FYI: two PCD files are

[2018-02-23 06:16] syncle commented on #207
We had this issue before #45. I need to collect more cases to debug.

I see the shared file has
- organized_hex.pcd (looks good)
- unorganized_ascii.pcd. (BGR)

Can you also generate either two cases?
- unorganized_binary.pcd
- organized_ascii.pcd

I am suspicious about color decoding for ascii format. If it is the case, you can fix it by changing RGB channel order in following function and create

[2018-02-23 06:18] syncle commented on #206
Good suggestion. This issue relates to #132.

[2018-02-23 07:44] qianyizh commented on #206
It is also related to #130

[2018-02-23 08:00] zjudmd1015 commented on #207
I've tested both
- unorganized_binary.pcd (looks good)
- organized_ascii.pcd (flipped color, something like BGR)

I found that ascii format PCD files all have this color bug, whether they are organized or unorganized.
I modified your mentioned function in [Open3D/src/IO/FileFormat/FilePCD.cpp](https://github.com/IntelVCL/Open3D/blob/53fe62d1a8574a581a5b71c7999759bf3be50262/src/IO/FileFormat/FilePC

[2018-02-23 15:56] syncle commented on #207
Thanks for the contribution! Closing issue.

[2018-02-23 15:56] #207 closed

[2018-02-23 22:14] rukie commented on #17
As another user, this would be an excellent feature! 👍

[2018-02-25 15:12] caselitz opened #209 "Missing python3-dev dependency"
When compiling Open3D I got multiple errors like: `Open3D/src/External/pybind11/include/pybind11/detail/common.h:111:20: fatal error: Python.h: No such file or directory`

I'm on Ubuntu 16.04 and it seems I had to install `python3-dev` to fix this. Maybe this dependency should be added to the [install-deps-ubuntu.sh](https://github.com/IntelVCL/Open3D/blob/master/scripts/install-deps-ubuntu.sh).

[2018-02-25 15:23] rukie commented on #209
The 'optional' python binding works with both Python 2 and Python 3. I don't know that the authors are looking to fool proof everything, but it is possible it could ask if you want python bindings and with which version, then install those dependencies too....

Instead, maybe python bindings should be disabled by default?

[2018-02-25 15:47] caselitz commented on #209
Hm, first thing I tried when I encountered the compilation error was to install `python-dev` - not sure why it didn't help...

Even though this is super straight forward to fix by the user, I feel compilation should work "out of the box" on a virgin Ubuntu (especially if there is already a dedicated script that installs dependencies). But this is up to the authors, I just wanted to drop a note.

[2018-02-25 18:25] syncle commented on #209
Thanks @rukie @caselitz for the discussion.
This is another case of python binding. I put **pybind** for these questions. FYI, please see [previous questions](https://github.com/IntelVCL/Open3D/issues?utf8=%E2%9C%93&q=is%3Aissue+label%3Apybind+).

We are maintaining CI for testing python binding using virgin Ubuntu. If there is single Python installed, and CMake does not confused, the python bindi

[2018-02-25 19:40] rukie commented on #209
I figured the python binding was important (I certainly like it!).

I've been looking over shell scripts and maybe the ubuntu install could
'
#!/bin/sh

set -ev

# install OpenGL, for GLFW
sudo apt-get install xorg-dev libglu1-mesa-dev libgl1-mesa-glx libglew-dev libg$

while true; do
    read -p "Do you wish to install with Python 2 or 3 dependencies?" yn
    case $yn in
        [2]* ) sudo apt-g

[2018-02-26 02:53] syncle commented on #141
Addressed in #210.

[2018-02-26 02:53] #141 closed

[2018-02-26 04:52] qianyizh commented on #209
This is good discussion.

I had problems with python bindings on Ubuntu myself. Part of the reason is that the python ecosystem is a bit chaotic. On Ubuntu there are python2 and python3. Many use integrated environments such as anaconda. There are also different package management tools such as ``conda`` and ``pip`` and they do not work very well together. The problem on windows system is even wor

[2018-02-26 06:45] #209 closed

[2018-02-26 08:44] QinZiwen opened #213 "class ScalableTSDFVolume(TSDFVolume)"
I do not understand the meaning of the parameters of the initialization function of class ScalableTSDFVolume(TSDFVolume)，and it initialization function is
[code]

In addition, when I test 'Open3D/build/lib/Tutorial/ReconstructionSystem/make_fragments.py' using 'rgbd_dataset_freiburg1_xyz' of TUM, the fragment obtained by the program is incomplete,like
![fragment](https://user-images.githubusercont

[2018-02-26 18:18] rukie opened #214 "Export Transformed Points"
It is readily clear how to export point clouds into a numpy array. It is not as clear how to export a **transformed** point cloud.

I loaded point clouds with intensity values scaled 0-1 into RGB. I successfully ran a multi-way registration, but since I'm working on a cluster I can't visualize it. I'd like to open with CloudCompare on a local machine.

For writing to file(s) I have the code below,

[2018-02-26 18:36] syncle commented on #214
I am not sure whether you are interested in transformed point cloud or transformation matrix. Let me try answer both. For saving point cloud, your custom code looks fine and you should be able to save transformed point cloud after you apply ``transform()`` on the point cloud. ``transform()`` is in-place function and it updates points and normal field based on the transformation matrix. If you are

[2018-02-26 19:04] rukie commented on #214
I am interested in a transformed point cloud.

So to be clear, from your documentation in Multiway Registration:
[code]
The points in pcds are transformed in global alignment?
If I run my code after that loop, I should be exporting globally aligned point clouds?

[2018-02-26 19:12] syncle commented on #214
Exactly. This code snippet explains my answer.

[2018-02-26 19:30] rukie commented on #214
Thank you for the clarification!

[2018-02-27 07:16] #214 closed

[2018-02-27 07:18] #132 closed

[2018-02-28 01:12] QinZiwen commented on #213
Thank you!

[2018-02-28 01:14] #213 closed

[2018-02-28 13:22] EthanZhangYi opened #217 "install Open3D as python package"
HI,
Following the instruction document, `py3d` is compiled in `build/lib`. How to install it as a python package and manage it by `pip` or `conda` ? or I just need to copy the py3d.so to the default python package path?

[2018-02-28 16:11] qianyizh commented on #217
Yes. So far copying py3d.so to your working directory is the best solution.

This is also related to #130

[2018-02-28 17:50] syncle commented on #144
Addressed in [here](https://github.com/IntelVCL/TanksAndTemples/pull/8).

[2018-02-28 18:51] syncle commented on #217
This is good suggestion. I actually have been thinking about this idea for a long time. This will make accessibility of Open3D even easier as ``conda`` or ``pip`` are widely used python version control tool now days. Just typing ``conda install py3d`` or ``pip install py3d`` would be great. How about officially submit py3d to anaconda and pip once we have stable release?

[2018-02-28 23:20] qianyizh commented on #217
I think the right timing is when we have v1.

[2018-03-01 00:26] qianyizh opened #218 "Making Open3D classes pickleable"
It is always good to have a convenient way to dump/load class instances to/from files.

This is doable with pybind11.
http://pybind11.readthedocs.io/en/stable/advanced/classes.html#pickling-support

I don't think this is high-priority. But it would be nice if it can be fixed in the future.

[2018-03-01 15:23] HTLife opened #219 "Color point cloud"
The [redwood](http://www.open3d.org/docs/tutorial/Basic/rgbd_images/redwood.html) example shows how to draw point cloud in grayscale.  Did `create_rgbd_image_from_color_and_depth` support color point cloud?

[2018-03-01 15:31] HTLife commented on #219
I found the solution:
Providing the third parameter and assign it to False
[code]

[2018-03-01 15:31] #219 closed

[2018-03-01 16:25] HTLife opened #220 "Open3D for SLAM application"
I'm evaluating that whether to build my SLAM research upon Open3D.
The python example demonstrates on official site seems that it's more like an offline fashion.
One major consideration of SLAM application is the real-time capability.

- Is the APIs be accelerated by GPU?
- Hows the performance (speed) difference between C++ and python binding?

[2018-03-02 16:18] qianyizh commented on #220
1. We haven't implemented a GPU backend because we don't feel a need to do so. The current CPU backend seems to be fast enough for the applications we have tested. And the current CPU backend is highly optimized and actually quite fast. If there is a need for adding a GPU backend we will consider.

2. There is no noticeable performance difference between C++ and python binding. The python binding

[2018-03-02 18:26] syncle commented on #17
Working on this. I am using glfw3.3_dev to avoid hassles.

[2018-03-03 14:42] HTLife commented on #220
@qianyizh Thank you for the reply.
If the performance of Open3D python binding is not a barrier, that might be suitable for some reconstruction work.

My concern is that if I use the python binding, the other component of my code could be slow due to the interpreted design of python.  If the goal is to reach the 30fps real-time processing, the effect could be significant.  And it's easier to combi

[2018-03-03 14:42] #220 closed

[2018-03-03 17:56] alecjacobson opened #221 "Compilation error on Mac OS X: libpng not found"
I followed the command line build instructions, but get this error:

[code]

I checked that I do have libpng installed: e.g., `/usr/local/lib/libpng16.a`. So it seems that the linker is just not finding this. If I add `-L/usr/local/lib` to this command it works.

[2018-03-03 18:06] alecjacobson commented on #221
This seems to be an issue with the cmake setup when png is installed at the system level.

A tacky fix for now was to add the line:

    link_directories("/usr/local/lib")

to `src/CMakeLists.txt`. This allowed me to build everything.

[2018-03-03 18:10] alecjacobson opened #222 "Python dependencies"
I suppose most python users will have things like matplotlib already installed, but following a fresh build following the documentation instructions I immediately got an error running `python rgbd_redwood.py`:

[code]

I'm not sure if matplotlib is the only python package I'm missing.

I'd like to request a python dependency check/script like the `scripts/install-deps-osx.sh`.

(I fixed this parti

[2018-03-04 07:12] syncle commented on #222
Good point. I went through python tutorial scripts and see [list of standard python packages](https://docs.python.org/3/library/index.html). FYI, The external python packages used by Python tutorial are:
- numpy
- matplotlib
- cv2 (optional for reconstruction system, shall not make run-time error)

(I fixed this particular issue with pip install matplotlib)

As a result, this single line should wo

[2018-03-05 07:02] qianyizh commented on #222
I am very lazy and always use Anaconda.

My personal best practice is to create an independent Anaconda environment and install dependencies (e.g. opencv) there. For each environment Anaconda installs the whole package of dependencies. It is redundant, and a huge consumption of disk space.

But it is good for lazy people like me :satisfied:

[2018-03-05 12:53] nianxing opened #223 "py3d not found in after following Ubuntu compiling steps"
after follow compiling steps for Ubuntu in Doc. My py3d's name in Open3D/build/lib is py3d.cpython-35m-x86_64-linux-gnu.so
My platform is Ubuntu 16.04 with python 2.7 as default version.

[2018-03-05 17:42] qianyizh commented on #223
In your case, CMake found the wrong python version. You can specify ``DPYTHON_EXECUTABLE``. It is documented at:
http://www.open3d.org/docs/compilation.html#python-binding
and
http://pybind11.readthedocs.io/en/stable/faq.html?highlight=python%20path#cmake-doesn-t-detect-the-right-python-version

[2018-03-05 17:46] zjudmd1015 opened #224 "How to configure CMakeLists.txt for cpp interface?"
Hi Authors,

Is there some tutorials or documentation about how to configure **CMakeLists.txt** file for c++ interface?
I am trying to use c++ but failed to compile a simple one. I include "Core/Core.h" and want to create a pointcloud instance, I want to use `three::PointCloud cloud;` to create a new cloud, When I tried to compile it with it, errors like `undefined reference to 'omp_get_num_thread

[2018-03-05 18:34] syncle commented on #224
Related to #130.

[2018-03-05 18:37] zjudmd1015 commented on #224
Thanks, I'll check that.

[2018-03-05 18:37] #224 closed

[2018-03-05 20:41] zjudmd1015 opened #225 "Update Point Cloud in visualizer without closing it"
Hi Authors,

I want to show registration process in an online way (update it step by step, gradually). Is there a way to update Point Cloud in the visualizer without closing it?

THX!

[2018-03-06 00:14] syncle commented on #225
Related to #145. Can you try with the solution @felixendres suggested?

[2018-03-06 00:29] rukie opened #226 "Question: RANSAC Settings"
I'm sorry if this is an amateur question, but I'm trying to understand some of the settings.

I'm looking for a little more detail in the Correspondence Checkers.

[code]
I assume this is the distance from a point to the nearest neighbor in the target cloud? Any iterations where its greater than this value are rejected.

[code]
Is this a 0 to 1 scale? Is this in radians?

[code]
This is a 0 to 1 s

[2018-03-06 00:46] syncle commented on #226
Yes. You're right.
<br />

Check out this:
https://github.com/IntelVCL/Open3D/blob/9c6839de3cc57d6344a4d1a0602afeec50a1c28a/src/Core/Registration/CorrespondenceChecker.cpp#L78-L84
It uses ``std::cos`` and uses radian.
<br />

Yes. This adds strong geometric and joint constrains for multiple correspondences.

[2018-03-06 02:19] #223 closed

[2018-03-06 02:20] nianxing commented on #223
solved after specify DPYTHON_EXECUTABLE, thanks.

[2018-03-06 09:17] #222 closed

[2018-03-06 17:11] rukie commented on #226
Thank you for the clarification!

[2018-03-08 01:42] qianyizh commented on #66
May worth adding

[code]

To our document though.

[2018-03-09 05:14] qianyizh commented on #66
This is the command I eventually used to make anaconda with customized env work:

[code]

[2018-03-10 04:43] chouspy opened #228 "cmake error on windows"
CMake Error at External/pybind11/CMakeLists.txt:72 (add_subdirectory):
  add_subdirectory given source "tests" which is not an existing directory.

[2018-03-10 04:58] chouspy commented on #228
with cmake3.11.0+python3.6.3+visual studio 2017 when tick the option PYBIND11_TEST

[2018-03-10 05:26] syncle commented on #228
This is because we omit `tests` folder from pybind, but `CMakeList.txt` is untouched. If `PYBIND11_TEST` flag is `OFF`, it should not include tests folder.

Depends on cmake version, I sometime found cmake still trying to check all sub folders although `add_subdirectory` is not reachable. If it is the case, Can you delete following lines and see that resolves the issue?

https://github.com/IntelVC

[2018-03-10 12:30] chouspy commented on #228
thanks, your aid really helped me

[2018-03-10 12:30] #228 closed

[2018-03-12 05:45] qianyizh opened #230 "Color map optimization"
We need an implementation of my SIGGRAPH 2014 paper:
Color Map Optimization for 3D Reconstruction with Consumer Depth Cameras
It is actually very handy in producing high quality textures for 3D models, and it is not very complicated.

[2018-03-12 05:47] qianyizh opened #231 "Support for RGB-D cameras"
The support for RGB-D data has three aspects:
1. Offline read RGB-D data and process them
2. Stream RGB-D data from a camera and record it to disk
3. Stream RGB-D data from a camera and process it on-the-fly

Currently Open3D partially support (1) by allowing reading RGB-D image pairs. It support formats from a few different datasets. However, some other formats like the legacy ONI format (http://

[2018-03-13 05:34] syncle commented on #221
I had revisited again. I had tested with cmake 3.10.2 with MacOSX 10.12.6. However, there is still no linking error to me. Does cmake said ``Use native build of libpng`` or ``Build libpng from source``?
I think possible reasons are:

- cmake found naive build of libpng at system level, but cannot link it (I think this is less likely)
- There is a custom libpng and custom environment variable was s

[2018-03-13 05:42] #226 closed

[2018-03-14 17:01] qianyizh opened #233 "Add tutorial for IO"
I just looked through the tutorial. There is none for functions such as ``write_point_cloud``.

We should have a dedicated document for IO since this is one of the most frequently used function.

[2018-03-14 18:00] syncle commented on #233
I see. Actually ``write_point_cloud`` appears in [working with Numpy](http://open3d.org/docs/tutorial/Basic/working_with_numpy.html?highlight=write_point_cloud), but it might be too far from getting started page. Which functions might be appropriate for tutorial?

Some candidates are:
- ``read_point_cloud``
- ``write_point_cloud``
- ``read_triangle_mesh``
- ``write_triangle_mesh``

These I/O funct

[2018-03-16 05:11] dotchang opened #234 "How to contribute c++ tutorials to the repository?"
Hi, developers.

I translated some python adovanced-tutorials into c++. Please, refer to
http://cvl-robot.hateblo.jp/entry/2018/03/02/181941

I would like to contribute it to the repository, but I have 2 questions.
1. Which directory is correct?
2. Which filename is correct?
Temporarily, I put it into the Test directory, and named TestColoredPointRegistration.cpp to be decided according to colored

[2018-03-16 16:22] qianyizh commented on #234
This is great!

I think we can have a folder named ``Tutorial`` under ``src``, with a similar subfolder structure as ``src/Python/Tutorial``. You can remove ``Test`` words from the filename as well. E.g., ``ColoredPointRegistration.cpp`` would be fine.

Wrt document, can you contribute a document describing how to use CMake to compile a separate cpp file and link to Open3D? Maybe put it under ``do

[2018-03-18 21:50] zjudmd1015 opened #235 "Photo-metric weight in Colored ICP"
Hi Authors,

Now it seems that Photo-metric weight is a fixed one (with geometric weighting 0.968) in `registration_colored_icp()`, would you be possible to open an interface in this function to tuning the weight?

I wonder where is this weighting ratio coming from and why is it this number?

Thanks!

[2018-03-18 22:31] syncle commented on #235
Hi @zjudmd1015

Yes we will. We decide to put it as a hard-code due to our empirical experiment. Please check out the next answer.

You can check Appendix B in [supplementary material of our ICCV 2017 paper](http://redwood-data.org/indoor_lidar_rgbd/supp.pdf)

[2018-03-19 03:37] dotchang commented on #234
I will add a new directory /src/Tutorial/Advanced and some files, such as ColoredPointRegistration.cpp, etc.

Maybe, it's difficult for me, but anyway I will try it.

[2018-03-19 14:04] zjudmd1015 commented on #235
Thanks @syncle  !

[2018-03-19 21:19] syncle opened #237 "Milestones for v0.2"

[2018-03-19 21:19] #237 closed

[2018-03-20 15:55] #235 closed

[2018-03-22 07:30] dotchang commented on #234
I wrote a CMakeLists.txt for independent cpp file on my environment, and it works.
https://github.com/dotchang/Open3D/tree/master/src/Tutorial/Advanced
But, to write CMakeLists.txt for every environment is so difficult work for me due to lack of knowledge.
Could you help me?
At first, I want to brush-up it for linux environment.

1. How can I find a path for Open３D?
Currently, I used "set" command

[2018-03-22 20:58] syncle commented on #234
Currently, I used "set" command and gave an absolute path directly.
like this, set(Open3D_DIR "/home/cvl/workspace/Open3D")

This issue is related to #130. We are working on this issue. The output for #130 would be findopen3d.cmake. This will allow ``find_package(Open3D)`` and make things much easier.

Please check out this:
https://github.com/IntelVCL/Open3D/blob/c9aab50f15e74aaaa9c30e190a143340d

[2018-03-23 10:52] amrit110 commented on #138
hi, it seems not possible to add multiple geometries to the VisualizerWithEditing class where the geometries can be PointCloud or say TriangleMesh. Is there a way to add this or am I thinking wrong?
`def draw_geometries_pick_points(geometries):
    vis = VisualizerWithEditing()
    vis.create_window()
    for geometry in geometries:
        vis.add_geometry(geometry)
        vis.run()
    vis.dest

[2018-03-23 14:08] dotchang commented on #234
Thank you for your kind reply!
I misunderstood meaning of "to compile a separate cpp file".
I update the CMakeLists.txt to [the style of cmakelist](https://github.com/dotchang/Open3D/blob/master/src/Tools/CMakeLists.txt).

[2018-03-23 14:57] syncle commented on #234
Awesome! Thanks @dotchang.

[2018-03-23 16:01] syncle commented on #138
Hi @amrit110. Can you open a new issue for this? We would like to handle the issue in public domain. Thanks!

[2018-03-23 16:12] takanokage commented on #17
Another approach is to use Docker to create a headless environment for Open3D.
I already have a docker image based on ubuntu 16.04 with xvfb and x11vnc that works. I've also tested one light window manager (ratpoison) but I'm not too happy with it and want to test others. Next I need to test building/running Open3D inside it.

If we need access to the host GPU (NVIDIA) there are already good solut

[2018-03-23 16:14] takanokage commented on #217
Just a note this used to be milestone 0.2 but it's not showing up anymore in the list.

[2018-03-23 16:19] qianyizh commented on #166
A rough plan in resolving this issue:

- [ ] Setup test framework for Python code
    - [ ] Choose one of the testing packages (unittest? pytest?)
    - [ ] Write a couple of unit tests in ``src/Python/Unittest``. The folder should have the same folder structure as ``src/Python`` and files with ``filename_test.py``, e.g., ``src/Python/Unittest/Core/py3d_camera_test.py`` is the test file for ``src/

[2018-03-23 16:20] qianyizh commented on #217
Yeah I just had a discussion with @syncle and we think v0.2 might be too early to do this. Thanks for the note!

[2018-03-23 16:23] takanokage opened #238 "remove 3rdparty folder"
I propose we remove the src/External folder.
I want to avoid any future confusion if other projects will have to use some of the same external dependencies. It is good practice to reuse those dependencies across many projects rather than duplicating the code for each project.

Some of these dependencies belong to existing git repositories so it should be easy to pull the necessary version when bui

[2018-03-23 16:32] takanokage commented on #130
Qianyi, you mentioned you might have a few ideas on how to best approach this.
Just a note for you to send me the resources when you have time.

[2018-03-23 16:39] qianyizh commented on #238
The main purpose of ``src/External`` is to make Open3D Windows-friendly. I still want to keep it so that Windows users can just pull the repo and compile Open3D out of the box.

I think your proposal is to use ``git submodule`` to replace the hard copies of the external libraries. This is a good suggestion. I thought about this. There are pros and cons.

Pros as mentioned in OP: it is cleaner, eas

[2018-03-23 16:50] qianyizh commented on #130
There are two parts:
 * Setup make install
 * Setup C++ interface
This is also related to #234

To set up make install, we only need to edit the cmake files. Just see what glfw has done:
https://github.com/glfw/glfw/blob/0d4534733b7a748a21a1b1177bb37a9b224e3582/CMakeLists.txt
https://github.com/glfw/glfw/blob/0d4534733b7a748a21a1b1177bb37a9b224e3582/src/CMakeLists.txt
We probably need an uninstall

[2018-03-23 17:00] qianyizh commented on #17
The purpose is to make Open3D rendering part running on cloud (AWS/GCloud). @syncle can you help test the solution on GCloud?

[2018-03-23 18:15] amrit110 opened #239 "Add multiple geometries to VisualizerWithEditing class"
It would be nice to be able to add multiple geometries to the ```VisualizerWithEditing``` class where the geometries can be ```PointCloud``` or say ```TriangleMesh```. Currently this doesn't seem to be the case. Any ideas on how to do it?

An example use case can be like this:

[code]

Say we have a point cloud and some mesh objects that are used to enclose points like a bounding box, with the ```

[2018-03-23 18:15] amrit110 commented on #138
sure! https://github.com/IntelVCL/Open3D/issues/239

[2018-03-23 18:53] syncle commented on #17
Sure. I can use a fresh Ubuntu machine running on GCloud. @takanokage, can you elaborate your steps for me? That will be used for documents too.

[2018-03-23 19:14] syncle commented on #239
Thanks, @amrit110 for pointing out the issue with nice examples. Technically `VisualizerWithEditing` should run exactly as the same as `Visualizer`, but it looks something went wrong. I am working for this issue.

[2018-03-23 21:26] syncle commented on #239
The issue turns out to be non-trivial as `VisualizerWithEditing` is designed for point cloud.

Let's get back to the question. `add_geometry` ignores the second call of `add_geometry` due to the below lines:
https://github.com/IntelVCL/Open3D/blob/c9aab50f15e74aaaa9c30e190a143340d9a1a3ec/src/Visualization/Visualizer/VisualizerWithEditing.cpp#L46-L51
If you remove `|| geometry_ptrs_.empty() == fals

[2018-03-23 22:06] takanokage opened #241 "error importing py3d"
$ cd ~/Open3D/build/lib/Tutorial/Basic
$ python rgbd_redwood.py
Traceback (most recent call last):
  File "rgbd_redwood.py", line 9, in <module>
    from py3d import *
ImportError: No module named py3d

[2018-03-23 22:06] takanokage commented on #241
Q: is there a special step required after building Open3D?

[2018-03-23 22:12] takanokage commented on #17
I will post more once I have it working.
I'm at the point where I can build Open3D inside the docker container. However the verification step after the build fails, for this reason I added [issue 241](https://github.com/IntelVCL/Open3D/issues/241).

[2018-03-23 22:24] syncle commented on #241
From open3d doc 'getting started':

If there is an issue, check whether the Python version detected by cmake (see log from cmake) and the Python version for command line environment (type python -V) match. If it is not, please follow Python binding in docs. In addition, Pybind issue board on Github repository has helpful notes from Open3D users.

[2018-03-23 22:54] takanokage commented on #241
Thanks, I already found that. I was hoping that someone here has had this specific issue already and could save me some time.

[2018-03-23 22:57] qianyizh commented on #241
Yes. It is a very annoying issue.
If you search "No module named py3d" in issues, you can find #66

It is annoying. But it is not an issue of Open3D. It is even not an issue of pybind11. More likely to be a CMake issue.

[2018-03-23 22:59] #241 closed

[2018-03-23 23:27] takanokage opened #242 "Py3D name conflict"
There seems to be a [Py3D](https://pypi.python.org/pypi/py3d/1.0.0) already in the PyPi.

Do we want to find another name for our library?

[2018-03-23 23:27] takanokage commented on #242
Eventually this is going to be a problem if we want this library listed in PyPi as well.

[2018-03-23 23:29] amrit110 commented on #239
Ah I see. Thanks! I can now pick points that belong to the point cloud while visualizing all the geometries. Point picking for meshes seems like a useful feature, since one might want to select intermediate points on the meshes. Can this be generalized to creating an arbitrary point to be picked? So say that I wish to actually get the location of a point that might be close to an existing point, I

[2018-03-23 23:38] syncle commented on #242
Good catch. Py3D is not official python library name BTW. We just used it for convenience so far. I think we can simply use `open3d`.

Related to #217.

[2018-03-24 00:03] syncle commented on #239
That's a great idea. Actually, I was thinking about re-using the current implementation for picking vertices in a mesh. That will just find the most adjacent points likewise it worked for point clouds. However, I agree with your idea. The most reasonable way for mesh is to find the three vertices that wraps the user provided point, and apply [barycentric interpolation](https://classes.soe.ucsc.edu

[2018-03-24 00:55] qianyizh commented on #239
A workaround I used is to simply create a point cloud from the mesh, and render it jointly with the mesh. The picker works for the point cloud.

[2018-03-24 00:57] qianyizh commented on #242
We keep py3d as the name for now and worry about it when we want to release v1.

[2018-03-24 01:05] takanokage opened #243 "Tkinter not included in install-deps-python.sh"
Just a note, on some Ubuntu configurations 'Tkinter' is missing and needs to be installed in order to run the Tutorial/Basic/rgbd_redwood.py sample.

Packages:
- ` python-tk` for Python 2.x
- `python3-tk` for Python 3.x.

[2018-03-24 20:31] takanokage commented on #17
I'm getting the same `X11: RandR gamma ramp support seems broken` error.
Next: I'll check the `VirtualGL` suggestion by [Qianyi](https://github.com/IntelVCL/Open3D/issues/17#issuecomment-339391580).

$ cd ~/Open3D/build/lib/Tutorial/Basic
$ python3 rgbd_redwood.py
press q

[code]

[2018-03-25 00:04] syncle commented on #17
From @qianyizh's post

[code]

It might be good to try Open3D + GLFW3.3_dev solution via
[code]

[2018-03-26 01:50] amiltonwong commented on #231
Hi, @qianyizh,

I'm also in similar situation as yours. Thanks for listing your comments on such list of rgb-d camera. BTW, most of them seems to be discontinued except the Intel RealSense product. So I think RealSense camera would be main-stream rgb-d camera in future. I notice that you mentioned driver in DS4 is currently unsatisfactory, I cannot give a comment as I don't have one. Have you trie

[2018-03-26 07:16] amrit110 commented on #239
@syncle thanks. ill start looking into it since I would really like to be able to have user defined points, though might take a while to understand how to do it.

[2018-03-26 07:23] dotchang opened #244 "Coordinates of CaptureDepthPointCloud"
I want to discuss the coordinate system of result of the CaptureDepthPointCloud.
The source code is in the void Visualizer::CaptureDepthPointCloud() of Open3D/src/Visualization/Visualizer/VisualizerRender.cpp.

Similar functions such as CaptureScreenImage and CaptureDepthImage are gives the result based on the sensor(OpenGL Camara) coordinate system.
But, the CaptureDepthPointCloud() function give

[2018-03-26 13:33] Firefly35 opened #245 "Framework interoperability"
Hello,
as we are using several frameworks, we expect to have some binding methods upon data structures. For instance, We'd expect the PointCloud class to have a wrapping constructor (such as the one provided in openCV for the cv:Mat) for performance reasons : no need to reallocate the datastructure.
The wrapping constructor could accept a data array with offset, data ordering information for insta

[2018-03-26 16:31] takanokage commented on #17
Jaesik, I just tired your branch with [glfw 3.3](https://github.com/syncle/Open3D/tree/headless_rendering) inside my docker container.
Somehow I'm still getting the same `X11: RandR gamma ramp support seems broken` error.
Do I need to do anything special besides getting your branch?

[2018-03-26 16:35] takanokage commented on #241
In my case I forgot to run the python dependencies script. After I did that I had to run the samples with python3.

[2018-03-26 16:38] syncle commented on #17
Yes. Try it with
[code]

[2018-03-26 16:42] takanokage commented on #17
Thanks!
So that did something:
GLFW Error: OSMesa: Library not found
Failed to create window
[DrawGeometries] Failed creating OpenGL window.

Did you install a special package for this?

[2018-03-26 16:42] qianyizh commented on #231
Realsense DS5 indeed looks very nice. @syncle can you take a look at the DS5 sensors?

[2018-03-26 16:48] syncle commented on #17
I think this should work
[code]

[2018-03-26 16:53] qianyizh commented on #244
Good point. I think we can just change the function to:
[code]
The default behavior should be capturing the point cloud in the camera coordinate system, so that it is consistent with ``CaptureDepthImage``. When ``convert_to_world_coordinate`` is set to true, it is the current behavior (using MVPMatrix to convert the point cloud to the world coordinate system).

@dotchang do you mind to submit a PR

[2018-03-26 16:55] takanokage commented on #17
This is the output of `glxinfo`: `OpenGL version string: 3.0 Mesa 17.2.8`

`libgl1-mesa-dev` was already installed.
I installed `libosmesa6-dev` and the previous glfw error dissapeared.

Now I'm getting a segmentation fault when running Tutorial/Basic/rgbd-redwood.py. I'll troubleshoot and let you know what I found.

[2018-03-26 17:20] qianyizh commented on #245
Is this request for the C++ interface or for the Python interface?

For the Python interface, I think it is already using the binding mechanism if you are using ``numpy.array``. See this for example:
http://www.open3d.org/docs/tutorial/Basic/working_with_numpy.html
Under the hood it implements the [pybind11 buffer protocol](http://pybind11.readthedocs.io/en/stable/advanced/pycpp/numpy.html), which

[2018-03-26 19:10] syncle commented on #231
Sure. I will try DS5 and share thoughts on this new camera.

[2018-03-27 04:57] #233 closed

[2018-03-27 15:35] qianyizh commented on #244
Resolved in #247

[2018-03-27 15:35] #244 closed

[2018-03-27 16:26] syncle commented on #234
Closed via #247.

[2018-03-27 16:26] #234 closed

[2018-03-27 18:05] takanokage commented on #17
After going trough lots of resources it would seem the segmentation fault is likely an issue introduced by the use of docker.
Among the things I have tried:
- use an NVIDIA driver+CUDA based image
- use nvidia-docker to run the containers

Others have seen the same error however there's no consensus on how to address it.

[2018-03-27 19:16] takanokage opened #248 "debug build"
What is the guideline for debugging the C/C++ code?
Do we have a debug build option?

[2018-03-27 19:53] qianyizh commented on #248
I am using ``src/Test`` as my playground for C++ code testing, debugging, and benchmarking.
The build flag is ``Open3D_BUILD_TESTS ``.

Later on I switched to exposing interfaces in Python and using Jupyter notebook for debugging and benchmarking.

[2018-03-27 19:58] takanokage opened #249 "python debug"
add brief documentation about how to debug python scripts.

[2018-03-27 19:59] takanokage opened #250 "c++ debug"
add documentation about how to debug the c++ engine.

[2018-03-27 19:59] syncle commented on #248
My recommendation is to specify ``CMAKE_BUILD_TYPE=Debug`` flag.

https://github.com/IntelVCL/Open3D/blob/39e432b5cd2179725cc5403b5d53255f3eb41b71/src/CMakeLists.txt#L24-L29

For example,
[code]

[2018-03-27 20:03] syncle commented on #249
I think python already provides a natural way to traceback the error. Some neat tools iPython, PyCharm is good fit for this.

[2018-03-27 20:04] syncle commented on #250
I think this will related to #166

[2018-03-27 20:36] takanokage opened #251 "docker documentation"
Add documentation for the dockerized Open3D.

[2018-03-27 20:57] takanokage commented on #17
The `Segmentation fault` went away. I successfully ran `Tutorial/Basic/rgbd_redwood.py` and
`Tutorial/Advanced/customize_visualization.py`.

I cloned and tested using the [master](https://github.com/IntelVCL/Open3D/tree/master) branch rather than the [headless_rendering](https://github.com/syncle/Open3D/tree/headless_rendering) branch with `glfw3.3`.

I'm still getting the `X11: RandR gamma ramp s

[2018-03-27 21:35] qianyizh commented on #17
You are not linking to the dev branch of glfw (3.3).
In dev branch this message has been removed ``X11: RandR gamma ramp support seems broken``. If you are using the correct version, you should not be able to see it.
Read the code of glfw, you will see.

[2018-03-27 22:11] takanokage commented on #17
In other words this is more like a warning instead of an error and will go away once we move to glfw 3.3?

[2018-03-27 22:25] qianyizh commented on #17
https://github.com/glfw/glfw/blame/6e69f63ffa4059d0f16344e6b038285c1ca78c16/src/x11_init.c
https://github.com/glfw/glfw/commit/b0258803c6d6e8b03f194a73457a1e0645196f1a#diff-9c6aefaea564bfbb5f29c9b9026e1b34
https://github.com/glfw/glfw/commit/5fe4dfb511e12b954f9fba11d989df48f5f203fd

[2018-03-27 23:48] takanokage commented on #250
True.
In addition I'm thinking about:
- less obvious cases like for example what do you do when Open3D crashes inside docker. I imagine there are other situations as well.
- how to enable the debug build. The question may be silly but maybe it would save someone some time.

[2018-03-27 23:50] takanokage commented on #249
Exactly, I didn't know about these tools.
I'm suggesting simply adding links to python debugging tools & guidelines.

[2018-03-28 00:08] takanokage commented on #17
1. If I clone/build/run the [headless_rendering](https://github.com/syncle/Open3D/tree/headless_rendering) branch I get the segmentation fault.
`$ cd ~/Open3D/build/lib/Tutorial/Advanced`
`$ python3 customized_visualization.py`

2. If I clone/build/run the [master](https://github.com/IntelVCL/Open3D/tree/master) branch I get the `RandR` and `joystick` errors but the tutorials run fine.
`$ cd ~/Ope

[2018-03-28 06:10] syncle commented on #17
If the issue is due to docker, how about not using docker? You can make virtual machine instead. As @qianyizh have tested on Ubuntu systems, we just want to finalize this issue with GLFW3.3, instead of blocked by new issues regarding the docker.

[2018-03-28 06:30] takanokage commented on #17
Actually that was a speculation on my part.
A later experiment showed a correlation between glfw 3.3 and the presence of the segmentation fault. The master branch works fine with docker.

[2018-03-28 06:33] takanokage commented on #17
I have headless rendering working inside docker with the master branch of Open3D.
Next I'll be working on the documentation before submitting a pull request.

[2018-03-28 13:55] tamireiny opened #252 "py3d.read_point_cloud could not read ply file"
Hello,

I was trying to read a point cloud that was originally saved by matlab pcwrite function,
https://www.dropbox.com/s/87fl6qrel7nh2ym/pc_scene1_shared.ply?dl=0
When using py3d.read_point_cloud I get : Read PLY failed: unable to open file

The file is not opened by any other program.
Any suggestion?

Thanks,
Tamir

[2018-03-28 14:04] #252 closed

[2018-03-28 15:44] takanokage opened #253 "run in docker terminal"
This would be the ultimate headless test: run Open3D from a terminal attached to the running container. Open3D should find the virtual display and use it.

[2018-03-28 15:46] takanokage opened #254 "bind mounts"
Reserve a space (folder) on the host for Open3D inputs/outputs and mount it to the Open3D container.
This makes working with dockerized Open3D friendlier.

[2018-03-28 15:49] takanokage opened #255 "Remote debug dockerized Open3D"
Investigate how tools like Visual Studio Code could be used to edit/run/debug/ Open3D remotely.
First bind mount a host folder for the Open3D code - this solves the editing problem.
Secondly and more importantly: how can VSCode be used to debug Open3D running inside Docker?

[2018-03-28 15:51] takanokage commented on #253
Currently running `Tutorial/Basic/rgbd_redwood.py` from the Docker terminal leads to a segmentation fault. The error message suggests that if GLFW would be able to find the virtual display maybe this could work.

[code]

[2018-03-28 16:04] takanokage opened #256 "Reduce docker image size"
My current implementation is about 3.8GB:
- lxde based
- apt upgrade
- installed debug tools

The above options do take a lot of space.
A previous implementation used less than 1.5GB with some more or less obvious caveats.
- ratpoison based
- no apt upgrade
- no debug tools
- no editing tools

Caveats of the second approach:
- simpler window management
- any installs in the container are not persi

[2018-03-28 18:12] takanokage opened #257 "Configure lxde"
The `lxde` based docker image of Open3D has certain configuration issues that can be annoying:
- 2 dialogs displayed at startup
- terminals not starting up, with the exception of `xterm`
- etc. (list more as they are found)

The goal is to make the lxde interface work smoothly.

[2018-03-28 18:15] takanokage opened #258 "location for Docker files"
I'd like to discuss options for placing the Docker files.
In my [branch](https://github.com/takanokage/Open3D/tree/issue_%230017) I am using `Open3D/docker` for storing Docker related setup files and utilities.
Another option would be to move the `docker` folder under `Open3D/src`.

Any opinions?

[2018-03-28 18:25] takanokage opened #259 "Google Cloud"
Test the dockerized Open3D in Google Cloud.

[2018-03-28 18:26] takanokage opened #260 "AWS"
Test the dockerized Open3D in AWS.

[2018-03-28 21:46] takanokage commented on #241
I see that  this error message can have multiple causes.
One of them can be fixed through `scripts/install_deps_python.sh`: install numpy, matplotlib & opencv-python for both python2 and python3.

Both on my local machine and inside a docker container cmake identifies python3 however the current `scripts/install_deps_python.sh` only installs the python2 dependencies.

[2018-03-29 04:17] takanokage commented on #253
In order to run headless an Open3D python script in docker terminal:

1. Run the Open3D container then attach to it.
2. $ `Xvfb :99 -screen 0 1920x1080x24`
3. $ `DISPLAY=:99.0`
4. $ `export DISPLAY`
5. $ `./test.py &`

I tested it with the [docker image I built](https://github.com/takanokage/Open3D/tree/issue_%230017) for Open3D.
This works great with the master branch and it doesn't need glfw 3.3

[2018-03-29 06:39] syncle commented on #253
This is good news. Thanks @takanokage. What ``test.py`` does? Can it render and save frame buffers like ``Advanced/customized_visualization.py`` from terminal?

[2018-03-29 15:03] takanokage commented on #253
[test.py](https://github.com/takanokage/Open3D/blob/issue_%230017/docker/ubuntu-xvfb/setup/test.py) is just the first part of `Advanced/customized_visualization.py`:
`1. Customized visualization to mimic DrawGeometry`

[2018-03-29 15:30] syncle commented on #253
Alright. Can you check ``Advanced/customized_visualization.py`` with docker solution you are working with? One of the major goal for headless rendering is to save images (color, depth, normal) remotely.

[2018-03-29 15:53] syncle commented on #260
Related to #17.

[2018-03-29 15:53] syncle commented on #259
Related to #17.

[2018-03-29 16:04] #260 closed

[2018-03-29 16:04] #259 closed

[2018-03-29 16:05] qianyizh commented on #258
``Open3D/utilities/docker/...``

We should also consider moving ``Open3D/scripts/`` into ``Open3D/utilities/scripts/``, but this will be a separate issue.

[2018-03-29 16:05] #258 closed

[2018-03-29 16:08] syncle commented on #258
I bet ``Open3D/util/docker/...`` because it is concise like ``src`` in root folder.

[2018-03-29 16:09] qianyizh commented on #258
``Open3D/util/`` then.

[2018-03-29 16:09] qianyizh commented on #251
Part of #17

[2018-03-29 16:09] #251 closed

[2018-03-29 16:10] #254 closed

[2018-03-29 16:10] qianyizh commented on #257
Part of #17

[2018-03-29 16:10] #257 closed

[2018-03-29 16:11] qianyizh commented on #255
Part of #17

Also I suggest not to test Windows/OSX environment docker for now.

[2018-03-29 16:11] #255 closed

[2018-03-29 16:12] qianyizh commented on #249
I think this is out of the scope of Open3D.

[2018-03-29 16:12] #249 closed

[2018-03-29 16:13] qianyizh commented on #250
This is a duplicate of #248

[2018-03-29 16:13] #250 closed

[2018-03-29 16:21] takanokage commented on #254
This should not be closed yet. #17 needs it even though it's not obvious at first.
#17 needs it because docker container storage is not persistent. For example, if I run a script to generate some images there's not way to access those images on the host unless we design the Open3D docker image with bind mounts in mind.
I propose we make the whole Open3D folder available both inside the docker cont

[2018-03-29 16:24] qianyizh commented on #254
I think it is part of #17 so I treat it as a duplicate.
Can you elaborate what you said here in #17 ?

[2018-03-29 16:28] takanokage commented on #254
sure

[2018-03-29 16:30] takanokage commented on #17
**Bind mounts** (#254)
I propose we make the whole Open3D folder available both inside the docker container and on the host side. In this way we not only gain direct access to the images generated but we also enable developing Open3D on the host side and testing on both host side and docker side of things.

[2018-03-29 16:34] takanokage commented on #253
Yep, just tested and it works to save the images.

[2018-03-29 16:35] takanokage commented on #17
Because we moved #254 under #17 I need to postpone the pull request until after I implement/test it.

[2018-03-29 17:25] takanokage commented on #253
Closing this as I have a solution which will be included in the pull request for #17.

[2018-03-29 17:25] #253 closed

[2018-03-29 17:30] takanokage commented on #251
I would like to keep this open. True, this is related to #17 however this will be an independent pull request. Or we let this closed and postpone the pull request for #17 until after I implement this as well.

Personally I prefer lots of smaller pull requests. I know this puts a lot of on the people reviewing (+ time spent with the build tasks). However packing lots of small things in a single big

[2018-03-29 17:33] takanokage commented on #256
An idea is to look into providing the option to perform headless from the terminal only with no support for vnc/window management/interactive GUI. This has the potential of keeping the image super light-weight.

[2018-03-29 17:47] syncle commented on #252
Hi @tamireiny
I found this issue now. Does the problem resolved?

[2018-03-29 19:51] takanokage commented on #17
I got headless working together with bind mounting.
Bind mounting was a ton of work and should've been an independent pull request.

[2018-03-29 21:17] takanokage commented on #17
Usage notes:
1. clone my [branch](https://github.com/takanokage/Open3D/tree/issue_%230017)
2. $ `cd <Open3D path>/utilities/docker/ubuntu-xvfb/tools`
3. $ `./build.sh` to build the image
4. $ `./attach.sh` to clone/build the master Open3D repo and start the Open3D container
5. $ `./headless_sample.sh` to run the sample that renders some images and saves them to disk.
The sample will render some im

[2018-03-29 22:13] takanokage commented on #256
oops, the Dockerfile proxy settings are only valid on my particular computer.
I need to remove them before the integration.

[2018-03-30 04:26] yzp12 opened #263 "question about fragment"
Hi!
Thank you for sharing these code! They are apparently pretty useful for doing 3D related task. I am reading the make_fragment, and register_fragment codes. I wonder why we need to design "fragment" which to my understanding is a intermediate summary(like fuse 10 nearby depth scans) of the total geometry. Is there a particular benefit for doing such two step registration: depth scan -->(registr

[2018-03-30 06:29] syncle commented on #263
Hi @yzp12

In short, it is for better reconstruction quality.

Let me borrow some sentences from [Robust Reconstruction of Indoor Scenes](https://www.cv-foundation.org/openaccess/content_cvpr_2015/papers/Choi_Robust_Reconstruction_of_2015_CVPR_paper.pdf), which describes key idea of Open3D's reconstruction system.

[2018-03-30 11:46] tamireiny commented on #252
Hi Jaesik,
Yes, the problem was on my side.
Thanks for your attention!
Tamir

[2018-03-30 14:45] yzp12 opened #264 "cannot build on server"
Hi!

When I try to build it on a remote server, i got following error:
CMakeFiles/Makefile2:1846: recipe for target 'Experimental/ViewDistances/CMakeFiles/ViewDistances.dir/all' failed
make[1]: *** [Experimental/ViewDistances/CMakeFiles/ViewDistances.dir/all] Error 2
/usr/bin/ld: /lusr/opt/glfw-3.2.1/lib/libglfw3.a(x11_window.c.o): undefined reference to symbol 'XConvertSelection'
//usr/lib/x86_64

[2018-03-30 16:46] takanokage opened #265 "sort docs"
Sort documentation entries.
For example in the [Tutorial/Basic](http://open3d.org/docs/tutorial/Basic/index.html) and [Tutorial/Advanced](http://open3d.org/docs/tutorial/Advanced/index.html).
Right now the entries might be ordered in ascending complexity/difficulty however that is not obvious for a newcomer. I propose we sort ascending alphabetically and add links inside each document for dependen

[2018-03-30 16:48] syncle commented on #264
As a quick remedy, I recommend building GLFW from source.

**Option 1:**
Please checkout [this document](http://open3d.org/docs/compilation.html#dependencies), and try the following
[code]

**Option 2:**
If this suggestion does not work and you just want to disable visualization module, you will need to remove
https://github.com/IntelVCL/Open3D/blob/39e432b5cd2179725cc5403b5d53255f3eb41b71/src/CMa

[2018-03-30 16:49] takanokage opened #266 "docs: python binding"
Python binding appears in two locations:
1. [Tutorial/Basic/Python binding](http://open3d.org/docs/tutorial/Basic/python_binding.html)
2. [Compilation Options/Python binding](http://open3d.org/docs/compilation.html#python-binding)

I propose we merge the two entries under [Compilation Options](http://open3d.org/docs/compilation.html).
Python binding is not exactly a tutorial but more of a dependen

[2018-03-30 17:03] syncle commented on #265
I actually prefer current ordering. The basic principle of the ordering is: easy to hard, or step by step. Newcomers can simply keep reading tutorial documents using **next** button in the bottom of each document to follow this order. New functions are unveiled in this order.

If we order alphabetically, it will break this idea. It will mix steps in advanced applications, such as [Reconstruction s

[2018-03-30 17:04] takanokage opened #267 "move scripts under util"
Move the `Open3D/scripts` under `Open3D/scripts/util`.
`Open3D/scripts/util` will also house the docker utilities.

[2018-03-30 17:08] syncle commented on #266
We decide to make them separate as Compilation Options page should address concise document for compilation options.

[2018-03-30 17:09] syncle commented on #267
Yes. Can you make a PR for this?

[2018-03-30 17:12] syncle commented on #267
Another note. Check whether `.appveyor.yml` and `.travis.yml` use these scripts. If necessary, fix the path accordingly.

[2018-03-30 17:38] takanokage commented on #266
That's a good point.
What do we do with the fact that python binding is not an Open3D specific concept?

Maybe a name change from `Tutorial/Basic/Python binding` to one of the following:
1. `Tutorial/Basic/Python module`
2. `Tutorial/Basic/Py3D`
3. `Tutorial/Basic/Open3D python module`
4. `Tutorial/Basic/Open3D python interface`
5. `Tutorial/Basic/Open3D python`

[2018-03-30 17:40] takanokage commented on #265
Yeah, let's leave it at that.
At the first glance it's not obvious that the concepts are increasingly more complex but I don't have a better idea on how to do it.

[2018-03-30 17:40] #265 closed

[2018-03-30 18:33] takanokage opened #268 ".gitignore"
An example of why we need a more generic .gitignore.

I was trying to commit my first draft of the documentation changes for #17.

[code]

Notice the following files. They are auto-generated by MacOS.
[code]

Normally I would just say:
`$ git add tutorial/`

but that would add unwanted files to the commit list.

[2018-03-30 18:33] takanokage commented on #267
will do, thanks!

[2018-03-30 18:54] syncle commented on #264
Umm. how about revisit Option 1? It does not require `sudo`, as GLFW dependencies are already included in Open3d.

[2018-03-30 18:56] syncle commented on #268
I am still prefer current one. You can add `.DS_Store` and `._.DS_Store`

[2018-03-30 19:18] yzp12 commented on #264
Great, I tried the option 1 and it works! Now i can import py3d without problem. Thank you a lot for your help!

[2018-03-30 20:21] takanokage commented on #268
Yeah, I could add those however it's not very good practice to add specific entries to gitignore.
Not a breaking issue currently so I guess I can live with it as is.

[2018-03-30 23:25] #268 closed

[2018-03-30 23:25] takanokage commented on #248
thank you guys!

[2018-03-30 23:25] #248 closed

[2018-03-31 01:05] takanokage opened #269 "CI for documentation"
There are certain changes to the repository that may not be currently captured by the CI.
Do we want the CI checks to be executed in such cases?

For example when editing the documentation and commits are registered into an existing pull request. Each commit will trigger a new CI check however it may not be necessary.

[2018-03-31 08:15] syncle commented on #266
How about ``Tutorial/Basic/python_interface`` then?

[2018-03-31 16:04] syncle commented on #243
It is not clear whether this issue is applied for general cases. Could you elaborate more on **some Ubuntu configurations**? I think this issue arose from custom dockerlized images, not by standard ubuntu systems.

[2018-03-31 16:09] syncle commented on #269
Good point. We may consider adding a test for documentation. I think we can add

[code]

on this lines
https://github.com/IntelVCL/Open3D/blob/39e432b5cd2179725cc5403b5d53255f3eb41b71/.travis.yml#L59-L76

[2018-03-31 16:54] syncle commented on #248
@takanokage, can you tell me which comment helped you to resolve the issue?

[2018-04-02 01:10] takanokage commented on #266
Yep, that sounds good.

[2018-04-02 01:13] takanokage commented on #243
I tested on two clean machines with Ubuntu 16.04: one physical system and on the Docker container for Open3D. I didn't want to generalize to all Linux distributions.

[2018-04-02 03:11] takanokage commented on #248
I ended up not needing the debug build. I was trying to figure out why Open3D was crashing in Docker. Turns out that GLFW 3.3 was crashing in Docker however the mainline/master version of GLFW was working just fine.

[2018-04-02 03:24] jingxa commented on #130
Hello,i work on windows and vs2017, but i find that thers  are just  pyhon interfaces,i want to compile c++ headers and lib files ,but i dont know how to write CMakeList.txt , .

we all beleive u are doing such works ,just want to know if works have done.

thanks!

[2018-04-02 06:28] rarilurelo opened #270 "reconstruct surface with triangle mesh in python"
I'd like to reconstruct surfaces of point cloud `.pcd` file and convert it to mesh `.ply` file.

[code]

Is there any function like `triangle_mesh_surface()` in Open3D?

[2018-04-02 07:10] syncle commented on #270
Nope. We don't have meshing algorithm from raw point cloud yet. I think good candidate is [poisson surface reconstruction](https://github.com/mkazhdan/PoissonRecon), or you can suggest any. We can consider as a next milestone.

As a side note, We do have an implementation for mesh from TSDF volume. [Check out this link.](http://open3d.org/docs/tutorial/Advanced/rgbd_integration.html)

[2018-04-03 17:03] takanokage opened #271 "documentation C++ Test"
Do we have documentation for the C++ Test?
I could use some examples on how to run the C++ test samples.

[2018-04-03 20:33] takanokage opened #272 "branch development - process improvement"
I'd like to discuss changes to our process.

My main proposal is to open branches for the issues/milestones we want to work on.

Advantages:
- anyone can see the active branches
- progress more clearly visible while working on a branch than when working on a fork
- anyone can try a branch before the work is completed
- more then one contributor can commit to a branch
- faster development

The bran

[2018-04-05 00:55] syncle commented on #271
No we don't. We would need to make documents for C++ test. However, it should be self-explanationaly. This issue is related to #130.
What we have for now is
- C++ test: https://github.com/IntelVCL/Open3D/tree/master/src/Test
- C++ api reference: http://open3d.org/cppapi/

[2018-04-05 01:01] syncle commented on #272
I was thinking about making branches only for source code release. For example, the main repo https://github.com/IntelVCL/Open3D only has branches of v0.1, v0.2, .. and master working branch. If we make branches for the development, we might receive too many commit notifications.

I think the progress is visible via [milestone page](https://github.com/IntelVCL/Open3D/milestones). This is just my o

[2018-04-05 02:37] takanokage commented on #272
I propose that branches are meant for development and can help us move faster. A branch should have a limited life which is the duration of the development on the specific set of features for which the branch was created. Once the work is done on a branch we initiate a pull request and with a merge we close the branch.
I agree we should mark each milestone - this is where tags will help.

[2018-04-05 03:44] takanokage commented on #271
Yes, I agree this is related to #130. The same goes for #166, also related to #130. I've looked into unit testing and it seems common practice to coordinate it through cmake.

What I propose is that at some point in time the documentation could show both python and c++ code samples.

[2018-04-05 15:09] #243 closed

[2018-04-05 15:09] #266 closed

[2018-04-05 16:04] JWHennessey opened #276 "Registration: Global Optimization Somtimes Flips Sign Of Transformation Matricies"
Great work on this library!

I am experimenting with your reconstruction pipeline with the C++ API and I have come across strange behavior where the output transformation matrix values have the wrong sign. I only noticed this when when performing a global optimization on a pose graph with reliable edges (e.g. the two pointclouds are tightly aligned). This example below has a single edge but I have

[2018-04-05 17:25] takanokage opened #277 "install py3d from build"
This is about installing py3d module when building from sources.
This is different from #217.

Currently the Open3D based python code has to start with something like this:

[code]
where the location to py3d is explicitly specified.

Instead we could simply use the following:

[code]
if the py3d module gets installed.

[2018-04-05 18:27] syncle commented on #276
Hi @JWHennessey
Can you share code snippet and data (json files and point cloud) so that I can regenerate the issue? Based on the provided information, it is hard to figure out. Thanks!

[2018-04-05 18:29] syncle commented on #256
This issue is related to #262.

[2018-04-05 20:17] takanokage commented on #277
True for the case you're describing.
However I'm talking about what we can do when building from sources. I believe I have a solution, will initiate a PR hopefully later today.

[2018-04-05 22:55] nosleduc commented on #276
Hi

Maybe the problem comes from the estimation of R,T  ?

https://igl.ethz.ch/projects/ARAP/svd_rot.pdf

[2018-04-05 23:06] JWHennessey commented on #276
Thanks I'll look at the paper and look into my estimation pipeline again. My reasoning to think the error is with is the Open3d optimisation  is because when viewing the single edge that is input into the scene graph,  the alignment is correct. The high level purpose of the optimisation -  as I understand it - is to remove false positive edges to create a consistent scene graph. The one edge I pro

[2018-04-06 07:09] syncle commented on #276
I think we are looking at a **local minima** of the pose graph energy function.

As a sanity check, I tried this code snippet.
[code]
`global_optimization` immediately stops as the script made ideal pose graph. This script does not flip sign of the transformation matrix.

However if I replace
[code]
with this
[code]
I see the same problem you had. **The only difference is the initial poses for the

[2018-04-06 07:28] syncle commented on #276
I think this is a better explanation than my previous answer.

**In general, there are two solutions in pose graph optimization**.

**Explanation)** Misalignment of two node is parameterized as zeta = [alpha beta gamma a b c]^T. The objective for pose graph optimization is to make ||zeta^T x InformationMatrix x zeta||_2 as small as possible. See [Eq 8 in this literature.](https://www.cv-foundation

[2018-04-06 07:39] JWHennessey commented on #276
Thanks for looking into it and the explanation makes sense. In this simple case I can provide an initial pose but other examples it may not be possible. I'll read more into the papers and see if there is a workaround.

As a side note I've really enjoyed working with Open3D as it's so lightweight and easy to extend. Thanks for open sourcing!

[2018-04-06 07:39] #276 closed

[2018-04-06 07:46] syncle commented on #276
My pleasure! Please share or contribute if you have any idea for this issue. 👍

[2018-04-06 07:50] syncle commented on #263
Hi @yzp12, do you have additional questions for this? Otherwise, I will close this issue.

[2018-04-06 07:50] syncle commented on #256
Closing this issue as #262 is closed for now.

[2018-04-06 07:50] #256 closed

[2018-04-06 07:54] syncle commented on #221
Dear @alecjacobson and Mac users, Does this issue persists? I will close this issue if there is no more activity. Thanks.

[2018-04-06 15:45] takanokage opened #278 "include guards"
I noticed we're using the non-standard `pragma once` in place of include guards.
I propose we replace `pragma once` with the following or similar in order to avoid unforeseen bugs later on:

[code]

While `pragma once` is supported on most compilers there are corner cases where its behavior is  undefined aka compiler dependent.

[2018-04-06 16:41] yzp12 commented on #263
Thank you. I will close this

[2018-04-06 16:41] #263 closed

[2018-04-06 18:46] syncle commented on #267
Closing this issue as #262 closed for now.

[2018-04-06 18:46] #267 closed

[2018-04-06 20:10] takanokage commented on #267
maybe it is premature to close this. we agreed we want to keep the docker work which under util. in order to keep the clutter to a minimum we should move the scripts under util too.

[2018-04-06 20:14] syncle commented on #267
Sure. I will make PR for this.

[2018-04-07 08:14] #17 closed

[2018-04-07 08:15] syncle commented on #17
Addressed in #273.

[2018-04-07 12:01] #269 closed

[2018-04-07 14:13] takanokage commented on #278
Any chance we could discuss removing the other exceptions to the Google coding style? I'd be willing to make the fix.

[2018-04-07 14:33] takanokage commented on #278
I wrote a script in order to update all the include guards.
Found a couple of headers with no guards at all.
I will initiate a PR momentarily. Please take a look.
 I won't include the script in the PR but you can find it in the history of commits.

[2018-04-08 02:55] takanokage commented on #277
I have tested my solution for this on Ubuntu and Mac and it works. I can import py3d from anywhere on the disk.
I'll hold onto the PR until I figure out how to do the same on Windows.

[2018-04-09 07:42] qianyizh commented on #272
Commits can be made on branches of your own fork. This change to the master repository should be only made via PR.

[2018-04-09 07:42] #272 closed

[2018-04-09 09:34] nosleduc opened #285 "Compilation issue with Visual Studio 2015"
Hi

Thanks for this great library.

When I'm trying to compile it with Visual Studio 2015, the file ColoredICP does not compile.
At the line 186, the compiler reports an error that says there is an ambiguous call to three:ComputeJTandJTr. It does not know which one to pick (Odometry, TransformationEstimation or ColoredIICP).

I've fixed it by replacing the line at 148

[code]

by

[code]

There is

[2018-04-09 16:15] qianyizh commented on #285
Have you applied the latest service pack of Visual Studio 2015?
VS2015 pre SP1 has an incomplete support of C++11.
This might be the reason.

[2018-04-09 19:31] #221 closed

[2018-04-10 06:00] syncle opened #287 "Improving reconstruction system"
Open3D's reconstruction system is implementation of the paper [Park et al., Colored Point Cloud Registration Revisited, ICCV 2017](http://redwood-data.org/indoor_lidar_rgbd/paper.pdf). For the results in the paper, we used OpenCV + PCL + g2o. As we re-implemented the algorithm from scratch, Open3D's reconstruction system produces other results. I got a request that Open3D's implementation needs so

[2018-04-10 06:26] nosleduc commented on #285
No I did not apply the last update

[2018-04-10 06:38] syncle commented on #285
I agree with @qianyizh.
Every commits and PRs are tested with Visual Studio 2015 using AppVeyor. [Check out the build status using Visual Studio 2015 and 2017.](https://ci.appveyor.com/project/syncle/open3d) They are all passed without syntax error.

[AppVeyor's visual studio 2015 image is **visual studio 2015 with service pack 3**](https://www.appveyor.com/docs/build-environment/#visual-studio-20

[2018-04-10 07:08] #278 closed

[2018-04-10 08:49] #285 closed

[2018-04-10 09:07] nosleduc opened #288 "Global registration behaviour"
Hi

I'm trying to use the global registration function based on the tutorial using feature matching.
My purpose is to use the global registration and then use an ICP to align my two scans
Each time I running it, I'm getting a different alignment.  Sometimes it works and sometimes it does not work. I need to apply it several times to get my alignment.

I know it comes from the ransac procedure to g

[2018-04-10 18:09] syncle commented on #288
Hi @nosleduc

I recommend increasing `CorrespondenceCheckerBasedOnEdgeLength(0.9)` to be 0.95 or even closer to 1. It should bring better registration result. However, it would take a bit more computation time.

The RANSAC algorithm that produces the same result would be interesting, but I don't clearly get how to do it. Could you explain with pseudo code? That would be helpful. Thanks!

[2018-04-10 18:32] takanokage commented on #278
Well, I've made my case and offered the implementation.

[2018-04-10 18:56] nosleduc commented on #288
Here there are two things, the seed depends on the time and on the number of cores.
One way to be independent of the number of cores is to compute  in the main thread the different combinations and then use them in the other threads. In general, in a ransac procedure we know the maximum number of iterations.

To repeat the same random procedure, it may be interested to use an object dedicated to p

[2018-04-10 22:06] syncle commented on #277
Addressed in #286. Thanks @takanokage!

[2018-04-10 22:06] #277 closed

[2018-04-10 22:09] syncle commented on #217
The solution that copies py3d module to default python path is addressed in #286.

[2018-04-10 23:01] takanokage commented on #217
well, yes and no.
Yes, #286 is a good solution for installing from sources.
Would be nice if we place this in a public repository so that people just say something like:
`pip install open3d`.

[2018-04-10 23:02] takanokage commented on #277
thank you!

[2018-04-11 02:02] syncle commented on #288
Sorry, It is not clear to me. In general, if success rate of RANSAC is low, the rule of the thumb is to increase iteration or validation number `RANSACConvergenceCriteria(max_iteration = 4000000, max_validation = 500)`, or to increase `CorrespondenceCheckerBasedOnEdgeLength(0.9)` for harder geometric constraints. In this manner, if the success rate is reasonably high (say about 95%), users may fee

[2018-04-11 02:30] syncle commented on #288
Aha! I finally got the point what you mean! Regarding this comment

I think you mean this part
https://github.com/IntelVCL/Open3D/blob/3cbee2e1ccc0ec80ed1f031411335421f59927ea/src/Core/Registration/Registration.cpp#L248-L254

Actually I have extensively tested for this. Let's say there are 10 CPU cores, and 100,000 RANSAC iterations are needed. In parallel implementation, each CPU core iterates 10

[2018-04-11 05:36] Sahloul opened #290 "Unable to build shared libraries"
The current cyclic dependency between the IO and Core libraries prevent building shared libraries!
This is a bad design issue, and it should be addressed. The user should be able to build static or dynamic libraries.

Although it mostly applies for other platforms, when compiling on Windows with MSVC using `set(Open3D_LIB_TYPE SHARED)`, I got:
[code]

[2018-04-11 06:04] syncle commented on #290
That's interesting because `Open3D_LIB_TYPE` is `SHARED` by default and [Open3D's CI for Visual Studio](https://ci.appveyor.com/project/syncle/open3d) never complain about this. Can you tell me which Visual studio and cmake version you are using? We recommend CMake 3.0+ and Visual studio 2015 sp3 (or higher).

[2018-04-11 06:08] Sahloul commented on #290
@syncle Maybe you got confused! The library is STATIC by default.. Double check here:
https://github.com/IntelVCL/Open3D/blob/3cbee2e1ccc0ec80ed1f031411335421f59927ea/src/CMakeLists.txt#L40

However, me, and perhaps others, want to compile it as SHARED library

[2018-04-11 08:17] Sahloul commented on #290
@syncle Sure! I will give it a try tonight..

[2018-04-11 17:14] Sahloul opened #292 "Naming convention and conflicts"
`Core`, `IO`, and `Visualization` libraries are common names, and can result in ambiguous dynamic/static loading issues. I suggest renaming them to something like: `open3d_core`, `open3d_io`, `open3d_viz`

Furthermore, as others might already mensioned, `py3d` is already a reserved name in the pypi hub, so it better be renamed to something like `open3d`.

Finally, the compiled libraries needs to h

[2018-04-11 19:04] syncle commented on #292
Good suggestion. The naming conflict should be considered in order to install Open3D in the system path. This suggestion is related to #130, #242. We had put this issue for the 1.0, but worth to discuss for #130.

[2018-04-12 03:12] Sahloul opened #293 "Executables/libs are not installed"
It seems the current CMake rules do not include installation instructions for various `lib` and `bin` components.
The same applies for the `TestData` and `Tutorial` directories.

[2018-04-12 03:17] syncle commented on #293
Good point. It is necessary upgrade Cmake rules. Feel free to take a token for this.

[2018-04-12 03:32] ghost opened #294 "`three` is an inaccurate and vague namespace"
The namespace `three` utilized in the C++ code does not follow the conventions!
I strongly suggest renaming it to `open3d`.

Waiting until the library gets more famous will make such changes much more harder, as it might break several user-implementations.

[2018-04-12 07:31] Sahloul opened #295 "`visibility=hidden` prevents shared libraries compilation"
The `CMAKE_CXX_FLAGS` flag in the `src/CMakeLists.txt` file has an argument `-fvisibility=hidden`  for Mac.
This [causes a failure when building shared libraries](https://travis-ci.org/IntelVCL/Open3D/jobs/365457217).. When this is removed, [Mac build properly](https://travis-ci.org/IntelVCL/Open3D/jobs/365472768).

While this has some relation with `pybind11` as per your documentation ([advanced]

[2018-04-12 12:43] Sahloul opened #302 "Shouldn't commits be used very stingily?"
Usually, commits are squashed to represent a single logical change. However, looking at the history of commits in this project, it seems that even failed commits are committed out as long as the whole PR was passing. Well, this is an awful practice, because of various reasons. For example, peeking at some previous commits becomes immposible: these commits will look meaningless or incomplete. Undoi

[2018-04-12 14:11] Sahloul opened #303 "Any intention to support stereo vision?"
The title have said it all. As far as I know, Open3D library supports RGB-D images, point clouds, and meshes as its input. It would be great if it can also support stereo images!

[2018-04-12 16:39] takanokage commented on #130
IMHO there are some issues we need to address in order to consider this done. I mention here a few:

- recursively install all the necessary headers.
  Something like `install(FILES ${INCLUDE_FILES} DESTINATION include)` seems insufficient.
  The other option: `install(DIRECTORY ... DESTINATION include/Open3D COMPONENT Devel FILES_MATCHING PATTERN "*.h")` didn't work for me, I got a weird permissi

[2018-04-12 17:35] syncle commented on #303
Probably yes in a long run, but no for now. I think stereo vision and stereo matching is well extensively supported by OpenCV. Instead, what we are trying to focus is supporting 3D geometry applications: e.g. fast global registration, texture map optimization and so on.

[2018-04-12 17:37] syncle commented on #295
Good catch! I didn't figure out that flag makes an issue. I need to check how this will affect to python binding.

[2018-04-12 18:12] syncle commented on #294
I think @qianyizh can give best answer for this.

[2018-04-13 00:02] Sahloul commented on #288
@syncle I suggest porting the [RANSAC implementation from OpenCV](https://github.com/opencv/opencv/blob/master/modules/calib3d/src/ptsetreg.cpp#L76). It is very reliable and well tested.

Another option is to implement the [Optimal RANSAC by Hast et al](http://www.cb.uu.se/~aht/articles/A53-full.pdf). It is easy to implement, but be aware that the authors themselves made a slight glitch in both th

[2018-04-13 00:12] Sahloul commented on #287
@syncle Well, if you have both implementations, then how about debugging intermediate steps in both of them to figure out where is the glitch? If you can pinpoint the issue source, maybe we can help further.

Another suggestion besides the [RANSAC upgrade suggestion](https://github.com/IntelVCL/Open3D/issues/288#issuecomment-380980025), is to implement the SLAC (issue #143), which should improve t

[2018-04-13 00:43] Sahloul commented on #295
@syncle I think it has no effect on Python binding since in Linux and Windows cases it is not applied, and the binding was doing just fine.

[2018-04-13 01:03] masonsun opened #305 "Visualizing a sequence of pcd files"
Thanks for all the hard work!

I have a sequence of pcd files that correspond to point cloud data recorded over some period of time. Is there a way to animate/visualize this using the current Open3D implementation?

[2018-04-13 01:07] syncle commented on #305
This is an open issue. One work around is to refer @felixendres's solution in #145.

[2018-04-13 01:16] jingxa opened #306 "Hello, normal redirection issue"
Hi, when i compute normals ,there are some problems about normal direction, but i maybe not find some methods like dealing normal orientation with minimum spanning tree.

 Will this method be implemented in the future?

Thanks for your help!

[2018-04-13 01:35] syncle commented on #306
Hi @jingxa

Make a consistent normal directions using minimum spanning tree seems interesting. However, there is a question whether those spatially consistent normals follow the true directions. I think it is ill-posed without prior knowledge.

Open3D doesn't have minimum spanning tree style implementation (I would be appreciate if you can contribute though), but it has efficient implementation ab

[2018-04-13 02:28] syncle opened #308 "Tab indent vs space indent"
Open3D uses tab for the indent.

From http://open3d.org/docs/contribute.html.

We got several requests regarding the space based indent (4 spaces) instead. Which one would be better? This issue have been discussed within Open3D admins, but we would like to listen public opinions. We are open for the either suggestions.

[2018-04-13 02:34] Sahloul opened #309 "Custom CI images and parallel AppVeyor testing"
Current issues with the CI images:
- There is a need to perform `brew upgrade` to update `cloog`, `gcc`, and `python` in the Mac images
- Linux images takes a big portion of the testing time to install its requirements
- AppVeyor executes the tests in sequential order. With 4 tests, it takes more than 40 minutes

Suggestions:
- Build custom images with all dependencies already installed
- Upgrade

[2018-04-13 03:03] syncle commented on #287
Thanks for the suggestion. This issue is privately raised by @awchen, and he is working for this issue.

[2018-04-13 03:12] syncle commented on #309
I don't have clear answer for this, but I had tried docker based approach before (#280). If docker image is pre-built and fetched at the CI runtime, it would be working solution. Related document is
https://docs.travis-ci.com/user/docker/#Pushing-a-Docker-Image-to-a-Registry

We had subscribed travis-ci before release. Likewise, we can consider this option.

[2018-04-13 03:13] syncle commented on #305
and we would be appreciated if somebody can contribute for this.

[2018-04-13 04:40] Sahloul commented on #308
Being consistent is important, but following the majority of common practices is no less.

I believe many potential developers collaborate in other projects as well, and the majority of such projects utilize space indents. Thereby, it is no wonder development tools are already tuned for space indentation. It would be a real pain to switch these settings back and forth while working with different

[2018-04-13 04:55] qianyizh commented on #217
I think this is lower priority for now. I also think Open3D is not mature enough to be adopted by pip or conda. 😸

Let's focus on other high priority things first then we revisit this.

[2018-04-13 05:00] qianyizh commented on #287
Also FYI, in Park2017, I fixed a bug and improved SLAC.

It's actually silly: the data term in SLAC objective should be point-to-point distance instead of point-to-plane distance. The reason is that ICP (point-to-plane or Park2017) has already done a great job in pairwise registration and the correspondences found after pairwise registration can be considered genuine. Thus using point-to-point dis

[2018-04-13 05:11] qianyizh commented on #288
FYI, the RANSAC algorithm currently in Open3D is a re-implementation of the RANSAC algorithm in [Choi2015] "Robust Reconstruction of Indoor Scenes". Under the hood it is a speed-up, bug-fixing, parameter-tuning version of the PCL RANSAC, 😜

That being said, it is definitely not the best algorithm for global registration (this is also part of the reason we later developed fast global registration).

[2018-04-13 05:16] Sahloul commented on #288
@qianyizh How about the [Sparse Surface Adjustment](http://ais.informatik.uni-freiburg.de/publications/papers/ruhnke12icra.pdf)? It has [an open source implementation](https://github.com/MichaelRuhnke/ssa), and I highly suggest trying it, and ultimately adding it here.

[2018-04-13 05:25] nosleduc commented on #288
I understand that you need to pick different seeds to avoid taking same indexes from different threads. I know that from a theoretical  point of view is better to increase the randomness.
Someone knows if std::rand and std::srand is thread safe and reentrant ?

When an algorithm is implemented in a multithreaded way, we may expect just to modify the speed of execution compared to a single core imp

[2018-04-13 05:26] qianyizh commented on #308
Haha, as the culprit of this issue, let me explain my thoughts.

I did the research three years ago when I started the project. My conclusion is the same as @takanokage . It really does not matter as long as it is consistent. There is even a big vote on stackoverflow. And it turns out all windows developers vote for tabs, all linux developers vote for spaces. And the vote result is almost even wit

[2018-04-13 05:29] qianyizh commented on #288
@Sahloul can you try it out and report the numbers (speed, recall, precision) comparing with:
https://github.com/IntelVCL/Open3D/blob/master/src/Python/Tutorial/Benchmark/ransac_registration.py

Would love to see something better than the current RANSAC solution.

[2018-04-13 05:32] Sahloul commented on #308
It seems that spaces already won :grin:
Do we have a consensus here?

[2018-04-13 05:36] qianyizh commented on #308
Let's wait for another day just to let the Visual Studio users have a chance to voice their opinion before weekend!

[2018-04-13 05:36] Sahloul commented on #288
@qianyizh I plan to use it in a project, so most likely I will do, but maybe not soon enough.
However, it is not a RANSAC! It is a weighted least-squares method with elastic point-cloud fitting depending on an uncertainty model of the RGB-D sensor.

[2018-04-13 05:37] qianyizh commented on #293
Is this supposed to be address in #130 ?

[2018-04-13 05:40] qianyizh commented on #288
I hate RANSAC and the randomness it brings. FastGlobalRegistration is also weighted least squares and we do have a roadmap for it in #142

Let's test and find out the best global registration algorithm!

[2018-04-13 05:44] Sahloul commented on #293
@qianyizh Very related, but different view. My view is that we can start organizing the built libs and execs in their corresponding directories without worrying about `find_package(Open3D)`. Basically, it is the first four points in [takanokage comment](https://github.com/IntelVCL/Open3D/issues/130#issuecomment-380868970).

[2018-04-13 05:49] Sahloul commented on #308
I am using Visual Studio for this project by the way :wink:

[2018-04-13 05:50] qianyizh commented on #294
This is a branding issue.

I debated it back and forth for a very long time. Vladlen was also part of the decision. I chose ``three`` among a few names including ``open3d``, ``o3d``, ``openthree``, etc. There are a couple of reasons.

First, I don't like the namespace name to be the same as the library name. It causes confusion. Second, I don't like numbers in the namespace name. It is ... lame. T

[2018-04-13 05:52] qianyizh commented on #293
I think so too. Let me merge this issue and discuss there.

[2018-04-13 05:52] #293 closed

[2018-04-13 05:54] qianyizh commented on #130
To follow up with the discussion in #293
The first few points seem to be more useful and urgent. We don't need to worry about find_package so far. But it is good to have a PR just ship in the ``make install`` function that copies (installs) the library to system path.

[2018-04-13 05:56] qianyizh commented on #295
It is from this commit:
https://github.com/IntelVCL/Open3D/commit/db0061a87714b9b0fb88a743e8ec6ce6d1c98fe4

There must be a reason.... let me think...

[2018-04-13 05:59] Sahloul commented on #130
@qianyizh In that sense, the #298 PR already covers the first four points.
The only difference with my PR is that `lib` and `bin` does not have `open3d` sub-directory, because it just does not make sense for me.
Furthermore, many libraries (e.g., OpenCV) does not utilize `lib/[name]` or `bin/[name]`, so why should we?

[2018-04-13 05:59] syncle commented on #308
I bet space indent. We have been experienced that many PR was used with spaces, and we have been asking them to use tab instead (including @Sahloul :wink:). This may not be the optimal way in a long-run.

I looked over famous repos, and checked what they are using for indent.
- OpenCV: 4 spaces
- Eigen: 4 spaces
- Tensorflow: 2 spaces
- ROS: 4 spaces

I think space gets more vote. Any famous repo

[2018-04-13 06:04] qianyizh commented on #130
Agree. We don't need open3d subdirectory. @syncle @takanokage please take a look.

[2018-04-13 06:06] Sahloul commented on #308
@syncle Yes! You forgot the famous Open3D ::wink::
It currently uses ~160,000 space indents, and ~24,000 tab indents

[2018-04-13 06:06] #305 closed

[2018-04-13 06:13] qianyizh commented on #295
ummm, the root cause might be a conflict between some libraries linking to ``libc++``, some linking to ``libstdc++``. So if ``visibility=default`` there is an error. OpenCV seems to have a similar issue https://github.com/opencv/opencv/issues/7565

But, this issue for Open3D may have been resolved in https://github.com/IntelVCL/Open3D/commit/9291547e71b1b88531def266ae4430b110e45900

@Sahloul @sync

[2018-04-13 06:24] qianyizh commented on #306
MST is a good algorithm. I have used it before and it works quite reliably (it fails, but occasionally). I think the right timing to add MST is when we add mesh reconstruction #270

MST is actually a pre-requisite for a few mesh reconstruction algorithms. The input is an unstructured point cloud. The viewpoint trick does not work now.

[2018-04-13 06:33] qianyizh commented on #305
I don't think the interface is exposed in python binding.
But for C++, there is a way to do this.

In general, just inherent a class from ``VisualizerWithCustomAnimation``, and create a function similar to:
https://github.com/IntelVCL/Open3D/blob/50a31d8daaf3218b767ddbacc0db4e4f125f13d6/src/Visualization/Visualizer/VisualizerWithCustomAnimation.cpp#L88

Edit ``this->geometry_ptrs_`` in the lambda

[2018-04-13 06:34] Sahloul commented on #295
@qianyizh If we remove it, the library compiles with some warnings (see 192.3 and 192.4 from [here](https://travis-ci.org/IntelVCL/Open3D/builds/365485926?utm_source=github_status&utm_medium=notification)). I believe this is only OSX+Clang. But in case of GCC, it is totally OK with Linux. Do we need to test it with Mac as well?

[2018-04-13 06:37] qianyizh commented on #295
Yes. GCC is the one with problem. See #8

Also, GCC is the easiest way to enable OpenMP on OSX so we need to test it.

[2018-04-13 06:38] qianyizh commented on #309
We should just upgrade.

[2018-04-13 06:49] jingxa commented on #306
@syncle @qianyizh oh ,well ! thanks for your help ! I am looking forward to the next version！
 i try to implement mst according to cloudcompare,
firstly creating weighted graph of nearest edge,
secondly computing normal orientation with priority_queue,  i think that spreading normal from one point is the best way. but My implementation is to choose the edge of the lowest weight , that causes bad r

[2018-04-13 07:03] qianyizh commented on #306
I think the easiest way is to read the code of MST in either CloudCompare or MeshLab, and re-implement it. Should not be a very hard job, :)

[2018-04-13 07:07] jingxa commented on #306
@qianyizh ,haha ,yeah ,in cloudcompare , it search the nearest points by octree, i use kd-tree in pcl, i think it is same, i just have problem about how to choose one point and impose the direction (outward or inward),that's my  difficulties. and i don't search "mst" in meshlab, i will try to search it again in meshlab ,thank you!

[2018-04-13 11:55] Sahloul commented on #309
@syncle Something like [this](https://docs.travis-ci.com/user/enterprise/build-images/) or Ducker as you said.

[2018-04-13 12:46] Sahloul opened #310 "`.travis.yml` is not well formatted"
I have been struggling to make a python package install in the Travis CI for some hours now!

The command `pyenv global 3.6` utilized to setup the Travis CI Linux-image seems to encapsulate Python inside a virtual environment. The problem is that CMake script cannot figure out the correct site directory to install `py3d.cpython-36m-x86_64-linux-gnu.so` python library.

However, I believe there is

[2018-04-13 15:09] takanokage commented on #166
I'm starting work on this. I'll continue to provide assistance on #130 and #298 as needed.

[2018-04-13 19:10] takanokage commented on #309
We're fortunate to already have a docker proposal. Open3D builds and runs inside this docker container with the limitation for now that some of the saved images are black. With a few tweaks I'm sure we could use this docker solution.

[2018-04-13 20:58] syncle commented on #310
I agree. `Pyenv` was some trick to give python 3.6 environment. It was okay until we reached to the installation issue. BTW, I think this is addressed in c071cd3. Am I correct?

[2018-04-13 21:35] syncle commented on #309
I thought that too, but using Open3D docker image having some issues. Travis CI automatically clones Open3D repo. Fetching Open3D docker image will make duplicate Open3D copies.

The major bottleneck is AppVeyor. Travis-CI takes approximately 10 mins because we can utilize four concurrent jobs on Travis-CI. **AppVeyor takes about 40 mins.**  This is major bottleneck. I will setup premium account.

[2018-04-13 21:58] syncle commented on #309
Configured AppVeyor premium account.

[2018-04-13 22:48] syncle commented on #308
I think we need pure PR for this if we decide to switch. Let me volunteer.

[2018-04-14 02:14] syncle commented on #238
One suggestion is to maintain another repo just for Open3D dependencies. That repo is just tested for Open3D. This will make Open3D repo much compact.

[2018-04-14 09:15] Sahloul opened #311 "`External` should not be placed inside the `src` directory"
The `src` directory is intended for the library source itself.

It does not make sense, at least for me, to include the 3rd party dependencies inside the same folder that binds people to the licence and provides a minimal version of the library. I suggest moving it to the outermost directory, and preferably to rename it to `3rdparty`.

[2018-04-14 09:18] Sahloul opened #312 "Split the source and headers"
When the source and headers are located in the same directory, it becomes almost impossible to enable package installation. That is because the source usually utilize relative `#include`, and even if it an absolute inclusion, the `<open3d/...>` prefix will be impossible to include.

I suggest utilizing the standard `include` and `src` directories.

[2018-04-14 11:10] Sahloul commented on #294
Namespace is an identifier, and such identifier will be used by the users, not only by developers!
Kindly think from the user perspective! `three` is way vague and does not carry any intuation to the user.

@qianyizh Do not you think your reason is very subjective?
I ask you to reconsider this decision before we fix the installation issue. It would become very hard to change it afterwards

[2018-04-14 11:53] Sahloul commented on #295
@qianyizh Mac + GCC generated a lot of warning (see [this CI log](https://travis-ci.org/IntelVCL/Open3D/builds/366468598?utm_source=github_status&utm_medium=notification)), but it passed without errors.

So what do you think?

[2018-04-14 17:33] syncle commented on #311
I agree. This issue is related to #238, but this suggestion is about moving the existing folder.

[2018-04-16 15:48] takanokage commented on #312
I believe this would be in conflict with the existing directory structure. Every directory add/delete would have to happen twice.

The above would work great if at the same time we simplify the directory structure: only one directory per library.

For example `Open3D/src/Core` currently contains the following directories:
- Camera
- Geometry
- Integration
- Odometry
- Registration
- Utility

We wo

[2018-04-16 16:01] takanokage commented on #312
I propose we remove the relative paths from the headers of the same library.
This can work even if we keep the folder structure: we can add those relative paths to the include folders list.

[2018-04-16 16:17] Sahloul commented on #312
@takanokage Even if we remove relative paths, as long as we want to install the headers to `include/Open3D`, then the problem will persist, as `Open3D` does not currently exist in the inclusion directives.

[2018-04-16 17:44] Sahloul opened #313 "Tests exist code must be 0 upon success"
It seems the following test applications `return 1` upon normal termination:
- TestCameraPoseTrajectory
- TestDepthCapture
- TestFileDialog
- TestFileSystem
- TestProgramOptions
- TestRealSense
- TestRegistrationRANSAC
- TestVisualizer

This should not be the case, and a `return 0` must be utilized.

[2018-04-16 17:52] Sahloul opened #314 "Vectorization bugs in MSVC 2015"
It seems that there is various bugs in the code as seen [here](https://ci.appveyor.com/project/syncle/open3d/build/1.0.197/job/bl4highgup9pm923#L605) and [here](https://ci.appveyor.com/project/syncle/open3d/build/1.0.198/job/v78xjvue34eg20p4#L1718).

I guess all are related to vectorization, and Eigen3 in particular..

[2018-04-16 22:27] Sahloul opened #316 "Windows x86 testing + possible failures"
The current AppVeyor settings only tests Windows x64 platform, but what about x86?

There is a possibility that Windows x86 would fail (such as in [here](https://ci.appveyor.com/project/syncle/open3d/build/1.0.202/job/wp3w4bybtru4bh85)). The failure might be just due to changes I made, so I will investigate further and update!

[2018-04-16 22:56] syncle opened #317 "AppVeyor failure"
AppVeyor configuration in the current master branch keeps failing.
The error comes from some `pip` commands:
https://github.com/IntelVCL/Open3D/blob/5bb9fb0bbed6b5dcc243476cf7535caf01c0f304/.appveyor.yml#L35-L36

These lines can be omitted.

[2018-04-16 23:13] #317 closed

[2018-04-16 23:15] #308 closed

[2018-04-16 23:17] Sahloul commented on #308
@syncle OK! that is it.. You destroyed all my PRs now..
I guess I will maintain my own repository, and you guys do whatever you want

[2018-04-16 23:34] Sahloul commented on #317
@syncle

It is your word against you!

[2018-04-16 23:41] syncle commented on #317
You're right. It was my bad. I didn't expect this will break your PR. I personally thought this is rather independent issue. However, as your spending priceless time, I had to be more careful and shouldn't merge before I got your comment. My apologies.

[2018-04-16 23:48] takanokage commented on #308
@Sahloul it's not a big deal, is it? happens all the time to me as well. True, in your case there's a lot more merging to handle, let me take a look and if I manage to fix it I'll do a PR to your `enhancement/enable_installation` branch later tonight.

[2018-04-17 04:38] takanokage commented on #308
I guess my work wasn't needed after all... (#319)

[2018-04-17 05:43] qianyizh commented on #295
Yes I did it once. See this:
http://www.open3d.org/docs/compilation.html#openmp
Let me try it really quick on my home laptop.

[2018-04-17 06:06] qianyizh commented on #295
I have checked. Tons of warnings at the end due to inconsistent visibility settings.
But it passes the build.

I guess warnings are better than failure. So let's close this and merge #297
I will open a separate ticket for remove the compilation warnings.
This will likely to be a visibility setting just for the py3d module.

One additional issue: brew installs gcc-7, we need to update the doc.

[2018-04-17 06:06] #295 closed

[2018-04-17 06:07] #290 closed

[2018-04-17 06:09] qianyizh commented on #288
Close it for now. Will reopen once we have updates on benchmarking other global registration algorithms.

[2018-04-17 06:09] #288 closed

[2018-04-17 06:24] #309 closed

[2018-04-17 06:30] qianyizh commented on #311
sounds good to me.

[2018-04-17 06:33] Sahloul commented on #311
In #298, I am addressing both this and #238 by downloading the dependencies rather than including them. I believe everyone will be happy this way!

[2018-04-17 06:35] qianyizh commented on #314
This is a very annoying issue with Eigen.
Can you confirm the issue persist with Visual Studio with the latest SP?

[2018-04-17 06:38] Sahloul commented on #314
@qianyizh Yes I did, it was failing! It is already addressed in #298, as [shown here](https://github.com/IntelVCL/Open3D/pull/298/commits/520dc6d7a1865304629c4a7878937fab9f6719b0?w=1)

[2018-04-17 06:41] qianyizh commented on #316
Actually I suggest we focus on x64. We already have lots of stuff to worry about and I don't think x86 is a frequent use case.

[2018-04-17 07:00] qianyizh commented on #314
Actually @Sahloul can you break #298 down to smaller PRs? It is hard to keep track to so many things in a giant PR. 😄

[2018-04-17 07:27] Sahloul commented on #314
It is already conflicting with the HEAD, and it is a tremendous effort to keep rewriting.
And let me predict the future: even if I break it, you will merge the smallest one among all the PRs (as you did now), and I will need to rewrite them again and again and again.. This is endless, and I am already tired! Sometimes rules are for frustration, not for progress..

@qianyizh So, how about you break

[2018-04-17 07:31] qianyizh commented on #314
I understand your frustration. That's the reason we ask the contributors to submit small PRs from the beginning. So you don't need to break it down into smaller ones. If everyone submits big PRs there is no way to maintain the sanity of the project.

[2018-04-17 07:31] Sahloul commented on #314
@qianyizh @syncle If you guys review in a single day or so (remember that you merge for yourselves in seconds), I would be very happy to hold the rest of my PRs until you merge, and thus reduce the lost effort. But waiting for centuries, just to be asked to break it after it becomes huge does not imply that you really care about the library at all.

[2018-04-17 07:34] qianyizh commented on #314
You just explained the reason why PRs need to be small in your own post.

[2018-04-17 07:34] Sahloul commented on #314
Small PRs if this library is a decent one.. Open3D is currently far far away from matching the minimum standards, thus each PR is highly coupled with other PRs. We cannot just ensure their independence from each other unless we write a three lines every two weeks (so that you catch up).

There is no wonder it is been two years in such sluggish progress and bad shape..

[2018-04-17 07:35] qianyizh commented on #314
Why are you wasting your time here then?

[2018-04-17 07:37] Stantheman1985 commented on #314
Idk

On Apr 17, 2018 3:35 AM, "Qianyi Zhou" <notifications@github.com> wrote:

Why are you wasting your time here then?

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub
<https://github.com/IntelVCL/Open3D/issues/314#issuecomment-381880043>, or mute
the thread
<https://github.com/notifications/unsubscribe-auth/AjF8Y07U2dMrX2yeKRZgM

[2018-04-17 07:39] Sahloul commented on #314
I need this library to mature, that is why!
I still hope you would realize that a library in its early stages need to sacrifice strict rules for the sake of faster development.
Shall I give up on a mutual understanding and maintain my own fork?

[2018-04-17 07:40] Stantheman1985 commented on #314
Yep

On Apr 17, 2018 3:39 AM, "Hamdi Sahloul" <notifications@github.com> wrote:

I need this library to mature, that is why!
I still hope you would realize that a library in its early stages need to
sacrifice strict rules for the sake of faster development.
Shall I give up on a mutual understanding and maintain my own fork?

—
You are receiving this because you commented.

Reply to this email dire

[2018-04-17 07:42] qianyizh commented on #314
Yeah. I would suggest to go ahead with your own fork for now.
I actually did it with PCL myself (had my own fork and maintained it for a few years) and never regret it.
Maybe come back in the future when Open3D is more mature and you will find it useful again.

[2018-04-17 07:43] qianyizh commented on #314
I think the discussion is off-topic. I will leave it for a couple of days then delete the posts.

[2018-04-17 12:07] Sahloul opened #321 "Any licensing issues?"
Dear IntelVCL/Open3D team,

As you already know, we were not able to arrive to a mutual ground on how to develop the Open3D library and each have their own view, and you suggested me to start my own way.
Accordingly, I have lunched [another repository](https://github.com/Sahloul/Open3D) and [a website](http://www.open-3d.org), and I wonder if you have any material that I cannot reuse in the new re

[2018-04-17 15:16] qianyizh commented on #321
There are many license issues. A few I can think of right now:

1. The code is under MIT license, which means you need to include the original LICENSE file if you want to use it in your own project. The original LICENSE file is as follows:
[code]
This license statement is also included in every single file of the code repository. You should not change it.

2. Only the code is under MIT license. Th

[2018-04-17 16:03] pmoulon commented on #321
Regarding the git history, FORK, I think the best would to keep the initial Open3D git history.
This way people can easily track by who and when the files have been created.

[2018-04-17 16:35] Sahloul commented on #321
1. The code still contains the exact licence, you can double check! Your rights are still there as well, in files and in the main directory. I only indicated the code is copyrighted to you, but all later modifications are mine.
2. I have not copied the website, and no one can! The website text and docs are extracted from the library, which is MIT licensed. I just recreated similar website, and all

[2018-04-17 19:05] rukie opened #322 "Question: RANSAC and ICP repeat on condition"
I'm using a Velodyne HDL 64 and I know my images scene to scene will be small translations. For the most part, my transformation matrix will be close to
1 0 0 0
0 1 0 0
0 0 1 0
0 0 0 1

Occasionally, I'll end up with a transformation matrix that'll rotate an image by 90 degrees. Would you have any suggestions on how to auto-attempt this again? Should I check the values (0,0), (1,1), (2,2), (3,3) a

[2018-04-17 19:09] rukie commented on #231
I'm looking to possibly acquire these: https://www.stereolabs.com/
Not the same depth technology as a kinect, but definitely affordable.

[2018-04-17 19:11] syncle commented on #322
Hi @rukie. Can you share code snippet or data so that I can regenerate your issue? Presumably this issue may be related to #276.

[2018-04-17 20:15] syncle commented on #322
I quickly went through the script. Overall, it looks good to me except for the several things need to be checked.
- edge_prune_threshold = 50.0: it is normalized. Only [0,1] scale will work.
- parameters: I don't know how the point cloud is distributed, or how it is dense enough.

Let me give some general idea. Depending on the dataset and configurations, local feature extraction and matching may

[2018-04-17 20:19] takanokage commented on #166
I have implemented a proof of concept for using googletest as our test framework.
For now I have basic unit test proof of concept for the Geometry/Image class.

Next I'm going to write some documentation. Any preferences regarding where we should place the unit testing in the doc tree?

[2018-04-17 20:34] syncle commented on #166
That's amazing. You got to manage gtest. Thanks!

I would like to suggest making documents later. First, this will reduce your work. [Check out this example](https://github.com/pybind/pybind11/tree/master/tests). They just provide readable codes and scripts without documentation. Second, test applications and functions will be the most frequently changing part. It may not easy to maintain document

[2018-04-17 20:52] rukie commented on #322
It is definitely a sparse point cloud.
See https://www.youtube.com/watch?v=09JjEQp9Nxk for an idea. It would be similar to this.

Thank's for catching the pruning threshold! I'll make an update there.

I've spent considerable time looking at normals and validating them in meshlab. I'm pretty confident it breaks in the RANSAC step, and of course ICP can't make up for that.

Generally my transforms

[2018-04-17 21:14] syncle commented on #322
Yes, or simply you might try to use trace of the matrix. I found good discussions from https://stackoverflow.com/questions/34139586/how-to-check-if-an-eigenmatrix4f-is-close-to-identity-matrix.

If the feature based matching keep failing due to the nature of the dataset, and the desirable pose is not far from the identity matrix, how about just using local registration method? You can skip global

[2018-04-17 22:45] takanokage commented on #166
Ok, this is what I'm going to do:
- polish the code just a tiny bit.
- add just a couple of lines about unit test in `Compilation Options`.

Will initiate a PR later today.

[2018-04-17 22:49] rukie commented on #322
Since the lidar system scans radially, I get a set of half circles (I'm only scanning forward 180 degrees). Local alignment tends to drive for placing the semi-circles on-top of each other, rather than aligning features. (with iterative closest point) Using planes seems to alleviate some of this, but tends to be a little more blurry.

I've had my best luck with the approach above. I think ideally,

[2018-04-17 23:14] rukie commented on #322
This is a (small) section of scanned terrain as viewed from above. This is 3 frames. There's a very clear radial effect from how the information is scanned. (color refers to intensity of returned). As the lasers scan further from the device, the space between annular rings increases. When terrain is particularly flat, it likes to align those more.

![image](https://user-images.githubusercontent.co

[2018-04-18 01:27] syncle commented on #322
Thanks for sharing images @rukie. Without the sample data, my best recommendation is not using local features, increasing voxel down sampling size (to reduce non-uniform sampling issue), and apply local alignment algorithm.

Maybe there would be better solution I am missing. @qianyizh, can you comment something on @rukie's issue?

[2018-04-18 14:00] rukie commented on #322
Is there an easy way I can tune parameters based on density of the cloud? Can I easily (and quickly) obtain size and average distance between points? Then I could voxelize based on that information, or crop based on that information. As my scans move around buildings, trees, on/off road the size of each cloud may vary from 20 meters wide to 300 meters wide. Sometimes it'll be dense up close, somet

[2018-04-19 10:36] harpone commented on #217
Copying works fine, but then the module is not recognized by e.g. PyCharm's package manager (can import it fine though), which is a nuisance...

[2018-04-19 15:54] #321 closed

[2018-04-19 15:54] #314 closed

[2018-04-19 15:56] #313 closed

[2018-04-19 15:56] #312 closed

[2018-04-19 15:59] #311 closed

[2018-04-19 15:59] #316 closed

[2018-04-19 16:02] #292 closed

[2018-04-20 15:00] rukie commented on #322
For additional detail: each box is a group of 15 frames. You can see that the overall size of my clouds can vary significantly. I have 10 boxes (150 frames at 100,000 points each). The red/blue colors represent trees, and green is mostly ground.

![image](https://user-images.githubusercontent.com/6559628/39058322-1668761a-4481-11e8-97c7-87115f4f038e.png)

[2018-04-20 22:12] syncle commented on #322
Thanks @rukie. This depicts the challenge of real Lidar scans. It is quite interesting.

One naive idea I had is to extract features using multiple scales: for example, you may extract features using 1m, 3m, 5m radius (just example), when you do match, the features should be matched if they are extracted from same scale. In this way, the coarse region will naturally use the feature with larger rad

[2018-04-24 02:13] rukie commented on #322
So lets say I want to try RANSAC 3 times with 3 different scales,
I can run RANSAC easily enough, but to access the RMSE (root mean squared error right?)
Can I access that as result_ransac.inlier_rmse? Or result_ransac.rmse? Or should I evaluate with fitness instead?

``python
(success_ransac_1, result_ransac_1) = register_point_cloud_fpfh(source_crop, target_crop, source_fpfh_1, target_fpfh_1)
''

[2018-04-24 03:39] syncle commented on #322
I think you might need to customize the function instead of iterating RANSAC for three times. You may extend `register_point_cloud_fpfh`. Consider matching the features of the same scale in the function. In this manner, you would not need to care about multiple `result_ransac`s. This idea not implemented though. I just proposing an idea here hoping this might be helpful. 😁

[2018-04-24 04:42] rukie commented on #322
I'm not sure I follow. You're suggesting I edit the python function below?
Or do you mean I should modify the c code on function:
[code]

Could you elaborate just a little more?

[code]

[2018-04-24 04:47] syncle commented on #322
Oh, I was meant to say c++ code, as all the internal implementations are there. You can customize your `RegistrationRANSACBasedOnFeatureMatching` function.

[2018-04-24 16:22] syncle opened #328 "Docker for Open3D"
We are planning to merge docker solution of Open3D.

This issue is related to #284 and #304.

[2018-04-24 17:30] takanokage opened #329 "Unit Testing on Windows"
PR #323 addresses unit testing on macOS and Linux however unit testing is not supported on Windows.

This is a request to enable unit testing on Windows as well.

[2018-04-24 17:32] takanokage commented on #329
Related to #166.

[2018-04-25 04:51] #142 closed

[2018-04-25 05:56] ShikiGami opened #331 "Visualization crashes sometimes in Windows"
I compiled Open3D on windows, and I've been experiencing some weird crashes while running the tutorials.

One of the more annoying ones is one where from time to time the application just crashes when calling `draw_geometries` . It shows a blank window, and seems to be "loading something" but then it just crashes.

The weird thing is that it isn't constant at all.
Running the same sample multiple

[2018-04-25 07:10] syncle commented on #331
For better understanding the issue, can you tell me your environment (windows version and visual studio version) and the script makes runtime error? For your reference, we are testing Open3D on windows 8+ and Visual studio 2015 SP3+.

[2018-04-25 09:36] ShikiGami commented on #331
My enviroment:
Windows 10 Pro (1709)
Visual Studio 2017 (15.6.6)

I'm building and installing Open3D with the new CMake support included in Visual Studio 2017 using the Ninja generator, as a msvc_x86 Release Build.

It is a Runtime error that crashes the application, and just a few moments ago I was able to get a read of what is going on with the VS debugger, and it's calming to be an unhanded exc

[2018-04-25 09:41] ShikiGami commented on #331
The last call before the error seems to be:
`Eigen::internal::evaluator<Eigen::Product<Eigen::Product<Eigen::Matrix<float,4,4,0,4,4>,Eigen::Matrix<float,4,4,0,4,4>,0>,Eigen::Matrix<float,4,4,0,4,4>,1> >(const Eigen::Product<Eigen::Product<Eigen::Matrix<float,4,4,0,4,4>,Eigen::Matrix<float,4,4,0,4,4>,0>,Eigen::Matrix<float,4,4,0,4,4>,1> & xpr)`

[2018-04-25 20:36] #166 closed, assigned to nobody

[2018-04-25 23:57] syncle commented on #331
Just note. I tried to regenerate the issue, but no luck so far. I am using windows10 + cmake3.11.1 + anaconda 64bit based python 3.6.

[2018-04-26 22:35] syncle commented on #331
Some updates:

This especially happens in windows 32bit machine. As @ShikiGami and I noted above, it arose from Eigen. Check [Cause 1: Structures having Eigen objects as members](http://eigen.tuxfamily.org/dox-devel/group__TopicUnalignedArrayAssert.html). If class has fixed size vectors, such as `Eigen::Vector2d` the class is no longer memory aligned with SSE format. This crashes an app with segfa

[2018-04-26 22:36] rukie opened #332 "Persistent Feature Visualization"
Is it possible to view the FPFH feature persistence?

For the most part my attempts at aligning point clouds have been based on trial and error. I jump in victory when I see "RANSAC Succeeded!" As I continue building larger scenes with more information, I find myself consistently repeating this process.

I'm trying to understand how scenes like below are generated.

![image](https://user-images.gi

[2018-04-26 23:16] syncle commented on #332
Open3d does not provide feature persistence yet. Our aim was to provide an implementation of well-proven FPFH features for Open3D users, not the additional metric for analysis.

However, I think it can be implemented in python by following the description in the paper. You extract multiple scale FPFH features, and see how it is distinguish a feature over the scale. [According to the paper](http://

[2018-04-27 09:15] kuonangzhe commented on #231
Met same problems before. We tried with Intel's RealSense D435 RGBD camera recently, which has easy-to-use SDK (librealsense 2.0) and good official support. The calibration for each sensor are finished as inner parameters accessible via SDK API. Depth to RGB alignment can be automatically finished via functions, too. Highly recommended.

BTW, though it is a structured light camera, the depth camer

[2018-04-27 14:10] kuonangzhe opened #333 "3D Reconstruction Failed"
Thanks for the awesome work!

I wanted to reconstruct an object from T-LESS dataset (http://cmp.felk.cvut.cz/t-less/), but failed. I used code from Open3D/src/Python/Tutorial/Advanced/rgbd_integration.py. obj id is 23, using 1st rgb and depth image from tless primesense. But the result is blank view. Are there any suggestions?
![0000](https://user-images.githubusercontent.com/9544626/39366732-591f

[2018-04-27 14:12] kuonangzhe commented on #333
I didn't try the Reconstruction system in Open3D yet but wanted to see if this light-weight RGBD-integration works.  Help wanted and thanks a lot!

[2018-04-27 19:52] rukie commented on #332
Following up on this, say I dump out the variable source_fpfh
What is the direction of the array? Do I have 1 histogram for each point in the cloud? FPFH isn't actually reducing the number of histograms, its just calculating in a method that minimizes memory calls right?

And then I'm reading the histogram, what is its significance? What would a "good" histogram look like?

[2018-04-27 21:04] syncle commented on #333
Hi @kuonangzhe, thanks for using Open3d! My quick guess is that maybe the depth values are not scaled well (not matched to intrinsic camera units).

For debugging, I suggest you to visualize your RGBD image as a form of point cloud first. I think these examples should be helpful: http://open3d.org/docs/tutorial/Basic/rgbd_images/redwood.html. For your case, you will need to update camera intrinsic

[2018-04-28 14:14] rukie commented on #332
I guess part of where I'm stuck, is I see the definition for FPFH
![image](https://user-images.githubusercontent.com/6559628/39397056-a6a83740-4abe-11e8-9c87-22075e9abdb7.png)

and SPFH is a histogram of angles and vectors
![image](https://user-images.githubusercontent.com/6559628/39397138-ec468184-4abf-11e8-8af9-e66c68916c0e.png)

I don't really understand how these are binned. I do see that its

[2018-04-29 17:41] syncle commented on #321
Thanks @ctsrc! We really need some helps or opinions from community to resolve this hassle. Open3D is developed for a few years, and we released it under goodwill. We don't really want to be Open3D is known for the other guy's project. I am pretty sure @Sahloul is not looking this thread. If you don't mind, could you broadcast your opinion in his repo too? That will notify people who got confused

[2018-04-30 07:57] qianyizh commented on #332
Can you elaborate what is a feature persistence?

The way Open3D works is that you first call ``compute_fpfh_feature()``, which gives you an array of 33-d vectors. Then you compute some value that you think if important (e.g., you can choose the x-th dimension of the 33-d vector) and render it in ``PointCloud.colors``. Then you call ``draw_geometries()`` to render it.

[2018-05-01 12:29] ggouaillardet opened #335 "Unsollicited subscription to the open3d ML"
Folks,

I just received this by email

on what we are doing, and in hope you can join us.
If you received duplicate notifications or find it irrelevant to
your interests, then kindly accept our deepest apologies.
Although we are inviting you to our users mailing list, you can always
unsubscribe from it by visiting the URL: http://users.lists.open-3d.org

This way of promoting your project is so wr

[2018-05-01 12:57] lovell commented on #335
I received this unsolicited email too. Confusingly I think it's from the maintainers of a very similarly-named clone at https://github.com/Open-3D/Open-3D

The comments in https://github.com/IntelVCL/Open3D/issues/321 and https://github.com/Open-3D/Open-3D/issues/31 suggest the act of cloning has not been "friendly" and would appear to be intentionally piggy-backing on the existing Open3D name.

[2018-05-01 13:44] ggouaillardet commented on #335
you are right, and I posted an issue to the wrong (but legitimate) repository.
I will close this issue and re-post it to the offending repo (and I am not the only one ...)

[2018-05-01 13:44] #335 closed

[2018-05-01 14:55] dylon opened #336 "Packaging review for Arch Linux, split PKGBUILD"
Hi,

I've packaged Open3D in the Arch Linux User Repository (AUR), and would like you to review my build scripts when you get the time.  I have two of them, one for the latest tagged release and another for the latest git commit.  Each is split into three packages: `open3d`, `python-open3d`, and `python-py3d`, and their `"*-git"` counterparts, respectively.

- [open3d/PKGBUILD](https://aur.archlin

[2018-05-01 15:01] syncle commented on #336
Thanks @dylon! This is a priceless contribution to Open3D. I will review the script.

[2018-05-01 15:52] syncle commented on #335
Thanks @ggouaillardet for reporting the issue. Could I ask forwarding the email to me? We would like to collect their activities.

[2018-05-01 16:34] syncle commented on #336
I think the script can go as-is. The script refers `gtest` and installs two python packages which are both preferable to users.

[2018-05-02 00:29] ggouaillardet commented on #335
@syncle here is the full email I received (I edited out my email address though)

note the
[code]

I would have expected `pip install open-3d` not to confuse this fork with the initial project.

If the software engineering skills of the members of this fork match their marketing skills, then you might not have to bother collecting their activities ;-)
Feel free to browse (closed) issue 34 in their

[2018-05-02 11:39] SamuelSJTU opened #337 "IO problem about reading and writing ply file"
I see the key word compress in write_point_cloud, but it seems useless, what is this meaning? Also, in the code, we only can save the pointcloud in double format, could I use float format? Do I have to hack the IO code?

[2018-05-02 16:11] qianyizh commented on #337
The ascii/binary switch works only for PLY and PCD format. The compression switch works only for the PCD format.

For PCD format, the data is written in float (PCD does not support double). For PLY format, the data is written in double.

To hack the PLY format to make it write float, just need to change these code:

https://github.com/IntelVCL/Open3D/blob/352d2f4ca0dd577b37053e946eec5f2cf5afc423/s

[2018-05-03 02:03] Sahloul commented on #321
This is Hamdi Sahloul. I am no longer involved in the "Open-3D" https://github.com/Open-3D/Open3D/ or http://www.open-3d.org/

Although I do not hold any authority over any "Open-3D" related stuff after withdrawing, I did my best to ensure that none of your complains are still there way before withdrawing, which includes:
- Proper attribution
  - Clear indication in the README that the fork is mad

[2018-05-03 07:58] Sahloul commented on #321
Although I am no loner part of that anymore, I am now trying to negotiate stopping the open-3d.org domain.

I apologize for troubling you, and I will do my best.
Let me know if I can do any further.

[2018-05-03 21:24] nosleduc opened #338 "Accelerating Fast Global Registration"
In the fast global registration, the matching can be accelerated with OpenMP.

[2018-05-04 14:21] adamlofts opened #340 "Orthographic projection in Visualizer"
Is it possible to configure an orthographic projection?

It is mentioned in the docs here: https://github.com/IntelVCL/Open3D/blob/35be432d45bf47bbcdf920c62d7d9d446ac6d36d/docs/tutorial/Advanced/interactive_visualization.rst#L111

[2018-05-04 22:53] #336 closed

[2018-05-05 07:10] qianyizh commented on #340
Yes, in the interactive mode, press ``[`` until the view does not change, it is the orthogonal projection.

Under the hood, ``[`` reduces ``field_of_view`` and ``]`` increases it. Once ``field_of_view`` is too small (we set it to 5 degrees), we use orthogonal projection instead of perspective projection.

[2018-05-05 15:42] SamuelSJTU commented on #337
Thank you

[2018-05-05 15:42] #337 closed

[2018-05-08 10:30] adamlofts commented on #340
Thanks for the help!

[2018-05-08 16:30] marcel-bariou opened #341 "3 shared objects not found on import py3D"
Platform Linux 16-04, no message error on compile!
  But => ldd  /home/mbariou/.local/lib/python3.6/site-packages/py3d.cpython-36m-x86_64-linux-gnu.so
	linux-vdso.so.1 =>  (0x00007fffd17fc000)
	libVisualization.so => not found
	libIO.so => not found
	libCore.so => not found
	libstdc++.so.6 => /usr/lib/x86_64-linux-gnu/libstdc++.so.6 (0x00007f516808d000)
	libgcc_s.so.1 => /lib/x86_64-linux-gnu/libg

[2018-05-08 17:32] takanokage commented on #341
@marcel-bariou
Could you be more specific about the steps that led to this issue?
I have some limited experience with Open3D building/installing/importing, maybe I can help.

A possible hack: I personally haven't tried the shared libraries path. Seems to work when I build the static libraries for Open3D. Not sure if that is an option for you.

[2018-05-08 17:57] jakobwilm commented on #341
The "not found" libraries do not exist in the dynamic library loader search path. See e.g. the answers to this question: https://unix.stackexchange.com/questions/22926/where-do-executables-look-for-shared-objects-at-runtime

[2018-05-08 18:33] dhruveshg opened #342 "GUI for visualization module"
Is it possible to change size of point in point cloud?
I found API to set new camera intrinsic but could not find API to get user defined camera intrinsic?

[2018-05-08 18:50] syncle commented on #342
Yes. Please refer http://open3d.org/docs/tutorial/Basic/pointcloud.html#visualize-point-cloud. You can press ``+`` or ``-`` to increase/decrease point cloud size.

See http://open3d.org/docs/tutorial/Basic/rgbd_images/redwood.html. You can replace ``PinholeCameraIntrinsic.prime_sense_default`` with 3x3 numpy array.

Thanks for using Open3D. I recommend to go through 'basic' tutorial to be get fami

[2018-05-08 19:01] marcel-bariou commented on #341
hello ! **@jakobwilm & takanokage** Thanks for your interest. I succeed I tell you !
I  met the trouble when, after compile and install,  I have done : import py3d in Python, libVisualizaition.so  and two other libraries  were not found by  py3d.cpython-36m-x86_64-linux-gnu.so
In fact the missing libraries were not in the lib path, because they were not installed. they were present in the build di

[2018-05-08 19:35] #341 closed

[2018-05-08 19:36] dhruveshg commented on #342
Thanks, this is helpful.

Can we instantiate the Open3D visualizer with different point size, Is there API to do so?
Also one more question, can we rotate over Z Axis (like Ctrl+Mouse Drag in PCL)?

[2018-05-08 19:40] dhruveshg commented on #342
Oops sorry did not realize qianyizh had already replied instantiating visualizer from json file.

[2018-05-08 19:53] syncle commented on #342
I don't think we have Z-axis rotation. (@qianyizh can you correct me if I am wrong?). This request can be go for next milestone.

[2018-05-08 20:31] qianyizh commented on #342
There is. Call ``draw_geometries_with_editing()``, it will launch a ``py3d.VisualizerWithEditing``. Then you can press ``X``, ``Y``, or ``Z`` to lock the rotation around a certain axis, under an orthogonal view. Key ``F`` releases the view to free view.

[2018-05-09 06:39] michael-peng opened #344 "Fast Global Registration Bugs"
When I run fast global registration to register a model with multiple views, the registration is valid only for the first view. The debug message shows that the means and scales are 0s and 1s for all the views except for the first one. I found that pointcloud and features keep adding to pointcloud_ and features_ which are defined globally in FastGlobalRegistration.cpp, but the registration only ap

[2018-05-09 13:48] ShikiGami opened #345 "PoseGraph read JSON failed: empty edges"
I'm trying the Reconstruction System, but each time I try my own datasets, I get the following error when trying to Register the fragments:

`PoseGraph read JSON failed: empty edges.`

Any idea why this happens?

[2018-05-09 14:16] wxt-github opened #346 "Installing Open3D in vanila ubuntu 14.04"
Hi,everyone!
I can't understand what the first command in the ubuntu installation of the official website means just like
"util/scripts/install-deps-ubuntu.sh"

[2018-05-09 14:48] jingxa opened #347 "Bug in get_information_matrix_from_point_clouds"
Hello ,sir!
i want to use pose graph with pcl;
but i have some problems;

---
When i learn codes of `GetInformationMatrixFromPointClouds`:
- first, i think that the function `GetRegistrationResultAndCorrespondences` finds some corresponding points in source and target clouds, and compute overlap `fitness` and `inlier_rmse`;
but ,like below:
https://github.com/IntelVCL/Open3D/blob/352d2f4ca0dd577b3

[2018-05-09 18:38] syncle commented on #347
Hi @jingxa.

You mean Open3D, right? :)

I seriously reviewed the code. You're right it is not in the right shape as you mentioned. It should be fixed. Let me begin some experiment by putting transformed point cloud into ``GetInformationMatrixFromPointClouds``, and will make a new pull request.

[2018-05-09 21:36] syncle commented on #345
It seems like there is no valid graph edges in your json file. I would recommend to review your json format is compatible with Open3D format.

When you make you own dataset, try make a pose graph something like
[code]

and save it using ``write_pose_graph``.

[2018-05-09 21:50] syncle commented on #344
You are right. These issues can cause problem. I was thinking about polishing FGR code as it was adopted roughly from old repository. I will work on this when other issues are addressed.

[2018-05-10 01:08] wxt-github commented on #346
But how do I run that command, because that doesn't seem to be the way the command is run? @takanokage

[2018-05-10 01:19] wxt-github commented on #346
I know the command now,but I find the error  E: 未发现软件包 libglfw3-dev.How can I solve it？

[2018-05-10 01:26] wxt-github commented on #346
My linux system is ubuntu14.04

[2018-05-10 02:13] gimunum opened #348 "OpenCV issue in reconstruction system tutorial"
Hello.  I am running Open3D tutorial on windows 7. And I complied open3D using cmake with visual studio 2015 win64 . During testing, I got an error in running Open3D Reconstruction System tutorial, more specifically in running make_fragments.py. It requires OpenCV opencv_pose_estimation function. I did not install any OpenCV on windows 7. Instead, I tried to install OpenCV using install-deps-pytho

[2018-05-10 02:14] syncle commented on #346
``libglfw3-dev`` is not recognizable package in ubuntu 14.04. You can Ignore it as Open3D includes glfw3.3 dev. Open3D will built from source.

[2018-05-10 02:27] wxt-github commented on #346
I ignore it but I have error:
/home/wxt/Open3D/src/External/pybind11/include/pybind11/detail/common.h:111:20: fatal error: Python.h: 没有那个文件或目录(no file or directory).How can I solve it? @syncle

[2018-05-10 02:30] syncle commented on #346
I think you don't have python in your system, or python is not correctly installed.

[2018-05-10 02:33] wxt-github commented on #346
But not all linux systems come with python?I have a try.

[2018-05-10 02:38] syncle commented on #346
Yeap, but we highly recommend python binding because it provides much better API. If you don't want python binding of Open3D, you can simply add ``-DOpen3D_BUILD_PYTHON_BINDING=OFF`` in your cmake command.

[2018-05-10 02:43] jingxa commented on #347
@syncle Ha ,thanks!

---
My linear algebra is bad ;

---
Secoond, I don't understand some Equation in [Registration about Robust Reconstruction of Indoor Scenes](http://redwood-data.org/indoor/registration.html)

In equation (6)-(12)：
I think equation (7) was minimized to obtain  feasible : ![](https://latex.codecogs.com/gif.latex?%24T_%7Bji%7D%24)
but in equation (7):
![](https://latex.codecogs.c

[2018-05-10 03:01] syncle commented on #347
\xi contains [w,t]. By definition of vector cross product, it is equivalent to multiply vector with skew-symmetric matrix. Please check Cross product section in https://en.wikipedia.org/wiki/Skew-symmetric_matrix.

skew symmetric matrix is 3x3, and I is 3x3 so [-[q^*]_x|I] is 3x6 matrix.

G is just redefinition of [-[q^*]_x|I], and the later equation is just re-writing quadratic equation. The key

[2018-05-10 08:20] wxt-github commented on #346
After I installed python3.5.0, I successfully built a py3d target with the "make -j" command.And I run "cd util/scripts" and "./install.sh" successfully too.but when I use python import py3d running Open3D tutorials,I have an error:

Traceback (most recent call last):
  File "rgbd_redwood.py", line 6, in <module>
    from py3d import *
ImportError: ImportError: No module named 'numpy'

Is this bec

[2018-05-10 13:55] takanokage commented on #346
You need to install numpy.
In fact you need to run 'util/scripts/install-deps-python.sh'.

[2018-05-11 02:11] jingxa commented on #347
@syncle Oh ,very thanks !

---
Sorry for my bad math; I have another problem;
- <a href="https://www.codecogs.com/eqnedit.php?latex=T_{ji}^{*}" target="_blank"><img src="https://latex.codecogs.com/gif.latex?T_{ji}^{*}" title="T_{ji}^{*}" /></a>:  ground truth for q to p;

- <a href="https://www.codecogs.com/eqnedit.php?latex=T_{ji}" target="_blank"><img src="https://latex.codecogs.com/gif.latex?T_

[2018-05-11 04:47] #145 closed

[2018-05-11 04:56] syncle commented on #347
I guess that might be not correct, but I am not author of that webpage. @qianyizh, can you check?

Yes. It is homogeneous coordinate. T is 4x4 matrix.

It is conventional convex optimization problem. You can compute gradient for that, and update \xi using that gradient. Please check https://github.com/IntelVCL/Open3D/blob/master/src/Core/Registration/GlobalOptimization.cpp. We have LM optimization

[2018-05-11 05:03] qianyizh commented on #347
It is not wrong.
Tji* q* is approximately equal to p*
(since they are correspondence pair, and Tji* is the ground truth transformation)
replace p* with Tji* q*, we get (3) from (2).