[2020-09-22 09:22] griegler commented on #2365
No, you need a (T)SDF volume to use marching cubes and you can not simply turn a point cloud into a (T)SDF volume.

[2020-09-22 09:25] AndreV84 commented on #2134
the latter issue resolved with installing pip package;
another issue emerged while trying to process --make with recorded realsense images
`git_src/Open3D/theNded/Open3D/examples/Python/ReconstructionSystem$ python3 run_system.py /home/agx/o3d/git_src/Open3D/theNded/Open3D/examples/Cuda/ReconstructionSystem/config/intel/test.json --make
====================================
Configuration
==========

[2020-09-22 09:27] AndreV84 commented on #2134
`./RunSystem /home/user/o3d/git_src/Open3D/theNded/Open3D/examples/Cuda/ReconstructionSystem/config/intel/test.json
[Open3D INFO] Processing fragment 0 / 0
[Open3D INFO] RGBD Odometry between (0 1)
[Open3D INFO] RGBD Odometry between (1 2)
[Open3D INFO] RGBD Odometry between (2 3)
[Open3D INFO] RGBD Odometry between (3 4)
[Open3D INFO] RGBD Odometry between (4 5)
[Open3D INFO] RGBD Odometry betwee

[2020-09-22 10:01] AndreV84 commented on #2134
another observed issue
 ./gdrive_download.sh 1dkA6Tjh-aEie1J8qGlY1NlyJVP0_FpBX
Downloading from 1dkA6Tjh-aEie1J8qGlY1NlyJVP0_FpBX...

** Resuming transfer from byte position 3103
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
  0     0    0     0    0     0      0      0 --:--:-- --:--:--

[2020-09-22 11:59] NKKD opened #2366 "build issue"
Any suggestions on how to fix this?

../../filament/src/ext_filament/lib/x86_64//libbluegl.a(BlueGL.cpp.o): In function `bluegl::bind()':
BlueGL.cpp:(.text._ZN6bluegl4bindEv+0xf): undefined reference to `std::__1::mutex::lock()'
BlueGL.cpp:(.text._ZN6bluegl4bindEv+0x92): undefined reference to `std::__1::cerr'
BlueGL.cpp:(.text._ZN6bluegl4bindEv+0xb8): undefined reference to `std::__1::ios_base::g

[2020-09-22 13:07] hduonggithub commented on #2331
I found this ticket (https://github.com/intel-isl/Open3D/issues/2294) is helpful for my request. You can close this. Thanks!

[2020-09-22 15:16] mlbadger opened #2367 "Cannot change FoV/Ortho with ViewControl.ChangeFieldOfView()"
I am creating a Headless Orthographic PointCloud render, and when I set FoV to 5 degrees and render, the window that gets captured remains at 60 degrees perspective.  ViewControl reports that the FoV is 5 degrees and Ortho, but when I use [ and ] , the console shows the FoV starting at 60 and going down to 5 degrees (Ortho) correctly.  How do I get the projection to start at Ortho?  Am I missing a

[2020-09-22 16:15] mattj23 commented on #1321
Hi @benjaminum,
I'm a mechanical engineer and I've been using Open3D for the past year or so for a handful of related applications which are either related to working with 3d mesh data from structured light scanners or doing simulations to guide the design of industrial robotic workcells.

A few weeks ago I ended up implementing triangle intersections using Open3D's `TriangleMesh` in order to chec

[2020-09-22 17:02] 1939938853 commented on #2365
From [here](https://github.com/PointCloudLibrary/pcl/blob/master/tools/marching_cubes_reconstruction.cpp), it looks that PCL can use Marching Cubes to create mesh?

[2020-09-22 18:16] mlbadger commented on #2367
![out](https://user-images.githubusercontent.com/47256323/93921103-f0aed280-fcc4-11ea-8c3f-f1c7a1f429e8.png)
This is the output image from this function...

[2020-09-22 20:57] TobiFisch commented on #2193
For anyone stumbling upon the same issue, simply storing and loading the mesh like this works in `0.10.0.0`:
[code]

[2020-09-22 22:59] Zumbalamambo commented on #2157
+1

[2020-09-22 23:02] Zumbalamambo commented on #2313
@yxlao is there any possible fix for this bug? I see a lot of bugs with this function in GitHub issues :(

[2020-09-23 00:19] mattj23 commented on #2062
@griegler, fyi, the triangle intersection code I'm working on will trivially accommodate this feature: the only difference is that the point checked on the triangle bounds is created via projecting a point to a plane vs intersecting a ray with that plane.

[2020-09-23 01:14] TimZaman commented on #879
still an issue

[2020-09-23 04:43] dhirajsuvarna opened #2368 "Principal Component Axis for Point Cloud Data"
**Is your feature request related to a problem? Please describe.**
Finding the PCA is a helpful clue in analyzing the 3D data with the use in Registration Problems

**Describe the solution you'd like**
Would like an API which output the Principal Components in an ordered fashion.

**Describe alternatives you've considered**
Have had to switch to `trimesh` library to get this information. Though it

[2020-09-23 06:06] #2366 closed

[2020-09-23 06:36] benjaminum commented on #1321
Thanks for your answer! It gives a good impression of what the goals for this are.

Having a fine-grained set of geometry functions that can be used for ray tracing or other purposes makes a lot of sense (in contrast to a blackbox toolkit).
Another good point that has a lot of value is the support for many platforms. From the PR it seems it will run on all platforms supported by Eigen, that's good

[2020-09-23 06:39] #2331 closed

[2020-09-23 06:42] Zumbalamambo commented on #2338
@griegler isn't there any other way to update the camera position? No matter what I do, it's always wrong... Been trying for a week...The last row is [0,0,0,1] but still the same problem :(

[2020-09-23 06:44] griegler commented on #2365
Yes, you can turn a point cloud with associated normals into a (T)SDF volume. Unfortunately, that is not implemented in Open3D yet. @benjaminum what do you think, how much work this would be?

[2020-09-23 06:56] Zumbalamambo commented on #2338
@griegler Could you please suggest how can I retrieve the front_vector and lookat vector from my homogeneous matrix?

[2020-09-23 11:20] benjaminum commented on #2365
I had a quick look at the TSDF volume code, which is very specific to depth images. This means we need to implement this from scratch. Adding an efficient implementation can take some time. We should discuss if we can integrate this with the new Tensor-based data structures. Maybe we can also include @theNded in the discussion.

[2020-09-23 15:57] 1939938853 commented on #2365
Marching Cubes based surface reconstruction seems promising in the aspect of real-time related performance.

-  Can avoid normal estimation? Normal estimation is not so "cheap", also GPU acceleration is not so effective, especially when the point cloud is not so big.  Furthermore to make all normal direction towards outside is not so "cheap" either.

- From [Nvidia's](https://www.nvidia.com/conten

[2020-09-23 18:02] Fred3D-tech commented on #1968
ok... the main problem is: do we have a solution or not? Can we install Open3D on the most fitted platform for mobility and then robotic? The answer for me is no. And I don't see any new answer or upgrade. No upgrade have been available since may.
Developing a render had absolutely no interest: a lot of very good renders are available.  Working on a working ICP, a good odometry, a system working o

[2020-09-23 18:18] auzyze commented on #1638
Hi, @jbjeong I got the same issue with headless rendering for textured mesh. Any update for this? Thanks!

[2020-09-23 18:58] TimZaman opened #2370 "Basic tutorial is wrong and doesn't work"
Website: http://www.open3d.org/docs/release/tutorial/Basic/jupyter.html
![image](https://user-images.githubusercontent.com/7721540/94057213-2cfd3400-fd94-11ea-912c-45f67a2be655.png)

Local:
![image](https://user-images.githubusercontent.com/7721540/94057192-240c6280-fd94-11ea-918a-47da6b99aa11.png)

[2020-09-23 19:01] TimZaman commented on #2370
Relates to https://github.com/intel-isl/Open3D/issues/2289 . Which is closed, but seems to me it makes sense to remove non-functional examples.

[2020-09-23 21:48] trsarje commented on #1991
I am facing the same issue. When I try to combine three-point cloud.

[2020-09-24 01:22] StevenShuoFeng opened #2372 "What is the definition and unit for the extrinsic used in ScalableTSDFVolume::Integrate()"
I'm referring to [this example code to run TSDF integration of RGBD data](https://github.com/intel-isl/Open3D/blob/master/examples/python/Advanced/rgbd_integration.ipynb), it sounds from the sample data that the input depth is in mm unit and the camera pose is in meter? The Integrate function did a scaling of the depth by 1000 by default.

I want to confirm, is the extrinsic defined as the transfo

[2020-09-24 01:25] nkhedekar commented on #2357
Having the same issue, #2137 solves it

[2020-09-24 06:24] Pdshende commented on #1853
Hi,

To extract diffrence in point cloud insted of using nearest neighbour in Matlab is there any other approach we can follow because it is taking lot of time to me to extract different so if there is a efficient way to extract the different between two point clouds please let me know

[2020-09-24 07:29] benjaminum commented on #2365
Surface splatting and marching cubes are very different.
Does you point cloud describe a surface and you just want to visualize this surface?

[2020-09-24 08:48] griegler commented on #1853
@Pdshende can you open a new issue with more details on your problem and maybe describe why the solution proposed in this issue is not working.

[2020-09-24 08:55] griegler commented on #2338
Where do you have this matrix from, or how has it been retrieved? Could you possibly share the data, and what it should look like?

[2020-09-24 08:56] 1939938853 commented on #2365
For me, both are interesting

-  For further surface (mesh) based processing, such as registration,  a mesh surface may be preferred. In this case less points (vertices) can be chosen  in order to speedup the process. For real-time processing, the key point is that the processing must be fast and robust enough.

-  On the other hand, with the power of point cloud processing provided by Open3D, man

[2020-09-24 08:58] griegler commented on #2338
And maybe [this](https://www.3dgep.com/understanding-the-view-matrix/) (first part) might help.

[2020-09-24 09:12] Zumbalamambo commented on #2338
Give him a noble prize!!!!!!!... Thank you so much! that article helped me to the core!!!!!!!!!!

[2020-09-24 09:15] Zumbalamambo commented on #2338
The visualization looks so much better now... Now more flickering... I would like to ask one more doubt :)

This is my data,

[code]

what must be the input for set_ftront? Should I use the forward vector? or the right vector? :)

[2020-09-24 10:10] Zumbalamambo commented on #2338
@griegler should I do any change in the signs or the position of the `set_front` coordinates? The camera is moving backward across the trajectory instead of facing forward

[2020-09-24 10:28] griegler commented on #2368
You could just use [`compute_mean_and_covariance`](http://www.open3d.org/docs/release/python_api/open3d.geometry.PointCloud.html#open3d.geometry.PointCloud.compute_mean_and_covariance) and then use [`np.linalg.eig`](https://numpy.org/doc/stable/reference/generated/numpy.linalg.eig.html) on the returned covariance matrix to get the principal components.

[2020-09-24 12:01] AndreV84 commented on #2181
@theNded
Could you help troubleshooting the issue below, please?
`./RunSystem /home/user/o3d/git_src/Open3D/theNded/Open3D/examples/Cuda/ReconstructionSystem/config/intel/test.json
..
[Open3D INFO] Active subvolumes in volume: 541
[Open3D INFO] Writing 697 subvolumes.

CUDA error at /home/user/o3d/git_src/Open3D/theNded/Open3D/src/Cuda/Integration/ScalableMeshVolumeCudaKernel.cuh:117 code=701(cuda

[2020-09-24 12:02] AndreV84 commented on #2235
[code]
with i435 we got into this issue

[2020-09-24 12:09] benjaminum commented on #2365
Do you have some data that you could show? Seeing the data might help to better understand what Open3D is lacking.
I am also a bit confused by the _real-time_ processing part which can be very difficult to achieve for many problems.

[2020-09-24 12:15] AndreV84 commented on #2235
![c1a69b293ae87be1cbe23592cdda2fa6c75fb66e](https://user-images.githubusercontent.com/16374873/94143619-9eee7f80-fe5f-11ea-839c-105e75be4663.png)

[2020-09-24 12:21] griegler commented on #2338
If your transformation matrix `T` is

[code]

then is `R`

[code]

and `t = -R eye`

[2020-09-24 12:56] Zumbalamambo commented on #2338
thank you! This is how I'm obtaining the vectors.
[code]

I'm setting them to view control as follows,

[code]

am I doing it properly?

[2020-09-24 13:03] Zumbalamambo commented on #2338
@griegler it works like a charm! thank you...

[2020-09-24 13:03] #2338 closed

[2020-09-24 13:54] Zumbalamambo commented on #2168
@bumbastic could you please share the tutorial code on rgb based pointcloud construction?

[2020-09-24 15:15] Zumbalamambo commented on #1576
@germanros1987 is there any documentation for the new gui module?

[2020-09-24 16:53] elvircrn commented on #414
Same issue here.

[2020-09-24 20:40] Zumbalamambo commented on #2313
Fixed with custom view control

[2020-09-24 20:40] #2313 closed

[2020-09-24 20:53] Zumbalamambo opened #2374 "Installation Error"
I'm trying to build Open3D from source. I'm getting the following error,

[code]

[2020-09-25 03:56] MaxChanger commented on #1153
I think it makes sense to solve this bug, and I got stuck when visualizing BBox.
When using non-blocking to visualize the PointCloud and BBox of each frame, I got the same result as the above picture.
Any progress? @zzq1016 @yzl96
Call @griegler for help

[2020-09-25 04:03] MaxChanger commented on #1158
The above-mentioned link may be invalid and can be found in Tag v0.8.0 [load_save_viewpoint.py](https://github.com/intel-isl/Open3D/blob/v0.8.0/examples/Python/Advanced/load_save_viewpoint.py)

[2020-09-25 05:34] dhirajsuvarna commented on #2368
@griegler Tried your suggesion, sadly it doesn't give accurate results

[2020-09-25 07:43] griegler commented on #2368
PCA is not robust with respect to local point density changes. So, the difference can be that the mesh vertices in the first image are differently distributed than the points in the second image. Two possibilities: Either you create a point cloud from you triangle mesh (which should give you the same result as trimesh), or you try to use [`voxel_down_sample`](http://www.open3d.org/docs/release/pyt

[2020-09-25 09:36] Leerw commented on #2169
It's really annoying! I just read point clouds with ".pcd" extension.
![image](https://user-images.githubusercontent.com/29098373/94251684-73e65780-ff55-11ea-8b2a-8fc4a0a9f004.png)

[2020-09-25 09:45] 1939938853 commented on #2365
Hello benjaminum,

Thank you for your replay!

To accelerate 3D data processing is really not so easy. Yesterday I tested [PCL's marching cubes](https://github.com/PointCloudLibrary/pcl/blob/master/tools/marching_cubes_reconstruction.cpp), when point size is more than 10 thousands, depending on the grid size, the processing may take several hours. Not acceptable.

Open3D contributors have already

[2020-09-25 11:00] bumbastic commented on #2168
I don't have a tutorial for this. I think that the open3d python ReconstructionSystem example is great for converting rgbd images into pointclouds or meshes.

[2020-09-25 11:13] Zumbalamambo commented on #2168
How about mere rgb images? Is it possible to create pointcloud from rgb images?

[2020-09-25 15:47] Zumbalamambo opened #2378 "Mapping Images of known pose to the point cloud"
I have the laser point cloud and corresponding images with known poses. Is it possible to map the image of the known pose to the point cloud?

[2020-09-25 15:57] 1939938853 commented on #2190
Hello GnnrMrkr,

Your code of create a depth map from point cloud sounds very interesting! Looking forward to seeing it.

[2020-09-25 19:20] phil4991 commented on #2344
thanks for your first look on it gernot!
Does anyone observed similar behaviour or could it be reproduced? This would be also interesting for me becauase I use the KDTree for a clustering algorithm.

thanks in advance
philipp

[2020-09-26 02:38] maggielovedd commented on #1715
Same problem, I've tried both way (matplotlib followed by o3d and inverse) and both pop out the error. I'm also using open3d 0.9 by pip install. System: Ubuntu16.04

[2020-09-26 13:26] bumbastic commented on #2168
Hmm.. Do you mean something like the phone app Display.Land? I don't work with something like this. I work with depth images not rgb.

[2020-09-26 19:03] griegler commented on #2378
I assume with known poses you mean that the images are registered with respect to the point cloud. I am not sure what you mean with mapping the image, but what you can do is coloring the points given the images.

[2020-09-26 19:18] Zumbalamambo commented on #2378
@griegler Yes... The images are registered with respect to the point cloud. Could you please share if there are any examples?

[2020-09-27 06:42] zhixiongzuo opened #2379 "Big difference with remove_statistical_outlier on different device"
I use remove_statistical_outlier to do pointcloud outlier remove, but the results have a big difference on different device(remote server VS local server).
[code]
My pointcloud have 21.2million points, after outlier remove on remote server ,there is 21 million points with remote server, but 20.5 million points with local server.
The result of outlier remove on remote server is not good at on local

[2020-09-27 17:19] #2378 closed

[2020-09-27 17:29] Zumbalamambo opened #2380 "Proper way to merge point clouds"
I have got two point clouds. `1.pcd` and `2.pcd`. I have the homo generous matrix of both `1.pcd` and `2.pcd`. I'm trying to merge the point clouds into the same point cloud while utilizing the homo generous matrix of 2.pcd.

I'm using the following code to merge two different point clouds but the point cloud looks way far from each other.

[code]
The point cloud can be found [here](https://drive.

[2020-09-27 20:32] #2380 closed

[2020-09-27 20:57] g2ragrawal commented on #2380
this issue is closed but in future this might help to someone.
in ```o3d.visualization.draw_geometries([pcd])```
use ```o3d.visualization.draw_geometries(pcd1,pcd2])``` to combine two point cloud and visualize pcds.

[2020-09-28 07:05] griegler commented on #2379
Likely related to #2344

[2020-09-28 07:38] #2379 closed

[2020-09-28 17:46] hduonggithub commented on #2320
I have the same question too.

[2020-09-28 19:13] cygann opened #2385 "Open3D GUI module view controls"
Is there a way to modify the view/camera settings programmatically with the new GUI module? I would like to create some buttons that modify the view by moving left/right or zooming in/out, but I am having trouble figuring out how to do this. Any guidance would be appreciated!

[2020-09-28 20:25] Hyeon-Hoo opened #2386 "How can i complie Fast_Global_registration"
I have succeeded in build and I am trying to test fast_global_registration. but i got this error.
![Screenshot from 2020-09-29 05-21-53](https://user-images.githubusercontent.com/72046068/94482117-c2287e80-0213-11eb-93f8-d2e984679095.png)

I wrote [ g++ -std=gnu++11 FastGlobalRegistration.cpp ] in the terminal and changed #include <Eigen/Dense> to #include <eigen3/Eigen/Dense>.

[2020-09-28 20:56] #2374 closed

[2020-09-28 20:56] #2283 closed

[2020-09-29 01:57] Keudeugi opened #2388 "module 'open3d' has no attribute 'integration'"
_____

**Describe the bug**
Importing open3d.integration is not working in python binding.

**To Reproduce**
in terminal,
`python`
`from open3d import io` # this works
`from open3d import integration` # ImportError

**Expected behavior**
open3d.integration imported

**Screenshots**
![image](https://user-images.githubusercontent.com/9735077/94503881-7a6d1b80-0242-11eb-960b-115efdd6ed88.png)

**Envi

[2020-09-29 06:04] MengHao666 opened #2389 "AttributeError: module 'open3d' has no attribute 'compute_point_cloud_to_point_cloud_distance'"
**IMPORTANT: Please use the following template to report the bug.**
_____

**Describe the bug**
using open3d 0.9.0 and got such errors

[2020-09-29 06:07] MengHao666 commented on #1490
I don't know clearly what do u mean. How can I use such function again?

[2020-09-29 06:52] Zumbalamambo commented on #2380
@g2ragrawal that would not be enough. we must also implement icp and register them. If not fragments will be all over the place.

[2020-09-29 07:23] griegler commented on #2389
You are looking for http://www.open3d.org/docs/release/python_api/open3d.geometry.PointCloud.html#open3d.geometry.PointCloud.compute_point_cloud_distance

You can use it like `dists = src.compute_point_cloud_distance(tgt)` where `src` and `tgt` are `PointCloud` objects.

[2020-09-29 07:25] agporto commented on #2251
@griegler Is the next release still planned in the short term?

[2020-09-29 07:25] griegler commented on #2388
In the master branch (and for the upcoming release) `integration` moved into `pipelines. See [here](http://www.open3d.org/docs/latest/python_api/open3d.pipelines.integration.html).

`from open3d.pipelines import integration` should work.

[2020-09-29 07:27] griegler commented on #2251
Yes it is. Unfortunately, there are a few delays. Maybe @germanros1987 can give a more precise update.

[2020-09-29 07:32] suishicity opened #2390 "filter_smooth_laplacian fails"
**Describe the bug**
After smoothed by `filter_smooth_laplacian ` , mesh seems to be disappeared. The one-ring  vertices seems to collapse into one points.

**To Reproduce**

[code]

The surface area is about 1.0e-10

**Environment (please complete the following information):**

- Operating system: Windows 10 64-bit
- Python version:  Python 3.7
- Open3D version:  0.10.0.1
- Is this remote worksta

[2020-09-29 07:38] griegler commented on #2386
You can not simply use `g++` to compile. 1) The compiler does not know where to look for the header files and you will also miss the libraries for linking. 2) The file you try to compile does not have a main function, what are you trying to achieve?

[2020-09-29 07:43] griegler commented on #2390
That is expected behavior for Laplacian smoothing. See [here](http://graphics.stanford.edu/courses/cs468-12-spring/LectureSlides/06_smoothing.pdf) for a description. You can try to reduce the number of iterations, reduce `lambda`, or  use `filter_smooth_taubin` which does not suffer this problem.

[2020-09-29 07:51] MengHao666 commented on #2389
is that also the cloest distance as before？

                                sy1907502

                                    邮箱：sy1907502@buaa.edu.cn

        Signature is customized by Netease Mail Master

On 09/29/2020 15:23, Gernot wrote:
You are looking for http://www.open3d.org/docs/release/python_api/open3d.geometry.PointCloud.html#open3d.geometry.PointCloud.compute_point_cloud_distance
You c

[2020-09-29 08:25] #2390 closed

[2020-09-29 08:38] Keudeugi commented on #2388
open3d.pipelines.integration seemed work. Thanks. Closing issue.

[2020-09-29 08:38] #2388 closed

[2020-09-29 08:55] MySticalWing opened #2391 "io.read_triangle_mesh return non-empty TriangleMesh when read an empty file with .stl extensiuon"
**IMPORTANT: Please use the following template to report the bug.**
_____

**Describe the bug**
io.read_triangle_mesh return non-empty TriangleMesh when read an empty file with .stl extensiuon.

**To Reproduce**
Steps to reproduce the behavior:

1. create and emtpy file with stl extension: touch empty.stl
2. read created empty file by io.read_triangle_mesh:
[code]
3. See error

**Expected behavior

[2020-09-29 09:35] griegler commented on #2389
yes

[2020-09-29 09:40] s-agawane commented on #2280
Have you been able to figure this out :/?

[2020-09-29 15:29] nachovizzo opened #2395 "Is `#ifdef _OPENMP` really a must?"
This is a question I've been asking myself for a while. But as far as I understood, one does not really need this:
[code]

AFIK, the idea is that if the compiler doesn't know how to eat the `#pragma` then it will ignore. Or is it because this generates a warning?

So if I have this naive example
[code]

With this CMakeLists.txt
[code]

The only thing that the guard is preventing is this warning
[c

[2020-09-30 09:46] HollowHeartNet opened #2399 "Hole filling (also for large holes) and volume calculation"
Hi,

I suggest to add the features 'close holes' (also for large holes, without losing detail) and 'calculate volume' since it is also possible to calculate the area of the mesh. Many would benefit from these features. A closed model is necessary in order to determine the volume.

Thank you !
Best,
AR

[2020-09-30 11:49] nikola-j commented on #2006
A simple solution is to create the window **outside** the loop and **destroy** it after, also you have to **remove the previous geometry** every time eg:

[code]

[2020-09-30 13:07] tianty opened #2402 "How to Calculate the pixel in the camera view which a vertex in space project on"
Hello and thank you for the library!

I 'm quite new to using Open3d, and the library has so powerful functions. Now, I have a mesh of human face and I markered some vertices on it.  And I can set a camera to see it . Then I want to kown what can i do to put a texture image on the mesh and visualize it to save a new image.

Furthmore, How can I calculate the pixel in the image which correspond the

[2020-09-30 14:25] kongsgard commented on #2399
Seems like a pretty neat way of calculating the volume of a mesh is explained here:
https://stackoverflow.com/questions/1406029/how-to-calculate-the-volume-of-a-3d-mesh-object-the-surface-of-which-is-made-up
I could give it a try to implement it in Open3D!

[2020-09-30 17:03] JeremyBYU commented on #2157
I am also facing this same issue with a significant drop in fps for **0.10.0** compared to 0.9.0. I am providing a reproducible examples for both the meshes and code below.
Here is a zip file of 75 (small) meshes which will be loaded by the below script (455 KB): [o3d_slow_down.zip](https://github.com/intel-isl/Open3D/files/5307051/o3d_slow_down.zip)

Here is the script to load meshes. Simply inte

[2020-09-30 20:19] lqzhao commented on #2079
Hey, how did you solve the issue?

[2020-10-01 04:03] sandwich25 opened #2404 "compute_point_cloud_distance"
I have a question regarding compute_point_cloud_distance,
How does the point correspondence determined?

[2020-10-01 06:31] griegler commented on #2404
For each point in the target point cloud the index and distance to the closest point in the source point cloud is returned. https://github.com/intel-isl/Open3D/blob/master/cpp/open3d/geometry/PointCloud.cpp#L125

[2020-10-01 07:52] AmarR91 commented on #2399
@kongsgard I have also found this 'easy' formula. I would be more than happy if you could try to implement it. However, I don't know if this approach is also valid for arbitrary surfaces / bodies. Nevertheless, implementing this formula for volume calculation would be great. But as I mentioned, a closed surface is required. Therefore, I would be nice to have a feature that is able to close (large)

[2020-10-01 08:55] griegler commented on #2399
@AmarR91 do you have a specific algorithm in mind?

[2020-10-01 08:58] griegler commented on #2402
You can use textured meshes, eg. loading a obj with associated textures.
If you know already the 3D position of your vertex, you need to project it to 2D. [This](http://www.open3d.org/docs/release/python_api/open3d.visualization.ViewControl.html#open3d.visualization.ViewControl.convert_to_pinhole_camera_parameters) and [this](http://www.open3d.org/docs/release/python_api/open3d.camera.html#) shoul

[2020-10-01 08:59] griegler commented on #2395
Yes, the guard is only because of the warning. In the current build setup we regard warnings as errors.

[2020-10-01 09:04] AmarR91 commented on #2399
@griegler regarding hole filling algorithm I was thinking about this paper: http://www.cad.zju.edu.cn/home/hwlin/pdf_files/A-robust-hole-filling-algorithm-for-triangular-mesh.pdf
regarding volume calculation, in this paper a simple algorithm is proposed: http://chenlab.ece.cornell.edu/Publication/Cha/icip01_Cha.pdf

To be honest, I don't have the required programming skills in order to implement t

[2020-10-01 09:09] griegler commented on #2399
Thanks for the pointers @AmarR91 . We will keep them in mind and target them as soon as we have resources available.

[2020-10-01 09:12] tianty commented on #2402
Thank you for your quickly and useful answer!
I already kown the camera imaging principle. I ask this want to make sure the intrinsic matrix K and the rotation-translation matrix [R|t] is correct to projection. Because the rotation-translation matrix in trimesh is wrong in the world coordinate space.
And by the way, I want to kown the index of vertices in the obj file is same to the mesh in Open3D

[2020-10-01 09:21] pwais commented on #659
+1 I get a broken import as well (on HEAD)

[2020-10-01 09:24] griegler commented on #2402
The camera parameters that you get from the visualizer are valid. You can use [this](http://www.open3d.org/docs/release/python_api/open3d.camera.PinholeCameraParameters.html#open3d.camera.PinholeCameraParameters.intrinsic) to get the intrinsic parameters [object](http://www.open3d.org/docs/release/python_api/open3d.camera.PinholeCameraIntrinsic.html) to query principal point and focal length to se

[2020-10-01 09:44] AmarR91 commented on #2399
Your are welcome! Thanks for the effort. I am looking forward to it. 👍

[2020-10-01 09:56] nachovizzo commented on #2395
What if we add `-Wno-unknown-pragmas` to the C++ flags This disables the pragma warnings and will make the code more readable. I'm totally willing to make a PR for this since takes no brainpower.

Let me know what you guys think.

[2020-10-01 10:40] raphael2692 opened #2405 "[question] set estimation and convergence criteria parametes (python API)"
Hello,

i would like to change the last two parameters of the method `o3d.registration.registration_icp()`.

How do i set different values from those set in `open3d.registration.ICPConvergenceCriteria` and `open3d.registration.TransformationEstimatio`?

Thanks!

[2020-10-01 12:27] sandwich25 commented on #2404
Thanks!

[2020-10-01 12:27] #2404 closed

[2020-10-01 12:36] griegler commented on #2395
Looping in @yxlao

[2020-10-01 13:44] kongsgard commented on #2399
I could try to implement the hole filling algorithm too, if that's ok?
Seems like a fun challenge.

[2020-10-01 14:17] nachovizzo commented on #2395
@griegler @yxlao I just created a draft PR in case you want to have a look at how these changes would look

[2020-10-01 14:36] AmarR91 commented on #2399
@kongsgard that would be awesome!

[2020-10-01 14:38] derEskimo commented on #1715
Sorry, can't help, but I get this Error too:(

In my application i have a while loop showing something in Open3d then poping up a tkinter dialog.
It is running for two iterations then always crahes with the given X Error above.

I have also noticed that when I want to use matplotlib after a visualization by Open3d the error appears too.
Guess because it builds on tkinter.

My System is running Ubu

[2020-10-01 20:24] rajanidulal opened #2410 "Module not found error for Python GUI"
- Operating system: Windows 10 64-bit
- Python version: Python 3.6
- Is this remote workstation?:  no
- How did you install Open3D?:  build from source
- Cmake:  3.18.2

Hello, I am trying to run a file under examples/python/gui. It is giving me a module not found error for open3d.visualization.gui. Am I missing anything? Open3d is installed and open3d.visualization works for other files but not i

[2020-10-01 20:47] rajanidulal commented on #2284
Hello @cygann, I am trying to run vis-gui.py file. I am getting a module not found error for open3d.visualization.gui. Did you get any errors while running this py file? If so how did you solve it? I compiled the code from the source code.

![image](https://user-images.githubusercontent.com/56923694/94861411-19d60e00-03fd-11eb-9762-06b782a96088.png)

[2020-10-01 22:01] FreakTheMighty commented on #1972
@griegler I've opened a pull request for this feature.

[2020-10-01 23:32] cygann commented on #2342
@prewettg As an update, I built the most recent version of Open3D from source today on the same machine, and it now works as expected without the blackout behavior!

[2020-10-01 23:46] prewettg commented on #2342
Thanks for letting me know. Originally we turned off MSAA while manipulating the model, and I've verified that with Filament 1.4.5, setting no MSAA (samples=1) works, but with Filament 1.8.1 it does not. I did not have a chance to spelunk in Filament to figure out why, but a different change merged yesterday removed turning off MSAA while manipulating the model for other reasons, and has the side

[2020-10-01 23:46] #2342 closed

[2020-10-02 06:21] griegler commented on #2410
Can you post the output of your cmake.

[2020-10-02 06:21] griegler commented on #1972
Thanks @FreakTheMighty

[2020-10-02 10:28] yxlao commented on #2395
@nachovizzo sounds good

[2020-10-02 18:17] FreakTheMighty opened #2418 "SimplifyQuadricDecimation boundary weight"
**Is your feature request related to a problem? Please describe.**
When decimating preserving boundary vertices can help produce more visually pleasing results. Currently, no additional consideration is give to vertices that are on the boundary of a mesh.

**Describe the solution you'd like**
I would like to add a `boundary_weight` argument to `simplify_quadric_decimation`. The value would default

[2020-10-02 18:58] kongsgard commented on #2399
I encountered a problem on step 2 in the initial patch mesh generation:
"Step 2. Calculate the angle θi between two adjacent boundary edges(ei and ei+1) at each vertex vi on the front."

The smallest angle between the edges can be calculated with the dot product. However, the inner angle might be +180 degrees of that result if it is concave. Do you know of a method to solve this problem?

[2020-10-02 19:51] Belval opened #2421 ""Windows fatal exception: access violation" when using registration_colored_icp without normals"
**Describe the bug**

When running the colored ICP algorithm with point clouds that don't have normals, there is a "Windows fatal exception: access violation" raised.

**To Reproduce**

Here is my minimal test case:

[code]

**Expected behavior**

No access violation, proper message explaining that normals are required for this algorithm.

**Environment (please complete the following information):

[2020-10-02 21:21] rajanidulal commented on #2410
Yes, I can,

THIRD_PARTY_DOWNLOAD_DIR is not specified, will download directly.
No CMAKE_BUILD_TYPE specified, default to RelWithDebInfo
Open3D 0.10.1.0
Using python from PYTHON_EXECUTABLE variable: C:/Users/rajan/anaconda3/python.exe
(PYTHON_EXECUTABLE matches python from PATH)
Building library Assimp from source
Building with OpenMP
Building library 3rdparty_dirent from source (WIN32)
Building l

[2020-10-02 21:23] rajanidulal commented on #2410
Yes, I can.

THIRD_PARTY_DOWNLOAD_DIR is not specified, will download directly.
No CMAKE_BUILD_TYPE specified, default to RelWithDebInfo
Open3D 0.10.1.0
Using python from PYTHON_EXECUTABLE variable: C:/Users/rajan/anaconda3/python.exe
(PYTHON_EXECUTABLE matches python from PATH)
Building library Assimp from source
Building with OpenMP
Building library 3rdparty_dirent from source (WIN32)
Building l

[2020-10-03 11:02] #1972 closed

[2020-10-03 11:41] ucalyptus commented on #1259
@theNded what if I dont have an mtl file for my mesh, is there a Material=None kinda flag that suppresses this warning?

[2020-10-03 13:07] Hyeon-Hoo commented on #2386
I just want to run C/C++ files using g++/gcc, not using  build.

[2020-10-03 13:31] BiaoBiaoLi opened #2422 "when i use my own feature with o3d.registration.registration_ransac_based_on_feature_matching(),i can not get the correct result"

[2020-10-03 14:54] miroslavradojevic commented on #1912
[The answer above does the job](https://github.com/intel-isl/Open3D/issues/1912#issuecomment-639566769)
However I could not get to fix the color in the exported rendering, so that points are not colored based on colormap along X,Y, or Z values. I would like to make all points fixed color and independent of the X,Y or X value of the point.
Here is the snippet:
[code]
Changing the options for `vis.g

[2020-10-03 15:13] #2422 closed

[2020-10-04 00:08] yxlao commented on #2421
which line causes the error?

[2020-10-04 13:08] Belval commented on #2421
The last one. I take it you were not able to reproduce the issue?

[2020-10-04 16:16] #2395 closed

[2020-10-05 07:16] JairoJs opened #2426 "Module 'open3d.open3d_pybind.geometry' has no attribute 'keypoints'"
**IMPORTANT: Please use the following template to report the bug.**
_____

**Describe the bug**
When I try to run the example for calculating the ISS keypoints, an error message appears at line:
keypoints = o3d.geometry.keypoint.compute_iss_keypoints(pcd)
-pcd- being the point cloud.

**To Reproduce**
Steps to reproduce the behavior:

1. Copy/Paste armadillo example from http://www.open3d.org/docs

[2020-10-05 13:18] griegler commented on #2426
ISS has just recently been added and was not part of the `0.10.0` release. You can compile from source, or wait a bit for the next release.

[2020-10-05 13:20] griegler commented on #2386
Then you have to provide all the libraries and include directories to the compiler. But that might be cumbersome.

[2020-10-05 13:27] griegler commented on #2418
To determine the boundary edges you could use [`GetEdgeToTrianglesMap`](https://github.com/intel-isl/Open3D/blob/master/cpp/open3d/geometry/TriangleMesh.cpp#L1112). This method returns a `unordered_map` from edges (indicated by ordered indices) to all triangles that contain this edge. If an edge has just one triangle, it is a boundary edge.

[2020-10-05 14:27] griegler commented on #2399
Do I understand your problem correctly? You want to get the angle between two edges that is opposite to the triangles, but the dot product is ambiguous, because you don't know if it is the angle within the triangles, or outside. If yes, [this](https://math.stackexchange.com/questions/15164/find-the-angle-as-measured-in-counter-clock-wise-direction-between-two-edges?noredirect=1) might maybe help.

[2020-10-05 15:36] kongsgard commented on #2399
Yes, that's right.
The reference seems to only be valid in the 2D case (unless I'm missing something), so some sort of projection is needed (e.g. https://stackoverflow.com/questions/23814234/convert-3d-plane-to-2d). However, computing the normal of the plane spanned by the two edges also seems to be ambiguous. Is there a projection that doesn't require computation of the normal?

I'm using `HalfEd

[2020-10-05 17:19] FreakTheMighty commented on #2418
@griegler thanks for the tip. I just opened a pull request. It looks like there was already special handling of edges and weight applied based on the area of the edge triangle. I'm not entirely sure if its worth adding the parameter, but it allows the developer to entirely lock edges when used with `maximum_error` or further prioritize them.

Thoughts?

[2020-10-05 17:37] FreakTheMighty commented on #2418
I think this is proving to be a useful parameter. Finding the  correct values take some experimentation, but I am able to get a similar reduction with better visual quality.
[code]

![image](https://user-images.githubusercontent.com/247092/95112877-23b28680-0707-11eb-895e-e0ad1a032859.png)

[code]
![image](https://user-images.githubusercontent.com/247092/95112819-10072000-0707-11eb-97ca-cb8c4a326f

[2020-10-06 06:43] griegler commented on #2418
Thanks. It might be helpful to add a wireframe to the mesh if possible.

[2020-10-06 07:50] griegler commented on #2399
This should be helpful: https://stackoverflow.com/questions/63373785/how-to-calculate-the-inner-angles-of-a-3d-polygon

[2020-10-06 14:48] FreakTheMighty commented on #2418
@griegler posted wireframe samples below.
----
# Working samples
## Original

![image](https://user-images.githubusercontent.com/247092/95216472-b6126300-07b7-11eb-9575-9b214c2f5942.png)

## With boundary weight

![image](https://user-images.githubusercontent.com/247092/95216517-c32f5200-07b7-11eb-90cb-b34a7fc37a65.png)

## Without boundary weight

![image](https://user-images.githubusercontent.co

[2020-10-06 18:56] gonultasbu commented on #1164
Interesting issue, I have also noticed that when you capture an image by pressing "P" (or "D" for depth). The intrinsic matrix centers and camera resolution (H and W) do not agree. Which is probably caused by this check.

`	"intrinsic" :
	{
		"height" : 499,
		"intrinsic_matrix" :
		[
			432.14667648843493,
			0.0,
			0.0,
			0.0,
			432.14667648843493,
			0.0,
			549.5,
			249.0,
			1.0
		],
		"w

[2020-10-06 19:26] gonultasbu commented on #1164
@tfy14esa thank you for your effort!

Adding -0.5 as suggested above did not solve the problem for me either. Turns out the window size also has to match with the intrinsic parameters and resolution. As follows:

`viewer.create_window(width=width, height=height)`

[2020-10-06 19:35] gonultasbu commented on #567
New link is as follows if anyone is interested:

https://github.com/intel-isl/Open3D/blob/1860e75f820f60a4c84d441720020c1e7e4237a7/examples/python/visualization/load_save_viewpoint.py

[2020-10-07 01:56] kentaroy47 opened #2432 "[Question] Why is create_coordinate_frame in left hand coordinates?"
Looking at #1347, the open3d is in right hand coordinates as opencv.
But when we visualize `create_coordinate_frame`, the created axis is in left hand coordinate and I was confused.
![image](https://user-images.githubusercontent.com/39611941/95278717-c7c53a80-088b-11eb-81d4-e7fbdd7d3310.png)

Is this kind of habit in computer vision as well? Would be helpful if someone can point it out.

[2020-10-07 01:57] kentaroy47 opened #2433 "Why is create_coordinate_frame in left-hand coordinates?"
Looking at #1347, the open3d is in right hand coordinates as opencv.
But when we visualize `create_coordinate_frame`, the created axis is in left hand coordinate and I was confused.
![image](https://user-images.githubusercontent.com/39611941/95278717-c7c53a80-088b-11eb-81d4-e7fbdd7d3310.png)

Is this kind of habit in computer vision as well? Would be helpful if someone can point it out.

[2020-10-07 01:57] kentaroy47 commented on #2433
sorry created a duplicate.
closing this issue.

[2020-10-07 01:57] #2433 closed

[2020-10-07 02:14] #2432 closed

[2020-10-07 02:15] kentaroy47 commented on #2432
Sorry my misunderstanding.
Right-hand rule applies to rotations and not coordinates.

[2020-10-07 08:20] pwais commented on #2061
+1 `o3d.pipelines` -> `o3d` fixes a lot of code (e.g. the jupyter notebooks)

[2020-10-07 09:28] bigpehi opened #2436 "How can I draw a mesh and a point cloud in a same window?"
I want to draw a point cloud and a mesh in the same window, but my code seems doesn't work.
can you give me some clues? thank you in advance!
![image](https://user-images.githubusercontent.com/35166345/95312817-fbbb5280-08c1-11eb-934d-daeee16848a8.png)
![image](https://user-images.githubusercontent.com/35166345/95312843-05dd5100-08c2-11eb-821f-daa6f4078ee4.png)
my code:  o3d.visualization.draw_geo

[2020-10-07 09:31] wanderer799 opened #2437 "Is it possible to find area and Volume as a metric output for a Point Cloud File using Python"
Can we get a metric value as a output be it surface area or volume using Open3D library for Python.

[2020-10-07 09:44] yxlao commented on #2171
Now, the full ARM64 build pipeline (with `BUILD_GUI=OFF`) is supported on `master` and has been verified by our CI. Please see the `arm64` section of https://github.com/intel-isl/Open3D/blob/master/.github/workflows/openblas.yml as a reference for your build scripts.

@zendevil Are you using a virtualenv? This is likely caused by inconsistent python versions -- e.g. the python binary used for cmak

[2020-10-07 09:52] griegler commented on #2436
Could it be that the size of the point cloud is max larger than the mesh? What is the output of

[code]

If this is the problem, you can try to scale the mesh_frame (see [`size`](http://www.open3d.org/docs/release/python_api/open3d.geometry.TriangleMesh.html#open3d.geometry.TriangleMesh.create_coordinate_frame) parameter).

[2020-10-07 12:07] bigpehi commented on #2436
LoL, Why am I so stupid! Anyway, Thank you for your reply, I have solved my problem.🤝

[2020-10-07 12:09] #2436 closed

[2020-10-07 14:28] devshank3 commented on #1990
Hi @FLS-BP-US,

where you able to port L515 RGBD sequence for Open3D reconstruction ?

[2020-10-07 15:02] EvaKrassnig opened #2439 "Volume calculation (m³) of mesh"
I want to calculate the volume in cubic meters of an object, either directly from the point cloud or after creating a mesh (see example. Currently I use the pyntcloud library which has the possibility to create a convex hull and calculate the volume out of it:

#CONVERT OPEN3D TO PYNTCLOUD
cloud = PyntCloud.from_instance("open3d", mesh) #mesh is the mesh created by function TriangleMesh.create_fro

[2020-10-07 19:13] Fred3D-tech commented on #2171
to make it work, you need to install Archiconda?

[2020-10-07 20:06] kongsgard commented on #2399
That seemed promising, but I think the projection to the plane defined by the edge vertices is still ambiguous ([this](https://stackoverflow.com/a/23822086/14091969) is the best resource I've found, and it requires the plane vector as part of the computation).

An alternative approach could be to estimate the normal of the hole in the same manner as done for triangulation by ear clipping (the aver

[2020-10-07 22:26] cygann opened #2440 "Is there a way to change axis size in GUI module?"
I'm using the new GUI module and would like to show the axes on top of the visualization. `scene.scene.show_axes(True)` (Just like [here](https://github.com/intel-isl/Open3D/blob/7fcdd037eb5b074dbd4bed34f998d2f78bdbb389/examples/python/gui/vis-gui.py#L464)) toggles this on, but the size of the axes are quite massive and I was wondering if there was a way to scale it down. Thanks!

[2020-10-08 02:09] yxlao commented on #1909
Resolved by #2438, closing this issue.

The `-fno-builtin` approach mentioned by @zangel is used. It is also recommended by https://github.com/google/filament/issues/2875.

[2020-10-08 02:09] #1909 closed

[2020-10-08 05:16] pauljurczak opened #2441 "Ubuntu 18.04 build fails on assimp"
On Ubuntu 18.04.5 with g++ 8.4.0 building from master branch fails here:
[code]
I minimized configuration options and tried again with the same result.

[2020-10-08 05:33] femust commented on #1428
Same here

[2020-10-08 06:02] pauljurczak commented on #2441
BTW, I also tried to build from release version v0.10.0, but it crashes in a different spot:
[code]
Surprisingly when I disable `BUILD_QHULL` and `BUILD_TINYFILEDIALOGS` the configuration still reports dependencies not met:

![Screenshot from 2020-10-08 00-01-29](https://user-images.githubusercontent.com/4933032/95420851-75226780-08f9-11eb-9da4-a2ee4d10df56.png)

[2020-10-08 06:45] pauljurczak commented on #2441
I installed `nasm`, played with configuration settings and build went much further, but crashed here:
[code]
I have a fully functional g++ 8.4.0 build chain.

[2020-10-08 07:20] pauljurczak commented on #2441
After a lot of trial and error, I managed to build a configuration, unfortunately without GUI.
[code]

[2020-10-08 10:15] manhha1402 commented on #2441
I have the same issue when building from master branch

[2020-10-08 10:53] keithahern commented on #2061
I also had to change parameters in optimize_posegraph.py

"o3d" was passed as a parameter and was taking precedence over the o3d imports causing errors like:

AttributeError: 'str' object has no attribute 'utility'

renaming the attribute to o3d_ fixed it and the code ran successfully

[2020-10-08 18:42] prewettg commented on #2440
At the moment the length of the axes are computed automatically based on the bounds of the model (you can see the computation in Open3DScene::RecreateAxis() in `cpp/open3d/visualization/rendering/Open3DScene.cpp`. Right now the axes are the length of the longest dimension, or 25% of the distance of the center of the model from the origin. I suppose if your model is very flat, like a plywood board,

[2020-10-08 22:27] Zumbalamambo opened #2443 "Unable to capture depth image from the pointcloud"
I'm would like to capture the depth image from the point cloud. I'm using the following code to create the camera. I have ofcourse converted the cameramatrix in an open3d renderer compatible format..

[code]

Unfortunately, it throws the following error while trying to run convert the pinhole camera parameters,

`[Open3D WARNING] [ViewControl] ConvertFromPinholeCameraParameters() failed because wi

[2020-10-09 06:19] liuliu66 commented on #1516
@grigorovici-andreea Hi, have you solved this issue? How did you do in it?

[2020-10-09 08:18] griegler commented on #2443
The current visualizer does not support arbitrary principal points, but they have to fit the height and width of the window. This is a known issue and will be addressed in the new visualizer. See also #1164, #2036.

[2020-10-09 08:20] griegler commented on #2437
Duplicate of #2439.

[2020-10-09 08:20] #2437 closed

[2020-10-09 08:24] griegler commented on #2439
I have no idea about `pyntcloud`. You can compute the convex hull of a point cloud with open3d using this [function](http://www.open3d.org/docs/release/python_api/open3d.geometry.PointCloud.html#open3d.geometry.PointCloud.compute_convex_hull).
The volume of a watertight mesh (which the convex hull will be) can be computed with the recently merged method #2407 (note that you have to build open3d fr

[2020-10-09 08:25] griegler commented on #2418
Thanks for those examples. The last one looks like a bug. Would it be possible to share the mesh, then I could have a look at what might be happening.

[2020-10-09 08:35] Zumbalamambo commented on #2443
@griegler after going through those threads, I have created this method called `build_open3d_compat_camera_param` which does the same. Unfortunately, the error still persists. Not sure if I'm doing it right :(

Also  I have built open3d from source.   Which branch I must fork if this feature is available in any of the branches?

[2020-10-09 08:37] griegler commented on #2399
I do not think you need a projection to a plane? Imagine the plane (u_0, u_1, u_2) of the three vertices. Now you could construct a plane that is orthogonal to this plane and contains u_0 and u_2. Then, you can simply check on which side of the latter plane u_1 is to decide the angle. But if one of your proposes methods seems easier, then let's implement them. You can always create a couple of uni

[2020-10-09 08:49] suishicity opened #2444 "A mistake in TriangleMeshSimplification.cpp"
**Describe the bug**
I found a mistake in [TriangleMeshSimplification.cpp](https://github.com/intel-isl/Open3D/blob/1807774a3aaa23d54e5941a0db35234e11c5848e/cpp/open3d/geometry/TriangleMeshSimplification.cpp#L365). This mistake may not cause big problem. The  code is as follow
[code]
The  `costmid = Qbar.Eval(vbar)` shoud be `costmid = Qbar.Eval(vmid);`

**Environment (please complete the followin

[2020-10-09 11:32] #2418 closed

[2020-10-09 12:37] hy-son commented on #2441
I also have the same problem after following the official compiling tutorial:

[code]
The output of cmake:
[code]
My version of cmake is 3.17.3 and I'm not on Ubuntu but RedHat 7.8.

[2020-10-09 12:50] sebaFP opened #2446 "Get vertex at axis Z (0,0,z) in python"
Hello,
I want to know if is there a way to get the vertex index of the point nearest to z axis (like a raycasting) without using visualization (or using visualization but only code) using python.
The objective is start scanning using a reference, and later traslate the pointcloud using the coordinates of that reference but automatically.

Thank you!

[2020-10-09 14:55] 1939938853 opened #2447 "Open3D GUI scene add_geometry for box or line typ geometry?"
Hello,

I played a little Open3D\examples\python\GUI\vis-gui.py, added the following two lines, but no box shown. Anything wrong here? Might be something wrong with the 3rd argument?

Thank you!

` box = geometry.get_oriented_bounding_box()
  self._scene.scene.add_geometry("__box__", box, self.settings.material)
`

[2020-10-09 14:57] 1939938853 opened #2448 "Open3D GUI scene add_geometry for other type of geometry such as box and line etc?"
Hello,

I played a little Open3D\examples\python\GUI\vis-gui.py, added the following two lines, but no box shown. Anything wrong here? Might be something wrong with the 3rd argument?

Thank you!

` box = geometry.get_oriented_bounding_box()
  self._scene.scene.add_geometry("__box__", box, self.settings.material)
`

[2020-10-09 14:57] #2447 closed

[2020-10-09 15:51] FreakTheMighty commented on #2418
@griegler the archive contains a glb to test with. Should I create a new issue?

[mesh.zip](https://github.com/intel-isl/Open3D/files/5356025/mesh.zip)

[2020-10-09 16:57] BiaoBiaoLi opened #2450 "How can i change the dobule format of property x to float?thanks!!!!"
pcd = o3d.io.read_point_cloud("D:\PointCloud_DataSet\RedWood\loft\loft/mesh_0.ply")
points=np.asarray(pcd.points).astype(float)
pcd.points=o3d.open3d_pybind.utility.Vector3dVector(points)
o3d.io.write_point_cloud("D:\PointCloud_DataSet\RedWood\loft/mesh_0.ply", pcd, write_ascii=True, compressed=True)

mesh_0.ply
ply
format ascii 1.0
comment Created by Open3D
element vertex 128675
property double x

[2020-10-09 18:16] prewettg commented on #2385
Yes, you can. Open3D.scene.camera returns a open3d.visualization.rendering.Camera object. Currently it only supports some simple manipulations, like setting the perspective and the equivalent of gluLookAt. If you want more full-featured movement, you might be interested in open3d.visualization.gui.SceneWidget, which supports panning and zooming. (You can get details in the Open3D viewer app by doi

[2020-10-09 18:32] prewettg commented on #2353
It sounds like you are using a newer version of Dear ImGUI than we are. Do you have Dear ImGUI installed on your system for a different project? What is the output from cmake?

[2020-10-09 18:42] prewettg commented on #2345
It doesn't look like `draw_geometries()` automatically centers the camera on the bounding box of the geometry. However, you can use the optional `lookat`, `up`, `front`, and `zoom` parameters to `draw_geometries()` to configure the camera.

[2020-10-10 20:23] Fred3D-tech commented on #2171
ok I tried and it is still not working (I was not surprised)... Can you give a clear tutorial to make it work?

[2020-10-10 20:26] Fred3D-tech opened #2454 "trying to build from source on a Jetson Xavier Agx still not working.."
Using the last Xavier Jetson and the last instructions from Open3D forum, still unable to build a working Open3D library... give us a clear solution, be serious!
https://github.com/intel-isl/Open3D/blob/master/.github/workflows/openblas.yml IS NOT WORKING.

[2020-10-11 01:08] zqhfox opened #2456 "remote error: upload-pack: not our ref d41dc4dd74acce21fb210e7625d5d135751fa9e5"
git clone --recursive --branch ml-module https://github.com/intel-isl/Open3D.git

get error:

fatal: remote error: upload-pack: not our ref d41dc4dd74acce21fb210e7625d5d135751fa9e5
fatal: the remote end hung up unexpectedly
Fetched in submodule path '3rdparty/Eigen', but it did not contain d41dc4dd74acce21fb210e7625d5d135751fa9e5. Direct fetching of that commit failed.

[2020-10-11 10:30] griegler commented on #2446
You can use something like this

[code]

[2020-10-12 10:49] nachovizzo commented on #1638
I'm also struggling with textured meshes. Apparently, there was some regression at some point. Some time ago there was an example loading the `crate.obj` object under the test_data dir. Now if you try to load with the original visualizer it doesn't work anymore. With the new visualizer, it does work

## Old Visualizer
![image](https://user-images.githubusercontent.com/21349875/95738269-3be75000-0c

[2020-10-12 11:25] Zumbalamambo opened #2461 "Unable to create a RGBD image"
I'm using the following code to create RGBD image.

[code]

Are there any ways to convert the NumPy array to open3d format directly? It would be a nice feature to provide resize option as well.

[2020-10-12 16:21] Fred3D-tech commented on #2454
what is the correct procedure to use openblas.ylm? trying to build step by step, you get an error about open_blas variable not set..

[2020-10-12 18:43] griegler commented on #2461
Could you post the output of this snippet.

[code]

[2020-10-12 18:44] griegler commented on #2444
Thanks, that really seems to be a mistake. Could you open a PR with a fix?

[2020-10-12 18:47] griegler commented on #2443
The new visualizer is still under development, but is continually added to the master branch. See [this](https://github.com/intel-isl/Open3D/blob/master/examples/python/gui/vis-gui.py) example.

[2020-10-12 18:48] griegler commented on #2418
Thanks for the mesh. No need to open a new issue at the moment, I will look at it as soon as I find some time for it.

[2020-10-12 19:29] yxlao commented on #2454
The `openblas.yml` is working since it is verified by the CI. Use it as a reference only since it also contains CI-specific scripts.

I recommend getting the lastest master and follow https://github.com/intel-isl/Open3D/blob/master/docs/arm.rst steps. Please post the full error message that you get if you encounter any.

[2020-10-12 19:29] #2454 closed

[2020-10-12 19:32] yxlao commented on #2250
ARM64 is now supported. See the build guide at https://github.com/intel-isl/Open3D/blob/master/docs/arm.rst. If you encounter any problem, please create a new issue.

[2020-10-12 19:32] #2250 closed

[2020-10-12 19:33] yxlao commented on #2172
ARM64 is now supported. See the build guide at https://github.com/intel-isl/Open3D/blob/master/docs/arm.rst. If you encounter any problem, please create a new issue.

[2020-10-12 19:33] #2172 closed

[2020-10-12 19:34] yxlao commented on #2171
ARM64 is now supported. See the build guide at https://github.com/intel-isl/Open3D/blob/master/docs/arm.rst. If you encounter any problem, please create a new issue.

[2020-10-12 19:34] #2171 closed

[2020-10-12 19:36] yxlao commented on #2134
@AndreV84 regarding the forked repo, we're not providing support here. Please post the issues in the corresponding repository.

BTW, ARM64 is now supported. See the build guide at https://github.com/intel-isl/Open3D/blob/master/docs/arm.rst. If you encounter any problem, please create a new issue.

[2020-10-12 19:36] #2134 closed

[2020-10-12 19:36] yxlao commented on #1968
ARM64 is now supported. See the build guide at https://github.com/intel-isl/Open3D/blob/master/docs/arm.rst. If you encounter any problem, please create a new issue.

[2020-10-12 19:36] #1968 closed

[2020-10-12 19:43] yxlao commented on #2441
@pauljurczak did you do `git clone --recursive` or `git submodule update --init --recursive` if you have already cloned?

@pauljurczak regarding `/usr/bin/ld: cannot find -lc++`, it is related to filament build (with BUILD_GUI=ON), make sure you have https://github.com/intel-isl/Open3D/blob/2cce041736d7b47f87d2086bcf9bb83d077c016b/util/install_deps_ubuntu.sh#L21-L26 installed.

@hy-son we need the

[2020-10-12 19:44] yxlao commented on #2370
Closing as this has been reflected in the latest docs, see http://www.open3d.org/docs/latest/

[2020-10-12 19:44] #2370 closed

[2020-10-12 19:45] #2272 closed

[2020-10-12 20:04] Zumbalamambo commented on #1968
@yxlao nice job! Thank you.

[2020-10-12 20:05] Zumbalamambo commented on #2443
Thank you! I will try that approach

[2020-10-13 00:12] prewettg commented on #2163
It looks like ViewControl doesn't export the matrix-getting functions to python, unfortunately. However, you can call `convert_to_pinhole_camera()` and then `intrinsic_matrix`, `get_focal_length()`, `get_principle_point()`, and `get_skew()` to construct the matrix you need.

[2020-10-13 05:50] LuZaiJiaoXiaL opened #2464 "The output mesh (.obj) file does not have textures using crop function of open3d"
The input mesh is a .obj file with full textures. I want to crop it to get a part as an output. However, the output mesh (.obj) file does not have textures using crop function. Is there a solution to solve it?

key code_python

def seperate(tranglemesh):
        maxbox=tranglemesh.get_max_bound()
        minbox=tranglemesh.get_min_bound()
        crop_box=o3d.geometry.AxisAlignedBoundingBox([minbo

[2020-10-13 06:30] griegler commented on #2464
Unfortunately, most of the mesh processing functions do not consider textures (or material maps). This includes also the crop method at the moment. We have it on our list.

[2020-10-13 06:34] LuZaiJiaoXiaL commented on #2464
OK. Thank you. I see.

[2020-10-13 06:46] LuZaiJiaoXiaL commented on #2464
By the way, may I know if there are some other open-source tools or platforms, which can realize this case? @griegler Thanks.

[2020-10-13 07:21] pauljurczak commented on #2441
@yxlao
1. I used  `git clone --recursive`

2. Thanks for list of dependencies. Now it builds fine. Perhaps dependencies should be listed in build instructions.

3. The `assimp` build error is very cryptic, there is no useful context.

[2020-10-13 08:15] hy-son commented on #2441
@yxlao I just run  `cmake -DCMAKE_INSTALL_PREFIX=<open3d_install_directory> .. ` and the output was:
`[ 21%] Built target ext_assimp`
`make: *** [all] Error 2`
I'm not sure what do you mean by "the line that is actually showing the error message".

[2020-10-13 08:32] nanotuxi commented on #2134
@yxlao Thanks for your hard work. Can confirm that the new gui is working fine on the jetson nano with cuda 10.2

[2020-10-13 09:14] yxlao commented on #2441
@hy-son can you share the full terminal log and error message?

`make: *** [all] Error 2` is the error message summary. Typically there are some other actual error messages printed before this. If they are not showing up, use `make VERBOSE=1`.

[2020-10-13 11:01] mingyangpeng commented on #2441
via "git clone --recursive https://github.com/intel-isl/Open3D" ,I find the third party library incompatibility(due to them have update)
I hate the submodule, Why not provide matching third-party libraries.

[2020-10-13 11:37] EvaKrassnig commented on #2439
Hi, thank you for your help.
I am using Windows 10 and Visual Studio 2019, Python 3.8. I followed the steps to build from source for windows described here: http://www.open3d.org/docs/release/compilation.html#compilation-ubuntu-install
And could proceed with build and install until the step as shown in picture attached. By the way: I am using librealsense and if I try to build the CMake file with

[2020-10-13 13:09] griegler commented on #2439
@EvaKrassnig could you please open a new issue and flag it as build / install issue. Thanks.

[2020-10-13 14:07] EvaKrassnig commented on #2439
Ok, I will. Please leave this threat open in the meanwhile

[2020-10-13 14:13] EvaKrassnig opened #2465 "How to use compiled-from-source library? #buildissue"
I am using Windows 10 and Visual Studio 2019, Python 3.8. I followed the steps to build from source for windows described here: http://www.open3d.org/docs/release/compilation.html#compilation-ubuntu-install
And could proceed with build and install until the step as shown in picture attached. (By the way: I am using Intel D435 and if I try to build the CMake file with the librealsense library I get

[2020-10-13 15:35] griegler commented on #2464
Maybe vcglib https://github.com/cnr-isti-vclab/vcglib

[2020-10-13 16:19] EvaKrassnig commented on #2465
Thanks! This seems to work, I can see the function get_volume now. I will try out the function and close the issue after verifying.

[2020-10-13 17:16] 4nightmare opened #2467 "3D reconstruction and color + depth images from .bag file"
Hi,

I'm trying to make a 3D reconstruction of a scene with an Intel realsense 435i camera.

I used your "reconstruction system" (from your python examples) after having recorded images through the "realsense_recorder".
It worked really well, but i was wondering if **is it possible to reconstruct a scene directly from a .bag file?**
I ask that because I have some recording from which i'd like to c

[2020-10-13 17:46] Fred3D-tech opened #2468 "arm build for jetson Xavier"
I tried using  https://github.com/intel-isl/Open3D/blob/master/docs/arm.rst. And I got this result (as I got before):
[code]

I used these parameters:
cmake \
    -DCMAKE_BUILD_TYPE=Release \
    -DBUILD_SHARED_LIBS=ON \
    -DBUILD_CUDA_MODULE=ON \
    -DBUILD_GUI=ON \
    -DBUILD_TENSORFLOW_OPS=OFF \
    -DBUILD_PYTORCH_OPS=OFF \
    -DBUILD_UNIT_TESTS=ON \
    -DCMAKE_INSTALL_PREFIX=~/open3d_in

[2020-10-13 23:53] prewettg commented on #2156
Apologies for a late response. VisualizerWithVertexSelection allows users to select and unselect by rectangle, so for efficiency in determining if a point has already been selected we use a dictionary, rather than a list. Also, if you select by rectangle, the order those points should come in seems not well-defined. It looks like VisualizerWithEditing just appends the points to the list in the ord

[2020-10-14 03:47] LuZaiJiaoXiaL commented on #2464
OK. Thanks.

[2020-10-14 07:11] #2443 closed

[2020-10-14 07:12] #2461 closed

[2020-10-14 08:55] EvaKrassnig commented on #2465
Can you please check if the o3d.registration module is included? I get an error message that this module does not exist.

[2020-10-14 11:56] griegler commented on #2465
Please check the docs and make sure `latest` is active. `o3d.registration` has been moved to `o3d.pipelines.registration`. http://www.open3d.org/docs/latest/python_api/open3d.pipelines.registration.html

[2020-10-14 14:32] frk1993 opened #2471 "Curvature computation"
Hi guys,
Is there a function/method to compute curvature of the points?

Thanks

[2020-10-14 15:19] EvaKrassnig commented on #2439
@griegler Is there a possibility to create a watertight mesh out of poisson? Convex hull is too unprecise and I was looking for a function that closes a mesh with holes but could not find anything.

[2020-10-14 15:22] EvaKrassnig commented on #2465
Thank you, that works!

[2020-10-14 15:22] #2465 closed

[2020-10-14 16:27] yxlao commented on #2468
Looks like a dependency or system configuration issue. We have community users that were able to get it working on Jetson (including CUDA): https://github.com/intel-isl/Open3D/issues/2134#issuecomment-707583849

Did you install the dependencies?
[code]

What your output of the following commands? Is your compiler too new or too old?
[code]

Which compiler is picked up by cmake? Please provide the

[2020-10-14 16:32] yxlao commented on #2456
Please use `master`. As of today, the `ml-module` branch is out-dated, the last update was on Jun 20.

[2020-10-14 16:32] #2456 closed

[2020-10-14 17:40] Jiayuan-Gu opened #2472 "Not responding with many geometries"
**Describe the bug**
The interactive window is not responding when many geometries (>=400) are visualized.

**To Reproduce**
Steps to reproduce the behavior:

[code]

**Environment (please complete the following information):**

- Operating system: Ubuntu 18.04
- Python version: e.g. Python 3.7
- Open3D version: 10.0
- Is this remote workstation?: no
- How did you install Open3D?: pip

[2020-10-14 19:41] Fred3D-tech commented on #2468
no... your problem is the reference to CBLAS_LAYOUT layout.. with all the
dependencies installed it does not work.
If you use CBLAS_LAYOUT layout tell us how to install the CBLAS_LAYOUT
layout you need. You got any references to that.

On Wed, Oct 14, 2020 at 6:27 PM Yixing Lao <notifications@github.com> wrote:

[2020-10-15 02:49] yxlao commented on #2450
@ShubhamAgarwal12, #2377 can address the PLY read of arbitrary dtype, and we can have another PR to address the PLY write to arbitrary dtype.

[2020-10-15 03:19] BiaoBiaoLi commented on #2450
I use the python，Is it have the same fuction in python？
in the io.py,it only has this two functions:
read_point_cloud(filename, format='auto', remove_nan_points=True, remove_infinite_points=True, print_progress=False)
write_point_cloud(filename, pointcloud, write_ascii=False, compressed=False, print_progress=False)
I can not address the PLY read of arbitrary dtype.
thanks!

[2020-10-15 06:29] griegler commented on #2439
The mesh that you get from `create_from_point_cloud_poisson` should be watertight if you do not remove triangles with low densities?

[2020-10-15 06:31] griegler commented on #2471
No, at the moment there is no method for this. Would you be interested in contributing one with our help?

[2020-10-15 07:34] EvaKrassnig commented on #2439
Yes, it is watertight on the top, but I have an open Bottom which I do not know how to close. As shown in my example above I have the upper Shell, but if I turn it, the Bottom is open.
![Mesh_below](https://user-images.githubusercontent.com/71384423/96091219-9bcc3980-0ec9-11eb-80ee-3c8eaaa7a848.PNG)

[2020-10-15 07:37] frk1993 commented on #2471
Thank you for the quick response.

Yes, it would be great.

Thanks!

[2020-10-15 08:59] Pran-chole-kf opened #2478 "multiple synchronous kinects"
Hi
I was wondering if it is possible to use open3d in **python** to capture a scene using multiple **synchronized** and **calibrated** kinect azure cameras. I am trying to do segmentation on the images. so I would also need to map a segmentation mask from **2d(image) to 3d (pointcloud)**. Is this possible ?

1. synchronize and calibrate multiple cameras
2. map an image mask from 2D to 3D

thanks

[2020-10-15 10:31] lianghongzhuo opened #2479 "memory leak while loading stl file"
**Describe the bug**
when I load stl file generated from openscad I got `MemoryError: std::bad_alloc`
and try to run the same code on a server with 128 g memory, I found the memory is keeping increase and eventually fails to load stl file. Convert the stl file using meshlab can solve the problem.
**To Reproduce**
Steps to reproduce the behavior:

[code]
**Environment (please complete the following

[2020-10-15 10:45] lianghongzhuo commented on #2479
update: I tested another stl file with binary format, it works. However I still cannot import ascii format stl

[2020-10-15 11:38] cartacamilla opened #2480 "Cannot import name 'JVisualizer'"
**IMPORTANT: Please use the following template to report the bug.**
_____

**Describe the bug**
ImportError when trying to use JVisualizer

**To Reproduce**
Steps to reproduce the behavior:
Run `from open3d import JVisualizer`

**Expected behavior**
No error and visualization of pointclouds in Jupyter Notebooks

**Screenshots**
[The doc page also shows an error](http://www.open3d.org/docs/release/

[2020-10-15 11:46] cartacamilla commented on #2480
Related to #2289. I didn't see it beforehands.

[2020-10-15 11:46] #2480 closed

[2020-10-15 13:06] janulicny commented on #1550
Hi. Like Felipe mentions in the original post, the error is happening in Open3D versions prior to 0.9 as well, but it was failing silently in the  background. Since 0.9  the whole visualizer throws an error and shuts down.

On the screenshot below, you can see console print outs for running same script with 0.8 and 0.10.0.1 version.
On the left, GLFW fails several times. The errors are logged, but

[2020-10-15 15:57] aremazeilles opened #2481 "c++: load texture"
Hello
I am following the documentation for the [C++ interface](http://www.open3d.org/docs/release/tutorial/C++/cplusplus_interface.html#create-cplusplus-project), using provided file `TestVisualizer.cpp` which enables loading a mesh, using the line:

[code]
which I believe is the equivalent of the python function:

[code]

Now the python function loads as well the object texture, if I add in pytho

[2020-10-15 20:19] djl11 commented on #2313
You have the columns and rows mixed up in the trajectory.txt file, also you need to change the height and width like so:
`
vis.create_window(width=512, height=512)
`
See this [issue](https://github.com/intel-isl/Open3D/issues/1164) for more info

[2020-10-15 20:42] #2446 closed

[2020-10-15 20:45] sebaFP opened #2483 "Sample points from textured mesh"
Hi,
I need to generate a point cloud from a textured obj, I can generate it but without colors.
Can I generate a sample but getting vertex color from texture?
Thanks!

[2020-10-16 06:10] RamyaThanga commented on #2089
Is this issue fixed? Any update please?

[2020-10-16 06:11] griegler commented on #2483
Textures are not considered yet in `sample_point_cloud_*`. It shouldn't be hard to implement. Would you be interested in contributing a PR with our guidance?

[2020-10-16 06:28] nanotuxi opened #2487 "compile error on Debian GNU/Linux 10 (buster) Open3D v.0.11.0"
**Describe the bug**
Trying to compile Open3d from git (master) v0.11.0 in a python venv throws an error
related to
`Open3D/cpp/open3d/geometry/Line3D.h:117:9: error: ‘transform’ was not declared in this scope`

**To Reproduce**
1. Clone a fresh version of Open3d 0.11.0
`git clone --recursive https://github.com/intel-isl/Open3D`
2. cd Open3D && mkdir build && cd build
3. configure with `ccmake ..`

[2020-10-16 06:51] nanotuxi opened #2489 "python run_system.py config/realsense.json --make --register --refine --integrate on Debian 10 (Buster) doesn't work"
**Describe the bug**
running `.run_system.py config/realsense.json --make --register --refine --integrate` on Debian 10 (Buster) in a python virtual environment throws an error.
`Traceback (most recent call last):
  File "run_system.py", line 68, in <module>
    make_fragments.run(config)
  File "~/Open3D/examples/python/reconstruction_system/make_fragments.py", line 177, in run
    if config["pyt

[2020-10-16 07:46] zengletian1491 opened #2490 "The data fomat transformation from PCL to open3D"

[2020-10-16 08:09] yxlao commented on #2487
Looks like it is inherited from `Eigen::ParametrizedLine<double, 3>::transform()`. Added a potential fix in https://github.com/intel-isl/Open3D/pull/2491.

[2020-10-16 08:38] zengletian1491 opened #2493 "The data fomat transformation from PCL to open3D"
The format of the point cloud in open3D is similiar to that of the point cloud in PCL. I transform the "pcl::PointCloudpcl::PointXYZRGBNormal::Ptr src0" to "open3d::geometry::pointcloud pointcloud1"
but fail.

My c++ code is in the following:
// write point cloud from PCL format to open3D format

[code]

Hope someone can give me some suggestions. Thanks.

[2020-10-16 08:42] #2490 closed

[2020-10-16 09:28] MRzNone opened #2494 "Python2 crash on rotate on OrientedBoundingBox"
**IMPORTANT: Please use the following template to report the bug.**
_____

**Describe the bug**
Calling rotate on OrientedBoundingBox lead to crash

**To Reproduce**
![image](https://user-images.githubusercontent.com/8140868/96241462-0b3c3a80-0f57-11eb-82b5-c1cd63487347.png)

**Expected behavior**
This should rotate the box

**Environment (please complete the following information):**

- Operating

[2020-10-16 09:54] yxlao commented on #2494
Python 2 is no longer supported. We recommend updating to Python 3+ and Open3D 0.10.0+.

[2020-10-16 09:54] #2494 closed

[2020-10-16 09:55] yxlao commented on #2441
@mingyangpeng if you run into problems with submodule, try `git submodule init --update --recursive`, or, simply start from scratch and clone again.

[2020-10-16 09:55] #2441 closed

[2020-10-16 09:55] yxlao commented on #2360
@yurivict @ForceFaction use https://pypi.org/project/open3d/ but not https://pypi.org/project/open3d-python

[2020-10-16 09:55] #2360 closed

[2020-10-16 10:02] MRzNone commented on #2494
Is there a version that is working with python2?  I have to use python2 for a project.

[2020-10-16 10:54] nanotuxi commented on #2487
Thanks.

[2020-10-16 11:11] nanotuxi commented on #2487
With your PR #2491 it does not compile. Only changing
`transform(t);` to `Tansform(t);` lets the source compile.
[code]

[2020-10-16 20:20] tpwrules commented on #1885
I'm having this probelm too. @Zumbalamambo that does not support editing so it does not help me.

[2020-10-16 20:46] ForceFaction opened #2498 "No source release for open3d 0.10.0.1"
As it's not possible to comment on #2360 anymore, i need to open a new Ticket.

In #2360 it's suggested to use another link to the project's PyPi site. This was not the problem i meant there. If you compare with for example https://pypi.org/project/numpy/#files you can see that they offer a source package, besides the wheel packages. This is missing for open3d and necessary if a user wants to buil

[2020-10-17 01:40] #2487 closed

[2020-10-17 02:36] BiaoBiaoLi commented on #2450
I also want to know how to change the point_cloud to mesh，thanks

[2020-10-17 10:29] NomitRwt opened #2504 "AttributeError: module 'open3d' has no attribute 'core'"
Error:
AttributeError: module 'open3d' has no attribute 'core'

To Reproduce:
If you have google account then open google colab
1. !pip install addict
2. !pip install open3d
3. import open3d

Expected behavior
It was running successfully yesterday and also addict was not required.

[2020-10-17 13:19] zengletian1491 commented on #2493
Is there anyone who knows the answer to the question？Please give me some suggestions if you know.

[2020-10-17 15:02] benjaminum commented on #2504
Can you try this?
[code]

BTW, do you know how to reset google colab? _Factory reset runtime_ does not clean up everything for me (packages are still installed after reset).

[2020-10-17 15:46] NomitRwt commented on #2504
@benjaminum seems to be working now. I am not sure about reset option. You can check [FAQ](https://research.google.com/colaboratory/faq.html#:~:text=Selecting%20Runtime%20%3E%20Factory%20reset%20runtime,or%20installation%20of%20incompatible%20software.). Thanks!

[2020-10-17 15:46] #2504 closed

[2020-10-17 17:32] juxiangwu opened #2505 "ImportError: RobustKernel: PyType_Ready failed"
after building and installing open3d with python 3.7.4,get errors while import open3d package:

[code]

Here is the CMake configuration:

[code]

[2020-10-18 07:20] yxlao commented on #2498
Thanks @ForceFaction for the clarification.

In fact, the build steps for Open3D involves 3rd-party libraries, CUDA (if enabled), TensorFlow/PyTorch (if ML is enabled), etc. This makes putting all source code in the PyPi package a bit convoluted. We recommend checking out the source code directly and build using the [v0.11 guide](http://www.open3d.org/docs/release/compilation.html) or [v0.10 guide

[2020-10-18 08:48] yxlao commented on #2493
@zengletian1491 I guess the key is to extract PCL values for `x, y, z, nx, ny, nz, r, g, b`, for which you can refer to PCL documentations.

Once you have `x, y, z, nx, ny, nz, r, g, b` as doubles, then `open3d::geometry::PointCloud` are just `std::vector<Eigen::Vector3d>`, so you can do

[code]

[2020-10-18 08:48] #2493 closed

[2020-10-18 09:30] yxlao commented on #2505
I don't have this issue on Windows. From the error message, it could be possible that the docstrings contain non-ascii characters and it could fail for some system.

We would need your help to debug it. First, let's try if removing the docstring fixes the problem. Could you checkout https://github.com/intel-isl/Open3D/tree/yixing/i-2505 and see if it works?

[2020-10-18 09:31] yxlao commented on #2498
BTW, can't you comment in a closed issue?

[2020-10-18 10:22] yxlao commented on #2479
Yes, the current STL reader assumes binary format. Added a fix in #2506

[2020-10-18 10:35] yxlao commented on #2450
We don't have the conversion function right now, as all of the pcd and mesh data are stored in double. But, soon we will add this functionality.

If you simply want the points and the vertices in mesh, simply do `my_mesh.vertices_ = pcd.points_`. However, this will not give you any triangles. If you need a mesh with triangles, see [surface reconstruction](http://www.open3d.org/docs/release/tutoria

[2020-10-18 10:40] manhha1402 commented on #2487
I have the same issue with the PR https://github.com/intel-isl/Open3D/pull/2491 building on zotac. Changing `this->transform(t)` to `this->Transform(t)` fix problem

[2020-10-18 11:02] lianghongzhuo commented on #2479
Thanks!

[2020-10-18 12:48] ForceFaction commented on #2498
Hm okay i see, that's what i have to do then :smile:

Not sure if i can, it was late and maybe i just didn't see correctly, sorry...

[2020-10-19 01:22] nawara72 opened #2507 "Open3d 0.11.0 (with PyTorch/CUDA) built failed on windows"
Hi
I have 2 issues and would appreciate your help

- I am trying to build open3d0.11.0 from source on windows using visual studio 2019
Get the following error,

15>C:\Program Files\Open3D-0.11.0\cpp\open3d/core/Atomic.h(44,48): error C2664: 'long _InterlockedExchangeAdd(volatile long *,long)': cannot convert argument 1 from 'uint32_t *' to 'volatile long *' (compiling source file C:\Program Files\

[2020-10-19 02:20] RussTedrake opened #2508 "release 11.0 pip missing sklearn dependency?"
**Describe the bug**
It appears that open3d has gained `sklearn` as a dependency (which doesn't seem great), and that it is undeclared in `pip`?  My mac CI went down as soon as you released.
[code]

**Environment (please complete the following information):**

- Operating system: (e.g. OSX 10.15, Ubuntu 18.04, Windows 10 64-bit)
- Python version: (e.g. Python 3.8)
- Open3D version: 11.0
- Is this

[2020-10-19 02:24] RussTedrake opened #2509 "release 11.0 pip is (also) broken on google colab."
**Describe the bug**
[code]

**To Reproduce**
[here is a notebook](https://colab.research.google.com/drive/1JpQ_90_jqX_dmFgZ5AAZ4gItx7a1aqf_#scrollTo=Fz00agxXp4CC)
[code]

**Environment (please complete the following information):**

Google Colab
Open3D version 11.0

[2020-10-19 02:25] RussTedrake commented on #2509
Ah, I see now this was noticed and closed in #2504.  But I would expect `pip install open3d` to work by itself, no?

[2020-10-19 05:42] benjaminum commented on #2509
Yes, let's keep this issue open until the problem is resolved.

[2020-10-19 05:46] benjaminum commented on #2508
Same problem as in #2509. Some dependencies are missing after pip install.

[2020-10-19 05:58] benjaminum commented on #2507
Yes, the ML part is not included in the windows wheel at the moment due to some problems building the operators for Tensorflow. If you do not need the ML operators you can try to build without them.
The models for torch in Open3D-ML do not depend on them.

Another workaround would be to use the Windows Subsystem for Linux WSL with the Linux wheels.

[2020-10-19 07:23] griegler commented on #2439
@kongsgard is currently working on a hole filling algorithm #2460 that might be useful in that case.

[2020-10-19 07:39] nanotuxi commented on #2487
@manhha1402 Ooops, yes. Thanks thanks for correcting me ;-) I simply forgot (-> this)

[2020-10-19 08:25] jeffmm opened #2510 "OBJs with multiple materials no longer supported in 0.11?"
**Describe the bug**
Open3D 0.10.X was capable of loading OBJ files that had multiple materials per object. After compiling Open3D from source and installing the pip version, I've found that 0.11.0 is unable to do so.

I didn't see this in the changelog and I'm curious whether this feature was removed intentionally or why the choice was made and whether it can be easily re-implemented.

**To Repro

[2020-10-19 17:44] Me817 opened #2511 "Only Point Clouds in Grayscale after recording with azure_kinect_recorder.py"
Hello,

**Describe the bug**
I recorded some data with the azure_kinect_recorder.py and tried to visualize them in the Open3D Visualizer. Unfortunately all my point clouds are visualized without color just in grayscale. I tried every combination of color resolution and depht mode. But evertime the same problem occurs. The depth or the relations in height and width of the object shown in the point

[2020-10-19 18:16] Me817 commented on #2511
With the script provided by @kaixin-bai I can visualize the point cloud I capture by this script with the right colors. BUt I do not know how to transfer it on my code. Does anybody have an idea?
Thank you in advance.

[2020-10-19 19:11] jeffmm commented on #2510
The functionality was broken not that long ago in PR #2132. Changing one line of code restores the feature:

In `cpp/open3d/io/TriangleMeshIO.cpp`,
replace `{"obj", ReadTriangleMeshUsingASSIMP},`
with `{"obj", ReadTriangleMeshFromOBJ},`

and everything works fine when compiling on Ubuntu with headless rendering enabled (ie, I'm able to generate images of a textured mesh from an OBJ that has multip

[2020-10-19 20:50] FLS-BP-US commented on #1990
No, I believe there is an issue with depth units.  The D4xx uses 0.001m and
the L515 uses 0.00025m.  I tried scaling the L515's depth output but it
doesn't give usable results.

On Wed, Oct 7, 2020 at 8:28 AM Shankar Hariharan K <notifications@github.com>
wrote:

[2020-10-20 00:05] #2498 closed

[2020-10-20 03:46] zengletian1491 commented on #2493
The data format of open3D can be found at http://www.open3d.org/docs/release/tutorial/geometry/file_io.html
The point cloud data transformation from PCL to open3D can be implemented by “pcd” format used in PCL.

[2020-10-20 06:24] nawara72 commented on #2507
I have switched ML and cuda off, but i keep getting errors.
Eg
geometry\Line3D.h(117,9): error C3861: 'transform': identifier not found

I had no issues with previous versions of Open3D
Any ideas how to fix?

Thanks

[2020-10-20 07:12] juxiangwu commented on #2505
@yxlao it works

[2020-10-20 07:21] yxlao commented on #2505
Thanks @juxiangwu , that's very helpful.

Since this issue only occurs in some system setup, could you try to identify which letter or letters are causing the problem? For instance, start from https://github.com/intel-isl/Open3D/tree/yixing/i-2505, and then gradually add back the deleted docstrings until it fails. By using a "binary search" approach, you should be able to identify the culprit.

We

[2020-10-20 08:24] lantica commented on #2508
I have a similar issue with this, but what i missing is torch instead of sklearn.

[2020-10-20 13:40] Sreerag-ibtl opened #2516 "No makefile is generated when compiling on Jetson Nano"
**IMPORTANT: Please use the following template to report the bug.**
_____

I am following [this](http://www.open3d.org/docs/release/arm.html#nvidia-jetson) official doc to compile Open3D in Jetson Nano. But when I run cmake from the build directory, no makefile is generated and hence no further process can be done. My CMake version 3.18 installed via pip.

**To Reproduce**
Steps to reproduce the b

[2020-10-20 16:42] #2080 closed

[2020-10-20 17:28] prewettg commented on #2147
We do not have a widget for a colorbar such as in the image above. If you are exporting to an image, you could get a colorbar by drawing it onto the image using PIL (Python Imaging Library) or something like that.

[2020-10-20 17:28] #2147 closed

[2020-10-20 17:33] #2029 closed

[2020-10-20 17:33] #2345 closed

[2020-10-20 17:34] #2156 closed

[2020-10-20 17:36] EricCousineau-TRI opened #2518 "open3d==0.11.0 on Ubuntu 18.04: "libc++.so.1: cannot open shared object file: No such file or directory""
**Describe the bug**
Release 0.11.0 seems to fail when trying to import :( Encountered by @naveenoid
May relate other release issues (#2509 #2508) - FYI @russtedrake

**To Reproduce**
Steps to reproduce the behavior:

[code]

**Expected behavior**
It works?

**Screenshots**
N/A

**Environment (please complete the following information):**

- Operating system: Ubuntu 18.04
- Python version: Python

[2020-10-20 17:47] Fred3D-tech commented on #2468
you can't close an issue when it is still not working.. and your arm build is still not working.
I just tested it again tonight and it is still not working.

All of the dependencies are installed.

(base) fred@fred-desktop:~/Open3D/build$ g++ --version
g++ (Ubuntu/Linaro 7.5.0-3ubuntu1~18.04) 7.5.0
Copyright (C) 2017 Free Software Foundation, Inc.
This is free software; see the source for copying

[2020-10-20 17:50] Fred3D-tech opened #2519 "ARM build Jetson Xavier still not working."
You closed an issue without solving it.
Information needed:
All of the dependencies are installed.

(base) fred@fred-desktop:~/Open3D/build$ g++ --version
g++ (Ubuntu/Linaro 7.5.0-3ubuntu1~18.04) 7.5.0
Copyright (C) 2017 Free Software Foundation, Inc.
This is free software; see the source for copying conditions.  There is NO
warranty; not even for MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOS

[2020-10-20 17:51] Fred3D-tech commented on #2519
what is this reference to CBLAS_LAYOUT ?

[2020-10-20 18:08] Fred3D-tech commented on #2519
it looks like there a cblas dependency should be installed.

[2020-10-20 21:28] jwnimmer-tri commented on #2518
This is related to #2420.

As a work-around, adding `env LD_LIBRARY_PATH=lib/python3.6/site-packages/open3d` before `bin/python` resolves the loading error for me.  After also installing some more missing pip stuff (torch, etc.), I get `0.11.0` printed successfully.

The bug is that the `glob()`s are wrong:

https://github.com/intel-isl/Open3D/blob/v0.11.0/python/open3d/__init__.py#L54-L55

The fi

[2020-10-20 21:28] prewettg commented on #2448
The new renderer can only render triangle meshes, line sets, and point clouds at the moment. The result of `get_oriented_bounding_box()` is a `open3d.geometry.OrientedBoundingBox`, which can be converted to a LineSet with `open3d.geometry.LineSet.create_from_oriented_bounding_box()`. I've created a fix, which should be in the master branch in a day or two. You might also want to use an unlit mater

[2020-10-20 21:28] #2448 closed

[2020-10-20 21:31] #2385 closed

[2020-10-20 22:21] botach opened #2522 "'compute_rgbd_odometry' returns different transformation matrices on different platforms"
**EDITED  - After more debugging I edited the bug description**

**Describe the bug**
The function 'compute_rgbd_odometry' (under open3d.pipelines.odometry) returns two different transformation matrices on different platforms.
On the first platform, a MacBook Pro 16, the transformation matrix is precise and everything works fine, and the same result was reproduced on an Ubuntu 18.04 machine. On th

[2020-10-20 22:40] prewettg commented on #2157
Can you try the prewettg/fix_n2_draw_geometries branch (or master if #2523 is merged)? It looks like a very unfortunate and incorrect merge conflict resolution left us adding n^2 geometries, which would be fairly catastrophic in your 75 mesh example.

[2020-10-20 22:41] prewettg commented on #2472
A very unfortunate and incorrect merge conflict resolution some time ago left us adding n^2 geometries. #2523 restores back to the requested number of geometries, which fixes this issue.

[2020-10-20 22:41] #2472 closed

[2020-10-20 22:52] JeremyBYU commented on #2157
Hey @prewettg thanks for suggesting this fix. I am almost positive that this is **my** issue as well. I will try and test this out sometime this week, but will have to compile from scratch and will probably only test on Ubuntu 18.04.

Note that I am not sure if this is the same issue that @keithahern is facing.

[2020-10-20 22:55] prewettg commented on #1885
This is not possible from Python at the moment. We are currently redesigning how the visualizers and draw_geometries work so that they can use the new GUI and rendering frameworks, planned for 0.12.0.

[2020-10-21 01:31] pablospe commented on #2190
Reusing this question. I see there is a new gui interface using filament. Here there is an example:
https://github.com/intel-isl/Open3D/blob/master/examples/python/gui/render-to-image.py

Is there a way to obtain the depth maps (similar to what `capture_depth_float_buffer` is doing) using this new interface?

[2020-10-21 02:51] prewettg commented on #2135
The python interface to the new GUI is now available in 0.11. You can change the point size with the `point_size` field of the material. Here is a simple example:
[code]

[2020-10-21 02:52] #2135 closed

[2020-10-21 03:03] #2157 closed

[2020-10-21 03:15] zengletian1491 commented on #849
How do you solve this problem finally？

[2020-10-21 03:21] Sreerag-ibtl commented on #2516
I solved this by uninstalling CMake from PyPi and installing from snappy. Also to bypass the compiler errors I had to change the project command in cmakelist to project(Open3D).

[2020-10-21 03:21] #2516 closed

[2020-10-21 03:52] zengletian1491 commented on #823
I have the same problem as you. How do you solve this problem finally? Thanks.

[2020-10-21 04:07] zengletian1491 commented on #823
I have the same problem as you. How do you solve this problem finally? Thanks. @jeongjoonpark

[2020-10-21 06:24] B5paper commented on #2345
It seems that there are some bugs when using the middle wheel to zoom the view. I have tried `view_ctl = visualizer.get_view_control()` and `view_ctl.set_zoom(20)` to see all the rectangles, however, when I use the middle wheel to resize the view, the view is restored to its initial state.

[2020-10-21 09:57] ItayKishon opened #2525 "Vector3iVector & Vector4iVector in python"
**Describe the bug**
Originally, I was trying to create a pointcloud from a (n,4) numpy array using Vector4iVector, with no success.
Upon further investigation, is seems that Vector3iVector (i.e. (n,3)) is behaving the same, with a similar error message.

**To Reproduce**
[code]
[code]
(working successfully, I can see the pointcloud)

[code]

Error:

[code]

Error:

**Expected behavior**
A similar

[2020-10-21 11:07] Me817 opened #2526 "Question: What is the difference between o3d.io.capture_frame() and o3d.io.record_frame()?"
Hello,
I tried the script provided by @kaixin-bai in #1437 and I get one coloured point cloud. But I would like to record a sequence of coloured point clouds not only one as you can do with azure_kinect_recorder.py. I saw that @kaixin-bai uses the function o3d.io.capture_frame() instead of o3d.io.record_frame() Open3D is using in their azure_kinect_recorder.py. What is the difference between o3d.i

[2020-10-21 13:06] errissa commented on #2190
@pablospe Not currently but it is on our roadmap for the next release.

[2020-10-21 13:29] anmakon commented on #1887
Hi,

are there any updates on this problem? I do have a similar issue.

**Setup description:**
I have a mug lying on a table and take a depth image from an overhead camera. I reproject the points from the depth image into a pcd. The points at the table plane are evenly spaced and I set all point normals pointing upwards and being perpendicular to the table. The resulting pcd and the normals can be

[2020-10-21 13:46] ItayKishon opened #2528 "Alpha/Opacity channel?"
Hi,

Is there a way to use an alpha (opacity) channel?

Specifically, I have _complete_ 3D raster data of a volume (i.e. all x*y*z voxels) , where each voxel has some intensity level. I want to visualize it using some sort of transparency channel, as using simple RGB values would practically block everything but the outside facets.
Alternatively, is it possible to use the voxel's radius for that?

[2020-10-21 14:13] pablospe commented on #2190
@errissa Thanks for the reply!

One more question related to this topic. What about the equivalent to `ViewControl::ConvertFromPinholeCameraParameters`? Now I see it is possible to configure the camera with `render.scene.camera` but only in an opengl way (look_at, etc.) instead of pinhole camera parameters.

Anyways I could use some code similar to:
https://github.com/intel-isl/Open3D/blob/414a67a

[2020-10-21 14:33] errissa commented on #2190
@pablospe You are correct about the limitation on configuring the camera in the new rendering pipeline. We are currently working on allowing it to be configured with camera intrinsics.

Regarding a PR, we are, of course, always happy to receive contributions. The original visualizer will be removed it some point in the future but I am not certain how long from now. I will find out.

[2020-10-21 15:02] pablospe commented on #2190
Ok, I will make a clean version of this function and also add the python wrapper call.

[2020-10-21 17:49] Fred3D-tech commented on #2519
using before sudo apt-get install lsb-core
you get :

(base) fred@fred-desktop:~$ lsb_release -a
LSB Version:	core-9.20170808ubuntu1-noarch:security-9.20170808ubuntu1-noarch
Distributor ID:	Ubuntu
Description:	Ubuntu 18.04.5 LTS
Release:	18.04
Codename:	bionic

but it does not change anything.
I still get this error:
[ 43%] Building CXX object cpp/open3d/geometry/CMakeFiles/geometry.dir/PointCloud

[2020-10-21 18:12] yxlao commented on #2519
This is a problem related to a specific system configuration. Try starting from a fresh OS. We cannot provide support for a specific configuration.

If you like us to look further into it, please provide a `Dockerfile` base on `arm64v8/ubuntu:18.04` containing all of your build scripts. See https://www.stereolabs.com/docs/docker/building-arm-container-on-x86/ and https://hub.docker.com/r/arm64v8/u

[2020-10-21 18:37] Fred3D-tech commented on #2519
it IS NOT a specific system configuration. It is a basic fresh install configuration. And your install is just not working. Once again, you are just not serious.

[2020-10-21 19:03] #2518 closed

[2020-10-21 20:30] zapaishchykova opened #2529 "Assess the depth buffer of pointcloud in a same way as color pcd.colors"
Currently, I am trying to reproject one camera view into another with something like:
`t = source_pcd.transform(transformation)`
But now, when I project the pcd into 2d, I can get the transformed color values, but not the depth buffer. Is there any way to access it?

The code for the reprojection looks like:
[code]

[2020-10-21 22:58] prewettg commented on #2320
The GUI module does not have facilities for registering key callbacks at the moment, but it is easy to add a menu item or button, both of which have callbacks when triggered, would that work for your use case?

[2020-10-21 23:09] hduonggithub commented on #2320
@prewettg

I am eager to know how to do that. Can you please give a hint or example code to do that. Python or C++ is fine. Thanks!

[2020-10-21 23:28] prewettg commented on #1161
0.11 has been released and has python bindings for using the new rendering system. It comes with several examples, with [examples/python/gui/vis-gui.py](https://github.com/intel-isl/Open3D/blob/master/examples/python/GUI/vis-gui.py) being the most full-featured. Mixing user interface elements and OpenGL has never been a simple process, and as a team we decided to use package Dear ImGUI into our ow

[2020-10-21 23:28] #1161 closed

[2020-10-22 00:54] prewettg commented on #2320
Check out the examples in `examples/python/gui`. [add-geometry.py](https://github.com/intel-isl/Open3D/blob/master/examples/python/gui/add-geometry.py) is a simple example with menu items, and [vis-gui.py](https://github.com/intel-isl/Open3D/blob/master/examples/python/gui/vis-gui.py) is essentially a python implementation of the viewer app, so it is pretty full-featured, but much less simple. One

[2020-10-22 00:59] prewettg commented on #1893
We will be working on a revamped visualizer architecture using the new GUI for 0.12. Would the solution described in #2320 work for you? (See the `examples/python/gui` directory for examples)

[2020-10-22 01:04] prewettg commented on #1929
I'm not sure that Qt and the 0.10 visualizer will work together since they use different run loops, and we have no plans to integrate with Qt. However, we release an improved renderer and a GUI framework native to Open3D in 0.11. The [add-geometry.py](https://github.com/intel-isl/Open3D/blob/master/examples/python/gui/add-geometry.py) example shows two different ways of adding geometry using the n

[2020-10-22 01:04] #1929 closed

[2020-10-22 02:42] yd-yin commented on #823
I don't remember clearly. But the error is just because of the range of
depth. There's a truncation of depth somewhere in the code, and if your
depth is larger than the threshold, the error appears.

zengletian1491 <notifications@github.com> 于2020年10月21日周三 下午12:07写道：

[2020-10-22 11:02] zengletian1491 commented on #823
OK! Thanks a lot. @yd-yin

[2020-10-22 11:02] sanskar107 commented on #2525
We only support (n, 3) arrays for `pcl.points`. Anyway you can use `Vector3dVector` for integer types as well.

[2020-10-22 11:20] ItayKishon commented on #2525
Thank you.
Do I understand correctly, that (n,3) are essentially z per each (x,y)?
If so, how can I implement any set of (x,y,z), meaning different z's for the same (x,y) ?

[2020-10-22 12:16] sanskar107 commented on #2525
yes, `(x, y, z)` are 3d coordinates of points in a pointcloud.

[2020-10-22 14:59] ch-sa opened #2531 "OSError: libc++.so.1: cannot open shared object file: No such file or directory (Since v0.11)"
**Describe the bug**
I installed Open3D in my conda environment using pip. When running python and trying to import Open3D, I get the following error:

[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Create a conda environment with python 3.6.12.
2. Install Open3D with pip `pip install Open3D`
3. Run python and `import open3d`

**Expected behavior**
I expected a successful import of

[2020-10-22 15:21] NomitRwt commented on #2531
You can check [#2518](https://github.com/intel-isl/Open3D/issues/2518) [#2420](https://github.com/intel-isl/Open3D/pull/2420)

[2020-10-22 15:33] keithahern commented on #2468
confirming same result on build from today, following instructions exactly

[2020-10-22 15:44] #2531 closed

[2020-10-22 17:39] zhaoyuanyuan2011 commented on #2109
Got seg fault again on all draw_geometries calls. This only happens when build from source. It won't happen with conda/pip3 install open3d and open3d-python, but conda/pip3 install results in missing packages of TetraMesh when trying to run o3d.geometry.TetraMesh.create_from_point_cloud(pcd).

Tried cmake -DENABLE_GUI=OFF .. in build/ but didn't work.

These happens when trying to run the surface

[2020-10-22 20:18] #2508 closed

[2020-10-22 20:18] #2509 closed

[2020-10-22 20:21] keithahern commented on #2468
I fixed this (crudely) by adding the right header in

Open3D/cpp/open3d/core/linalg/BlasWrapper.h

#include "/usr/include/aarch64-linux-gnu/cblas-netlib.h"  <-- add this
#include "open3d/core/linalg/LinalgHeadersCPU.h"

[2020-10-22 20:48] zapaishchykova commented on #2467
yes, you can extract color and depth from bag file, take a look into pyrealsence python library

[2020-10-22 20:49] EricCousineau-TRI opened #2533 "pip: Separate extra requirements to other configs, like `open3d[ml]`?"
**Is your feature request related to a problem? Please describe.**

My naive reading of this patch:
https://github.com/intel-isl/Open3D/pull/2513/files#diff-eb8b42d9346d0a5d371facf21a8bfa2d16fb49e213ae7c21f03863accebe0fcf

Leads me to believe that if `open3d` is distributed to `pypi` with builtin ML support, then installing `open3d` may also pull in those (heavy) deps.

**Describe the solution you

[2020-10-22 21:30] zapaishchykova commented on #2190
@pablospe even the dirty version would be helpful!

[2020-10-22 22:16] ssheorey commented on #2522
Hi @botach thanks for reporting this. Can you share the stripped down data that gives different results?

[2020-10-22 22:18] ssheorey commented on #2507
Can you replicate the error following our [build scripts](https://github.com/intel-isl/Open3D/blob/master/.github/workflows/windows.yml) on Windows? Select any of the matrix configuration options.

[2020-10-22 22:39] stanleyshly commented on #2190
I'm currently part of a project, where we need to create a depth map with lens distortion. Do you have any idea around what date the next release is? We noticed that the visualization method didn't work well for our project, mostly because large portion of the environment were not represented, so we would appreciate an estimated eta, so we can decide whether to work around the old visualization me

[2020-10-23 00:47] shuixing85 commented on #2489
Thanks a lot @nanotuxi , it works well with your way!

[2020-10-23 00:54] asurada404 commented on #1898
Hi, I met the same question and solved by `pip install --user open3d`.

[2020-10-23 03:06] keineahnung2345 commented on #2505
@yxlao I've found it's the char “ that causes this problem. I've published a PR https://github.com/intel-isl/Open3D/pull/2535 as well.

[2020-10-23 03:09] yxlao commented on #2533
The `open3d[ml]` approach could work. We've considered this approach (e.g. https://github.com/intel-isl/Open3D/pull/2513/commits/5a45eddb010f4b782a8e65fe9ebaf5f874318ef4#diff-eb8b42d9346d0a5d371facf21a8bfa2d16fb 49e213ae7c21f03863accebe0fcfR58), but it also has some drawbacks, e.g. compatibility issues for `conda install`.

The current solution is that we'll make sure the ML's `requirements.txt` i

[2020-10-23 03:14] nawara72 commented on #2507
Thanks for your reply, I am not sure I understand
My last message about the "transform" error
geometry\Line3D.h(117,9): error C3861: 'transform': identifier not found
is when I try to build open3d from source with visual studio

[2020-10-23 04:56] yxlao commented on #2505
@keineahnung2345 that's great news, thanks for your contribution!

[2020-10-23 04:57] #2505 closed

[2020-10-23 05:06] rjsgml5698 opened #2537 "is pdb file format supported"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-10-23 07:57] petrasvestartas opened #2538 "Installing and running a simple C++ example for Visual Studio x64 Windows"
Hi,

Is it possible to have a tutorial how to install the Open3D for windows x64 and run it at Visual Studio x64 Windows?
I am searching for an example how can I run Open3D in console application in order to create a mesh from a pointcloud.
Is there any documentation how to do this?

What should I do after Git Clode:

![image](https://user-images.githubusercontent.com/18013985/96972295-9f3d7180-15

[2020-10-23 08:52] sanskar107 commented on #2538
We have dropped support for Python 2.7. We recommend updating to Python 3.6+

[2020-10-23 09:36] MrGoort commented on #2286
Do we have any update for this bug???
I have tried with the new version of Open3D 0.11, but I still have the same linking problems

[2020-10-23 09:44] jkravanja commented on #2286
No, didn't manage to solve it.

[2020-10-23 10:23] sanskar107 commented on #2537
`pdb` file format is not supported currently. But, it seems a good idea. Would you like to contribute with our guidance?

[2020-10-23 13:57] manhha1402 commented on #1428
I have the same problem using KDTRee in PCL: pcl::KdTreeFLANN. It leads to segmentation fault with Open3D

[2020-10-23 15:56] EricCousineau-TRI commented on #2533
Awesome, thanks!

Should this issue remain open until the 0.11.1 release or there's a comment which minimizes the deps currently on master?

[2020-10-23 18:20] ssheorey commented on #2507
Let's try to isolate the error. Does this command line build work for you? This is from our CI build scripts.

[code]

[2020-10-23 19:21] walup commented on #879
i'm having the exact same issue

[2020-10-23 20:14] AndreiBarsan commented on #1480
I think it's worth pointing out that the linked script, while working and definitely tremendously helpful, is orders of magnitude slower than simply drawing a line in OpenGL... I am trying to render a line consisting of 1k segments, so nothing too huge, but actually building the mesh takes 4 (!!!) seconds on my machine. Doing this for, e.g., rendering a demo video can make a 30s fly-through render

[2020-10-23 20:57] Zumbalamambo opened #2540 "Accessing the values of the the RGBD image"
I have used the following code to create an RGBD image,

[code]

How do I access the value at a specific coordinate in the RGB-D image?

For example, I would like to access the 3D coordinates at the coordinate `(308,124)` in the RGB-D image

[2020-10-23 23:21] JeremyBYU commented on #1480
Oh yes it is definitely not performant and can be slow with thousands of segments. It was meant as a stop gap measure until open3d finds a more performant long term measure. Also note a very large performance regression in open3d 0.10 causes n^2 runtime with drawing geometries (n= num of geometries). This caused huge issues with using my LineMesh module, each segment is its own geometry. I’m not s

[2020-10-23 23:30] AndreiBarsan commented on #1480
wow, that's a really interesting thing to note. I'll keep it in mind. Thank you Jeremy!

In the meantime, I realized that if my line is already high-res, then I can probably render really coarse cones, so in `LineMesh` I added
[code]
which seems to have helped a little. I will add your patch next, thanks for sharing!

[2020-10-23 23:49] AndreiBarsan commented on #1480
Hmm, I rebuilt Open3D from master and combined that with the much coarser mesh change from above but it is still taking ~8s to render a single frame, compared to 0.4s without the line. :(
I'll keep digging.

[2020-10-24 01:12] JeremyBYU commented on #2157
So I have pulled from master with PR #2523. I have installed on a Windows 10 Machine X64.

Here are the results for the script above:

1. o3d 0.10.0 - 9 Seconds to load meshes (time to being user interaction), 1 FPS (with draw edges enabled 'w')
2. o3d 0.11.0+f1d478c4 - 0.5 seconds to load meshes, 45-60 FPS (with draw edges)

So it looks the PR has successfully handled my issue.

[2020-10-24 01:28] JeremyBYU commented on #1480
So I had not tested that PR #2523  until a few minutes ago. After installing and testing on Windows 10 X64 it did successfully fix *my* issue, where I just reported results here: https://github.com/intel-isl/Open3D/issues/2157#issuecomment-715649708

However I am not sure what version of Open3D you were using before you updated to `master` branch.  In fact *if* you were using 0.10.0 I don't think

[2020-10-24 02:09] charliegarrison opened #2541 "Color Mapping with Textures"
The current color options are per vertex. When you decimate a model the color degrades as well forcing you to have dense models and very large files.

Would it be possible to do better color mapping like outlined here?
https://openaccess.thecvf.com/content_cvpr_2018/papers/Fu_Texture_Mapping_for_CVPR_2018_paper.pdf

[2020-10-24 14:45] petrasvestartas commented on #2538
Is it only for python, because I would to use onky c++?

[2020-10-24 22:18] yxlao commented on #2538
@petrasvestartas looks like the submodules are not cloned. You'll need `git clone --recursive` when cloning Open3D. If it is already cloned, update submodules with `git submodule update --init --recursive`.

If python is not needed, set `-DBUILD_PYTHON_MODULE=OFF`. However, you'll still need to get the submodules.

See http://www.open3d.org/docs/release/compilation.html for reference.

[2020-10-24 22:22] yxlao commented on #2362
@meder411 I think what you described is true. In desktop Ubuntu, `pip install open3d` will work out-of-the-box. We'll update the documentation for the Docker or server environment.

[2020-10-25 09:48] 4nightmare commented on #2467
Hi @zapaishchykova ,

Thanks for your suggestion!

As I wrote above I used rs-converter to extract images from all the frames in the bag file (in add to the standard Intel Realsense Viewer option to pause the video and save images from the selected frames).

The problem is that when I  use this extracted images inside the O3D python Reconstruction-System I cannot achieve any Pointcloud reconstruct

[2020-10-25 13:18] yankailab commented on #2286
Ubuntu 20.04
Open3D 0.11.0
OpenCV 4.3.0

also met the undefined references issue with linker

[2020-10-25 17:11] NomitRwt commented on #2537
Not related to the same issue but on same grounds is `las` format supported or have you considered supporting it. Its a very popular format in the laser scanning community. I would be happy to contribute. If I can in any way!

[2020-10-25 19:11] ximenesfel commented on #2444
@suishicity and @griegler I would like to start contributing to open3d project. There is someone working in this issue? If not, can I open a PR?

[2020-10-25 19:15] griegler commented on #2444
@ximenesfel no, nobody addressed this issue so far. A PR would be great.

[2020-10-25 23:12] Zumbalamambo opened #2543 "Documentation for GUI"
Please add the documentation for `GUI`. I have tried to follow along with `vis_gui.py` but it's hard to follow it. I would like to find a way to use `set_look_at`, `set_front`, `set_zoom` options but I'm not able to find a way to do that :(

[2020-10-26 01:32] petteriTeikari opened #2544 "AttributeError: module 'open3d.cuda.pybind.io' has no attribute 'AzureKinectMKVReader'"
I tried to reproduce your tutorial on how to read Kinect Azure DK .mkvs from http://www.open3d.org/docs/latest/tutorial/Basic/azure_kinect.html#open3d-azure-kinect-mkv-reader

**Describe the bug**

Ran into the following error

[code]

![image](https://user-images.githubusercontent.com/1060514/97125164-ea2fd280-172a-11eb-97d2-f4efed821f3f.png)

**Expected behavior**

I assumed to have imported the

[2020-10-26 11:29] maxfreu opened #2545 "Q: How to set min/max for colormap when rendering a pointcloud?"
Hi! I would like to set the range of the colormap when rendering a pointcloud; I only want a color gradient from e.g. z=0 to z=1 although there are points above and below that region. Is this currently possible? If yes, how?
Edit: I am using v0.9.0 btw

[2020-10-26 14:12] zapaishchykova commented on #2467
Check your intrinsics? And maybe paste your code since it's hard to say what's wrong there

[2020-10-26 14:44] #2525 closed

[2020-10-26 14:47] sanskar107 commented on #2533
Open3D `0.11.1` is out now with minimal dependencies.

[2020-10-26 14:47] #2533 closed

[2020-10-26 15:41] EricCousineau-TRI commented on #2533
Thanks!!!

[2020-10-26 16:08] NomitRwt commented on #2544
You can try using `pip install open3d==0.10.0` !

[2020-10-26 17:55] 1939938853 opened #2546 "Add matcaps for Open3D rendering?"
Hello,

It looks that the [matcaps](https://github.com/nidorx/matcaps) rendering is very attractive. And it is also "cheap" to achieve.

Here is the [metcaps implementation](https://polyscope.run/py/features/materials/) in Polyscope. Another [good example](http://www.beautybuddyapp.com/examples/matcap.html) for point cloud.

May be it is interesting for Open3D developers to add?

Thank you!

![ima

[2020-10-26 19:39] petteriTeikari commented on #2544
Well that yes worked @NomitRwt :+1:

[2020-10-26 22:33] nawara72 commented on #2507
Thanks for your reply, I followed the steps you mentioned and that worked. I would now like to build the cuda module and the bundele-open3d-ml, could you please advise (cause that's what i believe is failing in my original build)

Thanks

[2020-10-26 23:29] ssheorey commented on #2507
We don't support CUDA on Windows for now. If you are able to get things running with `-DBUILD_CUDA_MODULE=ON` as an additional argument to `cmake`, please do submit a PR.
For Open3D-ML, we don't support the ML operations on Windows for now. Based on @benjaminum 's message, it may work to enable support for PyTorch. Can you try with `-DBUILD_PYTORCH_OPS=ON` as well?

[2020-10-27 02:32] nawara72 commented on #2507
I tried the following
cmake .. -G "Visual Studio 16 2019" -A x64 -DBUILD_EXAMPLES=OFF -DCMAKE_INSTALL_PREFIX="C:\Program Files\Open3D" -DBUILD_SHARED_LIBS=OFF -DSTATIC_WINDOWS_RUNTIME=ON  -DBUILD_CUDA_MODULE=OFF  -DBUILD_PYTORCH_OPS=ON -DBUILD_TENSORFLOW_OPS=OFF -DBUNDLE_OPEN3D_ML=ON  -DOPEN3D_ML_ROOT="https://github.com/intel-isl/Open3D-ML.git"
So with cuda off , pytorch on and tensorflow off
I g

[2020-10-27 07:25] VD2410 commented on #2280
Is this issue solved?

[2020-10-27 11:23] IvanCobotic opened #2547 "RGBA png files are no longer supported in open3d.geometry.PointCloud.create_from_depth_image in v0.11.x"
**IMPORTANT: Please use the following template to report the bug.**
_____

**Describe the bug**
In Open3D <v0.11.0 it was possible to read 4 channel RGBA png files with o3d.io.read_image(..) and then use the image to create a RGBDImage and later create a pointcloud with o3d.geometry.PointCloud.create_from_rgbd_image

This worked because o3d.io.read_image discarded the alpha channel and loaded the

[2020-10-27 11:31] IvanCobotic opened #2548 "Open3D documentation in v0.11.0 has incorrect paths"
**IMPORTANT: Please use the following template to report the bug.**
_____

**Describe the bug**
All paths in the Open3D documentation (from v0.11.0) have an extra inclusion of cpu.pybind

for instance,
http://www.open3d.org/docs/release/python_api/open3d.geometry.PointCloud.html

__init__(self: open3d.cpu.pybind.geometry.PointCloud) -> None

the cpu.pybind should not be included when listing the p

[2020-10-27 13:54] AndreiBarsan commented on #1480
Yeah, I was using 0.10.0, so I guess my overhead was just from the number of geometries. I will try to eventually just write the code to build a single mesh from the lineset and try to render that. Thank you and no worries!

[2020-10-27 15:37] IvanCobotic opened #2549 "Install Open3D v0.11.1 on Jetson Nano gives "GLFW Error: GLX: No GLXFBConfigs returned""
**IMPORTANT: Please use the following template to report the bug.**
_____

**Describe the bug**
I built Open3D from source and installed on a jetson nano. The build and installation seem to work well, running regular Open3D commands is working, but when i try to use the visualizer i get the following error

[Open3D ERROR] GLFW Error: GLX: No GLXFBConfigs returned

I tried running both via ssh and

[2020-10-27 18:57] Fred3D-tech commented on #2548
and by the way the reconstruction system is not working anymore... even correcting the python problems, using the tutorial dataset, you don't get a correct result.

[2020-10-27 19:49] petrasvestartas commented on #2538
I tried to git clone again and then make cmakelists python off. But cmake still tries to find python.
How to avoid it since I cannot build it.
![image](https://user-images.githubusercontent.com/18013985/97354559-da80cd00-1895-11eb-891d-0e059dc68709.png)

[2020-10-27 20:10] petrasvestartas commented on #2538
Och CMAKE was weardly searching for Python files in some random folder.
I installed in the end python...

Is there any tutorials how to use Open3D in C++ console application?
I  am looking for mesh reconstruction from a pointcloud that has no pointcloud normals.

[2020-10-27 20:24] zhan-xu commented on #1731
Same problem here. When I write a mesh to disk with `write_triangle_uvs=False,` the saved mesh has reduced number of verticers.

[2020-10-27 20:47] petrasvestartas opened #2550 "Open3d in c++ windows console app"
Hi,

I would like to ask how can I reference open3d in c++ console app windows? I know it is a large project.

My ultimate goal is to read pointcloud file, compute its normals and poisson mesh reconstruction.

Can someone give me guidelines or a short tutorial?

[2020-10-27 22:02] ximenesfel commented on #2444
@griegler I created this issue two days ago and  the CI is stuck in theses checks.

![github](https://user-images.githubusercontent.com/12705275/97366729-8e7a5c00-1886-11eb-84f9-4abd84e54df8.png)

This is normal? Is there a problem with CI?

[2020-10-27 22:16] cygann opened #2552 "open3d.visualization.VisualizerWithVertexSelection produces Segmentation fault on Mac OS with v0.11.1"
**Describe the bug**
I'm trying to use the open3d.visualization.VisualizerWithVertexSelection class to create an interactive visualization, however it always crashes with segmentation fault (Error message: `Segmentation fault: 11`).

**To Reproduce**
Steps to reproduce the behavior:

I wrote a simple script to test the behavior of VisualizerWithVertexSelection:
[code]
and ran it using Open3D v0.11

[2020-10-28 00:07] shiyoung77 commented on #1787
@yxlao Hey, is there any update on this issue? The problem still exists in the latest version 0.11.1.

[2020-10-28 00:11] rjsgml5698 commented on #2549
I know open3D as OpenGL 4.1, are you satisfied with this?

[2020-10-28 02:29] rjsgml5698 commented on #2552
Did you satisfied OpenGL 3.3(At least)?

[2020-10-28 03:25] Cheng-Hsiung commented on #2487
I encounter the same error when building Open3D 0.11.1 with the flag `-DUSE_SYSTEM_EIGEN3=ON`. If I turn this flag off, no error will appear. I thought it was due to eigen version issue so I follow [here ](https://github.com/intel-isl/Open3D/blob/b502d95aabd0f0c486b14935316c205ea494d7e3/3rdparty/README.txt#L12) by pre-installing eigen version 3.3.2

[code]
Yet the same error still appears

[code]

[2020-10-28 09:31] yxlao commented on #2550
@petrasvestartas you may check out this example cmake project: https://github.com/intel-isl/Open3D/blob/master/docs/_static/C%2B%2B/CMakeLists.txt.

Roughly speaking:
[code]

[2020-10-28 11:07] sanskar107 commented on #2538
You can checkout the tutorial here http://www.open3d.org/docs/release/tutorial/geometry/surface_reconstruction.html#Normal-estimation

[2020-10-28 12:17] dlehgo14 commented on #1718
I had the same error in other data. It seems that my error occurs because #constrain_ids is too small. When I increase it, the error disappeared.

[2020-10-28 15:26] chrisranderson commented on #451
The link above is dead. For future people searching, you can use this:

[code]

[2020-10-28 18:13] nanotuxi commented on #2487
@Cheng-Hsiung
As ` yxlao closed this in #2491 12 days ago` you should maybe open a new issue.

The solution to simply `change this->transform(t) to this->Transform(t)` lets the code compile. But there is no guarantee to run into some unknown issues using this  inoffical solution. So better ask @yxlao for an official solution.

[2020-10-28 22:22] jaredbaggen commented on #2552
I'm also now getting this error but upon upgrade from 10 -> 11.1. It happens on `create_window()`.

[2020-10-29 01:55] arbenede opened #2553 "Missing util/install-deps-python.sh"
The documentation file docs/getting_started.rst.in refers to the script util/install-deps-python.sh, but I could not find this file anywhere.

[2020-10-29 02:24] Cheng-Hsiung commented on #2487
Thanks for the reply, @nanotuxi
Yes at least in my case, I believe this workaround won't compile with `-DUSE_SYSTEM_EIGEN3=OFF`

[2020-10-29 02:34] sanskar107 commented on #2553
Yes, the documentation points to a previous release. You can refer to [`python/requirements.txt`](https://github.com/intel-isl/Open3D/blob/master/python/requirements.txt) for python dependencies.

[2020-10-29 08:47] Robert-Ven commented on #572
I am not sure whether I should open a new issue or reply here, but as my issue is he same as here, I'll reply here. I attempt to create a child class for the class Pointcloud in open3d:
[code]
This results in the same TypeError as in the original question.

I did find the script which binds the pointcloud, but this did not clarify much for me.
[code]

@haruishi43, were you able to solve this issue

[2020-10-29 08:57] Sea421 opened #2555 "Some functions of TriangleMesh are very slow"
**Some functions of TriangleMesh are very slow - is_watertight, get_volume**
Hi team,
I would like to calculate **volume** of **watertight** triangle mesh. But these functions are very slow. My mesh has 13.5k faces, 6.7k vertices. But each function elapsed **>30 seconds**.
Following is my code and the result. Please advice me.

**To Reproduce**
Steps to reproduce the behavior:

Code:
[code]

Resul

[2020-10-29 15:15] Martzi commented on #986
Has anyone experienced problems while tried to add points to the pointcloud?
I read a numpy array from an rgbd cam through pyzmq in the correct form.
`pts = receive_pointcloud(socket)`
type: <class 'numpy.ndarray'>
shape: (105972, 3)
I try to use these point to create a pointcloud:
`pointcloud = o3d.geometry.PointCloud()`
`pointcloud.points = o3d.utility.Vector3dVector(pts)`
But I get the followin

[2020-10-29 15:28] mhillenibm opened #2556 "Reading PCD - incorrect use of float_t"
When reading a binary "float" value of size 4 from a PCD file, the code should use the type "float" instead of "float_t", which could as well be double or long double, depending on the architecture and compiler settings. In that case, the code would read too much data and return incorrect values.

https://github.com/intel-isl/Open3D/blob/c3cb0c421d23a93af0f232d007f07171c894d294/cpp/open3d/io/file_

[2020-10-29 16:19] Martzi opened #2557 "Cannot create pointcloud from numpy array, "array is not writeable""
I am not sure it is strictly related to Open3D instead of numpy, but I encountered a "**ValueError: array is not writeable**" error.
I tried to read pointcloud stream from Intel RealSense D435i and show points with Open3D (v0.10.0) through pyzmq.
I get the correct numpy array, formed as required, but I cannot process it as it would have been directly connected to my pc with usb.
This code
`pts = r

[2020-10-29 19:31] 1939938853 commented on #2546
Hello,

OK, I just found that Open3D may already have a similar rendering effect as the metcaps.  See below, it is just a point cloud data with normal estimated.

But it looks that the material "color coating" is sensitive to normal direction.  **Any way to make it insensitive to normal direction?** OrientNormals operation is very expensive!

Furthermore, must Open3D rendering module working toget

[2020-10-29 19:59] lfhgljj opened #2558 ""create_from_point_cloud_alpha_shape()" does not generate points and triangles."
I use random numbers to generate a point cloud and use this function "o3d.geometry.TriangleMesh.create_from_point_cloud_alpha_shape", and the result is "TriangleMesh with 0 points and 0 triangles".

I used randomly generated point clouds and official examples, but none of them got the results I expected.

any pointers on how to adress this issue would be greatly appreciated.

This code:
[code]
![2

[2020-10-29 20:18] aycameric opened #2559 "functions not recognized e.g. AxisAlignedBoundingBox()"
Hi,
I am using functions like AxisAlignedBoundingBox() for initialization. In the documentation it says that I can input the bounding vectors, however I get this error message below. I tried to install from source again, but this didn't help.
Also I get the error message that an attribute is not found, even though prior it worked. Thanks!

AttributeError: 'open3d.open3d.geometry.PointCloud' object

[2020-10-30 06:30] #2444 closed

[2020-10-30 07:56] 1939938853 commented on #2543
Yes.

It is very good to provide some documentation and tutorial for both rendering and gui. For me, I'm especially looking forward to the tutorials for rendering and gui in C++.

Now there are lots of new things in rendering, only studying the API and source code, like the one open3d\visualization\visualizer\GuiVisualizer.cpp, is a little bit difficult.

Is it possible to realize PBR rendering wi

[2020-10-30 08:35] alainchau commented on #2558
Increase the radius or use a more dense sample. :)

[code]

[2020-10-30 09:13] jiqirenno1 opened #2560 "how to visulize a real-time lidar pointcloud?"
**IMPORTANT: Please use the following template to report the bug.**
_____

**Describe the bug**

i want to visualize the real-time  lidar pointcloud from robosense lidar. so I run the below c++ code, i saw the pointcloud, but i can not Zoom in/out the pointcloud by mouse wheel
[code]

[2020-10-30 13:59] chandramoulirajagopalan opened #2561 "Refine registration throws an error for this sample code."
https://github.com/intel-isl/Open3D/blob/5c7d5593075591af3f81e4b19a49f10477c77a5f/examples/python/reconstruction_system/refine_registration.py#L82
This is the PR for this issue. #2562

[2020-10-30 14:18] sanskar107 commented on #2559
`get_rotation_matrix_from_xyz` works for me. Which version of Open3D are you using ?

[2020-10-30 18:11] jaredbaggen commented on #1829
Also have the same problem, Open3D 10.0.1 Python 3.8, Mac 10.15.6.

[2020-10-30 21:17] devernay commented on #1787
I don't see a memory leak on my system with the above test code, whatever the import order is, but there seem to be more memory leaks elsewhere, as the "reconstruction system" tutorial fails on a machine with 256Gb RAM (keeping the default config parameters).  `open3d.pipelines.integration.ScalableTSDFVolume.integrate` seems to be responsible for this

[code]

[2020-10-30 21:29] devernay commented on #2107
0.11.0 has this same memory leak issue with the reconstruction_system tutorial (using the data from 016.zip), so I don't think the data is faulty here.
Tested with 0.10.0: works fine.

[2020-10-31 19:40] nanotuxi commented on #2107
Can confirm this behaviour. Started experimenting with downgrading Open3D to 0.10 and run reconstruction on the 0.11.1 codebase. The behaviour is this:
Running the same reconstruction with images from a D435i runs
-fine with v0.10 and multithreading activated in config.
-shows memory leak behaviour on a 16GB machine with 4GB swap with 0.11.1
-runs fine with multithreading set to false in config fi

[2020-11-01 01:30] qshzh commented on #879
It seems there is nbextention for jupyter notebook. There is no labextention support. I have the same error in jupyterlab but no error in jupyter notebook.

[2020-11-01 01:53] lfhgljj commented on #2558
Thanks.

[2020-11-01 13:39] nanotuxi commented on #2107
So the solution for me is to
include the patch from pr #2562
and set `"python_multi_threading": false` in `config/realsense.json`
After that the reconstruction pipeline works ...fast Hui ;.) Thanks to @nachovizzo  for #2497.

[2020-11-01 14:41] nanotuxi commented on #2107
@nachovizzo Is it possible to reduce the amount of memory used for refinement. Running this on a recorded set of images captured with a D435i the machine uses about all of the physical memory (16GB) and additional 4-5GB swap space.
I did not try (and maybe never do) v0.11.x on a Jetson Nano as this wouldn't work.
So can we tweak settings to reduce the amount of memory to make this work on an edge

[2020-11-01 14:46] nachovizzo commented on #2107
@nanotuxi I guess got the wrong person :) I haven't been working on the reconstruction pipeline for `Open3D`. That PR you mention(#2497) it's just an extension of the robust kernels we've added to the Open3D **registration** pipeline, but not the reconstruction. All the information about Robust kernels can be found on http://www.open3d.org/docs/release/tutorial/pipelines/robust_kernels.html But I

[2020-11-02 00:14] pablospe commented on #2190
See PR #2564. Do you know who is the responsable for the new viewer in open3D? I would like to try to implement the depth rendering with filament, but I am afraid I would need some directions first.

@ghost, @stanleyshly, @zapaishchykova:

I created an example that should generate depthmaps without restrictions in the FOV, zoom, etc. I tested mainly in ubuntu 18.04. See here: https://github.com/pa

[2020-11-02 07:29] SilenKZYoung commented on #1965
hello, did this issue has been fixed?

[2020-11-02 11:42] sanskar107 commented on #2548
This is due to recent import changes in `v0.11`. @ssheorey  do you think we can change this ?

[2020-11-02 16:57] #2561 closed

[2020-11-02 17:32] Anlarry opened #2565 "Get wrong results when make fragment"
Hi, I'm trying to run Reconstruction system. I followed the tutorial, but got strange results when **Make fragments**. My config is folowing.

[code]
Below is the `frament_001.ply` I got.I want to know why I got this result.

![图片](https://user-images.githubusercontent.com/42707884/97898502-e7f4f600-1d72-11eb-82d3-3a93484f29e1.png)

Thanks!

[2020-11-02 17:50] devernay commented on #2107
@theNded can you confirm that you observe the same regression between 0.10 and 0.11 on the tutorial data? Any idea where the leak may come from?

[2020-11-02 18:26] prewettg commented on #1965
Unfortunately we did had time to address this issue in the last release. I am working on the improved draw_geometries visualizer right now and will keep this use case in mind.

[2020-11-02 18:45] prewettg commented on #2560
We are upgrading the Visualizer to use the new GUI which does support wheel (and trackpad) zoom. We won't be fixing any bugs in the old code, so I'm closing this. If your point cloud is stored in a file you can use the Open3D viewer app. You can load the file from the menu / dialog, or if you want a more scriptable interface, you can pass the path to the file to load, `path/to/Open3D path/to/point

[2020-11-02 18:45] #2560 closed

[2020-11-02 18:55] prewettg commented on #2546
We do not have any plans to add metcaps, because as you have already discovered, we already have full real-time physically-based rendering. Correct normals are required (that is, the normal should be pointing away from the surface) because that is how the shaders calculate how bright the pixel is.

I'm not entirely sure what you mean by "must the rendering module work with the gui module". Technic

[2020-11-02 19:00] devernay commented on #2107
Just FYI this is not a memory leak, as everything is freed correctly on exit, but `valgrind --tool=massif` shows there are huge allocations of vector<TSDFVoxel> (2.5GB for 10 640x480 depth frames) by the constructor of UniformTSDFVolume, which is called from ScalableTSDFVolume::OpenVolumeUnit(), and probably not freed until the ScalableTSDFVolume is deteted.

[2020-11-02 20:05] 1939938853 commented on #2546
Hello prewettg,

Thank you for your replay!

Because OrientNormals operation is a little bit "too expensive" to use for me,  20 thousands point takes ca 400 ms while normal estimation is only ca 20 ms, I  have to avoid using it. In this case maybe I need to set the same color for both normal direction (out-wards and in-wards) surfaces, i.e. set blue color for both sides of the above mentioned exam

[2020-11-02 22:08] nanotuxi commented on #2107
Yes. It seems that the problem appears with rgbd images being loaded completely into memory which makes refining unusable at the moment (for me :-)

[2020-11-02 22:48] HasanFarag opened #2566 "Ubuntu 20 problem to launch the viewer app"
./bin/Open3D
FEngine (64 bits) created at 0x7f658488c010 (threading is enabled)
FEngine resolved backend: OpenGL
N5utils17PreconditionPanicE
in static filament::MaterialParser *filament::FMaterial::createParser(backend::Backend, const void *, size_t):513
reason: Material version mismatch. Expected 10 but received 7.
#0 ./Open3D/bin/Open3D(+0xa8d830) [0x55ae7233e830]
#1 ./Open3D/bin/Open3D(+0x9c8c4

[2020-11-02 22:50] errissa commented on #2566
Did you build from source or using the Debian package?

[2020-11-02 23:01] germanros1987 commented on #910
This feature is available in Open3D 0.11, using the new Python rendering API.

[2020-11-02 23:01] #910 closed

[2020-11-02 23:17] #1002 closed

[2020-11-02 23:38] germanros1987 commented on #1081
This is now possible and demonstrated in this example: https://github.com/intel-isl/Open3D/blob/master/examples/python/gui/add-geometry.py

[2020-11-02 23:38] #1081 closed

[2020-11-02 23:45] errissa commented on #1087
This feature is planned for 0.12 release.

[2020-11-02 23:46] germanros1987 commented on #1086
It seems this is not going to be a feasible feature in the end. Having different values of transparency per point is not supported by Filament. There is support for transparency at an object level (i.e., different point clouds), but this doesn't solve your problem.

We will end up implementing new shaders where the point size varies according to the distance. This may be a solution for your proble

[2020-11-02 23:46] #1086 closed

[2020-11-02 23:49] germanros1987 commented on #1157
Still working on this for 0.12

[2020-11-02 23:53] germanros1987 commented on #1169
@martinakos have you seen this example: https://github.com/intel-isl/Open3D/blob/master/examples/python/gui/add-geometry.py ?

[2020-11-02 23:53] #1169 closed

[2020-11-03 00:09] germanros1987 commented on #1354
We have been moving to a new visualization module based on Filament. Right now our transference times are not much better than they were before, but we are working on improving that. So, I am not closing this issue yet...

[2020-11-03 00:11] germanros1987 commented on #1371
With the new visualization module, this problem is solved.

[2020-11-03 00:11] #1371 closed

[2020-11-03 00:13] #1376 closed

[2020-11-03 00:20] germanros1987 commented on #1424
@bradleynull does this work for you in 0.11, using the new rendering API?

[2020-11-03 00:23] germanros1987 commented on #1427
@pablospe this is solved in the new version rendering API.

[2020-11-03 00:23] #1427 closed

[2020-11-03 00:24] germanros1987 commented on #1436
In the new rendering API you can create arrows.

[2020-11-03 00:24] #1436 closed

[2020-11-03 00:26] germanros1987 commented on #1443
This should be now possible in the new visualization module. Please, see examples here: https://github.com/intel-isl/Open3D/tree/master/examples/python/gui

[2020-11-03 00:31] germanros1987 commented on #1458
In Open3D 0.11, using the new rendering module, you can specify any colormap you like. You can see an example of this here: https://github.com/intel-isl/Open3D-ML/blob/master/examples/visualize.py

[2020-11-03 00:31] #1458 closed

[2020-11-03 00:39] #1538 closed

[2020-11-03 00:43] germanros1987 commented on #1550
@errissa could you have a look at this issue?

[2020-11-03 00:48] #1574 closed

[2020-11-03 00:50] germanros1987 commented on #1581
@AGAPIA this is solved in our new rendering module.

[2020-11-03 00:50] #1581 closed

[2020-11-03 00:52] germanros1987 commented on #1638
@errissa could you unbreak this?

[2020-11-03 00:53] germanros1987 commented on #1639
Sure.

[2020-11-03 00:53] #1639 closed

[2020-11-03 00:55] germanros1987 commented on #1641
solved.

[2020-11-03 00:55] #1641 closed

[2020-11-03 00:58] #1687 closed

[2020-11-03 01:01] #1701 closed

[2020-11-03 01:03] germanros1987 commented on #1731
@zhan-xu could you please provide the data?

[2020-11-03 01:04] #1751 closed

[2020-11-03 01:04] germanros1987 commented on #1775
This is solved in the new rendering module. We have full support for gltf

[2020-11-03 01:04] #1775 closed

[2020-11-03 01:05] germanros1987 commented on #1794
Is this still a mystery?

[2020-11-03 01:07] germanros1987 commented on #1825
We are working on this for 0.12.

[2020-11-03 01:07] prewettg commented on #1822
This is possible using the new rendering and gui in Open3D 0.11.  Here is an example:
[code]

[2020-11-03 01:07] #1822 closed

[2020-11-03 01:10] germanros1987 commented on #1837
This is solved using the newest rendering module in Open3D 0.11?

[2020-11-03 01:10] #1837 closed

[2020-11-03 01:10] germanros1987 commented on #1859
@yxlao this is solved now, I think... right?

[2020-11-03 01:12] germanros1987 commented on #1863
@errissa does this work in the new rendering API?

[2020-11-03 01:13] germanros1987 commented on #1911
@errissa it seems you will be able to close this issue tomorrow. Please, remember to link the PR.

[2020-11-03 01:15] germanros1987 commented on #1973
It seems we just don't have support for ML in Windows, so I am closing this.

[2020-11-03 01:15] #1973 closed

[2020-11-03 01:16] devernay commented on #2107
Here's a sample run with 200 frames, grouped into 10 fragments of 20 frames. you see that a fragment takes almost 8Gb when being built. I observed 2.5Gb with 10 frames, so I guess it may be roughly quadratic with the number of frames in a fragment, which explains why it crashes at about 88 frames on a 256Gb machine
![image](https://user-images.githubusercontent.com/3778071/97936014-2072e080-1d2f-1

[2020-11-03 01:20] germanros1987 commented on #2181
@ssheorey is working on this feature.

[2020-11-03 01:22] #2368 closed

[2020-11-03 01:28] germanros1987 commented on #1889
@errissa following up on this.

[2020-11-03 01:29] AndreV84 commented on #2181
thank you for the update

[2020-11-03 01:31] germanros1987 commented on #1927
This is supported in Open3D 0.11. You can assign an alpha channel to your pointclouds and they can be rendered with a LIT material. For the UNLIT case we are still working on it.

[2020-11-03 01:31] #1927 closed

[2020-11-03 01:33] prewettg commented on #999
This is not possible with the current visualizer in 0.11. With the new rendering and gui module it is possible to have multiple scenes, as long as they are different scenes. Your stated use case would work in this case: create one scene with point cloud 1, and then create a second scene with point cloud 2, then put them next to each other. I have included an example below. If you need multiple vie

[2020-11-03 01:33] #999 closed

[2020-11-03 01:34] germanros1987 commented on #1957
We decided we won't be supporting this feature for the time being.

[2020-11-03 01:34] #1957 closed

[2020-11-03 01:37] germanros1987 commented on #2036
@prewettg this should be possible using the new visualizer, right? Could you please provide an example?

[2020-11-03 01:40] germanros1987 commented on #2088
Issue closed due to lack of activity. Feel free to open a new issue if you still consider this is a critical matter.

[2020-11-03 01:40] #2088 closed

[2020-11-03 01:40] germanros1987 commented on #2089
@errissa what is the current state of this?

[2020-11-03 01:42] #2163 closed

[2020-11-03 01:42] #2193 closed

[2020-11-03 01:43] germanros1987 commented on #2261
@errissa could you check if this is still a problem?

[2020-11-03 01:44] germanros1987 commented on #2266
@prewettg please, could you comment on this?

[2020-11-03 01:44] germanros1987 commented on #2306
Closing this issue since it is duplicated.

[2020-11-03 01:44] #2306 closed

[2020-11-03 01:45] prewettg commented on #2006
Rendering to an image in a for loop is possible using the new rendering and gui module in 0.11. Please see the [examples/python/gui/render-to-image.py](https://github.com/intel-isl/Open3D/blob/master/examples/python/gui/render-to-image.py) example. It renders to just two images, but you can replace that part with you for loop.

[2020-11-03 01:45] #2006 closed

[2020-11-03 01:46] germanros1987 commented on #2410
@prewettg could you please comment on this?

[2020-11-03 01:52] #2464 closed

[2020-11-03 01:53] germanros1987 commented on #2510
@errissa could you please look into this?

[2020-11-03 01:54] germanros1987 commented on #2528
Is this data given as a VoxelGrid?

[2020-11-03 01:55] germanros1987 commented on #2543
We are working on it.

[2020-11-03 02:00] germanros1987 commented on #2547
@errissa could you please take a look at this?

[2020-11-03 02:01] germanros1987 commented on #2552
@prewettg since you are the MacOS expert, can you comment on this issue?

[2020-11-03 02:14] yxlao commented on #1859
Yes, it has been resolved. Now, filament will be built from source. See http://www.open3d.org/docs/release/arm.html.

[2020-11-03 02:14] #1859 closed

[2020-11-03 02:20] hduonggithub commented on #999
Thanks @prewettg

[2020-11-03 03:15] MaxChanger commented on #999
The development is real and rapid. I started using version 0.8.0, and now I am stuck at 0.9.0. Some functions in the above example are already unfamiliar. Hahaha

[2020-11-03 03:23] prewettg commented on #2546
No, standard lighting requires that the normals be correct in order for the color to be correct.

[2020-11-03 03:43] hduonggithub commented on #999
@MaxChanger Thanks. It is good to know!

[2020-11-03 04:50] theNded commented on #2107
Apologize for the late reply, I have reproduced the problem and will be actively working on it. Please keep tuned.

[2020-11-03 05:10] nanotuxi commented on #2565
v@Anlarry Seems to be related with #2107 as the results here look very similar. In v0.11 the reconstruction examples don't work stable. As suggested by @devernay [ here](https://github.com/intel-isl/Open3D/issues/2107#issuecomment-719808802) you should downgrade to version 0.10 for a robust and stable working base.

[2020-11-03 05:30] theNded commented on #2107
I can observe that the pose graph of a fragment is irregular. This will cause the ScalableTSDFVolume to continuously activate new blocks in the 3D space (an expected behavior), which will cause the memory explosion.
So this problem converges to the initial issue -- when the camera poses are wrong, the memory will be consumed.
![ScreenCapture_2020-11-03-00-25-34](https://user-images.githubuserconte

[2020-11-03 05:31] theNded commented on #2565
Please check my analysis in #2107, thanks!

[2020-11-03 05:34] nanotuxi commented on #2107
@theNded Thanks.

[2020-11-03 05:41] theNded commented on #2107
Update: I reverted to `d72d2a7`, the commit before #2497, and the problem is still there. So @nachovizzo is innocent :-)

[2020-11-03 05:44] nanotuxi commented on #2107
@theNded Thanks :-)

[2020-11-03 06:59] theNded commented on #2107
Confirmed this bug is introduced by #2497. While I am re-reviewing the code, it will be nice that @nachovizzo can help me check the potential problems. And any help from the active users are greatly appreciated :-)

Here we estimate RGB-D odometry between frame 1 and frame 2 for the tutorial dataset.

Results for 30329b2d44ccea682f088b3bc8909e956ae02ac4 (after introducing #2497)
![ScreenCapture_20

[2020-11-03 07:07] theNded commented on #2565
Updates can be found in #2107, this is closed for now. There will be a fix soon, thanks for your patience!

[2020-11-03 07:07] #2565 closed

[2020-11-03 07:14] theNded commented on #2107
Bug found: `r` and `w` are flipped in this line.
https://github.com/intel-isl/Open3D/blob/master/cpp/open3d/pipelines/odometry/Odometry.cpp#diff-3cbdab293e67b7d56d2dd2de0a1998c9a8742032f13d05e14eefa3649408c23cR436

[2020-11-03 07:32] nachovizzo commented on #2107
Thanks @theNded good catch! And apologize for the flip! We could prevent this in the future creating types for the weights and residuals. Although I'm not big fan of it

[2020-11-03 07:56] nanotuxi commented on #2107
Can confirm that flipping r and w works with multithreading activated in config. Thanks ;-)
...and For me the first fix in #2567 only works, if I typecast with
`if str(config["python_multi_threading"]).lower() == "true":`

[2020-11-03 07:58] nanotuxi commented on #2107
@nachovizzo Fine I could help with finding a bug :-)

[2020-11-03 08:03] theNded commented on #2107
Thanks everyone for identifying the bug! Please try `make install-pip-package` from the master branch now to check the fix.
It is also recommended to run `--make`, `--register`, `--refine`, `--integrate` in different passes, since `joblib` is not fast at releasing the memory pool.

This issue will be kept open as we have received many constructive suggestions and analyses in this thread. Relevant

[2020-11-03 08:08] devernay commented on #2107
Thanks @theNded ! I will test and report later today

[2020-11-03 08:10] devernay commented on #2107
I also think maybe all the tutorials should be run as an integration test before any release

[2020-11-03 09:17] Zumbalamambo opened #2568 "Incorrect shape of Point cloud"
I have created Pointcloud from an RGB image and a depth image of size `960x540`.

[code]

I tried to access the shape of the point cloud as `points = np.asarray(pcd.points)`

It must have a shape of `(518400,3)` as the input images are of shape `960x540`. However it has the shape of `(508512, 3)`.

How can I sort this out?

[2020-11-03 10:00] nanotuxi commented on #2107
@theNded Yes. Thanks for fixing it.
@devernay Good idea.

[2020-11-03 10:10] anmakon commented on #1887
Hi @griegler,
is there currently any progress underway with the ball pivoting algorithm? I could open a new issue as this one is already a couple months old, but the described problems seem to be very similar to what I'm experiencing.

[2020-11-03 12:51] EllingEye opened #2569 "open3d.geometry.Geometry3D.translate(relative=False) using the mesh origin instead of center"
When you load a new mesh and visualize it, the mesh is placed so that its own coordinate system origin is placed at origin of the viewer. However, when using translate(relative=False) the center of the mesh is used instead.

I would like the possibility to keep using the mesh's own origin when placing the object with translate(relative=False)
For some applications we place the origin of the mesh (

[2020-11-03 13:43] pablospe commented on #1427
From what I see there is not a way to render to an image or depthmap with the current API (the equivalent to `capture_depth_float_buffer`). Also the option to use intrinsic/extrinsic matrix to control the view.

Based on this replies:
https://github.com/intel-isl/Open3D/issues/2190#issuecomment-713555104
https://github.com/intel-isl/Open3D/issues/2190#issuecomment-713622044

Do you have more infor

[2020-11-03 13:46] TheRealRolandDeschain opened #2570 "additional crop and merge functionality"
I'm currently trying to cut out a piece of a mesh, do some computation on that cut out submesh via and then put it back in.
The current TriangleMesh.crop() implementation doesn't give much options for such a procedure.
Currently, to get both the cutout submesh as well as the rest of the initial mesh I use the following - quite hacky - code:
[code]
This simply gets the combined point clouds of the

[2020-11-03 15:05] errissa commented on #2261
@alexspace360 I am looking into this issue. Would you please share the screenshots again? They are no longer available.

[2020-11-03 15:16] AnselmC opened #2571 "Oriented Bounding Box RuntimeError"
**IMPORTANT: Please use the following template to report the bug.**
_____

**Describe the bug**
Computing the oriented bounding box of a set of points that are very close to one another results in a `RuntimeError` from a `Qhull` warning:
[code]

This is easy enough to catch but this behavior should either be documented or the warning should not be made into a `RuntimeError` IMO.

**To Reproduce**

[2020-11-03 15:32] rajanidulal commented on #2410
@germanros1987 thanks, I solved this issue already.

[2020-11-03 15:33] errissa commented on #1863
Yes. This works in the new rendering API. There is still no way to access `triangle_material_ids_` from Python so this still doesn't work for old visualizer.

[2020-11-03 15:38] errissa commented on #2510
This a duplicate of #1889. A similar issue is also reported in #1638

I am working on fixing this.

[2020-11-03 15:40] errissa commented on #2089
This is still an issue. Without access in Python to `TriangleMesh::triangle_material_ids_` it is not possible to programmatically texture a triangle mesh with the old visualizer.

[2020-11-03 15:53] errissa commented on #1550
@janulicny We deliberately changed error logging to throw an exception if the severity is high enough which is why your script no longer continues past the first error. I will investigate if the error could safely be reported as a warning instead.

[2020-11-03 16:04] theNded commented on #2107
Agreed. I take responsibility for this issue.
In the next release, we will refactor the reconstruction system and provide a C++ counterpart. Please stay tuned.

[2020-11-03 20:40] theNded commented on #1787
This problem can be reproduced with open3d==0.11.1, numpy==1.19.1. Investigating.

[2020-11-03 20:55] devernay commented on #2107
Much nicer!
![image](https://user-images.githubusercontent.com/3778071/98039485-a21c4a00-1dd3-11eb-8a17-2660843645d5.png)

[2020-11-03 21:21] devernay commented on #2107
Final result looks good too! @theNded are you going to push a bugfix release with this change soon?

[2020-11-03 21:43] stsdc commented on #1794
Can't I'm not using Open3D in current project.

[2020-11-03 21:45] #1401 closed

[2020-11-03 22:13] #2568 closed

[2020-11-03 22:44] devernay commented on #2107
@theNded in commit https://github.com/intel-isl/Open3D/pull/2567/commits/18fb759f2b13247c1569c193b32c267bd9bb271e from https://github.com/intel-isl/Open3D/pull/2567 you forgot to change the default value for python_multi_threading here: https://github.com/intel-isl/Open3D/blob/master/examples/python/reconstruction_system/initialize_config.py#L28

[2020-11-03 23:11] theNded commented on #1787
For now, we cannot reproduce the problem if we create a new Conda environment. The problem is only partially reproducible in an old environment that has been created before October. (pip has changed the way to resolve conflicts after October 2020).

Please let us know if you can still reproduce the problem in a newly created environment.

[2020-11-03 23:35] theNded commented on #2107
Thanks, it is fixed. We are working on building a new wheel, hopefully a new release will be available in 0.11.2 soon.

[2020-11-03 23:36] theNded commented on #2107
FYI, another potential memory leak mentioned in #1787 can be circumvented by simply creating a new python enviroment. Please let us know if you can still reproduce that problem in a python new enviroment.

[2020-11-03 23:36] #2556 closed

[2020-11-04 00:23] devernay commented on #1787
I observe mo memory leak in a fresh pyenv with open3d-master installed, so I guess the leak was caused by some faulty numpy or something.
@rui2016 @jbjeong @shiyoung77  can you also test with the valgrind command below (if you're on linux)?
[code]

[2020-11-04 01:23] shiyoung77 commented on #1787
@theNded @devernay I pip installed open3d in a new conda environment and now the issue is gone. It seems to be a problem of internal package management by the old version of pip/conda. Thanks for looking into that.

[2020-11-04 07:31] aremazeilles commented on #2481
Hi
Is it likely to be addressed? I do not have clear if this is a limitation of the C++ version, or if this is an issue you would like to solve. In the latter any time frame indication would be great.

[2020-11-04 08:56] hos-b commented on #2286
Ubuntu 20.04
Open3D 0.11.0
causes `undefined reference` linker error for :
- OpenCV 4.2
- ROS Noetic
- CARLA simulator 0.9.9
as soon as I try to link Open3D libraries, everything else fails to link.

[2020-11-04 12:16] jousefm commented on #1026
Any progress here? Having the same issue. No visualization at all.

[2020-11-04 12:17] jousefm commented on #879
Still persisting, any workarounds?

[2020-11-04 13:24] azubu23202869 opened #2575 "reconstruction_system error"
- Operating system:  Windows 10 64-bit
- Python version: Python 3.6
- Open3D version: 0.11.1
- Is this remote workstation?: no
- How did you install Open3D?: conda

[code]
CPU:R5 3600
RAM:16GB

if realsense_recoder get >700 image

[code]

the following problems will occur when running halfway

[code]

realsense.json and camera_intrinsic.json are both default settings

I have tried creating new con

[2020-11-04 18:16] nanotuxi commented on #2107
No need for this. Everybody is happy you found this (not easy to find) bug so fast. Thanks for the hints concerning all the other little bugs, to.

[2020-11-04 18:21] ashura1234 commented on #2575
Same here, can't even run the tutorial.

[2020-11-04 18:35] theNded commented on #2575
This has been reported and intensively discussed in #2107. It has been fixed in #2567. Please try the up-to-date master branch for now, and we will be releasing a patch soon.

[2020-11-04 18:35] #2575 closed

[2020-11-04 18:35] errissa commented on #2547
@IvanCobotic PR #2577 addresses this issue.

[2020-11-04 18:36] errissa commented on #2089
This issue is now fixed and merged into master.

[2020-11-04 18:36] #2089 closed

[2020-11-04 18:40] errissa commented on #1863
Please try master. `triangle_material_ids` is now exposed to python.

[2020-11-04 18:40] #1863 closed

[2020-11-04 18:58] aycameric commented on #2559
I am using Version: 0.8.0.0

[2020-11-04 19:10] aycameric commented on #2559
when I try to compile from source I get this error message:
**CMake Error at CMakeLists.txt:10 (cmake_minimum_required):
 CMake 3.15 or higher is required.  You are running version 3.5.1

-- Configuring incomplete, errors occurred!**

I tried to fix it with these commands:
export PATH=$HOME/cmake-install/bin:$PATH
export CMAKE_PREFIX_PATH=$HOME/cmake-install:$CMAKE_PREFIX_PATH

but it's not workin

[2020-11-04 21:20] theNded commented on #2522
Discussed in #2107 and fixed in #2567.

[2020-11-04 21:20] #2522 closed

[2020-11-04 21:43] edxsx opened #2578 "Adding options to point cloud voxel_down_sample"
**Is your feature request related to a problem? Please describe.**
Currently voxel_down_sample for point clouds computes the color values of each downsampled voxel by taking the mean of the points that fall in that voxel. This isn't always what you want. Sometimes mode or median of the colors make more sense.

In python, using voxel_down_sample_and_trace and looping through the indices to compute

[2020-11-05 00:59] #2578 closed

[2020-11-05 01:30] errissa commented on #1550
@janulicny Please try latest master. GLFW errors are now logged as warnings so they don't force the program to quit.

[2020-11-05 01:30] #1550 closed

[2020-11-05 01:36] errissa commented on #2547
Current master has the fix for this issue.

[2020-11-05 01:36] #2547 closed

[2020-11-05 01:37] errissa commented on #2510
This is now fixed.

[2020-11-05 01:37] #2510 closed

[2020-11-05 01:37] errissa commented on #1889
This is now fixed.

[2020-11-05 01:37] #1889 closed

[2020-11-05 01:38] errissa commented on #1638
@nachovizzo This is now fixed.

[2020-11-05 01:38] #1638 closed

[2020-11-05 08:51] nachovizzo commented on #1638
Amazing thanks!

[2020-11-05 09:51] nachovizzo commented on #2107
I Agree with @nanotuxi . There is no need to take any "responsibility" We are not operating a human's heart, don't stress yourself that much! thanks for the great help and support!

[2020-11-05 11:44] heethesh opened #2580 "How to use ml3d.vis.Visualizer() with a point cloud sequence?"
I would like to use ml3d.vis.Visualizer() with a point cloud sequence (eg: from Carla PythonAPI) and switch between the color-maps on the GUI. How can I extend the example to use it on a sequence instead of a single point cloud?

[2020-11-05 15:44] mganglb opened #2581 "simplify_quadric_decimation works horrible"
Hello, i struggle with the "simplify_quadric_decimation" method. And i think one of the reason is the use of "subdivide_midpoint".
_____

**Describe the bug**
i am using simplify_quadric_decimation on a triangle mesh what is
*   created by create_box()
*   up sampled by subdivide_midpoint()

**Expected behavior**
a better result, then i get. -> img2 right picture
On **Img1** you can see that open3

[2020-11-05 17:08] nickponline commented on #2471
I would also be very interested in this.

[2020-11-05 19:12] nickponline commented on #2471
@frk1993 @griegler here is a way to do it although slow, any comments of the preferred way open3d would handle this?

[code]

[2020-11-05 19:39] griegler commented on #2471
It should be very simple to add such a function to Open3D, should be pretty similar to the `EstimatesNormals` [here](https://github.com/intel-isl/Open3D/blob/master/cpp/open3d/geometry/EstimateNormals.cpp#L313).

[2020-11-05 20:58] meder-yembo opened #2583 "Ability to initialize a TSDFVolume with an existing TSDF in Python"
**Is your feature request related to a problem? Please describe.**

I would like to be able to provide initial values to a TSDFVolume or ScalableTSDFVolume via the Python interface. There is currently no way to do it.

Additionally, the options to specify non-uniform dimensions would be nice as well. In many cases, I may want a voxel grid over a rectangular region instead of a cube.

**Describe th

[2020-11-05 21:03] meder-yembo opened #2584 "Expose the option to initialize a TSDF with prior values"
**Is your feature request related to a problem? Please describe.**

There is no way to initialize a TSDF with prior information

**Describe the solution you'd like**

A constructor that accepts a numpy ndarray containing existing TSDF values whose dimensions specify a given voxel grid. The other parameters (voxel size, truncation length, etc.) can all still be passed in.

**Describe alternatives y

[2020-11-05 21:04] meder-yembo commented on #2584
Ah I'd gotten an error when I submitted this the first time, but it seems it did, in fact, go through. Closing this as redundant.

[2020-11-05 21:04] #2584 closed

[2020-11-05 21:44] nawara72 commented on #2507
Any updates on building Open3D-ML, on Windows with PyTorch support?? Thanks

[2020-11-06 03:15] #2489 closed

[2020-11-06 07:48] chenxyyy opened #2586 "How to display point clouds and words at the same time?"
Can the Open3D show words? I'm doing point cloud detection and want it to show the category of each target.

Does anyone know?

Thanks! @ @adamlofts

[2020-11-06 08:58] Walter0807 commented on #1377
I have the same problem. I seems not implemented now.

[2020-11-06 09:35] michele-arrival commented on #2019
Any news on this?

[2020-11-06 10:21] Sea421 commented on #2346
Hi @shakasaki,

I have faced with same issue. If you solved the issue, can you please give me advice?

Thanks

[2020-11-06 10:25] ZOUYIyi opened #2587 "change the definition of the geometry::pointcloud"
I changed the definition of the geometry::pointcloud by add two variable :   vector<int>   ind1   ;  vector<int>  ind2
and I rebuild it .
but I find that some of the function works still good and some not
for example :
geometry::pointcloud  p_0 , p_1;
auto   pointcloud = p_0 + p_1  ;
it works well in debug mode ,but always fails in release mode ,and it  throws  "std::bad_alloc"
anyboyknow what hap

[2020-11-06 11:43] sanskar107 commented on #2586
Right now there is no method to show words. We would appreciate if you want to contribute.

[2020-11-06 11:52] sanskar107 commented on #2559
You can install the latest version with `pip install open3d==0.11.1` for python functionality.
for building from source, can you post the output of your CMake ?

[2020-11-06 12:29] benjaminum commented on #2112
Hi @femust , there have been many changes and a new release since this issue was opened.
Please reopen this issue if the problem still persists with the latest version.

[2020-11-06 12:29] #2112 closed

[2020-11-06 13:19] errissa commented on #2586
The ability to put text labels in a 3D scene was recently added to the roadmap for 0.12.

[2020-11-06 13:57] aycameric commented on #2559
with pip install open3d==0.11.1 I get this Error:
ERROR: Could not find a version that satisfies the requirement open3d==0.11.1 (from versions: 0.8.0.0, 0.9.0.0)
ERROR: No matching distribution found for open3d==0.11.1

after "cmake ..", I get:

-- THIRD_PARTY_DOWNLOAD_DIR is not specified, will download directly.
-- No CMAKE_BUILD_TYPE specified, default to RelWithDebInfo
-- Open3D 0.11.1+b1423e1

[2020-11-06 14:19] cogaplex-bts opened #2588 "C++ API: EstimateNormals() not working"
Hello,
I have my own code that generates point cloud from a sensor, trying to use EstimateNormals() with my code but the function always outputs "[Open3D WARNING] [KDTreeFlann::SetRawData] Failed due to no data."
I confirmed that I correctly filled the member std::vector points_ from my side but in the function EstimateNormals() I saw that the member points_ had no data.
Below is the minimal code

[2020-11-06 14:38] shakasaki commented on #2346
hi @Sea421,
Finally, I could not figure out a solution using open3D alone, so I combined it with pyvista.

Assuming you have a numpy array called "point_cloud" that has 3 columns (xyz) and rows for entries, this worked for me:

[code]

[2020-11-07 00:55] remmel commented on #2566
I've installed the [open3d-app-0.11.1-Ubuntu_20.04.deb](https://github.com/intel-isl/Open3D/releases/download/v0.11.1/open3d-app-0.11.1-Ubuntu_20.04.deb) on Ubuntu 20.04.1 LTS, I've got same error :

[code]

[2020-11-07 07:30] Sea421 commented on #2346
Thank you very much

[2020-11-07 09:13] griegler opened #2591 "Open3DViewer macOS crash"
I loaded a mesh in the open3d viewer application on macOs (10.15.7) and then I wanted to save an image via menu - "Export Current Image". This crashes the application, no image is saved.

In the terminal I get the following error `illegal hardware instruction ./Open3D`.

[2020-11-08 06:33] funshine opened #2592 "Any chances to make RPC module work in Windows?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
Currently RPC will not compile in windows

[2020-11-08 15:32] AhmadBaracat commented on #2552
Reporting the same error (Segmentation Fault).

**Operating system:** MacOS Catalina 10.15.7
**Python version:** 3.8.5
**Open3D version:** 0.11.2
**Is this a remote workstation?:** no
**How did you install Open3D?** I tried both pip and conda installations

Snippet to reproduce the error:
[code]

[2020-11-09 00:36] chenxyyy commented on #2586
Oh！ Great！I'm looking forward to version 0.12

[2020-11-09 08:15] 1939938853 opened #2595 "Brief instruction\explanation about the CUDA (GPU) module required"
Hello,

Really hope that we can see some instructions\explanations about the CUDA (GPU) module. Maybe just a few more lines? Which parts of v0.11.1 can be accelerated by GPU? How much acceleration can be expected and how to enable the GPU acceleration?

Yesterday I have just built the Open3D with CUDA module enabled on Windows 10. Everything seems OK with CUDA 10.1 and VS2019. But how can I know w

[2020-11-09 09:14] #2586 closed

[2020-11-09 10:55] #2588 closed

[2020-11-09 10:56] cogaplex-bts commented on #2588
Sorry. It was my stupid mistake. The cause was that I linked libraries in a completely wrong way.

[2020-11-09 16:01] MrGoort commented on #2286
I tried to do that, but unfortunately got a building error now:

/usr/local/include/open3d/utility/Console.h:40:10: fatal error: fmt/format.h: No such file or directory
 #include <fmt/format.h>
          ^~~~~~~~~~~~~~
compilation terminated.

really don't know what is the problem here, but puts me off to use this library.
There is also a compilation error in Line3D.h that can't believe how they h

[2020-11-09 16:24] SwagJ opened #2596 "Pointcloud convert to RGBD image"
**Is your feature request related to a problem? Please describe.**
Dear all,
My task is like the following:
1. Performs rgbd image to 3d pointcloud, with camera intrinsic and pose.
2. Process transformation on generated 3d pointcloud.
3. get rgbd image from transformed 3d pointclouds, with the same camera intrinsic and pose.

**Describe the solution you'd like**
For 1 and 2, there are available bu

[2020-11-09 16:27] hos-b commented on #2286
that's most likely because you don't have [fmtlib](https://github.com/fmtlib/fmt). you should still get an error after building/installing it but an `undefined reference` not the one you got.

[2020-11-09 17:12] guy4261 commented on #2552
Going back down to `pip install open3d==0.10.0.0` made this code work. So if you're not using any `0.11.x` specific feature, that's what I'd recommend until they fix it :(

[2020-11-09 19:07] blarkj commented on #897
Still facing a similar issue. Using open3d version 0.11.2

[2020-11-09 20:31] cygann commented on #2552
@guy4261 @AhmadBaracat Does `0.11.0` work for you? It works on my Mac, which lets me use the `0.11.x` features, but anything `0.11.1+` does not work.

[2020-11-10 09:51] Wuestengepard commented on #1829
I also have this Problem. Drawing the Mesh and Pointcloud results in that Picture:
![image](https://user-images.githubusercontent.com/61849085/98657221-e95d8a00-2341-11eb-8bec-ba954a93c9a7.png)

After creating the TetraMesh, i also get the error:
[Open3D ERROR] [CreateFromPointCloudAlphaShape] invalid tetra in TetraMesh

The code i use:

`alpha = 0.002`
 `print(f"alpha={alpha:.3f}")`
` tetra_mesh,

[2020-11-10 10:14] alddiaz opened #2597 "invalid tetra in TetraMesh"
alpha = 0.02
tetra_mesh, tetra_pt_map = open3d.geometry.TetraMesh.create_from_point_cloud(pcd)
---> alpha_shape = open3d.geometry.TriangleMesh.create_from_point_cloud_alpha_shape(pcd, alpha, tetra_mesh, tetra_pt_map)

RuntimeError: [Open3D ERROR] [CreateFromPointCloudAlphaShape] invalid tetra in TetraMesh

[2020-11-10 10:29] janulicny commented on #1550
@errissa Can confirm that the behavior is the same as with 0.8. Thank you!
![image](https://user-images.githubusercontent.com/29164793/98662192-b74f2680-2347-11eb-9fbc-bb36906485ed.png)

[2020-11-10 13:42] errissa commented on #1550
Yes, the behavior is the same with respect to the logging. GLFW errors are logged to the console but don't stop the program just like in 0.8.

[2020-11-10 14:36] benjaminum commented on #2592
It is OK to disable it. At the moment there is still a lot of code missing for the server side. There will be more updates to the RPC module for the next release.
In case you still want to compile the RPC module, can you share the error messages?

[2020-11-10 14:39] ppkettu opened #2598 "Segmentation fault: 11 on MacOS Mojave 10.14.6"
**IMPORTANT: Please use the following template to report the bug.**
_____

**Describe the bug**

Segmentation fault: 11 on MacOS Mojave 10.14.6.

**To Reproduce**
Steps to reproduce the behavior:

1. cd Open3D/python/examples/python

Saved this
`import open3d as o3d

print("Load a ply point cloud, print it, and render it")
pcd = o3d.io.read_point_cloud("../test_data/fragment.ply")
print(pcd)

o3d.

[2020-11-10 14:43] sanskar107 commented on #2587
@ZOUYIyi can you share your code where you made changes?

[2020-11-10 15:07] ZOUYIyi commented on #2587
![捕获](https://user-images.githubusercontent.com/44751133/98691749-548e7700-23a9-11eb-8c4e-2efad70ed38d.PNG)
all I need is to add these two variable and make everything ok

[2020-11-10 16:20] hduonggithub commented on #2543
@germanros1987
Do you know how to get the ViewControl in this new GUI to set the following?
set_look_at,
set_front,
set_zoom

With non-gui visualizer, I can get it by vis.get_view_control(). I am looking for a method in the new GUI. Thanks!

[2020-11-10 20:24] rankela opened #2599 "Importing open3d after wandb causes a ModuleNotFoundError: No module named 'prompt_toolkit.formatted_text'"
**Describe the bug**
Importing open3d after importing wandb (weights and biases) raises a ModuleNotFoundError:
`Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/local/lib/python3.8/dist-packages/open3d/__init__.py", line 95, in <module>
    from .j_visualizer import *
  File "/usr/local/lib/python3.8/dist-packages/open3d/j_visualizer.py", line 27, in <module>

[2020-11-11 00:24] cygann commented on #2440
To update and close this, I found that creating a TriangleMesh geometry of the axis through the `TriangleMesh.create_coordinate_frame` function worked well. The point clouds I was working with were very large and flat.

[code]

Thank you!

[2020-11-11 00:24] #2440 closed

[2020-11-11 03:06] prewettg commented on #2598
I can reproduce this problem, and it appears to be a problem with sharing OpenGL with Filament, since we crash in an OpenGL call with the instruction pointer at 0x0. As a workaround, you can compile with the cmake flag `-DBUILD_GUI=OFF` and it will work.

[2020-11-11 03:10] prewettg commented on #2552
There appears to be a problem with our linking to OpenGL through Filament, which results in the OpenGL functions not being loaded. As a workaround, you can compile with the cmake flag -DBUILD_GUI=OFF and then we will link to OpenGL directly.

[2020-11-11 03:44] AhmadBaracat commented on #2552
Thanks @guy4261 and @cygann. I have tried `0.10.0.0` and `0.11.0` and both of them work fine now 🎉

[2020-11-11 03:45] kaixin-bai opened #2600 "open3d visualization gui how to visualize chinese?"
`gui.Application.instance.create_window` can visualize chinese string, but `CollapsableVert` and `Button` will visualize chinese character as `?`. Is there any solution? Thanks!

[2020-11-11 04:20] prewettg commented on #2600
Internationalization is not currently possible, although it is on our list of things that we would like. Unfortunately, text and 3D graphics are difficult to do together, because you end up needing to have every character you will use in a texture somewhere. This is especially troublesome for languages like Chinese that have many characters in common usage. Also, the library that we are using to d

[2020-11-11 04:46] d-walsh opened #2601 "Support UpdateGeometry for more geometry types in `visualization/rendering/Scene.h`"
**Is your feature request related to a problem? Please describe.**

There are functions to `AddGeometry` other than `geometry::PointCloud` but there are no `UpdateGeometry` functions for these other types.
It can be seen here: https://github.com/intel-isl/Open3D/blob/master/cpp/open3d/visualization/rendering/Scene.h#L103
[code]
This functionality is needed to change the scene actively.

**Describe

[2020-11-11 06:50] kaixin-bai opened #2602 "add "IntrinsicCamera" support in "open3d.visualization.rendering""
please add IntrinsicCamera model in rendering, sothat the rendered depth image can be totally the same as the real depth intrinsic camera. (￣ε(#￣)☆

[2020-11-11 09:08] IvanCobotic commented on #218
+1
I often have need to pickle various intermediate results and converting to/from Open3D format introduces a lot of unnecessary code.

[2020-11-11 11:57] sanskar107 commented on #2599
`wandb` comes with a very older version of `prompt_toolkit==1.0.15`, whereas some Open3D dependencies (`jupyter-console`, `ipython`) requires newer versions `prompt_toolkit>=2.0.0`.
Even if you have latest version of `prompt_toolkit` installed, importing `wandb` first exposes the internal older version which causes this issue.
If you want to work with both `open3d` and `wandb`, workaround is to im

[2020-11-11 12:42] sanskar107 commented on #2595
We are actively working on CUDA support on most of the modules. Currently only some utilities(hashmap, solvers, reduction, etc ) are accelerated. Full pipeline acceleration will be supported in future release.

[2020-11-11 13:29] SebastianGrans commented on #932
I believe this should be reopened. Open3D relies on the RPly library version 1.1.3.
The latest version is 1.1.4.

[code]

If I download the latest version of the RPly library [here](http://w3.impa.br/~diego/software/rply/) and run the example program on the same file:

[code]
It runs completely fine:
[code]

Here's an example `.ply` that doesn't work:
[obj_23.zip](https://github.com/intel-isl/Open

[2020-11-11 15:13] hduonggithub opened #2603 "Example code for ML visualizer"
Hi All,

I am working on Open3D new GUI from vis-gui.py and all-widgets.py. I do see that there is another GUI based Viewer/Visualizer (see the picture) in ML which is very closed to what I am doing.

I am wondering if we have this code somewhere in your github?
![image](https://user-images.githubusercontent.com/11492480/98828686-fdff5800-23fd-11eb-835b-f518a4bd0fc7.png)

[2020-11-11 16:33] 24THEGuNNeR07 opened #2604 "Eigen allocation segmentation fault"
I'm trying to make some operations on Pointcloud but when calling VoxelDownSample function i'm getting Segmentation fault signal.

Code:
`
open3d::geometry::PointCloud open3d_source_original;
open3d::geometry::PointCloud open3d_source_down;
createPointCloud(open3d_source_original);
open3d_source_down = *open3d_source_original.VoxelDownSample(0.01);
`

createPointCloud is my function which creates

[2020-11-11 16:52] 24THEGuNNeR07 commented on #2604
![Screenshot from 2020-11-11 17-50-46](https://user-images.githubusercontent.com/31591820/98840116-b0f3a400-2446-11eb-94c8-c0b9fcb76845.png)

[2020-11-11 17:51] zhan-xu commented on #1731
Hi @theNded, here is a example OBJ file that version 0.11.2 doesn't load correctly.
[example.zip](https://github.com/intel-isl/Open3D/files/5525829/example.zip)

[2020-11-11 21:32] OliHas commented on #2183
Hi,

I experience the same when rotating/zooming in a pointcloud. I'm running on Windows too with an Intel Iris Plus Graphics 640.

Are there any updates on this issue?

[2020-11-12 03:18] heiwang1997 commented on #2566
Also it seems the newest deb package `open3d-app-0.11.1-Ubuntu_20.04.deb` create wrong path to Open3D viewer binary in the desktop entry so we cannot launch it from gnome.

[2020-11-12 05:21] fabioruetz commented on #999
@prewettg Thanks a lot! Is there a way to synchronize the camera/viewpoints over the different viewports?  I.e I would like to move one the viewpoint in one window and have the other follow the movement.

Cheers Fabio

[2020-11-12 11:11] ardiya opened #2605 "Unimplemented python binding in ViewControl"
**Is your feature request related to a problem? Please describe.**
Currently, I'm trying to preserve the camera view when changing between `o3d.visualization.Visualizer` and `o3d.visualization.VisualizerWithVertexSelection` in python.

I am looking at the function [ConvertToViewParameters and ConvertFromViewParameters](https://github.com/intel-isl/Open3D/blob/75dd3674511afc05dd752d9b12cb474042781b

[2020-11-12 12:20] Wuestengepard commented on #1887
Hello anmakon,
have you found a solution to your problem?
Meshing my PointCloud with the Ball-Pivoting results in a similar Mesh with a lot of holes.

![image](https://user-images.githubusercontent.com/61849085/98938713-9bcf5180-24e8-11eb-85cf-f367dca024c9.png)

[2020-11-12 12:31] funshine commented on #2592
Sure, I will enable BUILD_RPC_INTERFACE  and post the error messages here next week, when I get access to my WIN PC.
I've done it once, it seems boost module not compiled/found or something.
I will do it again next week. Thanks.

[2020-11-12 12:50] 24THEGuNNeR07 commented on #2604
https://stackoverflow.com/questions/64803293/eigen-allocation-segmentation-fault-open3d

[2020-11-12 13:06] JoaoAVDuarte commented on #897
Same issue here, with the same version

[2020-11-12 13:42] 07hokage opened #2606 "Build Failed on Jetson Nano"
Following the documentation [here](https://github.com/intel-isl/Open3D/blob/master/docs/arm.rst),

I tried buidling Open3D library from source. But build repeatedly fails.

When built with `DBUILD_CUDA_MODULE=ON` and `-DBUILD_GUI=ON`, below attached is the build summary.
**Build summary:** [build_gui_on.txt](https://github.com/intel-isl/Open3D/files/5530861/build_gui_on.txt)

Build failed with the

[2020-11-12 15:36] FLS-BP-US opened #2608 "Reconstruction Multiscale ICP throwing an error with args that use to work."
**IMPORTANT: Please use the following template to report the bug.**
_____

**Describe the bug**
Was there a change to the registration_colored_icp function args in 0.11.2?

**Expected behavior**
Registration use to work with 0.11.0

**Screenshots**
![image](https://user-images.githubusercontent.com/18273358/98956405-39149080-24bd-11eb-8647-6fa59415381b.png)

**Environment:**
- Operating system: Wi

[2020-11-12 16:00] zhan-xu commented on #1731
@theNded So the problem is bit tricky. The obj file [here](https://github.com/intel-isl/Open3D/files/5531718/example.zip)
 is from my process which seems to have inconsistent faces and vertices numbers and quad faces. However, with version 0.10.0 and 0.9.0, using read_triangle_mesh will automatically discard redundant faces and convert the mesh into a pure triangle mesh. With 0.11.2, it doesn't pr

[2020-11-12 16:24] anmakon commented on #1887
Hello @Wuestengepard,
unfortunately, I haven't found a solution to this yet. I've checked the output of the ball pivoting algorithm in meshlab with the same pointcloud and there it looked fine. I've also gone through the original paper of the ball pivoting algorithm and this is definitely not the behaviour I would expect. I'll probably end up using the poisson algorithm instead of this one, the re

[2020-11-12 16:37] bumbastic opened #2609 "CUDA TSDF"
Hi, I now use Open3D with Kinect for Azuer. I use multiple cameras feeding integration volumes simultaneously. Building meshes of objects coming in to camera views.

I have a small issue. Integration is 'slow' and the work is queuing up in this function. I know a lot of work has been done to enable GPU support for the pipeline in the past.

Will GPU acceleration be available in a near future relea

[2020-11-12 18:54] prewettg opened #2610 "Add callbacks for mouse/key events in gui.SceneWidget on the Python side"
C++ can subclass gui::SceneWidget to override mouse and keyboard events; Python needs to have access to this, too. Having mouse and key events would enable things like:
- changing the key navigation if you have an international keyboard (#1893)
- custom editing of selected points (#1965)
- synchronize cameras with multiple SceneWidgets (#999, see last comments)
- showing the current mouse coordina

[2020-11-12 18:57] prewettg commented on #999
@fabioruetz Unfortunately there is no way to synchronize them at the moment. You'd need to monitor mouse movement so that you can update the appropriate camera, but that has not been exported to Python yet, although it's on my list of things to do. I just created a specific issue for this, #2610, if you want to follow.

[2020-11-12 19:05] prewettg commented on #2603
Yes, the code is available in the Open3D-ML repository, in the ml3d/vis directory. Most of the code is in [visualizer.py](https://github.com/intel-isl/Open3D-ML/blob/master/ml3d/vis/visualizer.py). See also the [visualize.py example](https://github.com/intel-isl/Open3D-ML/blob/master/examples/visualize.py) for how to call it. The visualizer is available in `open3d.ml.vis.Visualizer` if you would l

[2020-11-12 19:05] #2603 closed

[2020-11-12 19:28] hduonggithub commented on #2603
Thanks for your prompt answer @prewettg !

[2020-11-13 01:53] Rocknz opened #2611 "Can not install in Ubuntu 20.04"
**IMPORTANT: Please use the following template to report the bug.**
_____

**Describe the bug**
Hello. I hope to use open3d libraries, but It isn't installed.
It came from new version of gcc (gcc-9).

**To Reproduce**
clone github master branch. and build it.

[code]

**Expected behavior**
Not build completed.

**Screenshots**
Error log
[code]

**Environment (please complete the following informat

[2020-11-13 09:51] lombardm opened #2613 "Please consider to add "deintegrate" functionality to Volume class"
I am a huge fan of your library. Currently I am working with the pipeline.integration class. Personally, I think it could be very nice to have the symmetric version of the "integrate" function, therefore a "deintegrate" that is able to remove from the current volume some previously integrated data at a specific position. Indeed, as stated in "BundleFusion" paper from 2017, the TSDF is symmetric, s

[2020-11-13 13:40] mganglb opened #2614 "[python] o3d.io.read_triangle_mesh changes order of faces and vertices"
Hello,
loading an *.obj file what does not start with face[0] = [0,1,2] gets changed on loading.
The mesh is still ok. But the vertex numbers and faces gonna change. This is especially a problem, if working with labeled data.
code to reproduce:

[code]
[code]

System:
py38
windows (anaconda)

best regards
mgangl

[2020-11-13 15:35] theaveragedev commented on #1580
Python 3.9 64 bit verion. Still having this issue.

[2020-11-13 18:09] hos-b commented on #2286
I suspect that this is due to conflicts between any library that Open3D builds as a dependency (sort of invisibly) and anything else that uses those libraries. e.g. libfmt is built and used by Open3D. A ROS installation contains libqhull and therefor `${catkin_LIBRARIES}` might contain it. Maybe OpenCV fails because of Eigen dependencies. I hope the issue is solved in a future release. I had to mo

[2020-11-13 19:38] viisautta opened #2616 "PoissonRecon/Src/PointStreamData.h: No such file or directory"
**IMPORTANT: Please use the following template to report the bug.**
_____

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. cd '...'
2. python '....'
3. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your pr

[2020-11-13 19:40] viisautta commented on #2616
PointStreamData.h is not found in PoissonRecon (https://github.com/mkazhdan/PoissonRecon)

[2020-11-13 22:30] pablospe commented on #2190
Now `convert_from_pinhole_camera_parameters` has an extra parameter which allow an arbitrary camera:

    ctr.convert_from_pinhole_camera_parameters(param, allow_arbitrary=True)

I believe this solves your problem, and this issue can be closed.
@ghost, can you confirm this? See the [example](https://github.com/pablospe/open3D_depthmap_example) for more details.

[2020-11-13 23:08] edshkim98 opened #2619 "Open3D coloring 3D point cloud using labels"
Hi, I have 3D point cloud data to perform semantic segmentation which I am trying to visualize it using Open3D.
Unfortunately, it does not come with RGB colors but it has labelling for each point.
Most of the examples so far in open3D, people have used RGB colors to visualize it.
Is there anyway to visualize the point cloud in colors corresponding to the labels?
My data looks as follow:
points: (1

[2020-11-14 00:04] jackjansen opened #2620 "Versioning problem: 0.11 is considered compatible with 0.10 but does not have open3d.registration"
**IMPORTANT: Please use the following template to report the bug.**
_____

**Describe the bug**
I have code that depends on `open3d.transformation.TransformationPointToPoint`. This functionality has moved to a different place between 0.10 and 0.11.

But if I `pip install open3d~=0.10` it will currently install 0.11.X, which is incompatible.

**To Reproduce**

1. `pip install open3d~=0.10`
2. run c

[2020-11-14 00:19] nickponline opened #2621 "select_by_index doesn't work for meshes with multiple textures"
[Open3D WARNING] [SelectByIndices] This mesh contains triangle uvs that are not handled in this function:
[code]

[2020-11-14 08:40] nachovizzo opened #2622 "Default normal value [0, 0, 1] ?"
Is there any reason to use `Eigen::Vector3d(0.0, 0.0, 1.0)` instead of `Eigen::Vector3d::Zero()` when the normal compution goes wrong?

https://github.com/intel-isl/Open3D/blob/7f3080b53bce7c7d9cb30e41dc1b92258b4324ab/cpp/open3d/geometry/EstimateNormals.cpp#L341

[2020-11-14 09:35] aryasenna commented on #1598
Hi, why is this closed?
For those with laptop with only integrated Intel GPU, then we have no solution.

Kinda ironic since this wonderful library is made by Intel... :(

[2020-11-14 12:55] #2619 closed

[2020-11-15 09:05] viisautta commented on #2616
After AdaptiveSolvers(PoissonRecon v12.0) was upzipped into the 3rdparty/PoissonRecon/, this bug was missing.

some other build issues appeared as below:
$ make
[  0%] Built target 3rdparty_rply
[  1%] Built target ext_mkl_include
[  3%] Built target ext_mkl
[  4%] Built target 3rdparty_lzf
[  5%] Built target 3rdparty_tinyfiledialogs
[  7%] Built target ext_tbb
[  9%] Built target ext_faiss
[ 11%

[2020-11-15 14:22] viisautta commented on #2616
this bug need fill a virtual destructor in SparseNodeData's base struct _SparseNodeData.

[2020-11-15 14:23] viisautta commented on #2616
a 3rd bug occurs:

[ 48%] Building CXX object cpp/open3d/io/CMakeFiles/io.dir/file_format/FileOBJ.cpp.o
/home/about/Public/Devel/Open3D-0.11.2/cpp/open3d/io/file_format/FileOBJ.cpp: In function ‘bool open3d::io::ReadTriangleMeshFromOBJ(const string&, open3d::geometry::TriangleMesh&, bool)’:
/home/about/Public/Devel/Open3D-0.11.2/cpp/open3d/io/file_format/FileOBJ.cpp:58:72: error: no matching funct

[2020-11-15 14:27] viisautta commented on #2616
the version of tinyobjectloader noted in 3rdparty/README.txt is wrong, should used current version

[2020-11-15 15:05] viisautta commented on #2616
a bug notes as below:

[ 74%] Linking CXX executable ../../bin/ViewGeometry
/usr/bin/ld: ../../lib/Release/libOpen3D.so: undefined reference to `ImGui::SliderFloat(char const*, float*, float, float, char const*, float)'
/usr/bin/ld: ../../lib/Release/libOpen3D.so: undefined reference to `_SparseOrDenseNodeData<float, UIntPack<5u, 5u, 5u> >::~_SparseOrDenseNodeData()'
/usr/bin/ld: ../../lib/Release

[2020-11-15 15:09] viisautta commented on #2616
a bug notes as below:

[ 74%] Linking CXX executable ../../bin/ViewGeometry
/usr/bin/ld: ../../lib/Release/libOpen3D.so: undefined reference to `ImGui::SliderFloat(char const*, float*, float, float, char const*, float)'
/usr/bin/ld: ../../lib/Release/libOpen3D.so: undefined reference to `_SparseOrDenseNodeData<float, UIntPack<5u, 5u, 5u> >::~_SparseOrDenseNodeData()'
/usr/bin/ld: ../../lib/Release

[2020-11-15 16:43] GHSch opened #2624 "Viewer images with black stripes"
**IMPORTANT: Please use the following template to report the bug.**
_____

**Describe the bug**
Viewer images show stripes, see image.

**To Reproduce**
python examples/python/reconstruction_system/sensors/azure_kinect_viewer.py --align_depth_to_color

**Expected behavior**
A clear image as shown on the website.
http://www.open3d.org/docs/release/tutorial/sensor/azure_kinect.html#installation

**S

[2020-11-16 04:41] AlphaPav commented on #1941
did you solve this problem? thanks!

[2020-11-16 07:37] Wuestengepard commented on #1887
Maybe the Poisson algorithm could work for me too. I will have a look at this.
Yes, I checked the normals of the point cloud and experimented very much with the radii but with no success.

[2020-11-16 11:13] JoaoAVDuarte opened #2625 "[Question] Remove noise from DBSCAN's pointcloud"
Is there a method to remove the noise (label -1) from a DBSCAN's pointcloud?
Using DBSCAN Clustering example, the method is successfully able to find clusters in a pointcloud, however is doesn't delete the noise.
I've also tried to use pcd.remove_statistical_outlier, and pcd.remove_radius_outlier, but with no success.
Is there already a method that does this, or should it be done manually? How sho

[2020-11-16 11:19] JoaoAVDuarte commented on #1910
How did you solve it?

[2020-11-16 17:00] bradleynull commented on #1424
@germanros1987 It looks like 0.10 fixed the issue. I have not tested with 0.11.

[2020-11-16 19:59] thinker696 opened #2627 "help!"
Is there a function that can convert multiple pictures from different angles into 3D?

[2020-11-16 20:00] 1939938853 opened #2628 "Build filament from source on Windows faild -- is looking for Linux stuff"
Hello,

I was trying to build Open3D on Windows 10 with BUILD_FILAMENT_FROM_SOURCE option selected. It was failed because the compiler was trying to look for Linux stuff.    Might need to add WIN32 flag in somewhere on CMakeLists.txt?

I'm using Visual Studio 2019,  Open3D v0.11.2

Thank you!

`
Severity	Code	Description	Project	File	Line	Suppression State
Error	C1083	Cannot open include file: 'sy

[2020-11-16 20:55] NomitRwt commented on #2627
Depth images are supported. For rgb images you can try [here.](https://github.com/openMVG/awesome_3DReconstruction_list#opensource-sfm-structure-from-motion)

[2020-11-17 02:58] funshine commented on #2592
Win 10 LTSC 2019 64bit
1, In master branch
[code]
2, Then, remove lines in CMakeLists.txt, line 131-134
[code]
3, and run Cmake again, with errors:
[code]
4,  remove lines in 3rdparty/boost/boost.cmake, line 11-13
[code]
5, run cmake again succeed.
6, build solution in Visual studio 2019, with errors:
[code]

[2020-11-17 03:45] albertotono opened #2630 "PointNet jupyter notebook AttributeError: module 'open3d' has no attribute 'read_point_cloud'"
**IMPORTANT: Please use the following template to report the bug.**
_____

**Describe the bug**

I got `AttributeError: module 'open3d' has no attribute 'read_point_cloud'` when I run the notebook provided in PointNet

[code]

**To Reproduce**
Steps to reproduce the behavior:
Notebook is here
https://github.com/intel-isl/Open3D-PointNet

**Expected behavior**
Clear visualization of the class.

[2020-11-17 04:11] albertotono commented on #949
Similar issue:
I tried installing in Linux Ubuntu 20 / Anaconda env / with `conda install -c open3d-admin open3d` with `pip install open3d-python` and `!pip install open3d` but nothing same error with `read_point_cloud`. also when I do python -c "import open3d as o3d" nothing happen. Any help?

[2020-11-17 04:12] albertotono commented on #879
Any idea?

[2020-11-17 04:17] albertotono commented on #2630
FYI, this happen also when I launch `open3d_visualilze.py` ( btw: not sure why it is spell in this way?! -.-)

like `python open3d_visualilze.py`

[code]

[2020-11-17 07:19] 2012312055 opened #2632 "open3d::io::TriangleMeshIO::AddTrianglesByEarClipping fails in triangulating concave polygon"
**Describe the bug**
TriangleMeshIO::AddTrianglesByEarClipping fails in triangulating concave polygon

**To Reproduce**
auto poly = std::make_shared< TriangleMesh >();
std::vector< unsigned int > indices;

poly->vertices_.resize(5);
indices.resize(5);

Eigen::Vector3d v1(0., 0., 0.);
Eigen::Vector3d v2(0., 2., 0.);
Eigen::Vector3d v3(1., 1., 0.);
Eigen::Vector3d v4(2., 2., 0.);
Eigen::Vector3d v5(

[2020-11-17 09:28] adimesika1 opened #2633 "FPFH feature"
Hi
I would like to know why the FPFH feature returns 33-dimensional vector.
I have read Rusu's paper https://www.cvl.iis.u-tokyo.ac.jp/class2017/2017w/papers/5.3DdataProcessing/Rusu_FPFH_ICRA2009.pdf
and still have no idea which features return.

Thanks to all

[2020-11-17 13:15] Me817 opened #2634 "How can I get the timestamp out of a point cloud?"
Hello,

 I need the timestamp of a point cloud to identify the specific point cloud. I already looked it up in the documentation but I did not find anything helpful. Can anybody tell me how to get the timestamp for a specific point cloud?#

Thank you in advance.

[2020-11-17 13:53] qiyueliao opened #2635 "Has anyone got the reconstruction_system on C++"
the reconstruction_system [https://github.com/intel-isl/Open3D/tree/master/examples/python/reconstruction_system](url)   is on python ,I want to know if someone got this on C++? Thank you for your help!

[2020-11-17 14:50] JoaoAVDuarte commented on #2625
Managed to solve this issue. You need to specify the variables in order for it to work.
[code]

[2020-11-17 14:50] #2625 closed

[2020-11-17 17:15] albertotono opened #2637 "Error installing the deb package for linux ubuntu 20"
When I run this
`sudo dpkg -i open3d-app-0.11.0-Ubuntu_20.04.deb`
I got
[code]

[2020-11-17 17:58] albertotono commented on #2630
if I do `from open3d import read_point_cloud`

​I get

[code]

[2020-11-17 18:37] albertotono commented on #2630
In the same environment when I try to run the Visualization demo it works perfectly.
Not sure why the PointNet is not working it was done with 0.04 Open3D version, should I roll back?

[2020-11-17 18:42] albertotono commented on #2630
Is it possible to see the source-code?
![Screenshot from 2020-11-17 10-41-20](https://user-images.githubusercontent.com/11828200/99432798-82038500-28c1-11eb-9b2f-5ec6143efd62.png)

when I click on the link icon, it doesn't bring me to the source code

[2020-11-17 18:51] albertotono commented on #2630
I change to import open3d as o3d and it seems it is passing that point but I got this now

[code]

[code]

[2020-11-17 18:53] albertotono commented on #2630
ok I replace with this new

-
[code]

[2020-11-17 18:53] #2630 closed

[2020-11-17 20:49] GHSch commented on #2624
Found: https://github.com/microsoft/Azure-Kinect-Sensor-SDK/issues/840

[2020-11-17 20:54] #2624 closed

[2020-11-18 03:00] theNded commented on #2627
This is out of the scope of Open3D. Please refer to Colmap or other SfM tools.

[2020-11-18 03:00] #2627 closed

[2020-11-18 03:01] theNded commented on #2609
It will come in the next release, hopefully in December. Please stay tuned!

[2020-11-18 03:03] theNded commented on #2608
Did you upgrade your github repo as well?

[2020-11-18 03:10] theNded commented on #2280
TLDR: Open3D does not work on CORBS.
Long version:
CORBS is a tricky dataset: its depth images are not contiguous -- it has missing depth every other pixel. This means that our RGBD odometry would not work (properly) on this dataset; and with incorrect poses, TSDF integration will try to allocate as much memory as possible. In the end, a memory overflow will trigger a segfault.

[2020-11-18 03:13] #2280 closed

[2020-11-18 03:15] theNded commented on #1787
This issue will be closed for now. Please feel free to reopen, or continue discussions in the aforementioned issues that are still open.

[2020-11-18 03:15] #1787 closed

[2020-11-18 08:33] xiaodongww commented on #1502
Sorry to reopen this issue, I also want to know is there any progress in shape detection.

@griegler `segment_pane` seems only to segment the largest plane.  Does open3d support general plane detection?

For other shapes, (e.g. cone, spears, plans), is there any open box to use? I just found this paper and [the relevant code](https://github.com/alessandro-gentilini/Efficient-RANSAC-for-Point-Cloud

[2020-11-18 08:57] AstitvaSri opened #2639 "Different frame numbers extracted from MKV files captured from multiple synchronized Kinects"
When I try to extract RGBD frames captured from multiple synchronous Azure Kinects, I see different number of frames for each of the MKVs.
For synchronized capture, I have used Azure SDK to get MKV files for all Kinects. I am trying to read frames using azure_kinect_mkv_reader.py

To Reproduce
1.  python examples/python/ReconstructionSystem/sensors/azure_kinect_mkv_reader.py --input master.mkv

[2020-11-18 12:52] sanskar107 commented on #2634
`Pointcloud` class does not have any attribute for storing timestamp. You can consider creating a tuple of pcd object and timestamp.

[2020-11-18 13:18] sanskar107 commented on #2620
@jackjansen `pip install` takes first major version into account, which is currently `0.*` for Open3D.
 `open3d~=0.10` installs a version `>=0.10, ==0.*`. and in this case, it is `0.11.2`

@yxlao is it possible for us to do something about it?

[2020-11-18 15:29] theNded commented on #2633
Please check the tutorials by the original author: https://pcl.readthedocs.io/projects/tutorials/en/latest/#features, especially section PFH and FPFH. Ours is a reimplementation of his work.

[2020-11-18 15:29] #2633 closed

[2020-11-18 15:33] theNded commented on #2622
I think normals have to be with norm 1, they are basically on a sphere. The selection of the axis is random though.

[2020-11-18 15:33] #2622 closed

[2020-11-18 15:37] theNded commented on #2613
We will be providing a new design of TSDF volumes in the next release. Please stay tuned!

[2020-11-18 16:20] lombardm commented on #2613
Thanks!
Then I will close this request for the moment :)

[2020-11-18 16:20] #2613 closed

[2020-11-18 18:51] ssheorey commented on #2639
Can you open the files with [k4aviewer](https://docs.microsoft.com/en-us/azure/kinect-dk/azure-kinect-viewer) or `ffmpeg`? How many frames does it report?
eg: `ffmpeg -i input.mkv -map 0:v:0 -c copy -f null -`
See `frame=` entry at the end of the output.

[2020-11-18 20:07] 1939938853 opened #2640 "Possible some lines' basic tutorial about Open3D filament rendering in C++?"
Hello,

I have spent several days to study Open3DViewer but still cannot figure out how the Open3D filament rendering works. I thought that it might be just a few lines to prepare the scene and then use the scene to add geometries. Is that simple? But how?

Here is my naive code

`open3d::visualization::rendering::EngineInstance::SetResourcePath("resources");
auto& engine = open3d::visualization::

[2020-11-18 20:51] al-tu opened #2641 "missing USE_SYSTEM_ASSIMP cmake option"
**Is your feature request related to a problem? Please describe.**
Is there any reason for not providing such an option for open3d cmake build? I'm working on building everything from source and i've already built assimp as a dependency for other libs in my project, so it would be nice to pass it to open3d so that there would be no copy built (just as i do it with eigen, since there is an option U