[2019-01-14 18:41] syncle commented on #129
@mbouhallel: please install open3d by using ``pip install open3d-python``. ``pip install open3d`` will install other 3rd party package that is not the libarary we are developing. We are not supporting ``apt-get`` yet, so ``sudo apt-get install open3d`` will not work.

Please check http://open3d.org/docs/getting_started.html for more details.

[2019-01-14 18:47] yxlao commented on #764
Tried copy-paste `rgbd_redwood.py` to Jupyter, it works fine for me. Did you have the same source code and valid file names? Potentially you could run the Jupyter code line by line and try to see which line caused the issue.
![capture](https://user-images.githubusercontent.com/1501945/51133077-cebf3600-17e8-11e9-8f1c-cc367c77c18a.PNG)

Regrading the `CondaHTTPError` issue, it seems to be a Conda c

[2019-01-15 08:54] syncle opened #772 "OBJ file support"
**Is your feature request related to a problem? Please describe.**
Current Open3D version does not support obj file format that is one of the common 3D data format.

**Describe the solution you'd like**
Read and write 3D geometry classes into obj file.

*This is an request I got via personal email. Let me this open feature request to make a note.

[2019-01-15 09:07] syncle commented on #772
Good 3rdparty library that is under MIT license: https://github.com/rlk/obj

[2019-01-15 14:37] mbouhallel commented on #129
@syncle thank you for responding, actually I think that the problem for me is that I'm running your project on a 32 bits Ubuntu. I'm trying to compile the project from source, but got problems with the architecture on every dependency (pytest is the latest). I think it's just better for me to install a 64 bits Ubuntu for a clean use.

[2019-01-15 15:03] #770 closed

[2019-01-15 15:04] taochenshh commented on #770
Thanks.

[2019-01-16 06:04] zy871125746 commented on #762
I am using open3d 0.4.0.0 with python3.6 on ubuntu. And I have met the same Warnings. Is there any way that I can get the window size by python ?

[2019-01-16 06:47] kira-on opened #774 "Crop in XY plane"
Is there any faster way to corp the point cloud data, using x,y boundary values (circle/rectangle). The Z values are unknown before cropping.

Thank you

[2019-01-16 07:04] syncle commented on #774
Hi @H-Paul. I am not sure what 'faster' means, but you can crop point cloud using numpy
[code]

[2019-01-16 13:12] ndrplz commented on #765
Re-opening the issue for a strictly related thing. If I set the `mesh_color option` in the json to either:

 `mesh_color_option` : 2
 `mesh_color_option` : 3
 `mesh_color_option` : 4

I expect to see the rendering of X, Y and Z heatmaps respectively (analogously to what happens with ctrl+2/3/4). However this doesn't happen. Do I miss something?

[2019-01-16 13:52] #763 closed

[2019-01-16 19:40] syncle commented on #774
@H-Paul: try to avoid making explicit for loop that could be done by ``numpy``.

Here is what I got:
[code]

and the result is
[code]

[2019-01-16 20:36] OmarAhmadien opened #776 "no attribute 'voxel_down_sample_and_trace'"
When I use open3d inside my code and I call open3d.voxel_down_sample_and_trace it throws me that error:

open3d.open3d has no attribute 'voxel_down_sample_and_trace'

I installed Open3D from the source.

Any suggestions?

[2019-01-16 20:56] yxlao commented on #776
Currently it's only available on `master` branch, compile it from source.
It will be added in the 0.5.0 release soon on PyPI and Conda.

[2019-01-16 21:16] syncle commented on #765
Thanks for the feedback @ndrplz. Let me work on this.

[2019-01-16 21:53] syncle commented on #765
I just pushed new PR for this.

The following code
[code]
should produce this:
<img width="1072" alt="screen shot 2019-01-16 at 1 54 49 pm" src="https://user-images.githubusercontent.com/18297113/51281022-1800b880-1996-11e9-8deb-095de76b1635.png">

[2019-01-16 22:09] syncle commented on #765
FYI, this fix will be shipped with 0.5 release.

[2019-01-16 22:36] syncle commented on #766
Hello @manas-avi, sorry I haven't checked out this issue for some time. Could you share minimal code snippet so that I can reproduce the issue?

[2019-01-17 00:52] #765 closed

[2019-01-17 08:16] williamlai3a opened #780 "[Docker] make install-pip-package failed"
Hi,

I am trying to follow the docker example in the document page.
after ./run.sh, I am inside the container, but python3 -c "import open3d" results in: No model named 'open3d'.
So, I suppose python is not setup for open3d.
Then, I try to run "make install-pip-package" inside the build folder.
Below is the error output:

[code]

Any ideas on what might go wrong?
Thanks!

[2019-01-17 14:52] lukaspistelak opened #781 "read_pinhole_camera_intrinsic from numpy array?"
I cant find nowhere in API how to load  intrinsic data. with known camera intrinsic-like numpy array for ex.

this only load only json:
intrinsic = read_pinhole_camera_intrinsic(config["path_intrinsic"])

Can i load numpy array?

[2019-01-17 16:12] mbouhallel commented on #129
Reinstalled Ubuntu with a 64 bits architecture, got no problem with open3d (pip install open3d), but py3d is still not working, but unlike @amiltonwong I can run rgbd_redwood with no issues. However I cannot import py3d (even from /build/lib/)

[2019-01-17 18:11] qianyizh commented on #781
See this: https://github.com/IntelVCL/Open3D/issues/752

You can also create an empty instance ``x = open3d.PinholeCameraIntrinsic()`` and control it directly with member variables:
[code]
``height, width`` are integers and ``intrinsic_matrix`` is a 3-by-3 ``numpy.ndarray``.

[2019-01-17 20:14] atenpas opened #782 "Different point sizes for different clouds in visualizer"
Is it possible to draw two point clouds with different point sizes? For example, the first cloud with size of 1cm and the second with size of 2cm. The equivalent option in PCL would be something like PointCloudRenderingProperties, PointSize (from the top of my head).

[2019-01-17 21:06] syncle commented on #782
Hi @atenpas, that's interesting question, but It is not possible with current Open3D version (as of 0.5 pre). This is because the point size in a window is globally controlled by single ``RenderOption``. This means a window will have a single setting for point cloud size.

One workaround for your case is to use sphere primitive - you are using explicit spheres to draw point clouds, so that you can

[2019-01-17 21:08] syncle commented on #780
This might be because we are making major change for docker. @takanokage could you comment on this?

[2019-01-17 21:22] takanokage commented on #780
The changes I'm making are not related to this issue.
I'm adding new docker tools for building and testing Open3D.
@yxlao added `make install-pip-package`, maybe he can deal with that.

Regarding `python3 -c "import open3d"` - my first look would be to see if the python version found by cmake at open3d build time is python3. From the information above I can't really say.

[2019-01-17 22:29] syncle opened #785 "STL file support"
**Is your feature request related to a problem? Please describe.**
STL format is another very common format. It would be good if Open3D supports it.

**Describe the solution you'd like**
Reading/Writing triangle mesh to stl file.

**Additional context**
STL format has quite different description for ascii and binary format. There are several stl extensions for the specific application.
Reference t

[2019-01-18 05:42] H-Paul commented on #774
@syncle Thank you for the help.

I have 2 point clouds, one generated by the camera (A) and the other one is generated using numpy (B). Where the number of points in A > B. I want to get the index of all the points in A that intersects with the points in B.
Is there any way I can do this with numpy functions or any of the Open3D functions?
Thanks in advance!

[2019-01-18 05:54] syncle commented on #774
How do you define 'intersection' for the point cloud? Do you mean overlapping region?

[2019-01-18 05:56] H-Paul commented on #774
@syncle Yes! Overlapping region (approximate overlap is also fine)

[2019-01-18 07:16] syncle commented on #774
In this case, consider using KDTree (http://open3d.org/docs/tutorial/Basic/kdtree.html). You can transform the A into Open3D point cloud, and build a KDTree. You can iterate single points in B and find the nearest neighbor in A. This is more efficient than opposite method (making KDTree using B and querying using A).

[2019-01-18 10:31] herbauau opened #787 "FGR with rotation data given as an input"
As part of a school project, I need to create an odometry algorithm to determine the distances of a vehicle. This algorith would have in input two point clouds: one source and one target, but also INS data, that is the rotations of the vehicle.

For the moment, I use the FGR method implemented in Python and using open3d, but the output of this algorithm is a transformation matrix where translation

[2019-01-18 13:15] manas-avi commented on #766
[code]

credits for the mesh file used - John Burkardt
mesh file can be found at - https://people.sc.fsu.edu/~jburkardt/data/ply/ant.ply

As you increase the distance of the object from the camera it starts to fade off and then ultimatley falls out of the far plane thus getting clipped. Can we get a control on setting the near and far plane for the camera in python api?

[2019-01-18 13:16] manas-avi commented on #766
import open3d as o3d
import numpy as np
import pdb

# ------ MESH ------
mesh = o3d.read_triangle_mesh("std.ply")
# estimate normals
mesh.compute_vertex_normals()

# color (only for visual effect)
color = [234, 192, 134]
color = [c/255 for c in color]
mesh.paint_uniform_color(color)

# ----- VISUALIZE -----

# define visualizer
vis = o3d.Visualizer()
vis.create_window(
        window_name="templat

[2019-01-18 13:18] manas-avi commented on #766
Sorry for the inconvenience, I mistakenly closed the issue.

[2019-01-19 00:45] #776 closed

[2019-01-21 13:51] suptec19 opened #789 "Wrong ELF class: ELFCLASS64"
I compiled Open3D in Raspbian (Raspberry Pi3 B+), spending some time to make sure that all the required libraries were correctly intalled. Once finished the compilation, I installed the library in the system. After that I installed the python library, as discribed in the guide. Everything went well and without errors.
I started python3 and to test the library I imported it, but at that point I rec

[2019-01-21 13:58] suptec19 commented on #789
Executing: `glxinfo | grep OpenGL`, this is what I get:
`OpenGL vendor string: VMware, Inc.
OpenGL renderer string: Gallium 0.4 on llvmpipe (LLVM 3.9, 128 bits)
OpenGL version string: 3.0 Mesa 13.0.6
OpenGL shading language version string: 1.30
OpenGL context flags: (none)
OpenGL extensions:`

[2019-01-21 15:31] graphedge opened #790 "[Win10 WinPython3 JupyterLab] quiver of normals"
**Describe the bug**
I don't believe this is related to [my other issue](https://github.com/IntelVCL/Open3D/issues/764).  Open3d seems to generally work for me on WinPython jupyter notebook and lab after a git clone.  However, when I draw_geometries after estimate_normals, I don't see quiver arrows.

**To Reproduce**
You can see my notebook code in the picture, which is exactly the pointcloud basi

[2019-01-21 19:20] syncle commented on #790
Hi @brettbrocato. Currently Open3D for Jupyter visualization only supports point cloud render, so the lines would not appear. @yxlao: shall we add a support for other geometric primitives, such as lines, triangles and so on?

[2019-01-21 20:01] yxlao commented on #790
Right, currently Jupyter only has basic support for point cloud rendering and we can look into supporting more geometries in the future.

However, it seems like the example code above is not calling `j_visualizer`. @brettbrocato could you clarify whether you're seeing the visualized rendering inside the browser or in another pop-up window?  Would you mind showing a full screenshot?

[2019-01-22 09:13] H-Paul commented on #774
Thank you @syncle for the suggestion.

I want to perform the above operation because I have to change all the Z axis values of the points in B mentioned earlier to the lowest Z axis level of points in A(only in the XY region that overlaps B). So I am extracting Z by comparing XY values.

I tried to do this:

//Compare XY values
for i in len(Axyz):
    idx = np.where(((round(Bxyz[i][0]/10), round(B

[2019-01-22 09:53] Jason420Git commented on #708
I have the following solution working for me. It is not ideal and it would be easier to make the changes in the find open3d file but posting in case it is useful to anyone else.

In run the following .bat file from inside open3d root directory:

[code]

[2019-01-22 11:38] #708 closed

[2019-01-22 17:00] cygerts opened #791 "Camera pose calibration"
I would like to perform camera calibration (perhaps with chessboard) as with openCV tutorial:
https://docs.opencv.org/3.3.0/dc/dbb/tutorial_py_calibration.html
https://docs.opencv.org/3.3.0/d7/d53/tutorial_py_pose.html

From this tutorial I obtain rotation (tvec) and translation (rvec) vectors. From rvec I create rotation matrix using Rodrigues function and add translation vector to 4th column.
So

[2019-01-22 18:09] Sinchiguano commented on #488
Hi guys, I am so sorry to bother you all with this problem it is already solved, but I found the same problem, I was working pretty well with my installation of Open3d through normal pip and conda but now it happens again this problem. Could any of you give a clue? I know the solution is doing the installation again by source, but I wanna know if we will encounter this problem always. (IBy the way

[2019-01-22 19:14] yxlao commented on #488
The line `from open3d.linux import *` is from an old version of open3d. Try
[code]
The updated init file shall look like this https://github.com/IntelVCL/Open3D/blob/master/src/Python/Package/open3d/__init__.py.

[2019-01-22 19:19] syncle commented on #791
How the transformation is defined? Is that the transformation w.r.t. the checker board plane or w.r.t. the camera center? Depending on the cases, you might need to try ``pcd.transform(np.linalg.inv(YOUR_TRANSFORMATION_MATRIX))``.

[2019-01-23 06:04] minxuanjun commented on #367
@qianyizh When I reading source code in src/Core/Registration/GlobalOptimization.cpp , I have some question.
 I think code in 225 line that  b.block<6, 1>(id_i, 0).noalias() -=line_process_iter * eT_Info.transpose() * Js is a bug, it should be b.block<6, 1>(id_i, 0).noalias() -=line_process_iter *Js.transpose()* eT_Info.transpose() ;

[2019-01-23 06:53] minxuanjun commented on #367
@qianyizh it solve the equation is J.T* inform_matrix * J = -J.T inform_matrix* error, but in code , b = inform_matrix* error* J

[2019-01-23 09:51] syncle commented on #367
@minxuanjun: Thanks for the feedback! I think you have a valid point. I also observe some redundant lines that doesn't require transpose actually. For example this lines:
[code]
could be the following lines:
[code]
This is what you mean to say, right?

[2019-01-23 10:35] syncle commented on #791
Can you check if the unit for the point cloud is the same as the unit of the transformation matrix? The scale issue may arise from this - for example point cloud is triangulated using meter unit, but the transformation matrix could be in centimeter unit. Understanding the units would avoid manual tweak to match the scales.

[2019-01-23 21:00] takanokage commented on #405
One idea is to enable Open3D user to pick and chose the solver from a list of supported solvers.
I'm a bit against the idea of replacing Eigen with another solver because I can imagine no single solver is perfect for everyone.
This could be based on a plugin interface. A plugin would need to be implemented for each solver in order to "enable" it in Open3D.

[2019-01-24 03:45] minxuanjun commented on #367
@syncle yes

[2019-01-24 12:42] cygi1989 commented on #791
I think it is in the same unit but the issue still arises.

So let me explain what I am doing (or what is the tutorial doing). We find corners of the chessboard in image XY coordinates. Then I want to find transformation matrix that will convert those image points to real world coordinates, lets just assume mm scale. So I give to the solver many pais of <XYimage, XYZworld>. So for example I would

[2019-01-24 19:12] takanokage commented on #447
We have recently released the code for running/testing Open3D under Docker for all off the afore mentioned configurations. Please checkout the [documentation](http://open3d.org/docs/tutorial/docker/docker-test.html) and the [.travis.yml ](https://github.com/IntelVCL/Open3D/blob/master/.travis.yml) example of how to run these in TravisCI.

[2019-01-24 19:13] #447 closed

[2019-01-25 02:55] rnunziata opened #794 "question on default setting of config parameters for depth_map_type"
Why is depth_map_type  in config file in reconstructionsystem python examples set to redwood as the default. It is never over ridden in any of the examples config files even when they are not the redwood dataset. This causes specific code to be executed for redwood in read_rgbd image func in make_fragments.py every time weather or not it is the redwood dataset.  It appears that the func can not wo

[2019-01-26 03:34] rnunziata opened #797 "global registration issue"
I have a simalar issue as Integration Issue #633.
I tried to run against the standford burghers, I limit it to the first 4000 images.
If I run setting
       "n_frames_per_fragment": 1000
then it works and give me a final integrated image.

if I run setting
       "n_frames_per_fragment": 100 ( as is the default)
then the resulting integrated image is garbage.

I am not sure why setting the frames

[2019-01-27 04:57] rnunziata opened #798 "Question: how to control mesh overlap during registration"
Question: how to control mesh overlap during registration
When using ~/Open3D/examples/Python/ReconstructionSystem  I want to specify an near %80 overlap for the adjacent fragments...is this controlled by the loop settings.

    "preference_loop_closure_odometry": 0.1,
    "preference_loop_closure_registration": 5.0,

In MeshLab I am able to set the overlap that helps greatly with alignment of the

[2019-01-28 07:08] gdwei commented on #239
Hi, would you please share the way to ' render it jointly' ?

[2019-01-28 19:03] pezcode opened #800 "RANSAC C++ example looping 50,000 times"
The [RegistrationRANSAC C++ example](https://github.com/IntelVCL/Open3D/blob/master/examples/Cpp/RegistrationRANSAC.cpp) is doing some odd looping where it runs the registration 50,000 times.

I assume this was for benchmarking, but it would be nice to have a useful working example that also visualizes the result (maybe an extra commandline option for the visualizer, currently it's forced to false

[2019-01-28 19:33] syncle commented on #797
Umm I think something went wrong. The Standford Burghers example should look like #598.
Here are some questions:
- Can you tell me what is the environment for your case?
I have tested the Reconstruction pipeline using Mac and Linux, so I guess the issue may arise from different environments/platforms.
- Are you using OpenCV with Open3D?
OpenCV helps to make better fragments by matching color image

[2019-01-28 19:42] syncle commented on #798
Here is hard-coded line you can adjust:
https://github.com/IntelVCL/Open3D/blob/c4e974abb87b4006309ff98f69b1925d17074a0c/examples/Python/ReconstructionSystem/register_fragments.py#L47

[2019-01-28 19:49] syncle commented on #800
You're right. Let me fix this.

[2019-01-28 20:31] rnunziata commented on #798
thaks I believe this is related to my issue on global registration I will test changing these parameters as well.

[2019-01-29 00:10] syncle opened #803 "Depth range clipping issue in Visualizer"
**Describe the bug**
The depth buffer for the rendering does not configure correctly if the camera is located to far to the object we want to render. This is not happening when Visualizer class automatically determine the view point, but happens if the real intrinsic and extrinsic matrices are used.

Because of this issue, some geometries are not rendered and clipped based on the depth.

**To Repr

[2019-01-29 14:52] #781 closed

[2019-01-29 15:02] lukaspistelak opened #805 "create RGBD from numpy arrays"
according to this link:
https://github.com/IntelVCL/Open3D/issues/473
[code]

I want to create rgbd from 2 numpy arrays: rgb_numpy_array and depth_numpy_array
When I print the first row of input dept numpy array uint16 and rgbd numpy float32 array the values are absolute different:
[code]

VS.:
[code]

[2019-01-30 00:22] rnunziata commented on #798
thanks

[2019-01-30 00:22] #798 closed

[2019-01-30 00:29] rnunziata opened #806 "weak error notification in make_fragments for opencv"
Using the ReconstuctionSystem the code in make_fragments that calls the initialize_opencv  does  not produce a noticeable indicator when the import opencv fails. I feel this should be a configurable parameter that  should produce and terminal error if not specified and not default as it currently does ,  as it can lead to very different and unintended results.

[2019-01-30 04:43] syncle commented on #805
@lukaspistelak Could you share minimal code and example data so we can take a look?

[2019-01-30 04:46] syncle commented on #803
This issue is more related how to compute ``distance_``. We have hard coded parameter ``MAX_ZOOM`` that is defined here:
https://github.com/IntelVCL/Open3D/blob/fab6441b763b4964ef898cbb3fae8d10ef98442f/src/Visualization/Visualizer/ViewControl.cpp#L43
Increasing MAX_ZOOM can avoid this issue.

[2019-01-30 04:53] syncle commented on #367
Thanks. @minxuanjun for the clarification. I will double-check the equation and do test-run with the real data sets. Stay tuned!

[2019-01-30 04:57] syncle commented on #791
@cygi1989. There is linear solver in Open3D, but it is not for the specified functionality. I would recommend numpy to get the transformation matrix.

[2019-01-30 05:08] syncle commented on #787
Hi @herbauau. If the registration task is not global registration (you mentioned odometry), that would be better to use ICP. Translation only registration is related to #409. I will work for this when I am available.

[2019-01-30 05:34] syncle opened #807 "Missing initializers for FGR class"
**Describe the bug**
FGR class has default parameter set, but they are not correctly assigned to the class.

https://github.com/IntelVCL/Open3D/blob/4e3b06026c2e51415400771254b308c97b0aab3a/src/Core/Registration/FastGlobalRegistration.h#L43-L55

The value ``decrease_mu`` and ``maximum_correspondence_distance `` will not be set.

[2019-01-30 06:57] #807 closed

[2019-01-30 14:17] rnunziata commented on #806
Unfortunately it did not  ..does run a lot longer though. Did not do a qualitative assessment to see if it improved the results or how much.

[2019-01-30 15:39] lukaspistelak commented on #805
Oups sorry for my mistake:
this method:

`open3d.geometry.create_rgbd_image_from_color_and_depth(color: open3d.geometry.Image, depth: open3d.geometry.Image, depth_scale: float=1000.0, depth_trunc: float=3.0, convert_rgb_to_intensity: bool=True) → open3d.geometry.RGBDImage`

has the `depth_trunc`: default value : `float=3.0 `metres!

that's the reason why will be cut off my values:!  :(

[2019-01-30 18:00] rnunziata commented on #797
I was trying to see if I could get pcl pairwise_incremental_registration to work with the fragments but was unable to convert them to pcd format none of the load or conversion routines supplied by pcl work they complain about the format.

[2019-01-30 19:47] syncle commented on #797
@rnunziata Could you answer my previous questions? The reconstruction system was tested to produce good results on Stanford Burgher dataset. I can help you if we can simulate your environment.

[2019-01-30 21:54] rnunziata commented on #797
I am using Ubuntu16.04 with opencv 3.0 installed and working under python3 verified with Open3D. I have not modified the pipeline.
  json file:
[code]
my run file;

[code]
individual fragments look find in meshlab but the intergrated ply is as follows:

![snapshot00](https://user-images.githubusercontent.com/5377074/52015304-abb2a880-24af-11e9-8de9-5a2c008e8f99.png)

[2019-01-31 06:59] syncle commented on #797
I cannot reproduce the result - I also tried the same dataset with the first 5000 frames using Ubuntu 16.04. I got the following result.
![screenshot from 2019-01-30 22-52-56](https://user-images.githubusercontent.com/18297113/52036744-6cea1600-24e2-11e9-9879-48a2551a2ad2.png)

[2019-01-31 11:08] Jason420Git opened #811 "Visualizer ViewControl causing eigen crash"
v0.5 (also tested on 0.3)
MSVC 2015 Windows 10

**Describe the bug**
I get a runtime error using the Visualizer. It appears in ViewControl::setMatrices() I am finding that the window height and width are 0, occasionally undefined. The function which sets these I went through and their value remains unchanged directly after assigning to them. The code I am running is as follows:

[code]

I get the

[2019-01-31 14:44] Erblinium opened #812 "Eigen directory not found on Ubuntu 18.04"
Hi, I am getting include error in the C++ examples when building on ubuntu 18.04 with eigen3 installed.
I followed the installation guide in the tutorial pages without any errors, however when building the cpp example I am getting include error for Eigen.

The problem is that the Open3D header files refer to the Eigen libraries like this:
#include <Eigen/Core> while it actually should be (in my ca

[2019-01-31 18:39] rnunziata commented on #797
I was able to get this to work if I set the n_fraims to 1000. The image I get is different form yours and seem to cover more ground. I used the download script supplied is it possible the data has changed?
![snapshot01](https://user-images.githubusercontent.com/5377074/52076814-7f556580-255d-11e9-9bde-f2b80480635b.png)

[2019-01-31 18:47] takanokage commented on #812
Hey Erblinium, what is the goal that you want to accomplish?
Based on that we can try finding a solution for you.

[2019-01-31 19:39] Erblinium commented on #812
First I want to visualise/generate pointcloud data from rgb + depth images from a dataset like in https://github.com/thodan/t-less_toolkit/blob/master/doc/t-less_doc.md.

Then as a project I want to implement a PPF algorithm variant  for pose estimation.

[2019-01-31 22:03] takanokage commented on #812
Am I correct to assume you want to do this from a C++ project that uses Open3D installed after building from source?

[2019-01-31 22:08] Erblinium commented on #812
Yes, you are correct 👍

[2019-01-31 22:10] takanokage commented on #812
I'll post this [documentation link](http://open3d.org/docs/tutorial/C++/cplusplus_interface.html) in case you haven't checked that out already.
The link describes how to create your own C++ project based on installed Open3D and provides a CMakeLists.txt example that might work for your purpose.

[2019-01-31 23:25] pezcode opened #813 "More feature point algorithms"
It would be nice to have some commonly used features besides FPFH. In certain scenarios other features could give better results, e.g. (C)VFH for object detection and pose estimation.

Is this on the roadmap? Or did you make a conscious choice to not implement other features for now?

[2019-02-01 05:33] syncle commented on #797
I used the first 5000 frames as you mentioned. I used the script provided in the Reconstruction system to download the dataset.

@rnunziata We are not being synchronized. Please help us to find the root cause - it is hard for me to figure out what is happening if you keep trying your own configuration. As I mentioned earlier, I recommend 100 frames per fragment, and use OpenCV together.

It is nec

[2019-02-01 05:41] syncle commented on #813
@pezcode: Sorry, we are not prioritizing adding support for hand-crafted features for now. If you are willing to contribute, we are always welcome!

[2019-02-01 06:03] qianyizh commented on #811
This is weird. I have never seen this before.
Are you building Open3D in x64 mode? Also, try to compile dependency libraries from source.
You can try to run the example of ``Tools/ViewGeometry`` and see if that can open a window.

[2019-02-01 08:33] pmkalshetti commented on #803
Thanks for this temporary solution of setting `3.0` to `10.0`.

[2019-02-01 09:41] Jason420Git commented on #811
I can run the visualizer example yes.

It is weird for us too. We did not change any code. The main difference is switching from OpenVino R3 to R5 and updating Open3D to 0.5. I have seen this problem on 2 different PCs. Yes building in x64

`cmake -G "Visual Studio 14 2015 Win64" -DSTATIC_WINDOWS_RUNTIME=ON ..`

[2019-02-01 11:17] Erblinium commented on #812
Thanks! The CMakeLists.txt now works flawlessly in my C++ project. Should maybe include this CMakeLists.txt file in the C++ examples directory rather the existing one I first failed to use? Or is it for some other build type systems?

[2019-02-01 11:21] minxuanjun opened #814 "I have a issue about the function void RGBDOdometryJacobianFromHybridTerm::ComputeJacobianAndResidual when I read RGBDOdometryJacobian.cpp"
I have a issue about the function   when I read RGBDOdometryJacobian.cpp.
Is the jacobian for gemometry term  that
<a href="https://www.codecogs.com/eqnedit.php?latex=J&space;=&space;\begin{bmatrix}&space;D_u&space;&&space;D_v&space;&&space;-1&space;\end{bmatrix}&space;\begin{bmatrix}&space;\frac{f_x}{Z}&space;&&space;0&space;&&space;\frac{-f_x}{Z^2}\\&space;0&&space;\frac{f_y}{Z}&&space;\frac{-f_

[2019-02-01 12:26] kongsgard opened #815 "Reconstruction system - ModuleNotFoundError: No module named 'file'"
Hi, I'm trying to run the provided reconstruction system in Open3D, as given on this page:
http://www.open3d.org/docs/tutorial/ReconstructionSystem/system_overview.html

However, I get the following error:
`ModuleNotFoundError: No module named 'file'`

Any suggestions?

[2019-02-01 14:11] pezcode commented on #813
I'd be willing but I'm afraid I lack the expertise. But good to know you're not against the idea.

[2019-02-01 17:10] #812 closed

[2019-02-01 17:11] rnunziata commented on #797
I deleted all references to Open3D and have installed it using pip3 install python-open3d
I downloaded the source examples reconstruction run_system.py  and running from that ... will update here when done.

[2019-02-01 20:18] syncle commented on #815
Please use the template for opening a new issue. Could you provide full error message and your environments (Open3D version, Python version, Ubuntu/Win/Mac)?

[2019-02-01 20:20] syncle commented on #814
@minxuanjun: Can you elaborate your issue bit more?

[2019-02-02 14:48] cygi1989 commented on #791
So the depth scale is gathered using ONI_PIXEL_FORMAT_DEPTH_1_MM. I then divide it by 1000 so we are in meters metric.
Than I correctly find corners of checkerboard and save their image coordinates (in pixels) to _corners_variable. Distance between corners in reality is 0.02 m (2cm). So I match the _corners_ with a matrix of new _world_corners_ I want those corners to have (so (0,0,0), (0.02, 0,0)

[2019-02-02 20:06] kongsgard commented on #815
Thank you for your response. I'll use the template for opening future issues.
Full error message:
[code]

**Environment:**
 - OS:  Ubuntu 18.10
 - Python: 3.6.5
 - Open3D: 0.5.0.0

Full conda environment:
[code]

[2019-02-04 13:00] #805 closed

[2019-02-04 13:18] lukaspistelak opened #817 "get transform matrix from 2 known positions of cameras"
I have 2 cameras with a fixed position. I know this position to each other in 3D Euclidean space:
xyz: Target. camera :(0,0,0) and Source.camera:(0,-0.50,0)

How can I compute the  4x4 affine transformation matrix?

Maybe my suggestion-solution is:
1. Finding the normal to a plane(but which one?) and find  plane-equation
[2.](https://en.wikipedia.org/wiki/Transformation_matrix#Examples_in_3D_compu

[2019-02-04 16:46] #800 closed

[2019-02-04 17:08] qianyizh commented on #815
I think you can just remove this line:
https://github.com/IntelVCL/Open3D/blob/5fe05b564801f0fc0f26e443a6f23ef0145f4ff0/examples/Python/ReconstructionSystem/run_system.py#L13

@syncle can you test too? If this is the case, we should fix it.

[2019-02-04 17:11] qianyizh commented on #817
If the two cameras have the same rotation, just apply a translation, something like:
[code]

[2019-02-04 19:04] syncle commented on #815
Tested that this does not making issue in my environment (Ubuntu 16.04, Python 3.6).

``file.py`` is inside ``Open3D/examples/Python/Utility`` and being used in Reconstruction System, so the line is valid. @kongsgard: could you check you have ``file.py`` inside ``Open3D/examples/Python/Utility``?

[2019-02-05 09:51] kongsgard commented on #815
Ah, I did not realize that I needed files outside of `Open3D/examples/Python/ReconstructionSystem`. Thank you, it's working now!

[2019-02-05 09:51] #815 closed

[2019-02-05 18:30] #785 closed, assigned to nobody

[2019-02-05 20:11] tartavull commented on #218
+1

[2019-02-06 10:09] iSIlya opened #818 "Couldn't resolve requests"
Hello. It is not possible to run the example "realsense_recorder.py". I get this error "realsense_recorder.py", line 104, in <module>
     profile = pipeline.start (config)
RuntimeError: Could not resolve requests "
My configuration: Windows 10, Python 3.6, built by pyrealsense2.cp36-win_amd64.pyd and pyrealsense2.pyd
How to make this example work?
Sorry if such a question has already been asked.

[2019-02-07 07:08] syncle commented on #818
Hi @iSIlya. ``realsense_recorder.py`` assumes ``pyrealsense2`` is correctly installed and working. Based on the error message, the issue is related to ``pyrealsense2``, not Open3D. Please visit https://github.com/IntelRealSense/librealsense to find answers.

[2019-02-07 09:07] iSIlya commented on #818
@syncle ,
I checked examples with (https://github.com/IntelRealSense/librealsense) and everything works for me, I get images from the camera.

[2019-02-07 09:50] syncle commented on #818
That's weird. One possibility is that the camera cannot accept the requested configuration
https://github.com/IntelVCL/Open3D/blob/3af3b81edf9d32b8fbec97e5034ea6354ef658dc/examples/Python/ReconstructionSystem/sensors/realsense_recorder.py#L96-L97
Could you say more about your camera model?

[2019-02-07 09:56] iSIlya commented on #818
@syncle ,
Yes. The problem was to resolve the configuration. Fixed it like this
`config.enable_stream (rs.stream.depth, 640, 480, rs.format.z16, 30)`
and it all worked. Thanks you. I use realsense d435.

[2019-02-07 09:56] #818 closed

[2019-02-07 10:03] syncle commented on #818
Thanks for sharing your experience with us. d435 is able to stream 1280x720 depth maps as shown in [here](https://click.intel.com/intelr-realsensetm-depth-camera-d435.html), but in some conditions (if ordinal USB cable is used, not high bandwith USB 3.0), it's resolution could be restricted.

[2019-02-07 10:08] syncle commented on #818
@iSIlya. Just to give another note:
[code]
was to utilize the original depth frame captured by the camera.
If the downsampled depth map is requested like the following configuration
[code]
The camera will produce **downsampled and blurred depth maps**. I intentionally didn't use this configuration in the example as it harms the reconstruction quality.

[2019-02-07 10:17] iSIlya commented on #818
@syncle , ` config.enable_stream(rs.stream.depth, 1280, 720, rs.format.z16, 30)`
With this resolution it worked, after I connected the camera to usb port 3.0. Prior to this, the camera was connected via usb hub, which was also connected through 3.0 and its outputs were also 3.0.

[2019-02-07 12:18] iSIlya commented on #818
@syncle , And one more question. When a command is a --record_imgs, does he have to save frames? I have a console output "Depth Scale is:  0.0010000000474974513". Frames are not saved.

[2019-02-07 16:07] coolinfan20 opened #820 "icp_registration"
Hi, I am fairly new to point clouds and had a questions about using the icp_registration and global_registration codes to align customized point clouds. When I import my own pcd files, I get the the following error message:

Error: TransformationEstimationPointToPlane requires pre-computed normal vectors.
RegistrationResult with fitness = 0.000000, inlier_rmse = 0.000000, and correspondence_set si

[2019-02-07 20:16] syncle commented on #820
Hi @coolinfan20. Please [read this tutorial](http://open3d.org/docs/tutorial/Basic/icp_registration.html#point-to-plane-icp). In short, Point-to-Plane ICP requires vertex normal, so you need to compute before using it.

This is duplicate of #468.

[2019-02-08 00:57] jeongjoonpark opened #823 "Colormap Optimization Not Working for me"
I'm trying to project and average RGB images onto a mesh, so I'm using color_map_optimization without optimization iteration to achieve this.

However, as can be seen from the second image, the colored mesh I get from color_map_optimization does not look valid. I verified that my RGBD images and camera trajectory is correct by visualizing the volumetric color as shown in the first image.

Please r

[2019-02-08 17:57] antithing commented on #137
Hi @Joezzr, I am attempting to run a pose graph optimise on multiple clouds also. Are you able to share your working code here?

It would be very much appreciated! Trying to reverse engineer the python code is breaking my brain.

Thank you!

[2019-02-08 18:09] antithing opened #824 "Advanced tutorial c++ code?"
Is the code for the advanced tutorials available anywhere in c++ ? I have been trying to reverse engineer the python but it is slow going!

Thank you for this great library!

[2019-02-08 19:06] cygi1989 commented on #791
I am there is simply sth wrong with that concept. In OpenCV I calculate rotation and translation vector (whic sums to transformation matrix) to project points from world coordinate system onto image.
I cannot use reverse of that matrix to transform pointcloud into the desired coordinate system. Any help how to achieve that would be really helpful.

[2019-02-08 20:01] syncle commented on #823
Could you try with ColorMapOptimization with inverse of extrinsic matrices? As we can see in Reconstruction example, https://github.com/IntelVCL/Open3D/blob/3bd4efda67819299931035ec257f103f1feac88e/examples/Python/ReconstructionSystem/integrate_scene.py#L42
The inverse of camera matrices are used for the integration.

Based on this, In your case, I think ``w2c_trajec`` is the set of inverse of cam

[2019-02-08 20:11] syncle commented on #824
The discrepancy between C++ and Python examples comes from the following idea.
- The aim for the C++ examples are mostly for testing basic operations because Open3D's all backend is implemented in C++.
- Python examples use these C++ functions/classes to provide an example how Open3D can be used for specific applications.

In this manner,  C++ examples and Python examples are not to be perfectly s

[2019-02-08 20:20] syncle commented on #814
Could you point out specific line you think it is wrong? You can see a code and click line number and use ``copy permalink`` to paste the exact the position. It would be also great to identify issue better if you can try the fix and submit a PR with validation examples.

[2019-02-08 23:22] jeongjoonpark commented on #823
Hi, thank you for your response! Yes w2c_trajec is the set of inverse of camera matrices, which I am obtaining through `read_pinhole_camera_trajectory` function, which automatically inverts the matrices.

If you look at the example of ColorMapOptimization https://github.com/IntelVCL/Open3D/blob/3bd4efda67819299931035ec257f103f1feac88e/examples/Python/Advanced/color_map_optimization.py#L57
it's usi

[2019-02-09 04:52] syncle commented on #823
could you provide the minimal example (dataset, stand alone script), so that I can reproduce the result?

[2019-02-09 05:10] syncle commented on #797
Could you see every fragments are look fine? You can quickly do this with this command
[code]
If so, could you try pairwise point cloud alignment using debug mode something like
[code]
This aligns pcd 0 and 1. You can try [1, 2], [2, 3], [3, 4] ... to find what is breaking. If you find the breaking pair, it would be good for us to understand what pair is making issue.

[2019-02-09 19:59] jeongjoonpark commented on #823
Please find the attached link that contains the images, trajectory, and the code.
https://drive.google.com/open?id=1egiYPBnWDGJeP8iLblURGRgXmME8dmrX

Thank you!

[2019-02-09 19:59] rnunziata commented on #797
I did this and all pair wise registrations look good...even though the scene does not.

[2019-02-10 12:18] antithing commented on #824
I see, thank you.   I am attempting the multiway registration tutorial in c++, but my pose graph poses are always nan. Would you be able to tell me what I am doing wrong here? Thanks again!

[code]

[2019-02-11 01:00] syncle commented on #823
Is this dataset was synthesized? It seems that there are unrealistic camera motion in this dataset, and some issue comes here.

As a sanity check I used [fountain dataset](https://drive.google.com/open?id=1eT45y8qw3TLED2YY9-K1Ot6dQuF9GDPJ) (it is real camera pose and depth dataset) to integrate depth image and apply color map optimization just using a single RGBD frame:
[code]
As it is shown below

[2019-02-11 01:05] syncle commented on #824
I looked briefly, but couldn't find obvious issue. Can you check that ICP registration is always successful especially in odometry case? Global optimization assumes all odometry were successful. Fail to meet this requirement can make graph optimization fail.

[2019-02-11 01:19] syncle commented on #797
Oh, I see. Based on your description, in your environment, fragment 6 is not good after the integration, right? Since I cannot produce the result (as shown above, my fragment 6 looks fine), I still need your help.

Could you identify what frames being broken? there is ``python debug/pairwise_rgbd_alignment.py`` you can try, or you can compare pose graph before and after the optimization. For examp

[2019-02-11 12:08] HTLife commented on #412
@takanokage FYI
https://github.com/mp3guy/ICPCUDA

[2019-02-11 16:06] coolinfan20 commented on #820
I used the estimate_normals to get a vector of normals for my source and target point clouds using the following code:

`estimate_normals(downsource, search_param = KDTreeSearchParamHybrid(
            radius = 0.1, max_nn = 30))`
 `estimate_normals(downtarget, search_param = KDTreeSearchParamHybrid(
            radius = 0.1, max_nn = 30))`

`reg_p2l = registration_icp(source, target, threshold, t

[2019-02-11 17:47] antithing commented on #824
All the icp looks good. I get this result: (using the three example clouds from your repo).
[code]
but the final window that should show the graph is empty, and the poses are nan. What can i look at to get this working?

![image](https://user-images.githubusercontent.com/11506730/52582325-dc3a0100-2e24-11e9-936d-007cabe7c9af.png)

Thanks again!

[2019-02-11 18:08] syncle commented on #820
``estimate_normals`` is inplace function - this means that you will have vertex normal inside ``downsource`` and ``downtarget``. You don't have to explicitly pass normals. Just try
[code]

[2019-02-11 18:37] jeongjoonpark commented on #823
Hi, yes, the dataset is generated synthetically to test the Open3D library. I'm not sure what you mean by unrealistic camera matrix, as far as I understand when `option.maximum_iteration = 0` the ColorMapOptimization simply back-projects the RGB image onto the mesh. This should work even when the extrinsics of the neighboring frames are far away from each other?

I've also tried the same experimen

[2019-02-11 19:05] syncle commented on #824
@antithing: what I can recommend in this case is that compare ICP results and pose graphs made by the Python tutorial code and yours. This will help to understand the discrepancy between two implementations quickly.

[2019-02-11 20:14] rnunziata commented on #797
So I was printing only at fragment level so I reran an printed at frame level for the integration. On fragment 8 frame 0 I get:

![snapshotthisone00](https://user-images.githubusercontent.com/5377074/52590476-5fe8f300-2e0f-11e9-8667-a3d0ab54776c.png)

The image for frag 8 frame 0 is rdgd  800

![000800](https://user-images.githubusercontent.com/5377074/52590046-5c08a100-2e0e-11e9-97a2-7b8bd1af0472

[2019-02-11 22:53] coolinfan20 commented on #820
![initial](https://user-images.githubusercontent.com/47425198/52598918-6c237f00-2e14-11e9-92bd-420d67571117.png)
![transformation](https://user-images.githubusercontent.com/47425198/52598920-6c237f00-2e14-11e9-858d-f0b6836a8553.png)

Now that I've calculated the normals vectors, I am able to execute the registration_icp function, but I still am unable to get my two point clouds to align properly.

[2019-02-12 09:15] jattiogbe commented on #634
Hi,
Thanks @syncle for the answer, that works fine for me .
Now what if I want to set a default size value and a unique color to those picked points ? How should I do ?

[2019-02-12 09:39] syncle commented on #634
You will need to hack Open3D source code and build from source.
Regarding changing default size of picked point, change the following
https://github.com/IntelVCL/Open3D/blob/811cacc9a09396f05a866441520b1948a6f3d975/src/Visualization/Visualizer/RenderOptionWithEditing.cpp#L36
Regarding changing unique colors, consider to tweak the following lines
https://github.com/IntelVCL/Open3D/blob/fab6441b763b

[2019-02-12 09:59] jattiogbe commented on #634
Great @syncle  , that's what I needed.
So after I edit this, just to make sure I build it right, I do :
[code]
is that right ? I'm not very used (yet) to doing this...
Thanks

[2019-02-12 11:24] Jason420Git commented on #811
Doing some testing on this at the moment. I am using my own version of eigen3 but open3d is using its 3rd party built one. Could this be a problem?

I noticed that the Cmake does not actually allow me to use my own eigen without modifying it.

[code]

This code will always build Eigen3 unless EIGEN3_FOUND is true. But there is no code to initialise that variable so it will always be false. There w

[2019-02-12 14:46] MrGoort opened #825 "Pose Graph Optimization throwing segmentation fault"
Hi there,

I am trying to use the pose graph optimization method but I am getting segmentation fault errors when I am running the GlobalOptimization method.

I've been working with version 0.2.0.0 until last week, and the global optimization was working perfectly, but I have just updated the library to the version 0.5.0.0 and a new segmentation fault error with the same code appeared.

Here is a c

[2019-02-12 15:59] Jason420Git commented on #811
We have managed to get around it in Windows with the line:

#define EIGEN_DONT_ALIGN_STATICALLY

Defined in our main.cpp. However this then causes issues for our Linux developer.

[2019-02-12 16:00] jattiogbe opened #826 "Object origin/position"
Hi,

How do I set the origin /position of an object I create ?
I see _origin_ for **create_mesh_coordinate_frame**, but what's the parameter when i do   **create_mesh_cylinder** or **create_mesh_box** ? origin doesn't work then.

[2019-02-12 18:08] syncle commented on #811
@takanokage: Could you check if this is related to the Eigen Alignment Issue?

[2019-02-12 21:51] syncle commented on #825
Oh, that's interesting and should be fixed. Please use ``bug report template``
**Environment (please complete the following information):**
 - OS: [e.g. OSX Mojave, Ubuntu 16.04, Windows 10.0]
 - Python version:
 - Open3D version:
 - How did you install Open3D?: pip or conda or build_from_source (provide build method, such as gcc, xcode, visual studio, and so on)
 - Can you provide minimal dataset

[2019-02-12 21:54] syncle commented on #823
I am not trying to say multiple frames - that's why I used the single frame for the sanity check. Can you analyze the difference the fountain dataset and yours? Such as coordinate, minus depth after projection, and so on?

[2019-02-12 22:07] syncle commented on #826
all geometry primitives has [0,0,0] as an origin. You can simply try ``transform`` to locate the primitives.
[code]

[2019-02-12 22:09] syncle commented on #634
You can simply try
[code]

[2019-02-12 22:19] syncle commented on #820
Point cloud registration method is not guaranteed to align any point clouds - see the previous discussions in #359.

[2019-02-12 22:44] syncle commented on #797
So you mean there is a jump between fragments when it is being used for scene integration, right? I am suspecting there is a possible reason for this.

-----

Can you try the following

1) uninstall Open3D python package (depending on how you install, use ``pip uninstall open3d`` or ``conda uninstall open3d``
1-1) make sure open3d was completely removed in your system. ``python -c "import open3d"`

[2019-02-13 09:57] MrGoort commented on #825
- OS: Ubuntu 16.04
- Python version: 3.7.0, although not using Open3D with Python, I am using the C++ code with C++ 11 and 14
- Open3D: 0.5.0.0
- How did you install Open3D?: build from source using cmake
    Can you provide minimal dataset to reproduce the issue?
see attachment
[framesClouds.zip](https://github.com/IntelVCL/Open3D/files/2859760/framesClouds.zip)

I have seen other issues that mig

[2019-02-13 10:19] ajayrfhp opened #827 "Project mesh to 2D"
1. Can we project mesh to a 2D image?
2. Can we access the 2D image using the visualizer object ?
  I would like to save and manipulate the image object, at the moment the visualizer only has a capture screen function that lets me write to a disk. To manipulate the image, I need to save to disk and read back in to manipulate.

[2019-02-13 13:07] ajayrfhp commented on #827
Feature already exists.
http://www.open3d.org/docs/tutorial/Advanced/customized_visualization.html?highlight=get_render_option

[2019-02-13 13:07] #827 closed

[2019-02-13 18:03] rnunziata commented on #797
On the last part the:
` make install-pip-package`

I get at end:
`open3d-0.5.0.0-cp35-cp35m-linux_x86_64.whl is not a supported wheel on this platform`.

Also I was wondering if I need to pip install open3d-python
After install with the error above
I tried to do a python3; import open3d and get module not found.

[2019-02-13 18:18] syncle commented on #797
The error message says .whl is not compatible with your default Python version. You will need to use virtual env - consider using conda, and make a new env for Open3D before build from source.

[2019-02-13 18:21] rnunziata commented on #797
Ok...I will post here when that is done. I may not get to it today. thank you.

[2019-02-14 07:15] syncle commented on #825
Thanks @MrGoort, sorry to bother, but can you also share your c++ code as well? I thought you are using Python tutorial example.

[2019-02-14 08:45] jattiogbe commented on #826
Thanks, this works perfectly.

[2019-02-14 08:45] #826 closed

[2019-02-14 11:12] jattiogbe commented on #634
Ok thanks, so what I realised is that it seems I simply downloaded the repository from github and extracted  the data, then it was working so I never compiled anything (or I don't even remember!)

So now there is like nothing to recompile... Then even if I edited both files but nothing has changed.

[2019-02-14 15:09] ajayrfhp opened #828 "Zoom in from python API"
How to zoom in on a rendered mesh using python code. I want to save a zoomed(zoom in) view point.
At the moment I am doing,
[code]
I would like to zoom in before doing vis.capture_screen_image

[2019-02-15 06:50] syncle commented on #797
can you do ``conda activate Open3D`` and ``rm build && mkdir build && cd build && cmake ..``? I think build folder is still using old cmakecash.

[2019-02-15 15:25] rnunziata commented on #797
this worked....but do make-install-pip-package or a make install after this?

[2019-02-15 16:04] syncle commented on #797
This will help. More information can be found from [here](http://open3d.org/docs/compilation.html#ubuntu):
[code]

[2019-02-15 16:50] yxlao commented on #828
One way to do it is to set the camera parameter for the visualizer.

See:
https://github.com/IntelVCL/Open3D/blob/master/examples/Python/Advanced/load_save_viewpoint.py

The key lines:
[code]

[2019-02-15 19:58] rnunziata commented on #797
yeah....it worked for whole burghes dataset. Thank you so much. :-)

![snapshotdone00](https://user-images.githubusercontent.com/5377074/52881228-0b58b700-3132-11e9-8177-b262cc0962f0.png)

[2019-02-15 20:08] syncle commented on #797
Awesome! Now I can see what makes an issue using OpenMP + Python ``joblib`` together in the ReconstructionSystem is making some issues. I will open another issue for this.

[2019-02-15 20:20] syncle opened #831 "Unexpected behavior in RANSACRegistration if OpenMP + joblib used together"
**Describe the bug**
RANSACRegistration is boosted by OpenMP. However, when it is used with joblib together, the registration accuracy become quite bad. One example is shown in #797.

**To Reproduce**
Steps to reproduce the behavior:
1. install Open3D (build from source, pip, and conda)
2. download Stanford dataset
3. run Reconstruction system

**Expected behavior**
Reconstruction system should pr

[2019-02-16 18:23] syncle commented on #797
Opened a new issue with problem specific description. The discussion will be continued there. Thanks for the bug report @rnunziata - closing this thread.

[2019-02-18 06:05] zy871125746 opened #834 "ConvertFromPinholeCameraParameters() failed"
**Describe the bug**
Hi, I tried to change the view of camera in open3d with a realsense intrinsic parameter. And got failed message "ConvertFromPinholeCameraParameters() failed because window height and width do not match" caused by
https://github.com/IntelVCL/Open3D/blob/21022d6bf2f9fbc392fd74db5248b5a05d4c7194/src/Visualization/Visualizer/ViewControl.cpp#L159-L162

The realsense intrinsic matri

[2019-02-18 09:20] MrGoort commented on #825
Sorry guys, after several exhaustive debugging sessions, I found out it was another library messing with Open3D. Don't know exactly the reason, but removing that library lets Open3D do its job properly.
Sorry for the confusion, we can close this issue

[2019-02-18 09:20] #825 closed

[2019-02-18 16:14] lukaspistelak commented on #817
Rotation can be around y-axis : 90 degrees to the right or left

[2019-02-18 16:33] jattiogbe opened #835 "Intersection / collision of object & pointcloud"
Hi everyone,

is it possible to know if some object (sphere, cone, cylinder)  touches points from the pointcloud, some kind of intersection ? or if some points are inside this object ?

Thanks.

[2019-02-18 16:56] qianyizh commented on #835
We don't have good primitive (sphere, cone, etc) support right now. So no, we don't have such functions.
Do you have a specific use case?

[2019-02-18 17:19] jattiogbe commented on #835
Ok
I would like to identify points in the cloud ( representing à wall) that would be in front of me, or facing positions from à trajectory. Si I was imagining a cone to highlight those points and change their color.
That's what I have in mind.

[2019-02-19 15:27] eyildiz-ugoe opened #836 "ImportError: No module named linux"
**IMPORTANT: Please use the following template to report the bug.**
_____

**Describe the bug**
An import problem, fresh install and it doesn't work.

**To Reproduce**
Steps to reproduce the behavior:
1. Open a terminal and start Python 2.
2. Import the library and get the error.

[code]
**Expected behavior**
Expected to import the library.

**Environment (please complete the following information

[2019-02-19 19:25] yxlao commented on #408
Python 3.7 supported has been added since `v0.5.0`

[2019-02-19 19:25] #408 closed

[2019-02-19 19:28] yxlao commented on #836
Please install [open3d 0.5.0](https://pypi.org/project/open3d-python/0.5.0.0/) since version 0.3.0 is no longer supported. If there is an old version already installed, use
[code]
to upgrade.

[2019-02-19 21:42] coolinfan20 commented on #820
Regarding your previous comment, I thought the purpose of point cloud registration was to align two point clouds?

However, it seems that by voxelizing the point clouds, I was able to get it to register some of the point clouds. I was playing around with the voxel size and found that even with the same set of point clouds and voxel sizes, the fitness, inlier_rmse, and correspondence sizes will var

[2019-02-19 22:28] coolinfan20 commented on #820
I also had a few more questions regarding the RMSE error: I added the ICPConvergenceCriteria the registration_icp of your Global Registration code because I wanted the transformation that would minimize the RMSE, so I changed the parameter to relative_rmse instead of max_iteration (from the ICP registration demo code); however, the inlier_rmse continues to fluctuate and often times is nowhere clos

[2019-02-20 03:34] jinfagang opened #838 "Simpy demo code error"
Runs this code for demo:

[code]

Error:

[code]

BTW, I wanna using open3d to show kitti lidar points, but kitti lidar points are not 3 channel, how to show that?

[2019-02-20 07:47] yxlao commented on #838
That works fine for me. How did you install open3d? What python environment do you use to execute the scripts?

![image](https://user-images.githubusercontent.com/1501945/53074836-9cb48a00-34a0-11e9-9431-e2f40c78c236.png)

[2019-02-20 08:23] jinfagang commented on #838
@yxlao Turns out to be IPython bad. that package relies on promt-toolkit which is not compatible with higher version python. Just uninstall it and reinstall the newest version IPython solves the problem. Thanks for your reply.

[2019-02-20 08:23] #838 closed

[2019-02-20 08:29] syncle commented on #834
This is duplicate of #596. @qianyizh - how can we upgrade the visualizer to accept arbitrary camera intrinsic matrix?

[2019-02-20 18:45] qianyizh commented on #834
The underlying problem is that the conventional OpenGL camera control is only compatible with very standard camera model. On extrinsic side, you can control rotation, translation, and scale. On intrinsic side, it only supports field of view (controlled with ``[`` and ``]``), which basically only allows you to change focal length x and focal length y simultaneously. The focal center is assumed to b

[2019-02-21 06:39] nitishwadne opened #841 "Error importing Open3d in ubuntu 18.04 (ARM)"
I have build open3d library from source it builds sucessfully but when i try to import in python 3.6.7 or in python 2.7  it is giving error like "ModuleNotFoundError: No module named 'open3d'". I have also tried to install open3d using python package sudo -H pip install open3d-python. It installed successfully but when i tried to import the open3d it is giving error like ImportError: /usr/local/li

[2019-02-22 01:08] yxlao commented on #841
First,we recommend using virtualenvs or conda, this will elimiate the need for `sudo`.

When building from srouce, make sure that the python interpreter you used at config time `cmake ..` is the same as one as you use after the installation. You can do this explicitly, e.g.

[code]

If you install from pip, make sure the latest version is retrived. First, clean up the previous installation, and tr

[2019-02-22 06:17] nitishwadne commented on #841
I have created a virtual environment. and tried to install using "pip install open3d-python -U --no-cache-dir"
I am using open-3d version 0.3.0.0

``pi@NanoPi-M4:~/Environments$ source open3dProject_py27/bin/activate
(open3dProject_py27) pi@NanoPi-M4:~/Environments$ pip install open3d-python -U --no-cache-dir
DEPRECATION: Python 2.7 will reach the end of its life on January 1st, 2020. Please upgra

[2019-02-22 06:23] nitishwadne commented on #841
@yxlao
i am providing my virtual environment details as
Package       Version
------------- -------
numpy         1.16.1
open3d-python 0.3.0.0
pip           19.0.3
setuptools    40.8.0
wheel         0.33.1

[2019-02-22 09:25] yxlao commented on #841
Yeah, that shall be the reason. PyPI detects system's platform. As you can see from [here](https://pypi.org/project/open3d-python/#files), Open3D is pre-compiled for x86 architecture only. For example, we have a `x86_64` tag in the file name `open3d_python-0.5.0.0-cp27-cp27mu-manylinux1_x86_64.whl`. On ARM, `pip` will try to find a compatible version, it happens that [Open3D 0.3.0](https://pypi.or

[2019-02-22 11:22] nitishwadne commented on #841
I have installed open3d 0.5.0.0 but still it is giving me same error. Can i use intel Up squared board or any other single computer board that you want to recommend. i have tried it on Raspberry pi 3 it is  #789  error.
Can i use with raspberry pi and windows 10 installed on it. please suggest.

[2019-02-22 20:28] yxlao commented on #841
Boards like [LattePanda](https://www.lattepanda.com/) with Intel CPUs shall work, but more expensive. Currently, Open3D has not been fully tested on single-board (ARM) computers. I am guessing most parts shall work, maybe with the exception of the visualizer.

[2019-02-22 22:00] ebrahim31 commented on #375
Hi,
I am having the same issue, while I am generating a synthetic XYZ file. When want to save the generated pcd, it gives me a similar error "Write XYZ failed: unable to open file".

[2019-02-22 22:10] ebrahim31 commented on #375
____________________________________________________________________

I have figured the problem, I was giving the full path to the "write_point_cloud", however, it only needs the file name, like "FILENAME.xyz", therefore it can save it in the same directory that the executable file resides.

[2019-02-23 13:22] barnjamin opened #844 "Draco Compatibility"
Give the ability to compress ply file with [draco](https://github.com/google/draco).

Add some flag to save PointCloud or TriangleMesh with float32 values.  Currently just int32 and float32 are supported by Draco.
See: https://github.com/google/draco/issues/360

I modified the ply writer to use the compressed flag as a switch to write float instead of double but this is likely not a good solution.

[2019-02-24 16:22] barnjamin opened #846 "PNG write configurability"
For the project I'm working on I want to prioritize fast PNG writes over compression.

There is a flag [here](https://github.com/IntelVCL/Open3D/blob/master/src/Open3D/IO/FileFormat/FilePNG.cpp#L77) to set quality level but it doesn't appear to be used.

[code]

In testing, this flag addition changes a 640x480 image to be written in ~8ms from ~24ms but the file size almost doubles.  Larger images

[2019-02-25 11:06] CanCanZeng opened #847 "Any plan for computor graphics function like mesh decimation?"
**Is your feature request related to a problem? Please describe.**
no

**Describe the solution you'd like**
After I have reconstructed a scene, I would also like to process the mesh, like mesh decimation, and also I needs to do struct from motion, after the sparse or dense reconstruction, I want to create mesh from the point cloud. Would you like to add these kind of function?

**Describe alternat

[2019-02-25 12:37] mike239x opened #848 "Make H matrix sparse"
Related to [#367](https://github.com/IntelVCL/Open3D/issues/367). In `Registration/GlobalOptimization.cpp` [line 194](https://github.com/IntelVCL/Open3D/blob/8121e77737460d648f7f8b57ce3bff7e053576d7/src/Open3D/Registration/GlobalOptimization.cpp#L194) a matrix of size `6n x 6n` is allocated, where n is number of vertices in the graph. I suggest making this a sparse matrix (Eigen::SparseMatrix), si

[2019-02-25 16:28] YouYue123 commented on #470
PCL has a similar implementation here. Hope this helps.

https://github.com/PointCloudLibrary/pcl/blob/master/tools/mesh_sampling.cpp

[2019-02-25 17:17] CanCanZeng opened #849 "Compilation error about Eigen in GlobalOptimization.cpp"
**IMPORTANT: Please use the following template to report the bug.**
_____

**Describe the bug**
Compilation Error relates to Eigen in GlobalOptimization.cpp:72:28 when define `const std::vector<Eigen::Matrix4d, Matrix4d_allocator> jacobian_operator`.

**To Reproduce**
Steps to reproduce the behavior:
1. cmake -DCMAKE_INSTALL_PREFIX='/home/zcc/Project/Work/DenseReconstruction/Offline/Open3D/install

[2019-02-26 07:54] yxlao commented on #844
Thanks @barnjamin . First, regarding float32 vs float64, we're investigating the option to support both types in the future. At the current state, i think it is fine to convert float64 to float32 if the compression flag is set. We'll also need a reader to convert back to float64. Second, this will introduce a 3rd party library dependency for Open3D, which needs to be handled as well.

[2019-02-26 07:57] yxlao commented on #846
Good point, that flag should have been used. We can do default parameter value in both C++ and python that prioritize compression, while the user can specify other values to optimize speed.

[2019-02-26 08:12] yxlao commented on #849
Which commit are you in and have you modified the source code or cmake? Couldn't reproduce the issue from my side.

One thing to try is to initialize those `Eigen::Matrix4d()` matrices outside independently, and then put them in the `const std::vector<Eigen::Matrix4d, Matrix4d_allocator> jacobian_operator`. I suspect the issue is not this but you can give it a try.

[2019-02-26 11:14] barnjamin commented on #844
Would you like me to submit a pr with the above modifications?  I can also modify the reader.

I'm not sure what you mean for the 3rd party dependency.  This change only modifies the datatype we're writing, it doesn't include any Draco specific code.  For compression I still passed it through a separate program.

Would it make sense to add Draco as an option for file format to this library as well

[2019-02-26 11:16] barnjamin commented on #846
Okay, great.  Can I take this to mean you will look at other flags for allowing a trade off? Or would you like me to put something together?

[2019-02-26 11:46] nitishwadne commented on #841
Intel's UP2 board is based on x86 arhitecture can i use it with open3d.

[2019-02-26 12:41] CanCanZeng commented on #849
Thank you for your help  @yxlao ! I use the default master branch and the commit ID is af0900bd061d5b29d8a1be517ddbcb0d63164a62
I have solved the problem now, I build the Eigen in the project and the error gone. The system Eigen version is 3.2.10, maybe it is not compatible with Eigen3.3 Open3D use.

[2019-02-26 13:17] bigsheep2012 opened #852 "pythonapi crop point given a 3d bounding box"
hello open3d team,

I have checked #404 and the basic tutorial about crop [here](http://www.open3d.org/docs/tutorial/Basic/pointcloud.html#crop-point-cloud).
I am wandering if there is a python api (other than read a json file) that could let the user  crop the point cloud with a given 3D box or sphere or other shapes?

Thanks in advance.

[2019-02-26 15:27] JPeetersKUL opened #853 "ICP for small unequal number of points"
Dear Open3D users.
I'm trying to find the transformation matrix to match a small number of points in a 2D (later also 3D) space on a another smaller set of points. For our application the number of points will in first instance be below 50 and the distance between the two point sets will be limited as in the example below. However, I don't manage to obtain a transformation matrix from the code bel

[2019-02-27 02:12] #849 closed

[2019-03-01 03:58] muddassir93 commented on #533
Hi @syncle
Can you please explain, whether the "=" operator in c++  makes a deep copy of or shallow copy? If it makes a shallow copy then is there any defined method in Open3D to make a deep copy of point cloud?

Regards

[2019-03-01 04:19] syncle commented on #533
If you are using ``=`` for ``shared_ptr`` in C++, it is soft copy. Two pointers pointing the the same memory.
If ``=`` is used for Objects, it shall be hard copy.

[2019-03-01 07:02] muddassir93 commented on #533
Thanks @syncle for a quick response.

For example, if I want to make a deep copy of open3d::PointCloud object, can `=operator` will do the job or I have to call `std::shared_ptr::swap`.

[2019-03-02 10:53] ZhengWG opened #858 "System crashed when compiling the visualization module"
When compiling from the source code, it crashed on `scanning for the dependency for Visualzation`.
System: `Ubuntu16`,
Python version:`3.5`
Command:
`mkdir build`
`cd build`
`cmake ..`
`make -j`
Can you help me figure out the problem?

[2019-03-02 12:05] #858 closed

[2019-03-04 20:31] cygerts commented on #852
This would be one of the possible solutions: https://github.com/IntelVCL/Open3D/issues/774

[2019-03-04 20:41] yxlao commented on #852
There is a API to do 3D box cropping for point cloud and mesh: http://www.open3d.org/docs/python_api/geometry.html#open3d.geometry.crop_point_cloud, http://www.open3d.org/docs/python_api/geometry.html#open3d.geometry.crop_triangle_mesh .

Here's an example usage: https://github.com/IntelVCL/Open3D/pull/851/files#diff-189e9a6b9063320d7877cf6d8f828060R24

[2019-03-04 21:32] cygerts commented on #791
The tutorial provided by openCV is doing sth different.
What we are looking for here is to find affine transformation matrix to convert set of points from rgbd image to desired positions in the world coordinate system.
To achieve that I have obtained points from rgbd image using pick_points function from this tutorial: http://www.open3d.org/docs/tutorial/Advanced/interactive_visualization.html
In

[2019-03-06 19:20] DarthBlitz opened #863 "RegistrationColoredICP crashing when provided point clouds without normals"
**IMPORTANT: Please use the following template to report the bug.**
_____

**Describe the bug**
RegistrationColoredICP function does not error check for point clouds without normals. When given point clouds without normals the program will crash. See error below.

**To Reproduce**
Steps to reproduce the behavior:
1. Run RegistrationColoredICP function with an input point cloud that does not have n

[2019-03-08 17:15] takanokage opened #866 "UnitTest fix: no erros, no custom output/only gtest output"
**Describe the bug**
HalfEdgeTriangleMesh test case may be bugged.
Eigen.SolveLinearSystemPSD unit test may be bugged.

**To Reproduce**
Steps to reproduce the behavior:
1. build open3d from source
2. run unit tests
3. See error

**Expected behavior**
- no error messages
- no other messages displayed except the googletest pass/fail.

**Screenshots**
![image](https://user-images.githubusercontent.c

[2019-03-09 00:38] coolinfan20 opened #867 "Converting from an .stl file to .ply or .pcd file"
Hi,

How would I convert an STL file to a point cloud file (either .pcd or .ply file)? I have tried reading the STL file as a mesh file and then using the following code to try to convert it to a point cloud, but this does not work.

Using the python package numpy-stl, I did the following to read the mesh:
`your_mesh = mesh.Mesh.from_file("/../../Open3D/examples/Python/Basic/Dog.stl")`

and then y

[2019-03-10 02:45] yxlao commented on #866
these are expected results, we can just remove the prints

[2019-03-10 03:07] takanokage commented on #866
Yep, goggletest only messages is best as it avoids potential confusions.

[2019-03-11 22:36] #867 closed

[2019-03-13 09:57] guesspalm commented on #410
@TheodoreT Hi, i'm facing some problem in aligning depth image to color image when using kinect v2. There are huge noisy points in my depth image. I saw your depth image is neat. Could you give me some advice please?
Thanks.

[2019-03-13 14:13] TheodoreT commented on #410
@guesspalm could you provide some further details about how you are acquiring your images, meaning what library or software are you using (e.g. kinect sdk, libfreenect, matlab, etc). Usually all previous mentioned approaches provide out of the box a framework for getting the aligned images. Regarding the noise from my experience bilateral filtering for smoothing the surfaces worked quite nice in o

[2019-03-14 00:08] KeyMaster- opened #871 "Visualizer gets stuck on key callback"
**Describe the bug**
VisualizerWithKeyCallback does not call my callback when I press the key, and stops responding to any input.

**To Reproduce**
1. Load geometry
2. Run the `custom_draw_geometry_with_key_callback` function (from [here](http://www.open3d.org/docs/tutorial/Advanced/customized_visualization.html#use-callback-functions)) on it.
3. Press the K key
4. The window freezes, and no chang

[2019-03-14 11:47] Jason420Git opened #872 "Clarification on transformation form"
Hi,

I am looking for some clarification on the format of the transformation matrices passed through to the TSDF volume. It expects a pose for the extrinsics parameter of integrate()

We compute ICP transform using ICP. We then want to integrate a volume.
`open3d::RegistrationColoredICP(*srcSubsampled_ptr, *targetSubsampled_ptr, corrDist, priorTransform.cast<double>(), convergenceCriteria);`

Howe

[2019-03-14 12:45] sunit1409 opened #873 "Fast Global registration poses are not as accurate as I need it to be"
Hey fellow,
I am trying to register 2 point clouds using fast global registration but the results are not very convincing. The translation matrices are fine but the rotation matrices seem  to be little too off. Can you please help. I am uploading a few sample files for your perusal.

https://drive.google.com/drive/folders/14pnGDYrMxx4qYPBG-_-4jCsA9rx6OELj?usp=sharing

@qianyizh   @yxlao

[2019-03-14 21:24] yxlao commented on #848
Thanks @mike239x , this could be a good idea for future work. Internally we tried using sparse matrix for colormap optimization and it seems to help.

[2019-03-20 07:02] souctleague commented on #818
thanks,this also solved my problem

[2019-03-20 17:19] mike239x commented on #853
a) nice mix of print statements, do you use python 2 or 3?
b) your threshold is too small, your points are about 45 units apart, so setting theshold to 0.02 would make ICP do nothing. Set it to 50 and it would work.
c) point to plane registration doesn't work in your situation since you do not have normal vectors, which you can only properly compute for a proper 3d scene.
d) IMHO you might want to

[2019-03-20 17:21] mike239x commented on #873
@sunit1409 can you provide code sample as well?

[2019-03-20 17:57] mike239x opened #874 "ICP point to plane has wrong RMSE"
In [Registration.cpp](https://github.com/IntelVCL/Open3D/blob/master/src/Open3D/Registration/Registration.cpp) the for-loop calls `GetRegistrationResultAndCorrespondences` which in turn computes RMSE as if it is a point to point ICP.
As a side effect the `RegistrationResult` returned by `RegistrationICP` has wrong RMSE.

Also, in [TransformationEstimation.cpp](https://github.com/IntelVCL/Open3D/bl

[2019-03-20 18:00] mike239x commented on #874
I can fix that and make a PR out of it but I got no idea how to change python bindings...

[2019-03-23 07:36] Ayush2009 commented on #473
I did the same thing as stated. My depth and color frame is a 640x360 image but when I converted it into open3d pointcloud, the number of points coming is more than 640x360. Can someone tell me how to access specific point in the open3d pointcloud that corresponds to a specific pixel in the color image used to create it?

Here is my code :+1:

pcd = PointCloud()
	while True:

		dt0 = datetime.now(

[2019-03-24 14:16] nicolas-chaulet commented on #409
Hi All,
Has there been some progress on that? I would actually be very interested in such feature and happy to help as well.

[2019-03-24 19:51] songanz commented on #387
Follow @syncle code mentioned before, I have the `AttributeError: 'open3d.open3d.camera.PinholeCameraTrajectory' object has no attribute 'intrinsic'` error. Is there anything I am doing wrong?

[2019-03-25 09:10] dhorka opened #879 "Jupyter visualizer is not showing the point cloud test fragment"
**Describe the bug**
Jupyter visualizer is not showing the point cloud test fragment. Only an empty figure appears

**To Reproduce**
Steps to reproduce the behavior:
1. Open jupyter notebook
2. use this piece of code:
[code]
3. See error

**Expected behavior**
See the point cloud displayed in the jupyter notebook

**Screenshots**
![image](https://user-images.githubusercontent.com/39189267/54907358

[2019-03-25 20:35] takanokage commented on #866
Please, when you have time, clean up the output of these unit tests and leave only googletest messages.

Not urgent.

[2019-03-26 16:26] qianyizh commented on #853
Yes, as @mike239x pointed out, try PointToPoint ICP with threshold = 50.
[code]

It worked well. You don't have normals and the points are sparse, so point to point ICP makes more sense.

[2019-03-26 16:31] JPeetersKUL commented on #853
Many thanks for your help. With the threshold at 5 it indeed works well! I would like to also use this method to find a best match between a 1 set of 2D points and several thousands of 2d points saved in a database. I found in other examples that there are two options of accelerating the search: 1 using KD trees and 2. using GPU (CUDA) processing. Does Open3D allows one of or both these options ?

[2019-03-26 17:00] qianyizh commented on #874
Yes you are right. But I think I intentionally made this design. The reason is that I treat the result of ``GetRegistrationResultAndCorrespondences`` as a report of the registration. It contains two parts, one is the correspondence set, the other is the rmse of inlier correspondences in the **3D Euclidean space**.

There are a couple of benefits to use this instead of the true RMSE in the optimiza

[2019-03-26 18:32] qianyizh commented on #853
Open3D by default is using flann with an optimized configuration as KDTree implementation for nearest neighbor queries.

For CUDA, it is not implemented in Open3D yet but Wei has a nice fork which implements many stuff in Open3D in GPU. You may want to check it out:
https://github.com/theNded/Open3D/
But setting up a fast nearest neighbor query algorithm in CUDA is quite complicated.

[2019-03-26 18:32] qianyizh commented on #879
@yxlao can you take a look at this?

[2019-03-26 18:34] qianyizh commented on #409
No progress based on my knowledge. Unless @syncle is working on something I don't know yet, :)

[2019-03-26 19:10] mike239x commented on #874
@qianyizh Well, from my personal experience the difference between the two becomes clear then the down-sampling is done with some really high voxel size.
I wanted to prove my point with a small script, but for whatever reason I got strange behavior of normals estimation... I'll leave it here for now:
[code]

[2019-03-26 23:06] mike239x opened #880 "EstimateNormals not working for flat patches"
It appears the `EstimateNormals` function does not work properly for completely flat patches, also somehow depending on the orientation.

To reproduce:
[code]

If you write
[code]
instead - it works as expected; if you use 0 and 1 or 0 and 2 as indices - it no longer works.

Expected:
![Screenshot from 2019-03-26 23-56-53](https://user-images.githubusercontent.com/8998317/55039032-f4578f80-5022-11

[2019-03-26 23:18] qianyizh commented on #880
Good catch. Looks like a numerical issue of this function:
https://github.com/IntelVCL/Open3D/blob/377fc7d6a47ea47681c25a1e07a5383d62a612aa/src/Open3D/Geometry/EstimateNormals.cpp#L40

I will dig into it when I got time.

[2019-03-27 10:08] mike239x commented on #880
Fun fact: adding minimal noise to the points fixes the problem.

[2019-03-27 12:48] Joezzr opened #882 "PoseGraph: different result between Python and C++, why?"
I have some confusion and need help, thanks.
Here is my C++ code.

[code]

test 1:  data(cloud_bin_0.pcd, cloud_bin_0.pcd, cloud_bin_0.pcd)
result:  almost the same resutl.
![image](https://user-images.githubusercontent.com/5101183/55076707-10b20580-50d1-11e9-84df-40acaaff2584.png)

test 2: data(afterReg_rangData_0.xyzn, afterReg_rangData_1.xyzn, afterReg_rangData_2.xyzn)
result: different matrix.

[2019-03-28 02:26] bigsheep2012 commented on #852
Sorry for late reply. The crop_point_cloud works.
Thanks.

[2019-03-28 02:26] #852 closed

[2019-03-28 02:39] chrischoy opened #883 "Built-in python function wrappers for pcd.points, pcd.colors"
In python, a point cloud object does not support default built-in python functions such as __len__, __iter__,
Currently, `len(pcd.points)` or `len(pcd.colors )` fail.

Let self be the Vector3dVector. Adding the following functions would make python usage easier.

[code]

[2019-03-28 02:42] chrischoy opened #884 "Reading files silently"
In python, open3d function `read_point_cloud` print out

[code]

Make the mess in the std out.
Is it necessary? If it is, could you make an option to make it silently load the file?

[2019-03-28 03:15] syncle commented on #883
Could you double check if this is true? This is my counter example.

[code]

[2019-03-28 03:38] syncle commented on #884
**Solution**

This is a default behavior like you mentioned
[code]
You can control all the message comes from Open3D by changing the verbosity level.
Now let's change the level as 0 (only prints error messages)
[code]

**Explanation**

According to this line, you will notice ``PrintConsoleProgress()`` calls ``PrintInfo()`` to display progress bar.
https://github.com/IntelVCL/Open3D/blob/377fc7d6a4

[2019-03-28 03:41] syncle commented on #883
and ``iter`` should work as well.
[code]

[2019-03-29 21:40] chrischoy commented on #884
Got it. Thanks!

[2019-03-29 21:40] #884 closed

[2019-03-30 15:08] sermars opened #886 "Questions and errors installing C++ Open3D"
Hi,
Until now I had used PCL for my projects, but I want to probe your Open3D library for a new project. However, I am having some problems installing Open3D to use in: C++ with Visual Studio 15 2017 and Windows 10.
These are the steps that I have followed to install Open3D (according to your [documentation](http://www.open3d.org/docs/compilation.html)) and problems that I have:

**1 -**  I downlo

[2019-04-01 08:55] Jason420Git commented on #886
In my projects at the moment I need to include <../Open3D/ . It looks as though your include directory is also not pointed to the root of the open3d install but a level above (I am looking for a solution to that too).

[2019-04-01 13:44] whu-lyh commented on #646
hello there，i just wander is there any wrong oriention problem while you estimate the normals of face using the original "Open3D/src/Core/Geometry/EstimateNormals.cpp"?
thx

[2019-04-01 18:23] barlaensdoonn opened #889 "rotated numpy array cannot be converted back into open3d.PointCloud"
**The Issue**
I am currently loading in the standard ply bunny as an open3d.PointCloud. Then I convert this to a numpy array using open3d's builtin method described in the documentation. Then I rotate the numpy array 90 degrees using the built in numpy method `np.rot90`. After this step, when I try to convert back to an open3d.PointCloud, it fails with a runtime error

**To Reproduce**
Here is the

[2019-04-01 19:05] barlaensdoonn commented on #889
same things happens if I use `scipy.ndimage.rotate` instead of `np.rot90`

[2019-04-01 21:32] yxlao commented on #889
After rotation, the nump array might not be of shape `(n, 3)`.
`open3d.Vector3dVector()`'s input should have shape `(n, 3)` (see [docs](http://www.open3d.org/docs/python_api/open3d.utility.html)).

If you're trying to rotate the point cloud, try `open3d.geometry.PointCloud.transform()` (see [docs](http://www.open3d.org/docs/python_api/open3d.geometry.PointCloud.html#open3d.geometry.PointCloud.tran

[2019-04-01 21:51] ethanjyx commented on #879
Any updates? I'm having the same issue :)

[2019-04-02 01:19] barlaensdoonn commented on #889
You were right that those previous functions were outputting the wrong shape for converting back into a open3d.PointCloud. I have read through the documentation on `open3d.geometry.PointCloud.transform()` and it seems to be what I'm looking for, but can you explain a but more what the [4x4] transformation matrix looks like?

Thanks you for you time, very exciting project and to see it integrated w

[2019-04-02 02:11] yxlao commented on #889
See http://mathworld.wolfram.com/RotationMatrix.html

In Open3D, pad the 3x3 matrix to 4x4 matrix by inserting a `1` at the last diaganal position. For example, to rotate along x-axis, where `(x', y', z')` is the transformed point.

![CodeCogsEqn](https://user-images.githubusercontent.com/1501945/55370861-dd94bb00-54b0-11e9-8b3e-f99071335ef3.png)

You may also refer to the implementation: https://

[2019-04-02 02:20] barlaensdoonn commented on #889
thanks for you help and patience with this, I wlll close the issue and reopen if I have any other questions

[2019-04-02 02:20] #889 closed

[2019-04-02 02:25] Prashant3282 opened #891 "Trouble with screen_capture_image"
I'm currently writing a script to take a ply file and create a custom trajectory to view all sides of the model and turn it into a gif. Here is the script right now:

    import os
    from open3d import *
    import numpy as np
    import matplotlib.pyplot as plt
    import imageio
    import argparse

    def iterate(vis, ctr, x, y, i):

        ctr.rotate(x,y)
        vis.update_geometry()

[2019-04-02 08:20] XuyangBai opened #892 "Support for 3DMatch Dataset"
I wonder whether Open3D has support for [3DMatch](http://3dmatch.cs.princeton.edu/) Dataset? I searched in the document but found nothing.

[2019-04-02 10:49] Jason420Git commented on #872
I think the real question is to clarify if you expect transformations in forward or inverse kinematics. Are your transformations from origin -> sensor position, or sensor position -> origin.

[2019-04-02 21:35] barlaensdoonn opened #893 "add noise to a point cloud"
I am having a very similar problem to this issue:
#889

I have written a function to add noise to a numpy array that is structrued as [(x, y, z)], with an arbitrary number of entries in the array. Well after I add noise to it and try to recast it to an open3d PointCloud I get this error:
[code]
What am I missing here?

**Environment (please complete the following information):**
 - OS: Ubuntu 16.0

[2019-04-03 08:16] NaveenBefin commented on #457
I wanted to save a PCD output which can be visualise in open3D window. can i save the **draw_geometries** function to a PCD file? here is the following code:
from open3d import *\

import pcl
import numpy as np
import copy

def draw_registration_result(source, target, transformation):
    source_temp = copy.deepcopy(source)
    target_temp = copy.deepcopy(target)
    source_temp.paint_uniform_colo

[2019-04-03 08:30] NaveenBefin commented on #468
can we save the result of ICP PROGRAM?? i need to save the results in .PCD can anyone help in this??

[2019-04-03 10:33] yxlao commented on #893
What's the output of
[code]

[2019-04-03 12:29] noscript commented on #404
Any idea how to do the invert crop, e.g. remove points inside a volume?

[2019-04-03 14:55] TheodoreT commented on #643
@qianyizh or anyone else that might knows. I am want to create an online (for the moment offline is also fine) volumetric 3D map of an environment using the realsense. I followed the instructions from the [Reconstruction System](http://www.open3d.org/docs/tutorial/ReconstructionSystem/index.html) tutorial but my output is quite bad as you can see below:

![image](https://user-images.githubusercont

[2019-04-03 17:56] C-Aniruddh commented on #412
@takanokage any specific instructions to work with the `cuda-support` branch?

[2019-04-03 18:24] barlaensdoonn commented on #893
very strange but it worked for me this morning, if I find another reproducible example of it not working I will post it

[2019-04-03 18:38] #893 closed

[2019-04-03 18:55] takanokage commented on #412
The one requirement is to use a more recent CMake (>3.12.2) in order to make use of the native support for CUDA in CMake which simplifies configuration.

Caveat: this branch is still in very early stages. You will notice that our focus has been not on implementing kernels but rather on the infrastructure required to support GPU acceleration. As such there's little benefit at this time from using t

[2019-04-04 01:51] Abelliu1 commented on #882
Hi Joezzr,
I don't know whether your input data which was voxel down sample or not. If not,it should be voxeldownsample. I have try use the un-downsampled data for test, then the result is wrong.  After add the voxel downsample code,it works! maybe you can add the following code for test again:
auto voxel = open3d::geometry::VoxelDownSample(*input_pcd, 0.02);
		pcds.push_back(voxel);
My result see

[2019-04-04 02:17] Joezzr commented on #882
thanks for your test. I've just uploaded my test data(https://drive.google.com/drive/folders/1v44XtyUubRGG5WEL_th1BFN1S6EmCKej?usp=sharing).
Please try again, thanks!

[2019-04-04 11:03] noscript opened #894 "VisualizerWithEditing: No filename is given. Abort saving."
**Describe the bug**
Python's `VisualizerWithEditing` doesn't bring up save file dialog.

**To Reproduce**
Steps to reproduce the behavior:
1. `pip3 install open3d-python`
2.
[code]
3. Press <kbd>K</kbd>, select a square area, press <kbd>C</kbd>.
4. Error:
[code]

**Expected behavior**
A dialog to save file pops up.

**Environment:**
 - OS: Ubuntu 18.04
 - Python version: 3.6.5
 - Open3D version:

[2019-04-04 11:10] noscript commented on #894
The issue was that I that I'm running a non-interactive shell, otherwise ncurses interface shows a dialog to enter file name. But it would be still nice to allow a fixed file name.

[2019-04-04 18:17] abuzaina opened #895 "ColorMapOptimizationOption is not defined"
I am trying to run color_map_optimization.py from the examples and I am getting this
error
Reading PLY: [========================================] 100%
Read TriangleMesh: 1033745 triangles and 536872 vertices.
Traceback (most recent call last):
  File "color_map_optimization.py", line 43, in <module>
    option = ColorMapOptimizationOption()
NameError: name 'ColorMapOptimizationOption' is not defi

[2019-04-04 23:16] yxlao commented on #895
Is `ColorMapOptimizationOption` imported? Could you post the terminal output for the following commands?

[code]

[2019-04-04 23:24] yxlao commented on #894
How did you run on "non-interactive shell", could you share the procedure? It works for me for both cases: 1) running it as a `.py` script, or 2) in a python interactive shell.

[2019-04-05 01:07] yxlao commented on #892
Specifically, which dataset are you looking for? We do have a [SUN3D](http://www.open3d.org/docs/python_api/open3d.geometry.create_rgbd_image_from_sun_format.html#open3d.geometry.create_rgbd_image_from_sun_format) loader which is used in 3DMatch.

For the full list of RGBD loader, please refer to [RGBDImageFactory.cpp](https://github.com/IntelVCL/Open3D/blob/master/src/Open3D/Geometry/RGBDImageFac

[2019-04-05 06:25] jing-IG commented on #543
@syncle @qianyizh This would be very useful. Currently in python, I have to destroy window and re-create window to render new geometries. Since I switch geometries a lot, this is painful. Any plan/progress to implement the geometry removal feature for python?

[2019-04-05 09:00] #791 closed

[2019-04-05 10:39] noscript commented on #894
I run it an external command in vim `:!./crop_save_fail.py`.

[2019-04-05 15:01] mike239x commented on #895
I checked open3d pip-releases 0.5 and 0.6 as well as building 0.6 from source, all three work fine with python 3.6 (on ubuntu 18.04).
Mb double check that you did build open3d for python (using `make install-pip-package`)?
Can you also perhaps provide output of `pip list | grep open3d` ?

[2019-04-05 15:20] mike239x commented on #863
I would argue with is not a bug but an undefined behavior - although point to plane ICP does inform the user about the lack of normals...

[2019-04-06 06:51] yxlao commented on #894
Also, looks like the python path is hardcoded, is open3d installed in the environment of `#!/usr/bin/python3`?

[2019-04-06 13:32] ixgn opened #896 "More descriptive warnings for file writing"
Would be nice to state the expected file name extension. Otherwise one has to search the doc (which does not state it either) and the source code.

[2019-04-06 13:33] ixgn commented on #896
E.g. here:
https://github.com/intel-isl/Open3D/blob/d832c8d32278c0a6f484e7477029388e1935b575/src/Open3D/IO/ClassIO/PoseGraphIO.cpp#L109

[2019-04-07 12:59] sermars commented on #886
Thanks for your answer, but I have not known how to include the directory, as you tell me, to test the example _testVisualizer_.

However, I have created a new C++ project and I have included in this all directories of Open3D, as show below.

In _Project_ -> _Propierties_, I have add:

- **Linker**: _General_ -> _Additional Library Directories_: `C:\Program Files (x86)\Open3D\lib`
- **Linker**: _I

[2019-04-08 09:19] mzahirulj commented on #867
Hi, you can install openmesh Framwork to solved your Problem.

import openmesh as om

mesh = om.TriMesh()
om.read_mesh(mesh, source_file.stl)
om.write_mesh(mesh, output_file.ply)

[2019-04-08 10:05] AbhiDarisi opened #897 "GLFW Error: GLX: Failed to create context: GLXBadFBConfig"
I'm trying to see the results of (https://github.com/fregu856/3DOD_thesis) 3d object detection on kitti data set.In this, open3d is used for the visualization part of 3d bounding boxes. I'm getting the below mentioned error while running visualize_eval_test.py:

**part of code creating error:**
inside visualize_eval_test.py:
def draw_geometries_dark_background(geometries):
    print("inside draw_g

[2019-04-09 08:59] noscript commented on #894
I changed it to `#!/usr/bin/env python3` but it didn't make any difference.

[2019-04-09 21:52] abuzaina commented on #895
hi @yxlao and @mike239x  sorry for the late response, here is the output :
python -c "import open3d as o3d; print(o3d.__version__)"
0.4.0.0
 python -c "import open3d as o3d; print(o3d.PointCloud)"
<class 'open3d.open3d.PointCloud'>
 python -c "import open3d as o3d; print(o3d.ColorMapOptimizationOption)"
Traceback (most recent call last):
  File "<string>", line 1, in <module>
AttributeError: 'modu

[2019-04-10 06:58] yxlao commented on #895
First, 0.4.0 is an old version, there has been bug fixes since then in https://github.com/intel-isl/Open3D/pull/819/files. It is recommended to use the latest version. Also, seems that you have both the compile-from-source and pre-compiled version mixed, it is recommended to use one of them.

Second, for the quality of the color map optimization, there are many reasons. Besides the bug fix above,

[2019-04-10 07:16] mike239x commented on #895
To correct @yxlao, having only `open3d-python 0.4.0.0` as the output of `pip list | grep open3d` means you got only pip-installed open3d (v 0.4), so either you didn't really build it from source, or you didn't run `make install-pip-package`, or you got something wrong about your python environment (like mb you forgot to switch it on or something).
You can either install a newer version of open3d u

[2019-04-11 04:24] meiqua commented on #412
For icp, I implement a [point2plane cuda version](https://github.com/meiqua/pose_refine) recently, including kdtree query on gpu. Hope it helps.

[2019-04-11 13:38] AidasLiaudanskas commented on #879
Same issue here!

[2019-04-11 18:18] Codinggreg opened #905 "Installing open3d python package from source on Windows produces error"
**Describe the bug**

[code]
**To Reproduce**
Following the installation tutorial [ĥere](http://www.open3d.org/docs/compilation.html#windows)
1. (using py launcher) `py -3.6 -m venv env`
2. `.\env\scripts\activate`
3. `mkdir build`
4. `cd build`
5. `cmake -G "VisualStudio 16 2019" ..`
6. `cmake --build . --parallel 4 --config Release --target ALL_BUILD`
7. `cmake --build . --parallel 4 --config Re

[2019-04-12 00:06] abuzaina commented on #895
thanks @yxlao and @mike239x got it working.

[2019-04-12 00:06] #895 closed

[2019-04-12 03:46] chenshida opened #906 "install open3d on ubuntu16 python2.7.12"
I have install open3d-python by pip in virtual envirment, and it always take an error that download dependence ipython7.
 but i find that python2.7 newest ipython is 5.8.0, the version higher 5.8 it can not support, but the defualt dependence will download ipython7, further more ,I have ipython5.8 in my enverment, why it alway download ipython 7.

[2019-04-12 08:34] #906 closed

[2019-04-12 08:35] chenshida commented on #906
install dependence package step by step can solve it

[2019-04-12 11:52] alanhzh commented on #879
I am working on Jupyterlab and  any call to ipyvolume gives the following error:
Error displaying widget

[2019-04-13 03:59] qianyizh commented on #891
The code is correct. I just tested on my machine. The jpg files are created.
[code]

Can you check if it is the write permission or something else?

[2019-04-13 23:02] barlaensdoonn opened #909 "point.paint_uniform_color causes Segmentation fault and ipython crash"
**IMPORTANT: Please use the following template to report the bug.**
_____

Using point_cloud.paint_uniform_color causes Segmentation fault and ipython to crash and exit

**To Reproduce**
[code]

**Screenshots**
![paint_issue](https://user-images.githubusercontent.com/5253980/56086154-7f979a00-5e05-11e9-92ac-25ae6205712e.png)

**Environment (please complete the following information):**
 - OS: Ubun

[2019-04-13 23:08] barlaensdoonn commented on #909
you can find the .pcd file referenced in [this PCL tutorial](http://pointclouds.org/documentation/tutorials/cluster_extraction.php#cluster-extraction)

[2019-04-14 17:41] ljc19800331 opened #910 "Cannot update view angle during loop"
Hello,

I have issue changing the view point when I do the animation. I update the pcd point cloud every step and I want to change the view angle when I created the vis window at the beginning. However, the result doesn't show a change of view angle and it is still the same. Here is my code. Thanks.

This is the script:

import open3d
import numpy as np

// Initialized the values
// Load the 3D po

[2019-04-15 01:47] Prashant3282 commented on #891
@qianyizh I gave the file write permissions using chmod +w but still no images are being written. I'm just using my regular home directory. Did you run with sudo?

[2019-04-15 16:10] jelmr commented on #543
@jing-IG @bigsheep2018 Updates to the .colors and .points attribute will be reflected in the rendering after update. This allows you to effectively remove geometry by setting their point- and color sets to empty.

I only have experience with point clouds, so I cannot tell you if something similar is possible with other geometries.

Example:

[code]

[2019-04-15 23:14] wadimkehl commented on #543
Hi people,
I want to push this issue, too, as this functionality is quite important, @germanros1987. At the moment, the API does not allow dynamic scene adjustments, which is fundamental for visualization tools.

[2019-04-15 23:29] yxlao commented on #543
@wadimkehl and folks, https://github.com/intel-isl/Open3D/pull/904, when merged, shall address this problem

[2019-04-16 12:52] #892 closed

[2019-04-16 12:55] XuyangBai opened #912 "Get SIGSEGV when using `registration_ransac_based_on_feature_matching`"
Hi, When I try to use `registration_ransac_based_on_feature_matching` with my own point cloud and feature I got SIGSEGV. Typically, my feature is numpy ndarray, and I use the following way to create a open3d.registration.Feature and call the function.
[code]

[2019-04-16 14:37] YouYue123 opened #913 "read_point_cloud to read PTS file without header and float intensity"
**Is your feature request related to a problem? Please describe.**

Some point cloud software will generate PTS file without header. This is quite common recently from our client using Recap.

**Describe the solution you'd like**

read_point_cloud should be able to handle this file without taking the first number as amount of points.

**Describe alternatives you've considered**

A preprocessing pr

[2019-04-16 18:18] germanros1987 commented on #543
It is currently under review.

On Mon, Apr 15, 2019 at 4:29 PM Yixing Lao <notifications@github.com> wrote:

[2019-04-17 00:00] wadimkehl commented on #543
Awesome, thanks! Maybe also a vis.clear_scene() as a convenience function to remove all registered geometry? This would keep the window alive, together with viewport config and camera settings.

[2019-04-17 00:02] syncle commented on #543
That's good suggestion. Let me add it.

[2019-04-17 09:25] YouYue123 commented on #913
Like reading a PTS file , the current function can not process it correctly

![Screenshot 2019-04-17 at 11 21 39 AM](https://user-images.githubusercontent.com/8738486/56276573-08af1980-6103-11e9-9977-51732e5e3614.png)

I think there are 2 issues here.

1. read_point_cloud assumes PTS file is as (%lf, %lf, %lf, %d, %d, %d) for each line

2. read_point_cloud assumes the first number is always the am

[2019-04-17 10:27] ram2307 opened #915 "FPFH computation is faster in python than C code?"
Hi, I tried running  FPFH on various point cloud data. The computation time it takes on python is much lesser than cpp code. As the number of points increase, computation time in cpp code increases monotonically, where as in python it is almost same. Can anyone explain me why it happens?

[2019-04-17 10:35] #912 closed

[2019-04-17 18:17] wadimkehl commented on #596
Hi people,

is there any movement on this? And is there an immediate workaround that allows me to set the view matrix through python manually?

Thanks!

[2019-04-17 23:15] abuzaina opened #916 "Color map optimisation not working properly"
I am using the color_map_optimization.py example for texturing. I am able to generate a point cloud from rgbd image.  The point cloud fits perfectly to the mesh after applying the transformation. Please see image below.
![image](https://user-images.githubusercontent.com/6253920/56326580-6eaf9700-612b-11e9-8a0e-1f7d3b720b6a.png)

However when I use the same transformation matrix in color_map_optimi

[2019-04-18 06:46] ohadmen opened #917 "Inaccuracy in information matrix calculation"
calculation of information matrix in (Open3D/Registration/Registration.cpp@374) is inconsistent with documentation.
according to: http://redwood-data.org/indoor/registration.html, matrices, matrix init at line 392 and 387 should be zero, and not identity

[2019-04-19 04:19] yxlao commented on #916
Could you provide more information?
- Did you get the expected outputs by running the color map optimization example?
- "I am able to generate a point cloud from rgbd image.": how did you generate the point cloud?
- "The point cloud fits perfectly to the mesh after applying the transformation.": how is the mesh generated and what's the relation among the "mesh", the "point cloud" and "rgbd image"?

[2019-04-19 05:03] qianyizh commented on #872
It is sensor -> world.
Assume the transformation matrix is ``T``.
In sensor coordinate, you have a point ``p`` in homogeneous coordinates, then its world coordinate is ``Tp``

[2019-04-19 05:05] qianyizh commented on #457
You can use ``source.Transform(reg_p2l.transformation)`` or something like that to transform your source point cloud, then you save it.

[2019-04-19 05:08] qianyizh commented on #643
I haven't got much first hand experience of Realsense. (TBH, I think its accuracy is pretty bad, at least in its DS400 series.) @syncle has some success with realsense cameras. He may be able to help you or give you a few pointers to start with.

[2019-04-19 05:18] qianyizh commented on #863
@syncle mind to take a look at this?

[2019-04-19 05:19] qianyizh commented on #896
@yxlao @germanros1987 a minor thing but would be helpful to add to next sprint.

[2019-04-19 05:19] qianyizh commented on #886
@yxlao mind to take a look?

[2019-04-19 05:23] qianyizh commented on #897
ssh into a remote server is a headless use case.
The visualizer expect you have a monitor.
(After all, without a monitor and a mouse, how do you interact with the visualizer, :)

However, if you have a predefined animation, you can run headless rendering.
Check this out:
http://www.open3d.org/docs/tutorial/Advanced/headless_rendering.html

[2019-04-19 05:27] qianyizh commented on #905
@yxlao take a look?

[2019-04-19 05:30] qianyizh commented on #909
I think color is a double range from 0 to 1.
Can you try ``paint_uniform_color([0.5, 0.5, 0.5])``

[2019-04-19 05:30] qianyizh commented on #909
@yxlao is this documented?

[2019-04-19 05:33] qianyizh commented on #910
Can you paste the full script so I can duplicate it?

[2019-04-19 05:35] qianyizh commented on #891
No.

Maybe try a minimal example. In Python console, read a file, write a file. See if this works.

[2019-04-19 05:37] qianyizh commented on #913
Yeah. The true problem is that PTS is a poorly designed file format. Different hardware vendors have different definitions. When I wrote the IO for PTS file, all my knowledge was based on a FARO laser scanner. The PTS format is just too bad.

In your use case, I think you can rename your file to xyz, then Open3D should be able to load it, at least the geometry part.

[2019-04-19 05:39] qianyizh commented on #915
umm, are you sure you are running the same code and having the same results?
Maybe you have not computed normals in python and it always bypasses the real FPFH computation?

[2019-04-19 05:41] qianyizh commented on #596
Yes, you can get the ViewControl, convert it into a CameraParameter, change extrinsic, then convert it back. This is so far the best practice.

We had lots of discussion on this. See #834 too

[2019-04-19 05:46] qianyizh commented on #917
I think you are right.
@syncle take a look?
https://github.com/intel-isl/Open3D/blob/e8517a6902b4979fdadb2bd526aa0b66e621e203/src/Open3D/Registration/Registration.cpp#L392
This line should be:
[code]

[2019-04-19 11:53] YouYue123 commented on #913
That could be an alternative solution.  But have you considered to change the implementation of PTS reader in a more error-tolerance way like reading every number as string first then parsing it to the corresponding type.

https://github.com/intel-isl/Open3D/blob/e8517a6902b4979fdadb2bd526aa0b66e621e203/src/Open3D/IO/FileFormat/FilePTS.cpp#L75-L85

[2019-04-19 15:30] qianyizh commented on #913
I would like to have a more standard specification of the pts format then we can work on that. Otherwise it is hard for us to actually make it compatible.

[2019-04-19 22:26] abuzaina commented on #916
hi @yxlao ,
- Yes I get the expected outputs by running the color map optimization example on the fountain dataset.
- I've generated the point cloud using first create_rgbd_image_from_color_and_depth, then create_point_cloud_from_rgbd_image, exactly like color map optimization example.
- The mesh generated by a custom code. I've tested it with other texturing algorithms with the same image and cam

[2019-04-20 16:29] tianchengdw opened #920 "AttributeError: 'open3d.open3d.camera.PinholeCameraTrajectory' object has no attribute 'intrinsic'"
Hey, Guys! I met an error when I used Open3D to visualize my 3D object detection result. And I wanna output the result as a Video. The following message is from terminal. I use conda install opencv-python and Open3D. Any one can help me? Thanks!

visualization/visualize_eval_val_seq.py
PinholeCameraTrajectory read JSON failed: empty trajectory.
000000
Traceback (most recent call last):
  File "vis

[2019-04-21 18:08] ljc19800331 commented on #910
yes sure @qianyizh . The script is attached but the .npy file is not able to be uploaded. The point cloud plotter becomes slow when the more point cloud are shown. I checked multiple time but not sure what is the problem. Thanks for your help.

[2019-04-22 01:28] qianyizh commented on #920
I read your json file and it works well for me.
Can you paste a minimal complete code snippet so that I can duplicate the error?

[2019-04-22 02:17] tianchengdw commented on #920
class ImgCreatorLiDAR:
    def __init__(self):
        self.counter = 0
        self.trajectory = read_pinhole_camera_trajectory("/media/orange/work/3DOD_thesis/visualization/camera_trajectory.json")

    def move_forward(self, vis):
        # this function is called within the Visualizer::run() loop.
        # the run loop calls the function, then re-renders the image.

        if self.counter <

[2019-04-22 09:20] bigsheep2012 opened #921 "Would read_point_cloud() read intensity from pcd files?"
Hello open3d team,

I am using Python API.
I am writing to check if current 'read_point_cloud' would read intensity as well from a .pcd file?
If yes, how can I access these intensity values like pcd.points?
Exactly like the format here:
http://pointclouds.org/documentation/tutorials/pcd_file_format.php
[code]

Thanks in advance.

[2019-04-22 23:15] Jiayuan-Gu opened #922 "SIGABRT when import torch"
**IMPORTANT: Please use the following template to report the bug.**
_____

**Describe the bug**
When the user import pytorch before importing open3d, it will raise an error.

**To Reproduce**
[code]

**Expected behavior**
The program crashes. When you swap the order, it works.

**Environment (please complete the following information):**
 - OS: Ubuntu 16.04 / 18.04
 - Python version: 3.6
 - Open3D

[2019-04-23 01:50] yxlao commented on #922
Hi @Jiayuan-Gu could you try
[code]
Also make sure that in all python files in your project, `open3d` is imported before `torch`

[2019-04-23 02:07] yxlao commented on #921
Open3D `PointCloud` class supports: x, y, z, r, g, b, normal_x, normal_y, normal_z, see [here](https://github.com/intel-isl/Open3D/blob/master/src/Open3D/Geometry/PointCloud.h#L88).

If what you're referring to is the RGB value encoded into a float, Open3D does support that:
[code]

For the point cloud in the link http://pointclouds.org/documentation/tutorials/pcd_file_format.php, here's Open3D's

[2019-04-23 02:17] bigsheep2012 commented on #921
Thanks for the reply.
So if I hope to access the rgb-encoded values, I just need to use code like
'pcd.rgb-encoded' (similar to pcd.points)?
I hope to know if it is possible to specify a field name as well, e.g., my pcd file would be like:
FIELDS x y z intensity
where 'rgb' becomes 'intensity'.

Thanks in advance.

[2019-04-23 02:39] yxlao commented on #921
PointCloud has:
[code]

**If you're reading from pcd**
Currently, there is no direct access to the encoded value. Since we only support the standard pcd storage format. If you'd need to gain direct access to the encoded value, compile from source and hack around: https://github.com/intel-isl/Open3D/blob/eea7fd2290160513a14f20a891ada08892326447/src/Open3D/IO/FileFormat/FilePCD.cpp#L389-L391

**If y

[2019-04-23 02:55] bigsheep2012 commented on #921
I see. I would try to modify the IO cpp files.
Thanks.

[2019-04-23 02:55] #921 closed

[2019-04-23 06:06] yxlao commented on #920
@tianchengdw see [PinholeCameraTrajectory](http://www.open3d.org/docs/python_api/open3d.camera.PinholeCameraTrajectory.html), [PinholeCameraParameters](http://www.open3d.org/docs/python_api/open3d.camera.PinholeCameraParameters.html) and
 [PinholeCameraIntrinsic](http://www.open3d.org/docs/python_api/open3d.camera.PinholeCameraIntrinsic.html) docs. `open3d.camera.PinholeCameraTrajectory.parameters

[2019-04-23 09:50] LittleLampChen commented on #762
@zy871125746 I have meet the same problem with you and don't know how to fixed this

[2019-04-23 14:30] LittleLampChen commented on #583
Can open3d automatically align rgb and depth image?

[2019-04-23 17:58] abuzaina commented on #916
@yxlao any luck with running it on my data ?

[2019-04-24 01:24] Jiayuan-Gu commented on #922
Yes, I already find this solution and mention that in the Expected behavior.
I also use gdb to find the error, but I do not really understand it. I think that it might indicate some potential errors.

[2019-04-24 01:58] yxlao commented on #922
Thanks for reporting. We're not yet sure if that's a problem with Open3D or PyTorch.

[2019-04-24 07:34] LittleLampChen commented on #519
Is this be solved?
I also need the same feature. If we can access TSDF value by np.asarray, some operation will be flexible.
In TSDF presentation, only the voxel near the surface will have different value with max threshold, the rest value is all the same. Actually, in many applying scenes, there will be large part of voxels with same value, which is far away from surface. So, can we just return a

[2019-04-24 14:10] ykaganov opened #927 "Headless rendering: capturing screen-buffer produces black images"
I Followed the instructions here: http://www.open3d.org/docs/tutorial/Advanced/headless_rendering.html  for headless rendering (without display) and then ran the script https://github.com/intel-isl/Open3D/blob/master/examples/Python/Advanced/headless_rendering.py.
Strangely, only the depth images are produces correctly from the depth buffer (vis.capture_depth_float_buffer) but the capturing of the

[2019-04-24 15:07] adcrossan1 opened #928 "Registration methods are aligning based on plane"
Hi all,
I am quite new to open3D and was hoping i could get some help, I am comparing registration methods on a number single view point clouds taken at multiple angles around an object, the object i wish to align is quite small  and the registration methods align the clouds based on the  plane on which the object sits , aligning the ground but  resulting in misalignment and overlapping of the obj

[2019-04-25 09:35] sunchaothu opened #931 "open3D <IO.h> conflict with <io.h> of Windows"
**Describe the bug**
In my C++ program I used  open3d and another 3rd-party library and the 3rd-party is internally include <io.h> of windows. When I click in the header, it jumps into open3d <IO.h>; I guess  that the header is conflict with Windows VC IO header. Besides, It will also conflict with gtest, because
gtest_port.h use <io.h> internally.

**Reproduce**
use <io.h> of Windows platform and

[2019-04-25 10:30] pmwenzel opened #932 "Error loading .ply file (RPly) with read_point_cloud"
Hi all, the function read_point_cloud() gives an error while loading similar point cloud files (.ply). The error is the following:

`RPly: Error reading 'blue' of 'vertex' number 222225`

It occurs randomly on files with similar content. The header of all files is the same.

ply
format ascii 1.0
element vertex 149906
property float32 x
property float32 y
property float32 z
property uchar red
prope

[2019-04-25 11:40] mike239x commented on #932
Do you have a file which consistently cannot be loaded?

[2019-04-25 12:07] pmwenzel commented on #932
Yes, please find attached two point clouds. Point cloud `point_cloud_00001.ply` can be loaded without any problems, however, `point_cloud_00002.ply` throws the error.

[point_clouds_test.tar.gz](https://github.com/intel-isl/Open3D/files/3116772/point_clouds_test.tar.gz)

[2019-04-25 13:03] mike239x commented on #932
Wow, this is weird. I unzipped your data, I try to read the second point cloud, I get
[code]
I open PLY file with vim, save+close, try same thing again, it works without errors.
Looking at the hexdump, I see:
Your file ends with
[code]
after vim it becomes
[code]
So, basically, your last line doesn't end with a line-ending character.
I do not know though why first file works and second doesn't, th

[2019-04-25 13:20] pmwenzel commented on #932
Thanks for catching this. It seems like it is a weird problem. I guess the library should be able to handle files either with a line-ending character or not.

[2019-04-25 16:02] tianchengdw commented on #920
@yxlao Thank you very much! I will try it!

[2019-04-27 06:58] tfjiang opened #934 "Can not compile, since unary_function is removed from c++17"
When I use Open3D in a C++17 project (compiled with visual studio 2019 preview), I get an error :
“unary_function”: is not a member of "std", which occurs in Open3D/Utility/Helper.h Line 90.

And I find that unary_function is removed from c++17, could you use std::function to replace that, and make it compiled by c++ 17 compiler?

[2019-04-27 10:19] WenyinWei opened #935 "VortexGrid and GlobalOptimization compilation problem on Ubuntu"
**Describe the bug**
A clear and concise description of what the bug is.
Seems the compilation can not succeed, any idea to fix it?
The problem arises when I compiled the VortexGrid.cpp and GlobalOptimization.cpp.

**To Reproduce**
Steps to reproduce the behavior:
1. git clone --recursive https://github.com/intel-isl/Open3D
2. cd Open3D |  . util/scripts/install-deps-ubuntu.sh
3. mkdir build | cd

[2019-04-28 03:00] WenyinWei opened #936 "Add the lib of realsense"
**Describe the bug**
The github repo does not include the library of realsense, causing the `rebuild` error in VS 2017, Windows 10.

**Expected behavior**
To add the realsense.lib directly to this repo and warn new users not to set the cmake option `BUILD_LIBREALSENSE` on.

**Screenshots**
![image](https://user-images.githubusercontent.com/33152225/56857771-0f138000-69a4-11e9-8512-360417d8432e.png

[2019-04-28 03:30] WenyinWei commented on #936
And one more detail needs to be mentioned for new users.

![image](https://user-images.githubusercontent.com/33152225/56858195-d2965300-69a8-11e9-87ba-083e50355474.png)

Rebuilding the INSTALL target needs administrator permission, correspondingly, the command prompt too. Let the new users know so that more time could be saved.

[2019-04-28 04:02] WenyinWei commented on #936
![image](https://user-images.githubusercontent.com/33152225/56858503-6ec25900-69ad-11e9-9478-938684652b20.png)

There are many warnings while rebuilding. I guess that the snipping image may help in the future.

[2019-04-28 05:31] WenyinWei commented on #936
![image](https://user-images.githubusercontent.com/33152225/56859138-4d676a00-69b9-11e9-95f0-fc016414ce64.png)

I have compiled the `python-package` target and it detected my python exe well when cmake, but the python package still does not automatically includes the `open3d`. So I manually import the `open3d` by copying the files created by rebuilding `python-package` to `\my\path\to\python\pytho

[2019-04-28 07:13] WenyinWei commented on #936
![image](https://user-images.githubusercontent.com/33152225/56860314-f0bf7b80-69c7-11e9-8edf-48b1caf4dacf.png)

Seems that putting open3d.pyd in the folder I said does not help. The directory didn't show where open3d functions are. I have to run the C++ version of open3d.

[2019-04-28 07:53] WenyinWei commented on #753
On Windows 10, I also met the problem and fixed it by adding the Open3D.dll bin directory to my system path variables.

[2019-04-28 08:20] WenyinWei commented on #936
It is very strange that I can import the python module well after rebooting Windows. There may be some environmental variables added after rebooting.

[2019-04-28 08:52] ykaganov opened #937 "Package open3d not found after headless installation"
After following the open3d instructions for building from source for headless rendering at http://www.open3d.org/docs/tutorial/Advanced/headless_rendering.html the open3d package cannot be found in python (using import). The commands and the corresponding outputs are listed below.

$ cmake -DENABLE_HEADLESS_RENDERING=ON \
                 -DBUILD_GLEW=ON \
                 -DBUILD_GLFW=ON \

[2019-04-28 14:42] ykaganov commented on #937
It seems to be an  issue with permissions that I could not locate. I used "make pip-package" to build a .whl file and install from it using "pip install". Now I can import the package correctly.

[2019-04-28 14:42] #937 closed

[2019-04-28 21:03] jornb opened #938 "Remove dependencies on LGPL libraries in Eigen"
Currently, Open3D depends on Eigen's SimplicialCholesky implementation, [which is licensed under LGPL](http://eigen.tuxfamily.org/index.php?title=Main_Page#License). This is vastly more limiting than the licenses of all other third party dependencies, and I presume several people do not realize they need to comply to LGPL when using Open3D out of the box.

I found this when trying to build Open3D

[2019-04-28 21:16] jornb commented on #938
For reference, the pull request #939 fixes my compilation errors when `EIGEN_MPL2_ONLY` is defined. However, I don't know enough of Open3D to know what effects this will have.

[2019-04-29 11:30] ykaganov opened #940 "Headless rendering does not work"
Building open3D using OSMesa for headless rendering as described in http://www.open3d.org/docs/tutorial/Advanced/headless_rendering.html does not work.
I tried installing osmesa using "sudo apt-get install libosmesa6-dev" and also by building from source as described in the link above. Both produce the following error message when running headless_rendering.py from the open3d examples:
"GLFW Error

[2019-04-30 07:07] WenyinWei commented on #935
This problem is fixed by changing
[code]
to
[code]
The compiler can not recognize the sequence, so a bracket could solve the problem.

[2019-04-30 13:42] MiaoDX opened #941 "Voxel visualization seems to fail with version 0.6.0"
_____

**Describe the bug**
I failed to visualize the voxels with version 0.6.0 on my ubuntu PC, both py=3.5/3.7 (and at another machine). Turned to 0.5.0 works like a charm.

**To Reproduce**
Steps to reproduce the behavior:

[code]

**Expected behavior**

[code]
And there should be views, but not the case for 0.6.0

**Environment (please complete the following information):**
 - OS: [Ubuntu 16.0

[2019-04-30 19:34] yxlao commented on #941
Thanks for reporting, this is related to updated OpenGL version -- OpenGL 3.1+ removed `GL_QUADS` support, thus our previous SimpleShaderForVoxelGrid is broken.

This has been fixed in https://github.com/intel-isl/Open3D/pull/918, please compile from source to get this update now. It will be included in the 0.7 release.

[2019-04-30 19:38] yxlao commented on #931
Could you try the latest Open3D version (master branch is 0.6.0+)?
First, `src/IO/IO.h` was removed in current master; second, you could probably use the full include path rather than the relative path.

[2019-05-01 00:45] densechen opened #942 "will Open3D automatically use cuda to speed up?"
I have try the example of registration_icp, and the speed is slow. will Open3D  automatically use cuda to speed up?

[2019-05-01 09:09] Keith-Wangg opened #943 "How can i get the coordinate of the points in a point cloud?"
umm, i am interested in some featuer points in a point cloud, so how can i get the coordinate of them? Does this coordinates are in the camera coordinate system?  I find this function in PCL, so i guess open3d may have the similar function, but i just can't find it. If anyone know that, please reply me, thanks!

[2019-05-01 10:18] barnjamin commented on #942
There is a cuda branch but it appears to be in early stages.  There is also a fork https://github.com/theNded/Open3D, that implements a registration and other things in Cuda

[2019-05-01 10:46] Keith-Wangg commented on #943
In the 'Interactive visualization' example , it shows the coordinates of points just like this:
Picked point #58481 (2.14, 1.56, 1.53) to add in queue.
Picked point #77321 (2.86, 1.92, 1.09) to add in queue.
Picked point #42639 (3.28, 1.53, 1.45) to add in queue.

But when i run the example by myself, i only get the result like this:
 1) Please pick at least three correspondences using [shift + le

[2019-05-01 11:02] Keith-Wangg commented on #943
umm, so sorry to bother, when i run the example in the terminal , it shows the coordinate!!
now i want to ensure that this "coordinate" is the coordinate in the camera coordinate system.

[2019-05-02 05:31] half-potato opened #944 "Bad Script Implementation"
Don't use --yes in the install-deps-ubuntu.sh script. The reason being that sometimes there might be package conflicts and this will start to remove the packages without confirming with the user. It's not very funny and C-C does not stop the script for some reason.

[2019-05-03 13:44] lucabergamini commented on #940
Same here, Ubuntu 18.04.

[2019-05-03 20:48] lvgeng opened #948 "While testing the ReconstructionSystem/run_system.py, cannot continue after making fragments"
I have some issue with the RGBD reconstruction system. Tried it with the testing data, it works well.

However, after using cv2.imread and cv2.imwrite to copy the depth image, the reconstruction system refuse to do the registration or generating fragments. I think this is because of the unique data structure of the depth images and opencv fails to keep it.
How can I save a functional depth image a

[2019-05-03 23:14] jccurtis opened #949 "JVisualizer python27 AttributeError: 'module' object has no attribute 'PointCloud'"
**Describe the bug**
The pip installed `jupyter` visualization is broken in `python27`.

**To Reproduce**
Steps to reproduce the behavior:

1. Jupyter Notebook Visualizaiton Example from [here](http://www.open3d.org/docs/tutorial/Basic/jupyter.html):

[code]

2. See error:

[code]

**Expected behavior**
A pointcloud to be plotted without an error. `o3` appears to be imported without the `PointClou

[2019-05-04 03:26] MiaoDX commented on #941
Yeah, thanks, I will close it now.

[2019-05-04 03:26] #941 closed

[2019-05-04 13:18] lukasgee opened #950 "Statement causing TypeError returning NoneType while reading rgbd_image"
**Description**

Code available at: *examples/Python/ReconstructionSystem/make_fragments.py*

Following part of code:
[code]
 causes TypeError due to referencing *rgbd_image* while
[code]
which is not set if there is different then "redwood" *depth_map_type* given.

I saw the different already solved Issue on necessity of the if statement implemented here to set
[code]
for "redwood" *depth_map_typ

[2019-05-04 21:34] martinruenz opened #951 "Reader for TUM trajectories"
Hey there!

I noticed that there is no reader for trajectories in the TUM format, which parametrizes a pose with 8 parameters (`<timestamp> <x> <y> <z> <qx> <qy> <qz> <qw>`). See: https://vision.in.tum.de/data/datasets/rgbd-dataset/file_formats

Implementing a reader for this format is super straight forward and I can add it to Open3D if you want to. I would add a `FileTUM.cpp` (or `FileTXT.cpp`)

[2019-05-05 06:46] yxlao commented on #935
@WenyinWei thanks for reporting, we have another user reporting the same issue.

From both cases, it looks like Open3D is picking up the system's Eigen, instead of the Eigen that comes with Open3D's `3rdparty` directory. In that particular case, the `floor` function is missing in the `GlobalFunctions.h` file, but it should look like https://github.com/eigenteam/eigen-git-mirror/blob/ed95dad9783d0c

[2019-05-05 12:18] WenyinWei commented on #935
Thanks for your reply, @yxlao.

Do you think that setting the default cmake options of 3rd party packages to ON would be better for new users to compile and avoid the bugs caused by 3rd party package updating? I guess that it would be more convenient to keep every user the same configuration.

[2019-05-06 16:45] lvgeng commented on #948
Problem solved in a dirty way... but solved.
The key is the encoding structure of saved images. (And I do hate the fact that same file extensions cannot ensure it.)

After reading image from file or capturing images with a camera by OpenCV (using cv2.imread() or cv2.VideoCapture.read() ) as img, use the following code to convert it to a 16 bit depth image.
`img_save = open3d.Image(img.astype(numpy

[2019-05-07 01:53] yxlao commented on #935
@WenyinWei yeah, we'll make it to be `ON` by default

[2019-05-07 10:50] cwsheen61 commented on #736
The answer above seems to be unsatisfactory at actually solving the problem.  For example, there is no directive for -lomp for apple clang in Mojave 10.14.4.  the command:

localhost:/<user>$which clang

gives me:
/usr/bin/clang

using the above answer left me with many errors and I could not successfully get through make

many errors were due to the "-lomp" directive which is not a recognized dir

[2019-05-08 08:19] bigsheep2012 commented on #2
Hello guys,
Many thanks for open3d 0.6.
Is there any way that I could render some text or numbers (e.g., nms scores) in the visualizer now?
Though I can try to figure out the scores' belongings in a mess scene, it would be nice if I can attach some number/text/captions to specific geometries.

Thanks.

[2019-05-08 19:23] GnawXam commented on #614
I created my own array of colors based on
http://www.open3d.org/docs/python_api/open3d.geometry.PointCloud.html?highlight=pointcloud

`Type: | float64 array of shape (num_points, 3), range [0, 1] , use numpy.asarray() to access`

But when I use draw_geometries() to visualize my point cloud I still get the default red blue colors in x y or z direction. Does someone have a concrete example? Not sure

[2019-05-09 19:42] sk9331657 commented on #44
@yxlao  Can please guide me what needs to be done in documentation part ??

[2019-05-10 08:31] martinruenz commented on #951
Implemented in #953.

[2019-05-10 08:31] #951 closed

[2019-05-10 22:05] abuzaina commented on #916
@yxlao any luck with running it on my data ?

[2019-05-11 15:26] lvgeng opened #957 "Get image data (like pixels) inside open3d.open3d.geometry.Image"
From the documentation:
http://www.open3d.org/docs/tutorial/Basic/working_with_numpy.html

It is pretty easy to work with numpy, however it seems that the python interface of
open3d.geometry.Image
is kind of difficult to get data out from it.

Unlike open3d.geomety.Pointcloud, the Image class does not have access to the data inside of it like pixels.

Is there any way to check the image in it, lik

[2019-05-12 07:25] yxlao commented on #957
This shall work:
[code]

![image](https://user-images.githubusercontent.com/1501945/57579124-6148ac80-744c-11e9-85b9-c672773b389d.png)

[2019-05-12 19:39] yxlao commented on #44
@sk9331657 please redirect the docs discussion to a new github issue or through discord, thanks

[2019-05-13 08:58] sunchaothu commented on #931
I see. Thank you

[2019-05-13 08:58] #931 closed

[2019-05-13 19:30] DennyLindberg commented on #331
Reporting in that this is still a problem. Windows 10, Python 3.7.3 32-bit and Open3D via pip install. Crashes as soon as I use draw_geometries or any visualization method that spawns a window. It is sporadic just as the OP claims.

Stopped crashing as soon as i re-installed Python 64-bit and got the 64-bit packages via pip install.

[2019-05-13 22:07] lvgeng commented on #957
Em.... never expect it to be something this straightforward.
Is there anything special while dealing with depth image? It seems to be tricky. Sometime it works, some time it doesn't....

[2019-05-13 22:31] lvgeng opened #961 "Synthesizing depth image for ReconstructionSystem."
I have a data set of color images scanned from a sphere surface, therefore I hope to synthesize some depth images (a sphere is easy to calculate....) and use the indoor reconstruction system to put them together.

The strange thing is sometime the opencv_pose_estimation works pretty good, but estimate_3D_transform_RANSAC fail to give a reasonable result...

I mean. it is kind of hard to understand

[2019-05-14 00:05] zxwang96 opened #962 "A really bad case"
Hi,

I tried to register two point clouds by `registration_icp`. Previously open3d works perfectly, while for this case the result is very bad. Here you can access my compressed bag containing two .ply file and the code.
[https://drive.google.com/file/d/1LeXIBsvpj2VOLtXlNKUOSiQdhE-vIGuK/view?usp=sharing](https://drive.google.com/file/d/1LeXIBsvpj2VOLtXlNKUOSiQdhE-vIGuK/view?usp=sharing)

[2019-05-14 04:45] yxlao commented on #962
in your code, try
[code]
the original matrix is just used in the tutorial for illustration

[2019-05-14 13:25] lvgeng opened #964 "Using Open3D Reconstructionsystem as a 2D image stitcher"
Recently I have been dealing with some scanned images. They are scanned from a fixed distance to the surface by a RGB camera as a tight sequence (the neighbouring frames have almost 90% overlapping, for most of image stitcher the sequence is hard to deal with). Considering the surface is kind of smooth so there is no noticeable perspective parallax. Therefore, I tried to make some constant fake de

[2019-05-14 16:11] pmoulon commented on #964
Did you try to run a classical SfM (structure from Motion) system on your sequence?

[2019-05-14 16:38] lvgeng commented on #964
Well...nope.
Cause it is a smooth surface. Without perspective parallax, it seems to be meaning less to run SfM.
But I guess I might miss something cause I am not so familiar with that. What kind of data did you hope that I can get from the SfM? Would it have some help on pose estimation or any other things?

[2019-05-14 16:54] pmoulon commented on #964
I was wondering if you got some texture on your smooth surfaces.

[2019-05-14 16:58] lvgeng commented on #964
Yes I do. So OpenCV part works fine actually.

[2019-05-14 17:43] #962 closed

[2019-05-14 20:00] abuzaina commented on #916
I figured out the issue, needed to edit camera.parameters[i].intrinsic.intrinsic_matrix

[2019-05-14 20:00] #916 closed

[2019-05-14 20:32] abuzaina opened #966 "ColorMap Optimization with different sizes of depth and rgb"
How can edit the color map optimization python example to take depth and rgb images that are not equal in size ?
My depth size is 640x460 and rgb size is 4000x3000.

[2019-05-15 10:57] Jason420Git opened #968 "ICP performance compared to cloud compare"
Hi,

Open3D v0.5

I am using ICP and I have found that it does not converge as well as CloudCompare in every case that I have tried. I have used all the variants, point to point, to plane, and the colour ICP in Open3D but I am struggling to get it to converge over distances that I would expect should work out okay.

This is the original 2 clouds roughly aligned with a coarse alignment. Now I will

[2019-05-15 21:43] lvgeng commented on #213
Sorry for ask again in a closed question...
what did
sdf_trunc: truncation value for signed distance function (SDF).
affect?

By playing with it I have a clear idea that it would cause significant difference on integrating time. However what is the rule of choosing a sdf_tunc value?
If there is some kind of rule, which parameters I should look into to make the decision?

[2019-05-16 14:03] WenyinWei opened #969 "Online reconstruction and RGB-based reconstruction systems needed"
**Describe the solution you'd like**
1. Is it possible for open3D to be operated on online reconstruction scenes such as movie characters record? I am going to make it which would be a base for robots' perception.
2. Would it be better to support open3D to handle RGB images without D to reconstruct the scenes? I would like to make it more widespread.

Although the package is for Intel RealSense ca

[2019-05-17 07:03] #948 closed

[2019-05-17 07:08] dhorka opened #970 "Problem compiling open3d v.0.6.0 using python 3.7 in ubuntu 16.04"
**Describe the bug**
It can not be compiled open3d v.0.6.0 using python 3.7  in ubuntu 16.04

**To Reproduce**
Steps to reproduce the behavior:
1. git clone --recursive https://github.com/intel-isl/Open3D
2. git checkout tags/v0.6.0 -b 0.6.0
3. git submodule sync
4. git submodule update --init --recursive
5. mkdir build
6. cd build
7. cmake  ..
8. make -j$(nproc)
9. make install-pip-package

**Scr

[2019-05-17 07:12] qianyizh commented on #213
It is empirical. Usually, first choose finest grid size ``voxel_length``, which decides the detail level of the final output. Then set ``sdf_trunc`` roughly 5x the finest grid size. @lvgeng

[2019-05-17 07:15] qianyizh commented on #969
These are definitely great features to have! However, we are short of hands so these features are not at high priority. It would be really great if you can contribute to Open3D!

[2019-05-17 09:50] WenyinWei commented on #969
My pleasure to work with the modern package open3D, whose framework may be one of the most elegant packages in the computer vision field. Relevant advances would be posted here in the future.

[2019-05-18 12:36] HaiyongJiang opened #972 "Return None when calling vis.get_render_option()"
Dear authors,

I encountered some errors when running "headless_rendering.py". The following is the log information. I am not sure what is the potential problem. Can you kindly help me figure it out? Thank you.

Customized visualization playing a camera trajectory. Ctrl+z to terminate
GLFW Error: X11: Failed to open display localhost:13.0
Failed to initialize GLFW
Traceback (most recent call last)

[2019-05-19 09:16] lvgeng opened #974 "Large pose graph optimization memory efficiency problem."
Considering my data is kind of different from a indoor scene I use a global pose graph instead of several smaller pose graph. Currently my testing data is a pose graph has 7700 nodes and 22000 edges, and I tried to optimise it with function

`    method = GlobalOptimizationLevenbergMarquardt()
    criteria = GlobalOptimizationConvergenceCriteria()
    option = GlobalOptimizationOption(
        max

[2019-05-19 09:26] lvgeng opened #975 "Customized confidence for edges in pose graph."
Currently the edges in pose graph is divided into odometry and loop closure by uncertainty, which is good for a RGBD reconstruction system.

However is it possible to make the certainty of edges a more flexible attribute? Sometime it just feels that it is not enough to just use two different groups.

[2019-05-19 15:29] JiamingSuen opened #976 "Question about PoseNodeGraph definition between fragments"
Hi there, I'm trying to recover camera pose of each input frame from `refined_registration_optimized.json` output by `ReconstructionSystem`, I'm having trouble transforming the `PoseGraphNode` between fragments(in the `scene` folder) to world frame.  How is this `PoseGraphNode` between fragments defined? Is it in the coordinate frame of the first fragment?
What I'm doing is to transform each frame

[2019-05-19 17:45] JiamingSuen commented on #976
I found this issue, https://github.com/intel-isl/Open3D/issues/463#issuecomment-405656096. Everything works fine now, sorry for the disturbance.

[2019-05-19 17:45] #976 closed

[2019-05-21 09:47] bingws opened #978 "How to not show the "open3D window" ?"
I have a program using the open3D interface, but it always pops up the "open3D window" like the following image, how to make it not display. I mainly use the "write_point_cloud('./4.ply', pcd)". Here is my program, how to modify it.
![Screenshot from 2019-05-21 17-45-32](https://user-images.githubusercontent.com/10806595/58085969-56321100-7bf0-11e9-9b99-84ffd71a8366.png)

[code]

[2019-05-21 11:25] griegler commented on #978
Not sure you try to achieve, but `draw_geometries()` near the end of your code opens the visualization. You can remove that do not open a window.
If you want to change the window title, have a look [here](http://www.open3d.org/docs/python_api/open3d.visualization.draw_geometries.html#open3d.visualization.draw_geometries).

[2019-05-21 11:27] #978 closed

[2019-05-22 05:24] Maxence-Leroy opened #979 "DLL load failed"
**Describe the bug**
I tried to install open3d-python on a new computer, it didn't work. The python install is cleaned. I also tried with Python 3.6.8, I have the same issue.

**To Reproduce**
Steps to reproduce the behavior:
1. pip install open3d-python
2. python -c "import open3d"

**Traceback**
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "C:\Python37\lib\site

[2019-05-22 08:58] griegler commented on #470
Implemented in #955

[2019-05-22 08:58] #470 closed

[2019-05-22 09:12] griegler commented on #847
Mesh simplification has been implemented in #945 . Surface reconstruction is planned to be added to the library soon.

[2019-05-22 09:12] #847 closed

[2019-05-24 14:27] tpwrules opened #986 "Create point cloud from nothing in Python"
It doesn't seem possible to create a point cloud from nothing in Python i.e. just instantiate a PointCloud with no points. Additionally, I can't add points to an existing cloud from e.g. a Numpy array.

I would like a constructor of an open3d.geometry.PointCloud that I can specify the number of points (that all start at zero) or create it from an existing Numpy array. This would include point loca

[2019-05-24 14:58] griegler commented on #986
All of that should already be possible. For example this creates a empty PointCloud first and then populates it with a random numpy array.

[code]

If this does not work for you, could you give more details on your open3d version, platform and so on.

[2019-05-24 16:44] jbohnslav opened #988 "Documentation down?"
**Describe the bug**
Nothing under http://www.open3d.org/docs/ is available. It says: "Not Found
The requested URL /docs/ was not found on this server."

**To Reproduce**
Steps to reproduce the behavior:
Go to http://www.open3d.org/docs/

**Expected behavior**
Viewing documentation

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Environment (please complete the fol

[2019-05-24 16:44] yxlao commented on #988
yes, we're fixing it right now

[2019-05-24 16:50] yxlao commented on #988
fixed

[2019-05-24 16:50] #988 closed

[2019-05-24 16:58] jbohnslav commented on #988
Thank you!

[2019-05-24 18:11] tpwrules commented on #970
I am having this same issue on Ubuntu 18.04 and the Python 3.7.3 from the deadsnakes PPA.

[2019-05-24 18:19] tpwrules commented on #986
My mistake, I was missing the requirement to create some Vector3dVectors to populate the points. Thanks for the assistance. Perhaps the documentation could be improved?

[2019-05-24 18:19] #986 closed

[2019-05-26 18:48] sarbabi commented on #131
Hi,
I have two 3D numpy array (np_array1 of sizes 157, 216, 201 and np_array2 of size 156, 176, 161). In each of them just some voxels are 1 (showing the segmented parts out of an image) and others are 0.
I wanted to ICP register the segmented parts of these two volumes using Open3D.

I did these steps:
1- tried to convert them to point clouds like this:
point_cloud1 = o3d.PointCloud()
point_cloud

[2019-05-27 15:32] havean opened #990 "Error: TransformationEstimationPointToPlane requires pre-computed normal vectors."
在使用全局注册时，我已经使用ownpcd = o3d.geometry.voxel_down_sample()下采样
o3d.geometry.estimate_normals()计算法线，粗配准时fitness=0.92,rmse=0.69
然后运行到精注册时PointToPlane()就出现fitness=0.00    ,rmse=0.00控制台出现Error: TransformationEstimationPointToPlane requires pre-computed normal vectors.

求各位大神指点一下

[2019-05-27 15:34] havean opened #991 "如何保存点云注册的相应结果"
我做了点云的注册工作，如何将注册后的点云保存到自己指定的地址，格式保存为.ply

欢迎各位指导

[2019-05-27 16:53] JackLangerman opened #992 "Expose Visualizer::CaptureDepthPointCloud to python api"
I'd like to expose Visualizer::CaptureDepthPointCloud to the python api.

I think I can just modify this file
```src/Python/visualization/visualizer.cpp```

and add this to get the behaviour

121:
[code]

and then modify like this for docs
52:
[code]

172:
[code]

Is that correct? Happy to work on this, but haven't worked on this before so I may need some pointers.

Will file a matching PR if this

[2019-05-28 08:21] EthanZhangYi opened #993 "Please support rotation for function `create_mesh_coordinate_frame`"
Currently, function [open3d.geometry.create_mesh_coordinate_frame](http://www.open3d.org/docs/python_api/open3d.geometry.create_mesh_coordinate_frame.html?highlight=coordinate_frame#open3d-geometry-create-mesh-coordinate-frame) only support translation by `origin`. Please help support rotation.

[2019-05-28 08:26] griegler commented on #993
In the upcoming version (current master branch) you can use the `rotate` function of `TriangleMesh`. See [here](http://www.open3d.org/docs/python_api/open3d.geometry.TriangleMesh.html#open3d.geometry.TriangleMesh.rotate).

[2019-05-28 08:26] #993 closed

[2019-05-29 06:34] uros171513 commented on #541
@martinakos How did you fuse multiple different point clouds into one?

[2019-05-29 13:17] uros171513 commented on #990
Have the same question.

[2019-05-30 00:55] fengniu08 opened #995 "geometry.TriangleMesh object has no attribute 'rotate'"
Hi,
I used pip to install the open3D. Got this error when run the example transformation.py. I also printed the attributre of  TriangleMesh and found there is no 'rotate' for sure. What's the problem? Did I miss something ?

[2019-05-30 05:42] griegler commented on #995
The `rotate` methods are only in the master branch at the moment and will be part of the next release that will be available in a couple of days. Then they will also be included in the versions of open3d installed via `pip`/`conda`.

[2019-05-30 05:42] #995 closed

[2019-05-30 21:22] manhha1402 opened #996 "Any plan for mesh parameterization?"
Hi,
After reconstructing triangle mesh, I would like to do mesh parameterization, such as Least Squares Conformal Mappings (LSCM). It is useful for mesh processing and texture mapping.
Would you like to add this feature ?
Thanks

[2019-05-31 06:00] qianyizh commented on #975
Can you elaborate on your use case?

[2019-05-31 06:11] qianyizh commented on #131
What's your inlier ratio?

In your case, your points are points of the center of voxels. So if two voxels align, they are identified as an inlier correspondence, thus produce rmse=0. This is legit.

However, I do think in your use case, you probably want to play with the threshold a bit.

Another idea is to plot the two point clouds out and visually inspect them.

[2019-05-31 06:15] qianyizh commented on #991
Please use English, :)
As for you question, you can call ``pointcloud.transform(registration_result.transformation)``, then call ``write_point_cloud()`` to save it as a ply.

[2019-05-31 06:18] qianyizh commented on #992
Looks reasonable to me, @yxlao take a look?

[2019-05-31 06:20] qianyizh commented on #990
You need to do ``estimate_normals()`` for finer grade point cloud too.

[2019-05-31 06:22] qianyizh commented on #996
We are considering features like this. @griegler @germanros1987 FYI.

[2019-05-31 07:20] havean commented on #990
我在精配准之前已经用了estimate_normals()计算法线 ，后面依然报错

[2019-05-31 10:22] sarbabi commented on #131
I attach a photo of my two point clouds:
![Capture](https://user-images.githubusercontent.com/21973354/58699738-88850080-839e-11e9-9836-49334e2c9c07.png)

As it is obvious some outliers are visible here and the two point clouds are not registered.

about the threshold any ideas still?

Best Regards,
Saeed

[2019-05-31 15:15] qianyizh commented on #990
Can you share a minimal code snippet for us to reproduce the error?

[2019-05-31 16:56] JackLangerman commented on #940
I am also experiencing this.

I am trying to set up the ability to render images from a point cloud on a google could vm.

But I see this error:

`GLFW Error: OSMesa: Foward-compatible contexts not supported
Failed to create window`

Here is my setup script which I run on a fresh Ubuntu 16.04 LTS VM:

[code]

[code]

Happy to work on this / help update the docs if someone can point me in the right

[2019-05-31 18:02] Ceege opened #998 "Visualizer has no attribute "remove_geometry""
There doesn't seem to be a remove_geometry function, even though I saw it in the python bindings

Running the remove_geometry.py example works fine for the adding of geometries to the viewer, but when the first call to remove_geometry to compiler throws

vis.remove_geometry(pcds[i])
AttributeError: 'open3d.open3d.visualization.Visualizer' object has no attribute 'remove_geometry'

I did install op

[2019-05-31 18:16] griegler commented on #998
Same problem as in #995

[2019-05-31 18:16] #998 closed

[2019-05-31 21:43] lvgeng commented on #975
It is a surface scanning system (Works in a SLAM way, just like the reconstruction system in Open3D. The difference is the camera pose is provided by sensors.) in which the orientation of each point cloud is much more reliable than the position, I wish to be able to set customized error function and optimising objective function for that.
I hope to be able to set the confidence of edges (since the

[2019-06-01 06:29] havean commented on #990
数据预处理
def preprocess_point_cloud(pcd, voxel_size)：
#估算法线
o3d.geometry.estimate_normals(pcd_down,o3d.geometry.KDTreeSearchParamHybrid(radius=radius_normal, max_nn=50))

#全局注册
def execute_global_registration(source_down, target_down, source_fpfh, target_fpfh, voxel_size):
o3d.registration.TransformationEstimationPointToPoint()
#精密注册
def refine_registration(source, target, source_fpfh, target_fpfh, v

[2019-06-01 13:07] #968 closed

[2019-06-02 02:06] yxlao commented on #992
@JackLangerman thanks, yes, this looks good

[2019-06-02 19:41] ipa-mah commented on #996
thanks

[2019-06-03 02:17] sammo2828 opened #999 "Multiple viewports per window"
A common use case is comparing multiple point clouds side-by-side. In PCL, this could be done by creating multiple viewports in the same window. However, Open3D Visualizer only provides a single window with a single viewport and a single ViewControl.

Feature request to extend the API to be able to attach multiple viewports to a window.

With the current API, a workaround is to create multiple win

[2019-06-03 08:37] qianyizh commented on #131
It's hard to see from this angle? Can you share the files with us?

[2019-06-03 08:39] qianyizh commented on #940
@syncle @yxlao take a look at this?

[2019-06-03 08:43] qianyizh commented on #975
I think you can set the information matrix to give a heavier constraint on rotation than on translation.

However, for general graph optimization, I would still recommend g2o. It's a great library, :). We would have used it in Open3D if its backend were not SuiteSparse (which causes lots of pain to install cross-platform-ly and has a GPL-like license).

[2019-06-03 08:44] qianyizh commented on #990
I think you need to call ``o3d.geometry.estimate_normals`` for ``source`` and ``target`` too.

[2019-06-03 09:02] qianyizh commented on #999
Yes, we are working on a better GUI that can have multiple viewports.
Meanwhile the workaround should work.

[2019-06-03 11:35] lvgeng commented on #975
Thank you!
Em.... I will keep that in mind.
About the information matrix. That might be the most confusing thing for me. It is a 6x6 matrix in open3D and I read part of the g2o examples it is also a 6x6 matrix. But it is kind of hard for me to understand how it works. (Well, for instance, if I need some to give a heavier constraint on rotation than on translation, which elements I should be adjust

[2019-06-03 16:00] qianyizh commented on #975
Assume you have the correct alignment already, and adds a small perturbation to it in the form of ``x = (alpha, beta, gamma, a, b, c)^T``, then given information matrix ``M``, the error is measured as ``x^T M x``

For example, in [this page](http://redwood-data.org/indoor/registration.html), I have an information matrix defined for points alignment case.

You can add to this matrix an additional d

[2019-06-03 17:16] lvgeng commented on #975
Sorry that I came back with more questions....

Tell me if I am wrong... do you mean the "Lambda_ij*" is actually the information matrix?

Does it mean the alpha, beta, gamma part can be treated as Euler angles?

`w1 0 0 0 0 0
0 w2 0 0 0 0
0 0 w3 0 0 0
0 0 0 v1 0 0
0 0 0 0 v2 0
0 0 0 0 0 v3`
So... actually I can set the 3 "w" and 3 "v" in the additional matrix individually to make more flexible co

[2019-06-04 09:50] sammo2828 opened #1000 "Camera look at"
Using `ctrl.rotate`, it is easy to rotate around origin x y.
How to rotate around camera x y? In other words, I want to make the camera "stay" in the same spot and look left right up down.

[2019-06-04 17:53] AndreiBarsan opened #1001 "Fast Global Registration does not populate `fitness`, `inlier_rmse`, and `corres"
**Bug description**
The `open3d.registration.RegistrationResult` object returned by `open3d.registration.registration_fast_based_on_feature_matching` contains confusing results, with fields like `fitness` always being 0 even if the match is nearly perfect.

**To Reproduce**
Steps to reproduce the behavior (from repository root):
 1. cd `examples/Python/Advanced/`
 2. Edit `fast_global_registration

[2019-06-04 19:41] LLDavid commented on #709
Hi. Sorry to bother again. I still have the question.

I am trying  to make use of the [demo_manual_registration example.](https://github.com/intel-isl/Open3D/blob/master/examples/Python/Advanced/interactive_visualization.py)

Suppose now I have a color image and depth image, and the point cloud is constructed based on them.
The function 'pick_points()' will return the IDs of the points that you s

[2019-06-05 07:48] sammo2828 commented on #1000
Here's some more info.

This code uses `ctrl.rotate`, which makes the view look as if the camera is stationary and the two spheres are rotating. *Instead*, **how do I make the camera rotate while the spheres remain stationary?**

[code]

I have tried setting extrinsic matrix directly using `convert_to_pinhole_camera_parameters` and `convert_from_pinhole_camera_parameters` but couldn't get it to do

[2019-06-05 08:17] victor000000 opened #1002 "is there any way to add class labels to geometry.PointCloud ?"
I saw the voxel downsmaple source code,
 Open3D/src/Open3D/Geometry/DownSample.cpp: line 293, VoxelDownSampleAndTrace(...)
line 342: if (approximate_class) {
line 343: output->colors_.push_back(accpoint.second.GetMaxClass());

how do i add class labels to geometry.PointCloud instance by a numpy array?
    so that i can take the advantage of the efficiency of c++ to get the class label for a voxel,

[2019-06-05 11:13] sammo2828 commented on #1000
Okay, figured out how to set the extrinsic matrix directly:

[code]

The above makes the camera rotate while staying in the same place.

Still, would be good to be able to control the camera from the API without setting extrinsic matrix directly, so changing this issue to a feature request.

[2019-06-06 01:04] #1000 closed

[2019-06-06 01:05] #991 closed

[2019-06-06 01:09] germanros1987 commented on #935
Is it solved?

[2019-06-06 01:11] #922 closed

[2019-06-07 16:33] ldepn commented on #886
I also meet the issue

[2019-06-07 23:23] yxlao commented on #970
From the error message, it seems that from `wheel.bdist_wheel import bdist_wheel` failed, and thus `bdist_wheel` is `None`. Added a fix to handle print warning and handles this case in #1012 .

[2019-06-08 05:26] jiangwei221 opened #1013 "open3d.open3d.geometry.PointCloud has no "voxel_down_sample" method"
**IMPORTANT: Please use the following template to report the bug.**
_____

**Describe the bug**
Tried to run example `/examples/Python/Advanced/pointcloud_outlier_removal.py` using open3d 0.7.0.0, which installed via conda.

**To Reproduce**
Steps to reproduce the behavior:
1. cd ./examples/Python/Advanced/
2. python pointcloud_outlier_removal.py
3. after closing the first visualization, the progr

[2019-06-08 05:50] jiangwei221 commented on #1013
works if compiling from source

[2019-06-08 08:22] griegler commented on #1013
The problem is, that the online documentation is connected to the master branch and not the latest tag. Had a few of these issues lately. @yxlao can you look into this as discussed on discord?

[2019-06-08 23:01] #780 closed

[2019-06-08 23:01] #905 closed

[2019-06-08 23:01] #970 closed

[2019-06-09 12:53] JackLangerman commented on #940
related to #972

[2019-06-09 12:54] JackLangerman commented on #940
related to #972

[2019-06-10 09:37] ghoshaw opened #1015 "what is the meaning of params in saved json file?"
Hi,
     I want to find the R T relation between the final 3D model and each frame, but I do not understand what the "information" "edge" "transforms" mean in the saved json file.   My purpose is to set few 3d  point  in the model, and then want to get the corresponding 2d point in each frame.

[2019-06-10 09:50] ghoshaw commented on #831
If setting the python_multi_thead to false can produce the expected result too?
B.T.W, I set python_muti_thread to false in initialize_config.py, but when running, the log shows that python_multi_thread is still true. Is this a bug?

[2019-06-10 10:04] ghoshaw commented on #831
I tried to set the python_multi_threading to Fasle, but the running log still shows that python_multi_threading is True, Is this a bug?  And Is this can solve this problem?

[2019-06-10 11:49] ghoshaw commented on #797
I tried as above to use conda, but still get at end:
open3d-0.5.0.0-cp35-cp35m-linux_x86_64.whl is not a supported wheel on this platform.

[2019-06-11 00:02] renuka-apte opened #1016 "Open3D read_point_cloud skips NaNs"
Open3D seems to remove NaNs forcibly while reading a pcd, which doesn't make sense for organized pcds.

https://github.com/intel-isl/Open3D/blob/master/src/Open3D/IO/FileFormat/FilePCD.cpp#L768

**To repro**
[code]

**Expected behavior**
Perhaps pass a flag that allows for the reading of organized point clouds. IOW, put that line ^ behind a flag.

[2019-06-11 06:34] yxlao commented on #940
Probably, this is due to (OS)MESA only supports up to OpenGL 3.1 (see their [FAQ](https://webcache.googleusercontent.com/search?q=cache:3MxWEM10eOgJ:https://www.mesa3d.org/faq.html+&cd=1&hl=en&ct=clnk&gl=us)), while we're using OpenGL 3.3.

[2019-06-11 12:01] JackLangerman commented on #992
#1014 merged so closing this issue.  Thanks for your help!

[2019-06-11 12:01] #992 closed

[2019-06-11 14:56] asylunatic commented on #1013
I experience the same error (`AttributeError: 'open3d.open3d.geometry.PointCloud' object has no attribute 'voxel_down_sample'`) for the [global_registration example](http://www.open3d.org/docs/tutorial/Advanced/global_registration.html).

OS: Ubuntu 18.04
Open3D version: 0.7.0.0
Python version: 3.6.7
Not a remote workstation
Installed Open3D with pip: `pip3 install open3d-python`

[2019-06-11 17:36] vlall opened #1017 "Question: How do I open the header of a PLY file?"
I looked through the issues and the tutorials, and I cannot find how to view the PLY header to get other features on our data. I'm looking to covert the PLY file to data frame using this library, instead of using another PLY library.

Thanks!

[2019-06-13 07:29] griegler commented on #880
Fixed in #1011

[2019-06-13 07:29] #880 closed

[2019-06-13 09:13] kira-on opened #1018 "Segmentation algorithm"
I have been using Open3D for a while.
I wonder if there are any segmentation algorithms in Open3D like:
http://pointclouds.org/documentation/tutorials/region_growing_segmentation.php#region-growing-segmentation
http://pointclouds.org/documentation/tutorials/cluster_extraction.php#cluster-extraction

I want to extract different objects from the point cloud.

Thank you

[2019-06-13 10:26] kongsgard opened #1019 "Supported mesh file formats"
**Is your feature request related to a problem? Please describe.**
It is difficult to see which file formats are supported.

**Describe the solution you'd like**
I would like to easily get an overview of the supported mesh file formats on the documentation page, http://www.open3d.org/docs/tutorial/Basic/file_io.html, similar to the table given for point clouds.

Does the function `o3d.io.read_tria

[2019-06-13 11:52] #748 closed

[2019-06-14 07:16] qianyizh commented on #975
Your explanation is roughly correct. Basically it defines how the six parameters are connected.

I forgot the detailed implementation. I *think* it is required that the odometry edges form one disconnected component. But it can be either a chain, or a tree, or even a loop.

[2019-06-14 07:16] qianyizh commented on #975
Also adding @syncle to this thread.

[2019-06-14 07:16] qianyizh commented on #1001
@syncle take a look?

[2019-06-14 07:28] qianyizh commented on #1015
I don't understand your question. Can you elaborate? Posting a minimal code snippet would be helpful.

[2019-06-14 07:33] qianyizh commented on #1016
I will add it as a feature request and let @germanros1987 to put it in the roadmap.

Also yes, in the current version, we assume the point cloud is an unorganized point cloud without NaNs. A flag to enable NaNs would be good.

[2019-06-14 07:36] ghoshaw commented on #1015
sorry to bother you,  I figured it out myself.  But a new problem happens like #797, and I tried to use conda and install the open3d from source, but  the error "open3d-0.5.0.0-cp35-cp35m-linux_x86_64.whl is not a supported wheel on this platform." is still on.

[2019-06-14 07:38] qianyizh commented on #1017
I don't think it is exposed in Python interface.
In C++, we use RPLY, and the interface is wrapped in this file:
https://github.com/intel-isl/Open3D/blob/master/src/Open3D/IO/FileFormat/FilePLY.cpp

[2019-06-14 07:38] qianyizh commented on #1018
Not yet. It is currently on our roadmap.
@germanros1987 FYI

[2019-06-14 07:39] qianyizh commented on #1019
Yes I think it supports PLY and STL. But only standard version.

We should complete the doc. @germanros1987 FYI

[2019-06-14 07:40] qianyizh commented on #1015
I will close this ticket and reopen #797

[2019-06-14 07:40] #1015 closed

[2019-06-14 07:40] qianyizh commented on #797
@yxlao take a look at the conda whl problem? ^

[2019-06-14 10:34] kongsgard commented on #1019
Thanks for the quick feedback!
Is anyone working on support for .off-files? If not, I could add a PR on that.

[2019-06-14 11:23] griegler commented on #1019
@kongsgard I think nobody is currently working on it. Would be great to get a PR on that format!

[2019-06-14 13:28] #609 closed

[2019-06-14 13:58] Timowas commented on #1013
I also did experience the same error while performing one of my first tests, namely:
http://www.open3d.org/docs/tutorial/Basic/pointcloud.html

Which gives me the following error:

OS: Windows 10
Open3D version: 0.7.0.0
Python version: 3.7.3
Not a remote workstation
Installed Open3D by compiling from source

Can anyone explain/inform me how to perform such a basic operation?

Thanks in advance.

[2019-06-14 14:02] griegler commented on #1013
Look at the code here: https://github.com/intel-isl/Open3D/blob/v0.7.0/examples/Python/Basic/pointcloud.py
Again, the online doc shows unfortunately the master branch and not the latest released version.

@yxlao @qianyizh @germanros1987 does anybody work on that issue?

[2019-06-14 14:09] Timowas commented on #1013
Thanks for the fast reply @griegler! Sorry to ask it twice.

[2019-06-14 17:36] lvgeng commented on #975
Em... I shall try. If I have a self-defined error function, how to generate the information matrix? And kind of curious how does open3D generate information matrix from two point clouds and the local transformation?

No harm to try it I guess. Will be doing so. With current version of open3D it seems to be the best choice.

[2019-06-15 06:22] abhijaysingh opened #1024 "open3d.open3d.geometry.RGBDImage has no attribute "create_from_color_and_depth""
**IMPORTANT: Please use the following template to report the bug.**
_____

**Describe the bug**
Hi! I tried to create an RGBD image using a depth and color image using the open3d.geometry.RGBDImage.create_from_color_and_depth() method. But when I try to run this program it shows the following error:

AttributeError: type object 'open3d.open3d.geometry.RGBDImage' has no attribute 'create_from_color

[2019-06-17 05:58] abhineet99 opened #1026 "open3d.visualization.draw_goemetries function not working on Google Colab"
open3d.visualization.draw_goemetries function not working on Google Colab.

I installed open3d on Google Colab using pip in python3. But this function is not working , it is not showing any error but doesn't produce any output, while other functions still do there job.
I think this function returns the visualisation in a new window which is not supported in the browser, any way around this?

[2019-06-17 06:14] abhineet99 commented on #1013
I had faced the same issue. Currently I'm using
`from open3d.open3d.geometry import voxel_down_sample,estimate_normals`
as a work around

[2019-06-18 02:34] XuyangBai opened #1027 "extrinsic matrix and transform"
Hi, thanks for your sharing. I got confused when I use the function `open3d.create_point_cloud_from_rgbd_image`. There is a parameter called `extrinsic` and I have a 4 * 4 matrix which is the camera pose(camera-to-world, 4*4 matrix in homogeneous coordinates). So I just use  this matrix as the extrinsic matrix. However, I tried another way: I first use the default extrinsic matrix(`np.eye(4)`) to

[2019-06-18 05:04] nikhilkoditala commented on #1024
Hey Abhijay, I am also facing the same issue. Did you find any fix?

[2019-06-18 05:17] abhijaysingh commented on #1024
@nikhilkoditala. The method works if you call it using create_rgbd_image_from_color_and_depth(). But there are issues with that too.

[2019-06-18 15:22] JeremyBYU commented on #497
I am running into the same issue.  It seems to be related to this: https://github.com/intel-isl/Open3D/issues/803

The basic idea is that the object in the environments (large) are not being drawn because the far clipping plane is too near: https://github.com/intel-isl/Open3D/blob/fab6441b763b4964ef898cbb3fae8d10ef98442f/src/Visualization/Visualizer/ViewControl.cpp#L69

A simple change to allow th

[2019-06-18 17:32] JeremyBYU commented on #497
A not so great workaround that I have implemented. Basically you press the key 'C' to recenter the bounding box of the point cloud.

[code]

[2019-06-19 04:21] nikhilkoditala commented on #1024
@abhijaysingh Instead of pip if we install from source I think these errors will not be there.

[2019-06-19 08:51] EnrikDS opened #1028 "Function: open3d.geometry.create_point_cloud_from_depth_image"
Hi, I am not 100% sure about the meaning of the arguments to this function, but there are two called "depth_scale" , "depth_trunc" that do not seem to have any effect on the pointcloud calling them from python.
I got a depth image and I would like to create a PointCloud discarding points whose distance to the camera are greater than a threshold. It does not seem to work.

**To Reproduce**
Just cal

[2019-06-19 11:09] abhijaysingh commented on #1024
@nikhilkoditala I compiled from source but I continue to face the issue. Did it work for you?

[2019-06-19 11:12] nikhilkoditala commented on #1024
Ya it's working for me now. Did you uninstall the pip version before compiling from source.

[2019-06-19 11:17] abhijaysingh commented on #1024
@nikhilkoditala  Yes, I did.

[2019-06-19 11:24] nikhilkoditala commented on #1024
I think you can ignore that warning.
If you have python 2 and 3 running in your system, while running cmake command did you use this argument(-DPYTHON_EXECUTABLE) to set your target python path.

[2019-06-19 11:26] abhijaysingh commented on #1024
I removed python 2 because I was encountering this problem but the issue is still there.

[2019-06-19 11:31] nikhilkoditala commented on #1024
Then i think it should work, if possible try running the cmake command again with the above argument
and make sure you use sudo before make commands

[2019-06-19 11:33] abhijaysingh commented on #1024
Okay, thanks. The make install-pip-package commands needs to run in the build directory itself or should i run it elsewhere?

[2019-06-19 11:35] abhijaysingh commented on #1024
Okay, it worked. I'll close this issue now. Thank you @nikhilkoditala

[2019-06-19 11:35] #1024 closed

[2019-06-19 15:04] zsfVishnu commented on #241
replace `from  py3d import *` with  `from open3d import *` , since open3d is like the parent package

[2019-06-19 20:42] bigdimboom opened #1029 "Can I skip python binding and visualization"
I'm trying to integrate this library to my project. I'm interested in the following core feature:

3D data processing algorithms
Scene reconstruction
Surface alignment

How do I skip python binding and visualization in the core features?

[2019-06-19 23:48] liyiqiao02 opened #1030 "Not able to use some of the functions in open3d."
Hi,
I use $pip3 install open3d to install open3d. I am able to load point cloud and visualize point cloud using the functions from open3d. But I am not able to use functions like "voxel_down_sample".
AttributeError: 'open3d.open3d.geometry.PointCloud' object has no attribute 'voxel_down_sample'
Do you have any idea about that?

Thanks

[2019-06-20 06:29] abhijaysingh commented on #1030
@liyiqiao02  I was facing the same. Compiling from source will fix this issue.

[2019-06-20 12:22] bascoul opened #1033 "Compiled Open3D can't run tutorial"
I followed the documentation of Open3D 0.7.0.0 (http://www.open3d.org/docs/getting_started.html#id3) and retrieved the tutorials on: https://github.com/intel-isl/Open3D but there is no correspondence between the two which gives systematic errors.
The first tutorial : python rgbd_redwood.py give this error:
AttributeError: type object 'open3d.open3d.geometry.RGBDImage' has no attribute 'create_from

[2019-06-20 20:28] kongsgard commented on #1033
Earlier versions can be found here: https://pypi.org/project/open3d-python/0.7.0.0/#history
I tested with 0.7.0.0 and 0.6.0.0 and got the same error message. However with 0.5.0.0 and earlier versions open3d has no attribute 'io', and thus requires some changes to the tutorial code to use the RGBDImage function.

It therefore seems like compiling from source (which fixes the issue) is the best appr

[2019-06-21 04:59] qianyizh commented on #1027
extrinsic matrices convert world coordinates to camera coordinates. Thus you should use its inverse in `.transform`.

[2019-06-21 05:06] qianyizh commented on #1029
Are you using Python or CMake?
If using CMake, there are options to turn them off.

[2019-06-21 06:43] yxlao commented on #1033
yes, we're working on simultaneously providing docs for previous versions and `master` branch in the docs website

[2019-06-21 15:30] gerardoglz opened #1034 "create_sphere() doesn't exist"
The code:

import open3d as o3d
mesh_sphere = o3d.geometry.TriangleMesh.create_sphere(radius=1.0)

produces an error:
AttributeError: type object 'open3d.open3d.geometry.TriangleMesh' has no attribute 'create_sphere'

for any type of basic geometry, such as a box, sphere, etc.

Also, please update your tutorials to correct that issue, i.e.
http://open3d.org/docs/tutorial/Basic/visualization.html#g

[2019-06-21 17:51] #1019 closed

[2019-06-21 17:52] #772 closed

[2019-06-21 17:53] griegler commented on #1034
The same problem as in #1028. The online documentation is unfortunately associated with the master branch and not the latest release. You should be able to use `o3d.create_mesh_sphere()`.

[2019-06-21 17:53] #1034 closed

[2019-06-21 17:56] griegler commented on #1030
The same problem as in #1028. The online documentation is unfortunately associated with the master branch and not the latest release. You should be able to use `open3d.geometry.voxel_down_sample(pointcloud_object)`.

[2019-06-21 17:56] #1030 closed

[2019-06-23 01:07] XuyangBai commented on #1027
Thank you so much for your explanation!

[2019-06-23 01:07] #1027 closed

[2019-06-23 09:08] kongsgard commented on #1019
#1035

[2019-06-24 02:33] AhnHyeongHyun opened #1037 "How to use point cloud to make triangle mesh?"
Hi. all
Question. How to use point cloud to make triangle mesh?

[2019-06-24 12:54] rjtshrm opened #1040 "Visual 3d voxel grid from numpy 3d array"
I have a numpy 3d cube containing voxels data. Is there any way i can convert it to point cloud and visualize it.

[2019-06-24 13:06] griegler commented on #1040
You could use `np.where(grid == 1)` on your `grid` to get the voxel indices, where the grid data is `1`. Concatenating those, you can then use `pcd = o3d.geometry.PointCloud(); pcd.points = o3d.utility.Vector3dVector(cat_indices)` to set the point coordinates.

[2019-06-24 15:29] rjtshrm commented on #1040
Why are we comparing grid values with 1. Wouldn't it be better to compare it with values <= 0 as voxels with values less than 0 contains the surface.

[2019-06-24 15:37] griegler commented on #1040
You can use any condition you like. I assumed occupancy grids, but if you have TSDF values then `<= 0` might be more appropriate.

[2019-06-24 15:46] rjtshrm commented on #1040
Thanks

[2019-06-24 15:46] #1040 closed

[2019-06-24 21:39] DariusKopka opened #1042 "object 'open3d.open3d.geometry.VoxelGrid' has no attribute 'create_from_point_cloud'""
import open3d as o3d

o3d.geometry.VoxelGrid.create_from_point_cloud(pcd, voxel_size=0.05)

throw the folling error:

AttributeError("type object 'open3d.open3d.geometry.VoxelGrid' has no attribute 'create_from_point_cloud'",)

[2019-06-25 06:43] griegler commented on #1042
Have installed open3d via pip/conda? Then this is related to #1013.
@yxlao Any progress on the online documentation?

[2019-06-25 06:43] #1042 closed

[2019-06-25 07:23] vlall commented on #1017
Does that mean we can't see the other features/properties besides the point co-ordinates? I know some other python libraries expose that data. Just curious, thanks!

[2019-06-25 13:29] XuyangBai opened #1044 "Keypoint detection"
Hi, Thanks for your sharing. I have been used open3d for a while. I wonder if there are any point cloud keypoint detection algorithms like Sift3D (just like `pcl::SIFTKeypoint` in PCL)?

Thanks.

[2019-06-26 05:08] wyjforwjy opened #1045 "open3d.vector3dvector() is very slow"
open3d.vector3dvector() is very slow.And i install open3d by 'pip install open3d-python==0.7.0.0'.anynoe has encoutered this problem?

[2019-06-26 05:22] yxlao commented on #1045
`Vector3dVector` is optimized for numpy array with `float64` datatype with memory mapping. Try using `np.float64` array as input.

Example benchmark:
[code]

Output:
[code]

[2019-06-26 07:45] griegler commented on #934
Adressed in #1023

[2019-06-26 07:45] #934 closed

[2019-06-26 07:46] griegler commented on #1016
Addressed in #1022

[2019-06-26 07:46] #1016 closed

[2019-06-26 09:49] griegler commented on #1018
#1038 implemented DBSCAN for clustering/segmentation.

[2019-06-26 09:49] #1018 closed

[2019-06-26 09:51] griegler commented on #1037
This is possible with a surface reconstruction method, e.g. Ball Pivoting, or Poisson. Neither is yet implemented in open3d, but we are working on it.

[2019-06-26 09:51] #1037 closed

[2019-06-27 03:10] JackLangerman commented on #1026
I believe this is a headless rendering issue related to #940 #972 .

You may be able to work around using jupyter visualization for some applications:

http://www.open3d.org/docs/tutorial/Basic/jupyter.html

Hopefully headless gets figured out soon though....

[2019-06-27 06:10] 4rtemi5 commented on #1024
I was able to solve this in the conda version with:
`from open3d.open3d.geometry import create_rgbd_image_from_color_and_depth`
and by removing open3d.geometry.RGBDImage.

Hope it helps somebody.

[2019-06-27 07:06] wyjforwjy commented on #1045
Thank you very much! @yxlao

[2019-06-27 21:23] cosama commented on #596
@qianyizh I am looking into doing something similar. Could you maybe provide some more specific example code how to get the ViewControl and convert it to CameraParameters, change it and convert it back? Thanks.

[2019-06-27 23:37] 51N84D opened #1047 "TriangleMesh missing function is_intersecting"
I'm trying to use the function is_intersecting from the TriangleMesh class, but I'm getting the error:

AttributeError: 'open3d.open3d.geometry.TriangleMesh' object has no attribute 'is_intersecting'

[2019-06-28 05:46] wyjforwjy commented on #1045
In the question “Vector3dvector and other vector Eigen bindings speed up ”:
open3d.Vector3dVector: (2000000, 3)
open3d -> numpy: 0.024798s
numpy -> open3d: 0.000017s
how did you make it so fast?

[2019-06-28 05:46] wyjforwjy commented on #1045
@yxlao

[2019-06-28 05:51] wyjforwjy commented on #1045
I mean that numpy -> open3d: 0.000017s, and in your answer   time numpy float64: 0.008487939834594727s .It's a great difference!

[2019-06-28 06:43] griegler commented on #1047
Can you provide more details, like how did you install open3d, which version are you using, and can you provide a code snippet that is not working?

[2019-06-28 11:57] lvgeng commented on #975
Tried to use an information matrix
`    "virtual_node_information": [
        [ 100000000,-100000000,         0,         0,         0,-100000000],
        [-100000000, 100000000,         0,         0,         0, 100000000],
        [         0,         0, 100000000, 100000000,-100000000,         0],
        [         0,         0, 100000000, 100000000,         0,         0],
        [         0,

[2019-06-28 12:21] barnjamin commented on #975
I've used sequential GPS coordinates to inject edges into the pose graph successfully.

I assign GPS readings to node ids using timestamps, use the translation between GPS coordinates as edge transformation and for the information matrix just something like:
[code]
where only the top half of the information matrix is multiplied to constrain the edge to influencing translation

[2019-06-28 13:38] lvgeng commented on #975
Well... that is almost what I was doing. But the point is, I cannot freeze the pose of multiple nodes no matter with my current information matrix.

[2019-06-28 13:52] barnjamin commented on #975
what is the transformation you're using for the edge?

you have a landmark right? and you know with high accuracy the node => landmark transformation?

is your transformation the computed distance between edge's source/target nodes using the node to landmark transformation?

[2019-06-28 14:05] lvgeng commented on #975
![Screenshot from 2019-06-28 15-00-35](https://user-images.githubusercontent.com/9252650/60347556-891cb100-99b5-11e9-8c03-d4bb208c1f8d.png)

Currently my pose graph is like this.

Initializing the Nodes and GPS nodes with same pose, which is the GPS pose.(with orientation.)
The transformation set to reference edges are calculated from GPS pose, the information is set to be the matrix above.

Odome

[2019-06-28 14:16] barnjamin commented on #975
I see.

My knowledge is limited in this subject but they way I did it was that only the frames were nodes and the edges were from RGBD Odom + computed edges based on translation between gps points associated to nodes transformed into the cameras coordinate system.

This let the optimizer figure out how to adjust the nodes (frames) poses to account for the gps measured translation.

[2019-06-28 15:22] lvgeng commented on #975
Em... Just curious, how do you deal with accumulating error in this way? Especially when the GPS data is not so reliable.

[2019-06-28 16:05] 51N84D commented on #1047
I've installed open3d-python using pip. Here is the code snippet:

`import numpy as np
import open3d as o3d

#Load mesh
mesh = o3d.io.read_triangle_mesh("./data/bunny/bunny.ply")

point1 = np.expand_dims(np.asarray([0,0.1,0]), axis = 0)
point2 = np.expand_dims(np.asarray([0,0,0]), axis = 0)
point3 = np.expand_dims(np.asarray([0.05,0,0]), axis = 0)

points = np.concatenate((point1, point2, point3),

[2019-06-28 16:08] barnjamin commented on #975
Since I was doing road reconstruction I could snap the noisy gps coordinates to likely roads using OSRM. Instead of using the raw GPS data I used road segments.

Recently I got a Zed-F9P and by applying corrections provided by an NTRIP service I can a cm level fix. This is sufficiently accurate for what I'm doing.

[2019-06-28 16:10] 51N84D commented on #1047
Ah, I found I was using version 0.6 rather than 0.7. Upgrading solved the problem

[2019-06-28 16:10] #1047 closed

[2019-06-28 23:37] payamr opened #1049 "Error with jupyter-core requirement while building from source (python3)"
**IMPORTANT: Please use the following template to report the bug.**
_____

**Describe the bug**
When I try to build open3d from source on Mac, I get an error at the `make install-pip-package` stage. I followed the 5 steps laid out in the documentation.

**To Reproduce**
I followed the 5 steps laid out in the documentation. At the end of step 5, I get an error.

**Error message**
This is the last p

[2019-06-30 17:51] sherwoac opened #1050 "order in add_geometry"
I want to render multiple point clouds on top of an image in python.

At the moment, to do this, I use vis.add_geometry(<item>) to each item and then the image last. This normally works, but about 1/3 frames drops one or more of the point clouds from the end of the list. By removing the image from the list, I discovered that this is because the missing item(s) is _behind_ the image.

So, this is a

[2019-07-01 14:54] maxjaritz commented on #135
@lukaspistelak Have you found a solution?

[2019-07-01 15:40] maxjaritz commented on #897
@qianyizh Why isn't it possible to forward via X11? For matplotlib, it works to have an interactive window via SSH -X, given the environment variable DISPLAY is correctly configured. In order to test OpenGL, I tried glxgears with remote rendering and it also works. However, for open3d, the error I get is:
[code]

[2019-07-01 23:26] YiruS commented on #1013
Hi,

I tried your strategy and when calling "voxel_down_sample(pcd)" it shows error " voxel_down_sample(): incompatible function arguments." Do you have the similar issue before? Thanks!

[2019-07-01 23:31] YiruS opened #1052 "Could we compile from source in Fedora?"
Hi there,

I tried to compile from source but currently it seems only support Ubuntu, Windows and OSX. I wonder if it's possible to compile the source in other Linux machine, like Fedora?

The context is that when I tried to use the sample code `downpcd = pcd.voxel_down_sample(voxel_size=0.05)` , it shows
"**AttributeError**: 'open3d.open3d.geometry.PointCloud' object has no attribute 'voxel_down_

[2019-07-02 01:22] wyjforwjy commented on #1045
@yxlao hope for your reply~~

[2019-07-02 04:32] abhineet99 commented on #1013
You need to give voxel_size as an argument as well, as you are down sampling. So the function template becomes "voxel_down_sample(pcd,voxel_size)" . Hope this helps!

[2019-07-02 04:41] YiruS commented on #1013
Thank works, thanks!

[2019-07-02 04:55] abhineet99 commented on #1026
I'm using  Mozilla Firefox 67.0.4 on Ubuntu 18.04, the browser crashes when I use visualizer.show(), Probably I need to open an issue with Mozilla guys.

[2019-07-02 05:02] abhineet99 commented on #1026
When i do `visualizer.show()` it just says "JVisualizer with 1 geometries" and displays nothing

[2019-07-02 13:43] spiegelss commented on #591
Late comment but something that might be useful to you is PDAL for [ground segmentation](https://pdal.io/stages/filters.smrf.html?highlight=smrf).  I have used PDAL for point cloud processing and it has been incredibly useful.  I don't know if Open3d would want to implement something like this, but I hope this helps!!

[2019-07-02 19:53] LYHTHU opened #1054 "Is there any support for .obj file?"
It seems that both `open3d.read_triangle_mesh` and ` open3d.io.read_triangle_mesh` fails reading .obj file.
It shows "Read geometry::TriangleMesh failed: unknown file extension."
I tested it with a plane model in ShapeNet.

[2019-07-03 04:24] Resays commented on #1033
File Name: rgbd_redwood.py
AttributeError: type object 'open3d.open3d.geometry.RGBDImage' has no attribute 'RGBDImage'
Still No Solutions ...

[2019-07-03 04:55] Resays commented on #1024
I'm using this code:

[code]

and Now I'm getting this error:

What should I do ? is there any solution?

[2019-07-03 05:35] Resays commented on #1033
Found a solution:
rgbd_image = o3d.geometry.create_rgbd_image_from_color_and_depth(color_raw, depth_raw)
Just skipped RGBDImage and its working now

[2019-07-03 07:45] griegler commented on #1054
It should be possible with the code in the master branch (compile from source), but not with the versions installed from pip/conda.

[2019-07-03 07:45] #1054 closed

[2019-07-03 11:37] abhijaysingh commented on #1024
@Resays
AttributeError: type object 'open3d.open3d.geometry.PointCloud' has no attribute 'create_from_rgbd_image'

Try it out with this -
open3d.geometry.create_point_cloud_from_rgbd_image(image, intrinsic, extrinsic=(with default value))

[2019-07-03 13:56] lvgeng opened #1056 "Is there an upsampling method or surface interpolation method?"
Just wondering if there is a upsampling method or surface interpolation method.

I wish to interpolate a relatively smooth curved surface from several sampled points.

Convert a sparse point cloud to a dense point cloud and fix the holes at the same time.

Seems to be something like:

sparse point cloud -> reconstructed mesh -> dense point cloud ?

Any suggestions?

[2019-07-03 15:22] richipower commented on #473
hi @baptiste-mnh I just tried your example with the new Open3D (0.7) and pyrealsense2 (2.24) versions available through pip. I changed the line
`vtx = np.asanyarray(points.get_vertices_2d())` to `vtx = np.asanyarray(points.get_vertices())` because 2d is not available anymore, at the end i receive the vtx as a void96 type, where all the points are stored (x,y,z) have you tried a fast solution to ge

[2019-07-03 15:45] LYHTHU commented on #1054
And is there any support for convert tri-mesh to point cloud now? Thanks.

[2019-07-03 21:45] yxlao commented on #1052
**Q1: Fedora?**
Yes, it shall be possible to compile with Fedora. I haven't tested it. There could be some differences at dependency installation. But in principle, it shall work. Please let us know your findings.

**Q2: `downpcd = pcd.voxel_down_sample(voxel_size=0.05)`**
This is the correct API in our latest master branch. Visit http://www.open3d.org/docs/latest/ and search `voxel_down_sample`.

[2019-07-03 23:21] yxlao commented on #1013
close with #1055

[2019-07-03 23:21] #1013 closed

[2019-07-03 23:21] yxlao commented on #1033
close with #1055

[2019-07-03 23:21] #1033 closed

[2019-07-03 23:21] yxlao commented on #1034
fixed with #1055

[2019-07-03 23:21] yxlao commented on #1030
fixed with #1055

[2019-07-04 03:53] XLechter opened #1057 "Python interface of open3d.geometry.sample_points_poisson_disk"
Hi, I read the official doc and I found that in python interface:
open3d.geometry.sample_points_poisson_disk() is not found. While other sampling methods like open3d.geometry.voxel_down_sample() can work properly.
I get open3d 0.7.0.0 from pip install.
Thank you.

[2019-07-04 07:50] jorge1993 opened #1058 "Convert PointCloud to Mesh"
Hi all,

Can I transform a open3d.PointCloud to open3d.Mesh?

[2019-07-04 08:26] griegler commented on #1058
Not yet. You will need a surface reconstruction method, #270. We are working on it.

[2019-07-04 08:26] #1058 closed

[2019-07-04 08:34] griegler commented on #1056
I think for the suggested pipeline we are missing the middle part: reconstruction of the mesh. We are working on it, but for now you would need some other library for that.

[2019-07-04 10:25] lvgeng commented on #1056
Any suggestions for that? Like which python library might be suitable for it?
Or... is is possible to skip the mesh part, just do a sparse point cloud to dense point cloud interpolation?

[2019-07-04 13:11] lvgeng commented on #1056
Or probably other methods? Does open3d have a smoothing method?

for point in sparse_point_cloud
      make a square planar point cloud p_sub at its position
      rough dense point cloud += p_sub
smoothed_dense_point_cloud = smooth(rough dense point cloud)
dense_point_cloud = downsample(smoothed_dense_point_cloud)

[2019-07-05 15:33] Jason420Git opened #1059 "TSDF improvement recommendations"
Hi,

I am getting some issues with the meshes produced in areas where there is a depth discontinuity (even if small).

I am doing some scanning with a stereo 3D depth sensor. If I scan a face left to right, the right side of the model always tends to have a ridging artefact. I have also observed this at the adams apple. I believe it is due to discontinuity, depth is noisier there and creating this

[2019-07-08 09:25] XuyangBai opened #1061 "TSDF for depth images only."
Hi, thanks for your sharing. I wonder is there any methods to do TSDF fusion using only a set of depth images?  In this example `http://www.open3d.org/docs/release/tutorial/Advanced/rgbd_integration.html` you use RGBD images to integrate, but how about the situation when there is no color image ?

[2019-07-08 13:22] XuyangBai opened #1062 "How to disable read_point_cloud command line output?"
Hi. I was wondering if there's any way to suppress the output to the command line related to ` read_point_cloud` every time I run my program. I am talking about this:
[code]

[2019-07-08 15:26] HndsmJohn opened #1063 "Determine scaling before registration ?"
Hello everyone,

**Is your feature request related to a problem? Please describe.**
I use the Open3D ICP Registration algorithms to try to match two point clouds, one coming from a depth camera, one extracted from a STL file. The goal is to determine a precise relative position of the camera with the filmed object, given a comparison between the two point clouds.

![Models](https://user-images.git

[2019-07-08 16:04] kongsgard commented on #1062
Suppressing command line output for `read_point_cloud` is not supported.
The same applies to all read/write functions. Perhaps a `suppress_cmd_output` flag should be added to these?

[2019-07-08 16:16] 51N84D opened #1064 "Varying point size with depth"
Is there a way to simulate perspective in point cloud visualization? I'd like the size of the point to decrease with depth, but it looks like the visualizer does a 2D projection so that points in the background appear the same size as the points in the foreground.

[2019-07-08 17:46] lgribeiro commented on #1030
Replace this function:
downpcd = pcd.voxel_down_sample(voxel_size=0.05)
for:
downpcd = o3d.geometry.voxel_down_sample(pcd,voxel_size=0.05)
It  works!  :)

[2019-07-08 18:42] griegler commented on #1062
Actually, it is possible by setting global the verbosity level. See #884.

[2019-07-08 18:42] #1062 closed

[2019-07-08 18:45] griegler commented on #1064
A simple workaround would be to create a triangle mesh, where each point is a represented as a cube with a given size.

[2019-07-10 01:34] Resays opened #1066 "Point Cloud Registration is not Successful, not getting the proper results"
Dear Open3D users.

I am using code available on the official website and using two .ply files, I want to make a 3D back and front model of Cup using Open3D. But the results are these, can anybody help in this regard?

![cup-rotation](https://user-images.githubusercontent.com/50095407/60933661-3a004580-a2fe-11e9-9a56-e9867edfb8a8.png)

[2019-07-10 11:15] supreethsubbaraya opened #1067 "Incorrect voxel_down_sample usage in tutorial"
**IMPORTANT: Please use the following template to report the bug.**
_____

**Describe the bug**
The following line in the PointCloud tutorial does not work. 'geometry' package does not have any method called 'voxel_down_sample'

downpcd = o3d.geometry.voxel_down_sample(pcd, voxel_size=0.05)

**To Reproduce**

Run the following lines of code

pcd = o3d.io.read_point_cloud("../../TestData/fragment.p

[2019-07-10 11:35] MJahangeerQureshi commented on #345
Any word on this particular issue I seem to be seeing this as well.
[code]
This the config I am using for this experiment
[code]

[2019-07-10 11:44] griegler commented on #1067
What version of open3d are you using?
Can you post the result of `o3d.__version__ `, because it is working for me in version `0.7`.

[2019-07-10 12:03] supreethsubbaraya commented on #1067
The output of o3d.__version__ is '0.7.0.0'. I am able to use other methods say in visualization, io etc as shown in the documentation. I am seeing trouble in geometry methods such as 'estimate_normals', 'voxel_down_sample'

[2019-07-10 12:05] griegler commented on #1067
How did you install open3d, and what OS are you using?

[2019-07-10 20:39] kongsgard opened #1068 "Minimum bounding box"
**Is your feature request related to a problem? Please describe.**
Computation of the minimum bounding box for a mesh or point cloud.

**Describe the solution you'd like**
An API similar to the computation of convex hulls:
[code]

**Describe alternatives you've considered**
Possibly, the following variations could be added:
- Computation of axis-aligned minimum bounding box, arbitrarily oriented m

[2019-07-11 05:53] wyjforwjy commented on #1002
Hi,do you add class label to pointcloud? I alse have this problem. I need add label to bbox.

[2019-07-11 22:11] Exception4U opened #1070 "cast Python instance to C++ type"
**when I run this code in jupyter notebook cell**
[code]

**following output can be observed**
[code]
**Environment:**
 - OS: [ Ubuntu 16.04]
 - Python version: 3.6
 - Open3D version: open3d-python 0.7.0.0
 - Is this remote workstation?: yes
 - How did you install Open3D?: pip

[2019-07-12 10:55] supreethsubbaraya commented on #1067
I installed open3d from source. i am using Ubuntu 18.04.2.

On Wed, Jul 10, 2019 at 8:05 AM Gernot <notifications@github.com> wrote:

[2019-07-12 11:34] griegler commented on #1067
I see. You were looking at the wrong documentation then. For the documentation related to the master branch look at [latest](http://www.open3d.org/docs/latest/tutorial/Basic/pointcloud.html).

[2019-07-12 11:34] #1067 closed

[2019-07-13 08:54] #1066 closed

[2019-07-14 12:46] Resays opened #1072 "How to save integrated color and depth image along with integrated.ply file in ReconstructionSystem"
Using the code from ReconstructionSystem, I want to have an integrated color and depth image with integrated.ply file, is it possible to have them both?
cause later I will grab the objects from a newly constructed .ply file using programming python code

[2019-07-15 07:39] walkalone31 opened #1073 "Get depth and image from point cloud in python"
I have some question with get the depth and image from point cloud, I read the image and depth to generate the point cloud, and i just do flip with point cloud, and then do capture_depth_float_buffer.
but the result depth seems different from input depth.

here is my code:
`img = cv2.imread('dataset/image_000010.png', -1)`
`depth = cv2.imread('dataset/depth_000010.pgm', -1)`

`o3d_image = o3d.geom

[2019-07-15 14:06] ndrplz commented on #803
Is there any news about this?

I think I run into the same issue trying to render 3D vehicle models aligned with the corresponding image. When the car is "far from the camera" the rendering fails (i.e. image is black). In some edge case you can really see the rendered model disappearing when it gets too far (see below).

![image](https://user-images.githubusercontent.com/3187598/61221920-e5a00000-

[2019-07-15 18:21] Resays commented on #1072
anybody can help ? ... what should i do ?

[2019-07-16 17:45] qianyizh commented on #1072
@yxlao take a look?

[2019-07-16 17:46] qianyizh commented on #897
umm, interesting, last time I checked it worked well with X-window. Not sure about its current status though. @syncle any comment on this?

[2019-07-17 10:46] walkalone31 commented on #1073
answear Q2 myself with this : http://www.open3d.org/docs/release/tutorial/Basic/working_with_numpy.html?highlight=working

[2019-07-17 13:59] lvgeng opened #1074 "How to display textured mesh in Visualizer window."
### **Displaying images in 3D space of visualizer as a quad?**
I am wondering, is there some kind of way to display a textured mesh? Or a simpler version, is there any way to display a quad textured by a rectangle image in the visualizer along side with point clouds, linesets, and other geometries?

Currenly I am using the way suggested by @qianyizh
https://github.com/intel-isl/Open3D/issues/525#i

[2019-07-17 14:53] HndsmJohn opened #1076 "Geometry.PointCloud has no attribute 'rotate' or 'scale'"
Hi, I used pip to install Open3D in my environment and when I try to use the "rotate" or "scale" members of geometry.PointCloud I got an error that this class doesn't have these attributes even though I saw they are present in the documentation. Are these functions considered work in progress or did I install the package incorrectly ?

In advance, thank you for your answer.

[2019-07-17 18:41] griegler commented on #1076
If you have installed the latest version via pip, then `rotate` and `scale` should be available for the `PointCloud` objects. What is the output of `import open3d as o3d; print(o3d.__version__)`?

[2019-07-18 05:53] walkalone31 commented on #1073
someone can help me with Q1 ?

[2019-07-18 06:44] griegler commented on #1073
What is `pinhole_camera_intrinsic` in your example? And do you set the same intrinsic parameters for `vis`?

[2019-07-18 08:43] griegler commented on #1076
That's the problem then. Can you try to reinstall open3d via pip again and test the version. It should be `0.7.0.0` to access the above mentioned methods.

[2019-07-18 08:43] #1076 closed

[2019-07-18 08:54] HndsmJohn commented on #1076
Yes that was it, thank you very much.

[2019-07-18 11:33] Resays commented on #1073
i'm actually trying to get z values from pcd file and want to save depth image from pcd file using this code
[code]

but not successfull, am i doing something wrong ?
suggest any solution
and later i have to save color image of that ply file as well, what sould i do ?

[2019-07-18 16:21] theNded commented on #1072
Need more specific definition of the  feature request. Meaning of 'Integrated color and depth **image**' is kind of ambiguous.

[2019-07-18 22:35] PieroV opened #1078 "UniformTSDFVolume::Reset does not clear voxels"
**Describe the bug**
Calling `UniformTSDFVolume::Reset` won't actually reset the volume

**To Reproduce**
1. Create a UniformTSDFVolume and integrate some frames
2. Call `volume.Reset();`
3. Visualize somehow the volume, e.g. `open3d::visualization::DrawGeometries({ volume.ExtractPointCloud() });`

**Expected behavior**
I expect the volume to be empty.
In the previous example, I would expect an em

[2019-07-19 02:21] walkalone31 commented on #1073
@griegler
hi,  I use o3d.camera.PinholeCameraIntrinsic() to get the pinhole_camera_intrinsic.
I don't set the  intrinsic parameters for vis, do you mean vis.get_view_control.convert_from_pinhole_camera_parameters() ?
I try this before, but the param for convert_from_pinhole_camera_parameters need extrinsic and intrinsic matrix.
I follow this page:
[http://www.open3d.org/docs/release/tutorial/Advan

[2019-07-19 09:36] yxlao commented on #1057
@XLechter it works for me (ubuntu 18.04, py3.6, open3d 0.7.0 from pip)

Could you include a terminal log, where you create a fresh virtual env, install open3d from pip and run `python -c "import open3d; print(open3d.geometry.sample_points_poisson_disk)"`

[2019-07-19 09:51] yxlao commented on #1045
@wyjforwjy could you show a complete script of how you get the `open3d -> numpy` and `numpy -> open3d` benchmark numbers?

If your question is "how did you make it so fast?", it's implemented in https://github.com/intel-isl/Open3D/pull/657, by reducing python API calls at the python binding level.

In my additional tests:

[code]

Output:
[code]

So my current conclusion is:
1) To go from `numpy->

[2019-07-19 10:38] yxlao commented on #1078
Thanks @PieroV, fixed in https://github.com/intel-isl/Open3D/pull/1079. This is a design flaw.

[2019-07-19 10:44] yxlao commented on #1070
It's likely that `points`'s shape is not correct, it must be `(N, 3)`.

For example usage, see http://www.open3d.org/docs/release/python_api/open3d.utility.Vector3dVector.html#open3d.utility.Vector3dVector

[2019-07-19 10:52] yxlao commented on #1061
`TSDFVolumeColorType` can be none, you can specify it at the `TSDFVolume` constructor. https://github.com/intel-isl/Open3D/blob/master/src/Open3D/Integration/TSDFVolume.h#L37.

Then, at integration, the input is a `RGBDImage`. We only set assign the depth image for the `RGBDImage`, leaving the color image empty.

[2019-07-19 15:02] #1078 closed

[2019-07-19 22:03] #1070 closed

[2019-07-20 20:19] Resays commented on #1072
Ok, let me explain it in details
I successfully captured 100 images with realsense camera, right?
then I successfully constructed a 3D scene using ReconstructionSystem provided in Open3D examples
and as a result, ReconstructionSystem is displaying and saved a 3D .ply file as a whole scene
so, I need to save the final color image and depth image after registration of these images as i'm receiving .